<div class="luong-thuc__danh-sach">
  <div class="bg-trang">
    <div class="bc-header">
      <div class="bc_title">
        <h3 class="text-uppercase">Dashboard hiện trạng kho tàng</h3>
      </div>
      <div class="icon_change">
        <a class="left icon-wrapper" (click)="changeLoaiHienTrang(0)" title="Hiện trạng tích lượng kho Tổng cục DTNN">
          <i class="icon htvbdh_bao-cao-thong-ke" [ngClass]="loaiHienTrang ===0? 'active': ''"></i>
        </a>
        <a class="right icon-wrapper" (click)="changeLoaiHienTrang(1)" title="Hiện trạng kho Tổng cục DTNN">
          <i class="icon htvbdh_card" [ngClass]="loaiHienTrang ===1? 'active': ''"></i>
        </a>
      </div>
    </div>
    <nz-card class="mt16 flex-card p-lr16">
      <form nzLayout="vertical" nz-form [formGroup]="formData">
        <ng-template #error let-control>
          <app-template-error #error [control]="control"></app-template-error>
        </ng-template>
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true" class="label-color-kh" nzRequired>Loại hàng hóa
              </nz-form-label>
              <nz-form-control nz-col [nzErrorTip]="error">
                <nz-select formControlName="loaiVthh" nzAllowClear nzShowSearch>
                  <nz-option *ngFor="let p of listHangHoa" [nzValue]="p.loaiVthh" [nzLabel]="p.tenLoaiVthh"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6" *ngIf="!userService.isChiCuc()">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true" class="label-color-kh">Cục
              </nz-form-label>
              <nz-form-control nz-col [nzErrorTip]="error">
                <nz-select formControlName="maCuc" [nzDisabled]="userService.isCuc()"
                  (ngModelChange)="changeCuc($event)" nzAllowClear nzShowSearch>
                  <nz-option *ngFor="let p of listCuc" [nzValue]="p.maDvi" [nzLabel]="p.tenDvi"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label [nzXs]="7">Chi cục</nz-form-label>
              <nz-form-control nz-col [nzErrorTip]="error">
                <nz-select formControlName="maChiCuc" (ngModelChange)="changeChiCuc($event)"
                  [nzDisabled]="userService.isChiCuc()" nzAllowClear nzShowSearch>
                  <nz-option *ngFor="let p of listChiCuc" [nzLabel]="p.tenDvi" [nzValue]="p.maDvi"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </nz-card>
    <div class="cangiua group-button-search">
      <button nz-button class="search__button--clear" (click)="clearFilter()"
        *ngIf="!userService.isAccessPermisson('')">
        <i class="icon  htvbdh_nhap-lai1"></i>
        Xóa điều kiện
      </button>
      <button nz-button class="search__button--search" (click)="ketXuatBaoCao()"
        *ngIf="!userService.isAccessPermisson('')">
        <i class="icon htvbdh_chuyen-xu-ly"></i>
        Kết xuất báo cáo
      </button>
    </div>
  </div>
</div>
<!-- Hiện trạng kho tàng (biểu đồ) -->
<ng-container *ngIf="loaiHienTrang === 0">
  <div class="luong-thuc__danh-sach kiem-soat-truy-cap mt-2 p-2">
    <div class="contentBor chi-tieu__body">
      <div class="contentDetail">
        <div class="main-content">
          <nz-card class="mt16 flex-card p-lr16 mg-t-10">
            <div class="header header-green-background mg-t-10">
              <div class="header-text">
                <div class="title-chi-tieu">
                  <span class="text-uppercase font-weight-bold">{{tieuDeHienTrang}}</span>
                </div>
              </div>
              <div class="right-content">
                <div>
                  <span>Đơn vị: {{this.donViTinh}}</span>
                </div>
              </div>
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col nzSpan="24">
                <ng-container *ngIf="tichLuongChart">
                  <apx-chart [series]="tichLuongChart.series" [chart]="tichLuongChart.chart"
                    [stroke]="tichLuongChart.stroke" [dataLabels]="tichLuongChart.dataLabels"
                    [plotOptions]="tichLuongChart.plotOptions" [xaxis]="tichLuongChart.xaxis"
                    [colors]="tichLuongChart.colors" [fill]="tichLuongChart.fill" [yaxis]="tichLuongChart.yaxis"
                    [legend]="tichLuongChart.legend"></apx-chart>
                </ng-container>
              </div>
            </div>
          </nz-card>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- Hiện trạng kho tổng cục -->
<ng-container *ngIf="loaiHienTrang === 1 && isShowDataTonKho">
  <div class="luong-thuc__danh-sach kiem-soat-truy-cap mt-2 p-2">
    <div class="contentBor chi-tieu__body">
      <div class="contentDetail">
        <div class="main-content">
          <nz-card class="mt16 flex-card p-lr16 mg-t-10">
            <div class="header header-green-background mg-t-10">
              <div class="header-text">
                <div class="title-chi-tieu">
                  <span class="text-uppercase font-weight-bold">{{tieuDeHienTrang}}</span>
                </div>
              </div>
              <div class="right-content">
                <div class="export-dashbroad">
                  <span class="mr-3">Đơn vị: {{this.donViTinh}}</span>
                  <a class="right icon-wrapper" (click)="downloadExcel($event)" title="Xuất file excel">
                    <i class="icon htvbdh_download2"></i>
                  </a>
                  <!--                  <span nz-button-->
                  <!--                          nz-popover-->
                  <!--                          nzPopoverTitle=""-->
                  <!--                          [nzPopoverContent]="downloadTemplate"-->
                  <!--                          nzPopoverPlacement="bottom">-->
                  <!--                    <i class="icon htvbdh_download2" title="Tải file"></i>-->
                  <!--                  </span>-->
                  <!--                  <ng-template #downloadTemplate>-->
                  <!--                    <div>-->
                  <!--                      <button nz-button (click)="downloadWord(previewName)" class="modal__button&#45;&#45;save">-->
                  <!--                        <i class="icon htvbdh_file-word"></i>-->
                  <!--                        Xuất .docx-->
                  <!--                      </button>-->
                  <!--                      <button nz-button (click)="downloadPdf(previewName)" class="modal__button&#45;&#45;save mr-1">-->
                  <!--                        <i class="icon htvbdh_file-pdf"></i>-->
                  <!--                        Xuất .pdf-->
                  <!--                      </button>-->
                  <!--                </div>-->
                  <!--                  </ng-template>-->
                </div>
              </div>
            </div>
            <nz-card class="mt-2px flex-card data-table card-border-content table-card">
              <nz-table #basicTable class="nowrap table__container-tt" [nzData]="dataTable" [nzFrontPagination]="false"
                [nzShowPagination]="false" nzBordered>
                <thead>
                  <tr>
                    <th *ngIf="!this.isChiCucSelected">{{titleTable}}</th>
                    <th>Kế hoạch</th>
                    <th>Tồn kho đầu năm</th>
                    <th>Nhập hàng trong năm</th>
                    <th>Xuất hàng trong năm</th>
                    <th>Tồn kho cuối kỳ</th>
                    <th>Còn lại cần thực hiện</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of basicTable.data">
                    <td *ngIf="!this.isChiCucSelected">{{item.tenDvi}}</td>
                    <td class="text-right">{{item.keHoach | number:globals.numberFormat:globals.locale}}</td>
                    <td class="text-right">{{item.tonDau | number:globals.numberFormat:globals.locale}}</td>
                    <td class="text-right">{{item.nhap | number:globals.numberFormat:globals.locale}}</td>
                    <td class="text-right">{{item.xuat | number:globals.numberFormat:globals.locale}}</td>
                    <td class="text-right">{{item.tonCuoi | number:globals.numberFormat:globals.locale}}</td>
                    <td class="text-right">{{item.conLai | number:globals.numberFormat:globals.locale}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr *ngIf="!this.isChiCucSelected">
                    <td class="bold text-blue">Tổng</td>
                    <td class="bold text-blue text-right">{{tongKeHoach|number:globals.numberFormat:globals.locale}}
                    </td>
                    <td class="bold text-blue text-right">{{tongTonDau|number:globals.numberFormat:globals.locale}}</td>
                    <td class="bold text-blue text-right">{{tongNhap|number:globals.numberFormat:globals.locale}}</td>
                    <td class="bold text-blue text-right">{{tongXuat|number:globals.numberFormat:globals.locale}}</td>
                    <td class="bold text-blue text-right">{{tongTonCuoi|number:globals.numberFormat:globals.locale}}
                    </td>
                    <td class="bold text-blue text-right">{{tongConLai|number:globals.numberFormat:globals.locale}}</td>
                  </tr>
                </tfoot>
              </nz-table>
            </nz-card>
            <div class="mt-2">
              <span class="bold"><span style="color: red">*</span> Ghi chú</span><br />
              <i>Cột "còn lại cần thực hiện": Nếu giá trị > 0 thì cần thực hiện nhập thêm hàng, nếu giá trị < 0 thì cần
                  thực hiện xuất hàng đi </i>
            </div>
          </nz-card>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!--modal sua noi dung-->
<nz-modal [nzWidth]="'600px'" [nzBodyStyle]="{ 'overflow-y': 'auto' }" [(nzVisible)]="showFilterTichLuong"
  (nzOnCancel)="handleCancelTichLuong()" nzTitle="Tùy chọn">
  <ng-container *nzModalContent class="modal__content custom-scroll-modal">
    <nz-table #configTable class="nowrap table-chi-tiet" nzBordered [nzFrontPagination]="false"
      [nzShowPagination]="false">
      <tbody>
        <tr>
          <td (nzExpandChange)="showTieuChi= !showTieuChi" [nzExpand]="showTieuChi" nzShowExpand="true" class="bold">
            Tiêu chí</td>
          <td></td>
        </tr>
        <ng-container *ngIf="showTieuChi">
          <tr *ngFor="let data of dataConfigTable.tieuChi">
            <td [ngClass]="data.maTieuChi === 'all'? 'bold': ''">{{data.tenTieuChi}}</td>
            <td width="45px" class="text-center">
              <label nz-checkbox [(ngModel)]="data.status"
                (ngModelChange)="handleChangeStatus($event, 'tieuChi', data.maTieuChi)"></label>
            </td>
          </tr>
        </ng-container>
        <tr>
          <td (nzExpandChange)="showTieuChi= !showTieuChi" [nzExpand]="showTieuChi" nzShowExpand="true" class="bold">
            Đơn vị</td>
          <td></td>
        </tr>
        <ng-container *ngIf="showDonVi">
          <tr *ngFor="let data of dataConfigTable.donVi; let i=index">
            <td [ngClass]="data.maTieuChi === 'all'? 'bold': ''">{{data.tenTieuChi}}</td>
            <td width="45px" class="text-center">
              <label nz-checkbox [(ngModel)]="data.status"
                (ngModelChange)="handleChangeStatus($event, 'donVi', data.maTieuChi)"></label>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="resetConfig()" class="search__button--clear">
      <i class="icon htvbdh_nhap-lai1"></i>
      Xóa điều kiện
    </button>
    <button nz-button (click)='apDungTichLuongKhoConfig()' class='modal__button--save'>
      <i class='icon htvbdh_luu'></i>
      Áp dụng
    </button>
  </div>
</nz-modal>