<ng-container *ngIf="isDataAvailable">
  <div class="" modal__content>
    <div id="tablePrint">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">

        <div nz-col [nzSpan]="4" style="display:flex;">
          <div>Đơn vị</div>
          <div style="padding-left: 5px;">
            <ng-container *ngIf="!status || !editMoneyUnit; else editMoney">
              <span (click)="editMoneyUnit=true">{{getMoneyUnit()}}</span>
            </ng-container>
            <ng-template #editMoney>
              <nz-select nzShowSearch nzPlaceHolder="Chọn đơn vị" [(ngModel)]="maDviTien"
                (ngModelChange)="editMoneyUnit=false">
                <nz-option *ngFor="let item of donViTiens" [nzValue]="item.id" [nzLabel]="item.tenDm">
                </nz-option>
              </nz-select>
            </ng-template>
          </div>
        </div>
        <div nz-col [nzSpan]="18"></div>
        <div nz-col class="gutter-row canphai phai" [nzSpan]="2" style="display:flex; justify-content: end;">
          <!-- <button type="button" class="btn btn-main" (click)="deleteAllChecked()" [hidden]="status">
            <i class="fa fa-trash-o"></i>
            <span>Xóa</span>
          </button>
          <ng-container>
            <button type="button" class="btn btn-main" (click)="selectGoods()" [hidden]="status">
              <i class="icon htvbdh_dau-cong"></i>
              <span>Thêm</span>
            </button>
          </ng-container> -->
        </div>
      </div>

      <nz-table nzBordered class="table__body" [nzScroll]="{x: scrollX}">
        <thead>
          <tr>
            <th nzWidth="50px">STT</th>
            <th nzWidth="300px">Tên đơn vị(Biên chế thực tế có mặt)</th>
            <th>Biên chế {{namBcao}} <br> được giao</th>
            <th>Biên chế có mặt</th>
            <th>Biên chế chưa <br> tuyển</th>
            <th>Tiền lương biên chế thực tế có mặt</th>
            <th>Các khoản đóng góp theo lương của biên chế thực tế</th>
            <th>Lương CBCC chưa tuyển dụng</th>
            <th>Các khoản lương khác theo chế độ</th>
            <th>Tổng nhu cầu tiền lương năm {{namBcao }} (năm kế hoạch)</th>
            <th *ngIf="!status"></th>
          </tr>
          <tr>
            <th>A</th>
            <th>B</th>
            <th>1 = 2 + 3</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8=4+5+6+7</th>
            <th *ngIf="!status"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>Tổng số</td>
            <td> {{displayValue(total.bCheNamDuocGiao)}} </td>
            <td> {{displayValue(total.bCheCoMat)}} </td>
            <td> {{displayValue(total.bCheChuaTuyen)}} </td>
            <td> {{displayValue(total.tienLuongBcheCoMat)}} </td>
            <td> {{displayValue(total.cacKhoanDongGop)}} </td>
            <td> {{displayValue(total.luongCBCC)}} </td>
            <td> {{displayValue(total.cacKhoanLuongKhac)}} </td>
            <td> {{displayValue(total.tongNcauTienLuong)}} </td>
            <td *ngIf="!status"></td>
          </tr>
          <tr *ngFor="let data of lstCtietBcao; let i = index">
            <ng-container *ngIf="!editCache[data.id].edit; else editTemplate ">
              <td class="text-center">
                {{getChiMuc(data.stt)}}
              </td>
              <td>
                {{data.tenDvi}}
              </td>
              <td> {{displayValue(data.bCheNamDuocGiao)}} </td>
              <td> {{displayValue(data.bCheCoMat)}} </td>
              <td> {{displayValue(data.bCheChuaTuyen)}} </td>
              <td> {{displayValue(data.tienLuongBcheCoMat)}} </td>
              <td> {{displayValue(data.cacKhoanDongGop)}} </td>
              <td> {{displayValue(data.luongCBCC)}} </td>
              <td> {{displayValue(data.cacKhoanLuongKhac)}} </td>
              <td> {{displayValue(data.tongNcauTienLuong)}} </td>
              <td [hidden]="status">
                <i *ngIf=" checkEdit(data.stt)" class="fa fa-pencil" (click)="startEdit(data.id)"></i>
              </td>
            </ng-container>
            <ng-template #editTemplate>
              <td class="text-center">
                {{getChiMuc(editCache[data.id].data.stt)}}
              </td>
              <td>
                {{editCache[data.id].data.tenDvi}}
              </td>
              <td>{{displayValue(editCache[data.id].data.bCheNamDuocGiao)}}</td>
              <td>
                <input class="money-input" currencyMask [(ngModel)]="editCache[data.id].data.bCheCoMat"
                  (ngModelChange)="changeModel(editCache[data.id].data.id)" [options]="amount" />
              </td>
              <td>
                <input class="money-input" currencyMask [(ngModel)]="editCache[data.id].data.bCheChuaTuyen"
                  (ngModelChange)="changeModel(editCache[data.id].data.id)" [options]="amount" />
              </td>
              <td>
                <input class="money-input" currencyMask [(ngModel)]="editCache[data.id].data.tienLuongBcheCoMat"
                  (ngModelChange)="changeModel(editCache[data.id].data.id)" [options]="amount" />
              </td>
              <td>
                <input class="money-input" currencyMask [(ngModel)]="editCache[data.id].data.cacKhoanDongGop"
                  (ngModelChange)="changeModel(editCache[data.id].data.id)" [options]="amount" />
              </td>
              <td>
                <input class="money-input" currencyMask [(ngModel)]="editCache[data.id].data.luongCBCC"
                  (ngModelChange)="changeModel(editCache[data.id].data.id)" [options]="amount" />
              </td>
              <td>
                <input class="money-input" currencyMask [(ngModel)]="editCache[data.id].data.cacKhoanLuongKhac"
                  (ngModelChange)="changeModel(editCache[data.id].data.id)" [options]="amount" />
              </td>

              <td>
                {{displayValue(editCache[data.id].data.tongNcauTienLuong)}}
              </td>
              <td *ngIf="!status">
                <a class="save" (click)="saveEdit(editCache[data.id].data.id)" style="margin-right:15px">Lưu</a>
                <a nz-popconfirm nzPopconfirmTitle="Bạn có chắc muốn hủy thao tác này?"
                  (nzOnConfirm)="cancelEdit(editCache[data.id].data.id)" class="save">Hủy</a>
              </td>
            </ng-template>
          </tr>

        </tbody>

      </nz-table>

    </div>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
      <div nz-col nzSpan="24">
        <label class="search__label">Thuyết minh</label>
        <textarea rows="2" nz-input [(ngModel)]="thuyetMinh" [disabled]="status"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="nut">
      <div class="cantrai">
        <button type="button" class="btn btn-main" [hidden]="!statusPrint" (click)="doPrint()">
          <i nz-icon nzType="printer" nzTheme="outline"></i>
          <span>In</span>
        </button>
        <button type="button" class="btn btn-main" (click)="save('5', null)" [hidden]="statusBtnFinish">
          <i nz-icon nzType="check" nzTheme="outline"></i>
          <span>Hoàn tất nhập liệu</span>
        </button>
        <button type="button" class="btn btn-main" (click)="save('4', null)" [hidden]="statusBtnFinish">
          <i class="icon htvbdh_tcdt_save"></i>
          <span>Lưu</span>
        </button>
        <button type="button" class="btn btn-main" (click)="save('1', null)" [hidden]="statusBtnOk">
          <i nz-icon nzType="check" nzTheme="outline"></i>
          <span>Chấp nhận</span>
        </button>
        <button type="button" class="btn btn-main" (click)="tuChoi('0')" [hidden]="statusBtnOk">
          <i nz-icon nzType="close" nzTheme="outline"></i>
          <span>Không chấp nhận</span>
        </button>
      </div>
      <div class="canphai">
        <button nz-button (click)="handleCancel()" class="modal__button--cancel">
          <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
          Đóng
        </button>
      </div>
    </div>
  </div>
</ng-container>