::ng-deep {
  .donvi__input {
    margin-bottom: 0px !important;
  }
  .form__thong-tin-luong-thuc {
    padding-bottom: 16px;
  }
}
.canphai {
  button.btn.btn-outline-grey {
    margin: 0px !important;
  }
}
