<!-- duongvd 230223-->
<!-- Quyet dinh phuong an cuu tro, vien tro duoc xuat cap -->
<div *ngIf="!isDetail" class="luong-thuc__danh-sach">
  <div class="bg-trang">
    <nz-card class="mt16 flex-card p-lr16">
      <form [nzLayout]="'vertical'" nz-form [formGroup]="formData">
        <div nz-row [nzGutter]="[20]">
          <div nz-col nzSpan="3">
            <label> Năm kế hoạch </label>
            <nz-select formControlName="nam">
              <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="3">
            <label>Đơn vị đề xuất</label>
            <nz-select formControlName="maDviDx">
              <nz-option *ngFor="let p of dsDonvi" [nzValue]="p.maDvi" [nzLabel]="p.tenDvi"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="3">
            <label>Số quyết định</label>
            <input placeholder="Nhập nội dung" nz-input formControlName="soQd" />
          </div>
          <div nz-col nzSpan="4">
            <label>Ngày ký quyết định</label>
            <nz-range-picker formControlName="ngayKy" nzFormat="dd/MM/yyyy"></nz-range-picker>
          </div>
          <div nz-col nzSpan="4">
            <label>Thời hạn xuất viện trợ, cứu trợ</label>
            <nz-range-picker formControlName="ngayKetThucDx" nzFormat="dd/MM/yyyy"></nz-range-picker>
          </div>
        </div>
      </form>
      <div nz-col class="cangiua group-button-search">
        <div>
          <button nz-button class="search__button--clear" (click)="clearForm()">
            <i class="icon  htvbdh_nhap-lai1"></i>
            Xóa điều kiện
          </button>
          <button nz-button class="search__button--search" (click)="timKiem()">
            <i nz-icon nzType="search"></i>
            Tìm kiếm
          </button>
        </div>
      </div>
    </nz-card>
    <div class="group-button">
      <h3 class="text-uppercase">Danh sách phương án xuất cứu trợ, viện trợ gạo được duyệt chuyển sang xuất cấp</h3>
      <div class="buttons">
        <button type="button" class="btn btn-sub" (click)="exportData()">
          <!--                *ngIf="userService.isAccessPermisson('XHDTQG_XCTVTXC_XC_XDPA_EXP')"-->
          <i class="icon htvbdh_chuyen-xu-ly"></i>
          <span>Xuất file</span>
        </button>
      </div>
    </div>


    <nz-card class="mt-2px flex-card data-table card-border-content table-card">
      <nz-table #basicTable class="nowrap table__container-tt" [nzData]="dataTable" [nzFrontPagination]="false"
        [nzShowPagination]="false" nzBordered>
        <thead>
          <tr>
            <th width="60px" class="text-center">STT</th>
            <th width="">Số quyết định</th>
            <th width="">Ngày ký quyết định</th>
            <th width="">Số công văn/tờ trình</th>
            <th width="">Ngày đề xuất</th>
            <th width="">Loại hàng hoá</th>
            <th width="">Tổng SL gạo xuất cứu trợ, viện trợ theo QĐ (kg)</th>
            <th width="">SL gạo chuyển sang xuất cấp (kg)</th>
            <th width="">Trích yếu</th>
            <th width="">Trạng thái quyết định</th>
            <th width="90px">Hành động</th>
          </tr>
          <tr class="search-table">
            <th></th>
            <th>
              <nz-input-group>
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soQd"
                  (input)="filterInTable('soQd',filterTable.soQd)" size="small" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group>
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.ngayKy"
                  (input)="filterInTable('ngayKy',filterTable.ngayKy)" size="small" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group>
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soDx"
                  (input)="filterInTable('soDx',filterTable.soDx)" size="small" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group>
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.ngayDx"
                  (input)="filterDateInTable('ngayDx',filterTable.ngayDx)" size="small" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group>
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tenLoaiVthh"
                  (input)="filterDateInTable('tenLoaiVthh',filterTable.tenLoaiVthh)" size="small" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group>
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tongSoLuong"
                  (input)="filterInTable('tongSoLuong',filterTable.tongSoLuong)" size="small" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group>
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soLuongXuaCap"
                  (input)="filterInTable('soLuongXuaCap',filterTable.soLuongXuaCap)" size="small" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group>
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.trichYeu"
                  (input)="filterInTable('trichYeu',filterTable.trichYeu)" size="small" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group>
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tenTrangThai"
                  (input)="filterInTable('tenTrangThai',filterTable.tenTrangThai)" size="small" />
              </nz-input-group>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let i = index">
            <td class="text-center">{{(page - 1) * pageSize + i + 1}}</td>
            <td>{{ data.soQd }}</td>
            <td>{{ data.ngayKy }}</td>
            <td>{{ data.soDx}}</td>
            <td>{{ data.ngayDx | date: 'dd/MM/YYYY' }}</td>
            <td>{{ data.tenLoaiVthh }}</td>
            <td>{{ data.tongSoLuong|number: '1.0-1' }}</td>
            <td>{{ data.soLuongXuaCap|number: '1.0-1' }}</td>
            <td>{{ data.trichYeu }}</td>
            <td>{{ data.tenTrangThai }}</td>
            <td class="text-left">
              <a (click)="redirectDetail(data.id, true)">
                <i class="fa fa-eye" title="Xem chi tiết"></i>
              </a>
              <a *ngIf="!data.idXc" (click)="taoQuyetDinh(data)">
                <i class="icon htvbdh_soanthao"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div class="tab-content tab-menu" id="myTabContent">
        <div class="tab-pane fade show active justify-content-between">
          <div class="trai">
          </div>
          <div class="canphai">
            <!-- begin phân trang  -->
            <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord" nzShowSizeChanger
              [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="changePageIndex($event)"
              (nzPageSizeChange)="changePageSize($event)">
              <ng-template #rangeTemplate let-range="range" let-total>
                {{ range[0] }}-{{ range[1] }} trên tổng số {{ total }} bản ghi
              </ng-template>
            </nz-pagination>
            <!-- end phân trang -->
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</div>
<!--
<div class="chi-tiet" *ngIf="isDetail">
  <app-thong-tin-quyet-dinh-phuong-an [idInput]="selectedId" [isView]="isView" (showListEvent)="showList()">
  </app-thong-tin-quyet-dinh-phuong-an>
</div>
-->

<div class="chi-tiet" *ngIf="isDetail">
  <app-thong-tin-quyet-dinh-phe-duyet-phuong-an [idSelected]="selectedId" [isView]="isView" [dataInit]="dataInit"
    (showListEvent)="showList()">
  </app-thong-tin-quyet-dinh-phe-duyet-phuong-an>
</div>