.left-menu {
  ul {
    //min-height: 600px;
  }

  ul:has(li):has(ul) {
    //background-color: #4E5484;
  }

  ul > li {
    //padding-left: 25px;
  }

  ul > li > span:nth-child(2) {
    width: 95%;
    white-space: normal;
    float: left;
    /* word-wrap: break-word; */
    height: auto;
    line-height: normal;
  }
  .ant-menu-inline .ant-menu-item{
    padding-left: 25px;
    height: 45px;
  }
}
