<nz-affix [nzOffsetTop]="98" class="level2">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzSelected (click)="selectTab(0)">
      Thông tin đấu giá
    </li>
    <li nz-menu-item (click)="selectTab(1)">
      Quyết định phê duyệt kết quả bán đấu giá
    </li>
    <li nz-menu-item (click)="selectTab(2)">
      Hợp đồng
    </li>
  </ul>
</nz-affix>
<ng-container *ngIf="tabSelected == 0">
  <app-thong-tin-dau-gia-thanh-ly></app-thong-tin-dau-gia-thanh-ly>
</ng-container>
<ng-container *ngIf="tabSelected == 1">
  <app-quyet-dinh-phe-duyet-kq-bdg-thanh-ly></app-quyet-dinh-phe-duyet-kq-bdg-thanh-ly>
</ng-container>
<ng-container *ngIf="tabSelected == 2">
  <app-hop-dong-thanh-ly></app-hop-dong-thanh-ly>
</ng-container>
