<form nz-form [formGroup]="formData" (ngSubmit)="save()" class="form__dm-dung-chung">
  <div nz-row [nzGutter]="[16, 24]">
    <div nz-col [nzSpan]="24" >
      <nz-form-item >
        <nz-form-label [nzNoColon]="true" nzRequired > Vùng dữ liệu </nz-form-label>
        <nz-select formControlName="loai" [nzDisabled]="isView">
          <nz-option *ngFor="let p of danhMucList" [nzValue]="p.ma" [nzLabel]="p.giaTri" ></nz-option>
        </nz-select>
        <span style="color: red" role="alert" *ngIf=" formData.controls.loai?.errors?.required && submited">Vui lòng không để trống</span>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" nzRequired > Mã </nz-form-label>
        <input nz-input formControlName="ma" placeholder="Nhập mã"  [readOnly]="isView" >
        <span style="color: red" role="alert" *ngIf=" formData.controls.ma?.errors?.required && submited">Vui lòng không để trống</span>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzNoColon]="true"  nzRequired> Trạng thái </nz-form-label>
        <nz-select formControlName="trangThai" [nzDisabled]="isView"  >
          <nz-option nzValue="01" nzLabel="Hoạt động" ></nz-option>
          <nz-option nzValue="00" nzLabel="Không hoạt động" ></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" nzRequired > Giá trị </nz-form-label>
        <input nz-input formControlName="giaTri" placeholder="Nhập giá trị" [disabled]="isView" [readOnly]="isView">
        <span style="color: red" role="alert" *ngIf=" formData.controls.giaTri?.errors?.required && submited">Vui lòng không để trống</span>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzNoColon]="true"> Mô tả </nz-form-label>
        <textarea rows="3" class="search__input" nz-input formControlName="ghiChu" [readOnly]="isView"></textarea>
      </nz-form-item>
      <ng-template #error let-control>
        <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}</ng-container>
      </ng-template>
    </div>

  </div>

</form>
<div class="modal-footer">
  <div class="nut">
    <div class="cantrai">
    </div>
    <div class="canphai">
      <button class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="handleCancel()">
        <i aria-hidden="true" class="fa fa-sign-out"></i>
        Hủy
      </button>
      <button class="btn btn-outline-grey btn-sm waves-effect waves-light active" (click)="save() ">
        <i aria-hidden="true" class="fa fa-save"></i>
        Lưu
      </button>
    </div>
  </div>
</div>


