.canphai {
  button.btn.btn-outline-grey {
    margin: 0px !important;
  }

  .themdmdungchung {
    .ant-form .ant-row {
      margin: 0 !important;
    }

    .ant-modal-body {
      padding: 0px 28px 5px 28px;
    }
  }

}