.check-box {
    margin-bottom: 12px;
    margin-top: 12px;
}

.tep__sqd {
    cursor: pointer;
    // position: absolute;
    top: 4px;
    height: 15px;
    left: 695px;
    color: #2196f3;

    span {
        margin-left: 5px;
    }
}