.tab__luong-thuc {
  position: relative;
  .btn-them {
    position: absolute;
    top: 0;
    right: 150px;
  }
  .btn-export {
    position: absolute;
    top: 0;
    right: 60px;
  }
  .btn-in {
    position: absolute;
    top: 0;
    right: 0;
  }
}
