.demo-inline-calendar-card {
    width: 390px;

    ::ng-deep .mat-calendar-body-cell-content {
        font-size: 14px !important;
        font-weight: 600 !important;
    }

    ::ng-deep .mat-calendar-body-selected {
        background-color:#0957DE;
        color: #fff;
    }
}

.iom-container {
    display: flex;
    padding: 20px;

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #9AA0A5;
    }

    b {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #34404B;
    }
}

::ng-deep mat-card.mat-card.mat-focus-indicator.demo-inline-calendar-card {
    border: 1px solid #fff !important;
}

.date-option {
    display: flex;
    flex-direction: column;

    mat-list-option {
        font-weight: 500;
        font-size: 1rem;
        line-height: 20px;
    }

    .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
        height: 52px !important;
    }
}

.date-button {
    display: flex;
    flex-direction: row;
    margin-top: 140px;
    gap: 15px;
}

ul li {
    list-style: none;
    margin-bottom: 25px;
}

.date-option {
    margin-top: 20px;

    button {
        min-width: 96px;
        min-height: 48px;
    }

    .mat-slim {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
    }

    .cancel {
        border: 1px solid #9aa0a5;
        background-color: #9aa0a5 !important;
        color: #fff;
        border-radius: 12px;
        &:hover,
        &:focus {
            background-color: #9aa0a5 !important;
        }
    }
}

mat-list-option.mat-list-item.mat-list-option.mat-focus-indicator.mat-accent {
    border-radius: 14px;
}

mat-list-option.mat-list-item.mat-list-option.mat-focus-indicator.mat-accent.mat-list-single-selected-option {
    background-color: #0957de;
    color: #fff;
}

::ng-deep.mat-calendar-body-inite {
    background-color: #0957de !important;
    color: #fff;
}

::ng-deep.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: #0957de !important;
    color: #fff !important;
}

::ng-deep.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: #0957de !important;
}
::ng-deep.mat-calendar-body-label {
    color: white;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

::ng-deep.gray-date {
    background: #8F9BB3 !important;
    border-radius: 100% !important;
    color: white;
    .mat-calendar-body-cell-content, .mat-date-range-input-separator[_ngcontent-bdj-c397] {
        color: white ;
    }
}
::ng-deep.range-date {
    background: #EAEEF4 !important;
    border-radius: 100% !important;
    color: white;
}

::ng-deep.mat-calendar-body-disabled>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    color: #8F9BB3 !important;
}
::ng-deep.mat-calendar-body-cell-content, .mat-date-range-input-separator {
    color: #8F9BB3;
}
::ng-deep.mat-calendar-body-selected {
    color: white;
}
