::ng-deep {
    .hh__container {
        .ant-card-body {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    }

    .title-form-chi-tiet {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        color: #000000;
    }

    .bg-gray {
        background: #d9d9d9 !important;
    }

    .last-row-sum {
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        border-bottom: 1px solid #eaeaea;
        border-left: 1px solid #eaeaea;
    }

    .boder-right-1 {
        border-right: 1px solid #eaeaea;
    }

    .summary-table-data {
        margin-top: 16px !important;

        .text-money {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text-specical-money {
            justify-content: left;
            padding-left: 16px;
        }
    }

    .text-summary {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #000000;
    }

    .text-money {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        color: #444444;
    }

    .comment-last {
        margin-top: 16px !important;
        margin-bottom: 60px !important;

        .file-dinh-kem {
            width: auto;
            color: #2196f3;
        }
    }

    .list-file {
        width: 100%;
    }

    .title-form-chi-tiet {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        color: #000000;
    }

    .ban-dau-gia {
        .main-content {
            // height: calc(100vh - 283px);

            .ant-table {
                border-bottom: 1px solid;
            }
        }
    }
}