.check-box {
  margin-bottom: 12px;
  margin-top: 12px;
}


::ng-deep {
  .chi-tieu__body {
    .flex-card.ant-card {
      border: 1px solid #ececec !important;
      background: transparent;
      box-shadow: unset;
      margin-bottom: 0px !important;
      margin-top: 11px !important;
      border-radius: 6px;
    }
    .table__body {
      margin: 12px 0px 0px 0px !important;
      overflow: scroll;
    }
    .tab__container {
      margin-top: 12px;
    }
    .ghi-chu {
      .ant-form-item-no-colon {
        margin-bottom: 0px !important;
      }
      ul {
        padding-left: 25px !important;
      }
      .ghi-chu__item {
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 200%;
      }
    }
    tr.table__header-vat-tu.ant-table-row > td {
      background: #f1f1f1;
    }
    .tab__container {
      position: relative;
    }
    .action {
      position: absolute;
      right: 25px;
      top: 0;
    }
  }
  .star {
    color: #ff4d4f;
  }
  .input-so-qd {
    width: calc(100% - 70px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .code-so-qd {
    width: 70px;
    background: #f8f9fa;
    border: 1px solid #c4c9cc;
    border-left: none;
    font-size: 12px;
    height: 24px;
    float: right;
    line-height: 24px;
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .tep {
    cursor: pointer;
    position: absolute;
    top: 4px;
    height: 15px;
    left: 695px;
    color: #2196f3;
    span {
      margin-left: 5px;
    }
  }
}
.save {
  margin-right: 8px;
}
