.label-50 {
  .ant-form-item-label.ant-col {
    text-align: left;
    width: 50%;
    height: 30px;
  }

  .ant-picker,
  input {
    border: none;
    background: transparent;
    font-weight: 700;
  }

  .ant-input-number {
    width: 100% !important;
    border: none;
    background: transparent;
    color: #444444;
    font-weight: 700;
  }
}

.border-right {
  border-right: solid 1px #e2e2e2;
}

.bg-selected td {
  background-color: #d8dcfe;
}

::ng-deep {
  .blue-bold input {
    color: blue;
    font-weight: bold;
  }

  .black-bold input {
    color: black;
    font-weight: bold;
  }

  .red-bold input {
    color: red;
    font-weight: bold;
  }
}
