<ng-container *ngIf="!isEditHopDong; else tempHopDong">
  <nz-affix [nzOffsetTop]="globals.prop.MENU_LV1" class="btn-affix">
    <div class="btn-group">
      <button type="button" class="btn btn-sub" (click)="goBack()">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>
      <button *ngIf="formData.value.trangThaiHd != STATUS.DA_HOAN_THANH && !isDieuChinh
            && (loaiVthh.startsWith(LOAI_HANG_DTQG.VAT_TU) ? userService.isAccessPermisson('XHDTQG_PTTT_HDBKPB_VT_HDPL_THEM') : userService.isAccessPermisson('XHDTQG_PTTT_HDBKPB_LT_HDPL_THEM'))"
              type="button"
              class="btn btn-sub xanh-nhat" (click)="pheDuyet()">
        <i class="icon htvbdh_checkfile2"></i>
        <span>Hoàn thành thực hiện</span>
      </button>
    </div>
  </nz-affix>
  <div class="bg-trang">
    <div class="header header-green-background">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span [ngClass]="formData.value.trangThaiHd == STATUS.DA_HOAN_THANH ? 'status-xanh' : 'status-do'">
            {{ formData.value.tenTrangThaiHd }}
          </span>
          <span> QUẢN LÝ HỢP/PHỤ LỤC HỢP ĐỒNG </span>
        </div>
      </div>
    </div>
    <nz-card class="mg-t-16 flex-card p-lr16">
      <div class="header header-green-background mg-t-16">
        <div class="header-text">
          <div class="title-chi-tieu">
            <span></span>
            <span> THÔNG TIN CHUNG </span>
          </div>
        </div>
      </div>
      <form nzLayout="horizontal" [formGroup]="formData" nz-form>
        <div nz-row [nzGutter]="24" *ngIf="formData.value.phuongThucBan === TRUC_TIEP.CHAO_GIA">
          <div nz-col [nzSpan]="8">
            <div nz-row [nzGutter]="24" class="label-50 mg-t-10 border-right">
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Năm kế hoạch</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.namKh">
                        <input nz-input formControlName="namKh" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Số QĐ PD/ĐC KH bán trực tiếp</nz-form-label>
                  <nz-form-control>
                    <span *ngIf="!this.formData.value.soQdDc">
                      <input nz-input formControlName="soQdPd" readonly/>
                    </span>
                    <span *ngIf="this.formData.value.soQdDc">
                      <input nz-input formControlName="soQdDc" readonly/>
                    </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Số QĐ phê duyệt KQ chào giá</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.soQdKq">
                        <input nz-input formControlName="soQdKq" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Đơn vị thực hiện</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tenDvi">
                        <input nz-input formControlName="tenDvi" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="8">
            <div nz-row [nzGutter]="24" class="label-50 mg-t-10 border-right">
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Thành tiền</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tongGiaTriHdong">
                        <input nz-input class="text-blue bold"
                               [value]="(formData.value.tongGiaTriHdong | number:globals.numberFormat:globals.locale) + ' (đ)'"
                               readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Tổng số lượng xuất bán TT theo KH</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tongSlXuatBanQdKh">
                       <input nz-input
                              [value]="(formData.value.tongSlXuatBanQdKh | number:globals.numberFormat:globals.locale) + ' (' + formData.value.donViTinh + ')'"
                              readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Tổng số lượng xuất bán TT đã ký HĐ</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tongSlDaKyHdong">
                       <input nz-input class="text-blue bold"
                              [value]="(formData.value.tongSlDaKyHdong | number:globals.numberFormat:globals.locale) + ' (' + formData.value.donViTinh + ')'"
                              readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Tổng số lượng xuất bán TT chưa Ký HĐ</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tongSlChuaKyHdong">
                       <input nz-input class="text-red bold"
                              [value]="(formData.value.tongSlChuaKyHdong | number:globals.numberFormat:globals.locale) + ' (' + formData.value.donViTinh + ')'"
                              readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="8">
            <div nz-row [nzGutter]="24" class="label-50 mg-t-10 border-right">
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Loại hàng DTQG</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tenLoaiVthh">
                        <input class="text-blue bold" nz-input formControlName="tenLoaiVthh" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Chủng loại hàng DTQG</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tenCloaiVthh">
                        <input class="text-blue bold" nz-input formControlName="tenCloaiVthh" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Loại hình xuất</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tenLoaiHinhNx">
                        <input nz-input formControlName="tenLoaiHinhNx" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Kiểu xuất</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tenKieuNx">
                        <input nz-input formControlName="tenKieuNx" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
        <div nz-row [nzGutter]="24" *ngIf="formData.value.phuongThucBan === TRUC_TIEP.UY_QUYEN">
          <div nz-col [nzSpan]="7">
            <div nz-row [nzGutter]="24" class="label-50 mg-t-10 border-right">
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Năm kế hoạch</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.namKh">
                        <input nz-input formControlName="namKh" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Số QĐ PD/ĐC KH bán trực tiếp</nz-form-label>
                  <nz-form-control>
                    <span *ngIf="!this.formData.value.soQdDc">
                      <input nz-input formControlName="soQdPd" readonly/>
                    </span>
                    <span *ngIf="this.formData.value.soQdDc">
                      <input nz-input formControlName="soQdDc" readonly/>
                    </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Đơn vị thực hiện</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tenDviCha">
                        <input nz-input formControlName="tenDviCha" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Chi cục nhận ủy quyền</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tenDvi">
                        <input nz-input formControlName="tenDvi" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="10">
            <div nz-row [nzGutter]="24" class="label-50 mg-t-10 border-right">
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Thành tiền</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tongGiaTriHdong">
                        <input nz-input class="text-blue bold"
                               [value]="(formData.value.tongGiaTriHdong | number:globals.numberFormat:globals.locale) + ' (đ)'"
                               readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Tổng số lượng xuất bán trực tiếp theo kế hoạch</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tongSlXuatBanQdKh">
                       <input nz-input
                              [value]="(formData.value.tongSlXuatBanQdKh | number:globals.numberFormat:globals.locale) + ' (' + formData.value.donViTinh + ')'"
                              readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Số lượng xất bán TT ủy quyền Chi cục đã ký hợp đồng</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tongSlDaKyHdong">
                       <input nz-input class="text-blue bold"
                              [value]="(formData.value.tongSlDaKyHdong | number:globals.numberFormat:globals.locale) + ' (' + formData.value.donViTinh + ')'"
                              readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Số lượng xất bán TT ủy quyền Chi cục chưa ký hợp đồng
                  </nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tongSlChuaKyHdong">
                       <input nz-input class="text-red bold"
                              [value]="(formData.value.tongSlChuaKyHdong | number:globals.numberFormat:globals.locale) + ' (' + formData.value.donViTinh + ')'"
                              readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="7">
            <div nz-row [nzGutter]="24" class="label-50 mg-t-10 border-right">
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Loại hàng DTQG</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tenLoaiVthh">
                        <input class="text-blue bold" nz-input formControlName="tenLoaiVthh" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Chủng loại hàng DTQG</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tenCloaiVthh">
                        <input class="text-blue bold" nz-input formControlName="tenCloaiVthh" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Loại hình xuất</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tenLoaiHinhNx">
                        <input nz-input formControlName="tenLoaiHinhNx" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Kiểu xuất</nz-form-label>
                  <nz-form-control>
                      <span *ngIf="formData.value.tenKieuNx">
                        <input nz-input formControlName="tenKieuNx" readonly/>
                      </span>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
      </form>
    </nz-card>
    <nz-card class="mg-t-16 flex-card p-lr16 bg-xam">
      <div class="header header-green-background mg-t-16">
        <div class="header-text">
          <div class="title-chi-tieu">
            <span></span>
            <span> DANH SÁCH HỢP ĐỒNG CẦN KÝ </span>
          </div>
        </div>
        <div class="buttons" *ngIf="formData.value.trangThaiHd != STATUS.DA_HOAN_THANH && !isDieuChinh
        && (loaiVthh.startsWith(LOAI_HANG_DTQG.VAT_TU) ? userService.isAccessPermisson('XHDTQG_PTTT_HDBKPB_VT_HDPL_THEM') :
            userService.isAccessPermisson('XHDTQG_PTTT_HDBKPB_LT_HDPL_THEM'))">
          <button type="button" class="btn btn-main"
                  (click)="redirectHopDong(0,false, true)">
            <i class="icon htvbdh_dau-cong"></i>
            <span>Thêm</span>
          </button>
        </div>
      </div>
      <nz-card class="flex-card p-lr16 card-table">
        <nz-table [nzData]="dataTable" class="nowrap pd-10" nzBordered [nzFrontPagination]="false"
                  [nzShowPagination]="false">
          <thead>
          <tr>
            <th class="text-center wrap" nzWidth="50px "> STT</th>
            <th class="text-left"> Số hợp đồng</th>
            <th class="text-left"> Tên hợp đồng</th>
            <th class="text-left"> Ngày ký hợp đồng</th>
            <th class="text-left"> Đơn vị cung cấp được chọn</th>
            <th class="text-center"> Số lượng
              {{loaiVthh.startsWith(LOAI_HANG_DTQG.VAT_TU) ? '' : '(kg)'}}
            </th>
            <th class="text-center" *ngIf="userService.isChiCuc()"> Đơn giá</th>
            <th class="text-center"> Thành tiền không VAT (đ)</th>
            <th class="text-left"> Trạng thái HĐ</th>
            <th class="text-left"> Số QĐ giao NV XH</th>
            <th class="text-left"> Trạng thái XH</th>
            <th class="text-center wrap" nzWidth="100px" *ngIf="!isDieuChinh"> Hành động</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let data of dataTable;let i = index">
            <tr [ngClass]="{'bg-selected': data.selected}" (click)="selectRow(data)">
              <td class="text-center">{{ i + 1}}</td>
              <td class="text-left">{{data.soHopDong}}</td>
              <td class="text-left">{{data.tenHopDong}}</td>
              <td class="text-left">{{data.ngayKyHopDong|date: 'dd/MM/yyyy' }}</td>
              <td class="text-left">{{data.tenBenMua }}</td>
              <td class="text-right">{{data.soLuong|number:globals.numberFormat:globals.locale }}</td>
              <td class="text-right" *ngIf="userService.isChiCuc()">
                {{data.donGia|number:globals.numberFormat:globals.locale }}
              </td>
              <td class="text-right">{{data.thanhTien|number:globals.numberFormat:globals.locale }}</td>
              <td class="text-left">{{data.tenTrangThai}}</td>
              <td class="text-left">
                <a *ngIf="data.soQdNv && data.idQdNv" (click)="openModal(data.idQdNv)"
                   style="color: blue">{{ data.soQdNv }}
                </a>
              </td>
              <td class="text-left">{{data.tenTrangThaiXh}}</td>
              <td class="text-center" *ngIf="!isDieuChinh">
                <a *ngIf="data.id > 0"
                   (click)="xemTruoc(data.id)">
                  <i class="icon htvbdh_tcdt_tuchoi" title="Xem trước"></i>
                </a>
                <a *ngIf="data.trangThai == STATUS.DA_KY"
                   (click)="redirectHopDong(data.id, true, true) ">
                  <i class="fa fa-eye" title="Xem chi tiết"></i>
                </a>
                <a *ngIf="data.trangThai == STATUS.DU_THAO && !userService.isTongCuc()"
                   (click)="redirectHopDong(data.id, false, true) ">
                  <i class="fa fa-pencil" title="Sửa"></i>
                </a>
                <a *ngIf="data.trangThai == STATUS.DU_THAO && !userService.isTongCuc()"
                   (click)="deleteHd(data)">
                  <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
                </a>
              </td>
            </tr>
          </ng-container>
          </tbody>
          <ng-container *ngIf="dataTable.length > 0">
            <tfoot>
            <tr>
              <th colspan="5" class="text-right bold text-blue"> Tổng</th>
              <th class="text-right bold text-blue">
                {{ calcTong('soLuong')|number:globals.numberFormat:globals.locale }}
              </th>
              <th *ngIf="userService.isChiCuc()"></th>
              <th class="text-right bold text-blue">
                {{ calcTong('thanhTien')|number:globals.numberFormat:globals.locale }}
              </th>
              <th></th>
              <th></th>
              <th></th>
              <th *ngIf="!isDieuChinh"></th>
            </tr>
            </tfoot>
          </ng-container>
        </nz-table>
      </nz-card>
      <app-thong-tin-hop-dong-btt *ngIf="idHopDong && isHopDong" [idInput]="idInput" [loaiVthh]="loaiVthh"
                                  [idHopDong]="idHopDong"
                                  [isQuanLy]="true" [isView]="true">
      </app-thong-tin-hop-dong-btt>
    </nz-card>
  </div>
</ng-container>
<ng-template #tempHopDong>
  <app-thong-tin-hop-dong-btt [idInput]="idInput" [idHopDong]="idHopDong" [loaiVthh]="loaiVthh" [isView]="isView"
                              (showListEvent)="redirectHopDong(0, true, false)">
  </app-thong-tin-hop-dong-btt>
</ng-template>
<nz-modal [nzWidth]="'75%'" [nzClosable]="false" [(nzVisible)]="showDlgPreview" nzWidth="100%"
          (nzOnCancel)="closeDlg()">
  <div *nzModalContent class="modal__content">
    <pdf-viewer [src]="pdfSrc" [render-text]="true" style="width: 100%; height: 600px;"></pdf-viewer>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="printPreview()"
            class="modal__button--save">
      <i class="icon htvbdh_printer"></i>
      In
    </button>
    <button nz-button
            (click)="downloadPdf(this.userService.isChiCuc() ? 'Hợp đồng bán trực tiếp cấp Chi cục.docx' : 'Hợp đồng bán trực tiếp cấp Cục.docx')"
            class="modal__button--save">
      <i class="icon htvbdh_file-pdf"></i>
      Xuất .pdf
    </button>
    <button nz-button
            (click)="downloadWord(this.userService.isChiCuc() ? 'Hợp đồng bán trực tiếp cấp Chi cục.docx' : 'Hợp đồng bán trực tiếp cấp Cục.docx')"
            class="modal__button--save">
      <i class="icon htvbdh_file-word"></i>
      Xuất .docx
    </button>
    <button nz-button (click)="closeDlg()" class="modal__button--cancel">
      <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
      Đóng
    </button>
  </div>
</nz-modal>
