.label-50 {
  .ant-form-item-label.ant-col {
    text-align: left;
    width: 50%;
  }

  .ant-picker,
  input {
    border: none;
    background: transparent;
    font-weight: 700;
  }

  .ant-input-number {
    width: 100% !important;
    border: none;
    background: transparent;
    color: #444444;
    font-weight: 700;
  }
}


