.text-green {
    color: #8BC34C;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
}

.table-icon {
    border: solid 1px #e4e4e4;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fefefe !important;
    margin: 0 2px;
}

.bg-selected td {
  background-color: #ebedff;
}
