<nz-tabset nzType="card" class="mt-16 tab-level-1">
    <nz-tab [nzTitle]="title_thoc">
        <ng-template #title_thoc>
            Thóc
            (<span class="number-title-tab">3</span>)
        </ng-template>
        <ng-template nz-tab>
            <app-danh-sach-hop-dong typeVthh="thoc"></app-danh-sach-hop-dong>
        </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="title_gao">
        <ng-template #title_gao>
            Gạo
            (<span class="number-title-tab">3</span>)
        </ng-template>
        <ng-template nz-tab>
            <app-danh-sach-hop-dong typeVthh="gao"></app-danh-sach-hop-dong>
        </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="title_muoi">
        <ng-template #title_muoi>
            Muối
            (<span class="number-title-tab">4</span>)
        </ng-template>
        <ng-template nz-tab>
            <app-danh-sach-hop-dong typeVthh="muoi"></app-danh-sach-hop-dong>
        </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="title_vat_tu">
        <ng-template #title_vat_tu>
            Vật tư, thiết bị
            (<span class="number-title-tab">4</span>)
        </ng-template>
        <ng-template nz-tab>
            <app-danh-sach-hop-dong typeVthh="vat-tu"></app-danh-sach-hop-dong>
        </ng-template>
    </nz-tab>
</nz-tabset>