<nz-affix [nzOffsetTop]="globals.prop.MENU_LV2" class="btn-affix">
  <div class="btn-group">
    <button type="button" class="btn btn-sub" (click)="quayLai()">
      <i class="fa fa-arrow-left"></i>
      <span>Quay lại</span>
    </button>
    <button *ngIf="formData.value.trangThai == '00' && !isView" type="button" class="btn btn-sub" (click)="save(true)">
      <i class="icon htvbdh_chuyenvanthu"></i>
      <span>Ban hành</span>
    </button>
    <button *ngIf="formData.value.trangThai == '00'  && !isView" type="button" class="btn btn-sub xanh"
      (click)="save(false)">
      <i class="icon htvbdh_luu"></i>
      <span>Lưu</span>
    </button>
  </div>
</nz-affix>
<div class="bg-trang" *ngIf="loaiVthh=='LT'">
  <nz-card class="mt16 flex-card p-lr16">
    <div class="header">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span [ngClass]="formData.value.trangThai == '00' ? 'du-thao-va-lanh-dao-duyet' : 'da-ban-hanh'">
            {{ formData.value.trangThai == '00' ? 'Dự Thảo' : 'Ban Hành' }}
          </span>
          <span>QUYẾT ĐỊNH ĐIỀU CHỈNH GIÁ CỦA TCDTNN</span>
        </div>
      </div>
    </div>
    <form nzLayout="vertical" nz-form [formGroup]="formData">
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="3">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Năm kế hoạch
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-select [disabled]="isView" formControlName="namKeHoach" [nzDisabled]="isView" nzAllowClear="true">
                <nz-option *ngFor="let p of dsNam" [nzValue]="p.value" [nzLabel]="p.text">
                </nz-option>
              </nz-select>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="5">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Số quyết định
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group nzAddOnAfter="{{maQd}}">
                <nz-input-number [nzDisabled]="isView" type="text" nz-input formControlName="soQd" [nzMin]="1"
                  [nzMax]="9999999" [nzStep]="1" [nzSize]="'small'">
                </nz-input-number>
              </nz-input-group>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="5">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" [nzNoColon]="true">Số tờ trình đề xuất
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group nzAddOnAfterIcon="folder-open" (click)="chonSoToTrinh('STT')">
                <input nz-input formControlName="soToTrinhDx" [readonly]="true" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="5">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Số quyết định giá của TCDTNN
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group nzAddOnAfterIcon="folder-open" (click)="chonSoToTrinh('SQD')">
                <input nz-input formControlName="soQdgTcdtnn" [readonly]="true" />
              </nz-input-group>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="3">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Ngày ký
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-date-picker [nzDisabled]="isView" formControlName="ngayKy" nzFormat="dd/MM/yyyy">
              </nz-date-picker>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="3">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Ngày hiệu lực
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-date-picker [nzDisabled]="isView" formControlName="ngayHieuLuc" nzFormat="dd/MM/yyyy">
              </nz-date-picker>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Trích yếu
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <textarea [readOnly]="isView" formControlName="trichYeu" rows="3" nz-input></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">
              Tài liệu đính kèm
            </nz-form-label>
            <div class="list-file">
              <file-list [data]="fileDinhKem"></file-list>
            </div>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Loại hàng hóa
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <input nz-input formControlName="tenLoaiVthh" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Chủng loại hàng hóa
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <input nz-input formControlName="tenCloaiVthh" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Loại giá
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <input nz-input formControlName="tenLoaiGia" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Tiêu chuẩn chất lượng
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <input nz-input formControlName="tchuanCluong" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <div class="group-button">
    <h3>Thông tin giá</h3>
  </div>
  <nz-card class="mt-2px flex-card data-table card-border-content table-card">
    <nz-table [nzData]="listThongTinGia" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>
          <th class="text-center" style="width: 3%;">STT</th>
          <th style="width: 15%;">Đơn vị</th>
          <th style="width: 6%;">Số lượng</th>
          <th style="width: 15%;">Giá tối đa/tối thiểu chưa VAT của BTC</th>
          <th style="width: 15%;">Giá tối đa/tối thiểu gồm VAT của BTC</th>
          <th style="width: 15%;">Đơn giá chưa VAT(đồng/kg)</th>
          <th style="width: 15%;">Đơn giá gồm VAT(đồng/kg)</th>
          <th style="width: 4%;" *ngIf="!isView">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listThongTinGia; let idx = index">
          <td class="text-center">{{ idx + 1 }}</td>
          <td>{{ data.tenDvi }}</td>
          <td>{{ data.soLuong }}</td>
          <td>{{ data.giaDn }}</td>
          <td>{{ data.giaDnVat }}</td>
          <td>
            <nz-input-group>
              <nz-input-number nz-input [ngModelOptions]="{standalone: true}" [disabled]="isView"
                [(ngModel)]="listThongTinGia[idx].giaQd" [nzMin]="0" [nzFormatter]="globals.formatter"
                [nzParser]="globals.parser" (nzBlur)="calculateVAT(idx,0)">
              </nz-input-number>
            </nz-input-group>
          </td>
          <td>
            <nz-input-group>
              <nz-input-number nz-input [ngModelOptions]="{standalone: true}" [disabled]="isView"
                [(ngModel)]="listThongTinGia[idx].giaQdVat" [nzMin]="0" [nzFormatter]="globals.formatter"
                [nzParser]="globals.parser" (nzBlur)="calculateVAT(idx,1)">
              </nz-input-number>
            </nz-input-group>
          </td>
          <td *ngIf="!isView" style="text-align: left; white-space: nowrap;">
            <!--  <a>
              <i class="fa fa-pencil" (click)="startEdit(data.id)"></i>
            </a>-->
            <a>
              <i class="fa fa-trash-o do" (click)="deleteItem(idx)"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>
<div class="bg-trang" *ngIf="loaiVthh=='VT'">
  <nz-card class="mt16 flex-card p-lr16">
    <div class="header">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span [ngClass]="formData.value.trangThai == '00' ? 'du-thao-va-lanh-dao-duyet' : 'da-ban-hanh'">
            {{ formData.value.trangThai == '00' ? 'Dự Thảo' : 'Ban Hành' }}
          </span>
          <span>QUYẾT ĐỊNH ĐIỀU CHỈNH GIÁ CỦA TCDTNN</span>
        </div>
      </div>
    </div>
    <form nzLayout="vertical" nz-form [formGroup]="formData">
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="3">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Năm kế hoạch
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-select [disabled]="isView" formControlName="namKeHoach" [nzDisabled]="isView" nzAllowClear="true">
                <nz-option *ngFor="let p of dsNam" [nzValue]="p.value" [nzLabel]="p.text">
                </nz-option>
              </nz-select>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="5">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Số quyết định
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group nzAddOnAfter="{{maQd}}">
                <nz-input-number [nzDisabled]="isView" type="text" nz-input formControlName="soQd" [nzMin]="1"
                  [nzMax]="9999999" [nzStep]="1" [nzSize]="'small'">
                </nz-input-number>
              </nz-input-group>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Ngày ký
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-date-picker [nzDisabled]="isView" formControlName="ngayKy" nzFormat="dd/MM/yyyy">
              </nz-date-picker>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Ngày hiệu lực
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-date-picker [nzDisabled]="isView" formControlName="ngayHieuLuc" nzFormat="dd/MM/yyyy">
              </nz-date-picker>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Số quyết định giá của TCDTNN
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group nzAddOnAfterIcon="folder-open" (click)="chonSoToTrinh('SQD')">
                <input nz-input formControlName="soQdgTcdtnn" [readonly]="true" />
              </nz-input-group>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="5">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" [nzNoColon]="true">Số đề xuất
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group>
                <input nz-input formControlName="soToTrinhDx" [readonly]="true" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" nzFor="loai-gia">Loại giá
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-select formControlName="loaiGia" [nzDisabled]="true" nzAllowClear="true">
                <nz-option *ngFor="let p of dsLoaiGia" [nzValue]="p.ma" [nzLabel]="p.giaTri">
                </nz-option>
                <ng-template #error let-control>
                  <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                  </ng-container>
                </ng-template>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" nzFor="nam-qd">Loại hàng hóa
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-select formControlName="loaiVthh" [nzDisabled]="true" nzAllowClear="true">
                <nz-option *ngFor="let p of dsVthh" [nzValue]="p.ma" [nzLabel]="p.ten">
                </nz-option>
                <ng-template #error let-control>
                  <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                  </ng-container>
                </ng-template>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="24">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Trích yếu
            </nz-form-label>
            <nz-form-control>
              <textarea [readOnly]="isView" formControlName="trichYeu" rows="3" nz-input></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">
              Tài liệu đính kèm
            </nz-form-label>
            <div class="list-file">
              <file-list [data]="fileDinhKem"></file-list>
            </div>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <div class="group-button">
    <h3>Thông tin giá</h3>
  </div>
  <nz-card class="mt-2px flex-card data-table card-border-content table-card">
    <nz-table [nzData]="listThongTinGia" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>
          <th class="text-center" style="width: 3%;">STT</th>
          <th style="width: 15%;">Chủng loại hàng hóa</th>
          <th style="width: 15%;">Tiêu chuẩn chất lượng</th>
          <th style="width: 6%;">Số lượng</th>
          <th style="width: 6%;">Đơn vị</th>
          <th style="width: 15%;">Đơn giá chưa VAT của BTC(đồng)</th>
          <th style="width: 15%;">Đơn giá gồm VAT của BTC(đồng)</th>
          <th style="width: 15%;">Đơn giá điều chỉnh chưa VAT(đồng)</th>
          <th style="width: 15%;">Đơn giá điều chỉnh gồm VAT(đồng)</th>
          <th style="width: 4%;" *ngIf="!isView">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listThongTinGia; let idx = index">
          <td class="text-center">{{ idx + 1 }}</td>
          <td>{{ data.cloaiVthh }}</td>
          <td>{{ data.tieuChuanCl }}</td>
          <td>{{ data.soLuong }}</td>
          <td>{{ data.donViTinh }}</td>
          <td>{{ data.giaDn }}</td>
          <td>{{ data.giaDnVat }}</td>
          <td>
            <nz-input-group>
              <nz-input-number nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="listThongTinGia[idx].giaQd"
                [nzMin]="0" [nzFormatter]="globals.formatter" [nzParser]="globals.parser"
                (nzBlur)="calculateVAT(idx,0)">
              </nz-input-number>
            </nz-input-group>
          </td>
          <td>
            <nz-input-group>
              <nz-input-number nz-input [ngModelOptions]="{standalone: true}"
                [(ngModel)]="listThongTinGia[idx].giaQdVat" [nzMin]="0" [nzFormatter]="globals.formatter"
                [nzParser]="globals.parser" (nzBlur)="calculateVAT(idx,1)">
              </nz-input-number>
            </nz-input-group>
          </td>
          <td *ngIf="!isView" style="text-align: left; white-space: nowrap;">
            <a>
              <i class="fa fa-trash-o do" (click)="deleteItem(idx)"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>
<div class="bg-trang">
  <form nzLayout="vertical" nz-form [formGroup]="formData">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzNoColon]="true"> Ghi chú</nz-form-label>
        <textarea rows="3" class="search__input" nz-input formControlName="ghiChu" [readOnly]="isView"></textarea>
      </nz-form-item>
    </div>
  </form>
</div>