<nz-affix [nzOffsetTop]="globals.prop.MENU_LV2" class="btn-affix">
    <div class="btn-group">
        <button type="button" class="btn btn-sub" (click)="quayLai()">
            <i class="fa fa-arrow-left"></i>
            <span>Quay lại</span>
        </button>
        <button *ngIf="formData.value.trangThai == '00'" type="button" class="btn btn-sub"
            (click)="banHanh()">
            <i class="icon htvbdh_tcdt_guiduyet"></i>
            <span>Ban hành</span>
        </button>
        <button *ngIf="formData.value.trangThai == '00'" type="button" class="btn btn-sub xanh" (click)="save()">
            <i class="icon htvbdh_luu"></i>
            <span>Lưu</span>
        </button>
    </div>
</nz-affix>
<div class="bg-trang" *ngIf="loaiVthh=='VT'">
    <nz-card class="mt16 flex-card p-lr16">
        <div class="header">
            <div class="header-text">
                <div class="title-chi-tieu">
                    <span [ngClass]="formData.value.trangThai == '00' ? 'du-thao-va-lanh-dao-duyet' : 'da-ban-hanh'">
                        {{ formData.value.trangThai == '00' ? 'Dự Thảo' : 'Ban Hành' }}
                    </span>
                    <span>QUYẾT ĐỊNH ĐIỀU CHỈNH GIÁ CỦA TCDTNN</span>
                </div>
            </div>
        </div>
        <form nzLayout="vertical" nz-form [formGroup]="formData">
            <div nz-row [nzGutter]="20">
              <div nz-col [nzSpan]="3">
                <nz-form-item class="form-item">
                  <nz-form-label [nzNoColon]="true">Năm kế hoạch
                  </nz-form-label>
                  <nz-form-control [nzErrorTip]="error">
                    <input nz-input [value]="namNay" formControlName="namKeHoach" [readonly]="true" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="4">
                    <nz-form-item class="form-item">
                        <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Số quyết định
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group nzAddOnAfter="{{maQd}}">
                                <nz-input-number type="text" nz-input formControlName="soQd" [nzMin]="1"
                                    [nzMax]="9999999" [nzStep]="1" [nzSize]="'small'">
                                </nz-input-number>
                            </nz-input-group>
                            <ng-template #error let-control>
                                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item class="form-item">
                  <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Ngày ký
                  </nz-form-label>
                  <nz-form-control [nzErrorTip]="error">
                    <nz-date-picker formControlName="ngayKy" nzFormat="dd/MM/yyyy">
                    </nz-date-picker>
                    <ng-template #error let-control>
                      <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item class="form-item">
                  <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Ngày hiệu lực
                  </nz-form-label>
                  <nz-form-control [nzErrorTip]="error">
                    <nz-date-picker formControlName="ngayHluc" nzFormat="dd/MM/yyyy">
                    </nz-date-picker>
                    <ng-template #error let-control>
                      <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="4">
                    <nz-form-item class="form-item">
                        <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Số quyết định giá của TCDTNN
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group nzAddOnAfterIcon="folder-open" (click)="chonSoToTrinh('sqd')">
                                <input nz-input formControlName="soQdGoc" [readonly]="true" />
                            </nz-input-group>
                            <ng-template #error let-control>
                                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item class="form-item">
                  <nz-form-label [nzNoColon]="true" [nzNoColon]="true">Số đề xuất
                  </nz-form-label>
                  <nz-form-control [nzErrorTip]="error">
                    <nz-input-group nzAddOnAfterIcon="folder-open" (click)="chonSoToTrinh('stt')">
                      <input nz-input formControlName="soTtrinh" [readonly]="true" />

                    </nz-input-group>
                    <ng-template #error let-control>
                      <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>

              </div>

              <div nz-col [nzSpan]="3">
                    <nz-form-item class="form-item">
                        <nz-form-label nzRequired [nzNoColon]="true">Loại giá
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <input nz-input formControlName="loaiGia" [readonly]="true" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item class="form-item">
                <nz-form-label [nzNoColon]="true">Loại hàng hóa
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <input nz-input formControlName="loaiVthh" [readonly]="true" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="18">
                <nz-form-item class="form-item">
                  <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Trích yếu
                  </nz-form-label>
                  <nz-form-control>
                    <textarea formControlName="trichYeu" rows="3" nz-input></textarea>
                  </nz-form-control>
                </nz-form-item>

              </div>
            </div>
        </form>
    </nz-card>
    <div class="group-button">
        <h3>Thông tin giá</h3>
    </div>
    <nz-card class="mt-2px flex-card data-table card-border-content table-card">
        <nz-table [nzData]="dataTable" [nzFrontPagination]="false" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th class="text-center" style="width: 3%;">STT</th>
                    <th class="text-center" style="width: 8%;">Chủng loại hàng hóa</th>
                    <th class="text-center" style="width: 8%;">Tiêu chuẩn chất lượng</th>
                    <th style="width: 3%;">Số lượng</th>
                  <th style="width: 3%;">Đơn vị tính</th>
                  <th style="width: 12%;">Đơn giá tối đa chưa VAT của BTC(đồng)</th>
                  <th style="width: 12%;">Đơn giá tối đa có VAT của BTC(đồng)</th>
                    <th style="width: 12%;">Đơn giá điều chỉnh chưa VAT(đồng)</th>
                    <th style="width: 12%;">Đơn giá điều chỉnh có VAT(đồng)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataTable; let idx = index">
                    <td class="text-center">{{ idx + 1 }}</td>
                    <td>{{ data.cloaiVthh }}</td>
                    <td>{{ data.tchuanCluong }}</td>
                    <td>{{ data.soLuong }}</td>
                    <td>{{ data.donViTinh }}</td>
                    <td>{{ data.donGia }}</td>
                    <td>{{data.donGiaVat}}</td>
                    <td><nz-input-group>
                      <input [(ngModel)]="data.dieuChinhDonGia">
                    </nz-input-group></td>
                    <td><nz-input-group>
                      <input [(ngModel)]="data.dieuChinhDonGiaVat">
                    </nz-input-group></td>
                    <td></td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>
</div>
<div class="bg-trang" *ngIf="loaiVthh=='LT'">
  <nz-card class="mt16 flex-card p-lr16">
    <div class="header">
      <div class="header-text">
        <div class="title-chi-tieu">
                    <span [ngClass]="formData.value.trangThai == '00' ? 'du-thao-va-lanh-dao-duyet' : 'da-ban-hanh'">
                        {{ formData.value.trangThai == '00' ? 'Dự Thảo' : 'Ban Hành' }}
                    </span>
          <span>QUYẾT ĐỊNH ĐIỀU CHỈNH GIÁ CỦA TCDTNN</span>
        </div>
      </div>
    </div>
    <form nzLayout="vertical" nz-form [formGroup]="formData">
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="3">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Năm kế hoạch
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-select formControlName="namKeHoach" (ngModelChange)="onChangeNamQd($event)"
                         [nzDisabled]="isView" nzAllowClear="true">
                <nz-option *ngFor="let p of dsNam" [nzValue]="p.value" [nzLabel]="p.text">
                </nz-option>
              </nz-select>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="5">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Số quyết định
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group nzAddOnAfter="{{maQd}}">
                <nz-input-number type="text" nz-input formControlName="soQd" [nzMin]="1"
                                 [nzMax]="9999999" [nzStep]="1" [nzSize]="'small'">
                </nz-input-number>
              </nz-input-group>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="5">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" [nzNoColon]="true">Số tờ trình đề xuất
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group nzAddOnAfterIcon="folder-open" (click)="chonSoToTrinh('stt')" >
                <input nz-input formControlName="soTtrinh" [readonly]="true" />

              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="5">
          <nz-form-item class="form-item">
            <nz-form-label  nzRequired [nzNoColon]="true" [nzNoColon]="true">Số quyết định giá của TCDTNN
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group nzAddOnAfterIcon="folder-open" (click)="chonSoToTrinh('sqd')">
                <input nz-input formControlName="soQdGoc" [readonly]="true" />
              </nz-input-group>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="3">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Ngày ký
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-date-picker formControlName="ngayKy" nzFormat="dd/MM/yyyy">
              </nz-date-picker>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="3">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Ngày hiệu lực
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-date-picker formControlName="ngayHluc" nzFormat="dd/MM/yyyy">
              </nz-date-picker>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-item class="form-item">
            <nz-form-label nzRequired [nzNoColon]="true" [nzNoColon]="true">Trích yếu
            </nz-form-label>
            <nz-form-control>
              <textarea formControlName="trichYeu" rows="3" nz-input></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Loại hàng hóa
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <input nz-input formControlName="loaiVthh" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Chủng loại hàng hóa
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <input nz-input formControlName="cloaiVthh" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Loại giá
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <input nz-input formControlName="loaiGia" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Tiểu chuẩn chất lượng
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <input nz-input formControlName="tchuanCluong" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Giá tối đa/tối thiểu chưa VAT của BTC
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <input nz-input formControlName="gia" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Giá tối đa/ tối thiển gồm VAT của BTC
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <input nz-input formControlName="giaVat" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <div class="group-button">
    <h3>Thông tin giá</h3>
  </div>
  <nz-card class="mt-2px flex-card data-table card-border-content table-card">
    <nz-table [nzData]="dataTable" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
      <tr>
        <th class="text-center" style="width: 3%;">STT</th>
        <th style="width: 45%;">Đơn vị</th>
        <th style="width: 10%;">Số lượng</th>
        <th style="width: 12%;">Đơn giá chưa VAT(đồng/kg)</th>
        <th style="width: 12%;">Đơn giá gồm VAT(đồng/kg)</th>
        <th style="width: 8%;">Hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of dataTable; let idx = index">
        <td class="text-center">{{ idx + 1 }}</td>
        <td>{{ data.tenBoNganh }}</td>
        <td>{{ data.tongTien }}</td>
        <td>{{data.ttMuaBu}}</td>
        <td>{{data.ttMuaBsung}}</td>
        <td></td>
        <td style="text-align: left; white-space: nowrap;">
          <a>
            <i class="fa fa-pencil"></i>
          </a>
          <a>
            <i class="fa fa-trash-o do"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>
<div class="bg-trang">
<form nzLayout="vertical" nz-form [formGroup]="formData">
  <div nz-col [nzSpan]="24">
    <nz-form-item>
      <nz-form-label [nzNoColon]="true"> Ghi chú </nz-form-label>
      <textarea rows="3" class="search__input" nz-input formControlName="ghiChu" [readOnly]="isView"></textarea>
    </nz-form-item>
    <ng-template #error let-control>
      <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}</ng-container>
    </ng-template>
  </div>
</form>
</div>

