::ng-deep {
    .hh__container {
        .ant-card-body {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    }

    .title-form-chi-tiet {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        color: #000000;
    }

    .bg-gray {
        background: #d9d9d9 !important;
    }

    .last-row-sum {
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        border-bottom: 1px solid #eaeaea;
        border-left: 1px solid #eaeaea;
    }

    .boder-right-1 {
        border-right: 1px solid #eaeaea;
    }

    .summary-table-data {
        margin-top: 16px !important;

        .text-money {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text-specical-money {
            justify-content: left;
        }
    }

    .text-summary {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #000000;
    }

    .text-money {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        color: #444444;
    }

    .comment-last {
        margin-top: 16px !important;
        margin-bottom: 60px !important;
    }

    .title-chi-tieu {
        display: flex;
        align-items: center;

        .du-thao-va-lanh-dao-duyet {
            color: #ff4d4f;
            font-weight: 500;
            font-size: 13px;
            padding: 4px;
            border-radius: 0px;
            border: 1px solid #eaeaea;
            text-transform: uppercase;
            margin-right: 8px;
            background: #fff;
        }

        .da-ban-hanh {
            color: #24e837;
            font-weight: 500;
            font-size: 13px;
            padding: 4px;
            border-radius: 0px;
            border: 1px solid #24e837;
            text-transform: uppercase;
            margin-right: 8px;
            background: #efffec;
        }

        &>span:nth-child(2) {
            text-transform: uppercase;
            color: #444444;
            font-weight: 500;
            font-size: 16px;
            padding: 4px;
        }

        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
  .icon-download,
  .icon-xoa {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8F9FA;
    border: 1px solid #C4C9CC;
    font-size: 12px;
    cursor: pointer;
    padding: 0px 7px;
  }
}

