<ng-container *ngIf="isDataAvailable">
    <div class="modal__content">
        <nz-tabset>
            <nz-tab nzTitle="Dữ liệu">
                <div id="tablePrint">
                    <div class="nut" style="margin-top: 10px;">
                        <div class="cantrai">
                            <div> Đơn vị: </div>
                            <div style="margin-left: 10px;">
                                <ng-container *ngIf="status.general || !editMoneyUnit; else editMoney">
                                    <span (click)="editMoneyUnit=true">
                                        {{ Utils.moneyUnitName(maDviTien) }}
                                    </span>
                                </ng-container>
                                <ng-template #editMoney>
                                    <nz-select nzShowSearch nzPlaceHolder="Chọn đơn vị" [(ngModel)]="maDviTien"
                                        (ngModelChange)="editMoneyUnit=false; Op.setMoneyUnit(maDviTien)">
                                        <nz-option *ngFor="let item of Utils.DVI_TIEN" [nzValue]="item.id"
                                            [nzLabel]="item.tenDm">
                                        </nz-option>
                                    </nz-select>
                                </ng-template>
                            </div>
                        </div>
                        <div class="canphai" *ngIf="status.general ">
                            <button type="button" class="btn btn-sub" (click)="addLine(null)"
                                *ngIf="lstCtietBcao.length == 0">
                                <i class="icon htvbdh_dau-cong"></i>
                                <span>Thêm</span>
                            </button>
                        </div>
                    </div>
                    <nz-table nzBordered class="table__body" [nzScroll]="{x: scrollX}">
                        <thead>
                            <tr>

                                <th scope="col" nzWidth="50px" nzLeft>STT</th>
                                <th scope="col" nzWidth="300px" nzLeft>Nội dung</th>
                                <th scope="col">Kế hoạch vốn năm {{namBcao}}</th>
                                <th scope="col">Dự toán đã giao lũy kế (đến 31/05/{{namBcao}})</th>
                                <th scope="col">Quyết toán, giá trị dự toán hoặc tổng mức đầu tư</th>
                                <th scope="col">Kế hoạch điều chỉnh (+ tăng) (- giảm)</th>
                                <th scope="col">Kế hoạch năm {{namBcao}} sau điều chỉnh</th>
                                <th scope="col">Dự toán đề nghị điều chỉnh lần này</th>
                                <th scope="col" *ngIf="status.viewAppVal">Dự toán Vụ TVQT đề nghị (+ tăng) (- giảm)</th>
                                <th scope="col">Ghi chú(Đã duyệt quyết toán/ chưa duyệt quyết toán)</th>
                                <th scope="col" *ngIf="status.viewAppVal">Dự toán chênh lệch giữa Vụ TVQT điều
                                    chỉnh và đơn
                                    vị đề nghị (+ tăng) (- giảm)</th>
                                <th scope="col" *ngIf="status.viewAppVal">Ý kiến của đơn vị cấp trên</th>
                                <th scope="col" *ngIf="status.general"></th>
                                <th scope="col" *ngIf="status.general "></th>
                                <th scope="col" *ngIf="status.general|| status.editAppVal"></th>
                            </tr>
                            <tr>
                                <th scope="col" nzLeft>A</th>
                                <th scope="col" nzLeft>B</th>
                                <th scope="col">1</th>
                                <th scope="col">2</th>
                                <th scope="col">3</th>
                                <th scope="col">4</th>
                                <th scope="col">5 = 1 + 4</th>
                                <th scope="col">6 = 5 -2</th>
                                <th scope="col" *ngIf="status.viewAppVal">7</th>
                                <th scope="col">8</th>
                                <th scope="col" *ngIf="status.viewAppVal">9=7-6</th>
                                <th scope="col" *ngIf="status.viewAppVal">10</th>
                                <th scope="col" *ngIf="status.general"></th>
                                <th scope="col" *ngIf="status.general"></th>
                                <th scope="col" *ngIf="status.general|| status.editAppVal"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td nzLeft></td>
                                <td nzLeft>Tổng cộng A + B</td>
                                <td>{{Op.fmtVal(total.keHoachVon)}}</td>
                                <td>{{Op.fmtVal(total.dtoanDaGiaoLke)}}</td>
                                <td>{{Op.fmtVal(total.qtoanGtriDtoan)}}</td>
                                <td>{{Op.fmtVal(total.dtoanDchinhDnghi)}}</td>
                                <td>{{Op.fmtVal(total.khoachSauDchinh)}}</td>
                                <td>{{Op.fmtVal(total.dtoanDchinhDnghiLanNay)}}</td>
                                <td *ngIf="status.viewAppVal">{{Op.fmtVal(total.dtoanVuTvqtDnghi)}}</td>
                                <td></td>
                                <td *ngIf="status.viewAppVal">{{Op.fmtVal(total.chenhLech)}}</td>
                                <td *ngIf="status.viewAppVal"></td>
                                <td *ngIf="status.general"></td>
                                <td *ngIf="status.general"></td>
                                <td *ngIf="status.general|| status.editAppVal"></td>
                            </tr>
                            <tr>
                                <td nzLeft></td>
                                <td nzLeft>Phát sinh điều chỉnh tăng</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{Op.fmtVal(tongDieuChinhTang)}}</td>
                                <td *ngIf="status.viewAppVal">{{Op.fmtVal(dToanVuTang)}}</td>
                                <td></td>
                                <td *ngIf="status.viewAppVal"></td>
                                <td *ngIf="status.viewAppVal"></td>
                                <td *ngIf="status.general"></td>
                                <td *ngIf="status.general"></td>
                                <td *ngIf="status.general|| status.editAppVal"></td>
                            </tr>
                            <tr>
                                <td nzLeft></td>
                                <td nzLeft>Phát sinh điều chỉnh giảm</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{Op.fmtVal(tongDieuChinhGiam)}}</td>
                                <td *ngIf="status.viewAppVal">{{Op.fmtVal(dToanVuGiam)}}</td>
                                <td></td>
                                <td *ngIf="status.viewAppVal"></td>
                                <td *ngIf="status.viewAppVal"></td>
                                <td *ngIf="status.general"></td>
                                <td *ngIf="status.general"></td>
                                <td *ngIf="status.general|| status.editAppVal"></td>
                            </tr>
                            <tr *ngFor="let data of lstCtietBcao; let i = index">
                                <ng-container *ngIf="!editCache[data.id].edit; else editTemplate ">
                                    <td class="text-center" nzLeft>
                                        {{getIndex(data.stt)}}
                                    </td>
                                    <td nzLeft>
                                        {{data.noiDung}}
                                    </td>
                                    <td>{{Op.fmtVal(data.keHoachVon)}}</td>
                                    <td>{{Op.fmtVal(data.dtoanDaGiaoLke)}}</td>
                                    <td>{{Op.fmtVal(data.qtoanGtriDtoan)}}</td>
                                    <td>{{Op.fmtVal(data.dtoanDchinhDnghi)}}</td>
                                    <td>{{Op.fmtVal(data.khoachSauDchinh)}}</td>
                                    <td>{{Op.fmtVal(data.dtoanDchinhDnghiLanNay)}}</td>
                                    <td *ngIf="status.viewAppVal">{{Op.fmtVal(data.dtoanVuTvqtDnghi)}}</td>
                                    <td>
                                        {{data.ghiChu}}
                                    </td>
                                    <td *ngIf="status.viewAppVal">{{Op.fmtVal(data.chenhLech)}}</td>
                                    <td *ngIf="status.viewAppVal">{{data.ykienDviCtren}}</td>
                                    <td *ngIf="status.general">
                                        <i *ngIf="checkDelete(data.stt)" class="fa fa-trash-o do"
                                            (click)="deleteLine(data.id)"></i>
                                    </td>
                                    <td *ngIf="status.general">
                                        <i class="fa fa-plus" (click)="addLine(data.id)"></i>
                                    </td>
                                    <td *ngIf="status.general|| status.editAppVal">
                                        <ng-container *ngIf="!getLowStatus(data.stt)">
                                            <i class="fa fa-pencil" (click)="startEdit(data.id)"></i>
                                        </ng-container>
                                    </td>
                                </ng-container>
                                <ng-template #editTemplate>
                                    <td class="text-center" nzLeft>
                                        {{getIndex(editCache[data.id].data.stt)}}
                                    </td>
                                    <td nzLeft>
                                        {{editCache[data.id].data.noiDung}}
                                    </td>
                                    <ng-container *ngIf="!status.viewAppVal else viewAppVal">


                                        <td>
                                            <input class="money-input" currencyMask
                                                [(ngModel)]="editCache[data.id].data.keHoachVon"
                                                (ngModelChange)="changeModel(editCache[data.id].data.id)"
                                                [options]="Op.amount" />
                                        </td>
                                        <td>
                                            <input class="money-input" currencyMask
                                                [(ngModel)]="editCache[data.id].data.dtoanDaGiaoLke"
                                                (ngModelChange)="changeModel(editCache[data.id].data.id)"
                                                [options]="Op.amount" />
                                        </td>
                                        <td>
                                            <input class="money-input" currencyMask
                                                [(ngModel)]="editCache[data.id].data.qtoanGtriDtoan"
                                                [options]="Op.amount" />
                                        </td>
                                        <td>
                                            <input class="money-input" currencyMask
                                                [(ngModel)]="editCache[data.id].data.dtoanDchinhDnghi"
                                                (ngModelChange)="changeModel(editCache[data.id].data.id)"
                                                [options]="Op.amount" />
                                        </td>
                                        <td>
                                            {{Op.fmtVal(editCache[data.id].data.khoachSauDchinh)}}
                                        </td>
                                        <td>
                                            {{Op.fmtVal(editCache[data.id].data.dtoanDchinhDnghiLanNay)}}
                                        </td>
                                        <td>
                                            <input type="text" class="search__input" nz-input
                                                [(ngModel)]="editCache[data.id].data.ghiChu" />
                                        </td>
                                    </ng-container>
                                    <ng-template #viewAppVal>
                                        <td>{{Op.fmtVal(editCache[data.id].data.keHoachVon)}}</td>
                                        <td>{{Op.fmtVal(editCache[data.id].data.dtoanDaGiaoLke)}}</td>
                                        <td>{{Op.fmtVal(editCache[data.id].data.qtoanGtriDtoan)}}</td>
                                        <td>{{Op.fmtVal(editCache[data.id].data.dtoanDchinhDnghi)}}</td>
                                        <td>{{Op.fmtVal(editCache[data.id].data.khoachSauDchinh)}}</td>
                                        <td>{{Op.fmtVal(editCache[data.id].data.dtoanDchinhDnghiLanNay)}}</td>
                                        <td>
                                            <input class="money-input" currencyMask
                                                [(ngModel)]="editCache[data.id].data.dtoanVuTvqtDnghi"
                                                (ngModelChange)="changeModel(editCache[data.id].data.id)"
                                                [options]="amount1" />
                                        </td>
                                        <td>{{editCache[data.id].data.ghiChu}}</td>
                                        <td>{{Op.fmtVal(editCache[data.id].data.chenhLech)}}</td>
                                        <td>
                                            <input type="text" class="search__input" nz-input
                                                [(ngModel)]="editCache[data.id].data.ykienDviCtren" />
                                        </td>
                                    </ng-template>
                                    <td *ngIf="status.general"></td>
                                    <td *ngIf="status.general">
                                        <i *ngIf="checkDelete(data.stt)" class="fa fa-trash-o do"
                                            (click)="deleteLine(data.id)"></i>
                                    </td>
                                    <td *ngIf="status.general || status.editAppVal">
                                        <a class="save" (click)="saveEdit(data.id)" style="margin-right:15px">Lưu</a>
                                        <a nz-popconfirm nzPopconfirmTitle="Bạn có chắc muốn hủy thao tác này?"
                                            (nzOnConfirm)="cancelEdit(data.id)" class="save">Hủy</a>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>

                    </nz-table>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Thuyết minh">
                <textarea nz-input nzAutosize="{minRows: 4, maxRows: 16}" [(ngModel)]="formDetail.thuyetMinh"
                    [disabled]="!status.general"></textarea>
            </nz-tab>
            <nz-tab nzTitle="Tài liệu đính kèm">
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
                    <div nz-col class="gutter-row" [nzSpan]="3">
                        <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzMultiple]="true"
                            *ngIf="status.general">
                            <button nz-button>
                                <i nz-icon nzType="upload"></i>
                                Chọn tài liệu đính kèm
                            </button>
                        </nz-upload>
                        <button nz-button [nzType]="'primary'" (click)="handleUpload()"
                            [disabled]="fileList.length === 0" *ngIf="status.general" style="margin-top: 16px">
                            Thêm vào danh sách
                        </button>
                    </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
                    <div nz-col class="gutter-row" [nzSpan]="13">
                        <nz-table nzBordered class="table__body">
                            <thead>
                                <tr>
                                    <th scope="col" nzWidth="7%">STT</th>
                                    <th scope="col">Tên file</th>
                                    <th scope="col" nzWidth="15%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of formDetail.lstFiles; let i = index">
                                    <td>{{ i + 1 }} </td>
                                    <td>{{ data.fileName }}</td>
                                    <td>
                                        <a (click)="downloadFile(data.id)">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a (click)="deleteFile(data.id)">
                                            <i class="fa fa-trash-o do"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>
    <div class="modal-footer">
        <div class="nut">
            <div class="cantrai">
                <button type="button" class="btn btn-main" *ngIf="status.export" (click)="exportToExcel()">
                    <span nz-icon nzType="export" nzTheme="outline" style="margin-right: 5px;"></span>
                    <span>Xuất</span>
                </button>
                <button type="button" class="btn btn-sub" (click)="save('5', null)" *ngIf="status.finish">
                    <i nz-icon nzType="check" nzTheme="outline"></i>
                    <span>Hoàn tất nhập liệu</span>
                </button>
                <button type="button" class="btn btn-sub" (click)="save('4', null)" *ngIf="status.finish">
                    <i class="icon htvbdh_tcdt_save"></i>
                    <span>Lưu</span>
                </button>
                <button type="button" class="btn btn-sub" (click)="save('1', null)" *ngIf="status.ok">
                    <i nz-icon nzType="check" nzTheme="outline"></i>
                    <span>Chấp nhận</span>
                </button>
            </div>
            <div class="canphai">
                <button type="button" class="btn btn-do" (click)="tuChoi('0')" *ngIf="status.ok">
                    <i nz-icon nzType="close" nzTheme="outline"></i>
                    <span>Không chấp nhận</span>
                </button>
            </div>
        </div>
    </div>
</ng-container>