<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span [ngClass]="formData.value.trangThai == STATUS.BAN_HANH ? 'da-ban-hanh' : 'du-thao-va-lanh-dao-duyet'">
          {{ formData.value.tenTrangThai }}
        </span>
        <span class="text-uppercase">QUẢN LÝ ĐỊNH MỨC TRANG BỊ MÁY MÓC, THIẾT BỊ CHUYÊN DÙNG</span>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sub" (click)="goBack()">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>
      <button type="button" class="btn btn-info ml-2" (click)="saveAndSend(STATUS.BAN_HANH, 'Bạn có muốn lưu và ban hành quyết định ?','Bạn đã lưu và ban hành quyết định thành công!')"
        *ngIf="formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU">
        <i class="icon htvbdh_chuyenvanthu"></i>
        <span>Ban hành</span>
      </button>
      <button type="button" class="btn btn-outline-danger ml-2"
              (click)="ngungHieuLuc(formData.value.id,STATUS.HET_HIEU_LUC)"
              *ngIf="formData.value.trangThai == STATUS.BAN_HANH && formData.value.id > 0">
        <i class="icon htvbdh_chuyenvanthu"></i>
        <span>Ngừng hiệu lực văn bản </span>
      </button>
      <button *ngIf="!isViewDetail"
              type="button" class="btn btn-main ml-2" (click)="save()">
        <i class="icon htvbdh_tcdt_save"></i>
        <span>Lưu</span>
      </button>
    </div>
  </div>
  <nz-card class="mg-t-16 flex-card p-lr16 mt-5">
    <form nz-form nzLayout="vertical" [formGroup]="formData">
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="error">
              <nz-form-label nzRequired [nzNoColon]="true" class="label-color-kh"> Số quyết định</nz-form-label>
              <input nz-input formControlName="soQd" [readonly]="isViewDetail"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-label [nzNoColon]="true" nzRequired class="label-color-kh"> Ngày ký
          </nz-form-label>
          <nz-form-control [nzErrorTip]="error">
            <nz-date-picker class="search__input" nzFormat="dd/MM/yyyy"
                            formControlName="ngayKy" nzPlaceHolder="Ngày ký"
                            [nzDisabled]="isViewDetail">
            </nz-date-picker>
          </nz-form-control>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-label [nzNoColon]="true" nzRequired class="label-color-kh"> Ngày hiệu lực
          </nz-form-label>
          <nz-form-control [nzErrorTip]="error">
            <nz-date-picker class="search__input" nzFormat="dd/MM/yyyy"
                            formControlName="ngayHieuLuc" nzPlaceHolder="Ngày hiệu lực"
                            [nzDisabled]="isViewDetail">
            </nz-date-picker>
          </nz-form-control>
        </div>
        <div nz-col nzSpan="6" *ngIf="formData.value.trangThai == STATUS.HET_HIEU_LUC">
          <nz-form-label [nzNoColon]="true" class="label-color-kh"> Ngày hết hiệu lực
          </nz-form-label>
          <nz-form-control [nzErrorTip]="error">
            <nz-date-picker class="search__input" nzFormat="dd/MM/yyyy"
                            formControlName="ngayHetHieuLuc"
                            [nzDisabled]="isViewDetail">
            </nz-date-picker>
          </nz-form-control>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="error">
              <nz-form-label nzRequired [nzNoColon]="true" class="label-color-kh"> Trích yếu</nz-form-label>
              <input nz-input formControlName="trichYeu" [readonly]="isViewDetail"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" class="label-color-kh"> Tài liệu đính kèm</nz-form-label>
            <div class="list-file">
              <file-list [disabled]="isViewDetail" [data]="fileDinhKem"></file-list>
            </div>
          </nz-form-item>
        </div>
      </div>
    </form>
    <ng-template #error let-control>
      <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
      </ng-container>
    </ng-template>
  </nz-card>
  <nz-card class="mg-t-16 flex-card p-lr16 mt-5">
    <nz-table class="nowrap pd-10" [nzData]="dataTableDetail" [nzFrontPagination]="false"
              [nzShowPagination]="false" nzBordered>
      <thead>
      <tr>
        <th rowspan="2" nzWidth="45px">STT</th>
        <th rowspan="2" nzWidth="300px">Loại tài sản</th>
        <th rowspan="2" nzWidth="120px">ĐVT</th>
        <th colspan="3" nzWidth="">Số lượng tối đa</th>
        <th rowspan="2" nzWidth="120px">Đơn giá tối đa (triệu đồng)</th>
        <th rowspan="2" nzWidth="300px">Ghi chú</th>
        <th rowspan="2" nzWidth="150px" *ngIf="!isViewDetail">Hành động</th>
      </tr>
      <tr>
        <th class="text-center" style="width: 20%">Căn cứ SL nhập, xuất</th>
        <th class="text-center" style="width: 20%">VP Cục DTNN KV</th>
        <th class="text-center" style="width: 60%">Chi cục DTNN</th>
      </tr>
      <tr *ngIf="!isViewDetail">
        <th></th>
        <th>
          <nz-select [(ngModel)]="rowItem.maTaiSan" [nzDisabled]="isViewDetail" (ngModelChange)="changeDm($event)"
                     nzAllowClear="true">
            <nz-option *ngFor="let p of listDmTaiSan" [nzValue]="p.maTaiSan" [nzLabel]="p.tenTaiSan">
            </nz-option>
          </nz-select>
        </th>
        <th>
          <input type="text" [disabled]="true" [(ngModel)]="rowItem.donViTinh" nz-input/>
        </th>
        <th class="text-center">
          <label nz-checkbox [(ngModel)]="rowItem.isCanCu"></label>
        </th>
        <th>
          <nz-input-number [nzSize]="'small'" [nzMin]="0" [(ngModel)]="rowItem.slVpCucKv"></nz-input-number>
        </th>
        <th *ngIf="!rowItem.isCanCu">
          <div class="chi-cuc-sl">
            <nz-input-number [nzSize]="'small'" [(ngModel)]="rowItem.slChiCuc" [nzMin]="0"
                             class="w-50"></nz-input-number>
            &nbsp;
            &nbsp; <span>/</span>
            &nbsp;
            <nz-input-number [nzSize]="'small'" [(ngModel)]="rowItem.klChiCuc" [nzMin]="0"
                             class="w-50"></nz-input-number>
            &nbsp; <span>tấn lương thực</span> &nbsp;
            <nz-select nzPlaceHolder="Nhập loại hình" nzMode="tags" style="width: 55%" [(ngModel)]="rowItem.loaiHinh">
              <nz-option nzValue="00" nzLabel="Nhập"></nz-option>
              <nz-option nzValue="01" nzLabel="Xuất"></nz-option>
              <nz-option nzValue="02" nzLabel="Bảo quản"></nz-option>
            </nz-select>
          </div>
        </th>
        <th *ngIf="rowItem.isCanCu">
            <nz-select nzPlaceHolder="Nhập loại hình" nzMode="tags" style="width: 100%" [(ngModel)]="rowItem.loaiHinh">
              <nz-option nzValue="00" nzLabel="Nhập"></nz-option>
              <nz-option nzValue="01" nzLabel="Xuất"></nz-option>
              <nz-option nzValue="02" nzLabel="Bảo quản"></nz-option>
            </nz-select>
        </th>
        <th>
          <nz-input-number [nzSize]="'small'" [nzMin]="0" [(ngModel)]="rowItem.donGiaTd"></nz-input-number>
        </th>
        <th>
          <input type="text" [(ngModel)]="rowItem.ghiChu" nz-input/>
        </th>
        <th class="text-center" *ngIf="!isViewDetail">
          <a (click)="addDetailDinhMuc()">
            <i class="icon htvbdh_dau-cong"></i>
          </a>
          <a (click)="refresh()">
            <i class="fa fa-refresh"></i>
          </a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of dataTableDetail; let idx = index">
        <ng-container *ngIf="!dataEdit[idx].edit ; else editTemplate">
          <td>{{idx + 1}}</td>
          <td>{{data.tenTaiSan}}</td>
          <td>{{data.donViTinh}}</td>
          <td class="text-center"><label nz-checkbox nzDisabled [(ngModel)]="data.isCanCu"></label></td>
          <td class="text-right">{{data.slVpCucKv | number : '1.0-1' : 'vi_VN'}} </td>
          <td *ngIf="!data.isCanCu">{{data.slChiCuc ? data.slChiCuc : ''}}/{{data.klChiCuc ? data.klChiCuc + ' tấn lương thực' : ''}}  {{data.tenLoaiHinh ? ' ('+ data.tenLoaiHinh + ')' : ''}}</td>
          <td *ngIf="data.isCanCu">{{data.tenLoaiHinh ? ' ('+ data.tenLoaiHinh + ')' : ''}}</td>
          <td class="text-right">{{data.donGiaTd | number : '1.0-1' : 'vi_VN'}}</td>
          <td>{{data.ghiChu}}</td>
          <td class="text-center" *ngIf="!isViewDetail">
            <a (click)="editRow(idx)">
              <i class="fa fa-pencil" title="Sửa"></i>
            </a>
            <a (click)="deleteItem(idx)">
              <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
            </a>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td></td>
          <td>
            <nz-select [(ngModel)]="dataEdit[idx].data.maTaiSan" [nzDisabled]="isViewDetail"
                       (ngModelChange)="changeDm($event , dataEdit[idx].data)"
                       nzAllowClear="true">
              <nz-option *ngFor="let p of listDmTaiSan" [nzValue]="p.maTaiSan" [nzLabel]="p.tenTaiSan">
              </nz-option>
            </nz-select>
          </td>
          <td>
            <input type="text" [disabled]="true" [(ngModel)]="dataEdit[idx].data.donViTinh" nz-input/>
          </td>
          <td class="text-center">
            <label nz-checkbox [(ngModel)]="dataEdit[idx].data.isCanCu"></label>
          </td>
          <td>
            <nz-input-number [nzSize]="'small'" [nzMin]="0"
                             [(ngModel)]="dataEdit[idx].data.slVpCucKv"></nz-input-number>
          </td>
          <td>
            <div class="chi-cuc-sl" *ngIf="!dataEdit[idx].data.isCanCu">
              <nz-input-number [nzSize]="'small'" [(ngModel)]="dataEdit[idx].data.slChiCuc" [nzMin]="0"
                               class="w-50"></nz-input-number>
              &nbsp;
              &nbsp; <span>/</span>
              &nbsp;
              <nz-input-number [nzSize]="'small'" [(ngModel)]="dataEdit[idx].data.klChiCuc" [nzMin]="0"
                               class="w-50"></nz-input-number>
              &nbsp; <span>tấn lương thực</span> &nbsp;
              <nz-select nzMode="tags" class="w-300" [(ngModel)]="dataEdit[idx].data.loaiHinh">
                <nz-option nzValue="00" nzLabel="Nhập"></nz-option>
                <nz-option nzValue="01" nzLabel="Xuất"></nz-option>
                <nz-option nzValue="02" nzLabel="Bảo quản"></nz-option>
              </nz-select>
            </div>
            <div class="chi-cuc-sl" *ngIf="dataEdit[idx].data.isCanCu">
              <nz-select nzMode="tags" class="w-300" [(ngModel)]="dataEdit[idx].data.loaiHinh">
                <nz-option nzValue="00" nzLabel="Nhập"></nz-option>
                <nz-option nzValue="01" nzLabel="Xuất"></nz-option>
                <nz-option nzValue="02" nzLabel="Bảo quản"></nz-option>
              </nz-select>
            </div>
          </td>
          <td>
            <nz-input-number [nzSize]="'small'" [nzMin]="0" [(ngModel)]="dataEdit[idx].data.donGiaTd"></nz-input-number>
          </td>
          <td>
            <input type="text" [(ngModel)]="dataEdit[idx].data.ghiChu" nz-input/>
          </td>
          <td class="text-center" *ngIf="!isViewDetail">
            <a class="save" (click)="saveDinhMuc(idx)">
              <i class="fa fa-save"></i>
            </a>
            <a (click)="cancelEdit(idx)">
              <i class="fa fa-ban do"></i> </a>
          </td>
        </ng-template>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>
