::ng-deep {
    .thong-tin-ho-so-ky-thuat {
        .ant-form-item-no-colon {
            margin-bottom: 0px !important;
        }

        .btn-plus {
            width: 26px;
            height: 24px;
            background: #4E5484;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-left: 10px;
        }

    }
}