.check-box {
  margin-bottom: 12px;
  margin-top: 12px;
}

.modal__button--cancel {
  background-color: white;
  color: red;
  border: 1px solid #f44336;
  margin-right: 5px;
}

.icon-cancel {
  color: red;
}