<div class="modal__content">
  <form [formGroup]="formData">
    <nz-form-label [nzNoColon]="true" nzRequired>
      Nhập lý do từ chối
    </nz-form-label>
    <nz-form-control [nzErrorTip]="error">
      <textarea rows="3" class="search__input" nz-input formControlName="text"></textarea>
    </nz-form-control>
  </form>
</div>
<div class="modal-footer">
  <div class="nut">
    <div class="cantrai">
    </div>
    <div class="canphai">
      <button nz-button (click)="handleOk()" class="modal__button--save">
        <i class="icon htvbdh_tcdt_tuchoi"></i>
        Từ chối
      </button>
      <button nz-button (click)="handleCancel()" class="modal__button--cancel">
        <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
        Đóng
      </button>
    </div>
  </div>
</div>
<ng-template #error let-control>
  <ng-container *ngIf="control.hasError('required')">Bạn cần phải nhập lí do từ chối</ng-container>
</ng-template>
