<div id="tablePrint">
	<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
		<ng-container *ngIf="status;else templateName5">
			<div nz-col nzSpan="3">
				<label class="search__label">Đơn vị</label><br>
				<ng-container *ngFor="let item of donViTiens">
					<ng-container *ngIf="item.id == maDviTien">
						{{item.tenDm}}
					</ng-container>
				</ng-container>
			</div>
			<div nz-col nzSpan="3">
				<label class="search__label">Từ ngày</label><br>
				{{tuNgay}}
			</div>
			<div nz-col nzSpan="3">
				<label class="search__label">Đến ngày</label><br>
				{{denNgay}}
			</div>
		</ng-container>
		<ng-template #templateName5>
			<div nz-col nzSpan="3">
				<label class="search__label">Đơn vị</label>
				<nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn đơn vị" [(ngModel)]="maDviTien"
					[class]="maDviTien ?'' : 'input-error-validate' ">
					<nz-option *ngFor="let item of donViTiens" [nzValue]="item.id" [nzLabel]="item.tenDm"></nz-option>
				</nz-select>
			</div>
			<div nz-col nzSpan="3">
				<label class="search__label">Từ ngày</label>
				<nz-date-picker class="search__input" [(ngModel)]="tuNgay"></nz-date-picker>
			</div>
			<div nz-col nzSpan="3">
				<label class="search__label">Đến ngày</label>
				<nz-date-picker class="search__input" [(ngModel)]="denNgay"></nz-date-picker>
			</div>
		</ng-template>
		<div nz-col class="gutter-row canphai phai" [nzSpan]="15" style="display:flex; justify-content: end;">
			<button type="button" class="btn btn-main" [hidden]="!status" (click)="doPrint()">
				<i nz-icon nzType="printer" nzTheme="outline"></i>
				<span>In</span>
			</button>
			<button type="button" class="btn btn-main" (click)="pheDuyetChiTiet('1');" [hidden]="statusBtnOk">
				<i nz-icon nzType="check" nzTheme="outline"></i>
				<span>OK</span>
			</button>
			<button type="button" class="btn btn-main" (click)="pheDuyetChiTiet('0');" [hidden]="statusBtnOk">
				<i nz-icon nzType="close" nzTheme="outline"></i>
				<span>Not OK</span>
			</button>
			<button type="button" class="btn btn-main" (click)="saveAppendix('4')" [hidden]="statusBtnFinish">
				<i class="icon htvbdh_tcdt_save"></i>
				<span>Lưu</span>
			</button>
			<button type="button" class="btn btn-main" (click)="saveAppendix('5')" [hidden]="statusBtnFinish">
				<i nz-icon nzType="check" nzTheme="outline"></i>
				<span>Hoàn tất nhập liệu</span>
			</button>
			<button type="button" class="btn btn-sub" (click)="export()" [hidden]="statusBtnExport">
				<i class="icon htvbdh_tcdt_import"></i>
				<span>Export</span>
			</button>
			<!-- <button type="button" class="btn btn-sub" [hidden]="status">
        <i class="icon htvbdh_tcdt_import"></i>
        <span>Import</span>
      </button> -->
			<button type="button" class="btn btn-main" (click)="deleteAllChecked()" [hidden]="status">
				<i class="fa fa-trash-o"></i>
				<span>Xóa</span>
			</button>
		</div>
	</div>
	<nz-table nzBordered class="table__body">
		<thead>
			<tr>
				<th rowspan="2" nzWidth="35px">STT</th>
				<th rowspan="2" nzWidth="200px">Tên vật tư, hàng hóa</th>
				<th rowspan="2">DVT</th>
				<th colspan="4">Kế hoạch</th>
				<th colspan="3">Thực hiện</th>
				<th rowspan="2">Ghi chú</th>
				<th rowspan="2" colspan="3" [hidden]="status"></th>
				<th rowspan="2" [hidden]="status">
					<label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()">
					</label>
				</th>
			</tr>
			<tr>
				<th>QĐ số... <br>Ngày...</th>
				<th>Số lượng</th>
				<th>Giá mua tối đa <br>Tổng cục QĐ</th>
				<th>Thành tiền (Đã bao gồm thuế GTGT) </th>
				<th>Số lượng</th>
				<th>Đơn giá mua thực tế</th>
				<th>Thành tiền (Đã bao gồm thuế GTGT)</th>
			</tr>
			<tr>
				<th>A</th>
				<th>B</th>
				<th>C</th>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4=2*3</th>
				<th>5</th>
				<th>6</th>
				<th>7=5*6</th>
				<th>D</th>
				<th [hidden]="status"></th>
				<th [hidden]="status"></th>
				<th [hidden]="status"></th>
				<th [hidden]="status"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><b>I</b></td>
				<td><b>Đơn vị mua</b></td>
				<td></td>
				<td></td>
				<td>{{khSoLuongDv}}</td>
				<td>{{ khGiaMuaTdDv}}</td>
				<td>{{ khTtienDv}}</td>
				<td>{{ thSoLuongDv}}</td>
				<td>{{ thGiaMuaTdDv}}</td>
				<td>{{ thTtienDv}}</td>
				<td></td>
				<td [hidden]="status"></td>
				<td [hidden]="status"></td>
				<td [hidden]="status">
					<ng-container *ngIf="lstCtietBcao021.length == 0">
						<i class="fa fa-plus" (click)="addLine(null,'21')"></i>
					</ng-container>
				</td>
				<td [hidden]="status"></td>
			</tr>
			<tr *ngFor="let item of lstCtietBcao021; let i = index">
				<ng-container *ngIf="!editCache[item.id].edit; else editTemplate01">
					<td [nzIndentSize]="item.level * 8">
						{{getChiMuc(item.stt,'1')}}
					</td>
					<td>
						<div *ngFor="let vtu of lstVatTuFull">
							<div *ngIf="vtu.id == item.maVtu">
								{{vtu.ten}}
							</div>
						</div>
					</td>
					<td>
						{{item.maDviTinh}}
						<!-- <div *ngFor="let dvt of listDonvitinh">
              <div *ngIf="dvt.id == item.maDviTinh">
                {{dvt.tenDviTinh}}
              </div>
            </div> -->
					</td>
					<td>{{item.soQd}}</td>
					<td>{{item.khSoLuong}}</td>
					<td>{{item.khGiaMuaTd}}</td>
					<td>{{item.khTtien}}</td>
					<td>{{item.thSoLuong}}</td>
					<td>{{item.thGiaMuaTd}}</td>
					<td>{{item.thTtien}}</td>
					<td>{{item.ghiChu}}</td>
					<td [hidden]="status">
						<i class="fa fa-trash-o do" (click)="deleteLine(item.id,'21')"></i>
					</td>
					<td [hidden]="status">
						<ng-container *ngIf="!getLowStatus(item.stt,'21')">
							<i class="fa fa-pencil" (click)="startEdit(item.id)"></i>
						</ng-container>
					</td>
					<td [hidden]="status">
						<i class="fa fa-plus" (click)="addLine(item.id,'21')"></i>
					</td>
					<td [hidden]="status">
						<label nz-checkbox [nzValue]="item.id" [(ngModel)]="item.checked"
							(ngModelChange)="updateChecked(item.id,'21')"></label>
					</td>
				</ng-container>
				<ng-template #editTemplate01>
					<td [nzIndentSize]="item.level * 8">
						{{getChiMuc(item.stt,'1')}}
					</td>
					<td>
						<div *ngFor="let vtu of lstVatTuFull">
							<div *ngIf="vtu.id == item.maVtu">
								{{vtu.ten}}
							</div>
						</div>
					</td>
					<td>
						{{item.maDviTinh}}
						<!-- <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn đơn vị tính"
              [class]="editCache[item.id].data.maDviTinh ? '' : 'input-error-validate' "
              [(ngModel)]="editCache[item.id].data.maDviTinh">
              <nz-option *ngFor="let item of listDonvitinh" [nzValue]="item.id" [nzLabel]="item.tenDviTinh">
              </nz-option>
            </nz-select> -->
					</td>
					<td>
						<input nz-input class="search__input" nzSize="small"
							[(ngModel)]="editCache[item.id].data.soQd" />
					</td>
					<td>
						<nz-input-number [nzMin]="0" class="search__input" nzSize="small"
							[(ngModel)]="editCache[item.id].data.khSoLuong"
							(ngModelChange)="changeModel02(item.id,'21')">
						</nz-input-number>
					</td>
					<td>
						<nz-input-number [nzMin]="0" class="search__input" nzSize="small"
							[(ngModel)]="editCache[item.id].data.khGiaMuaTd"
							(ngModelChange)="changeModel02(item.id,'21')">
						</nz-input-number>
					</td>
					<td>
						{{editCache[item.id].data.khTtien}}
					</td>
					<td>
						<nz-input-number [nzMin]="0" class="search__input" nzSize="small"
							[(ngModel)]="editCache[item.id].data.thSoLuong"
							(ngModelChange)="changeModel02(item.id,'21')">
						</nz-input-number>
					</td>
					<td>
						<nz-input-number [nzMin]="0" class="search__input" nzSize="small"
							[(ngModel)]="editCache[item.id].data.thGiaMuaTd"
							(ngModelChange)="changeModel02(item.id,'21')">
						</nz-input-number>
					</td>
					<td>
						{{editCache[item.id].data.thTtien}}
					</td>
					<td>
						<input class="search__input" nz-input [(ngModel)]="editCache[item.id].data.ghiChu" />
					</td>
					<td [hidden]="status">
						<i class="fa fa-trash-o do" (click)="deleteLine(item.id,'21')"></i>
					</td>
					<td>
						<a (click)="saveEdit(item.id,'21')" class="save" style="margin-right:15px">Lưu</a>
						<a nz-popconfirm nzPopconfirmTitle="Bạn có chắc muốn hủy thao tác này ?"
							(nzOnConfirm)="cancelEdit(item.id,'21')" class="save">Hủy</a>
					</td>
					<td [hidden]="status">
						<i class="fa fa-plus" (click)="addLine(item.id,'21')"></i>
					</td>
					<td [hidden]="status">
						<label nz-checkbox [nzValue]="item.id" [(ngModel)]="item.checked"
							(ngModelChange)="updateChecked(item.id,'21')"></label>
					</td>
				</ng-template>
			</tr>
			<tr>
				<td> <b>II</b></td>
				<td> <b>Tổng cục mua</b></td>
				<td></td>
				<td></td>
				<td>{{khSoLuongTc}}</td>
				<td>{{ khGiaMuaTdTc}}</td>
				<td>{{ khTtienTc}}</td>
				<td>{{ thSoLuongTc}}</td>
				<td>{{ thGiaMuaTdTc}}</td>
				<td>{{ thTtienTc}}</td>
				<td></td>
				<td [hidden]="status"></td>
				<td [hidden]="status"></td>
				<td [hidden]="status">
					<ng-container *ngIf="lstCtietBcao022.length == 0">
						<i class="fa fa-plus" (click)="addLine(null,'22')"></i>
					</ng-container>
				</td>
				<td [hidden]="status"></td>
			</tr>
			<tr *ngFor="let item of lstCtietBcao022; let i = index">
				<ng-container *ngIf="!editCache[item.id].edit; else editTemplate02">
					<td [nzIndentSize]="item.level * 8">
						{{getChiMuc(item.stt,'1')}}
					</td>
					<td>
						<div *ngFor="let vtu of lstVatTuFull">
							<div *ngIf="vtu.id == item.maVtu">
								{{vtu.ten}}
							</div>
						</div>
					</td>
					<td>
						{{item.maDviTinh}}
						<!-- <div *ngFor="let dvt of listDonvitinh">
              <div *ngIf="dvt.id == item.maDviTinh">
                {{dvt.tenDviTinh}}
              </div>
            </div> -->
					</td>
					<td>{{item.soQd}}</td>
					<td>{{item.khSoLuong}}</td>
					<td>{{item.khGiaMuaTd}}</td>
					<td>{{item.khTtien}}</td>
					<td>{{item.thSoLuong}}</td>
					<td>{{item.thGiaMuaTd}}</td>
					<td>{{item.thTtien}}</td>
					<td>{{item.ghiChu}}</td>
					<td [hidden]="status">
						<i class="fa fa-trash-o do" (click)="deleteLine(item.id,'22')"></i>
					</td>
					<td [hidden]="status">
						<ng-container *ngIf="!getLowStatus(item.stt,'22')">
							<i class="fa fa-pencil" (click)="startEdit(item.id)"></i>
						</ng-container>
					</td>
					<td [hidden]="status">
						<i class="fa fa-plus" (click)="addLine(item.id,'22')"></i>
					</td>
					<td [hidden]="status">
						<label nz-checkbox [nzValue]="item.id" [(ngModel)]="item.checked"
							(ngModelChange)="updateChecked(item.id,'22')"></label>
					</td>
				</ng-container>
				<ng-template #editTemplate02>
					<td [nzIndentSize]="item.level * 8">
						{{getChiMuc(item.stt,'1')}}
					</td>
					<td>
						<div *ngFor="let vtu of lstVatTuFull">
							<div *ngIf="vtu.id == item.maVtu">
								{{vtu.ten}}
							</div>
						</div>
					</td>
					<td>
						{{item.maDviTinh}}
						<!-- <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn đơn vị tính"
              [class]="editCache[item.id].data.maDviTinh ? '' : 'input-error-validate' "
              [(ngModel)]="editCache[item.id].data.maDviTinh">
              <nz-option *ngFor="let item of listDonvitinh" [nzValue]="item.id" [nzLabel]="item.tenDviTinh">
              </nz-option>
            </nz-select> -->
					</td>
					<td>
						<input nz-input class="search__input" nzSize="small"
							[(ngModel)]="editCache[item.id].data.soQd" />
					</td>
					<td>
						<nz-input-number [nzMin]="0" class="search__input" nzSize="small"
							[(ngModel)]="editCache[item.id].data.khSoLuong"
							(ngModelChange)="changeModel02(item.id,'22')">
						</nz-input-number>
					</td>
					<td>
						<nz-input-number [nzMin]="0" class="search__input" nzSize="small"
							[(ngModel)]="editCache[item.id].data.khGiaMuaTd"
							(ngModelChange)="changeModel02(item.id,'22')">
						</nz-input-number>
					</td>
					<td>
						<nz-input-number [nzMin]="0" class="search__input" nzSize="small"
							[(ngModel)]="editCache[item.id].data.khTtien" disabled></nz-input-number>
					</td>
					<td>
						<nz-input-number [nzMin]="0" class="search__input" nzSize="small"
							[(ngModel)]="editCache[item.id].data.thSoLuong"
							(ngModelChange)="changeModel02(item.id,'22')">
						</nz-input-number>
					</td>
					<td>
						<nz-input-number [nzMin]="0" class="search__input" nzSize="small"
							[(ngModel)]="editCache[item.id].data.thGiaMuaTd"
							(ngModelChange)="changeModel02(item.id,'22')">
						</nz-input-number>
					</td>
					<td>
						<nz-input-number [nzMin]="0" class="search__input" nzSize="small"
							[(ngModel)]="editCache[item.id].data.thTtien" disabled></nz-input-number>
					</td>
					<td>
						<input class="search__input" nz-input [(ngModel)]="editCache[item.id].data.ghiChu" />
					</td>
					<td [hidden]="status">
						<i class="fa fa-trash-o do" (click)="deleteLine(item.id,'22')"></i>
					</td>
					<td>
						<a (click)="saveEdit(item.id,'22')" class="save" style="margin-right:15px">Lưu</a>
						<a nz-popconfirm nzPopconfirmTitle="Bạn có chắc muốn hủy thao tác này?"
							(nzOnConfirm)="cancelEdit(item.id,'22')" class="save">Hủy</a>
					</td>
					<td [hidden]="status">
						<i class="fa fa-plus" (click)="addLine(item.id,'22')"></i>
					</td>
					<td [hidden]="status">
						<label nz-checkbox [nzValue]="item.id" [(ngModel)]="item.checked"
							(ngModelChange)="updateChecked(item.id,'22')"></label>
					</td>
				</ng-template>
			</tr>
			<tr>
				<td></td>
				<td>Tổng cộng</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>{{ tongDvTc}}</td>
				<td></td>
				<td [hidden]="status"></td>
				<td [hidden]="status"></td>
				<td [hidden]="status"></td>
				<td [hidden]="status"></td>
			</tr>
		</tbody>
	</nz-table>
</div>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
	<div nz-col nzSpan="12">
		<label class="search__label">Thuyết minh</label>
		<ng-container *ngIf="status;else templatePresent">
			<br>{{thuyetMinh}}
		</ng-container>
		<ng-template #templatePresent>
			<nz-textarea-count [nzMaxCharacterCount]="100">
				<textarea rows="4" nz-input [(ngModel)]="thuyetMinh"></textarea>
			</nz-textarea-count>
		</ng-template>
	</div>
</div>