<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span
          [ngClass]="formData.value.trangThai == STATUS.DA_KY ? 'status-xanh' : 'status-do'">
          {{ formData.value.tenTrangThai }}
        </span>
        <span>BÁO CÁO TIẾP NHẬN, SỬ DỤNG HÀNG DỰ TRỮ QUỐC GIA XUẤT CỨU TRỢ, QUỐC PHÒNG, AN NINH VÀ NHIỆM VỤ KHÁC ĐƯỢC GIAO TRONG KỲ</span>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sub" (click)="quayLai()">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>
      <ng-container>
        <button *ngIf="formData.value.trangThai == STATUS.DU_THAO
         && userService.isAccessPermisson('BCBN_LAPBAOCAO_TT130_TNSDHDTQG_DUYET')"
                type="button" class="btn btn-sub xanh-nhat" (click)="save(true)">
          <i class="icon htvbdh_tcdt_pheduyet"></i>
          <span>Ban hành</span>
        </button>
        <button *ngIf="formData.value.trangThai == STATUS.DU_THAO && !isView
        && userService.isAccessPermisson('BCBN_LAPBAOCAO_TT130_TNSDHDTQG_LAP')"
                type="button" class="btn btn-main" (click)="save()">
          <i class="icon htvbdh_tcdt_save"></i>
          <span>Lưu</span>
        </button>
      </ng-container>
    </div>
  </div>
  <nz-card class="mg-t-16 flex-card p-lr16">
    <div class="header header-green-background mg-t-16">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span></span>
          <span>Thông tin chung</span>
        </div>
      </div>
    </div>
    <form nzLayout="vertical" nz-form [formGroup]="formData">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="4">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"> Thông tư số</nz-form-label>
            <nz-form-control>
              <nz-input-group>
                <input nz-input readonly formControlName="thongTuSo" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"> Biểu số</nz-form-label>
            <nz-form-control>
              <nz-input-group>
                <input nz-input readonly formControlName="bieuSo" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzRequired [nzNoColon]="true"> Đơn vị gửi báo cáo</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-select formControlName="maDonViGui" (ngModelChange)="handleChoose($event)" [nzDisabled]="isView">
                <nz-option *ngFor="let p of listDsDvi" [nzValue]="p.maDvi" [nzLabel]="p.tenDvi"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"> Đơn vị nhận báo cáo</nz-form-label>
            <nz-form-control>
              <nz-input-group>
                <input nz-input readonly formControlName="tenDonViNhan" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item>
            <nz-form-label nzRequired [nzNoColon]="true"> Thời gian tạo</nz-form-label>
            <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
              <nz-date-picker nzDisabled formControlName="ngayTao" nzFormat="dd/MM/yyyy">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true" class="label-color-kh"> Năm báo cáo
            </nz-form-label>
            <nz-select formControlName="namBc" [nzDisabled]="isView">
              <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
            </nz-select>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true" class="label-color-kh"> Kỳ báo cáo
            </nz-form-label>
            <nz-select formControlName="kyBc" [nzDisabled]="isView">
              <nz-option *ngFor="let p of listQuy" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
            </nz-select>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true" class="label-color-kh"> Loại báo cáo
            </nz-form-label>
            <nz-select formControlName="loaiBc" (ngModelChange)="changeLoaiBc($event)" [nzDisabled]="isView">
              <nz-option *ngFor="let p of listLoaiBc" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
            </nz-select>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"> Thời hạn gửi báo cáo</nz-form-label>
            <nz-form-control>
              <nz-input-group>
                <input nz-input readonly formControlName="thoiHanGuiBc" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <nz-card class="mg-t-16 flex-card p-lr16">
    <div class="header header-green-background mg-t-16">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span></span>
          <span>DANH SÁCH BÁO CÁO TIẾP NHẬN, SỬ DỤNG HÀNG DỰ TRỮ QUỐC GIA XUẤT CỨU TRỢ, QUỐC PHÒNG, AN NINH VÀ NHIỆM VỤ KHÁC ĐƯỢC GIAO TRONG KỲ</span>
        </div>
      </div>
    </div>
    <div class="buttons d-flex justify-content-end">
      <button
        type="button" class="btn btn-sub xanh-nhat" (click)="downloadTemplate(templateName)">
        <i class="icon htvbdh_download2"></i>
        <span>Tải biểu mẫu import dữ liệu</span>
      </button>
      <input type="file" class="input-file-custom" id="importFile" (change)="handleSelectFile($event)">
      <label class="label-file-custom btn btn-main" #labelImport for="importFile"><i class="icon htvbdh_upload1"></i>  Import dữ liệu</label>
      <button type="button" class="btn btn-main" (click)="themMoiDanhMuc()">
        <i class="icon htvbdh_dau-cong"></i>
        <span>Thêm</span>
      </button>
    </div>
  <nz-card class="mt-2px flex-card data-table card-border-content table-card">
    <nz-table class="nowrap" [nzData]="dataTable" [nzFrontPagination]="false"
              [nzShowPagination]="false" nzBordered [nzScroll]="{ x: '1700px' }">
      <thead>
      <tr>
        <th rowSpan="3" class="text-center multi-line" nzLeft nzWidth="60px">STT</th>
        <th rowSpan="3" class="text-center multi-line" nzLeft nzWidth="200px">Danh mục/<br/>Đơn vị bảo quản</th>
        <th rowSpan="3" class="text-center multi-line" nzLeft nzWidth="150px">Mặt hàng</th>
        <th rowSpan="3" class="text-center multi-line" nzWidth="100px">Mã số</th>
        <th rowSpan="3" class="text-center multi-line" nzWidth="100px">ĐVT</th>
        <th rowSpan="3" class="text-center multi-line" nzWidth="150px">Địa điểm,<br/>kho bảo quản</th>
        <th colSpan="16" class="text-center multi-line" nzWidth="100px">Tiếp nhận, sử dụng DTQG theo vùng, địa bàn chiến lược trong kỳ</th>
        <th colSpan="16" class="text-center multi-line" nzWidth="100px">Lũy kế từ đầu năm</th>
        <th rowSpan="3" class="text-center multi-line" nzRight nzWidth="100px" *ngIf="!isView">Hành động</th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
        <th nzWidth="100px" style="display: none"></th>
      </tr>
      <tr>
        <th colSpan="2" class="text-center multi-line">Tây Bắc Bộ</th>
        <th colSpan="2" class="text-center multi-line">Đông Bắc Bộ</th>
        <th colSpan="2" class="text-center multi-line">Đồng Bằng Bắc Bộ</th>
        <th colSpan="2" class="text-center multi-line">Bắc Trung Bộ</th>
        <th colSpan="2" class="text-center multi-line">Nam Trung Bộ</th>
        <th colSpan="2" class="text-center multi-line">Tây Nguyên</th>
        <th colSpan="2" class="text-center multi-line">Đông Nam Bộ</th>
        <th colSpan="2" class="text-center multi-line">Tây Nam Bộ</th>
        <th colSpan="2" class="text-center multi-line">Tây Bắc Bộ</th>
        <th colSpan="2" class="text-center multi-line">Đông Bắc Bộ</th>
        <th colSpan="2" class="text-center multi-line">Đồng Bằng Bắc Bộ</th>
        <th colSpan="2" class="text-center multi-line">Bắc Trung Bộ</th>
        <th colSpan="2" class="text-center multi-line">Nam Trung Bộ</th>
        <th colSpan="2" class="text-center multi-line">Tây Nguyên</th>
        <th colSpan="2" class="text-center multi-line">Đông Nam Bộ</th>
        <th colSpan="2" class="text-center multi-line">Tây Nam Bộ</th>
      </tr>
      <tr>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>
        <th class="text-center multi-line">Số lượng</th>
        <th class="text-center multi-line">Đơn vị</th>

      </tr>
      <tr class="grey-bg">
        <th nzLeft></th>
        <th class="text-center" nzLeft>A</th>
        <th class="text-center" nzLeft>B</th>
        <th class="text-center">C</th>
        <th class="text-center">1</th>
        <th class="text-center">2</th>
        <th class="text-center">3</th>
        <th class="text-center">4</th>
        <th class="text-center">5</th>
        <th class="text-center">6</th>
        <th class="text-center">7</th>
        <th class="text-center">8</th>
        <th class="text-center">9</th>
        <th class="text-center">10</th>
        <th class="text-center">11</th>
        <th class="text-center">12</th>
        <th class="text-center">13</th>
        <th class="text-center">14</th>
        <th class="text-center">15</th>
        <th class="text-center">16</th>
        <th class="text-center">17</th>
        <th class="text-center">18</th>
        <th class="text-center">19</th>
        <th class="text-center">20</th>
        <th class="text-center">21</th>
        <th class="text-center">22</th>
        <th class="text-center">23</th>
        <th class="text-center">24</th>
        <th class="text-center">25</th>
        <th class="text-center">26</th>
        <th class="text-center">27</th>
        <th class="text-center">28</th>
        <th class="text-center">29</th>
        <th class="text-center">30</th>
        <th class="text-center">31</th>
        <th class="text-center">32</th>
        <th class="text-center">33</th>
        <th class="text-center">34</th>
        <th class="text-center" nzRight *ngIf="!isView"></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let data of listDataGroup; let i = index">
        <tr>
          <ng-container *ngIf="!data.edit; else editTemplateDvi">
            <td nzLeft>{{convertToRoman(i+1)}}.</td>
            <td nzLeft class="dm-title">{{ data.danhMuc }}</td>
            <td nzLeft></td>
            <td class="dm-title">{{ data.maSo }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td nzRight *ngIf="!isView">
              <a (click)="editRowDvi(i)">
                <i class=" fa fa-pencil"></i>
              </a>
              <a (click)="deleteRowDvi(i)">
                <i class=" fa fa-trash-o do"></i>
              </a>
              <a (click)="themMoiDanhMuc(data.danhMuc)">
                <i class="fa fa-plus"></i>
              </a>
            </td>
          </ng-container>
          <ng-template #editTemplateDvi>
            <td nzLeft>{{convertToRoman(i+1)}}.</td>
            <td nzLeft class="dm-title"><input nz-input [(ngModel)]="itemRowDonViEdit[i].danhMuc" /></td>
            <td nzLeft></td>
            <td class="dm-title"><input nz-input [(ngModel)]="itemRowDonViEdit[i].maSo" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td nzRight>
              <a (click)="saveEditRowDvi(i)">
                <i class="icon htvbdh_tcdt_save"></i>
              </a>
              <a (click)="cancelEditRowDvi(i)">
                <i class="fa fa-ban do"></i>
              </a>
            </td>
          </ng-template>
        </tr>
        <ng-container *ngFor="let nhomMatHang of data.children, let y = index">
          <tr>
            <ng-container *ngIf="!nhomMatHang.edit; else editTemplateNhomMh">
              <td nzLeft>{{y + 1}}.</td>
              <td nzLeft class="dm-title">{{ nhomMatHang.danhMuc }}</td>
              <td nzLeft></td>
              <td class="dm-title">{{ nhomMatHang.maSo }}</td>
              <td>{{ nhomMatHang.dvt }}</td>
              <td>{{ nhomMatHang.diaDiem }}</td>
              <td class="text-right">{{ nhomMatHang.slTbb| number : '1.2-2' : 'vi_VN' }}</td>
              <td>{{ nhomMatHang.dviTbb }}</td>
              <td class="text-right">{{ nhomMatHang.slDbb| number : '1.2-2' : 'vi_VN' }}</td>
              <td>{{ nhomMatHang.dviDbb }}</td>
              <td class="text-right">{{ nhomMatHang.slDbbb | number : '1.2-2' : 'vi_VN'}}</td>
              <td>{{ nhomMatHang.dviDbbb }}</td>
              <td class="text-right">{{ nhomMatHang.slBtb | number : '1.2-2' : 'vi_VN'}}</td>
              <td>{{ nhomMatHang.dviBtb }}</td>
              <td class="text-right">{{ nhomMatHang.slNtb | number : '1.2-2' : 'vi_VN'}}</td>
              <td>{{ nhomMatHang.dviNtb }}</td>
              <td class="text-right">{{ nhomMatHang.slTn | number : '1.2-2' : 'vi_VN'}}</td>
              <td>{{ nhomMatHang.dviTn }}</td>
              <td class="text-right">{{ nhomMatHang.slDnb | number : '1.2-2' : 'vi_VN'}}</td>
              <td>{{ nhomMatHang.dviDnb }}</td>
              <td class="text-right">{{ nhomMatHang.slTnb | number : '1.2-2' : 'vi_VN'}}</td>
              <td>{{ nhomMatHang.dviTnb }}</td>
              <td class="text-right">{{ nhomMatHang.slLuyKeTbb | number : '1.2-2' : 'vi_VN'}}</td>
              <td>{{ nhomMatHang.dviLuyKeTbb }}</td>
              <td class="text-right">{{ nhomMatHang.slLuyKeDbb | number : '1.2-2' : 'vi_VN'}}</td>
              <td>{{ nhomMatHang.dviLuyKeDbb }}</td>
              <td class="text-right">{{ nhomMatHang.slLuyKeDbbb | number : '1.2-2' : 'vi_VN'}}</td>
              <td>{{ nhomMatHang.dviLuyKeDbbb }}</td>
              <td class="text-right">{{ nhomMatHang.slLuyKeBtb | number : '1.2-2' : 'vi_VN'}}</td>
              <td>{{ nhomMatHang.dviLuyKeBtb }}</td>
              <td class="text-right">{{ nhomMatHang.slLuyKeNtb | number : '1.2-2' : 'vi_VN'}}</td>
              <td>{{ nhomMatHang.dviLuyKeNtb }}</td>
              <td class="text-right">{{ nhomMatHang.slLuyKeTn | number : '1.2-2' : 'vi_VN'}}</td>
              <td>{{ nhomMatHang.dviLuyKeTn }}</td>
              <td class="text-right">{{ nhomMatHang.slLuyKeDnb| number : '1.2-2' : 'vi_VN' }}</td>
              <td>{{ nhomMatHang.dviLuyKeDnb }}</td>
              <td class="text-right">{{ nhomMatHang.slLuyKeTnb | number : '1.2-2' : 'vi_VN'}}</td>
              <td>{{ nhomMatHang.dviLuyKeTnb }}</td>
              <td nzRight *ngIf="!isView">
                <a *ngIf="!isView" (click)="editRowNhomMh(i, y)">
                  <i class=" fa fa-pencil"></i>
                </a>
                <a *ngIf="!isView" (click)="deleteRowNhomMh(i, y)">
                  <i class=" fa fa-trash-o do"></i>
                </a>
              </td>
            </ng-container>
            <ng-template #editTemplateNhomMh>
              <td nzLeft class="text-center">{{y + 1}}.</td>
              <td nzLeft class="dm-title"><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].danhMuc" /></td>
              <td nzLeft></td>
              <td class="dm-title"><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].maSo" /></td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dvt" /></td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].diaDiem" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slTbb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviTbb" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slDbb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviDbb" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slDbbb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviDbbb" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slBtb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviBtb" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slNtb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviNtb" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slTn"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviTn" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slDnb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviDnb" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slTnb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviTnb" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slLuyKeTbb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviLuyKeTbb" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slLuyKeDbb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviLuyKeDbb" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slLuyKeDbbb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviLuyKeDbbb" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slLuyKeBtb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviLuyKeBtb" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slLuyKeNtb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviLuyKeNtb" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slLuyKeTn"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviLuyKeTn" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slLuyKeDnb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviLuyKeDnb" /></td>
              <td>
                <input class="money-input" currencyMask [options]="amount" [min]="0"
                       [(ngModel)]="itemRowNhomMhEdit[i][y].slLuyKeTnb"/>
              </td>
              <td><input nz-input [(ngModel)]="itemRowNhomMhEdit[i][y].dviLuyKeTnb" /></td>
              <td nzRight>
                <a (click)="saveEditRowNhomMh(i, y)">
                  <i class="icon htvbdh_tcdt_save"></i>
                </a>
                <a (click)="cancelEditRowNhomMh(i, y)">
                  <i class="fa fa-ban do"></i>
                </a>
              </td>
            </ng-template>
          </tr>
          <ng-container *ngFor="let matHang of nhomMatHang.children, let z = index">
            <tr>
              <ng-container *ngIf="!matHang.edit; else editTemplate">
                <td nzLeft>{{y+1}}.{{z+1}}.</td>
                <td nzLeft></td>
                <td nzLeft>{{ matHang.matHang }}</td>
                <td>{{ matHang.maSo }}</td>
                <td>{{ matHang.dvt }}</td>
                <td>{{ matHang.diaDiem }}</td>
                <td class="text-right">{{ matHang.slTbb| number : '1.2-2' : 'vi_VN' }}</td>
                <td>{{ matHang.dviTbb }}</td>
                <td class="text-right">{{ matHang.slDbb| number : '1.2-2' : 'vi_VN' }}</td>
                <td>{{ matHang.dviDbb }}</td>
                <td class="text-right">{{ matHang.slDbbb| number : '1.2-2' : 'vi_VN' }}</td>
                <td>{{ matHang.dviDbbb }}</td>
                <td class="text-right">{{ matHang.slBtb| number : '1.2-2' : 'vi_VN' }}</td>
                <td>{{ matHang.dviBtb }}</td>
                <td class="text-right">{{ matHang.slNtb | number : '1.2-2' : 'vi_VN'}}</td>
                <td>{{ matHang.dviNtb }}</td>
                <td class="text-right">{{ matHang.slTn | number : '1.2-2' : 'vi_VN'}}</td>
                <td>{{ matHang.dviTn }}</td>
                <td class="text-right">{{ matHang.slDnb | number : '1.2-2' : 'vi_VN'}}</td>
                <td>{{ matHang.dviDnb }}</td>
                <td class="text-right">{{ matHang.slTnb| number : '1.2-2' : 'vi_VN' }}</td>
                <td>{{ matHang.dviTnb }}</td>
                <td class="text-right">{{ matHang.slLuyKeTbb | number : '1.2-2' : 'vi_VN'}}</td>
                <td>{{ matHang.dviLuyKeTbb }}</td>
                <td class="text-right">{{ matHang.slLuyKeDbb | number : '1.2-2' : 'vi_VN'}}</td>
                <td>{{ matHang.dviLuyKeDbb }}</td>
                <td class="text-right">{{ matHang.slLuyKeDbbb | number : '1.2-2' : 'vi_VN'}}</td>
                <td>{{ matHang.dviLuyKeDbbb }}</td>
                <td class="text-right">{{ matHang.slLuyKeBtb | number : '1.2-2' : 'vi_VN'}}</td>
                <td>{{ matHang.dviLuyKeBtb }}</td>
                <td class="text-right">{{ matHang.slLuyKeNtb | number : '1.2-2' : 'vi_VN'}}</td>
                <td>{{ matHang.dviLuyKeNtb }}</td>
                <td class="text-right">{{ matHang.slLuyKeTn | number : '1.2-2' : 'vi_VN'}}</td>
                <td>{{ matHang.dviLuyKeTn }}</td>
                <td class="text-right">{{ matHang.slLuyKeDnb | number : '1.2-2' : 'vi_VN'}}</td>
                <td>{{ matHang.dviLuyKeDnb }}</td>
                <td class="text-right">{{ matHang.slLuyKeTnb | number : '1.2-2' : 'vi_VN'}}</td>
                <td>{{ matHang.dviLuyKeTnb }}</td>
                <td nzRight *ngIf="!isView">
                  <a *ngIf="!isView" (click)="editRowMatHang(i, y, z)">
                    <i class=" fa fa-pencil"></i>
                  </a>
                  <a *ngIf="!isView" (click)="deleteRowMatHang(i, y, z)">
                    <i class=" fa fa-trash-o do"></i>
                  </a>
                </td>
              </ng-container>
              <ng-template #editTemplate>
                <td nzLeft></td>
                <td nzLeft></td>
                <td nzLeft><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].matHang" /></td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].maSo" /></td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dvt" /></td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].diaDiem" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slTbb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviTbb" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slDbb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviDbb" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slDbbb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviDbbb" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slBtb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviBtb" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slNtb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviNtb" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slTn"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviTn" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slDnb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviDnb" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slTnb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviTnb" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slLuyKeTbb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviLuyKeTbb" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slLuyKeDbb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviLuyKeDbb" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slLuyKeDbbb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviLuyKeDbbb" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slLuyKeBtb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviLuyKeBtb" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slLuyKeNtb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviLuyKeNtb" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slLuyKeTn"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviLuyKeTn" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slLuyKeDnb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviLuyKeDnb" /></td>
                <td>
                  <input class="money-input" currencyMask [options]="amount" [min]="0"
                         [(ngModel)]="itemRowMatHangEdit[i][y][z].slLuyKeTnb"/>
                </td>
                <td><input nz-input [(ngModel)]="itemRowMatHangEdit[i][y][z].dviLuyKeTnb" /></td>
                <td nzRight>
                  <a (click)="saveEditRowMatHang(i, y, z)">
                    <i class="icon htvbdh_tcdt_save"></i>
                  </a>
                  <a (click)="cancelEditRowMatHang(i, y, z)">
                    <i class="fa fa-ban do"></i>
                  </a>
                </td>
              </ng-template>
            </tr>
          </ng-container>
          <tr *ngIf="!isView && nhomMatHang.coNhieuMatHang">
            <td nzLeft></td>
            <td nzLeft></td>
            <td nzLeft><input nz-input [(ngModel)]="itemRowMatHang[i][y].matHang" /></td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].maSo" /></td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dvt" /></td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].diaDiem" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slTbb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviTbb" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slDbb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviDbb" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slDbbb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviDbbb" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slBtb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviBtb" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slNtb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviNtb" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slTn"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviTn" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slDnb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviDnb" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slTnb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviTnb" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slLuyKeTbb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviLuyKeTbb" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slLuyKeDbb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviLuyKeDbb" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slLuyKeDbbb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviLuyKeDbbb" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slLuyKeBtb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviLuyKeBtb" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slLuyKeNtb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviLuyKeNtb" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slLuyKeTn"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviLuyKeTn" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slLuyKeDnb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviLuyKeDnb" /></td>
            <td>
              <input class="money-input" currencyMask [options]="amount" [min]="0"
                     [(ngModel)]="itemRowMatHang[i][y].slLuyKeTnb"/>
            </td>
            <td><input nz-input [(ngModel)]="itemRowMatHang[i][y].dviLuyKeTnb" /></td>
            <td nzRight>
              <a (click)="addRowMatHang(i, y)">
                <i class="fa fa-plus"></i>
              </a>
              <a (click)="clearItemRowMatHang(i, y)">
                <i class="fa fa-refresh"></i>
              </a>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      </tbody>
    </nz-table>
<!--    <label><span style="color: red">* </span> Ghi chú</label>-->
<!--    <textarea rows="3" readonly nz-input [(ngModel)]="ghiChu"></textarea>-->
  </nz-card>
  </nz-card>
</div>
<ng-template #error let-control>
  <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}</ng-container>
</ng-template>
