<nz-affix [nzOffsetTop]="globals.prop.MENU_LV0" class="level0">
    <!-- (nzChange)="onChange($event)" -->
    <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzSelected (click)="selectTab(0)"  *ngIf="userService.isAccessPermisson('VONPHIHANG_PHICHINGVU_DEXUAT')">
            Đề nghị cấp phí Bộ/Ngành
        </li>
        <li nz-menu-item (click)="selectTab(1)" *ngIf="userService.isAccessPermisson('VONPHIHANG_PHICHINGVU_TONGHOP')">
            Tổng hợp đề nghị cấp phí Bộ/Ngành
        </li>
        <li nz-menu-item (click)="selectTab(2)" *ngIf="userService.isAccessPermisson('VONPHIHANG_PHICHINGVU_THONGTRI')">
            Thông tri duyệt y dự toán
        </li>
        <li nz-menu-item (click)="selectTab(3)" *ngIf="userService.isAccessPermisson('VONPHIHANG_PHICHINGVU_TDCAPPHI')">
            Tổng hợp theo dõi cấp phí
        </li>
    </ul>
</nz-affix>
<div class="contentBor chi-tieu__body giao-ke-hoach">
    <div class="contentDetail">
        <ng-container *ngIf="tabSelected == 0">
            <app-de-nghi-cap-phi-bo-nganh></app-de-nghi-cap-phi-bo-nganh>
        </ng-container>
        <ng-container *ngIf="tabSelected == 1">
            <app-tong-hop></app-tong-hop>
        </ng-container>
        <ng-container *ngIf="tabSelected == 2">
            <app-thong-tri-duyet-y-du-toan></app-thong-tri-duyet-y-du-toan>
        </ng-container>
        <ng-container *ngIf="tabSelected == 3">
            <app-tong-hop-theo-doi-cap-von></app-tong-hop-theo-doi-cap-von>
        </ng-container>
    </div>
</div>
