.action-top {
  padding-right: 50px;
}
.chi-tieu__body {
  .flex-card.ant-card {
    border: 1px solid #ececec !important;
    background: transparent;
    box-shadow: unset;
    margin-bottom: 0px !important;
    margin-top: 11px !important;
    border-radius: 6px;
  }
}
.trai {
  display: flex;
  align-items: center;
}
.last-breadcrumb {
  color: #4e5484 !important;
  font-weight: 400;
  font-size: 12px;
}
.chi-tiet {
  padding: 16px;
}
