::ng-deep {

    //[nz-radio] {
    //  display: block;
    //  height: 32px;
    //  line-height: 32px;
    //}
    [nz-radio-group] {
        width: 100%;
    }

    .row-line {
        display: block;
    }

    .label-name {
        width: 100%;
        font-size: 20px;
    }

    .dialog {
        .ant-card-body {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .ant-table.ant-table-bordered>.ant-table-container {
            border-left: none !important;
            border-right: none !important;
        }

        .ant-input-affix-wrapper .ant-input-suffix:hover i {
            transform: unset !important;
            background: unset !important;
            color: unset !important;
        }
    }

    .input-group-search {
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        .icon-search {
            padding: 5px 10px;
            background: #2c3053;
            color: #ffffff;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }

    .icon-close {
        width: 15px;
        color: #2c3053;
        background: #ffffff;
        border-radius: 50%;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;

        &>svg {
            font-size: 10px;
        }
    }
}