.label-50 {
  .ant-form-item-label.ant-col {
    text-align: left;
    width: 50%;
  }

  .ant-picker,
  input {
    border: none;
    background: transparent;
    font-weight: 700;
  }

  .ant-input-number {
    width: 100% !important;
    border: none;
    background: transparent;
    color: #444444;
    font-weight: 700;
  }
}

// .border-right {
//   border-right: solid 1px #e2e2e2;
// }

// .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-extra button {
//   background: #4e5484 !important; //$bg-nhat2
//   padding: 0 10px;
//   border-radius: 0px;
//   font-family: "Copperplate Gothic Bold";
//   margin-left: 8px;

//   &+.ant-radio-group {
//     margin-left: 4px;
//   }
// }