::ng-deep {
  .them-moi-nhap-xuat-hang__body {

    .table__body,
    .ghi-chu {
      margin-left: 10px;
      margin-right: 10px;
    }

    .ant-form-item-label {
      label {
        margin-bottom: 0px !important;
      }
    }

    .ant-form {
      .ant-row {
        .ant-col {
          padding: 0px 9px !important;
        }
      }
    }

    .header-table-nvnh {
      height: 163px;
    }
  }
}