.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab-active {
  .tab-link-2 {
    color: #fff;
  }
}

.tab-link-2 {
  font-size: 11px;
  color: #444;
}

.tab-link-2:hover {
  color: #444;
}

::ng-deep {
  .ant-tabs-nav-wrap {
    overflow-y: auto !important;
  }

  .ant-tabs-nav-wrap::-webkit-scrollbar {
    display: none;
  }
}