<div class="header header-green-background mg-t-10">
  <div class="header-text">
    <div class="title-chi-tieu">
      <span>
      </span>
      <span> {{title}} </span>
    </div>
  </div>
</div>
<!--START NỘI DUNG-->
<form nzLayout="vertical" nz-form [formGroup]="formData">
  <div nz-row [nzGutter]="[24]">
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" nzRequired> Tên dự án </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <input nz-input [ngModel]="isCache ? formData.value.tenDuAn : tenDuAn" [ngModelOptions]="{standalone: true}"
            [readonly]="formData.value.trangThai != STATUS.DANG_NHAP_DU_LIEU && formData.value.trangThai !== globals.prop.NHAP_CHO_DUYET_LD_CUC && formData.value.trangThai !== ''" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" nzRequired> Tên hàng hóa </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <input nz-input readonly formControlName="tenLoaiVthh" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true">Tiêu chuẩn chất lượng </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <textarea nz-input formControlName="tchuanCluong" [readonly]="true"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true"> Thời gian bắt đầu tổ chức LCNT (Thời gian phát hành
          HSMT) </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-date-picker [(ngModel)]="tgianBdauTchucChange" [ngModelOptions]="{standalone: true}" nzFormat="dd/MM/yyyy"
            [nzDisabled]="isView" (ngModelChange)="onDateChanged($event, 'tgianBdauTchuc')"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true"> Thời gian nhập hàng trước ngày </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-input-group>
            <nz-date-picker [(ngModel)]="tgianNhangChange" [ngModelOptions]="{standalone: true}" nzFormat="dd/MM/yyyy"
              [nzDisabled]="isView" (ngModelChange)="onDateChanged($event, 'tgianNhang')"></nz-date-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true"> Thời gian mở thầu</nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-input-group>
            <nz-date-picker [(ngModel)]="tgianMthauChange" [nzShowTime]="{ nzFormat: 'HH:mm' }"
              [ngModelOptions]="{standalone: true}" nzFormat="HH:mm dd/MM/yyyy"
              (ngModelChange)="onDateChanged($event, 'tgianMthau')" [nzDisabled]="isView">
            </nz-date-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true"> Thời gian đóng thầu </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-date-picker [(ngModel)]="tgianDthauChange" [ngModelOptions]="{standalone: true}"
            [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="HH:mm dd/MM/yyyy" [nzDisabled]="isView"
            (ngModelChange)="onDateChanged($event, 'tgianDthau')">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true"> Tên chủ đầu tư</nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-input-group>
            <input nz-input readonly formControlName="tenDvi" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true"> Tổng mức đầu tư đề xuất (tỷ đồng) </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-input-group>
            <nz-input-number class="text-right" nz-input formControlName="tongMucDtDx" [nzSize]="'small'"
              [nzFormatter]="globals.formatter" [nzParser]="globals.parser" nzDisabled>
            </nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true"> Thuế VAT
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-input-group nzAddOnAfter="%">
            <nz-input-number [ngClass]="{'number-blue': true}" nz-input [nzSize]="'small'" formControlName="vat"
              nzDisabled>
            </nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true"> Tổng SL đề xuất mua </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-input-group>
            <nz-input-number [ngClass]="{'number-blue': true}" class="text-right" nz-input formControlName="soLuong"
              [nzSize]="'small'" [nzFormatter]="globals.formatter" [nzParser]="globals.parser" nzDisabled>
            </nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true"> (%) Bảo lãnh dự thầu </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-input-group nzAddOnAfter="%">
            <nz-input-number formControlName="gtriDthau" nz-input [nzMin]="1" [nzMax]="globals.prop.MAX_INPUT"
              [nzStep]="1" [nzSize]="'small'"
              [nzDisabled]="formData.value.trangThai !== globals.prop.NHAP_DU_THAO && formData.value.trangThai !== globals.prop.NHAP_CHO_DUYET_LD_CUC && formData.value.trangThai !== ''">
            </nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true"> Tiền đảm bảo thực hiện hợp đồng (đ) </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-input-group>
            <nz-input-number class="text-right" nz-input
              [ngModel]="isCache ? formData.value.tongMucDtDx * formData.value.gtriHdong / 100 : tienDamBaoThHd"
              [ngModelOptions]="{standalone: true}" [nzSize]="'small'" [nzFormatter]="globals.formatter"
              [nzParser]="globals.parser" nzDisabled>
            </nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true"> Tổng mức đầu tư theo đơn giá đã duyệt (tỷ đồng) </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-input-group>
            <nz-input-number class="text-right" nz-input [ngModel]="formData.value.tongMucDt"
              [ngModelOptions]="{standalone: true}" [nzSize]="'small'" [nzFormatter]="globals.formatter"
              [nzParser]="globals.parser" nzDisabled>
            </nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true"> Tổng tiền bảo lãnh dự thầu và bảo đảm thực hiện hợp đồng
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-input-group>
            <nz-input-number class="text-right" nz-input
              [ngModel]="isCache ? formData.value.tongMucDtDx  +(formData.value.tongMucDtDx * formData.value.gtriHdong / 100) + (formData.value.tongMucDtDx * formData.value.gtriDthau/ 100) : tienBaoLanh"
              [ngModelOptions]="{standalone: true}" [nzSize]="'small'" [nzFormatter]="globals.formatter"
              [nzParser]="globals.parser" nzDisabled>
            </nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<!--END NỘI DUNG-->

<!--START TABLE-->
<div class="header header-green-background mg-t-10">
  <div class="header-text">
    <div class="title-chi-tieu">
      <span>
      </span>
      <span> Phụ lục đề xuất </span>
    </div>
  </div>
  <div class="buttons" *ngIf="!isCache">
    <button type="button" class="btn btn-main" (click)="themMoiGoiThau()">
      <i class="icon htvbdh_dau-cong"></i>
      <span>Thêm</span>
    </button>
  </div>
</div>
<nz-card class="mg-t-16 flex-card p-lr16 table-card">
  <nz-table [nzData]="listDataGroup" class="nowrap" nzBordered>
    <thead>
      <tr>
        <th style="width: 2%;">STT</th>
        <th>Chi cục</th>
        <th>Tên gói thầu</th>
        <th>Điểm kho</th>
        <th>Địa điểm nhập kho</th>
        <th>Chỉ tiêu kế hoạch đuợc giao<br/>(Tấn)</th>
        <th>Số đã thực hiện<br/>(Tấn)</th>
        <th>Số đề xuất (Tấn)</th>
        <th>Đơn giá đề xuất có VAT (đ/kg)</th>
        <th>Thành tiền tạm tính theo giá đề xuất (đ)</th>
        <th>Đơn giá được duyệt có VAT (đ/kg)</th>
        <th>Thành tiền theo đơn giá được duyệt có VAT (đ)</th>
        <th *ngIf="!isView"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of listDataGroup , let i = index">
        <tr>
          <td [nzExpand]="true" (nzExpandChange)="onExpandChange(i, $event)"></td>
          <td colspan="3">{{item.tenDvi}}</td>
          <td></td>
          <td class="text-right red-text">{{item.soLuongTheoChiTieu | number : '1.0-1' : 'vi_VN'}}
          </td>
          <td class="text-right red-text">{{item.soLuongDaMua | number : '1.0-1' : 'vi_VN'}}</td>
          <td class="text-right bold-700">{{(isCache ? item.soLuong : this.sumDataSoLuong[i]) | number : '1.0-1' :
            'vi_VN'
            }}</td>
          <td></td>
          <td class="text-right bold-700">{{ (this.sumThanhTienTamTinh[i]) | number
            :
            '1.0-1' : 'vi_VN' }}</td>
          <td></td>
          <td></td>
          <td *ngIf="!isView"></td>
        </tr>
        <ng-container *ngFor="let dtGoiThau of item.dataChild, let y = index">
          <tr>
            <td></td>
            <td></td>
            <td>{{dtGoiThau.goiThau}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <ng-container>
            <tr *ngFor="let res of dtGoiThau.children, let k = index">
              <td></td>
              <td></td>
              <td></td>
              <td>{{res.tenDvi}}</td>
              <td>{{res.diaDiemNhap}}</td>
              <td></td>
              <td></td>
              <td class="text-right" [contentEditable]="isEditing" (input)="onInput($event.target['textContent'])"
                (blur)="onBlur(res)" [class.editing]="isEditing">
                {{res.soLuong | number : '1.0-1' : 'vi_VN'}}</td>
              <td>{{dtGoiThau.donGia ? dtGoiThau.donGia : dtGoiThau.donGiaTamTinh}}</td>
              <td class="text-right">{{(dtGoiThau.donGiaTamTinh != null ?
                dtGoiThau.donGiaTamTinh * res.soLuong * 1000 : (dtGoiThau.donGiaVat != null ? dtGoiThau.donGiaVat *
                res.soLuong * 1000 : (dtGoiThau.donGia != null ? dtGoiThau.donGia * res.soLuong * 1000 : 0)))
                | number: '1.0-1' : 'vi_VN'}}</td>
              <td>{{isCache ? dtGoiThau.donGiaVat : giaVat}}</td>
              <td class="text-right">{{(isCache ? res.soLuong * dtGoiThau.donGiaVat * 1000 : res.soLuong * 1000 * giaVat) | number:
                '1.0-1' : 'vi_VN'}}</td>
              <td *ngIf="!isView">
                <a *ngIf="!isDisbleForm()" (click)="themMoiCuc(dtGoiThau.goiThau)">
                  <i class="fa fa-pencil" title="Sửa"></i>
                </a>
                <a *ngIf="!isDisbleForm()" (click)="deleteRowLt(dtGoiThau.idx, dtGoiThau.goiThau, k)">
                  <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
                </a>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
    </tbody>
    <tr *ngIf="listDataGroup.length > 0">
      <td></td>
      <td></td>
      <td></td>
      <td class="first-last-row-table background-last-row text-right blue-text">TỔNG</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="background-last-row text-right blue-text">{{ (isCache ? calcTongSl() : tongSLuongNhap) | number :
        '1.0-1' : 'vi_VN' }}</td>
      <td></td>
      <td class="background-last-row text-right blue-text">{{ (isCache ? calcTongThanhTien() : tongTienTamTinh) | number
        : '1.0-1' : 'vi_VN' }}</td>
      <td></td>
    </tr>
  </nz-table>
</nz-card>
<!--END TABLE-->
<ng-template #error let-control>
  <app-template-error #error [control]="control"></app-template-error>
</ng-template>
