.number-blue {
    color: #001CFF !important;
    font-weight: bold;
}

td.editing {
    background-color: #f5f5f5;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.red-text {
    color: #FF4D4F;
    font-weight: 500;
    font-size: 13px;
}

.bold-700 {
    font-weight: 700;
}

.blue-text {
    color: #001CFF;
    font-weight: 500;
    font-size: 13px;
}

.multi-line {
  white-space: normal !important;
}
