<ng-container *ngIf="isDataAvailable">
    <div class="modal__content">
        <nz-tabset>
            <nz-tab nzTitle="Dữ liệu">
                <div id="tablePrint">
                    <div class="nut" style="margin-top: 10px;">
                        <div class="cantrai">
                            <div> Đơn vị: </div>
                            <div style="margin-left: 10px;">
                                <ng-container *ngIf="status.general || !editMoneyUnit; else editMoney">
                                    <span (click)="editMoneyUnit=true">{{Utils.moneyUnitName(maDviTien)}}</span>
                                </ng-container>
                                <ng-template #editMoney>
                                    <nz-select nzShowSearch nzPlaceHolder="Chọn đơn vị" [(ngModel)]="maDviTien"
                                        (ngModelChange)="editMoneyUnit=false">
                                        <nz-option *ngFor="let item of Utils.DVI_TIEN" [nzValue]="item.id"
                                            [nzLabel]="item.tenDm">
                                        </nz-option>
                                    </nz-select>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <nz-table nzBordered class="table__body" [nzScroll]="{x: scrollX}">
                        <thead>
                            <tr>
                                <th nzWidth="50px" nzLeft>STT</th>
                                <th nzWidth="150px" nzLeft>Tên cục DTNNKV,<br> chi cục DTNN </th>
                                <th nzWidth="150px" nzLeft>Tên địa điểm, địa chỉ </th>
                                <th nzWidth="150px" nzLeft>Tên nhà kho </th>
                                <th>Khối tích (m3)</th>
                                <th>Tên hàng DTQG</th>
                                <th>Số lượng</th>
                                <th>Giá trị (VND)</th>
                                <th style="width: 50px;" *ngIf="status.general" nzRight></th>
                                <th style="width: 60px;" *ngIf="status.general" nzRight></th>
                                <th style="width: 50px;" *ngIf="status.general" nzRight></th>
                            </tr>
                            <tr>
                                <th nzLeft>A</th>
                                <th nzLeft>B</th>
                                <th nzLeft>C</th>
                                <th nzLeft>D</th>
                                <th>E</th>
                                <th>F</th>
                                <th>1</th>
                                <th>2</th>
                                <th *ngIf="status.general" nzRight></th>
                                <th *ngIf="status.general" nzRight></th>
                                <th *ngIf="status.general" nzRight></th>
                            </tr>
                            <tr>
                                <th nzLeft></th>
                                <th nzLeft>Tổng cộng</th>
                                <th nzLeft></th>
                                <th nzLeft></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>{{Op.fmtNum(total.giaTri)}}</th>
                                <th *ngIf="status.general" nzRight></th>
                                <th *ngIf="status.general" nzRight></th>
                                <th *ngIf="status.general" nzRight></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of lstCtietBcao; let i = index">
                                <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
                                    <td [attr.rowspan]="data.unitSpan" [hidden]="!data.unitSpan" nzLeft>
                                        {{getIndex(data.stt)}}
                                    </td>
                                    <td [attr.rowspan]="data.unitSpan" [hidden]="!data.unitSpan" nzLeft>
                                        {{data.tenDvi}}
                                    </td>
                                    <td [attr.rowspan]="data.locationSpan" [hidden]="!data.locationSpan" nzLeft>
                                        {{data.tenDiaChiKho}}
                                    </td>
                                    <td [attr.rowspan]="data.storehouseSpan" [hidden]="!data.storehouseSpan" nzLeft>
                                        {{data.tenNhaKho}}
                                    </td>
                                    <td [attr.rowspan]="data.storehouseSpan" [hidden]="!data.storehouseSpan">
                                        {{Op.fmtNum(data.khoiTich)}}
                                    </td>
                                    <td>
                                        {{data.tenHang}}
                                    </td>
                                    <td>
                                        {{Op.fmtNum(data.soLuong)}}
                                    </td>
                                    <td>
                                        {{Op.fmtVal(data.giaTri, maDviTien)}}
                                    </td>
                                    <td *ngIf="status.general" nzRight>
                                        <i class="fa fa-trash-o do" (click)="deleteLine(data.id)"></i>
                                    </td>
                                    <td *ngIf="status.general" nzRight>
                                        <i *ngIf="checkEdit(data.stt)" class="fa fa-pencil"
                                            (click)="startEdit(data.id)"></i>
                                    </td>
                                    <td *ngIf="status.general" nzRight>
                                        <i *ngIf="data.maHang" class="fa fa-plus" (click)="addLine(data.id)"></i>
                                    </td>
                                </ng-container>
                                <ng-template #editTemplate>
                                    <td [attr.rowspan]="data.unitSpan" [hidden]="!data.unitSpan" nzLeft>
                                        {{getIndex(editCache[data.id].data.stt)}}
                                    </td>
                                    <td [attr.rowspan]="data.unitSpan" [hidden]="!data.unitSpan" nzLeft>
                                        {{editCache[data.id].data.tenDvi}}
                                    </td>
                                    <td [attr.rowspan]="data.locationSpan" [hidden]="!data.locationSpan" nzLeft>
                                        {{editCache[data.id].data.tenDiaChiKho}}
                                    </td>
                                    <td [attr.rowspan]="data.storehouseSpan" [hidden]="!data.storehouseSpan" nzLeft>
                                        {{editCache[data.id].data.tenNhaKho}}
                                    </td>
                                    <td [attr.rowspan]="data.storehouseSpan" [hidden]="!data.storehouseSpan">
                                        <input class="money-input" currencyMask [options]="Op.amount"
                                            [(ngModel)]="editCache[data.id].data.khoiTich" />
                                    </td>
                                    <td>
                                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn hàng DTQG"
                                            [(ngModel)]="editCache[data.id].data.maHang"
                                            (ngModelChange)="changeModel(data.id)"
                                            [class]="editCache[data.id].data.maHang ?'' : 'input-error-validate'">
                                            <nz-option *ngFor="let item of lstHang" [nzValue]="item.ma"
                                                [nzLabel]="item.giaTri">
                                            </nz-option>
                                        </nz-select>
                                    </td>
                                    <td>
                                        <input class="money-input" currencyMask [options]="Op.amount"
                                            [(ngModel)]="editCache[data.id].data.soLuong" />
                                    </td>
                                    <td>
                                        <input class="money-input" currencyMask [options]="Op.amount"
                                            [(ngModel)]="editCache[data.id].data.giaTri" />
                                    </td>
                                    <td nzRight>
                                        <i class="fa fa-trash-o do" (click)="deleteLine(data.id)"></i>
                                    </td>
                                    <td nzRight>
                                        <a (click)="saveEdit(data.id)" class="save">Lưu</a>
                                        <a nz-popconfirm nzPopconfirmTitle="Bạn có chắc muốn hủy thao tác này?"
                                            (nzOnConfirm)="cancelEdit(data.id)" class="save">
                                            Hủy
                                        </a>
                                    </td>
                                    <td nzRight>
                                        <i *ngIf="data.maHang" class="fa fa-plus" (click)="addLine(data.id)"></i>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Thuyết minh">
                <textarea nz-input nzAutosize="{minRows: 4, maxRows: 16}" [(ngModel)]="formDetail.thuyetMinh"
                    [disabled]="!status.general"></textarea>
            </nz-tab>
            <nz-tab nzTitle="Tài liệu đính kèm">
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
                    <div nz-col class="gutter-row" [nzSpan]="3">
                        <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" *ngIf="status.general">
                            <button nz-button>
                                <i nz-icon nzType="upload"></i>
                                Chọn tài liệu đính kèm
                            </button>
                        </nz-upload>
                        <button nz-button [nzType]="'primary'" (click)="handleUpload()"
                            [disabled]="fileList.length === 0" *ngIf="status.general" style="margin-top: 16px">
                            Thêm vào danh sách
                        </button>
                    </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
                    <div nz-col class="gutter-row" [nzSpan]="13">
                        <nz-table nzBordered class="table__body">
                            <thead>
                                <tr>
                                    <th nzWidth="7%">STT</th>
                                    <th>Tên file</th>
                                    <th nzWidth="15%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of formDetail.lstFiles; let i = index">
                                    <td>{{ i + 1 }} </td>
                                    <td>{{ data.fileName }}</td>
                                    <td>
                                        <a (click)="downloadFile(data.id)">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a (click)="deleteFile(data.id)">
                                            <i class="fa fa-trash-o do"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>
    <div class="modal-footer">
        <div class="nut">
            <div class="cantrai">
                <button type="button" class="btn btn-main" *ngIf="status.export" (click)="exportToExcel()">
                    <span nz-icon nzType="export" nzTheme="outline" style="margin-right: 5px;"></span>
                    <span>Xuất</span>
                </button>
                <!-- <button type="button" class="btn btn-main" *ngIf="status.print" (click)="genFunc.doPrint()">
                    <i nz-icon nzType="printer" nzTheme="outline"></i>
                    <span>In</span>
                </button> -->
                <button type="button" class="btn btn-sub" (click)="save('5', null)" *ngIf="status.finish">
                    <i nz-icon nzType="check" nzTheme="outline"></i>
                    <span>Hoàn tất nhập liệu</span>
                </button>
                <button type="button" class="btn btn-sub" (click)="save('4', null)" *ngIf="status.finish">
                    <i class="icon htvbdh_tcdt_save"></i>
                    <span>Lưu</span>
                </button>
                <button type="button" class="btn btn-sub" (click)="save('1', null)" *ngIf="status.ok">
                    <i nz-icon nzType="check" nzTheme="outline"></i>
                    <span>Chấp nhận</span>
                </button>
            </div>
            <div class="canphai">
                <button type="button" class="btn btn-do" (click)="tuChoi('0')" *ngIf="status.ok">
                    <i nz-icon nzType="close" nzTheme="outline"></i>
                    <span>Không chấp nhận</span>
                </button>
            </div>
        </div>
    </div>
</ng-container>