::ng-deep {
  .hh__container {
    .ant-card-body {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }
  }
<<<<<<< HEAD
}
=======

  .btn-add-field {
    margin-top: 38px;
  }

  .w-p-100 {
    width: 100%;
  }
}
>>>>>>> 0f702949ba257390bc1fed28ee1d22d5383c626b
