<ng-container *ngIf='!isDetail; else templateThemmoi'>
  <div class='bg-trang'>
    <nz-card class='mt16 flex-card p-lr16'>
      <form [nzLayout]="'vertical'" nz-form [formGroup]='formData'>
        <div nz-row [nzGutter]='20'>
          <div nz-col nzSpan='4'>
            <nz-form-item class='form-item'>
              <nz-form-label nzFor='nam-qd'>Bộ/Ngành</nz-form-label>
              <nz-form-control>
                <nz-select formControlName='maBn' [nzDisabled]='isDisableByBoNganh()' nzAllowClear nzShowSearch>
                  <nz-option *ngFor='let option of dsBoNganh' [nzLabel]='option.tenDvi' [nzValue]='option.maDvi'>
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]='4'>
            <nz-form-item class='form-item'>
              <nz-form-label nzFor='nam-qd'>Số văn bản</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName='soVanBan' />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]='4'>
            <nz-form-item class='form-item'>
              <nz-form-label nzFor='nam-qd'>Số hiệu quy chuẩn, tiêu chuẩn</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName='soHieuQuyChuan' />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan='5'>
            <nz-form-item class='form-item'>
              <nz-form-label nzFor='nam-qd'>Loại hàng hóa</nz-form-label>
              <nz-form-control>
                <nz-select formControlName='loaiVthh' (ngModelChange)='changeHangHoa($event)' nzAllowClear nzShowSearch>
                  <nz-option *ngFor='let option of listOfOption' [nzLabel]='option.ten' [nzValue]='option.ma'>
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!--          <div nz-col nzSpan='5'>-->
          <!--            <nz-form-item class='form-item'>-->
          <!--              <nz-form-label nzFor='nam-qd'>Chủng loại hàng hóa</nz-form-label>-->
          <!--              <nz-form-control>-->
          <!--                <nz-select formControlName='cloaiVthh'>-->
          <!--                  <nz-option *ngFor='let p of listChungLoaiHangHoa' [nzValue]='p.ma' [nzLabel]='p.ten'></nz-option>-->
          <!--                </nz-select>-->
          <!--              </nz-form-control>-->
          <!--            </nz-form-item>-->
          <!--          </div>-->
          <div nz-col nzSpan='7'>
            <nz-form-item class='form-item'>
              <nz-form-label nzFor='nam-qd'>Ngày ban hành</nz-form-label>
              <div nz-row>
                <div nz-col nzSpan='11' class='cus-start-date'>
                  <nz-form-control>
                    <nz-date-picker [nzDisabledDate]='disabledStartNgayKy' nzFormat='dd/MM/yyyy'
                                    formControlName='ngayKyTu' nzPlaceHolder='Ngày bắt đầu'>
                    </nz-date-picker>
                  </nz-form-control>
                </div>
                <div nz-col nzSpan='1'></div>
                <div nz-col nzSpan='11' class='cus-end-date'>
                  <nz-form-control>
                    <nz-date-picker [nzDisabledDate]='disabledEndNgayKy' nzFormat='dd/MM/yyyy'
                                    formControlName='ngayKyDen' nzPlaceHolder='Ngày kết thúc'>
                    </nz-date-picker>
                  </nz-form-control>
                </div>
              </div>

            </nz-form-item>
          </div>
          <div nz-col nzSpan='20'>
            <nz-form-item class='form-item'>
              <nz-form-label nzFor='nam-qd'>Trích yếu</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName='trichYeu' />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan='4'>
            <nz-form-item class='form-item'>
              <nz-form-label nzFor='nam-qd'>Tình trạng</nz-form-label>
              <nz-form-control>
                <nz-select formControlName='trangThaiHl' nzAllowClear nzShowSearch>
                  <nz-option *ngFor='let option of listTrangThaiHl' [nzLabel]='option.giaTri' [nzValue]='option.ma'>
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
      <div class='cangiua group-button-search'>
        <button nz-button class='search__button--clear'
                (click)="clearForm({maBn: this.userInfo.MA_DVI.startsWith('01') ? null : this.userInfo.MA_DVI, isSearch : true})">
          <i class='icon  htvbdh_nhap-lai1'></i>
          Xóa điều kiện
        </button>
        <button nz-button class='search__button--search' (click)='timKiem()'>
          <i nz-icon nzType='search'></i>
          Tìm kiếm
        </button>
      </div>
      <div class='cangiua' *ngIf='errorMessage'>
        <span class='error'>{{errorMessage}}</span>
      </div>
    </nz-card>
    <div class='group-button'>
      <h3>Danh sách quy chuẩn, tiêu chuẩn quốc gia</h3>
      <div class='buttons'>
        <button type='button' *ngIf="userService.isAccessPermisson('KHCNBQ_QCKTTCCS_XOA') " class='btn btn-do'
                (click)='deleteMulti()'>
          <i class='fa fa-trash-o do' title='Xóa bản ghi'></i>
          <span>Xóa</span>
        </button>
        <button *ngIf="userService.isAccessPermisson('KHCNBQ_QCKTTCCS_EXP')" type='button' class='btn btn-sub'
                (click)='exportData()'>
          <i class='icon htvbdh_chuyen-xu-ly'></i>
          <span>Xuất file</span>
        </button>
        <button *ngIf="userService.isAccessPermisson('KHCNBQ_QCKTTCCS_THEM')" type='button' class='btn btn-sub xanh'
                (click)='redirectToChiTiet(false, 0)'>
          <i class='icon htvbdh_dau-cong'></i>
          <span>Thêm</span>
        </button>
      </div>
    </div>
    <nz-card class='mt-2px flex-card data-table card-border-content table-card'>
      <nz-table #basicTable nzBordered [nzData]='dataTable' class='table-chi-tiet' [nzFrontPagination]='false'
                [nzShowPagination]='false'
                [nzScroll]="dataTable && dataTable.length ? { x: '1700px' } : null">
        <thead>
        <tr>
          <th nzWidth='45px'>
            <label nz-checkbox [(ngModel)]='allChecked' (ngModelChange)='updateAllChecked()'
                   [nzIndeterminate]='indeterminate'></label>
          </th>
          <th nzWidth='50px'>STT</th>
          <th nzWidth='200px'>Bộ/Ngành</th>
          <th nzWidth='200px'>Số văn bản</th>
          <th nzWidth='200px'>Số hiệu quy chuẩn, tiêu chuẩn</th>
          <th nzWidth='300px'>Văn bản thay thế/Sửa đổi, bố sung</th>
          <th nzWidth='250px'>Loại hàng hóa</th>
          <th nzWidth='150px'>Ngày ban hành</th>
          <th nzWidth='150px'>Ngày hiệu lực</th>
          <th nzWidth='150px'>Ngày hết hiệu lực</th>
          <th nzWidth='100px'>Tài liệu mật</th>
          <th nzWidth='200px'>Trạng thái nhập dữ liệu</th>
          <th nzWidth='200px'>Tình trạng</th>
          <th nzWidth='200px'>Văn bản hiệu lực</th>
          <th nzWidth='120px' nzRight>Hành động</th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th class='text-center'>
            <nz-input-group [nzSuffix]='suffixIconSearch'>
              <input type='text' placeholder='Tìm kiếm' nz-input [(ngModel)]='filterTable.tenBn'
                     (input)="filterInTable('tenBn',filterTable.tenBn)" />
            </nz-input-group>
          </th>
          <th class='text-center'>
            <nz-input-group [nzSuffix]='suffixIconSearch'>
              <input type='text' placeholder='Tìm kiếm' nz-input [(ngModel)]='filterTable.soVanBan'
                     (input)="filterInTable('soVanBan',filterTable.soVanBan)" />
            </nz-input-group>
          </th>
          <th>
            <nz-input-group [nzSuffix]='suffixIconSearch'>
              <input type='text' nz-input placeholder='Tìm kiếm' [(ngModel)]='filterTable.soHieuQuyChuan'
                     (input)="filterInTable('soHieuQuyChuan',filterTable.soHieuQuyChuan)" />
            </nz-input-group>
          </th>
          <th>
          </th>
          <th>
            <nz-input-group [nzSuffix]='suffixIconSearch'>
              <input type='text' nz-input placeholder='Tìm kiếm' [(ngModel)]='filterTable.listTenLoaiVthh'
                     (input)="filterInTable('listTenLoaiVthh',filterTable.listTenLoaiVthh)" />
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <nz-date-picker nzFormat='dd/MM/yyyy' [(ngModel)]='filterTable.ngayKy'
                              (ngModelChange)="filterInTable('ngayKy', convertDateToString(filterTable.ngayKy))">
              </nz-date-picker>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <nz-date-picker nzFormat='dd/MM/yyyy' [(ngModel)]='filterTable.ngayHieuLuc'
                              (ngModelChange)="filterInTable('ngayHieuLuc', convertDateToString(filterTable.ngayHieuLuc))">
              </nz-date-picker>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <nz-date-picker nzFormat='dd/MM/yyyy' nzPlaceHolder='Ngày ký' [(ngModel)]='filterTable.ngayHetHieuLuc'
                              (ngModelChange)="filterInTable('ngayHetHieuLuc', convertDateToString(filterTable.ngayHetHieuLuc))">
              </nz-date-picker>
            </nz-input-group>
          </th>
          <th></th>
          <th>
            <nz-input-group>
              <nz-select nzAllowClear [(ngModel)]='filterTable.trangThai'
                         (ngModelChange)="filterInTable('trangThai',filterTable.trangThai)">
                <nz-option *ngFor='let p of listTrangThai' [nzValue]='p.ma' [nzLabel]='p.giaTri'></nz-option>
              </nz-select>
            </nz-input-group>
          </th>
          <th>
<!--            <nz-input-group>-->
<!--              <nz-select nzAllowClear [(ngModel)]='filterTable.trangThaiHl'-->
<!--                         (ngModelChange)="filterInTable('trangThaiHl',filterTable.trangThaiHl)">-->
<!--                <nz-option *ngFor='let p of listTrangThaiHl' [nzValue]='p.ma' [nzLabel]='p.giaTri'></nz-option>-->
<!--              </nz-select>-->
<!--            </nz-input-group>-->
          </th>
          <th></th>
          <th nzRight></th>
          <ng-template #suffixIconSearch>
          </ng-template>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor='let data of basicTable.data; let i = index'>
          <tr>
            <td width='45px'>
              <label nz-checkbox [(ngModel)]='data.checked' (ngModelChange)='updateSingleChecked()'
                     [nzDisabled]="data.trangThai != '00'"></label>
            </td>
            <td class='text-center'>{{(page - 1) * pageSize + i + 1}}</td>
            <!-- <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td> -->
            <td>{{ data.tenBn }}</td>
            <td>{{ data.soVanBan }}</td>
            <td>{{ data.soHieuQuyChuan}}</td>
            <td>
              <p *ngIf='data.soVanBanThayThe'><span
                class='text-danger'>VB thay thế:</span> <b>{{ data.soVanBanThayThe}}</b></p>
              <p *ngIf='data.soVanBanSuaDoi'><span
                class='text-blue'>VB sửa đổi:</span><b> {{ data.soVanBanSuaDoi}}</b></p>
            </td>
            <td>{{ data.listTenLoaiVthh }}</td>
            <td>{{ data.ngayKy | date: 'dd/MM/YYYY' }}</td>
            <td>{{ data.ngayHieuLuc | date: 'dd/MM/YYYY' }}</td>
            <td>{{ data.ngayHetHieuLuc | date: 'dd/MM/YYYY' }}</td>
            <td class='text-center'>
              <label nz-checkbox nzDisabled [(ngModel)]='data.isMat'
                     [nzIndeterminate]='indeterminate'></label>
            </td>
            <td>{{ data.tenTrangThai }}</td>
            <td>{{ data.tenTrangThaiHl }}</td>
            <td>
              <a class='link'
                 (click)='downloadFile(data.fileDinhKems && data.fileDinhKems.length > 0 ? data.fileDinhKems[0] : null)'>{{ data.fileDinhKems && data.fileDinhKems.length > 0 ? data.fileDinhKems[0].fileName : ''  }}</a>
            </td>
            <td class='text-left' nzRight>
              <a *ngIf=" (userService.isAccessPermisson('KHCNBQ_QCKTTCCS_XEM') && (data.trangThai == STATUS.BAN_HANH))
                ||(!userService.isAccessPermisson('KHCNBQ_QCKTTCCS_DUYET') && data.trangThai == STATUS.CHO_DUYET_LDV)
                ||(!userService.isAccessPermisson('KHCNBQ_QCKTTCCS_DUYET') && data.trangThai == STATUS.DA_DUYET_LDV)
                ||(userService.isAccessPermisson('KHCNBQ_QCKTTCCS_DUYET') && data.trangThai == STATUS.DU_THAO)
                ||(userService.isAccessPermisson('KHCNBQ_QCKTTCCS_DUYET') &&  data.trangThai == STATUS.TU_CHOI_LDV)"
                 (click)='redirectToChiTiet(true,data.id)'>
                <i class='fa fa-eye' title='Xem chi tiết'></i>
              </a>
              <a *ngIf="((userService.isAccessPermisson('KHCNBQ_QCKTTCCS_THEM') && data.trangThai == STATUS.TU_CHOI_LDV)
                ||(userService.isAccessPermisson('KHCNBQ_QCKTTCCS_THEM') && data.trangThai == STATUS.DU_THAO)) ||(userService.isAccessPermisson('KHCNBQ_QCKTTCCS_SUA_BAN_HANH')) "
                 (click)='redirectToChiTiet(false,data.id)'>
                <i class='fa fa-pencil' title='Sửa'></i>
              </a>
              <a *ngIf="((userService.isAccessPermisson('KHCNBQ_QCKTTCCS_DUYET') && data.trangThai == STATUS.CHO_DUYET_LDV)
                ||(userService.isAccessPermisson('KHCNBQ_QCKTTCCS_DUYET') && data.trangThai == STATUS.DA_DUYET_LDV))"
                 (click)='redirectToChiTiet(true,data.id)'>
                <i class='icon htvbdh_tcdt_pheduyet'></i>
              </a>
              <a *ngIf="data.trangThai == STATUS.DU_THAO && userService.isAccessPermisson('KHCNBQ_QCKTTCCS_XOA') "
                 (click)='delete(data)'>
                <i class='fa fa-trash-o do' title='Xóa bản ghi'></i>
              </a>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
      <div class='tab-content tab-menu' id='myTabContent'>
        <div class='tab-pane fade show active justify-content-between'>
          <div class='trai'>

          </div>
          <div class='canphai'>
            <nz-pagination class='pagination-card' [nzPageIndex]='page' [nzTotal]='totalRecord' nzShowSizeChanger
                           [nzPageSize]='pageSize' [nzShowTotal]='rangeTemplate'
                           (nzPageIndexChange)='changePageIndex($event)'
                           (nzPageSizeChange)='changePageSize($event)'>
              <ng-template #rangeTemplate let-range='range' let-total>
                {{ range[0] }}-{{ range[1] }} trên tổng số {{ total }} bản ghi
              </ng-template>
            </nz-pagination>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</ng-container>
<ng-template #templateThemmoi>
  <app-thong-tin-quan-ly-quy-chuan-ky-thuat-quoc-gia [id]='selectedId' (showListEvent)='showList()' [isView]='isView'>
  </app-thong-tin-quan-ly-quy-chuan-ky-thuat-quoc-gia>
</ng-template>
