<nz-affix [nzOffsetTop]="globals.prop.MN_LV1" class="level1">
  <ul nz-menu nzMode="horizontal">
    <li [nzSelected]="tabSelected==0" nz-menu-item (click)="selectTab(0)"
        *ngIf="userService.isAccessPermisson('XHDTQG_PTDG_KHBDG') && !userService.isChiCuc()">
      Kế hoạch bán đấu giá
    </li>
    <li [nzSelected]="tabSelected==1" nz-menu-item (click)="selectTab(1)"
        *ngIf="userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG') && !userService.isChiCuc()">
      Tổ chức triển khai KH bán đấu giá
    </li>
    <li [nzSelected]="tabSelected==2" nz-menu-item (click)="selectTab(2)"
        *ngIf="userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG') && !userService.isChiCuc()">
      Quyết định phê duyệt kết quả bán đấu giá
    </li>
    <li [nzSelected]="tabSelected==3" nz-menu-item (click)="selectTab(3)"
        *ngIf="userService.isAccessPermisson('XHDTQG_PTDG_HDBKPB') && !userService.isChiCuc()">
      Hợp đồng
    </li>
    <li [nzSelected]="tabSelected==4" nz-menu-item (click)="selectTab(4)"
        *ngIf="userService.isAccessPermisson('XHDTQG_PTDG_QDGNVXH')">
      Quyết định giao nhiệm vụ xuất hàng
    </li>
    <li [nzSelected]="tabSelected==5" nz-menu-item (click)="selectTab(5)"
        *ngIf=" userService.isAccessPermisson('XHDTQG_PTDG_KTCL')">
      Kiểm tra chất lượng
    </li>
    <li [nzSelected]="tabSelected==6" nz-menu-item (click)="selectTab(6)"
        *ngIf=" userService.isAccessPermisson('XHDTQG_PTDG_XK')">
      Xuất kho
    </li>
  </ul>
</nz-affix>
<div class="contentBor chi-tieu__body giao-ke-hoach xuat_dau_gia">
  <div class="contentDetail">
    <ng-container *ngIf="tabSelected == 0">
      <app-ke-hoach-ban-dau-gia></app-ke-hoach-ban-dau-gia>
    </ng-container>
    <ng-container *ngIf="tabSelected == 1">
      <app-to-chuc-trien-khai></app-to-chuc-trien-khai>
    </ng-container>
    <ng-container *ngIf="tabSelected == 2">
      <app-quyet-dinh-phe-duyet-ket-qua></app-quyet-dinh-phe-duyet-ket-qua>
    </ng-container>
    <ng-container *ngIf="tabSelected == 3">
      <app-hop-dong></app-hop-dong>
    </ng-container>
    <ng-container *ngIf="tabSelected == 4">
      <app-giao-xuat-hang></app-giao-xuat-hang>
    </ng-container>
    <ng-container *ngIf="tabSelected == 5">
      <app-bdg-kiem-tra-chat-luong></app-bdg-kiem-tra-chat-luong>
    </ng-container>
    <ng-container *ngIf="tabSelected == 6">
      <app-bdg-xuat-kho></app-bdg-xuat-kho>
    </ng-container>
  </div>
</div>
