@import '../../../../assets/scss/default.scss';
::ng-deep {
  .main-content {
    .card-tree {
      cursor: pointer;
    }
    .content-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .htvbdh_office {
        color: $maincolor;
        font-size: $font-size42;
      }
      &-title {
        font-size: $font-size14;
        line-height: $font-size16;
        color: $maincolor;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-top: 18px;
        height: 30px;
        display: flex;
        align-items: center;
      }
      &-description {
        font-size: $font-size12;
        color: $color-label;
        margin-top: 6px;
        font-weight: normal;
        font-size: $font-size12;
        line-height: $font-size14;
        text-align: center;
      }
    }
    .ant-card .ant-card-body {
      padding: 32px 16px 0px 16px;
    }
  }
  .container-div {
    .flex-card.ant-card {
      border: 1px solid #ececec !important;
      background: transparent;
      box-shadow: unset;
      margin-bottom: 24px;
      margin-top: 11px !important;
    }
    nz-tabset.ant-tabs.ant-tabs-card.ant-tabs-top.ant-tabs-default {
      box-shadow: 0px 2px 12px rgb(0 0 0 / 25%) !important;
      border-radius: 0px 0px 6px 6px !important;
    }
    .ant-tabs-content-holder {
      border: none !important;
    }
    .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab {
      border-top-left-radius: 8px !important;
      border-top-right-radius: 8px !important;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #19797b !important;
    }
    .ant-tabs-tab-btn {
      color: lighten($color: #444444, $amount: 50);
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .ant-tabs-tab.ng-star-inserted {
      width: 208px;
      justify-content: center;
      padding: 15px !important;
      height: 52px !important;
      margin-right: 12px !important;
    }
    .ant-tabs-tab.ant-tabs-tab-active.ng-star-inserted {
      border: none !important;
    }
    .ant-tabs .ant-tabs-nav-wrap {
      margin-top: 20px;
    }
    .ant-card.card-tree {
      margin: 0px 0px 0px 0px;
      padding: 0 16px 16px 16px;
      border: solid 1px #b8f0f1 !important;
      border-radius: 8px;
      margin-bottom: 24px;
    }
    .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
      background-color: #e3f9f9 !important;
    }
    .ant-tabs-content-holder {
      padding-top: 24px !important;
      background: #e3f9f9 !important;
    }
  }
}
