.card-menu .card-title {
    background: #1159bb;
    color: #fff;
    padding: 8px 30px;
}
.card-menu {
    margin-bottom: 24px;
    min-height: calc(100% - 24px);
    // margin-bottom: 0px;
}
.card {
    border: 1px solid #ebebeb !important;
    overflow: hidden;
    border-radius: 6px;
    .card-text {
        padding: 0px 30px 15px 30px;
    }
}
.text-center {
    text-align: center !important;
}
