<ng-container>
  <nz-affix [nzOffsetTop]="globals.prop.MENU_LV2" class="btn-affix" *ngIf="!isQuanLy">
    <div class="btn-group">
      <button type="button" class="btn btn-sub" (click)="goBack()">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>
      <button class="btn btn-sub btn-sm waves-effect xanh-nhat"
              (click)="save(true)"
              *ngIf="formData.value.trangThai == STATUS.DU_THAO && userService.isCuc()">
        <i class="icon htvbdh_trinh"></i>
        <span>Đã ký</span>
      </button>
      <button class="btn btn-main btn-sm waves-effect waves-light" (click)="save()"
              *ngIf="formData.value.trangThai == STATUS.DU_THAO && userService.isCuc() ">
        <i class="icon  htvbdh_tcdt_save"></i>
        <span>Lưu</span>
      </button>
    </div>
  </nz-affix>
  <div class="bg-trang">
    <div class="header header-green-background" *ngIf="!isQuanLy">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span [ngClass]="formData.value.trangThai == STATUS.DA_KY ? 'status-xanh' : 'status-do'">
            {{ formData.value.tenTrangThai }}
          </span>
          <span> Hợp đồng </span>
        </div>
      </div>
    </div>
    <nz-card class="mg-t-16 flex-card p-lr16">
      <nz-collapse nzAccordion>
        <nz-collapse-panel [nzHeader]="'THÔNG TIN CHUNG'" [nzActive]="true">
          <form nz-form [formGroup]="formData" [nzLayout]="'vertical'">
            <div nz-row [nzGutter]="[16,12]">
              <div nz-col [nzSpan]="2">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Năm hợp đồng</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <nz-select formControlName="nam" [nzDisabled]="isView">
                      <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="4">
                <nz-form-item class="form-item">
                  <nz-form-label [nzNoColon]="true" nzRequired> Căn cứ QĐ phê duyệt kết quả BĐG</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogKqTlBdg()">
                      <input [readonly]="true" nz-input formControlName="soQdKqTl" readonly/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Ngày ký QĐ phê duyệt kết quả BĐG</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <nz-date-picker formControlName="ngayKyQdkqTl" nzFormat="dd/MM/yyyy" [nzDisabled]="true">
                    </nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Căn cứ QĐ Phê duyệt KH BĐG</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input nz-input formControlName="soQdTl" [readonly]="true"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Tên tổ chức/cá nhân trúng ĐG</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <nz-select formControlName="toChucCaNhan" (ngModelChange)="maDviTsan($event)" [nzDisabled]="isView">
                      <nz-option *ngFor="let p of listToChucTrungDg" [nzValue]="p.key" [nzLabel]="p.key">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true">Mã đơn vị tài sản</nz-form-label>
                  <nz-form-control [nzErrorTip]="error">
                    <nz-input-group>
                      <nz-select nzMode="multiple" formControlName="listMaDviTsan" (ngModelChange)="selectMaDviTsan($event)" >
                        <nz-option *ngFor="let item of listDviTsan" [nzValue]="item.key" [nzLabel]="item.key">
                        </nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Thời hạn xuất kho trước ngày</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <nz-date-picker formControlName="thoiHanXuatKho" nzFormat="dd/MM/yyyy" [nzDisabled]="true">
                    </nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Loại hình nhập xuất</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input formControlName="tenLoaiHinhNx" [readonly]="true"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Kiểu nhập xuất</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input formControlName="tenKieuNx" [readonly]="true"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Số hợp đồng</nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
                    <nz-input-group nzAddOnAfter="{{maHopDongSuffix}}">
                      <nz-input-number formControlName="soHd" [nzMin]="1" [nzMax]="globals.prop.MAX_INPUT" [nzStep]="1"
                                       [nzSize]="'small'" [nzDisabled]="isView">
                      </nz-input-number>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Tên hợp đồng</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input formControlName="tenHd" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Ngày hiệu lực (Ngày ký hợp đồng)</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <nz-date-picker (ngModelChange)="onChangeNgayHl($event)" formControlName="ngayHieuLuc" nzFormat="dd/MM/yyyy" [nzDisabled]="isView">
                    </nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label  [nzNoColon]="true"> Ghi chú (Cho ngày hiệu lực)</nz-form-label>
                  <nz-form-control nz-col>
                    <input placeholder="" nz-input formControlName="ghiChuNgayHluc" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Loại hợp đồng</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <nz-select formControlName="loaiHdong" [nzDisabled]="isView">
                      <nz-option *ngFor="let p of listLoaiHopDong" [nzValue]="p.ma" [nzLabel]="p.giaTri">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="9">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Ghi chú (Cho loại hợp đồng)</nz-form-label>
                  <nz-form-control nz-col>
                    <input placeholder="" nz-input formControlName="ghiChuLoaiHdong" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Thời gian thực hiện HĐ (ngày)</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <nz-input-number formControlName="tgianThienHd" nz-input [nzMin]="0"
                                     [nzMax]="globals.prop.MAX_INPUT"
                                     [nzStep]="1" [nzSize]="'small'" [nzDisabled]="isView">
                    </nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="9">
                <nz-form-item>
                  <nz-form-label  [nzNoColon]="true"> Thời gian bảo hành (tháng), kể từ ngày ký biên bản giao
                    nhận
                  </nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <nz-input-number formControlName="tgianBhanh" nz-input [nzMin]="0" [nzMax]="globals.prop.MAX_INPUT"
                                     [nzStep]="1" [nzSize]="'small'" [nzDisabled]="isView">
                    </nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Căn cứ pháp lý
                  </nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <div class="list-file">
                    <file-list [data]="fileCanCu" [isViewDetail]="isView"></file-list>
                  </div>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    File đính kèm HĐ đã ký
                  </nz-form-label>
                </nz-form-item>
                <nz-form-item>
                  <div class="list-file">
                    <file-list [data]="fileDinhKem" [isViewDetail]="isView"></file-list>
                  </div>
                </nz-form-item>
              </div>
            </div>
          </form>
        </nz-collapse-panel>
      </nz-collapse>
      <nz-collapse nzAccordion>
        <nz-collapse-panel [nzHeader]="'THÔNG TIN BÊN BÁN'" [nzActive]="true">
          <form nz-form [formGroup]="formData" [nzLayout]="'vertical'">
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Tên đơn vị DTNN</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input formControlName="tenDvi" [readonly]="true"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="15">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Địa chỉ</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input formControlName="diaChiBenBan" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="3">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Mã số thuế</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input type="number" formControlName="mstBenBan" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Tên người đại diện</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input formControlName="daiDienBenBan" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Chức vụ</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input formControlName="chucVuBenBan" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Số điện thoại</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input type="number" formControlName="sdtBenBan" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Fax</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input type="number" formControlName="faxBenBan" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Số tài khoản</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input type="number" formControlName="stkBenBan" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Mở tại</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input formControlName="moTaiBenBan" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Thông tin giấy ủy quyền</nz-form-label>
                  <nz-form-control nz-col>
                    <input placeholder="" nz-input formControlName="thongTinUyQuyen" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
        </nz-collapse-panel>
      </nz-collapse>
      <nz-collapse nzAccordion>
        <nz-collapse-panel [nzHeader]="'THÔNG TIN BÊN MUA'" [nzActive]="true">
          <form nz-form [formGroup]="formData" [nzLayout]="'vertical'">
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Tên đơn vị mua hàng</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input formControlName="tenDviBenMua" [readonly]="true"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Địa chỉ</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input formControlName="diaChiBenMua" [readonly]="true"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Mã số thuế</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input type="number" formControlName="mstBenMua" [readonly]="true"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Tên người đại diện</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input formControlName="daiDienBenMua" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Chức vụ</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input formControlName="chucVuBenMua" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Số điện thoại</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input type="number" formControlName="sdtBenMua" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Fax</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input type="number" formControlName="faxBenMua" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Số tài khoản</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input type="number" formControlName="stkBenMua" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Mở tại</nz-form-label>
                  <nz-form-control nz-col [nzErrorTip]="error">
                    <input placeholder="" nz-input formControlName="moTaiBenMua" [readonly]="isView"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
        </nz-collapse-panel>
      </nz-collapse>
<!--      <nz-collapse nzAccordion>-->
<!--        <nz-collapse-panel [nzHeader]="'GIÁ TRỊ HỢP ĐỒNG VÀ PHƯƠNG THỨC THANH TOÁN'" [nzActive]="true">-->
<!--          <form nz-form [formGroup]="formData" [nzLayout]="'vertical'">-->
<!--            <div nz-row [nzGutter]="24">-->
<!--              <div nz-col [nzSpan]="3">-->
<!--                <nz-form-item>-->
<!--                  <nz-form-label [nzNoColon]="true"> Loại hàng hóa</nz-form-label>-->
<!--                  <nz-form-control nz-col [nzErrorTip]="error">-->
<!--                    <input placeholder="" nz-input formControlName="tenLoaiVthh" [readonly]="true"/>-->
<!--                  </nz-form-control>-->
<!--                </nz-form-item>-->
<!--              </div>-->
<!--              <div nz-col [nzSpan]="3">-->
<!--                <nz-form-item>-->
<!--                  <nz-form-label [nzNoColon]="true"> Chủng loại hàng hóa</nz-form-label>-->
<!--                  <nz-form-control nz-col [nzErrorTip]="error">-->
<!--                    <input placeholder="" nz-input formControlName="tenCloaiVthh" [readonly]="true"/>-->
<!--                  </nz-form-control>-->
<!--                </nz-form-item>-->
<!--              </div>-->
<!--              <div nz-col [nzSpan]="3">-->
<!--                <nz-form-item>-->
<!--                  <nz-form-label [nzNoColon]="true"> Tên hàng hóa</nz-form-label>-->
<!--                  <nz-form-control nz-col>-->
<!--                    <input placeholder="" nz-input formControlName="moTaHangHoa" [readonly]="true"/>-->
<!--                  </nz-form-control>-->
<!--                </nz-form-item>-->
<!--              </div>-->
<!--              <div nz-col [nzSpan]="3">-->
<!--                <nz-form-item>-->
<!--                  <nz-form-label [nzNoColon]="true"> Đơn vị tính</nz-form-label>-->
<!--                  <nz-form-control nz-col>-->
<!--                    <input placeholder="" nz-input formControlName="donViTinh" [readonly]="true"/>-->
<!--                  </nz-form-control>-->
<!--                </nz-form-item>-->
<!--              </div>-->
<!--              <div nz-col [nzSpan]="3">-->
<!--                <nz-form-item>-->
<!--                  <nz-form-label [nzNoColon]="true"> Số lượng</nz-form-label>-->
<!--                  <nz-input-number [nzDisabled]="true" formControlName="soLuong" [nzMin]="1"-->
<!--                                   [nzMax]="globals.prop.MAX_INPUT" [nzStep]="1" [nzSize]="'small'"-->
<!--                                   [nzFormatter]="globals.formatter" [nzParser]="globals.parser">-->
<!--                  </nz-input-number>-->
<!--                </nz-form-item>-->
<!--              </div>-->
<!--              <div nz-col [nzSpan]="9"></div>-->
<!--              <div nz-col [nzSpan]="3">-->
<!--                <nz-form-item>-->
<!--                  <nz-form-label [nzNoColon]="true"> Thành tiền</nz-form-label>-->
<!--                  <nz-input-number [nzDisabled]="true" formControlName="thanhTien" [nzMin]="1"-->
<!--                                   [nzMax]="globals.prop.MAX_INPUT" [nzStep]="1" [nzSize]="'small'"-->
<!--                                   [nzFormatter]="globals.formatter" [nzParser]="globals.parser">-->
<!--                  </nz-input-number>-->
<!--                </nz-form-item>-->
<!--              </div>-->
<!--              <div nz-col [nzSpan]="1">-->
<!--                <nz-form-item>-->
<!--                  <nz-form-label [nzNoColon]="true"></nz-form-label>-->
<!--                  <nz-form-control class="text-center">-->
<!--                    <i class="icon htvbdh_tcdt_lien-ket icon-lien-ket"></i>-->
<!--                  </nz-form-control>-->
<!--                </nz-form-item>-->
<!--              </div>-->
<!--              <div nz-col [nzSpan]="20">-->
<!--                <nz-form-item>-->
<!--                  <nz-form-label [nzNoColon]="true"> Bằng chữ</nz-form-label>-->
<!--                  <nz-form-control nz-col>-->
<!--                    <input [ngModel]=" convertTienTobangChu(formData.value.thanhTien)" nz-input readonly-->
<!--                           [ngModelOptions]="{standalone: true}"/>-->
<!--                  </nz-form-control>-->
<!--                </nz-form-item>-->
<!--              </div>-->
<!--              <div nz-col [nzSpan]="24">-->
<!--                <nz-form-item>-->
<!--                  <nz-form-label nzRequired [nzNoColon]="true"> Ghi chú</nz-form-label>-->
<!--                  <nz-form-control nz-col [nzErrorTip]="error">-->
<!--                    <textarea rows="3" formControlName="ghiChu" nz-input [readonly]="isView"></textarea>-->
<!--                  </nz-form-control>-->
<!--                </nz-form-item>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </nz-collapse-panel>-->
<!--      </nz-collapse>-->
      <nz-collapse nzAccordion>
        <nz-collapse-panel [nzHeader]="'ĐỊA ĐIỂM CUNG CẤP HÀNG HÓA'" [nzActive]="true">
          <nz-table class="pd-10" nzBordered [nzData]="dataTableAll" [nzFrontPagination]="false"
                    [nzShowPagination]="false">
            <thead>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">Chi cục DTNN KV</th>
              <th class="text-center">Địa điểm xuất kho</th>
              <th class="text-center">Điểm kho</th>
              <th class="text-center">Lô kho</th>
              <th class="text-center">SL xuất bán đấu giá</th>
              <th class="text-center">Mã ĐVTS</th>
              <th class="text-center">Đơn giá không VAT (đ)</th>
              <th class="text-center">Thành tiền (đ)</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let data of dataTableAll , let i = index">
              <tr>
                <td nzShowExpand="true" [nzExpand]="data.expandSet"
                    (nzExpandChange)="onExpandChange(data, $event)"></td>
                <td class="text-left bold">{{data.tenDonVi}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right bold">{{data.slDauGiaChiCuc|number:globals.numberFormat:globals.locale}}</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <ng-container *ngIf="data.expandSet">
                <tr *ngFor="let ddNhap of data.children, let y = index">
                  <td></td>
                  <td></td>
                  <td class="text-left">{{ddNhap.diaDiemXuat }}</td>
                  <td class="text-left">{{ddNhap.tenDiemKho}}</td>
                  <td class="text-left">{{(ddNhap.tenLoKho ? ddNhap.tenLoKho + ' - ' : '') + ddNhap.tenNganKho }}</td>
                  <td class="text-right">{{ddNhap.slDaDuyet|number:globals.numberFormat:globals.locale}}</td>
                  <td class="text-right">{{ddNhap.maDviTsan}}</td>
                  <td class="text-right">{{ddNhap.donGiaPd|number:globals.numberFormat:globals.locale}}</td>
                  <td class="text-right">{{ddNhap.slDaDuyet * ddNhap.donGiaPd|number:globals.numberFormat:globals.locale}}</td>
                </tr>
              </ng-container>
            </ng-container>
            </tbody>
          </nz-table>
        </nz-collapse-panel>
      </nz-collapse>
      <nz-collapse nzAccordion>
        <nz-collapse-panel [nzHeader]="'PHỤ LỤC HỢP ĐỒNG'" [nzActive]="true" [nzExtra]="extraTpl">
          <ng-template #extraTpl>
            <div class="buttons"
                 *ngIf="formData.value.id != null && !userService.isTongCuc()  && formData.value.trangThai != STATUS.DA_KY && !isQuanLy">
              <button style="background: #353a64;" type="button" class="btn btn-main">
                <i class="icon htvbdh_dau-cong"></i>
                <span>Thêm PL hợp đồng</span>
              </button>
            </div>
          </ng-template>
          <nz-table class="pd-10" nzBordered [nzData]="dataTable" [nzFrontPagination]="false"
                    [nzShowPagination]="false">
            <thead>
            <tr>
              <th [width]="35">STT</th>
              <th class="text-center">Số phụ lục hợp đồng</th>
              <th class="text-center">Ngày ký</th>
              <th class="text-center">Ngày hiệu lực</th>
              <th class="text-center">Về việc</th>
              <th class="text-center">Trạng thái</th>
              <th class="text-center" *ngIf="!isQuanLy">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of dataTable; let i = index">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td *ngIf="!isQuanLy">
                <a *ngIf="(data.trangThai == STATUS.DA_KY)">
                  <i class="fa fa-eye" title="Xem chi tiết"></i>
                </a>
                <a *ngIf="(data.trangThai == STATUS.DU_THAO && !userService.isTongCuc())">
                  <i class="fa fa-pencil" title="Sửa"></i>
                </a>
                <a *ngIf="(data.trangThai == STATUS.DU_THAO && !userService.isTongCuc())">
                  <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-card>
  </div>
  <ng-template #error let-control>
    <app-template-error #error [control]="control"></app-template-error>
  </ng-template>
</ng-container>

