<div *ngIf="!isDetail" class="luong-thuc__danh-sach">
    <div class="bg-trang">
        <nz-card class="mt16 flex-card p-lr16">
            <form [nzLayout]="'vertical'" nz-form [formGroup]="formData">
                <div nz-row [nzGutter]="24">
                    <div nz-col nzSpan="2">
                        <label> Năm kế hoạch </label>
                        <nz-select formControlName="namKh">
                            <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="3">
                        <label> Số kế hoạch </label>
                        <input placeholder="" nz-input formControlName="soDxuat" />
                    </div>
                    <div nz-col nzSpan="6" *ngIf="userService.isTongCuc()">
                        <label>Đơn vị</label>
                        <nz-select formControlName="maDvi">
                            <nz-option *ngFor="let p of dsDonvi" [nzValue]="p.maDvi" [nzLabel]="p.tenDvi"></nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="4" *ngIf="userService.isCuc()">
                        <label>Ngày lập kế hoạch</label>
                        <nz-range-picker formControlName="ngayTao" nzFormat="dd/MM/yyyy"></nz-range-picker>
                    </div>
                    <div nz-col nzSpan="4" *ngIf="userService.isCuc()">
                        <label>Ngày duyệt kế hoạch</label>
                        <nz-range-picker formControlName="ngayPduyet" nzFormat="dd/MM/yyyy"></nz-range-picker>
                    </div>
                    <div nz-col nzSpan="6">
                        <label>Trích yếu</label>
                        <input placeholder="" nz-input formControlName="trichYeu" />
                    </div>
                    <div nz-col nzSpan="4" *ngIf="userService.isTongCuc()">
                        <label>Ngày ký</label>
                        <nz-range-picker formControlName="ngayKyQd" nzFormat="dd/MM/yyyy"></nz-range-picker>
                    </div>
                </div>
            </form>
            <div nz-col class="cangiua group-button-search">
                <div>
                    <button nz-button class="search__button--clear" (click)="clearFilter()">
                        <i class="icon  htvbdh_nhap-lai1"></i>
                        Xóa điều kiện
                    </button>
                    <button nz-button class="search__button--search" (click)="timKiem()">
                        <i nz-icon nzType="search"></i>
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </nz-card>
        <div class="group-button">
            <h3> DANH SÁCH KẾ HOẠCH BÁN TRỰC TIẾP </h3>
            <div class="buttons">
                <button type="button" class="btn btn-do"
                    (click)="deleteMulti(['XHDTQG_PTDG_KHBDG_VT_DEXUAT_XOA','XHDTQG_PTDG_KHBDG_LT_DEXUAT_XOA'])"
                    *ngIf="userService.isCuc()">
                    <i class="fa fa-trash-o do"></i>
                    <span>Xóa</span>
                </button>
                <button type="button" class="btn btn-sub" (click)="exportData()">
                    <i class="icon htvbdh_chuyen-xu-ly"></i>
                    <span>Xuất file</span>
                </button>
                <button type="button" class="btn btn-main"
                    (click)="goDetail(null,['XHDTQG_PTDG_KHBDG_VT_DEXUAT_THEM','XHDTQG_PTDG_KHBDG_LT_DEXUAT_THEM'])"
                    *ngIf="userService.isCuc()">
                    <i class=" icon htvbdh_dau-cong"></i>
                    <span>Thêm</span>
                </button>
            </div>
        </div>
        <nz-card class="mt-2px flex-card data-table card-border-content table-card">
            <nz-table #basicTable nzBordered class="nowrap" [nzData]="dataTable" [nzFrontPagination]="false"
                [nzShowPagination]="false" nzBordered>
                <thead>
                    <tr>
                        <th width="45px">
                            <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
                                [nzIndeterminate]="indeterminate" nzDisabled="userService.isChiCuc()"></label>
                        </th>
                        <th class="text-center" style="width: 2%;">STT</th>
                        <th class="text-center" style="width: 7%;">Năm KH</th>
                        <th class="text-center" style="width: 7%;">Số kế hoạch</th>
                        <th class="text-center" style="width: 15%;" *ngIf="userService.isTongCuc()">Đơn vị</th>
                        <th class="text-center" style="width: 7%;">Ngày lập KH</th>
                        <th class="text-center" style="width: 7%;" *ngIf="userService.isCuc()">Ngày duyệt KH</th>
                        <th class="text-center" style="width: 5%;">Số QĐ PD KH BTT</th>
                        <th class="text-center" style="width: 9%;">Ngày ký QĐ</th>
                        <th class="text-center" style="width: 10%;">Trích yếu</th>
                        <th class="text-center" style="width: 10%;">Loại hàng hóa</th>
                        <th class="text-center" style="width: 12%;">Chủng loại hàng hóa</th>
                        <th class="text-center" style="width: 5%;">Số ĐV tài sản</th>
                        <th class="text-center" style="width: 5%;">SL HĐ đã ký</th>
                        <th class="text-center" style="width: 5%;">Số QĐ giao chỉ tiêu</th>
                        <th class="text-center" style="width: 7%;">Trạng thái đề xuất</th>
                        <th class="text-center" style="width: 7%;" *ngIf="userService.isTongCuc()">Trạng thái tổng hợp
                        </th>
                        <th width="90px">Hành động</th>
                    </tr>
                    <tr class="search-table">
                        <th></th>
                        <th></th>
                        <th>
                            <nz-input-group>
                                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.namKh"
                                    (input)="filterInTable('namKh',filterTable.namKh)" size="small" />
                            </nz-input-group>
                        </th>
                        <th>
                            <nz-input-group>
                                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soDxuat"
                                    (input)="filterInTable('soDxuat',filterTable.soDxuat)" size="small" />
                            </nz-input-group>
                        </th>
                        <th *ngIf="userService.isTongCuc()">
                            <nz-input-group>
                                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tenDvi"
                                    (input)="filterInTable('tenDvi',filterTable.tenDvi)" size="small" />
                            </nz-input-group>
                        </th>
                        <th>
                            <nz-date-picker nzFormat="dd/MM/YYYY" [(ngModel)]="filterTable.ngayTao"
                                (ngModelChange)="filterInTable('ngayTao',filterTable.ngayTao)">
                            </nz-date-picker>
                        </th>
                        <th *ngIf="userService.isCuc()">
                            <nz-date-picker nzFormat="dd/MM/YYYY" [(ngModel)]="filterTable.ngayPduyet"
                                (ngModelChange)="filterInTable('ngayPduyet',filterTable.ngayPduyet)">
                            </nz-date-picker>
                        </th>
                        <th>
                            <nz-input-group>
                                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soQdPd"
                                    (input)="filterInTable('soQdPd',filterTable.soQdPd)" size="small" />
                            </nz-input-group>
                        </th>
                        <th>
                            <nz-date-picker nzFormat="dd/MM/YYYY" [(ngModel)]="filterTable.ngayKyQd"
                                (ngModelChange)="filterInTable('ngayKyQd',filterTable.ngayKyQd)">
                            </nz-date-picker>
                        </th>
                        <th>
                            <nz-input-group>
                                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.trichYeu"
                                    (input)="filterInTable('trichYeu',filterTable.trichYeu)" size="small" />
                            </nz-input-group>
                        </th>
                        <th>
                            <nz-input-group>
                                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tenLoaiVthh"
                                    (input)="filterInTable('tenLoaiVthh',filterTable.tenLoaiVthh)" size="small" />
                            </nz-input-group>
                        </th>
                        <th>
                            <nz-input-group>
                                <input type="text" nz-input placeholder="Tìm kiếm"
                                    [(ngModel)]="filterTable.tenCloaiVthh"
                                    (input)="filterInTable('tenCloaiVthh',filterTable.tenCloaiVthh)" size="small" />
                            </nz-input-group>
                        </th>
                        <th>
                            <nz-input-group>
                                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soDviTsan"
                                    (input)="filterInTable('soDviTsan',filterTable.soDviTsan)" size="small" />
                            </nz-input-group>
                        </th>
                        <th>
                            <nz-input-group>
                                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.slHdDaKy"
                                    (input)="filterInTable('slHdDaKy',filterTable.slHdDaKy)" size="small" />
                            </nz-input-group>
                        </th>
                        <th>
                            <nz-input-group>
                                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soQdCtieu"
                                    (input)="filterInTable('soQdCtieu',filterTable.soQdCtieu)" size="small" />
                            </nz-input-group>
                        </th>

                        <th>
                            <nz-input-group>
                                <nz-select nzAllowClear [(ngModel)]="filterTable.tenTrangThai"
                                    (ngModelChange)="filterInTable('tenTrangThai',filterTable.tenTrangThai)">
                                    <nz-option *ngFor="let p of listTrangThai" [nzValue]="p.giaTri"
                                        [nzLabel]="p.giaTri"></nz-option>
                                </nz-select>
                            </nz-input-group>
                        </th>
                        <th *ngIf="userService.isTongCuc()">
                            <nz-input-group>
                                <nz-select nzAllowClear [(ngModel)]="filterTable.tenTrangThaiTh"
                                    (ngModelChange)="filterInTable('tenTrangThaiTh',filterTable.tenTrangThaiTh)">
                                    <nz-option *ngFor="let p of listTrangThaiTh" [nzValue]="p.giaTri"
                                        [nzLabel]="p.giaTri"></nz-option>
                                </nz-select>
                            </nz-input-group>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data; let i = index">
                        <td width="45px">
                            <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="updateSingleChecked()"
                                [nzDisabled]="data.trangThai != '00'"></label>
                        </td>
                        <td class="text-center">{{(page-1)*pageSize+i+1}}</td>
                        <td>{{ data.namKh }}</td>
                        <td>{{ data.soDxuat }}</td>
                        <td *ngIf="userService.isTongCuc()">{{ data.tenDvi }}</td>
                        <td>{{ data.ngayTao | date: 'dd/MM/YYYY' }}</td>
                        <td *ngIf="userService.isCuc()">{{ data.ngayPduyet | date: 'dd/MM/YYYY' }}</td>
                        <td class="text-blue">{{ data.soQdPd}}</td>
                        <td>{{ data.ngayKyQd | date: 'dd/MM/YYYY' }}</td>
                        <td>{{ data.trichYeu }}</td>
                        <td>{{ data.tenLoaiVthh }}</td>
                        <td>{{ data.tenCloaiVthh }}</td>
                        <td>5</td>
                        <td>3</td>
                        <td class="text-blue">{{ data.soQdCtieu}}</td>
                        <td>{{ data.tenTrangThai }}</td>
                        <td *ngIf="userService.isTongCuc()">{{ data.tenTrangThaiTh}}
                        <td class="text-left">
                            <a (click)="goDetail(data.id,['XHDTQG_PTDG_KHBDG_LT_DEXUAT_XEM','XHDTQG_PTDG_KHBDG_VT_DEXUAT_XEM'])"
                                *ngIf="(data.trangThai == STATUS.DA_DUYET_LDC || data.trangThai == STATUS.DA_DUYET_CBV )">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a *ngIf="(data.trangThai != STATUS.DA_DUYET_LDC && data.trangThai != STATUS.DA_DUYET_CBV )"
                                (click)="goDetail(data.id,['XHDTQG_PTDG_KHBDG_VT_DEXUAT_THEM','XHDTQG_PTDG_KHBDG_LT_DEXUAT_THEM'])">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a *ngIf="(data.trangThai == STATUS.DU_THAO )"
                                (click)="delete(data,['XHDTQG_PTDG_KHBDG_VT_DEXUAT_XOA','XHDTQG_PTDG_KHBDG_LT_DEXUAT_XOA'])">
                                <i class="fa fa-trash-o do"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <div class="tab-content tab-menu" id="myTabContent">
                <div class="tab-pane fade show active justify-content-between">
                    <div class="trai">
                    </div>
                    <div class="canphai">
                        <!-- begin phân trang  -->
                        <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord"
                            nzShowSizeChanger [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate"
                            (nzPageIndexChange)="changePageIndex($event)" (nzPageSizeChange)="changePageSize($event)">
                            <ng-template #rangeTemplate let-range="range" let-total>
                                {{ range[0] }}-{{ range[1] }} of {{ total }} items
                            </ng-template>
                        </nz-pagination>
                        <!-- end phân trang  -->
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
</div>
<div class="chi-tiet" *ngIf="isDetail">
    <app-them-moi-de-xuat-kh-ban-truc-tiep [idInput]="idSelected" [loaiVthhInput]="loaiVthh"
        (showListEvent)="showList()">
    </app-them-moi-de-xuat-kh-ban-truc-tiep>
</div>