:host ::ng-deep .create-row .ant-form-item {
  margin: 2px 0 2px;
}

.text-green {
  color: Blue;
  font-weight: 700;
  font-size: 12px;
}

.text-black {
  color: black;
  font-weight: 800;
  font-size: 13px;
}