<nz-affix [nzOffsetTop]="globals.prop.MENU_LV1" class="btn-affix" *ngIf="!isViewOnModal">
  <div class="btn-group">
    <button type="button" class="btn btn-sub" (click)="goBack()">
      <i class="fa fa-arrow-left"></i>
      <span>Quay lại</span>
    </button>
    <button class="btn btn-sub" *ngIf="formData.value.trangThai===STATUS.BAN_HANH">
      <i class="icon htvbdh_tcdt_print"></i>
      <span>In</span>
    </button>
    <button
      *ngIf=" userService.isAccessPermisson('XHDTQG_PTDG_QDGNVXH_DUYET_TP') && (formData.value.trangThai===STATUS.CHO_DUYET_TP)
      ||userService.isAccessPermisson('XHDTQG_PTDG_QDGNVXH_DUYET_LDCUC') && (formData.value.trangThai===STATUS.CHO_DUYET_LDC)"
      type="button" class="btn btn-sub do" (click)="tuChoi()">
      <i class="icon htvbdh_tcdt_tuchoi"></i>
      <span>Từ chối</span>
    </button>
    <button
      *ngIf="userService.isAccessPermisson('XHDTQG_PTDG_QDGNVXH_DUYET_TP') && (formData.value.trangThai===STATUS.CHO_DUYET_TP)
     ||userService.isAccessPermisson('XHDTQG_PTDG_QDGNVXH_DUYET_LDCUC') && (formData.value.trangThai===STATUS.CHO_DUYET_LDC)"
      type="button" class="btn btn-sub xanh-nhat" (click)="pheDuyet()">
      <i class="icon htvbdh_tcdt_pheduyet"></i>
      <span>Duyệt</span>
    </button>
    <button *ngIf="  userService.isAccessPermisson('XHDTQG_PTDG_QDGNVXH_THEM') && ((formData.value.trangThai===STATUS.DU_THAO)
     || (formData.value.trangThai===STATUS.TU_CHOI_TP) || (formData.value.trangThai===STATUS.TU_CHOI_LDC))"
      type="button" class="btn btn-sub xanh-nhat" (click)="save(true)">
      <i class="icon htvbdh_tcdt_guiduyet"></i>
      <span>Lưu và gửi duyệt</span>
    </button>

    <button *ngIf=" userService.isAccessPermisson('XHDTQG_PTDG_QDGNVXH_THEM') && ((formData.value.trangThai===STATUS.DU_THAO)
    || (formData.value.trangThai===STATUS.TU_CHOI_TP) || (formData.value.trangThai===STATUS.TU_CHOI_LDC))"
      type="button" class="btn btn-main" (click)="save()">
      <i class="icon htvbdh_tcdt_save"></i>
      <span>Lưu</span>
    </button>
  </div>
</nz-affix>
<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span [ngClass]="formData.value.trangThai == STATUS.BAN_HANH ? 'da-ban-hanh' : 'du-thao-va-lanh-dao-duyet'">
          {{ formData.value.tenTrangThai }}
        </span>
        <span> QUYẾT ĐỊNH GIAO NHIỆM VỤ XUẤT HÀNG </span>
      </div>
    </div>
  </div>
  <nz-alert class="mg-t-10"
    *ngIf="formData.value.trangThai == STATUS.TU_CHOI_LDC || formData.value.trangThai == STATUS.TU_CHOI_TP " nzShowIcon
    nzType="error" nzMessage="Lý do từ chối" nzDescription="{{formData.value.lyDoTuChoi}}">
  </nz-alert>
  <nz-card class="mg-t-16 flex-card p-lr16">
    <nz-collapse>
      <nz-collapse-panel nzActive="true" nzHeader="THÔNG TIN CHUNG">
        <form nz-form nzLayout="vertical" [formGroup]="formData">
          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="2">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">Năm xuất</nz-form-label>
                <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
                  <nz-select formControlName="nam" [nzDisabled]="isDisabled()">
                    <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Số QĐ xuất hàng</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfter="/{{maQd}}">
                    <nz-input-number formControlName="soQd" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                      [nzSize]="'small'" [nzDisabled]="isDisabled()">
                    </nz-input-number>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Ngày ký QĐ xuất hàng</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-date-picker formControlName="ngayKy" nzFormat="dd/MM/yyyy" [nzDisabled]="isDisabled()">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="4">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Căn cứ trên hợp đồng</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogSoHopDong()">
                    <input [readonly]="true" nz-input formControlName="soHd" readonly="true" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Mã đơn vị tài sản</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <input nz-input formControlName="maDviTsan" [readonly]="true" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Tên TCCN trúng đấu giá</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <input nz-input formControlName="tenTtcn" [readonly]="true" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Đơn vị ra quyết định</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <input nz-input formControlName="tenDvi" [readonly]="true" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Loại hàng hóa</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfterIcon="folder-open">
                    <input [readonly]="true" nz-input formControlName="tenLoaiVthh" readonly="true" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Chủng loại hàng hóa</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfterIcon="folder-open">
                    <input [readonly]="true" nz-input formControlName="tenCloaiVthh" readonly="true" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Tên hàng hóa</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="moTaHangHoa" [readonly]="true" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Số lượng </nz-form-label>
                <nz-form-control>
                  <nz-input-number [nzFormatter]="globals.formatter" nzDisabled formControlName="soLuong"
                    [nzSize]="'small'"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Đơn vị tính</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="donViTinh" [readonly]="true" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Thời gian giao nhận</nz-form-label>
                <nz-form-control>
                  <nz-date-picker formControlName="tgianGnhan" nzFormat="dd/MM/yyyy" [nzDisabled]="true">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Loại hình nhập xuất
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-select formControlName="loaiHinhNx" [nzDisabled]="true">
                    <nz-option *ngFor="let p of listLoaiHinhNx" [nzValue]="p.ma" [nzLabel]="p.giaTri">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Kiểu nhập xuất
                </nz-form-label>
                <nz-form-control >
                  <nz-select formControlName="kieuNx" [nzDisabled]="true">
                    <nz-option *ngFor="let p of listKieuNx" [nzValue]="p.ma" [nzLabel]="p.giaTri">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Trích yếu </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group>
                    <input nz-input formControlName="trichYeu" [readonly]="isDisabled()" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Căn cứ pháp lý
                </nz-form-label>
                <div class="list-file">
                  <file-list [disabled]="isDisabled()" [data]="fileDinhKems"></file-list>
                </div>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  File đính kèm QĐ giao nhiệm vụ xuất hàng đã ký
                </nz-form-label>
                <div class="list-file">
                  <file-list [disabled]="isDisabled()" [data]="fileDinhKem"></file-list>
                </div>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse>
      <nz-collapse-panel nzActive="true" nzHeader="ĐỊA ĐIỂM XUẤT HÀNG">
        <nz-table class="pd-10" nzBordered [nzData]="dataTable" [nzFrontPagination]="false" [nzShowPagination]="false">
          <thead>
            <tr>
              <th [width]="30"></th>
              <th>Cục DTNN KV</th>
              <th>Điểm kho</th>
              <th>Nhà kho</th>
              <th>Ngăn kho</th>
              <th>Lô kho</th>
              <th>Số lượng xuất</th>
<!--              <th>Trạng thái</th>-->
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of dataTable ;let i = index">
              <tr>
                <td class="text-center" [nzExpand]="expandSet.has(i)" (nzExpandChange)="onExpandChange(i, $event)"></td>
                <td>{{ data.tenDvi }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-black">{{ data.soLuong | number : '1.0-1' : 'vi_VN'}}</td>
<!--                <td>{{ data.tenTrangThai }}</td>-->
              </tr>
              <ng-container *ngIf="expandSet.has(i)">
                <tr *ngFor="let children of data.children">
                  <td></td>
                  <td></td>
                  <td>{{ children.tenDiemKho }}</td>
                  <td>{{ children.tenNhaKho }}</td>
                  <td>{{ children.tenNganKho }}</td>
                  <td>{{ children.tenLoKho }}</td>
                  <td>{{ children.soLuong | number : '1.0-1' : 'vi_VN'}}</td>
<!--                  <td></td>-->
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
          <tfoot>
            <tr *ngIf="dataTable.length > 0">
              <th colspan="5"></th>
              <th class="text-green">TỔNG SỐ</th>
              <th class="text-green"> {{ calcTong('soLuong') | number : '1.0-1' : 'vi_VN' }}
              </th>
<!--              <th></th>-->
            </tr>
          </tfoot>
        </nz-table>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>
</div>
<ng-template #error let-control>
  <app-template-error #error [control]="control"></app-template-error>
</ng-template>
