<nz-affix [nzOffsetTop]="globals.prop.MENU_LV2" class="btn-affix" *ngIf="!isQuyetDinh">
  <div class="btn-group" *ngIf="!isViewOnModal">
    <button type="button" class="btn btn-sub" (click)="goBack()">
      <i class="fa fa-arrow-left"></i>
      <span>Quay lại</span>
    </button>
    <button *ngIf="idInput && userService.isAccessPermisson('XHDTQG_PTTT_KHBTT_TONGHOP_IN')"
            type="button" class="btn btn-sub"
            (click)="xemTruoc(idInput,loaiVthh.startsWith(LOAI_HANG_DTQG.VAT_TU) ? templateNameVt : templateNameLt)">
      <i class="icon htvbdh_totrinh"></i>
      <span> Xem trước </span>
    </button>
    <ng-container>
      <button *ngIf="formData.value.trangThai == STATUS.CHUA_TAO_QD && formData.value.idTh" type="button"
              class="btn btn-sub xanh-nhat"
              (click)="save(true)">
        <i class="icon htvbdh_tcdt_tao-qd"></i>
        <span> Tạo quyết định </span>
      </button>
      <button *ngIf="formData.value.trangThai == STATUS.CHUA_TAO_QD && formData.value.idTh && !isView" type="button"
              class="btn btn-main"
              (click)="save()">
        <i class="icon htvbdh_tcdt_save"></i>
        <span> Lưu </span>
      </button>
    </ng-container>
  </div>
</nz-affix>
<div *ngIf="!isDetailDxCuc" class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
                <span [ngClass]="formData.value.trangThai == STATUS.DA_BAN_HANH_QD ? 'status-xanh' : 'status-do' ">
                    {{ formData.value.tenTrangThai }}
                </span>
        <span> TỔNG HỢP KẾ HOẠCH BÁN TRỰC TIẾP </span>
      </div>
    </div>
  </div>
  <nz-card class="mg-t-16 flex-card p-lr16">
    <form nzLayout="vertical" nz-form [formGroup]="formTraCuu">
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="2">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"> Năm kế hoạch</nz-form-label>
            <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
              <nz-select formControlName="namKh" [nzDisabled]="isView">
                <nz-option *ngFor="let item of listNam" [nzValue]="item.value" [nzLabel]="item.text"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4" *ngIf="!loaiVthh.startsWith(LOAI_HANG_DTQG.VAT_TU)">
          <nz-form-item>
            <nz-form-label nzRequired [nzNoColon]="true"> Loại hàng DTQG</nz-form-label>
            <nz-form-control nz-col [nzErrorTip]="error">
              <nz-input-group nzAddOnAfterIcon="folder-open" (click)="selectHangHoa()">
                <input nz-input formControlName="tenLoaiVthh" readonly/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="13" *ngIf="!loaiVthh.startsWith(LOAI_HANG_DTQG.VAT_TU)">
          <nz-form-item>
            <nz-form-label nzRequired [nzNoColon]="true"> Chủng loại hàng DTQG</nz-form-label>
            <nz-form-control nz-col [nzErrorTip]="error">
              <nz-input-group nzAddOnAfterIcon="folder-open" (click)="selectHangHoa()">
                <input nz-input formControlName="tenCloaiVthh" readonly/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8" *ngIf="loaiVthh.startsWith(LOAI_HANG_DTQG.VAT_TU)">
          <nz-form-item>
            <nz-form-label nzRequired [nzNoColon]="true"> Loại hàng DTQG</nz-form-label>
            <nz-form-control nz-col [nzErrorTip]="error">
              <nz-select formControlName="loaiVthh"
                         (ngModelChange)="onChangeCLoaiVthh($event, true)" [nzDisabled]="isView">
                <nz-option *ngFor="let item of listVatTuCha" [nzValue]="item.ma" [nzLabel]="item.ten">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="9" *ngIf="loaiVthh.startsWith(LOAI_HANG_DTQG.VAT_TU)">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"> Chủng loại hàng DTQG</nz-form-label>
            <nz-form-control nz-col>
              <nz-select formControlName="cloaiVthh" [nzDisabled]="isView">
                <nz-option *ngFor="let item of listVatTu" [nzValue]="item.ma" [nzLabel]="item.ten">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="5">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true"> Ngày phê duyệt KH bán trực tiếp của Cục</nz-form-label>
            <nz-form-control nz-col [nzErrorTip]="error">
              <div nz-row>
                <div nz-col [nzSpan]="12" class="cus-start-date">
                  <nz-date-picker [nzDisabledDate]="disabledNgayDuyetTu" nzFormat="dd/MM/yyyy"
                                  formControlName="ngayDuyetTu" nzPlaceHolder="Ngày bắt đầu"
                                  [nzDisabled]="isView">
                  </nz-date-picker>
                </div>
                <div nz-col [nzSpan]="12" class="cus-end-date">
                  <nz-date-picker [nzDisabledDate]="disabledNgayDuyetDen" nzFormat="dd/MM/yyyy"
                                  formControlName="ngayDuyetDen" nzPlaceHolder="Ngày kết thúc"
                                  [nzDisabled]="isView">
                  </nz-date-picker>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24" *ngIf="!isViewOnModal">
          <div class="sumarry-button group-button-search mt-16">
            <button [disabled]="isView" class="btn btn-main btn-sm waves-effect waves-light"
                    (click)="isView ? null : tongHopDeXuatTuCuc()"
                    *ngIf="userService.isAccessPermisson('XHDTQG_PTTT_KHBTT_TONGHOP_TONGHOP')">
              <i class="icon htvbdh_tcdt_tong-hop-de-xuat-tu-cuc"></i>
              <span> Tổng hợp KH bán trực tiếp </span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </nz-card>
  <nz-card class="mg-t-16 flex-card p-lr16" *ngIf="isTongHop">
    <nz-collapse nzAccordion>
      <nz-collapse-panel [nzHeader]="'THÔNG TIN TỔNG HỢP'" [nzActive]="true">
        <form nzLayout="vertical" nz-form [formGroup]="formData">
          <div nz-row [nzGutter]="20">
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true">
                  Mã tổng hợp
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
                  <nz-input-number formControlName="idTh" [nzSize]="'small'" nzDisabled>
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true">
                  Ngày tổng hợp
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
                  <nz-date-picker formControlName="ngayThop" nzFormat="dd/MM/yyyy" nzDisabled="true">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true">
                  Nội dung tổng hợp
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
                                    <textarea formControlName="noiDungThop" nz-input [rows]="3"
                                              [readonly]="isView"></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse nzAccordion class="pd-10">
      <nz-collapse-panel [nzHeader]="'THÔNG TIN CHI TIẾT ĐỀ XUẤT CỦA CÁC CỤC DTNN KV'" [nzActive]="true">
        <nz-table [nzData]="formData.value.children" class="nowrap pd-10" nzBordered [nzFrontPagination]="false"
                  [nzShowPagination]="false">
          <thead>
          <tr>
            <th nzWidth="50px" class="text-center wrap"> STT</th>
            <th class="text-left"> Cục DTNN KV</th>
            <th class="text-left"> Số công văn/tờ trình</th>
            <th class="text-left"> Ngày ký</th>
            <th class="text-left"> Trích yếu</th>
            <th class="text-center"> SL đơn vị tài sản</th>
            <th class="text-center">Tổng SL xuất bán đề xuất
              {{loaiVthh.startsWith(LOAI_HANG_DTQG.VAT_TU) ? '' : '(đ/kg)'}}
            </th>
            <th class="text-center"> Thành tiền Cục đề xuất (đ)</th>
            <th class="text-left"> Trạng thái</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let data of formData.value.children;let i = index">
            <tr [ngClass]="{'bg-selected': i == 0 && this.selected}" (click)="showDetail($event,data.idDxHdr)">
              <td class="text-center">{{i + 1}} </td>
              <td class="text-left" style="max-width: 250px; min-width: 200px;  white-space: break-spaces;">
                {{ data.tenDvi }}
              </td>
              <td class="text-left">{{ data.soDxuat }}</td>
              <td class="text-left">{{ data.ngayPduyet|date:'dd/MM/yyyy'}}</td>
              <td class="text-left">
                <ng-container *ngIf="data.trichYeu.length > 20; else shortDescription">{{ data.trichYeu | slice:0:20 }}
                  ...
                </ng-container>
                <ng-template #shortDescription>{{ data.trichYeu }}</ng-template>
              </td>
              <td class="text-center">{{ data.slDviTsan}}</td>
              <td class="text-right">{{ data.tongSoLuong|number:globals.numberFormat:globals.locale }}</td>
              <td class="text-right">{{ data.thanhTien|number:globals.numberFormat:globals.locale }}</td>
              <td class="text-left">{{ data.tenTrangThai}}</td>
            </tr>
          </ng-container>
          </tbody>
        </nz-table>
        <app-them-moi-de-xuat-kh-ban-truc-tiep *ngIf="idRowSelect" [idInput]="idRowSelect" [showFromTH]="true"
                                               [loaiVthh]="loaiVthh" [isView]="true">
        </app-them-moi-de-xuat-kh-ban-truc-tiep>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>
</div>
<ng-template #error let-control>
  <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}</ng-container>
</ng-template>
<div *ngIf="isQuyetDinh" class="chi-tiet">
  <app-them-moi-qd-phe-duyet-kh-ban-truc-tiep (showListEvent)="goBack()">
  </app-them-moi-qd-phe-duyet-kh-ban-truc-tiep>
</div>
<nz-modal [nzWidth]="'75%'" [nzClosable]="false" [(nzVisible)]="showDlgPreview" nzWidth="100%"
          (nzOnCancel)="closeDlg()">
  <div *nzModalContent class="modal__content">
    <pdf-viewer [src]="pdfSrc" [render-text]="true" style="width: 100%; height: 600px;"></pdf-viewer>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="printPreview()"
            class="modal__button--save">
      <i class="icon htvbdh_printer"></i>
      In
    </button>
    <button nz-button (click)="downloadPdf(loaiVthh === LOAI_HANG_DTQG.VAT_TU ? templateNameVt : templateNameLt)"
            class="modal__button--save">
      <i class="icon htvbdh_file-pdf"></i>
      Xuất .pdf
    </button>
    <button nz-button (click)="downloadWord(loaiVthh === LOAI_HANG_DTQG.VAT_TU ? templateNameVt : templateNameLt)"
            class="modal__button--save">
      <i class="icon htvbdh_file-word"></i>
      Xuất .docx
    </button>
    <button nz-button (click)="closeDlg()" class="modal__button--cancel">
      <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
      Đóng
    </button>
  </div>
</nz-modal>
