<div *ngIf="tabSelected == 'danhsach'" class="luong-thuc__danh-sach">
    <app-danh-sach-de-nghi-cap-von (dataChange)="changeTab($event)"></app-danh-sach-de-nghi-cap-von>
</div>
<div *ngIf="tabSelected == 'dongia'" class="chi-tiet">
    <app-de-nghi-theo-don-gia-mua [data]="data" (dataChange)="changeTab($event)"></app-de-nghi-theo-don-gia-mua>
</div>
<div *ngIf="tabSelected == 'hopdong'" class="chi-tiet">
    <app-de-nghi-theo-hop-dong-trung-thau [data]="data" (dataChange)="changeTab($event)">
    </app-de-nghi-theo-hop-dong-trung-thau>
</div>