<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span
          [ngClass]="formData.value.trangThai == STATUS.BAN_HANH ? 'status-xanh' : 'status-do'">
          {{ formData.value.tenTrangThai }}
        </span>
        <span>Báo cáo nguồn hình thành dự trữ quốc gia</span>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sub" (click)="quayLai()">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>
      <ng-container>
        <button *ngIf="formData.value.trangThai == STATUS.DU_THAO
        && userService.isAccessPermisson('BCBN_LAPBAOCAO_TT130_NHTDTQG_DUYET')"
          type="button" class="btn btn-sub xanh-nhat" (click)="guiDuyet(idInput)">
          <i class="icon htvbdh_tcdt_pheduyet"></i>
          <span>Ban hành</span>
        </button>
        <button *ngIf="formData.value.trangThai == STATUS.DU_THAO && !isView && userService.isAccessPermisson('BCBN_LAPBAOCAO_TT130_NHTDTQG_LAP')"
          type="button" class="btn btn-main" (click)="save()">
          <i class="icon htvbdh_tcdt_save"></i>
          <span>Lưu</span>
        </button>
      </ng-container>
    </div>
  </div>
<nz-card class="mg-t-16 flex-card p-lr16">
  <div class="header header-green-background mg-t-16">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span></span>
        <span>Thông tin chung</span>
      </div>
    </div>
  </div>
  <form nzLayout="vertical" nz-form [formGroup]="formData">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true"> Thông tư số</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input nz-input readonly formControlName="thongTuSo" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true"> Biểu số</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input nz-input readonly formControlName="bieuSo" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true"> Đơn vị gửi báo cáo</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input nz-input readonly formControlName="tenDonViGui" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true"> Đơn vị nhận báo cáo</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input nz-input readonly formControlName="tenDonViNhan" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label nzRequired [nzNoColon]="true"> Thời gian tạo</nz-form-label>
          <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
            <nz-date-picker nzDisabled formControlName="ngayTao" nzFormat="dd/MM/yyyy">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true" class="label-color-kh"> Năm báo cáo
          </nz-form-label>
          <nz-select formControlName="namBc" [nzDisabled]="isView">
            <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
          </nz-select>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true" class="label-color-kh"> Kỳ báo cáo
          </nz-form-label>
          <nz-select formControlName="kyBc" [nzDisabled]="isView">
            <nz-option *ngFor="let p of listQuy" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
          </nz-select>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true" class="label-color-kh"> Loại báo cáo
          </nz-form-label>
          <nz-select formControlName="loaiBc" (ngModelChange)="changeLoaiBc($event)" [nzDisabled]="isView">
            <nz-option *ngFor="let p of listLoaiBc" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
          </nz-select>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true"> Thời hạn gửi báo cáo</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input nz-input readonly formControlName="thoiHanGuiBc" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-card>
<div class="group-button">
  <h3>DANH SÁCH BÁO CÁO NGUỒN HÌNH THÀNH DỰ TRỮ QUỐC GIA</h3>
  <div class="buttons">
    <button
            type="button" class="btn btn-sub xanh-nhat" (click)="downloadTemplate(templateName)">
      <i class="icon htvbdh_download2"></i>
      <span>Tải biểu mẫu import dữ liệu</span>
    </button>
    <input type="file" (change)="handleSelectFile($event)"/>
  </div>
</div>
<nz-card class="mt-2px flex-card data-table card-border-content table-card">
  <nz-table class="nowrap" [nzData]="dataTable" [nzFrontPagination]="false"
            [nzShowPagination]="false" nzBordered>
    <thead>
    <tr>
      <th rowSpan="3" class="text-center" style="width: 15%">Nội dung</th>
      <th rowSpan="3" class="text-center" style="width: 5%">Mã số</th>
      <th colSpan="5" class="text-center" style="width: 30%">Nguồn hình thành DTQG trong kỳ (tỷ đồng)</th>
      <th colSpan="5" class="text-center" style="width: 30%">Lũy kế từ đầu năm (tỷ đồng)</th>
      <th rowSpan="3" class="text-center multi-line" style="width: 10%">Tỷ lệ (%) tổng dự toán chi DTQG so với GDP cùng
        kỳ
      </th>
      <th rowSpan="3" class="text-center" style="width: 10%">Hành động</th>
    </tr>
    <tr>
      <th colSpan="4" class="text-center">Dự toán NSNN chi cho mua hàng DTQG</th>
      <th rowSpan="2" class="text-center">Tổng</th>
      <th colSpan="4" class="text-center">Dự toán NSNN chi cho mua hàng DTQG</th>
      <th rowSpan="2" class="text-center">Tổng</th>
    </tr>
    <tr>
      <th class="text-center">Mua tăng</th>
      <th class="text-center">Mua bù</th>
      <th class="text-center">Mua bổ sung</th>
      <th class="text-center">Mua khác</th>
      <th class="text-center">Mua tăng</th>
      <th class="text-center">Mua bù</th>
      <th class="text-center">Mua bổ sung</th>
      <th class="text-center">Mua khác</th>
    </tr>
    <tr class="grey-bg">
      <th class="text-center">A</th>
      <th class="text-center">B</th>
      <th class="text-center">1</th>
      <th class="text-center">2</th>
      <th class="text-center">3</th>
      <th class="text-center">4</th>
      <th class="text-center">5</th>
      <th class="text-center">6</th>
      <th class="text-center">7</th>
      <th class="text-center">8</th>
      <th class="text-center">9</th>
      <th class="text-center">10</th>
      <th class="text-center">11</th>
      <th class="text-center"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataNguonNsnn; let i = index" class="bold-first-child">
      <ng-container *ngIf="!data.edit; else editTemplate">
        <td>{{ data.noiDung }}</td>
        <td>{{ data.maSo }}</td>
        <td class="text-right">{{ data.muaTangTrongKy | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.muaBuTrongKy | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.muaBsungTrongKy | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.khacTrongKy | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.tongTrongKy | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.muaTangLuyKe | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.muaBuLuyKe | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.muaBsungLuyKe | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.khacLuyKe | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.tongLuyKe | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.tiLe | number : '1.2-2' : 'vi_VN' }}</td>
        <td>
          <a (click)="editRowNguon(i)" *ngIf="!isView && data.dmLevel == 2">
            <i class=" fa fa-pencil"></i>
          </a>
          <a (click)="deleteRowNguon(i)" *ngIf="!isView && data.dmLevel == 2">
            <i class=" fa fa-trash-o do"></i>
          </a>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <td><input nz-input [(ngModel)]="itemRowNguonEdit[i].noiDung" /></td>
        <td><input nz-input [(ngModel)]="itemRowNguonEdit[i].maSo" /></td>
        <td>
          <input class="money-input" currencyMask [options]="amount" [min]="0"
                 [(ngModel)]="itemRowNguonEdit[i].muaTangTrongKy"/>
        </td>
        <td>
          <input class="money-input" currencyMask [options]="amount" [min]="0"
                 [(ngModel)]="itemRowNguonEdit[i].muaBuTrongKy"/>
        </td>
        <td>
          <input class="money-input" currencyMask [options]="amount" [min]="0"
                 [(ngModel)]="itemRowNguonEdit[i].muaBsungTrongKy"/>
        </td>
        <td>
          <input class="money-input" currencyMask [options]="amount" [min]="0"
                 [(ngModel)]="itemRowNguonEdit[i].khacTrongKy"/>
        </td>
        <td></td>
        <td>
          <input class="money-input" currencyMask [options]="amount" [min]="0"
                 [(ngModel)]="itemRowNguonEdit[i].muaTangLuyKe"/>
        </td>
        <td>
          <input class="money-input" currencyMask [options]="amount" [min]="0"
                 [(ngModel)]="itemRowNguonEdit[i].muaBuLuyKe"/>
        </td>
        <td>
          <input class="money-input" currencyMask [options]="amount" [min]="0"
                 [(ngModel)]="itemRowNguonEdit[i].muaBsungLuyKe"/>
        </td>
        <td>
          <input class="money-input" currencyMask [options]="amount" [min]="0"
                 [(ngModel)]="itemRowNguonEdit[i].khacLuyKe"/>
        </td>
        <td></td>
        <td>
          <input class="money-input" currencyMask [options]="amount" [min]="0"
                 [(ngModel)]="itemRowNguonEdit[i].tiLe"/>
        <td>
          <a (click)="saveEditRowNguon(i)">
            <i class="icon htvbdh_tcdt_save"></i>
          </a>
          <a (click)="cancelEditRowNguon(i)">
            <i class="fa fa-ban do"></i>
          </a>
        </td>
      </ng-template>
    </tr>
    <tr *ngIf="!isView">
      <td><input nz-input [(ngModel)]="itemRowNguon.noiDung" /></td>
      <td><input nz-input [(ngModel)]="itemRowNguon.maSo" /></td>
      <td>
        <input class="money-input" currencyMask [options]="amount" [min]="0"
               [(ngModel)]="itemRowNguon.muaTangTrongKy"/>
      </td>
      <td>
        <input class="money-input" currencyMask [options]="amount" [min]="0"
               [(ngModel)]="itemRowNguon.muaBuTrongKy"/>
      </td>
      <td>
        <input class="money-input" currencyMask [options]="amount" [min]="0"
               [(ngModel)]="itemRowNguon.muaBsungTrongKy"/>
      </td>
      <td>
        <input class="money-input" currencyMask [options]="amount" [min]="0"
               [(ngModel)]="itemRowNguon.khacTrongKy"/>
      </td>
      <td></td>
      <td>
        <input class="money-input" currencyMask [options]="amount" [min]="0"
               [(ngModel)]="itemRowNguon.muaTangLuyKe"/>
      </td>
      <td>
        <input class="money-input" currencyMask [options]="amount" [min]="0"
               [(ngModel)]="itemRowNguon.muaBuLuyKe"/>
      </td>
      <td>
        <input class="money-input" currencyMask [options]="amount" [min]="0"
               [(ngModel)]="itemRowNguon.muaBsungLuyKe"/>
      </td>
      <td>
        <input class="money-input" currencyMask [options]="amount" [min]="0"
               [(ngModel)]="itemRowNguon.khacLuyKe"/>
      </td>
      <td></td>
      <td>
        <input class="money-input" currencyMask [options]="amount" [min]="0"
               [(ngModel)]="itemRowNguon.tiLe"/>
      </td>
      <td>
        <a (click)="addRowNguon()" [class.disabled]="!itemRowNguon">
          <i class="fa fa-plus"></i>
        </a>
        <a (click)="clearItemRow()">
          <i class="fa fa-refresh"></i>
        </a>
      </td>
    </tr>
    <tr *ngFor="let data of dataNguonNgoaiNsnn; let i = index" class="bold-first-child">
      <ng-container *ngIf="!data.edit; else editNnTemplate">
        <td>{{ data.noiDung }}</td>
        <td>{{ data.maSo }}</td>
        <td class="text-right">{{ data.muaTangTrongKy | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.muaBuTrongKy | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.muaBsungTrongKy | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.khacTrongKy | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.tongTrongKy | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.muaTangLuyKe | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.muaBuLuyKe | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.muaBsungLuyKe | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.khacLuyKe | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.tongLuyKe | number : '1.2-2' : 'vi_VN' }}</td>
        <td class="text-right">{{ data.tiLe | number : '1.2-2' : 'vi_VN' }}</td>
        <td>
          <a (click)="editRowNgoaiNguon(i)" *ngIf="!isView">
            <i class=" fa fa-pencil"></i>
          </a>
          <a (click)="deleteRowNgoaiNguon(i)" *ngIf="!isView">
            <i class=" fa fa-trash-o do"></i>
          </a>
        </td>
      </ng-container>
      <ng-template #editNnTemplate>
        <td><input nz-input [(ngModel)]="itemRowNgoaiNguonEdit[i].noiDung" /></td>
        <td><input nz-input [(ngModel)]="itemRowNgoaiNguonEdit[i].maSo" /></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <input class="money-input" currencyMask [options]="amount" [min]="0"
                 [(ngModel)]="itemRowNgoaiNguonEdit[i].tongTrongKy"/>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <input class="money-input" currencyMask [options]="amount" [min]="0"
                 [(ngModel)]="itemRowNgoaiNguonEdit[i].tongLuyKe"/>
        </td>
        <td>
          <input class="money-input" currencyMask [options]="amount" [min]="0"
                 [(ngModel)]="itemRowNgoaiNguonEdit[i].tiLe"/>
        </td>
        <td>
          <a (click)="saveEditRowNgoaiNguon(i)">
            <i class="icon htvbdh_tcdt_save"></i>
          </a>
          <a (click)="cancelEditRowNgoaiNguon(i)">
            <i class="fa fa-ban do"></i>
          </a>
        </td>
      </ng-template>
    </tr>
    <tr *ngIf="!isView">
      <td><input nz-input [(ngModel)]="itemRowNgoaiNguon.noiDung" /></td>
      <td><input nz-input [(ngModel)]="itemRowNgoaiNguon.maSo" /></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <input class="money-input" currencyMask [options]="amount" [min]="0"
               [(ngModel)]="itemRowNgoaiNguon.tongTrongKy"/>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <input class="money-input" currencyMask [options]="amount" [min]="0"
               [(ngModel)]="itemRowNgoaiNguon.tongLuyKe"/>
      </td>
      <td>
        <input class="money-input" currencyMask [options]="amount" [min]="0"
               [(ngModel)]="itemRowNgoaiNguon.tiLe"/>
      </td>
      <td>
        <a (click)="addRowNgoaiNguon()" [class.disabled]="!itemRowNgoaiNguon">
          <i class="fa fa-plus"></i>
        </a>
        <a (click)="clearItemRowNn()">
          <i class="fa fa-refresh"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td class="first-last-row-table background-last-row text-right">Tổng</td>
      <td class="text-center"></td>
      <td class="text-center">X</td>
      <td class="text-center">X</td>
      <td class="text-center">X</td>
      <td class="text-center">X</td>
      <td class="text-right">{{calTongChi() | number : '1.2-2' : 'vi_VN'}}</td>
      <td class="text-center">X</td>
      <td class="text-center">X</td>
      <td class="text-center">X</td>
      <td class="text-center">X</td>
      <td class="text-right">{{calTongLuyKe() | number : '1.2-2' : 'vi_VN'}}</td>
      <td class="text-center"></td>
      <td class="text-center"></td>
    </tr>
    </tbody>
  </nz-table>
  <label><span style="color: red">* </span> Ghi chú</label>
  <textarea rows="3" [readonly]="isView" nz-input [(ngModel)]="ghiChu"></textarea>
</nz-card>
</div>
<ng-template #error let-control>
  <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}</ng-container>
</ng-template>
