/* header color #01937C.187779........................*/
$maincolor: #353a64;

$color-tab: #ffffff;
$color-fb: #fefefe;
$color-fa: #fafafa;
$color-f9: #f9f9f9;
$color-f1: #f1f1f1;
$color-f2: #f2f2f2;
$color-e4: #e4e4e4;
$color-f0: #f0f0f0;
$color-a0: #a0a0a0;
$color-9: #999;
$color-label: #8a8a8a;
$color-a: #aaa;
$color-text: #444;
$color-textB: $maincolor; //$color-text;
$color-icon-xam: lighten($color-text, 20%);
$red: rgb(224, 6, 6);
$red-border: darken($red, 10%);
$xanhla: #8bc34c;
$xanhdam: #416d0e;
$xanhduong: #2196f3;
$cam: orange;
$vang: #ffeb3b;
$tim: orchid;
$choxuly: rgb(192, 192, 192);
$choxuly-border: darken($choxuly, 10%);
$dangxuly: rgb(248, 173, 173);
$dangxuly-border: darken($dangxuly, 10%);
$tralai: rgb(173, 248, 198);
$tralai-border: darken($tralai, 10%);
$hoanthanh: rgb(146, 201, 231); //$xanhla;
$hoanthanh-border: darken($hoanthanh, 10%);
$thuhoi: #4e4e4e; //#4260cf;
$thuhoi-border: darken($thuhoi, 10%);
$ldcd: #8f0a0a;
$ldcd-border: darken($ldcd, 10%);
$xykld: $cam;
$xykld-border: darken($xykld, 10%);
$xulychinh: $red;
$xulychinh-border: darken($xulychinh, 10%);
$phoihop: $xanhduong;
$phoihop-border: darken($phoihop, 10%);
$congbo: $xanhdam;
$congbo-border: darken($congbo, 10%);
$nhandebiet: $xanhla;
$datiepnhan: $xanhla;
$nhandebiet-border: darken($nhandebiet, 10%);
$color-icon: $color-text;
$khonghoatdong: #e1e1e1;
$tronghan: #8bc34c;
$sapdenhan: #ffa500;
$quahan: #e00606;
$chuabatdau: #d5d5d5;

$subcolor: #e3f9f9;

$dark-gray: #828282;
