.bgXam {
  background: #f8f9fa;
  padding: 12px;
  margin: 12px;
  border-radius: 0px;
  border: solid 1px #f1f1f1;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.bgTrang {
  background: #ffffff;
  padding: 12px;
  margin: 12px;
  border-radius: 0px;
  border: solid 1px #f1f1f1;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

::ng-deep {
  .them-moi-nhap-xuat-hang__body {

    .table__body,
    .ghi-chu {
      margin-left: 10px;
      margin-right: 10px;
    }

    .ant-form-item-label {
      label {
        margin-bottom: 0px !important;
      }
    }

    .ant-form {
      .ant-row {
        .ant-col {
          padding: 0px 9px !important;
        }
      }
    }

    .header-table-nvnh {
      height: 163px;
    }
  }

  .specical-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #111111;
  }

  .content-thong-tin {
    padding: 0;
    margin: 0px !important;
  }
}