.ghichu_tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  height: 26px;
  color: red;
}

.text-btc {
  color: blue;
}


.bg-parent td {
  background-color: #D9D9D9;
}

.bg-parent1 {
  background-color: #EAEAEA;
}

.bg-parent2 {
  background-color: #F3F3F3;
}

.text-btc {
  color: blue;
}
