:host ::ng-deep .ant-form-vertical .ant-form-item-label {
    line-height: 1;

    label {
        height: 32px;
    }
}

.icon-file-dinh-kem {
    display: flex;
    align-items: center;
    position: relative;

    .input-file {
        width: 20px;
        height: 20px;
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}