<div class="bg-trang">
  <nz-card class="mt16 flex-card p-lr16">
    <form [nzLayout]="'vertical'" nz-form [formGroup]="formData">
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="3">
          <label>Năm kế hoạch</label>
          <nz-select formControlName="nam">
            <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="3">
          <label>Số hợp đồng</label>
          <input nz-input placeholder="" formControlName="soHd"/>
        </div>
        <div nz-col nzSpan="4">
          <label>Tên hợp đồng</label>
          <input nz-input placeholder="" formControlName="tenHd"/>
        </div>
        <div nz-col nzSpan="6">
          <label>Đơn vị thực hiện</label>
          <nz-select formControlName="maDvi">
            <nz-option *ngFor="let p of dsDonvi" [nzValue]="p.maDvi" [nzLabel]="p.tenDvi"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="4">
          <label>Tổ chức/cá nhân thắng đấu giá</label>
          <input nz-input placeholder="" formControlName="tenDviMua"/>
        </div>
        <div nz-col nzSpan="4">
          <label>Ngày ký QĐ phê duyệt KQ BĐG</label>
          <div nz-row>
            <div nz-col nzSpan="12" class="cus-start-date">
              <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="ngayKyTu"
                              nzPlaceHolder="Ngày bắt đầu">
              </nz-date-picker>
            </div>
            <div nz-col nzSpan="12" class="cus-end-date">
              <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="ngayKyDen"
                              nzPlaceHolder="Ngày kết thúc"></nz-date-picker>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="cangiua group-button-search">
      <button nz-button class="search__button--clear" (click)="clearForm()">
        <i class="icon  htvbdh_nhap-lai1"></i>
        Xóa điều kiện
      </button>
      <button nz-button class="search__button--search" (click)="search()">
        <i nz-icon nzType="search"></i>
        Tìm kiếm
      </button>
    </div>
  </nz-card>
  <div class="group-button">
    <h3 class="text-uppercase"> QUẢN LÝ KÝ HỢP ĐỒNG THANH LÝ HÀNG DTQG THEO PHƯƠNG THỨC ĐẤU GIÁ </h3>
    <div class="buttons">
      <button type="button" class="btn btn-sub"
              (click)="exportData('quan-ly-ky-hop-dong-ban-hang-dtqg-theo-phuong-thuc-ban-dau-gia.xlsx')">
        <i class="icon htvbdh_chuyen-xu-ly"></i>
        <span>Xuất file</span>
      </button>
      <button type="button" class="btn btn-main" *ngIf="userService.isCuc()" (click)="redirectCreate('XHDTQG_XTL_TCKHBDG_HDPL_THEM')">
        <i class="icon htvbdh_dau-cong"></i>
        <span>Thêm hợp đồng</span>
      </button>
    </div>
  </div>
  <nz-card class="mt-2px flex-card data-table card-border-content table-card">
    <nz-table #basicTable nzBordered class="nowrap" [nzData]="dataTable" [nzFrontPagination]="false"
              [nzShowPagination]="false">
      <thead>
      <tr>
        <th width="60px">STT</th>
        <th width="100px">Năm KH</th>
        <th width="130px">QĐ thanh lý</th>
        <th width="175px">QĐ PD KQBĐG</th>
        <th width="175px" class="wrap">Tổng số ĐV tài sản</th>
        <th width="175px" class="wrap">Số ĐVTS ĐG thành công</th>
        <th width="175px" class="wrap">SL HĐ đã ký</th>
        <th width="175px">ĐV thực hiện</th>
        <th width="90px">Trạng thái HĐ</th>
        <th width="90px">Trạng thái XH</th>
        <th width="120px">Hành động</th>
      </tr>
      <tr class="search-table">
        <th></th>
        <th>
          <nz-input-group>
            <nz-input-group>
              <nz-select nzAllowClear [(ngModel)]="filterTable.nam"
                         (ngModelChange)="filterInTable('nam',filterTable.nam)">
                <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
              </nz-select>
            </nz-input-group>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soQdPd"
                   (input)="filterInTable('soQdPd',filterTable.soQdPd)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soQdKq"
                   (input)="filterInTable('soQdKq',filterTable.soQdKq)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tongDvts"
                   (input)="filterInTable('tongDvts',filterTable.tongDvts)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tongDvtsDg"
                   (input)="filterInTable('tongDvtsDg',filterTable.tongDvtsDg)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.slHdDaKy"
                   (input)="filterInTable('slHdDaKy',filterTable.slHdDaKy)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tenCloaiVthh"
                   (input)="filterInTable('tenCloaiVthh',filterTable.tenCloaiVthh)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.thanhTien"
                   (input)="filterInTable('thanhTien',filterTable.thanhTien)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <nz-select nzAllowClear [(ngModel)]="filterTable.trangThaiHd"
                       (ngModelChange)="filterInTable('trangThaiHd',filterTable.trangThaiHd)">
              <nz-option *ngFor="let p of listTrangThaiHd" [nzValue]="p.ma" [nzLabel]="p.giaTri"></nz-option>
            </nz-select>
          </nz-input-group>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td class="text-center">{{(page - 1) * pageSize + i + 1}}</td>
        <td>{{ data.nam }}</td>
        <td>
          <a *ngIf="data.xhTlQuyetDinhHdr?.soQd && data.xhTlQuyetDinhHdr?.id" nz-button nzType="link" >{{data.xhTlQuyetDinhHdr?.soQd}}</a>
        </td>
        <td>
          <a *ngIf="data.soQd && data.id" nz-button nzType="link" >{{data.soQd}}</a>
        </td>
        <td>{{ data.xhTlQuyetDinhHdr?.tongDviTsan }}</td>
        <td>{{ data.xhTlQuyetDinhHdr?.tongDviTsanThanhCong }}</td>
        <td>{{ data.slHdDaKy }}</td>
        <td>{{ data.tenDvi }}</td>
        <td>{{ data.tenTrangThaiHd }}</td>
        <td>{{ data.tenTrangThaiXh }}</td>
        <td class="text-left">
          <a (click)="redirectDetail(data.id)"
             *ngIf="data.trangThaiHd!=STATUS.DA_HOAN_THANH && userService.isCuc()">
            <i class="fa fa-pencil" title="Sửa"></i>
          </a>
          <a (click)="redirectDetail(data.id)"
             *ngIf="data.trangThaiHd==STATUS.DA_HOAN_THANH || userService.isTongCuc()">
            <i class="fa fa-eye" title="Xem chi tiết"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <div class="tab-content tab-menu" id="myTabContent">
      <div class="tab-pane fade show active justify-content-between">
        <div class="trai">

        </div>
        <div class="canphai">
          <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord" nzShowSizeChanger
                         [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate"
                         (nzPageIndexChange)="changePageIndex($event)"
                         (nzPageSizeChange)="changePageSize($event)">
            <ng-template #rangeTemplate let-range="range" let-total>
              {{ range[0] }}-{{ range[1] }} trên tổng số {{ total }} bản ghi
            </ng-template>
          </nz-pagination>
        </div>
      </div>
    </div>
  </nz-card>
</div>
<!--<ng-container *ngIf="isDetail">-->
<!--  <app-thong-tin-hop-dong-thanh-ly *ngIf="isAddNew" [id]="idSelected" (showListEvent)="showList()">-->
<!--  </app-thong-tin-hop-dong-thanh-ly>-->
<!--  <app-quan-ly-hop-dong-thanh-ly *ngIf="isQuanLy" [id]="idSelected" (showListEvent)="showList()">-->
<!--  </app-quan-ly-hop-dong-thanh-ly>-->
<!--</ng-container>-->

<!--<nz-modal class="scroll-nz-modal" [nzWidth]="'90%'" [(nzVisible)]="isViewQdTl" (nzOnCancel)="closeModalQdTl()">-->
<!--  <ng-container *nzModalContent class="modal__content custom-scroll-modal">-->
<!--  </ng-container>-->
<!--  <div *nzModalFooter>-->
<!--    <button nz-button (click)="closeModalQdTl()" class="modal__button&#45;&#45;cancel">-->
<!--      <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>-->
<!--      Đóng-->
<!--    </button>-->
<!--  </div>-->
<!--</nz-modal>-->

<!--<nz-modal class="scroll-nz-modal" [nzWidth]="'90%'" [(nzVisible)]="isViewQdKq" (nzOnCancel)="closeModalQdKq()">-->
<!--  <ng-container *nzModalContent class="modal__content custom-scroll-modal">-->
<!--&lt;!&ndash;    <app-chi-tiet-quyet-dinh-phe-duyet-bdg-thanh-ly [idSelected]="idQdKq" [isViewOnModal]="true">&ndash;&gt;-->
<!--&lt;!&ndash;    </app-chi-tiet-quyet-dinh-phe-duyet-bdg-thanh-ly>&ndash;&gt;-->
<!--  </ng-container>-->
<!--  <div *nzModalFooter>-->
<!--    <button nz-button (click)="closeModalQdKq()" class="modal__button&#45;&#45;cancel">-->
<!--      <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>-->
<!--      Đóng-->
<!--    </button>-->
<!--  </div>-->
<!--</nz-modal>-->
