<nz-card class="mt-2px flex-card data-table card-border-content table-card">
    <nz-table class="nowrap" [nzData]="dataTable" nzBordered>
        <thead>
            <tr>
                <th rowspan="3">STT</th>
                <th rowspan="3">Nội dung</th>
                <th rowspan="3">Sản phẩm</th>
                <th rowspan="3">Từ ngày</th>
                <th rowspan="3">Đến ngày</th>
                <th rowspan="3">Người thực hiện</th>
                <th rowspan="3">Trạng thái</th>
                <th rowspan="3" *ngIf="userService.isTongCuc()">Hành động</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <nz-input-group>
                        <input nz-input [(ngModel)]="rowItem.noiDung" />
                    </nz-input-group>
                </td>
                <td>
                    <nz-input-group>
                        <input nz-input [(ngModel)]="rowItem.sanPham" />
                    </nz-input-group>
                </td>
                <td>
                    <nz-input-group>
                        <nz-date-picker nzFormat="dd/MM/yyyy" nz-input [(ngModel)]="rowItem.tuNgay">
                        </nz-date-picker>
                    </nz-input-group>
                </td>
                <td>
                    <nz-input-group>
                        <nz-date-picker nzFormat="dd/MM/yyyy" nz-input [(ngModel)]="rowItem.denNgay">
                        </nz-date-picker>
                    </nz-input-group>
                </td>
                <td>
                    <nz-input-group>
                        <input nz-input [(ngModel)]="rowItem.nguoiThucHien" />
                    </nz-input-group>
                </td>
                <td>
                    <nz-input-group>
                        <nz-select [(ngModel)]="rowItem.trangThaiTd" (ngModelChange)="onChangeTrangThai($event)"
                            [nzShowArrow]="false">
                            <nz-option nzValue="{{item.ma}}" nzLabel="{{item.giaTri}}"
                                *ngFor="let item of listTrangThai">
                            </nz-option>
                        </nz-select>
                    </nz-input-group>
                </td>
                <td *ngIf="userService.isTongCuc()">
                    <a (click)="themMoiItem()">
                        <i class="icon htvbdh_dau-cong"></i>
                    </a>
                    <a (click)="clearData()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </td>
            </tr>
            <tr *ngFor="let data of dataTable; let idx = index">
                <ng-container *ngIf="!dataEdit[idx].edit; else editTemplate">
                    <td>{{ idx + 1 }}</td>
                    <td>{{ data.noiDung }}</td>
                    <td>{{ data.sanPham }}</td>
                    <td>{{ data.tuNgay | date : 'dd/MM/yyyy' }}</td>
                    <td>{{ data.denNgay | date : 'dd/MM/yyyy' }}</td>
                    <td>{{ data.nguoiThucHien }}</td>
                    <td>{{ data.tenTrangThaiTd }}</td>
                    <td>
                        <a (click)="editItem(idx)">
                            <i class="fa fa-pencil" title="Sửa"></i>
                        </a>
                        <a (click)="xoaItem(idx)">
                            <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
                        </a>
                    </td>
                </ng-container>
                <ng-template #editTemplate>
                    <td></td>
                    <td>
                        <nz-input-group>
                            <input nz-input [(ngModel)]="dataEdit[idx].data.noiDung" />
                        </nz-input-group>
                    </td>
                    <td>
                        <nz-input-group>
                            <input nz-input [(ngModel)]="dataEdit[idx].data.sanPham" />
                        </nz-input-group>
                    </td>
                    <td>
                        <nz-input-group>
                            <nz-date-picker nzFormat="dd/MM/yyyy" nz-input [(ngModel)]="dataEdit[idx].data.tuNgay">
                            </nz-date-picker>
                        </nz-input-group>
                    </td>
                    <td>
                        <nz-input-group>
                            <nz-date-picker nzFormat="dd/MM/yyyy" nz-input [(ngModel)]="dataEdit[idx].data.denNgay">
                            </nz-date-picker>
                        </nz-input-group>
                    </td>
                    <td>
                        <nz-input-group>
                            <input nz-input [(ngModel)]="dataEdit[idx].data.nguoiThucHien" />
                        </nz-input-group>
                    </td>
                    <td>
                        <nz-input-group>
                            <nz-select [nzShowArrow]="false" [(ngModel)]="dataEdit[idx].data.trangThaiTd"
                                (ngModelChange)="onChangeTrangThai($event,dataEdit[idx].data)">
                                <nz-option nzValue="{{item.ma}}" nzLabel="{{item.giaTri}}"
                                    *ngFor="let item of listTrangThai">
                                </nz-option>
                            </nz-select>
                        </nz-input-group>
                    </td>
                    <td class="text-center">
                        <a (click)="luuEdit(idx)" class="save">
                            <i class="fa fa-save"></i>
                        </a>
                        <a (click)="huyEdit(idx)">
                            <i class="fa fa-ban do"></i> </a>
                    </td>
                </ng-template>
            </tr>

        </tbody>
    </nz-table>
</nz-card>
