<nz-affix [nzOffsetTop]="globals.prop.MENU_LV2" class="btn-affix" *ngIf="!isViewOnModal">
  <div class="btn-group">
    <button type="button" class="btn btn-sub" (click)="quayLai()">
      <i class="fa fa-arrow-left"></i>
      <span>Quay lại</span>
    </button>
    <button *ngIf="formData.value.id" type="button" class="btn btn-sub xanh-nhat" (click)="preview(previewName)">
      <i class=" icon htvbdh_tcdt_print"></i>
      <span>In/xem trước</span>
    </button>
    <button *ngIf="(formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU) && userService.isTongCuc()" type="button"
      class="btn btn-sub xanh-nhat" (click)="save(true)">
      <i class="icon htvbdh_chuyenvanthu"></i>
      <span>Ban hành</span>
    </button>
    <button
      *ngIf="(formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU || formData.value.trangThai == STATUS.TU_CHOI_LDV ) && userService.isTongCuc()"
      type="button" class="btn btn-main" (click)="save()">
      <i class="icon htvbdh_tcdt_save"></i>
      <span>Lưu</span>
    </button>
  </div>
</nz-affix>
<div class="bg-trang">
  <!--  Start Thông tin quyết định phê duyệt-->
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span [ngClass]="formData.value.trangThai == STATUS.BAN_HANH ? 'da-ban-hanh' : 'du-thao-va-lanh-dao-duyet'">
          {{ formData.value.tenTrangThai }}
        </span>
        <span> QUYẾT ĐỊNH PHÊ DUYỆT KẾ HOẠCH MUA TRỰC TIẾP </span>
      </div>
    </div>
  </div>
  <nz-alert *ngIf="formData.value.trangThai == STATUS.TU_CHOI_LDV " nzShowIcon nzType="error" nzMessage="Lý do từ chối"
    nzDescription="{{formData.value.lyDoTuChoi}}">
  </nz-alert>
  <nz-card class="mg-t-16 flex-card p-lr16">
    <nz-collapse nzAccordion>
      <nz-collapse-panel [nzHeader]="'THÔNG TIN QUYẾT ĐỊNH'" [nzActive]="true">
        <form nz-form nzLayout="vertical" [formGroup]="formData">
          <div nz-row [nzGutter]="[20]">
            <div nz-col nzSpan="2">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Năm kế hoạch
                </nz-form-label>
                <nz-form-control nz-col [nzErrorTip]="error">
                  <nz-select formControlName="namKh" nzAllowClear [nzDisabled]="isDisabled()">
                    <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Số quyết định </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfter="/{{maQd}}">
                    <nz-input-number formControlName="soQd" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                      [nzSize]="'small'" [nzDisabled]="isDisabled()">
                    </nz-input-number>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="4">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Ngày ký quyết định </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-date-picker formControlName="ngayQd" nzFormat="dd/MM/yyyy" [nzDisabled]="isDisabled()">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="4">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Ngày hiệu lực </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-date-picker formControlName="ngayHluc" nzFormat="dd/MM/yyyy" [nzDisabled]="isDisabled()">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-radio-group [nzDisabled]="disableField || isDisabled()" nzSize="small" class="rdo-input" formControlName="phanLoai">
                <nz-form-item>
                  <label nz-radio nzValue="TH">Chọn mã tổng hợp</label>
                  <nz-form-control [nzErrorTip]="error">
                    <nz-input-group nzAddOnAfterIcon="folder-open" (click)="disableField || isView ? '' : openDialogTh()">
                      <input [readonly]="true" nz-input formControlName="idThHdr" readonly="true" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <label nz-radio nzValue="TTr">Chọn số đề xuất/ tờ trình</label>
                  <nz-form-control [nzErrorTip]="error">
                    <nz-input-group nzAddOnAfterIcon="folder-open" (click)="disableField || isView ? '' : openDialogTr()">
                      <input [readonly]="true" nz-input formControlName="soTrHdr" readonly="true" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </nz-radio-group>
            </div>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Trích yếu
                </nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="trichYeu" [readonly]="isDisabled()" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Căn cứ pháp lý
                </nz-form-label>
                <div class="list-file">
                  <file-list [disabled]="isDisabled()" [data]="fileDinhKem"></file-list>
                </div>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-collapse-panel>
    </nz-collapse>

  </nz-card>
  <!--  End Thông tin quyết định phê duyệt-->

  <!--  Start THÔNG TIN QUYẾT ĐỊNH PHÊ DUYỆT KHLCNT-->
  <nz-card class="mg-t-16 flex-card p-lr16">
    <nz-collapse nzAccordion>
      <nz-collapse-panel [nzHeader]="'THÔNG TIN ĐỀ XUẤT CỦA CÁC CỤC DTNN KV'" [nzActive]="true">
        <nz-card class="mg-t-10 flex-card p-lr16 card-table">
          <nz-table class="pd-10" nzBordered [nzData]="danhsachDx" [nzFrontPagination]="false"
            [nzShowPagination]="false">
            <thead>
              <tr>
                <th [width]="30">STT</th>
                <th class="text-center">Cục DTNN KV</th>
                <th class="text-center">Địa chỉ</th>
                <th class="text-center">Số công văn/tờ trình</th>
                <th class="text-center">Ngày ký</th>
                <th class="text-center">Trích yếu</th>
                <th class="text-center">Tên dự án</th>
                <th class="text-center">Số lượng (tấn)</th>
                <th class="text-center">Tổng tiền đã bao gồm thuế</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of danhsachDx ;let i = index" (click)="showDetail($event,data)"
                [ngClass]="{'bg-selected': i == 0 && this.selected}">
                <td class="text-center">{{i + 1}} </td>
                <td>{{ data.tenDvi }}</td>
                <td>{{ data.diaChi }}</td>
                <td>{{ data.soDxuat }}</td>
                <td class="text-center">{{ data.ngayPduyet | date: 'dd/MM/YYYY' }}</td>
                <td>{{ data.trichYeu }}</td>
                <td>{{ data.tenDuAn }}</td>
                <td class="text-right">{{ data.tongSoLuong | number : '1.0-1' : 'vi_VN'}}</td>
                <td class="text-right">{{ (data.tongTienGomThue ? data.tongTienGomThue : (data.tongMucDt ? data.tongMucDt : data.tongSoLuong * data.donGiaVat * 1000)) | number : '1.0-1' : 'vi_VN'}}</td>
              </tr>
            </tbody>
          </nz-table>
          <div nz-row [nzGutter]="[20]">
            <div nz-col [nzSpan]="12">
              <nz-card class="mg-t-10 flex-card p-lr16 bg-trang">
                <app-thongtin-dexuat-muatt [title]="'Nội dung đề xuất của Cục DTNN KV'" [dataInput]="dataInputCache"
                  [isView]="true" [isCache]="true" [isTongHop]="isTongHop">
                </app-thongtin-dexuat-muatt>
              </nz-card>
            </div>
            <div nz-col [nzSpan]="12">
              <nz-card class="mg-t-10 flex-card p-lr16 bg-trang">
                <app-thongtin-dexuat-muatt [title]="'Quyết định của TCDTNN'" [dataInput]="dataInput"
                  [isView]="formData.value.trangThai == STATUS.BAN_HANH" [isTongHop]="isTongHop" [dataChiTieu]="this.dataChiTieu" (objectChange)="setNewData($event)" (dataTableChange)="setNewTableData($event)">
                </app-thongtin-dexuat-muatt>
              </nz-card>
            </div>
          </div>
        </nz-card>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>
  <!--  END THÔNG TIN QUYẾT ĐỊNH PHÊ DUYỆT KHLCNT-->
</div>
<ng-template #error let-control>
  <app-template-error #error [control]="control"></app-template-error>
</ng-template>
<nz-modal [(nzVisible)]="showDlgPreview" nzTitle="QUYẾT ĐỊNH PHÊ DUYỆT KẾ HOẠCH MUA TRỰC TIẾP" nzWidth="100%"
          (nzOnCancel)="closeDlg()">
  <div *nzModalContent class="modal__content">
    <pdf-viewer [src]="pdfSrc" [render-text]="true" style="width: 100%; height: 650px;"></pdf-viewer>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="printPreview()"
            class="modal__button--save">
      <i class="icon htvbdh_printer"></i>
      In
    </button>
    <button nz-button (click)="downloadPdf(previewName)"
            class="modal__button--save">
      <i class="icon htvbdh_file-pdf"></i>
      Xuất .pdf
    </button>
    <button nz-button (click)="downloadWord(previewName)"
            class="modal__button--save">
      <i class="icon htvbdh_file-word"></i>
      Xuất .docx
    </button>
    <button nz-button (click)="closeDlg()" class="modal__button--cancel">
      <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
      Đóng
    </button>
  </div>
</nz-modal>
