.ghi-chu__item {
    font-style: italic;
    color: #444444;
    font-size: 12px;
}

.header-detail-tab {
    padding: 16px 0px 16px 0px;
    color: #444444;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.pd-b-6 {
    padding-bottom: 6px;
}

.result-select-nha-thau {
    background: #f8fefe;
    border: 1px solid #cef4f5;
    box-sizing: border-box;
    border-radius: 0px;
    padding: 0px 12px 10px 12px;
    margin-top: 12px;
}

.header-result-nha-thau {
    width: 100%;
    float: left;
}

.header-result-nha-thau .header-detail-tab {
    float: left;
}

.tag-trung-thau {
    float: left;
    background: #74d607;
    border-radius: 0px;
    padding: 1px 12px 1px 12px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    margin-top: 16px;
    margin-left: 6px;
}

.btn-tep {
    width: auto;
}