::ng-deep {
    .ds-qd-dc {
        .ant-tabs-tabpane {
            padding: 10px 20px !important;
        }
    }

    .btn-action {
        margin-right: 10px;
    }

    .them-moi-qd {
        .main-content {
            height: calc(100vh - 270px) !important;
        }
    }
}