<div>
  <div>
    <span class='text-right'>
      <h2 style='font-size: 100%; margin-top: 0.5%;'>ĐƠN VỊ : TRIỆU ĐỒNG</h2>
    </span>
  </div>
  <nz-table nzBordered [nzFrontPagination]='false' [nzShowPagination]='false'>
    <thead>
    <tr>
      <th class='text-center' width='2%'></th>
      <th class='text-center' width='2%'></th>
      <th class='text-center' width='18%'>Loại hàng hóa</th>
      <th class='text-center'>Chủng loại hàng hóa</th>
      <th class='text-center' width='8%'>Đơn vị tính</th>
      <th class='text-center' width='8%'>SL TTCP giao</th>
      <th class='text-center' width='8%'>SL dự toán</th>
      <th class='text-center' width='8%'>Đơn giá</th>
      <th class='text-center' width='8%'>Dự toán (Triệu đồng)</th>
      <th class='text-center' width='8%' *ngIf='isView'>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor='let data of dataTable , let idx = index'>
      <tr>
        <td>{{idx + 1}}</td>
        <td [nzExpand]='expandSet.has(data.idVirtual)' (nzExpandChange)='onExpandChange(data.idVirtual, $event)'></td>
        <td class='font-weight-bold'>{{data.tenVthh}}</td>
        <td>{{data.tenCloaiVthh}}</td>
        <td class='font-weight-bold'>{{data.dviTinh}}</td>
        <ng-container *ngIf='!data.dataChild || data.dataChild.length == 0'>
          <td class='font-weight-bold text-right'>{{data.soLuong  | number : '1.0-3' : 'vi_VN'}}</td>
          <td class='font-weight-bold text-right'>{{data.soLuongDuToan  | number : '1.0-3' : 'vi_VN'}}</td>
          <td class='font-weight-bold text-right'>{{data.donGia  | number : '1.0-3' : 'vi_VN'}}</td>
          <td class='font-weight-bold text-right'>{{data.tongTien | number: '1.0-3' : 'vi_VN'}}</td>
        </ng-container>
        <ng-container *ngIf='data.dataChild && data.dataChild.length > 0'>
          <td class='font-weight-bold text-right'>{{sumSoLuong(data, 'soLuong') | number : '1.0-1' : 'vi_VN'}}</td>
          <td class='font-weight-bold text-right'></td>
          <!--          <td class="font-weight-bold">{{sumSoLuong(data, 'donGia') | number : '1.0-1' : 'vi_VN'}}</td>-->
          <td class='font-weight-bold text-right'></td>
          <td
            class='font-weight-bold font-weight-bold text-danger text-right'>{{sumSoLuong(data, 'tongTien') | number : '1.0-3' : 'vi_VN'}}</td>
        </ng-container>
        <td class='font-weight-bold text-left' nzRight *ngIf='isView'>
          <a *ngIf='!data.dataChild || data.dataChild.length == 0' (click)="themMoiMuaTang(data, 'sua', idx)">
            <i class='fa fa-pencil' title='Sửa'></i>
          </a>
          <a>
            <i class='icon htvbdh_dau-cong' *ngIf="data.loaiVthh != '0401'  && !data.cloaiVthh"
               (click)="themMoiMuaTang(data,'them',idx, dataTable[idx])"></i>
          </a>
        </td>
      </tr>
      <ng-container *ngIf='expandSet.has(data.idVirtual)'>
        <tr *ngFor='let item of data.dataChild, let y = index'>
          <td></td>
          <td></td>
          <td></td>
          <td>{{item.tenCloaiVthh}}</td>
          <td>{{item.dviTinh}}</td>
          <td class='text-right'>{{item.soLuong | number : '1.0-3' : 'vi_VN'}}</td>
          <td class='text-right'>
            {{item.soLuongDuToan | number : '1.0-3' : 'vi_VN'}}
          </td>
          <td class='text-right'>
            {{item.donGia | number : '1.0-3' : 'vi_VN'}}
          </td>
          <td class='text-danger text-right'>
            {{item.tongTien | number : '1.0-3' : 'vi_VN'}}
          </td>
          <td class='text-left' nzRight *ngIf='isView'>
            <a (click)="themMoiMuaTang(item, 'sua', y, dataTable[idx])">
              <i class='fa fa-pencil' title='Sửa'></i>
            </a>
            <a (click)='deleteItem(idx, y)' *ngIf='data.dataChild.length >= 1'>
              <i class='fa fa-trash-o do' title='Xóa bản ghi'></i>
            </a>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
    <tfoot *ngIf="dataTable && dataTable.length > 0 && tabName != 'LPDH'">
    <tr class='text-blue'>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th class='text-right'>Tổng dự toán</th>
      <th></th>
      <th></th>
      <th class='text-right'>{{dataDuToanSumByDataTable | number : '1.0-3' : 'vi_VN'}}</th>
      <th></th>
    </tr>
    <tr class='text-blue'>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th class='text-right'>Tổng TTCP giao</th>
      <th></th>
      <th></th>
      <th class='text-right'>{{dataQdTtcpGiaoBn | number : '1.0-3' : 'vi_VN'}}</th>
      <th></th>
    </tr>
    </tfoot>
  </nz-table>

</div>
