<ng-container *ngIf="!isAddNew; else templateThemmoi">
    <div class="bg-trang">
        <nz-card class="mt16 flax-card p-lr16">
            <div nz-row [nzGutter]="24">
                <div nz-col nzSpan="6">
                    <label class="search__label">Mã</label>
                    <input class="search__input" nz-input [(ngModel)]="searchFilter.maBcao" />
                </div>
                <div nz-col nzSpan="6">
                    <label class="search__label">Quyết toán năm:</label>
                    <nz-input-number [nzSize]="'small'"
                        [class]="statusBtnValidate || (searchFilter.namQtoan && searchFilter.namQtoan >= 1000 &&  searchFilter.namQtoan <= 2999)?'' : 'input-error-validate'"
                        [(ngModel)]="searchFilter.namQtoan"></nz-input-number>
                </div>
                <div nz-col nzSpan="6">
                    <label class="search__label">Ngày lập từ</label>
                    <nz-date-picker class="search__input" [(ngModel)]="searchFilter.ngayTaoTu" nzFormat="dd/MM/yyyy">
                    </nz-date-picker>
                </div>
                <div nz-col nzSpan="6">
                    <label class="search__label">Đến ngày</label>
                    <nz-date-picker class="search__input" [(ngModel)]="searchFilter.ngayTaoDen" nzFormat="dd/MM/yyyy">
                    </nz-date-picker>
                </div>
                <div nz-col nzSpan="12">
                    <label class="search__label">Trạng thái</label>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn trạng thái" [(ngModel)]="trangThai">
                        <nz-option *ngFor="let item of trangThais" [nzValue]="item.id" [nzLabel]="item.tenDm">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col class="cangiua group-button-search">
                <div>
                    <button nz-button class="search__button--clear" (click)="deleteCondition()">
                        <i class="icon  htvbdh_nhap-lai1"></i>
                        Xóa điều kiện
                    </button>
                    <button nz-button class="search__button--search" (click)="onSubmit()">
                        <i nz-icon nzType="search"></i>
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </nz-card>
        <div class="group-button">
            <h3 class="text-uppercase">DANH SÁCH BÁO CÁO QUYẾT TOÁN VỐN PHÍ HÀNG DTQG</h3>
            <div class="button">

                <button *ngIf="statusDelete" type="button" class="btn btn-do" (click)="deleteReport('')">
                    <i class="fa fa-trash-o do"></i>
                    <span>Xóa</span>
                </button>
                <button *ngIf="statusNewReport" type="button" class="btn btn-main" (click)="addNewReport()">
                    <i class="icon htvbdh_tcdt_tao-qd"></i>
                    <span>Thêm</span>
                </button>
            </div>
        </div>
        <nz-card class="mt-2px flex-card data-table card-border-content table-card">
            <nz-table #basicTable class="nowrap table__container-tt" [nzData]="danhSachBaoCao"
                [nzFrontPagination]="false" [nzShowPagination]="false" nzBordered>
                <thead>
                    <tr>
                        <th width="45px">
                            <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"></label>
                        </th>
                        <th width="60px" class="text-center">STT</th>
                        <th>Mã báo cáo</th>
                        <th>Quyết toán năm</th>
                        <th>Ngày lập</th>
                        <th>Ngày trình duyệt</th>
                        <th>Ngày trưởng bộ phận duyệt</th>
                        <th>Ngày lãnh đạo phê duyệt</th>
                        <th>Trạng thái</th>
                        <th width="90px">Hành động</th>
                    </tr>
                    <tr class="search-table">
                        <th></th>
                        <th></th>
                        <th>
                            <nz-input-group [nzSuffix]="suffixTemplateInfo">
                                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="tableFilter.maBcao"
                                    (input)="filterInTable('maBcao',tableFilter.maBcao, false)" size="small" />
                            </nz-input-group>
                            <ng-template #suffixTemplateInfo>
                                <i nz-icon nzType="search"></i>
                            </ng-template>
                        </th>
                        <th>
                            <nz-input-group [nzSuffix]="suffixTemplateInfo">
                                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="tableFilter.namQtoan"
                                    (input)="filterInTable('namQtoan',tableFilter.namQtoan, false)" size="small" />
                            </nz-input-group>
                            <ng-template #suffixTemplateInfo>
                                <i nz-icon nzType="search"></i>
                            </ng-template>
                        </th>
                        <th>
                            <nz-date-picker nzFormat="dd/MM/yyyy" [(ngModel)]="tableFilter.ngayTao"
                                (ngModelChange)="filterInTable('ngayTao',tableFilter.ngayTao, true)">
                            </nz-date-picker>
                        </th>
                        <th>
                            <nz-date-picker nzFormat="dd/MM/yyyy" [(ngModel)]="tableFilter.ngayTrinh"
                                (ngModelChange)="filterInTable('ngayTrinh',tableFilter.ngayTrinh, true)">
                            </nz-date-picker>
                        </th>
                        <th>
                            <nz-date-picker nzFormat="dd/MM/yyyy" [(ngModel)]="tableFilter.ngayDuyet"
                                (ngModelChange)="filterInTable('ngayDuyet',tableFilter.ngayDuyet, true)">
                            </nz-date-picker>
                        </th>
                        <th>
                            <nz-date-picker nzFormat="dd/MM/yyyy" [(ngModel)]="tableFilter.ngayPheDuyet"
                                (ngModelChange)="filterInTable('ngayPheDuyet',tableFilter.ngayPheDuyet, true)">
                            </nz-date-picker>
                        </th>
                        <th>
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Tìm kiếm"
                                [(ngModel)]="tableFilter.trangThai"
                                (ngModelChange)="filterInTable('trangThai',tableFilter.trangThai, false)">
                                <nz-option *ngFor="let item of trangThais" [nzValue]="item.id" [nzLabel]="item.tenDm">
                                </nz-option>
                            </nz-select>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable?.data; let i = index">
                        <td width="45px">
                            <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="updateSingleChecked()"
                                [nzDisabled]="!data.isDelete"></label>
                        </td>
                        <td class="text-center">
                            {{ (i + 1) + (pages.page - 1)*pages.size }}
                        </td>
                        <td>
                            {{data.maBcao}}
                        </td>
                        <td>
                            {{data.namQtoan}}
                        </td>
                        <td>
                            {{data.ngayTao}}
                        </td>
                        <td>
                            {{data.ngayTrinh}}
                        </td>
                        <td>
                            {{data.ngayDuyet}}
                        </td>
                        <td>
                            {{data.ngayPheDuyet}}
                        </td>
                        <td>
                            {{getStatusName(data.trangThai)}}
                            <ng-container
                                *ngIf="data.trangThai =='3' || data.trangThai == '5' || data.trangThai == '8'">
                                <br />
                                Lý do: {{data.lyDoTuChoi}}
                            </ng-container>
                        </td>
                        <td class="text-left">
                            <a (click)="viewDetail(data)">
                                <ng-container *ngIf="data.isEdit; else view">
                                    <i class="fa fa-pencil"></i>
                                </ng-container>
                                <ng-template #view>
                                    <i class="fa fa-eye"></i>
                                </ng-template>
                            </a>
                            <a *ngIf="data.isDelete" (click)="deleteReport(data.id)">
                                <i class="fa fa-trash-o do"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <div class="tab-content tab-menu" id="myTabContent">
                <div class="tab-pane fade show active justify-content-between">
                    <div class="trai">
                    </div>
                    <div class="canphai">
                        <nz-pagination class="pagination-card" [nzPageIndex]="pages.page" [nzTotal]="totalElements"
                            nzShowSizeChanger [nzPageSize]="pages.size" [nzShowTotal]="rangeTemplate"
                            (nzPageIndexChange)="onPageIndexChange($event)"
                            (nzPageSizeChange)="onPageSizeChange($event)">
                            <ng-template #rangeTemplate let-range="range" let-total>
                                {{ range[0] }}-{{ range[1] }} of {{totalElements}} items
                            </ng-template>
                        </nz-pagination>
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
</ng-container>
<ng-template #templateThemmoi>
    <div class="bg-trang">
        <!-- <app-them-bao-cao-quyet-toan [data]="dataThemMoi" [isStatus]="isStatus" [idInput]="idSelected" (close)="onClose()">
    </app-them-bao-cao-quyet-toan> -->
        <app-add-quyet-toan [data]="dataThemMoi" [isStatus]="isStatus" [idInput]="idSelected" (close)="onClose()">
        </app-add-quyet-toan>
    </div>
</ng-template>