<ng-container *ngIf="isDataAvailable">
	<div class="modal__content">
		<nz-tabset>
			<nz-tab nzTitle="Dữ liệu">
				<div id="tablePrint">
					<div class="nut" style="margin-top: 10px;">
						<div class="cantrai">
							<div> Đơn vị: </div>
							<div style="margin-left: 10px;">
								<ng-container *ngIf="status || !editMoneyUnit; else editMoney">
									<span (click)="editMoneyUnit=true">
										{{ Utils.moneyUnitName(maDviTien) }}
									</span>
								</ng-container>
								<ng-template #editMoney>
									<nz-select nzShowSearch nzPlaceHolder="Chọn đơn vị" [(ngModel)]="maDviTien"
										(ngModelChange)="editMoneyUnit=false; Op.setMoneyUnit(maDviTien)">
										<nz-option *ngFor="let item of Utils.DVI_TIEN" [nzValue]="item.id"
											[nzLabel]="item.tenDm">
										</nz-option>
									</nz-select>
								</ng-template>
							</div>
						</div>
					</div>
					<nz-table nzBordered class="table__body" [nzScroll]="{x: scrollX}">
						<thead>
							<tr>
								<th scope="col" rowspan="2" nzWidth="50px" nzLeft>
									STT
								</th>
								<th scope="col" rowspan="2" nzWidth="300px" nzLeft>
									Chỉ tiêu
								</th>
								<th scope="col" rowspan="2">
									Đơn vị tính
								</th>
								<th scope="col" rowspan="2">
									Số thực hiện năm {{namBcao - 2}} (năm trước)
								</th>
								<th scope="colgroup" colspan="2">
									Năm {{namBcao-1}} (năm hiện hành)
								</th>
								<th scope="colgroup" colspan="{{status.viewAppVal ? 2 : 1}}">
									Năm kế hoạch {{namBcao}}
								</th>
								<th scope="col" *ngIf="status.viewAppVal" rowSpan="2">
									Chênh lệch giữa thẩm định của Đơn vị cấp trên và nhu cầu của Đơn vị cấp dưới
								</th>
								<th scope="col" rowspan="2" class="text-col">
									Ghi chú
								</th>
								<th scope="col" rowspan="2" class="text-col" *ngIf="status.viewAppVal">
									Ý kiến của Đơn vị cấp trên
								</th>
								<th scope="col" rowspan="2" style="width: 60px;"
									*ngIf="status.general || status.editAppVal" nzRight></th>
							</tr>
							<tr>
								<th scope="col">
									Dự toán
								</th>
								<th scope="col">
									Ước thực hiện
								</th>
								<th scope="col">
									Dự kiến
								</th>
								<th scope="col" *ngIf="status.viewAppVal">
									Giá trị thẩm định
								</th>
							</tr>
							<tr>
								<th scope="col" nzLeft>A</th>
								<th scope="col" nzLeft>B</th>
								<th scope="col">C</th>
								<th scope="col">1</th>
								<th scope="col">2</th>
								<th scope="col">3</th>
								<th scope="col">4</th>
								<th scope="col" *ngIf="status.viewAppVal">5</th>
								<th scope="col" *ngIf="status.viewAppVal">6=5-4</th>
								<th scope="col">7</th>
								<th scope="col" *ngIf="status.viewAppVal">8</th>
								<th scope="col" *ngIf="status.general || status.editAppVal" nzRight></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td nzLeft></td>
								<td nzLeft>
									Tổng số
								</td>
								<td></td>
								<td>
									{{ Op.fmtVal(total.thienNtruoc) }}
								</td>
								<td>
									{{ Op.fmtVal(total.namDtoan) }}
								</td>
								<td>
									{{ Op.fmtVal(total.namUocThien) }}
								</td>
								<td>
									{{ Op.fmtVal(total.namKh) }}
								</td>
								<td *ngIf="status.viewAppVal">
									{{ Op.fmtVal(total.giaTriThamDinh) }}
								</td>
								<td *ngIf="status.viewAppVal">
									{{ Op.fmtVal(total.chenhLech) }}
								</td>
								<td></td>
								<td *ngIf="status.viewAppVal"></td>
								<td *ngIf="status.general || status.editAppVal" nzRight></td>
							</tr>
							<tr *ngFor="let data of lstCtietBcao; let i = index">
								<td nzLeft>
									{{ data.index() }}
								</td>
								<td nzLeft>
									{{ data.tenDmuc }}
								</td>
								<ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
									<td>
										{{ data.maDviTinh }}
									</td>
									<td>
										{{ Op.fmtVal(data.thienNtruoc) }}
									</td>
									<td>
										{{ Op.fmtVal(data.namDtoan) }}
									</td>
									<td>
										{{ Op.fmtVal(data.namUocThien) }}
									</td>
									<td>
										{{ Op.fmtVal(data.namKh) }}
									</td>
									<td *ngIf="status.viewAppVal">
										{{ Op.fmtVal(data.giaTriThamDinh) }}
									</td>
									<td *ngIf="status.viewAppVal">
										{{ Op.fmtVal(data.chenhLech) }}
									</td>
									<td>
										{{ data.ghiChu }}
									</td>
									<td *ngIf="status.viewAppVal">
										{{ data.ykienDviCtren }}
									</td>
									<td *ngIf="status.general || status.editAppVal" nzRight>
										<i *ngIf="checkEdit(data.stt)" class="fa fa-pencil"
											(click)="startEdit(data.id)"></i>
									</td>
								</ng-container>
								<ng-template #editTemplate>
									<ng-container *ngIf="!status.viewAppVal; else viewAppVal">
										<td>
											<input nz-input [(ngModel)]="editCache[data.id].data.maDviTinh" />
										</td>
										<td>
											<input class="money-input" currencyMask [options]="Op.amount"
												[(ngModel)]="editCache[data.id].data.thienNtruoc" />
										</td>
										<td>
											<input class="money-input" currencyMask [options]="Op.amount"
												[(ngModel)]="editCache[data.id].data.namDtoan" />
										</td>
										<td>
											<input class="money-input" currencyMask [options]="Op.amount"
												[(ngModel)]="editCache[data.id].data.namUocThien" />
										</td>
										<td>
											<input class="money-input" currencyMask [options]="Op.amount"
												[(ngModel)]="editCache[data.id].data.namKh" />
										</td>
										<td>
											<input nz-input [(ngModel)]="editCache[data.id].data.ghiChu" />
										</td>
									</ng-container>
									<ng-template #viewAppVal>
										<td>
											{{ data.maDviTinh }}
										</td>
										<td>
											{{ Op.fmtVal(data.thienNtruoc) }}
										</td>
										<td>
											{{ Op.fmtVal(data.namDtoan) }}
										</td>
										<td>
											{{ Op.fmtVal(data.namUocThien) }}
										</td>
										<td>
											{{ Op.fmtVal(data.namKh) }}
										</td>
										<td>
											<input class="money-input" currencyMask [options]="Op.amount"
												[(ngModel)]="editCache[data.id].data.giaTriThamDinh"
												(ngModelChange)="editCache[data.id].data.changeModel()" />
										</td>
										<td>
											{{ Op.fmtVal(editCache[data.id].data.chenhLech) }}
										</td>
										<td>
											{{ data.ghiChu }}
										</td>
										<td>
											<input nz-input [(ngModel)]="editCache[data.id].data.ykienDviCtren" />
										</td>
									</ng-template>
									<td *ngIf="status.general || status.editAppVal" nzRight>
										<a (click)="saveEdit(data.id)" class="save">Lưu</a>
										<a nz-popconfirm nzPopconfirmTitle="Bạn có chắc muốn hủy thao tác này?"
											(nzOnConfirm)="cancelEdit(data.id)" class="save">
											Hủy
										</a>
									</td>
								</ng-template>
							</tr>
						</tbody>
					</nz-table>
				</div>
			</nz-tab>
			<nz-tab nzTitle="Thuyết minh">
				<textarea nz-input nzAutosize="{minRows: 4, maxRows: 16}" [(ngModel)]="formDetail.thuyetMinh"
					[disabled]="!status.general"></textarea>
			</nz-tab>
			<nz-tab nzTitle="Tài liệu đính kèm">
				<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
					<div nz-col class="gutter-row" [nzSpan]="3">
						<nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzMultiple]="true"
							*ngIf="status.general">
							<button nz-button>
								<i nz-icon nzType="upload"></i>
								Chọn tài liệu đính kèm
							</button>
						</nz-upload>
						<button nz-button [nzType]="'primary'" (click)="handleUpload()"
							[disabled]="fileList.length === 0" *ngIf="status.general" style="margin-top: 16px">
							Thêm vào danh sách
						</button>
					</div>
				</div>
				<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
					<div nz-col class="gutter-row" [nzSpan]="18">
						<nz-table nzBordered class="table__body">
							<thead>
								<tr>
									<th scope="col" nzWidth="5%">STT</th>
									<th scope="col" nzWidth="25%">Tên file</th>
									<th scope="col" nzWidth="55%">Nội dung</th>
									<th scope="col" nzWidth="15%"></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of formDetail.lstFiles; let i = index">
									<td>{{ i + 1 }} </td>
									<td>{{ data.fileName }}</td>
									<td>
										<ng-container *ngIf="data.isEdit; else readOnly">
											<input nz-input [(ngModel)]="data.noiDung" />
										</ng-container>
										<ng-template #readOnly>
											{{ data.noiDung }}
										</ng-template>
									</td>
									<td>
										<a (click)="downloadFile(data.id)">
											<i class="fa fa-eye"></i>
										</a>
										<a *ngIf="status.general" (click)="data.isEdit = !data.isEdit">
											<ng-container *ngIf="data.isEdit; else saveText">
												<i class="fa fa-save"></i>
											</ng-container>
											<ng-template #saveText>
												<i class="fa fa-pencil"></i>
											</ng-template>
										</a>
										<a *ngIf="status.general" (click)="deleteFile(data.id)">
											<i class="fa fa-trash-o do"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</nz-table>
					</div>
				</div>
			</nz-tab>
		</nz-tabset>
	</div>
	<div class="modal-footer">
		<div class="nut">
			<div class="cantrai">
				<button type="button" class="btn btn-main" *ngIf="status.export" (click)="exportToExcel()">
					<span nz-icon nzType="export" nzTheme="outline" style="margin-right: 5px;"></span>
					<span>Xuất</span>
				</button>
				<button type="button" class="btn btn-sub" (click)="save('5', null)" *ngIf="status.finish">
					<i nz-icon nzType="check" nzTheme="outline"></i>
					<span>Hoàn tất nhập liệu</span>
				</button>
				<button type="button" class="btn btn-sub" (click)="save('4', null)" *ngIf="status.finish">
					<i class="icon htvbdh_tcdt_save"></i>
					<span>Lưu</span>
				</button>
				<button type="button" class="btn btn-sub" (click)="save('1', null)" *ngIf="status.ok">
					<i nz-icon nzType="check" nzTheme="outline"></i>
					<span>Chấp nhận</span>
				</button>
			</div>
			<div class="canphai">
				<button type="button" class="btn btn-do" (click)="tuChoi('0')" *ngIf="status.ok">
					<i nz-icon nzType="close" nzTheme="outline"></i>
					<span>Không chấp nhận</span>
				</button>
			</div>
		</div>
	</div>
</ng-container>