.dialog-thong-tin-phu-luc {
  .ant-table-wrapper {
    margin-top: 0px !important;
  }

  .align-right {
    text-align: right;
  }
}

.ant-table thead.ant-table-thead tr th {
  white-space: normal;
}