<div class="them-the-kho">
  <div class="header">
    <div class="header-text">
      <div class="text-container">
        <h2 class="du-thao">Dự thảo</h2>
      </div>
      <div class="text-container">
        <h2>Tạo thẻ kho</h2>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sub btn-xoa" (click)="huy()">
        <i class="fa fa-times do"></i>
        <span>Huỷ bỏ</span>
      </button>
      <button type="button" class="btn btn-sub" (click)="exportData()">
        <i class="icon htvbdh_chuyen-xu-ly"></i>
        <span>Xuất file</span>
      </button>
      <button type="button" class="btn btn-sub" (click)="luuVaDuyet()">
        <i class="icon htvbdh_tcdt_print"></i>
        <span>Lưu và gửi duyệt</span>
      </button>
      <button type="button" class="btn btn-sub xanh" (click)="luu()">
        <i class="icon htvbdh_luu"></i>
        <span>Lưu</span>
      </button>
    </div>
  </div>

  <nz-card class="mt16 flex-card p-lr16">
    <form [nzLayout]="'vertical'" nz-form [formGroup]="formData" class="hang-theo-doi-dac-thu">
      <div nz-row [nzGutter]="24">
        <nz-form-item nz-col nzSpan="4" class="form-item">
          <nz-form-label nzFor="ten-don-vi">Tên đơn vị</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="idDonVi" id="don-vi" (ngModelChange)="onChangeDonVi($event)">
              <nz-option nzValue="{{item.id}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsDonVi">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col nzSpan="2" class="form-item">
          <nz-form-label nzFor="nam">Năm</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="nam" id="nam">
              <nz-option nzValue="{{item}}" nzLabel="{{item}}" *ngFor="let item of dsNam">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col nzSpan="3" class="form-item">
          <nz-form-label nzFor="tu-ngay">Từ ngày</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="tuNgay" nzFormat="dd/MM/yyyy" id="ngay-tao" class="search__input">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col nzSpan="3" class="form-item">
          <nz-form-label nzFor="den-ngay">Đến ngày</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="denNgay" nzFormat="dd/MM/yyyy" id="ngay-tao" class="search__input">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col nzSpan="3" class="form-item">
          <nz-form-label nzFor="loai-hang-hoa">Loại hàng hoá</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="idLoaiHangHoa" id="loai-hang-hoa">
              <nz-option nzValue="{{item.id}}" nzLabel="{{item.giaTri}}" *ngFor="let item of dsLoaiHangHoa">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col nzSpan="3" class="form-item">
          <nz-form-label nzFor="chung-loai-hang-hoa">Chủng loại hàng hoá</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="idChungLoaiHangHoa" id="chung-loai-hang-hoa">
              <nz-option nzValue="{{item.id}}" nzLabel="{{item.giaTri}}" *ngFor="let item of dsChungLoaiHangHoa">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col nzSpan="2" class="form-item">
          <nz-form-label nzFor="ngan-lo">Lô kho</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="idNganLo" id="ngan-lo">
              <nz-option nzValue="{{item.id}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsNganLo">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col nzSpan="2" class="form-item">
          <nz-form-label nzFor="ton-dau-ky">Tồn đầu kỳ</nz-form-label>
          <nz-form-control>
            <nz-input-group id="ton-dau-ky">
              <input [disabled]="true" type="number" nz-input formControlName="tonDauKy" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col nzSpan="2" class="form-item">
          <nz-form-label nzFor="don-vi">ĐVT</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="donViTinh" id="don-vi">
              <nz-option nzValue="{{item.id}}" nzLabel="{{item.giaTri}}" *ngFor="let item of dsDonViTinh">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </nz-card>

  <div class="tao-the-kho">
    <button type="button" class="btn btn-sub xanh" (click)="taoTheKho()">
      <i class="icon htvbdh_luu-them-moi"></i>
      <span>Tạo thẻ kho</span>
    </button>
  </div>

  <nz-card class="mt-16 flex-card data-table card-border-content">
    <nz-table #basicTable class="nowrap" [nzData]="dataTable" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>
          <th class="text-center" style="width: 5%;">STT</th>
          <th style="width: 10%;">Số phiếu nhập</th>
          <th style="width: 10%;">Số phiếu xuất</th>
          <th style="width: 10%;">Ngày</th>
          <th style="width: 20%;">Diễn giải</th>
          <th style="width: 10%;">Số lượng nhập</th>
          <th style="width: 10%;">Số lượng xuất</th>
          <th style="width: 5%;">Tồn</th>
          <th style="width: 20%;">Ghi chú</th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-center">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="Tìm kiếm" />
            </nz-input-group>
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th>
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="Tìm kiếm" />
            </nz-input-group>
          </th>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let idx = index">
          <td>{{ idx + 1 }}</td>
          <td>{{ data.type === 'nhap' ? data.soPhieu : '' }}</td>
          <td>{{ data.type === 'xuat' ? data.soPhieu : '' }}</td>
          <td>{{ data.ngayTao | date: 'dd/MM/YYYY' }}</td>
          <td>{{ data.dienGiai }}</td>
          <td>{{ data.type === 'nhap' ? data.soLuong : '' }}</td>
          <td>{{ data.type === 'xuat' ? data.soLuong : '' }}</td>
          <td>{{ data.soLuongTon }}</td>
          <td>{{ data.ghiChu }}</td>
        </tr>
      </tbody>
    </nz-table>
    <div class="tab-content tab-menu" id="myTabContent">
      <div class="tab-pane fade show active justify-content-between">
        <div class="trai">

        </div>
        <div class="canphai">
          <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord" nzShowSizeChanger
            [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="changePageIndex($event)"
            (nzPageSizeChange)="changePageSize($event)">
            <ng-template #rangeTemplate let-range="range" let-total>
              {{ range[0] }}-{{ range[1] }} of {{ total }} items
            </ng-template>
          </nz-pagination>
        </div>
      </div>
    </div>
  </nz-card>
</div>