<div class='bg-trang'>
  <nz-affix [nzOffsetTop]='globals.prop.MENU_LV0' class='level0'>
    <div class='header header-green-background'>
      <div class='header-text'>
        <div class='title-chi-tieu'>
        <span
          [ngClass]="formData.value.trangThai == STATUS.DADUYET_BTC  ? 'da-ban-hanh' : 'du-thao-va-lanh-dao-duyet'">
          {{ formData.value.tenTrangThai }}
        </span>
          <span class='text-uppercase'>Kế hoạch xuất hàng vật tư, thiết bị có thời hạn lưu kho lớn hơn 12 tháng</span>
        </div>
      </div>
      <div class='btn-group'>
        <button type='button' class='btn btn-sm ml-2' (click)='goBack()'>
          <i class='fa fa-arrow-left'></i>
          <span>Quay lại</span>
        </button>
        <button type='button' class='btn btn-sub ml-2' (click)='xemTruoc(idInput,templateName)'>
          <i class='icon htvbdh_totrinh'></i>
          <span> In/Xem trước </span>
        </button>
        <button type='button' (click)='save(true)' class='btn btn-sm ml-2'
                *ngIf='(formData.value.trangThai == STATUS.DU_THAO || formData.value.trangThai == STATUS.TU_CHOI_LDV || formData.value.trangThai == STATUS.TU_CHOI_LDTC ||  formData.value.trangThai == STATUS.TUCHOI_BTC)'>
          <i class='icon htvbdh_tcdt_guiduyet'></i>
          <span>Lưu và gửi duyệt</span>
        </button>
        <a class='btn btn-outline-danger btn-sm waves-effect waves-light ml-2' (click)='tuChoi()'
           *ngIf='(formData.value.trangThai  == STATUS.CHO_DUYET_LDV || formData.value.trangThai  == STATUS.CHO_DUYET_LDTC || formData.value.trangThai  == STATUS.CHODUYET_BTC)'>
          <i class='icon htvbdh_tcdt_tuchoi'></i>
          <span>Từ chối</span>
        </a>
        <a class='btn btn-outline-success btn-sm waves-effect waves-light ml-2'
           *ngIf='(formData.value.trangThai  == STATUS.CHO_DUYET_LDV || formData.value.trangThai  == STATUS.CHO_DUYET_LDTC || formData.value.trangThai  == STATUS.CHODUYET_BTC)'
           (click)='pheDuyet()'>
          <i class='icon htvbdh_tcdt_pheduyet'></i>
          <span>Duyệt</span>
        </a>
        <button (click)='save(false)'
                *ngIf='(formData.value.trangThai == STATUS.DU_THAO && !isViewDetail)  '
                class='btn btn-main btn-sm waves-effect waves-light ml-2'>
          <i class='icon htvbdh_tcdt_save'></i>
          <span>Lưu</span>
        </button>
      </div>
    </div>
  </nz-affix>
  <nz-alert *ngIf='formData.value.trangThai == STATUS.TU_CHOI_TP || formData.value.trangThai == STATUS.TU_CHOI_LDC '
            nzShowIcon nzType='error'
            nzMessage='Lý do từ chối'
            nzDescription='{{formData.value.lyDoTuChoi}}'>
  </nz-alert>
  <nz-card class='mt16 flex-card p-lr16 mg-t-10'>
    <nz-collapse>
      <nz-collapse-panel [nzActive]='true' nzHeader='THÔNG TIN CHUNG'
                         class='mg-t-10'>
        <form nz-form nzLayout='vertical' [formGroup]='formData'>
          <div nz-row [nzGutter]='24'>
            <div nz-col nzSpan='6'>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label nzRequired [nzNoColon]='true' class='label-color-kh'> Đơn vị đề xuất
                  </nz-form-label>
                  <input nz-input formControlName='tenDvi' [readonly]='true' />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan='6'>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label nzRequired [nzNoColon]='true' class='label-color-kh'> Địa chỉ
                  </nz-form-label>
                  <input nz-input formControlName='diaChi' [readonly]='true' />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan='6'>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label nzRequired [nzNoColon]='true' class='label-color-kh'> Loại hình nhập xuất
                  </nz-form-label>
                  <nz-select formControlName='loaiHinhNhapXuat' [nzDisabled]='true'
                             nzAllowClear>
                    <nz-option *ngFor='let p of listLoaiHinhNhapXuat' [nzValue]='p.ma' [nzLabel]='p.giaTri'></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan='6'>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label nzRequired [nzNoColon]='true' class='label-color-kh'> Kiểu nhập xuất
                  </nz-form-label>
                  <nz-select formControlName='kieuNhapXuat' [nzDisabled]='true'
                             nzAllowClear>
                    <nz-option *ngFor='let p of listKieuNhapXuat' [nzValue]='p.ma' [nzLabel]='p.giaTri'></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan='2'>
              <nz-form-item>
                <nz-form-label nz-col nzRequired [nzNoColon]='true' class='text-left'> Năm kế hoạch
                </nz-form-label>
                <nz-form-control nz-col [nzErrorTip]='error'>
                  <nz-select formControlName='namKeHoach'
                             [nzDisabled]='isViewDetail || (dataTongHop && dataTongHop.id > 0)'
                             nzAllowClear>
                    <nz-option *ngFor='let p of listNam' [nzValue]='p.value' [nzLabel]='p.text'></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan='4'>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label nzRequired [nzNoColon]='true' class='label-color-kh'> Số công văn/tờ trình
                  </nz-form-label>
                  <nz-input-group [nzAddOnAfter]='maTT'>
                    <input nz-input formControlName='soToTrinh' [readonly]='isViewDetail' />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan='6'>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label nzRequired [nzNoColon]='true' class='label-color-kh'> Ngày trình (lập kế hoạch)
                  </nz-form-label>
                  <nz-date-picker [nzDisabled]='isViewDetail' class='search__input' nzFormat='dd/MM/YYYY'
                                  nzPlaceHolder='Ngày lập kế hoạch'
                                  formControlName='ngayKeHoach'>
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan='6'>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label nzRequired [nzNoColon]='true' class='label-color-kh'> Trích yếu
                  </nz-form-label>
                  <input nz-input formControlName='trichYeu' [readonly]='isViewDetail' />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan='6'>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label [nzNoColon]='true' class='label-color-kh'> Ngày duyệt kế hoạch của Tổng cục
                  </nz-form-label>
                  <nz-date-picker [nzDisabled]='isViewDetail' nzMode='' class='search__input' nzFormat='dd/MM/YYYY'
                                  nzPlaceHolder='Ngày duyệt kế hoạch'
                                  formControlName='ngayDuyetKeHoach'>
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan='6'>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label nzRequired [nzNoColon]='true' class='label-color-kh'> Mã tổng hợp
                  </nz-form-label>
                  <nz-form-control [nzErrorTip]='error'>
                    <nz-input-group nzAddOnAfterIcon='folder-open'
                                    (click)="!isViewDetail  ? openDialogDsTongHop():  'javascript:;'">
                      <input class='search__input' [readonly]='true' nz-input formControlName='idCanCu'
                             readonly />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan='6'>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label [nzNoColon]='true' class='label-color-kh'> Ngày trình duyệt BTC
                  </nz-form-label>
                  <nz-date-picker [nzDisabled]='true' nzMode='' class='search__input' nzFormat='dd/MM/YYYY'
                                  nzPlaceHolder='Ngày trình BTC duyệt'
                                  formControlName='ngayTrinhDuyetBtc'>
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan='6'>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label [nzNoColon]='true' class='label-color-kh'> Số QĐ của BTC
                  </nz-form-label>
                  <input nz-input formControlName='soQdBtc' [readonly]='true' />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan='6'>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label [nzNoColon]='true' class='label-color-kh'> Ngày duyệt của BTC
                  </nz-form-label>
                  <nz-date-picker [nzDisabled]='true' nzMode='' class='search__input' nzFormat='dd/MM/YYYY'
                                  nzPlaceHolder='Ngày BTC duyệt'
                                  formControlName='ngayDuyetBtc'>
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]='24'>
              <nz-form-item>
                <nz-form-label [nzNoColon]='true'>
                  Căn cứ pháp lý
                </nz-form-label>
                <div class='list-file'>
                  <file-list [isCanCuPL]='true' [isViewDetail]='isViewDetail' [data]='listCcPhapLy'></file-list>
                </div>
              </nz-form-item>
            </div>
            <div nz-col nzSpan='24'>
              <nz-form-item>
                <nz-form-label [nzNoColon]='true'>
                  File đính kèm kế hoạch đã được phê duyệt
                </nz-form-label>
                <div class='list-file'>
                  <file-list [data]='listFileDinhKem' [isViewDetail]='isViewDetail'></file-list>
                </div>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>
  <nz-card class='mt16 flex-card p-lr16 mg-t-10'>
    <nz-collapse>
      <nz-collapse-panel [nzActive]='true' nzHeader='CHI TIẾT KẾ HOẠCH'
                         class='mg-t-10'>
        <form nz-form nzLayout='vertical' [formGroup]='formData'>
          <div nz-row [nzGutter]='24'>
            <div nz-col nzSpan='6'>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label nzRequired [nzNoColon]='true' class='label-color-kh'> Thời gian dự kiến xuất hàng
                  </nz-form-label>
                  <nz-range-picker [nzDisabled]='true' formControlName='thoiGianDuKienXuatHang'
                                   nzFormat='dd/MM/yyyy'></nz-range-picker>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-form-label nzRequired [nzNoColon]='true' class='label-color-kh'> Thời gian đề xuất xuất hàng của
                    Tổng Cục
                  </nz-form-label>
                  <nz-range-picker [nzDisabled]='isViewDetail' formControlName='ngayDxXuatHang'
                                   nzFormat='dd/MM/YYYY'></nz-range-picker>
                </nz-form-control>
              </nz-form-item>
              <!--              <nz-form-item>-->
              <!--                <nz-form-control [nzErrorTip]='error'>-->
              <!--                  <nz-form-label nzRequired [nzNoColon]='true' class='label-color-kh'> Bản tổng hợp-->
              <!--                  </nz-form-label>-->
              <!--                  <nz-form-control [nzErrorTip]='error'>-->
              <!--                    <nz-input-group nzAddOnAfterIcon='folder-open'-->
              <!--                                    (click)="!isViewDetail  ? openDialogDsTongHop():  'javascript:;'">-->
              <!--                      <input class='search__input' [readonly]='true' nz-input formControlName='idCanCu'-->
              <!--                             readonly />-->
              <!--                    </nz-input-group>-->
              <!--                  </nz-form-control>-->
              <!--                </nz-form-control>-->
              <!--              </nz-form-item>-->
            </div>
            <!--            <div nz-col nzSpan='18'>-->
            <!--              <nz-form-item>-->
            <!--                <nz-form-control [nzErrorTip]='error'>-->
            <!--                  <nz-form-label nzRequired [nzNoColon]='true' class='label-color-kh'> Mô tả chi tiết-->
            <!--                  </nz-form-label>-->
            <!--                  <textarea rows='5' nz-input formControlName='moTa' class='search__input'-->
            <!--                            [readonly]='isViewDetail || (dataTongHop && dataTongHop.id > 0)'></textarea>-->
            <!--                </nz-form-control>-->
            <!--              </nz-form-item>-->
            <!--            </div>-->
          </div>
        </form>
        <h3 class='text-uppercase mt-4'>Tổng hợp dữ liệu xuất khác theo cục dtnn kv</h3>
        <nz-card class='mt-2px flex-card data-table card-border-content table-card'>
          <nz-table #tblData [nzData]='listKeHoachDtlTreeByChiCuc' class='nowrap table-chi-tiet' nzBordered>
            <thead>
            <tr>
              <th class='text-center'>STT</th>
              <th>Cục DTNN</th>
              <th>Chi cục DTNN</th>
              <th>Loại hàng DTQG</th>
              <th>Chủng loại</th>
              <th>Năm nhập</th>
              <th>Điểm kho</th>
              <th>Ngăn/lô kho</th>
              <th>Ngày nhập kho</th>
              <th>SL hết hạn (12 tháng) <br /> đề xuất xuất bán</th>
              <th>Tồn kho</th>
              <th>ĐVT</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor='let item of tblData.data, let i = index;'>
              <tr>
                <td (nzExpandChange)='onExpandStringChange(item.idVirtual, $event)'
                    [nzExpand]='expandSetStringCuc.has(item.idVirtual)' nzShowExpand='true' style='width: 40px'>
                </td>
                <td style='font-weight: bold'>{{item.tenCuc}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <ng-container
                *ngIf='expandSetStringCuc.has(item.idVirtual)'>
                <ng-container *ngFor='let lv1 of item.dataChild,let i1=index'>
                  <tr>
                    <td></td>
                    <td></td>
                    <td style='font-weight: bold'>{{lv1.tenChiCuc}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <ng-container *ngFor='let lv2 of lv1.dataChild,let i2=index'>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{{lv2.tenLoaiVthh}}</td>
                      <td>{{lv2.tenCloaiVthh}}</td>
                      <td>{{lv2.namNhap}}</td>
                      <td>{{lv2.tenDiemKho}}</td>
                      <td>{{lv2.tenLoKho ? lv2.tenLoKho : lv2.tenNganKho}}</td>
                      <td>{{lv2.ngayNhapKho|date:globals.dateFormat}}</td>
                      <td>{{lv2.slHetHan|number:globals.numberFormat}}</td>
                      <td>{{lv2.slTonKho|number:globals.numberFormat}}</td>
                      <td>{{lv2.donViTinh}}</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
            </tbody>
          </nz-table>
        </nz-card>
        <h3 class='text-uppercase mt-4'>Tổng hợp dữ liệu xuất khác theo loại, chủng loại hàng DTQG</h3>
        <nz-card class='mt-2px flex-card data-table card-border-content table-card'>
          <nz-table #tblDataByLoaiVthh [nzData]='listKeHoachDtlTreeByVthh' class='nowrap table-chi-tiet' nzBordered>
            <thead>
            <tr>
              <th class='text-center'>STT</th>
              <th>Loại hàng DTQG</th>
              <th>Chủng loại</th>
              <th>Điểm kho</th>
              <th>Ngăn/lô kho</th>
              <th>Ngày nhập kho</th>
              <th>SL hết hạn (12 tháng) <br /> đề xuất xuất bán</th>
              <th>Tồn kho</th>
              <th>ĐVT</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor='let item of tblDataByLoaiVthh.data, let i = index;'>
              <tr>
                <td (nzExpandChange)='onExpandStringChangeVthh(item.idVirtual, $event)'
                    [nzExpand]='expandSetStringLoaiVthh.has(item.idVirtual)' nzShowExpand='true' style='width: 40px'>
                </td>
                <td style='font-weight: bold'>{{item.tenLoaiVthh}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <ng-container
                *ngIf='expandSetStringLoaiVthh.has(item.idVirtual) && expandSetStringLoaiVthh.has(item.idVirtual)'>
                <ng-container *ngFor='let lv1 of item.childData,let i1=index'>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>{{lv1.tenCloaiVthh}}</td>
                    <td>{{lv1.tenDiemKho}}</td>
                    <td>{{lv1.tenLoKho ? lv1.tenLoKho : lv1.tenNganKho}}</td>
                    <td>{{lv1.ngayNhapKho|date:globals.dateFormat}}</td>
                    <td>{{lv1.slHetHan|number:globals.numberFormat}}</td>
                    <td>{{lv1.slTonKho|number:globals.numberFormat}}</td>
                    <td>{{lv1.donViTinh}}</td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
            </tbody>
          </nz-table>
        </nz-card>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>
</div>
<ng-template #error let-control>
  <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
  </ng-container>
</ng-template>

<nz-modal [(nzVisible)]='showDlgPreview' nzWidth='70%'
          (nzOnCancel)='closeDlg()'>
  <div *nzModalContent class='modal__content'>
    <pdf-viewer [src]='pdfSrc' [render-text]='true' style='width: 100%; height: 600px;'></pdf-viewer>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)='printPreview()'
            class='modal__button--save'>
      <i class='icon htvbdh_printer'></i>
      In
    </button>
    <button nz-button (click)='downloadPdf(templateName)'
            class='modal__button--save'>
      <i class='icon htvbdh_file-pdf'></i>
      Xuất .pdf
    </button>
    <button nz-button (click)='downloadWord( templateName)'
            class='modal__button--save'>
      <i class='icon htvbdh_file-word'></i>
      Xuất .docx
    </button>
    <button nz-button (click)='closeDlg()' class='modal__button--cancel'>
      <i nz-icon nzType='close-circle' nzTheme='fill' class='icon-cancel'></i>
      Đóng
    </button>
  </div>
</nz-modal>
