<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
          <span [ngClass]=" formData.value.trangThai == globals.prop.NHAP_BAN_HANH  ? 'status-xanh' : 'status-do' ">
                    {{formData.value.tenTrangThai}}
                </span>
        <span>QUYẾT ĐỊNH QUY HOẠCH</span>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sub ml-2" (click)="quayLai()">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>
      <button type="button" class="btn btn-sub btn-xanh  ml-2" *ngIf="!isViewDetail && formData.value.trangThai == globals.prop.NHAP_DU_THAO"
              (click)="save(true)">
        <i class="icon htvbdh_chuyenvanthu"></i>
        <span>Ban hành</span>
      </button>
      <button type="button" class="btn btn-sub btn-xanh  ml-2" *ngIf="!isViewDetail && formData.value.trangThai == globals.prop.NHAP_DU_THAO" (click)="save()">
        <i class="fa fa-save"></i>
        <span>Lưu</span>
      </button>
    </div>
  </div>
  <nz-card class="mt16 flex-card p-lr16">
    <div class="header header-green-background mg-t-16">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span></span>
          <span>THÔNG TIN CHUNG</span>
        </div>
      </div>
    </div>
    <form [nzLayout]="'vertical'" [formGroup]="formData" nz-form>
      <div nz-row [nzGutter]="20">
        <div nz-col nzSpan="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" nzRequired> Số quyết định
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group nzAddOnAfter="{{maQd}}">
                <nz-input-number [nzDisabled]="isViewDetail" formControlName="soQuyetDinh" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                  [nzSize]="'small'">
                </nz-input-number>
              </nz-input-group>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="16">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" nzRequired>Trích yếu</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group>
                <input [readOnly]="isViewDetail" formControlName="trichYeu" class="search__input" nz-input />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="4">
          <nz-form-item class="form-item">
            <nz-form-control [nzErrorTip]="error">
              <nz-form-label [nzNoColon]="true" nzRequired> Ngày ký </nz-form-label>
              <nz-date-picker [nzDisabled]="isViewDetail" formControlName="ngayKy" nzFormat="dd/MM/yyyy"></nz-date-picker>
            </nz-form-control>

          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-label [nzNoColon]="true" nzRequired>Giai đoạn quy hoạch (năm bắt đầu - năm kết thúc) </nz-form-label>
          <div nz-row>
            <div nz-col nzSpan="10">
              <nz-form-control [nzErrorTip]="error">
                <nz-select [nzDisabled]="isViewDetail" nzPlaceHolder="Năm bắt đầu" nzSpan="11" nzAllowClear formControlName="namBatDau">
                  <nz-option *ngFor="let p of danhSachNam" [nzValue]="p" [nzLabel]="p">
                  </nz-option>
                </nz-select>
              </nz-form-control>

            </div>
            <div nz-col nzSpan="2" class="text-center">
              <i class="icon htvbdh_tcdt_lien-ket icon-lien-ket ng-tns-c190-48"></i>
            </div>
            <div nz-col nzSpan="11">
              <nz-form-control [nzErrorTip]="error">
                <nz-select [nzDisabled]="isViewDetail" nzPlaceHolder="Năm kết thúc" nzSpan="2" nzAllowClear formControlName="namKetThuc">
                  <nz-option *ngFor="let p of danhSachNam" [nzValue]="p" [nzLabel]="p">
                  </nz-option>
                </nz-select>
              </nz-form-control>

            </div>
          </div>
        </div>
        <div nz-col nzSpan="16">
          <nz-form-item class="form-item">
            <nz-form-control [nzErrorTip]="error">
              <nz-form-label [nzNoColon]="true" nzRequired> Mô tả thông tin quy hoạch
              </nz-form-label>
              <input [readOnly]="isViewDetail" class="search__input" formControlName="moTa" nz-input />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">
              Căn cứ pháp lý
            </nz-form-label>
            <div class="list-file">
              <file-list [disabled]="isViewDetail" [data]="fileDinhKems"></file-list>
            </div>
          </nz-form-item>
        </div>
      </div>
    </form>
  <div class="header header-green-background mg-t-16">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span></span>
        <span>THÔNG TIN KHO THANH LÝ SÁT NHẬP</span>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sub ml-10" (click)="exportCt()">
        <i class="icon htvbdh_chuyen-xu-ly"></i>
        <span>Xuất file</span>
      </button>
    </div>
  </div>
    <nz-table  [nzData]="dataTable" nzBordered class="nowrap pd-10" [nzFrontPagination]="false"
               [nzShowPagination]="false">
      <thead>
        <tr>
          <th class="text-center" style="width: 2%;">STT</th>
          <th style="width: 12%;">Cục DTNN KV</th>
          <th style="width: 8%;">Chi cục</th>
          <th style="width: 8%;">Điểm kho</th>
          <th style="width: 8%;">Địa điểm</th>
          <th style="width: 8%;">Diện tích(m2)</th>
          <th style="width: 8%;">Tổng tích lượng (tấn kho)</th>
          <th style="width: 8%;">Phương án quy hoạch</th>
          <th style="width: 29%;">Ghi chú</th>
          <th style="width: 10%;" *ngIf="!isViewDetail">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!isViewDetail">
          <td class="text-center" style="width: 2%;"></td>
          <td style="width: 9%;">
            <nz-input-group>
              <nz-select [(ngModel)]="rowItem.maCuc" nzAllowClear (ngModelChange)="onChangeCuc($event)">
                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsCuc">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </td>
          <td style="width: 9%;">
            <nz-input-group>
              <nz-select [(ngModel)]="rowItem.maChiCuc" nzAllowClear (ngModelChange)="onChangChiCuc($event)">
                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of danhSachChiCuc">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </td>

          <td style="width: 9%;">
            <nz-input-group>
              <nz-select [(ngModel)]="rowItem.maDiemKho" nzAllowClear (ngModelChange)="onChangDiemKho($event)">
                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of danhSachDiemKho">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </td>
          <td style="width: 9%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="rowItem.diaDiem"  />
            </nz-input-group>
          </td>
          <td style="width: 9%;">
            <nz-input-group>
              <nz-input-number [(ngModel)]="rowItem.dienTich"[nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                               [nzSize]="'small'">
              </nz-input-number>
            </nz-input-group>
          </td>
          <td style="width: 9%;">
            <nz-input-group>
              <nz-input-number [(ngModel)]="rowItem.tongTichLuong" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                               [nzSize]="'small'">
              </nz-input-number>
            </nz-input-group>
          </td>
          <td style="width: 9%;">
            <nz-input-group>
              <nz-select [(ngModel)]="rowItem.phuongAnQuyHoach" [nzShowArrow]="false"
                (ngModelChange)="changePhuongAn($event)">
                <nz-option nzValue="{{item.ma}}" nzLabel="{{item.giaTri}}" *ngFor="let item of danhSachPhuongAn">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </td>
          <td style="width: 32%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="rowItem.ghiChu" />
            </nz-input-group>
          </td>
          <td class="text-center" *ngIf="!isViewDetail">
            <a (click)="themMoiItem()">
              <i class="fa fa-plus"></i>
            </a>
            <a (click)="clearData()">
              <i class="icon  htvbdh_nhap-lai1 "></i>
            </a>
          </td>
        </tr>

        <tr *ngFor="let data of dataTable; let idx = index">
          <ng-container *ngIf="!dataEdit[idx].edit; else editTemplate">
            <td>{{ idx + 1 }}</td>
            <td>{{ data.tenCuc }}</td>
            <td>{{ data.tenChiCuc }}</td>
            <td>{{ data.tenDiemKho }}</td>
            <td>{{ data.diaDiem }}</td>
            <td>{{ data.dienTich }}</td>
            <td>{{ data.tongTichLuong }}</td>
            <td>{{ data.tenPhuongAn }}</td>
            <td>{{ data.ghiChu }}</td>
            <td style="text-align: center;" *ngIf="!isViewDetail">
              <a (click)="editItem(idx)">
                <i class=" fa fa-pencil"></i>
              </a>
              <a (click)="xoaItem(idx)">
                <i class="fa fa-trash-o do"></i>
              </a>
            </td>
          </ng-container>
          <ng-template #editTemplate>
            <td style="width: 2%;"></td>
            <td style="width: 8%;">
              <nz-input-group>
                <input nz-input [(ngModel)]="dataEdit[idx].data.tenCuc" readonly />
              </nz-input-group>
            </td>
            <td style="width: 8%;">
              <nz-input-group>
                <input nz-input [(ngModel)]="dataEdit[idx].data.tenChiCuc" readonly />
              </nz-input-group>
            </td>
            <td style="width: 8%;">
              <nz-input-group>
                <input nz-input [(ngModel)]="dataEdit[idx].data.tenDiemKho" readonly />
              </nz-input-group>
            </td>
            <td style="width: 8%;">
              <nz-input-group>
                <input nz-input [(ngModel)]="dataEdit[idx].data.diaDiem"  />
              </nz-input-group>
            </td>
            <td style="width: 8%;">
              <nz-input-group>
                <nz-input-number [(ngModel)]="dataEdit[idx].data.dienTich" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                                 [nzSize]="'small'">
                </nz-input-number>
              </nz-input-group>
            </td>
            <td style="width: 8%;">
              <nz-input-group>
                <nz-input-number [(ngModel)]="dataEdit[idx].data.tongTichLuong" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                                 [nzSize]="'small'">
                </nz-input-number>
              </nz-input-group>
            </td>
            <td style="width: 8%;">
              <nz-input-group>
                <nz-select [(ngModel)]="dataEdit[idx].data.phuongAnQuyHoach" nzAllowClear>
                  <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                  <nz-option nzValue="{{item.ma}}" nzLabel="{{item.giaTri}}" *ngFor="let item of danhSachPhuongAn">
                  </nz-option>
                </nz-select>
              </nz-input-group>
            </td>
            <td style="width: 32%;">
              <nz-input-group>
                <input nz-input [(ngModel)]="dataEdit[idx].data.ghiChu" />
              </nz-input-group>
            </td>
            <td class="text-center" style="width: 10%;">
              <a (click)="luuEdit(idx)" class="save">
                <i class="fa fa-save"></i>
              </a>
              <a (click)="huyEdit(idx)">
                <i class="fa fa-ban do"></i> </a>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </nz-table>
    <div class="header header-green-background mg-t-16">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span></span>
          <span>THÔNG TIN KHO ĐẦU TƯ MỚI</span>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-sub ml-10" (click)="exportCt()">
          <i class="icon htvbdh_chuyen-xu-ly"></i>
          <span>Xuất file</span>
        </button>
      </div>
    </div>
    <nz-table  [nzData]="dataTable" nzBordered class="nowrap pd-10" [nzFrontPagination]="false"
               [nzShowPagination]="false">
      <thead>
      <tr>
        <th class="text-center" style="width: 2%;">STT</th>
        <th style="width: 12%;">Cục DTNN KV</th>
        <th style="width: 8%;">Chi cục</th>
        <th style="width: 8%;">Điểm kho</th>
        <th style="width: 8%;">Địa điểm</th>
        <th style="width: 8%;">Diện tích(m2)</th>
        <th style="width: 8%;">Tổng tích lượng (tấn kho)</th>
        <th style="width: 8%;">Phương án quy hoạch</th>
        <th style="width: 29%;">Ghi chú</th>
        <th style="width: 10%;" *ngIf="!isViewDetail">Hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="!isViewDetail">
        <td class="text-center" style="width: 2%;"></td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-select [(ngModel)]="rowItem.maCuc" nzAllowClear (ngModelChange)="onChangeCuc($event)">
              <nz-option nzValue="null" nzDisabled nzHide></nz-option>
              <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsCuc">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-select [(ngModel)]="rowItem.maChiCuc" nzAllowClear (ngModelChange)="onChangChiCuc($event)">
              <nz-option nzValue="null" nzDisabled nzHide></nz-option>
              <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of danhSachChiCuc">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </td>

        <td style="width: 9%;">
          <nz-input-group>
            <nz-select [(ngModel)]="rowItem.maDiemKho" nzAllowClear (ngModelChange)="onChangDiemKho($event)">
              <nz-option nzValue="null" nzDisabled nzHide></nz-option>
              <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of danhSachDiemKho">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.diaDiem"  />
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-input-number [(ngModel)]="rowItem.dienTich"[nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                             [nzSize]="'small'">
            </nz-input-number>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-input-number [(ngModel)]="rowItem.tongTichLuong" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                             [nzSize]="'small'">
            </nz-input-number>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-select [(ngModel)]="rowItem.phuongAnQuyHoach" [nzShowArrow]="false"
                       (ngModelChange)="changePhuongAn($event)">
              <nz-option nzValue="{{item.ma}}" nzLabel="{{item.giaTri}}" *ngFor="let item of danhSachPhuongAn">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </td>
        <td style="width: 32%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.ghiChu" />
          </nz-input-group>
        </td>
        <td class="text-center" *ngIf="!isViewDetail">
          <a (click)="themMoiItem()">
            <i class="fa fa-plus"></i>
          </a>
          <a (click)="clearData()">
            <i class="icon  htvbdh_nhap-lai1 "></i>
          </a>
        </td>
      </tr>

      <tr *ngFor="let data of dataTable; let idx = index">
        <ng-container *ngIf="!dataEdit[idx].edit; else editTemplate">
          <td>{{ idx + 1 }}</td>
          <td>{{ data.tenCuc }}</td>
          <td>{{ data.tenChiCuc }}</td>
          <td>{{ data.tenDiemKho }}</td>
          <td>{{ data.diaDiem }}</td>
          <td>{{ data.dienTich }}</td>
          <td>{{ data.tongTichLuong }}</td>
          <td>{{ data.tenPhuongAn }}</td>
          <td>{{ data.ghiChu }}</td>
          <td style="text-align: center;" *ngIf="!isViewDetail">
            <a (click)="editItem(idx)">
              <i class=" fa fa-pencil"></i>
            </a>
            <a (click)="xoaItem(idx)">
              <i class="fa fa-trash-o do"></i>
            </a>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td style="width: 2%;"></td>
          <td style="width: 8%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.tenCuc" readonly />
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.tenChiCuc" readonly />
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.tenDiemKho" readonly />
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.diaDiem"  />
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <nz-input-number [(ngModel)]="dataEdit[idx].data.dienTich" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                               [nzSize]="'small'">
              </nz-input-number>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <nz-input-number [(ngModel)]="dataEdit[idx].data.tongTichLuong" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                               [nzSize]="'small'">
              </nz-input-number>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <nz-select [(ngModel)]="dataEdit[idx].data.phuongAnQuyHoach" nzAllowClear>
                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                <nz-option nzValue="{{item.ma}}" nzLabel="{{item.giaTri}}" *ngFor="let item of danhSachPhuongAn">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </td>
          <td style="width: 32%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.ghiChu" />
            </nz-input-group>
          </td>
          <td class="text-center" style="width: 10%;">
            <a (click)="luuEdit(idx)" class="save">
              <i class="fa fa-save"></i>
            </a>
            <a (click)="huyEdit(idx)">
              <i class="fa fa-ban do"></i> </a>
          </td>
        </ng-template>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>

</div>
