.header-detail-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 100%;
  height: 39px;

  background: #EAF3F3;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-transform: uppercase;

  color: #444444;
}
