::ng-deep {
    .ds-qd-dc {
        .ant-tabs-tabpane {
            padding: 10px 20px !important;
        }
    }

    .btn-action {
        margin-right: 10px;
    }

    // .bien-ban-ban-dau-gia__body {
    //     .main-content {
    //         height: calc(100vh - 286px) !important;
    //     }
    // }
    .thong-tin-bb-dau-gia {
        overflow: auto;
    }
}