.text-green {
  color: #001CFF;
  font-weight: 500;
  font-size: 12px;
}

.text-blue {
  color: #001CFF !important;
  font-weight: bold;
  background-color: #ededed;
}

.bg-selected {
  background-color: #efefef;
}

form {
  min-height: 420px;
}
