.rdo-input {
  display: flex;

  .ant-form-item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }

  label {
    padding-top: 8px;
    font-size: 13px;
    font-weight: 500;
  }
}

.icon-file-dinh-kem {
  display: flex;
  align-items: center;
  position: relative;

  .input-file {
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}


.list-file {
  .ant-input-affix-wrapper {
    padding: 0px 11px !important;
  }
}

.text-green {
  color: #8BC34C;
  font-weight: 500;
  font-size: 12px;
}

.text-blue {
  color: #001CFF !important;
  font-weight: bold;
  //background-color: #ededed;
}

.bg-selected td {
  background-color: #ebedff;
}

.title-card {
  width: 100%;

  &>* {
    display: inline;
  }

  button {
    float: right;
  }
}

:host ::ng-deep .ant-statistic-content {
  color: #001CFF;
  font-size: 18px;
}

tr {
  height: 31px;
}

.text-blue {
  color: Blue;
  font-weight: 500;
  font-size: 12px;
}

.text-red {
  color: red;
  font-weight: 500;
  font-size: 12px;
}