<nz-affix [nzOffsetTop]="globals.prop.MENU_LV0" class="level0">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzSelected (click)="selectTab('01')" *ngIf="userService.isAccessPermisson('QLĐMNXBQ_ĐMPNXBP')">
      Định mức phí nhập, xuất, bảo quản được cấp có thẩm quyền giao
    </li>
    <li nz-menu-item (click)="selectTab('02')" *ngIf="userService.isAccessPermisson('QLĐMNXBQ_ĐMPNXBP')">
      Định mức phí nhập, xuất, bảo quản Cục DTNN KV giao
    </li>
  </ul>
</nz-affix>
<div class="contentBor chi-tieu__body giao-ke-hoach">
  <ng-container *ngIf="tabSelected == '01'">
    <app-dinh-muc-phi-nhap-xuat-bao-quan [capDvi]="capDvi"></app-dinh-muc-phi-nhap-xuat-bao-quan>
  </ng-container>
  <ng-container *ngIf="tabSelected == '02'">
    <app-dinh-muc-phi-nhap-xuat-bao-quan [capDvi]="capDvi"></app-dinh-muc-phi-nhap-xuat-bao-quan>
  </ng-container>
</div>
