@import '../../../../../../assets/scss/default.scss';
::ng-deep {
  .thong-tin-de-xuat-khlcnt {
    .ant-form-item-no-colon {
      margin-bottom: 0px;
    }
    .btn-tep {
      margin-bottom: 6px;
    }
    .tab-menu.tab-content {
      background: none !important;
      border-bottom: none !important;
    }
    .trai,
    .phai {
      padding: 0px !important;
    }
    .btn-export {
      position: absolute;
      top: 0;
      right: 0;
    }
    .tab__luong-thuc {
      position: relative;
      .ant-tabs-content-holder {
        .ant-card-body {
          padding: 0px !important;
        }
      }
      .ant-table.ant-table-bordered > .ant-table-container {
        border-left: 0px !important;
        border-right: 0px !important;
      }
      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #444 !important;
        font-size: unset !important;
      }
      .flex-card.ant-card {
        border: 1px solid #ececec !important;
        background: transparent;
        box-shadow: unset;
        margin-bottom: 24px;
        margin-top: 11px !important;
      }
      nz-tabset.ant-tabs.ant-tabs-card.ant-tabs-top.ant-tabs-default {
        border-radius: unset;
      }
      .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab,
      .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
      }
      .ant-tabs-tab-btn {
        color: unset !important;
        font-size: unset !important;
        font-weight: unset !important;
        text-transform: unset !important;
      }
      .ant-tabs-tab.ng-star-inserted {
        width: unset !important;
        justify-content: center;
        padding: 8px 16px !important;
        height: unset !important;
        margin-right: unset !important;
      }
      .ant-tabs-tab.ant-tabs-tab-active.ng-star-inserted {
        border: solid 1px #4e5484 !important;
      }
      .ant-tabs .ant-tabs-nav-wrap {
        margin-top: 0px !important;
      }
      .ant-card.card-tree {
        margin: 0px 0px 0px 0px;
        padding: 0 16px 16px 16px;
        border: solid 1px #4e5484 !important;
        border-radius: 0px;
        margin-bottom: 24px;
      }
      .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
        background-color: unset !important;
      }
      .ant-tabs-content-holder {
        padding: 24px !important;
        border: 1px solid #ececec !important;
        background: #fff !important;
      }
      .ant-tabs-tabpane {
        background-color: #fff !important;
      }
    }
    .ant-table-body {
      .ant-table-row {
        .action {
          text-align: right !important;
        }
      }
    }
  }
  .header-detail-tab {
    padding: 16px 0px 16px 0px;
    color: #828282;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
  }
}
