<div class="bg-trang" *ngIf="!isDetail">
  <nz-card class="mt16 flex-card p-lr16">
    <form [nzLayout]="'vertical'" nz-form [formGroup]="formData">
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="loaiVthh.startsWith('02') ? 2 : 3">
          <label class="search__label"> Năm kế hoạch </label>
          <nz-select formControlName="nam">
            <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
          </nz-select>
        </div>
        <div nz-col [nzSpan]="3" *ngIf="loaiVthh.startsWith('02')">
          <label class="search__label">Loại hàng hóa</label>
          <nz-select formControlName="loaiVthh" (ngModelChange)="onChangeCloaiVthh($event)">
            <nz-option *ngFor="let p of listVthh" [nzValue]="p.ma" [nzLabel]="p.ten"></nz-option>
          </nz-select>
        </div>
        <div nz-col [nzSpan]="loaiVthh.startsWith('02') ? 3 : 4">
          <label class="search__label">Chủng loại hàng hóa</label>
          <nz-select formControlName="cloaiVthh">
            <nz-option *ngFor="let p of listCloaiVthh" [nzValue]="p.ma" [nzLabel]="p.ten"></nz-option>
          </nz-select>
        </div>
        <div nz-col [nzSpan]="4">
          <label class="search__label">Số quyết định phê duyệt KQ BĐG</label>
          <input placeholder="Nhập số quyết định" nz-input formControlName="soQdKq"/>
        </div>
        <div nz-col [nzSpan]="loaiVthh.startsWith('02') ? 7 : 8">
          <label class="search__label">Trích yếu</label>
          <input placeholder="Nhập nội dung" nz-input formControlName="trichYeu"/>
        </div>
        <div nz-col [nzSpan]="5">
          <label class="search__label">Ngày ký</label>
          <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="12" class="cus-start-date">
              <nz-date-picker [nzDisabledDate]="disabledNgayKyTu" nzFormat="dd/MM/yyyy" formControlName="ngayKyTu"
                              nzPlaceHolder="Ngày bắt đầu">
              </nz-date-picker>
            </div>
            <div nz-col nzSpan="12" class="cus-end-date">
              <nz-date-picker [nzDisabledDate]="disabledNgayKyDen" nzFormat="dd/MM/yyyy" formControlName="ngayKyDen"
                              nzPlaceHolder="Ngày kết thúc"></nz-date-picker>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="cangiua group-button-search">
      <button nz-button class="search__button--clear" (click)="clearFilter()">
        <i class="icon  htvbdh_nhap-lai1"></i>
        Xóa điều kiện
      </button>
      <button nz-button class="search__button--search" (click)="search()">
        <i nz-icon nzType="search"></i>
        Tìm kiếm
      </button>
    </div>
  </nz-card>

  <div class="group-button">
    <h3 class="text-uppercase">DANH SÁCH QUYẾT ĐỊNH PHÊ DUYỆT KẾT QUẢ BÁN ĐẤU GIÁ</h3>
    <div class="buttons">
      <button *ngIf="loaiVthh.startsWith('02') ? userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_VT_QDKQDG_XOA'):
           userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_LT_QDKQDG_XOA')"
              type="button" class="btn btn-do" (click)="deleteMulti()">
        <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
        <span> Xóa </span>
      </button>
      <button *ngIf="loaiVthh.startsWith('02') ? userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_VT_QDKQDG_EXP'):
           userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_LT_QDKQDG_EXP')"
              type="button" class="btn btn-sub"
              (click)="exportData('Danh-sach-quyet-dinh-phe-duyet-ket-qua-ban-dau-gia.xlsx')">
        <i class="icon htvbdh_chuyen-xu-ly"></i>
        <span> Xuất file </span>
      </button>
      <button *ngIf="loaiVthh.startsWith('02') ? userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_VT_QDKQDG_THEM'):
           userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_LT_QDKQDG_THEM')"
              type="button" class="btn btn-main" (click)="redirectDetail(0, false)">
        <i class=" icon htvbdh_dau-cong"></i>
        <span> Thêm </span>
      </button>
    </div>
  </div>

  <nz-card class="mt-2px flex-card data-table card-border-content table-card">
    <nz-table #rowSelectionTable class="nowrap" nzBordered [nzData]="dataTable" [nzFrontPagination]="false"
              [nzShowPagination]="false">
      <thead>
      <tr class="header-row">
        <th width="45px">
          <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
                 [nzIndeterminate]="indeterminate"></label>
        </th>
        <th class="text-center" style="width: 2%;"> STT</th>
        <th class="text-center"> Năm kế hoạch</th>
        <th class="text-center"> Số QĐ PD KQ BĐG</th>
        <th class="text-center"> Ngày ký</th>
        <th class="text-center"> Trích yếu</th>
        <th class="text-center"> Ngày tổ chức BĐG</th>
        <th class="text-center"> Số QĐ PD KH BĐG</th>
        <th class="text-center"> Mã thông báo BĐG</th>
        <th class="text-center"> Hình thức đấu giá</th>
        <th class="text-center"> Phương thức đấu giá</th>
        <th class="text-center"> Số TB đấu giá không thành</th>
        <th class="text-center"> Số biên bản đấu giá</th>
        <th class="text-center"> Trạng thái</th>
        <th class="text-center"> Hành động</th>
      </tr>
      <tr class="search-table">
        <th></th>
        <th></th>
        <th>
          <nz-input-group>
            <nz-select nzAllowClear [(ngModel)]="filterTable.namKh"
                       (ngModelChange)="filterInTable('namKh',filterTable.namKh)">
              <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
            </nz-select>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soQdKq"
                   (input)="filterInTable('soQdKq',filterTable.soQdKq)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <nz-date-picker nzFormat="dd/MM/yyyy" nzPlaceHolder="" [(ngModel)]="filterTable.ngayKy"
                            (ngModelChange)="filterInTable('ngayKy', convertDateToString(filterTable.ngayKy))">
            </nz-date-picker>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.trichYeu"
                   (input)="filterInTable('trichYeu',filterTable.trichYeu)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <nz-date-picker nzFormat="dd/MM/yyyy" nzPlaceHolder="" [(ngModel)]="filterTable.ngayKy"
                            (ngModelChange)="filterInTable('ngayKy', convertDateToString(filterTable.ngayKy))">
            </nz-date-picker>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soQdPd"
                   (input)="filterInTable('soQdPd',filterTable.soQdPd)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.maThongBao"
                   (input)="filterInTable('maThongBao',filterTable.maThongBao)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tenHinhThucDauGia"
                   (input)="filterInTable('tenHinhThucDauGia',filterTable.tenHinhThucDauGia)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tenPthucDauGia"
                   (input)="filterInTable('tenPthucDauGia',filterTable.tenPthucDauGia)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soTbKhongThanh"
                   (input)="filterInTable('soTbKhongThanh',filterTable.soTbKhongThanh)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soBienBan"
                   (input)="filterInTable('soBienBan',filterTable.soBienBan)" size="small"/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <nz-select nzAllowClear [(ngModel)]="filterTable.tenTrangThai"
                       (ngModelChange)="filterInTable('tenTrangThai',filterTable.tenTrangThai)">
              <nz-option *ngFor="let p of listTrangThai" [nzValue]="p.giaTri" [nzLabel]="p.giaTri"></nz-option>
            </nz-select>
          </nz-input-group>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowSelectionTable.data; let idx = index">
        <td width="45px">
          <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="updateSingleChecked()"
                 [nzDisabled]="data.trangThai != '00'"></label>
        </td>
        <td class="text-center">{{(page - 1) * pageSize + idx + 1}}</td>
        <td>{{ data.nam }}</td>
        <td>{{ data.soQdKq }}</td>
        <td>{{ data.ngayKy|date: 'dd/MM/YYYY' }}</td>
        <td>{{ data.trichYeu }}</td>
        <td></td>
        <td>
          <a *ngIf="data.soQdPd && data.idQdPd" nz-button nzType="link" (click)="openModalQdPd(data.idQdPd)">
            {{ data.soQdPd }}</a>
        </td>
        <td>
          <a *ngIf="data.maThongBao && data.idThongTin" nz-button nzType="link"
             (click)="openModalMaThongBao(data.idThongTin)">
            {{ data.maThongBao }}</a>
        </td>

        <td>{{ data.tenHinhThucDauGia }}</td>
        <td>{{ data.tenPthucDauGia }}</td>
        <td>{{ data.soTbKhongThanh }}</td>
        <td>
          <a *ngIf="data.soBienBan && data.idThongTin" nz-button nzType="link"
             (click)="openModalMaThongBao(data.idThongTin)">
            {{ data.soBienBan }}</a>
        </td>
        <td>{{ data.tenTrangThai }}</td>
        <td class="text-left">
          <a *ngIf="loaiVthh.startsWith('02') ? vldTrangThai.checkStatusPermission(data,CHUC_NANG.XEM) && userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_VT_QDKQDG_XEM')&&
               !(vldTrangThai.checkStatusPermission(data,CHUC_NANG.SUA) && userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_VT_QDKQDG_THEM'))&&
               !(vldTrangThai.checkStatusPermission(data,CHUC_NANG.DUYET_TP) && userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_VT_QDKQDG_DUYET_TP'))&&
               !(vldTrangThai.checkStatusPermission(data,CHUC_NANG.DUYET_LDC) && userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_VT_QDKQDG_DUYET_LDC')):
               vldTrangThai.checkStatusPermission(data,CHUC_NANG.XEM) && userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_LT_QDKQDG_XEM')&&
               !(vldTrangThai.checkStatusPermission(data,CHUC_NANG.SUA) && userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_LT_QDKQDG_THEM'))&&
               !(vldTrangThai.checkStatusPermission(data,CHUC_NANG.DUYET_TP) && userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_LT_QDKQDG_DUYET_TP'))&&
               !(vldTrangThai.checkStatusPermission(data,CHUC_NANG.DUYET_LDC) && userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_LT_QDKQDG_DUYET_LDC'))"
             (click)="redirectDetail(data.id,true)">
            <i class="fa fa-eye" title="Xem chi tiết"></i>
          </a>
          <a *ngIf="loaiVthh.startsWith('02') ? (vldTrangThai.checkStatusPermission(data,CHUC_NANG.SUA)&&userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_VT_QDKQDG_THEM')):
             (vldTrangThai.checkStatusPermission(data,CHUC_NANG.SUA)&&userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_LT_QDKQDG_THEM'))"
             (click)="redirectDetail(data.id,false)">
            <i class="fa fa-pencil" title="Sửa"></i>
          </a>
          <a *ngIf="loaiVthh.startsWith('02') ? (vldTrangThai.checkStatusPermission(data,CHUC_NANG.DUYET_TP)&&userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_VT_QDKQDG_DUYET_TP'))||
              (vldTrangThai.checkStatusPermission(data,CHUC_NANG.DUYET_LDC)&&userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_VT_QDKQDG_DUYET_LDC')):
              (vldTrangThai.checkStatusPermission(data,CHUC_NANG.DUYET_TP)&&userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_LT_QDKQDG_DUYET_TP'))||
              (vldTrangThai.checkStatusPermission(data,CHUC_NANG.DUYET_LDC)&&userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_LT_QDKQDG_DUYET_LDC'))"
             (click)="redirectDetail(data.id,true)">
            <i class="icon htvbdh_tcdt_pheduyet"></i>
          </a>
          <a (click)="delete(data)"
             *ngIf="loaiVthh.startsWith('02') ? vldTrangThai.checkStatusPermission(data,CHUC_NANG.XOA)&&userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_VT_QDKQDG_XOA'):
               vldTrangThai.checkStatusPermission(data,CHUC_NANG.XOA)&&userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG_LT_QDKQDG_XOA')">
            <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <div class="tab-content tab-menu" id="myTabContent">
      <div class="tab-pane fade show active justify-content-between">
        <div class="trai">
        </div>
        <div class="canphai">
          <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord" nzShowSizeChanger
                         [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate"
                         (nzPageIndexChange)="changePageIndex($event)"
                         (nzPageSizeChange)="changePageSize($event)">
            <ng-template #rangeTemplate let-range="range" let-total>
              {{ range[0] }}-{{ range[1] }} trên tổng số {{ total }} bản ghi
            </ng-template>
          </nz-pagination>
        </div>
      </div>
    </div>
  </nz-card>
</div>
<div *ngIf="isDetail" class="chi-tiet">
  <app-them-moi-quyet-dinh-phe-duyet-ket-qua [idInput]="idSelected" [loaiVthh]="loaiVthh" [isView]="isView"
                                             (showListEvent)="showList()">
  </app-them-moi-quyet-dinh-phe-duyet-ket-qua>
</div>

<nz-modal class="scroll-nz-modal" [nzWidth]="'90%'" [(nzVisible)]="isViewQdPd" (nzOnCancel)="closeModalQdPd()">
  <ng-container *nzModalContent class="modal__content custom-scroll-modal">
    <app-them-quyet-dinh-ban-dau-gia [idInput]="idQdPd" [loaiVthh]="loaiVthh" [isViewOnModal]="true" [isView]="true">
    </app-them-quyet-dinh-ban-dau-gia>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="closeModalQdPd()" class="modal__button--cancel">
      <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
      Đóng
    </button>
  </div>
</nz-modal>

<nz-modal class="scroll-nz-modal" [nzWidth]="'90%'" [(nzVisible)]="isViewThongTin"
          (nzOnCancel)="closeModalMaThongBao()">
  <ng-container *nzModalContent class="modal__content custom-scroll-modal">
<!--    <app-thongtin-daugia [idInput]="idThongTin" [isView]="true">-->
<!--    </app-thongtin-daugia>-->
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="closeModalMaThongBao()" class="modal__button--cancel">
      <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
      Đóng
    </button>
  </div>
</nz-modal>
