<nz-affix [nzOffsetTop]="141" class="btn-affix" *ngIf="!isViewOnModal">
    <div class="btn-group">
        <button type="button" class="btn btn-sub" (click)="goBack()">
            <i class="fa fa-arrow-left"></i>
            <span>Quay lại</span>
        </button>
        <button type="button" class="btn btn-sub do ml-2" (click)="preview(previewName)"
            *ngIf="userService.isAccessPermisson(MA_QUYEN.IN)">
            <i class="icon htvbdh_tcdt_tuchoi"></i>
            <span>In/xem trước</span>
        </button>
        <button class="btn btn-sub xanh-nhat" type="button"
            *ngIf="userService.isAccessPermisson(MA_QUYEN.THEM) && this.userService.isChiCuc() && !isDisabled() && (formData.value.trangThai===STATUS.DU_THAO|| formData.value.trangThai == STATUS.TU_CHOI_KTVBQ || formData.value.trangThai == STATUS.TU_CHOI_KT || formData.value.trangThai == STATUS.TU_CHOI_LDCC)"
            (click)="save(true)">
            <i class="icon htvbdh_tcdt_guiduyet"></i>
            <span>Lưu và gửi duyệt</span>
        </button>
        <button class="btn btn-sub xanh"
            *ngIf="userService.isAccessPermisson(MA_QUYEN.THEM) &&  this.userService.isChiCuc() && !isDisabled() && (formData.value.trangThai === STATUS.DU_THAO || formData.value.trangThai == STATUS.TU_CHOI_KTVBQ || formData.value.trangThai == STATUS.TU_CHOI_KT || formData.value.trangThai == STATUS.TU_CHOI_LDCC)"
            (click)="save(false)">
            <i class="icon  htvbdh_tcdt_save"></i>
            <span>Lưu</span>
        </button>
        <button type="button" class="btn btn-sub do" *ngIf="checkRoleDuyet(formData.value.trangThai)"
            (click)="tuChoi()">
            <i class="icon htvbdh_tcdt_tuchoi do"></i>
            <span>Từ chối</span>
        </button>
        <button class="btn btn-sub xanh-nhat" *ngIf="checkRoleDuyet(formData.value.trangThai)" (click)="pheDuyet()">
            <i class="icon htvbdh_tcdt_pheduyet "></i>
            <span>Duyệt</span>
        </button>
    </div>
</nz-affix>
<div class="bg-trang">
    <div class="header header-green-background">
        <div class="header-text">
            <div class="title-chi-tieu">
                <span [ngClass]="formData.value.trangThai == STATUS.DA_DUYET_LDCC ? 'status-xanh' : 'status-do'">
                    {{ LIST_TRANG_THAI[formData.value.trangThai] }}
                </span>
                <span>Biên bản tịnh kho</span>
            </div>
        </div>
    </div>

    <nz-alert class="mg-t-10"
        *ngIf="formData.value.trangThai == STATUS.TU_CHOI_KTVBQ || formData.value.trangThai == STATUS.TU_CHOI_KT || formData.value.trangThai == STATUS.TU_CHOI_LDCC"
        nzShowIcon nzType="error" nzMessage="Lý do từ chối" nzDescription="{{formData.value.lyDoTuChoi}}">
    </nz-alert>

    <nz-card class="mg-t-16 flex-card p-lr16">
        <form [nzLayout]="'vertical'" nz-form [formGroup]="formData">
            <div nz-row [nzGutter]="[18, 6]">
                <div nz-col nzSpan="2">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired>
                            Năm kế hoạch
                        </nz-form-label>
                        <nz-form-control nz-col>
                            <nz-select formControlName="nam" [nzDisabled]="true">
                                <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired>
                            Đơn vị
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <input nz-input formControlName="tenDvi" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="4">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired>
                            Mã QHNS (mã quan hệ ngân sách)
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <input nz-input formControlName="maQhns" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                            Số BB tịnh kho
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <input nz-input formControlName="soBbTinhKho" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="4">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired>
                            Ngày lập BB tịnh kho
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <nz-date-picker [nzDisabled]="isView" nzFormat="dd/MM/yyyy" formControlName="ngayLap">
                                </nz-date-picker>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="5">
                    <nz-form-item>
                        <nz-form-label nzRequired [nzNoColon]="true">
                            Số QĐ ĐC
                        </nz-form-label>
                        <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
                            <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogSoQd()">
                                <input nz-input [readonly]="isView" formControlName="soQdinhDcc" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="5">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired>
                            Ngày ký QĐ điều chuyển
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <nz-date-picker nzDisabled nzFormat="dd/MM/yyyy" formControlName="ngayKyQdDcc">
                                </nz-date-picker>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <!-- <div nz-col [nzSpan]="4">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired> Ngăn kho</nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogDdiemXuatHang()">
                                <input [readonly]="isView" nz-input formControlName="tenNganKho" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="4">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true"> Lô kho</nz-form-label>
                        <nz-form-control>
                            <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogDdiemXuatHang()">
                                <input [readonly]="isView" nz-input formControlName="tenLoKho" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div> -->
                <div nz-col [nzSpan]="8">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired> Ngăn/ Lô kho</nz-form-label>
                        <nz-form-control>
                            <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogDdiemXuatHang()">
                                <input nz-input formControlName="tenNganLoKho" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired> Nhà kho</nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogDdiemXuatHang()">
                                <input nz-input formControlName="tenNhaKho" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired> Điểm kho</nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogDdiemXuatHang()">
                                <input nz-input formControlName="tenDiemKho" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="4">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired> Loại hàng hóa<address></address></nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <input nz-input formControlName="tenLoaiVthh" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="4">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired> Chủng loại hàng hóa</nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <input nz-input formControlName="tenCloaiVthh" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="4">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired>
                            Ngày Bắt đầu xuất
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <nz-date-picker nzDisabled nzFormat="dd/MM/yyyy" formControlName="ngayBatDauXuat">
                                </nz-date-picker>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="4">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired>
                            Ngày kết thúc xuất
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <nz-date-picker nzDisabled nzFormat="dd/MM/yyyy" formControlName="ngayLap">
                                </nz-date-picker>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="2">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired> Đơn vị tính</nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <input nz-input formControlName="donViTinh" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6" *ngIf="thayDoiThuKho">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true" nzRequired> Số phiếu kiểm nghiệm chất lượng</nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <input nz-input formControlName="soPhieuKnChatLuong" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
        <form [nzLayout]="'vertical'" nz-form [formGroup]="formData">
            <div class="mg-t-16">Thông tin bảng kê cân hàng và phiếu xuất kho</div>
            <nz-card class="mg-t-16 flex-card p-lr16 table-card">
                <nz-table #basicTable nzBordered class="pd-10" [nzData]="formData.value.dcnbBienBanTinhKhoDtl"
                    class="nowrap" [nzFrontPagination]="false" [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <!-- <th>Phiếu kiểm nghiệm chất lượng</th> -->
                            <th>Phiếu xuất kho</th>
                            <th>{{isVatTu? "Bảng kê xuất vật tư": "Bảng kê cân hàng"}}</th>
                            <th>Ngày xuất kho</th>
                            <th>Số lượng xuất kho</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of basicTable.data, let i = index;">
                            <tr>
                                <td>{{i + 1}}</td>
                                <!-- <td><a *ngIf="item.phieuKtChatLuongHdrId" nz-button nzType="link"
                                        (click)="openPhieuKNCLModal(item.phieuKtChatLuongHdrId)">{{item.soPhieuKtChatLuong}}</a>
                                </td> -->
                                <td><a *ngIf="item.phieuXuatKhoHdrId" nz-button nzType="link"
                                        (click)="openPhieuKXModal(item.phieuXuatKhoHdrId)">{{item.soPhieuXuatKho}}</a>
                                </td>
                                <td *ngIf="!isVatTu"><a *ngIf="item.bangKeCanHangHdrId" nz-button nzType="link"
                                        (click)="openBKCHModal(item.bangKeCanHangHdrId)">{{item.soBangKeCanHang}}</a>
                                </td>
                                <td *ngIf="isVatTu"><a *ngIf="item.bangKeCanHangHdrId" nz-button nzType="link"
                                        (click)="openBKXVTModal(item.bangKeCanHangHdrId)">{{item.soBangKeCanHang}}</a>
                                </td>
                                <td>{{item.ngayXuatKho}}</td>
                                <td>{{item.soLuongXuat |number:'1.0-1' : 'vi_VN'}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                    <tfoot>
                        <ng-container>
                            <tr>
                                <td colspan="4" class="bold text-blue text-right">TỔNG</td>
                                <td class="bold text-blue">{{formData.value.tongSlXuatTheoTt |number:'1.0-1' : 'vi_VN'}}
                                </td>
                            </tr>
                        </ng-container>
                    </tfoot>
                </nz-table>
            </nz-card>
        </form>
        <form [nzLayout]="'vertical'" nz-form [formGroup]="formData">
            <div nz-row [nzGutter]="[18, 6]">
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                            Tổng số lượng xuất ĐC theo quyết định
                        </nz-form-label>
                        <span>{{formData.value.tongSlXuatTheoQd |number:'1.0-1' : 'vi_VN'}}</span>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                            Tổng số lượng xuất ĐC thực tế
                        </nz-form-label>
                        <span>{{formData.value.tongSlXuatTheoTt |number:'1.0-1' : 'vi_VN'}}</span>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="3">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                            SL còn lại theo sổ sách
                        </nz-form-label>
                        <span>{{formData.value.slConLaiTheoSs |number:'1.0-1' : 'vi_VN'}}</span>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="4">
                    <nz-form-item>
                        <nz-form-label nzRequired [nzNoColon]="true">
                            SL thực tế còn lại khi xuất kho lần cuối
                        </nz-form-label>
                        <nz-form-control nz-col [nzErrorTip]="error">
                            <!-- <input nz-input formControlName="slConLaiTheoTt" [readonly]="isView" /> -->
                            <nz-input-number [nzDisabled]="isView" formControlName="slConLaiTheoTt"
                                (ngModelChange)="slChenhLech()" [nzMin]="0" [nzMax]="globals.prop.MAX_INPUT"
                                [nzStep]="1" [nzSize]="'small'" [nzFormatter]="globals.formatter"
                                [nzParser]="globals.parser" readonly>
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="4">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                            SL chênh lệch giữa thực tế và sổ sách
                        </nz-form-label>
                        <div nz-row nzSpan="24">
                            <div nz-col nzSpan="12">Thừa: {{formData.value.chenhLechSlConLai >=0 ?
                                makePositive(formData.value.chenhLechSlConLai): 0 |number:'1.0-1' : 'vi_VN'}}
                            </div>
                            <div nz-col nzSpan="12">Thiếu: {{formData.value.chenhLechSlConLai <0?
                                    makePositive(formData.value.chenhLechSlConLai): 0 |number:'1.0-1' : 'vi_VN' }}
                                    </div>


                            </div>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzRequired [nzNoColon]="true">
                            Nguyên nhân
                        </nz-form-label>
                        <nz-form-control nz-col [nzErrorTip]="error">
                            <textarea rows="3" class="search__input" nz-input formControlName="nguyenNhan"
                                [readonly]="isView"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzRequired [nzNoColon]="true">
                            Kiến nghị
                        </nz-form-label>
                        <nz-form-control nz-col [nzErrorTip]="error">
                            <textarea rows="3" class="search__input" nz-input formControlName="kienNghi"
                                [readonly]="isView"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired [nzNoColon]="true">
                            Ghi chú
                        </nz-form-label>
                        <nz-form-control nz-col [nzErrorTip]="error">
                            <textarea rows="3" class="search__input" nz-input formControlName="ghiChu"
                                [readonly]="isView"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                            Thủ kho
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <input nz-input formControlName="thuKho" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                            KTV bảo quản
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <input nz-input formControlName="ktvBaoQuan" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                            Kế toán/Kế toán trưởng
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <input nz-input formControlName="keToan" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                            Lãnh đạo Chi Cục
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                                <input nz-input formControlName="lanhDaoChiCuc" readonly />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                            File đính kèm biên bản tịnh kho đã ký
                        </nz-form-label>
                        <div class="list-file">
                            <file-list [data]="fileBbTinhKhoDaKy"></file-list>
                        </div>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </nz-card>
</div>
<ng-template #error let-control>
    <app-template-error #error [control]="control"></app-template-error>
</ng-template>
<!-- Modal phieu xuat -->
<nz-modal class="scroll-nz-modal" [nzWidth]="'90%'" [(nzVisible)]="isViewModalPhieuXuatKho"
    [nzBodyStyle]="{ 'overflow-y': 'auto' }" (nzOnCancel)="closeModal()">
    <ng-container *nzModalContent class="modal__content custom-scroll-modal">
        <app-xuat-dcnb-them-moi-phieu-xuat-kho [idInput]="idPhieuXuatKho" [loaiDc]="loaiDc" [isVatTu]="isVatTu"
            [thayDoiThuKho]="thayDoiThuKho" [type]="type"
            [isViewOnModal]="true"></app-xuat-dcnb-them-moi-phieu-xuat-kho>
    </ng-container>
    <div *nzModalFooter>
        <button nz-button (click)="closeModal()" class="modal__button--cancel">
            <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
            Đóng
        </button>
    </div>
</nz-modal>
<!-- Modal phieu kiem nghiem chat luong -->
<nz-modal class="scroll-nz-modal" [nzWidth]="'90%'" [(nzVisible)]="isViewModalPhieuKNCL"
    [nzBodyStyle]="{ 'overflow-y': 'auto' }" (nzOnCancel)="closeModal()">
    <ng-container *nzModalContent class="modal__content custom-scroll-modal">
        <app-them-moi-phieu-kiem-nghiem-chat-luong [idInput]="idPhieuKNCL" [loaiDc]="loaiDc" [isVatTu]="isVatTu"
            [thayDoiThuKho]="thayDoiThuKho" [type]="type"
            [isViewOnModal]="true"></app-them-moi-phieu-kiem-nghiem-chat-luong>
    </ng-container>
    <div *nzModalFooter>
        <button nz-button (click)="closeModal()" class="modal__button--cancel">
            <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
            Đóng
        </button>
    </div>
</nz-modal>
<!-- Modal bang ke can hang -->
<nz-modal class="scroll-nz-modal" [nzWidth]="'90%'" [(nzVisible)]="isViewModalBKCH"
    [nzBodyStyle]="{ 'overflow-y': 'auto' }" (nzOnCancel)="closeModal()">
    <ng-container *nzModalContent class="modal__content custom-scroll-modal">
        <app-xdcnb-chi-tiet-bang-ke-can [idInput]="idBKCH" [loaiDc]="loaiDc" [isVatTu]="isVatTu"
            [thayDoiThuKho]="thayDoiThuKho" [type]="type" [isViewOnModal]="true"></app-xdcnb-chi-tiet-bang-ke-can>
    </ng-container>
    <div *nzModalFooter>
        <button nz-button (click)="closeModal()" class="modal__button--cancel">
            <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
            Đóng
        </button>
    </div>
</nz-modal>
<nz-modal class="scroll-nz-modal" [nzWidth]="'90%'" [(nzVisible)]="isViewModalBKXVT"
    [nzBodyStyle]="{ 'overflow-y': 'auto' }" (nzOnCancel)="closeModal()">
    <ng-container *nzModalContent class="modal__content custom-scroll-modal">
        <app-xdcnb-chi-tiet-bang-ke-xuat-vat-tu [idInput]="idBKXVT" [loaiDc]="loaiDc" [isVatTu]="isVatTu"
            [thayDoiThuKho]="thayDoiThuKho" [type]="type"
            [isViewOnModal]="true"></app-xdcnb-chi-tiet-bang-ke-xuat-vat-tu>
    </ng-container>
    <div *nzModalFooter>
        <button nz-button (click)="closeModal()" class="modal__button--cancel">
            <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
            Đóng
        </button>
    </div>
</nz-modal>

<nz-modal [(nzVisible)]="showDlgPreview" nzTitle="BIÊN BẢN TỊNH KHO" nzWidth="100%" (nzOnCancel)="closeDlg()">
    <div *nzModalContent class="modal__content">
        <pdf-viewer [src]="pdfSrc" [render-text]="true" style="width: 100%; height: 600px;"></pdf-viewer>
    </div>
    <div *nzModalFooter>
        <button nz-button (click)="printPreview()" class="modal__button--save">
            <i class="icon htvbdh_printer"></i>
            In
        </button>
        <button nz-button (click)="downloadPdf(previewName)" class="modal__button--save">
            <i class="icon htvbdh_file-pdf"></i>
            Xuất .pdf
        </button>
        <button nz-button (click)="downloadWord(previewName)" class="modal__button--save">
            <i class="icon htvbdh_file-word"></i>
            Xuất .docx
        </button>
        <button nz-button (click)="closeDlg()" class="modal__button--cancel">
            <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
            Đóng
        </button>
    </div>
</nz-modal>