.ghichu_tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  height: 26px;
  color: red;
}

// ::ng-deep {
//   .chi-tiet {
//     .menu-lv3 {
//       .tab-menu.tab-content {
//         background-color: transparent !important;
//         border-bottom: none !important;
//       }
//     }

//     .header-tab {
//       // background: #ffffff !important;
//       // margin: 8px 36px 0px 36px !important;
//     }

//     .tab-tt-chi-tieu-level-0 {
//       margin-left: 16px;
//       margin-right: 16px;
//       margin-top: 16px !important;

//       .ant-tabs-content-holder {
//         display: none !important;
//       }

//       .pagination-card li:first-child {
//         left: 10px;
//       }

//       .ant-tabs-nav {
//         .ant-tabs-top>.ant-tabs-nav::before {
//           border-bottom: 0 !important;
//         }

//         background: #fff !important;
//         padding-bottom: 0px !important;

//         .ant-tabs-nav-wrap {
//           background: #fff !important;
//           margin-left: 16px;

//           .ant-tabs-tab {
//             background-color: #fff !important;
//             border-width: 1px 1px 0px 1px;
//             // border-color: #fff;
//           }

//           .ant-tabs-tab-active::before {
//             height: 0;
//           }

//           .ant-tabs-tab.ant-tabs-tab-active {
//             background-color: #fff !important;
//             border: 1px solid #f3f3f3 !important;
//             border-bottom: 0px !important;

//             .ant-tabs-tab-btn {
//               font-weight: 500;
//             }
//           }
//         }
//       }
//     }

//     .chi-tieu__body {
//       .flex-card.ant-card {
//         border: 1px solid #ececec !important;
//         background: transparent;
//         box-shadow: unset;
//         margin-bottom: 0px !important;
//         margin-top: 11px !important;
//         border-radius: 0px;
//       }

//       .table__body {
//         overflow: scroll;
//       }

//       .tab__container {
//         margin: 10px;
//       }

//       .ghi-chu {
//         padding: 0 10px;

//         .ant-form-item-no-colon {
//           margin-bottom: 0px !important;
//         }

//         ul {
//           padding-left: 25px !important;
//         }

//         .ghi-chu__item {
//           font-style: italic;
//           font-weight: normal;
//           font-size: 12px;
//           line-height: 200%;
//         }
//       }

//       tr.table__header-vat-tu.ant-table-row>td {
//         background: #f1f1f1;
//       }

//       .tab__container {
//         position: relative;
//       }

//       .action {
//         position: absolute;
//         right: 22px;
//         top: -4px;
//       }
//     }

//     .star {
//       color: #ff4d4f;
//     }

//     .input-so-qd {
//       width: calc(100% - 70px);
//       border-top-right-radius: 0;
//       border-bottom-right-radius: 0;
//     }

//     .code-so-qd {
//       width: 70px;
//       background: #f8f9fa;
//       border: 1px solid #c4c9cc;
//       border-left: none;
//       font-size: 12px;
//       height: 24px;
//       float: right;
//       line-height: 24px;
//       text-align: center;
//       border-top-right-radius: 0px;
//       border-bottom-right-radius: 0px;
//     }

//     .tep {
//       cursor: pointer;
//       position: absolute;
//       top: 4px;
//       height: 20px;
//       left: 616px;
//       color: #7a8eff;
//       white-space: nowrap;
//       overflow: hidden;
//       text-overflow: ellipsis;
//       font-size: 13px;

//       span {
//         margin-left: 5px;
//       }
//     }

//     .show-table {
//       display: block;
//     }

//     .hide-table {
//       display: none;
//     }

//     .table-out-tab {
//       margin-top: 0px !important;
//       padding: 10px;
//       border: 1px solid #f0f0f0;
//       border-top: 1px solid #f0f0f0;
//       background: #fff;
//       border-bottom-left-radius: 0px;
//       border-bottom-right-radius: 0px;
//     }

//     .ant-tabs-content-holder {
//       border-bottom: 0;
//       border: 1 !important;
//     }

//     .file-not-show {
//       display: none !important;
//     }

//     .tai-lieu-dinh-kem {
//       padding: 16px 8px !important;
//     }

//     .show-row {
//       display: table-row;
//     }

//     .hide-row {
//       display: none;
//     }

//     .disable {
//       cursor: not-allowed;
//       background: #f5f5f5;
//     }

//     .form-item-ghi-chu {
//       display: block;
//     }

//     .w-300 {
//       width: 300px;
//     }

//     .w-120 {
//       width: 120px !important;
//     }

//     .isDisabled {
//       opacity: 0.5;
//     }

//     .row-disabled {
//       pointer-events: none;
//       opacity: 0.5;
//     }

//     .thong-tin-chi-tieu {
//       .ant-form-item-label>label {
//         height: 24px !important;
//       }
//     }

//     .thong-tin-chi-tieu {
//       border: 1px solid #e0e0e0;
//       padding: 0 10px 10px 10px;

//       .ant-form-item-label.ant-col,
//       .ant-form-item-control {
//         padding: 0px !important;
//       }

//       .title-chi-tieu {
//         display: flex;
//         align-items: center;
//       }
//     }

//     .de-xuat {
//       .main-content {
//         height: unset;
//       }

//       .title-chi-tieu {
//         padding: 0;
//       }
//     }
//   }

//   .tab-menu-new .tab-level-3-specical .ant-tabs-content-holder .ant-tabs-tabpane {
//     overflow: hidden;
//   }
// }

.ghichu_tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  height: 26px;
  color: red;
}

.text-btc {
  color: blue;
}


.bg-parent td {
  background-color: #D9D9D9;
}

.bg-parent1 {
  background-color: #EAEAEA;
}

.bg-parent2 {
  background-color: #F3F3F3;
}