<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
      <span
        [ngClass]="formData.value.trangThai == STATUS.BAN_HANH ? 'da-ban-hanh' : 'du-thao-va-lanh-dao-duyet'">
        {{ formData.value.tenTrangThai }}
      </span>
        <span>Quyết định phê duyệt/điều chỉnh kế hoạch vốn, cải tạo, sửa chữa lớn hàng năm của BTC</span>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sub ml-2" (click)="goBack()">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>
      <button
        *ngIf="formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU && userService.isTongCuc() && userService.isAccessPermisson('QLKT_QHKHKT_KHSUACHUALON_QDBTC_THEM')"
        type="button"
        class="btn btn-sub ml-2"
        (click)="save(true)">
        <i class="icon htvbdh_tcdt_guiduyet"></i>
        <span>Ban hành</span>
      </button>
      <button type="button" class="btn btn-sub xanh ml-2"
              *ngIf=" (formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU) && userService.isTongCuc() && userService.isAccessPermisson('QLKT_QHKHKT_KHSUACHUALON_QDBTC_THEM')"
              (click)="save(false)">
        <i class="icon htvbdh_tcdt_save"></i>
        <span>Lưu</span>
      </button>
    </div>
  </div>
  <nz-card class="mt16 flex-card p-lr16">
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'THÔNG TIN CHUNG'" [nzActive]="true">
        <form [nzLayout]="'vertical'" [formGroup]="formData" nz-form>
          <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="24">
              <nz-form-item class="form-item">
                <nz-form-control [nzErrorTip]="error">
                  <nz-radio-group formControlName="kieu" [nzDisabled]="isViewDetail"
                                  (ngModelChange)="changeKieu($event)">
                    <label nz-radio nzValue="LD">Lần đầu</label>
                    <label nz-radio nzValue="DC">Điều chỉnh</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="2">
              <nz-form-item class="form-item">
                <nz-form-label [nzNoColon]="true" nzRequired> Năm kế hoạch
                </nz-form-label>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-select nzAllowClear formControlName="namKeHoach">
                    <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="7">
              <nz-form-item class="form-item">
                <nz-form-label [nzNoColon]="true" nzRequired> Số QĐ của BTC
                </nz-form-label>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-input-group nzAddOnAfter="{{maQd}}">
                    <input nz-input formControlName="soQuyetDinh" [readonly]="isViewDetail"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="3">
              <nz-form-item class="form-item">
                <nz-form-label [nzNoColon]="true" nzRequired> Ngày ký QĐ của BTC</nz-form-label>
                <nz-form-control [nzErrorTip]='error'>
                  <nz-date-picker [nzDisabled]="isViewDetail" formControlName="ngayKy"
                                  nzFormat="dd/MM/yyyy"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12" *ngIf="formData.value.kieu == 'LD'">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true" nzRequired>Căn cứ trên QĐ giao nhiệm vụ của BTC
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfterIcon="folder-open" (click)="chonSoQdGiaoNv()">
                    <input [readonly]="true" nz-input formControlName="soQdGiaoNv" readonly="true"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="10" *ngIf="formData.value.kieu == 'DC'">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true" nzRequired>Căn cứ số QĐ của BTC cần điều chỉnh
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfterIcon="folder-open" (click)="conSoQdDc()">
                    <input [readonly]="true" nz-input formControlName="soQdGoc" readonly="true"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="2" *ngIf="formData.value.kieu == 'DC'">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true" nzRequired>Lần điều chỉnh
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfterIcon="folder-open">
                    <nz-input-number [nzDisabled]="true" formControlName="lanDc"
                                     [nzMin]="1"
                                     [nzMax]="globals.prop.MAX_INPUT" [nzStep]="1" [nzSize]="'small'"
                                     [nzFormatter]="globals.formatter" [nzParser]="globals.parser">
                    </nz-input-number>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true" >Trích yếu</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group>
                    <input [readonly]="isViewDetail" nz-input formControlName="trichYeu"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Căn cứ pháp lý
                </nz-form-label>
                <div class="list-file">
                  <file-list [data]="fileCanCu" [isViewDetail]="isViewDetail"></file-list>
                </div>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Tài liệu đính kèm
                </nz-form-label>
                <div class="list-file">
                  <file-list [data]="fileDinhKem" [isViewDetail]="isViewDetail"></file-list>
                </div>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'QUYẾT ĐỊNH CỦA BỘ TÀI CHÍNH'" [nzActive]="true">
        <nz-table #basicTable nzBordered class="nowrap pd-10" [nzFrontPagination]="false" [nzShowPagination]="false"
                  [nzData]="dataTable">
          <thead>
            <tr>
              <th class="text-center" nzWidth="45px">STT</th>
              <th class="text-center" nzWidth="130px">Cục DTNN KV </th>
              <th class="text-center" nzWidth="130px">Chi cục </th>
              <th class="text-center" nzWidth="130px">Khối dự án/ công trình </th>
              <th class="text-center" nzWidth="130px">Tên công trình</th>
              <th class="text-center" nzWidth="130px">Điểm kho</th>
              <th class="text-center" nzWidth="90px">Địa điểm</th>
              <th class="text-center">Thời gian sửa chữa gần nhất</th>
              <th class="text-center" nzWidth="80px">Nguồn vốn</th>
              <th class="text-center" nzWidth="80px">Tổng mức đầu tư (khái toán/dự toán) (đ)</th>
              <th class="text-center" nzWidth="80px">Giá trị quyết toán được duyệt (đ)</th>
              <th class="text-center" nzWidth="80px">Lũy kế cấp vốn đến thời điểm hiện tại(đ)</th>
              <th class="text-center" nzWidth="80px">Kế hoạch vốn năm hiện tại (đ)</th>
              <th class="text-center" nzWidth="130px">Ghi chú</th>
              <th class="text-center" nzWidth="130px">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataTable; let i = index">
              <td nzWidth="45px">{{i+1}}</td>
              <td>{{ data.tenCuc }}</td>
              <td>{{ data.tenChiCuc }}</td>
              <td>{{ data.tenKhoi }}</td>
              <td>{{ data.tenCongTrinh }}</td>
              <td>{{ data.tenDiemKho }}</td>
              <td>{{ data.tieuChuan  }}</td>
              <td>{{ data.tgThucHien + ' - ' + data.tgHoanThanh }}</td>
              <td>{{ data.lyDo }}</td>
              <td>{{ data.vonDauTuTcdt | number : '1.0-1' : 'vi_VN' }}</td>
              <td>{{ data.giaTriPd | number : '1.0-1' : 'vi_VN' }}</td>
              <td>{{ data.ncKhTongSo | number : '1.0-1' : 'vi_VN' }}</td>
              <td><nz-input-number [nzDisabled]="isViewDetail" [nzSize]="'small'"  [nzFormatter]="globals.formatter" [nzParser]="globals.parser"
                                   nz-input [(ngModel)]="data.keHoachVon" [nzMin]="1" ></nz-input-number>
              <td>{{ data.ghiChu }}</td>
              <td>
                <a *ngIf="(formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU )"
                  (click)="deleteRow(i)">
                  <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>
</div>
<ng-template #error let-control>
  <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
  </ng-container>
</ng-template>
