@import './variables';
@font-face {
    font-family: 'Gill Light';
    src: url('../assets/fonts/Gill\ Sans\ Nova\ Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gill Medium';
    src: url('../assets/fonts/Gill\ Sans\ Nova\ Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}
.wd-100 {
    width: 100% !important;
}
.fw-500 {
    font-family: 'Gill Medium' !important;
}
button.mat-button {
    border: 2px solid $primary-color;
    color: $primary-color;
    //font-weight: 500;
    padding-left: 24px;
    padding-right: 24px;
    margin: 2rem;

    &:hover,
    &:focus {
        background-color: #f5f5f5;
    }

    &.mat-primary {
        color: white;

        &:hover,
        &:focus {
            background-color: #0957DE;
        }
    }

    &.mat-warn {
        color: white;
        border: none;
        background: $warning-color;

        &:hover,
        &:focus {
            background-color: #df535a;
        }
    }

    &.mat-underline {
        border: none;
    }

    &.mat-slim {
        margin: 0.5rem;
    }

    &[disabled][disabled] {
        color: white;
        border: none;
        background: $disabled-color;
        border: 2px solid $disabled-color;
    }
}

.content-area {
    width: 960px;
    margin: 0 auto;
}

.mat-cell {
    padding-top: 12px;
    padding-bottom: 12px;
}
