.icon-file-dinh-kem {
    display: flex;
    align-items: center;
    position: relative;

    .input-file {
        width: 20px;
        height: 20px;
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}

.blue-text {
  color: #001CFF;
  font-weight: 500;
  font-size: 12px;
}
