.text-green {
  color: #8BC34C;
  font-weight: 500;
  font-size: 12px;
}

.text-blue {
  color: #001CFF !important;
  font-weight: bold;
  //background-color: #ededed;
}

.bg-selected td {
  background-color: #ebedff;
}

.title-card {
  width: 100%;

  &>* {
    display: inline;
  }

  button {
    float: right;
  }
}

:host ::ng-deep .ant-statistic-content {
  color: #001CFF;
  font-size: 18px;
}

::ng-deep {
  .rdo-input.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .rdo-input.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .loaiVthh-group>nz-form-item {
    margin-top: 36px;
    border: 1px solid #d9d9d9;
    padding: 0 16px;
  }

  .search__input.blue input {
    color: #001CFF;
    font-weight: bold;
  }
}