<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span [ngClass]="formData.value.trangThai === STATUS.BAN_HANH ? 'da-ban-hanh' : 'du-thao-va-lanh-dao-duyet'">
          {{ formData.value.tenTrangThai }}
        </span>
        <span> QUYẾT ĐỊNH PHÊ DUYỆT ĐIỀU CHUYỂN NỘI BỘ HÀNG DTQG CỦA TỔNG CỤC DTNN</span>
      </div>
    </div>

    <div *ngIf="!isViewOnModal" class="btn-group">

      <button type="button" class="btn btn-sub" (click)="quayLai()">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>

      <button *ngIf="!isView" type="button" class="btn btn-sub xanh-nhat ml-2" (click)="save(true)">
        <i class="icon htvbdh_tcdt_guiduyet"></i>
        <span>Lưu và gửi duyệt</span>
      </button>

      <button *ngIf="!isView" type="button" class="btn btn-main ml-2" (click)="save()">
        <i class="icon htvbdh_tcdt_save"></i>
        <span>Lưu</span>
      </button>

      <button *ngIf="isView && formData.value.trangThai == STATUS.DU_THAO" type="button" class="btn btn-sub"
        (click)="guiDuyet()">
        <i class="icon htvbdh_tcdt_pheduyet"></i>
        <span>Gửi duyệt</span>
      </button>

      <button
        *ngIf="formData.value.trangThai == STATUS.CHO_DUYET_LDV || formData.value.trangThai == STATUS.DA_DUYET_LDV"
        type="button" class="btn btn-sub" (click)="tuChoi()">
        <i class="icon htvbdh_tcdt_tuchoi do"></i>
        <span>Từ chối</span>
      </button>

      <button
        *ngIf="(formData.value.trangThai == STATUS.CHO_DUYET_LDV || formData.value.trangThai == STATUS.CHO_DUYET_LDTC) && userService.isAccessPermisson('DCNB_QUYETDINHDC_DUYET_LDTC')"
        type="button" class="btn btn-sub" (click)="pheDuyet()">
        <i class="icon htvbdh_tcdt_pheduyet"></i>
        <span>Duyệt</span>
      </button>

      <button *ngIf="isBanHanh()" type="button" class="btn btn-info ml-2" (click)="save(true)">
        <i class="icon htvbdh_chuyenvanthu"></i>
        <span>Ban hành</span>
      </button>

    </div>
  </div>

  <nz-alert class="mg-t-16"
    *ngIf="formData.value.trangThai == STATUS.TU_CHOI_LDV || formData.value.trangThai == STATUS.TU_CHOI_LDTC" nzShowIcon
    nzType="error" nzMessage="Lý do từ chối" nzDescription="{{formData.value.lyDoTuChoi}}">
  </nz-alert>

  <nz-collapse nzAccordion>
    <nz-collapse-panel [nzHeader]="'THÔNG TIN CHUNG'" [nzActive]="true">
      <!-- <div class="mt16 flex-card p-lr16">
        <div class="header header-green-background mg-t-16">
          <div class="header-text">
            <div class="title-chi-tieu">
              <span></span>
              <span>Thông tin chung</span>
            </div>
          </div>
        </div>
      </div> -->
      <form nz-form nzLayout="vertical" [formGroup]="formData">
        <nz-card class="mg-t-16 flex-card p-lr16">
          <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Loại điều chuyển
                </nz-form-label>
                <nz-form-control nz-col [nzErrorTip]="error">
                  <nz-radio-group formControlName="loaiDc" [nzDisabled]="isView || isViewOnModal"
                    (ngModelChange)="onChangeLoaiDc($event)">
                    <label nz-radio *ngFor="let p of listLoaiDC" [nzValue]="p.value">{{p.text}}</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </nz-card>
        <nz-card class="mg-t-16 flex-card p-lr16">
          <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="3">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Năm kế hoạch
                </nz-form-label>
                <nz-form-control nz-col [nzErrorTip]="error">
                  <nz-select [nzDisabled]="isView || isViewOnModal" formControlName="nam" nzAllowClear>
                    <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Số quyết định</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfter="/{{maQd}}">
                    <nz-input-number [nzDisabled]="(isView && !isBanHanh()) || isViewOnModal" formControlName="soQdinh"
                      [nzMin]="1" [nzMax]="999999999999" [nzStep]="1" [nzSize]="'small'">
                    </nz-input-number>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Ngày ký quyết định</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-date-picker [nzDisabled]="(isView && !isBanHanh()) || isViewOnModal" formControlName="ngayKyQdinh"
                    nzFormat="dd/MM/yyyy">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Ngày hiệu lực</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-date-picker [nzDisabled]="(isView && !isBanHanh()) || isViewOnModal" formControlName="ngayPduyet"
                    nzFormat="dd/MM/yyyy">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col [nzSpan]="12">
              <nz-radio-group [nzDisabled]="isView || isViewOnModal || !!idTHop" nzSize="small" class="rdo-input"
                formControlName="type">
                <nz-form-item nz-col [nzSpan]="11">
                  <label nz-radio nzValue="TH">Chọn mã tổng hợp</label>
                  <nz-form-control [nzErrorTip]="error">
                    <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogTh()">
                      <input [readonly]="true" nz-input formControlName="idThop" readonly="true" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col [nzSpan]="11">
                  <label nz-radio nzValue="TTr">Chọn số đề xuất/ công văn</label>
                  <nz-form-control [nzErrorTip]="error">
                    <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogTr()">
                      <input [readonly]="true" nz-input formControlName="maDxuat" readonly="true" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </nz-radio-group>
            </div>




            <div nz-col [nzSpan]="18">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Trích yếu
                </nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="trichYeu" [readonly]="isView || isViewOnModal" />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Loại hình nhập xuất
                </nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="tenLoaiHinhNhapXuat" [readonly]="true" />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Kiểu nhập xuất
                </nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="tenKieuNhapXuat" [readonly]="true" />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Ý kiến của các Vụ nghiệp vụ
                </nz-form-label>
                <nz-form-control>
                  <textarea rows="3" nz-input placeholder="Nhập nội dung" [readonly]="isView"
                    formControlName="ysKienVuKhac"></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Căn cứ pháp lý
                </nz-form-label>
                <div class="list-file">
                  <file-list [data]="canCu" [disabled]="(isView && !isBanHanh()) || isViewOnModal"
                    [isViewDetail]="(isView && !isBanHanh()) || isViewOnModal"></file-list>
                </div>
              </nz-form-item>
            </div>

            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  File đính kèm QĐ phê duyệt KH điều chuyển nội bộ của Tổng cục đã ban hành
                </nz-form-label>
                <div class="list-file">
                  <file-list [data]="quyetDinh" [disabled]="(isView && !isBanHanh()) || isViewOnModal"
                    [isViewDetail]="(isView && !isBanHanh()) || isViewOnModal"></file-list>
                </div>
              </nz-form-item>
            </div>
          </div>
        </nz-card>


      </form>
    </nz-collapse-panel>


  </nz-collapse>

  <div class="mt16 flex-card p-lr16">
    <nz-collapse nzAccordion>
      <nz-collapse-panel
        [nzHeader]="formData.value.loaiDc == 'CHI_CUC' ? 'THÔNG TIN ĐIỀU CHUYỂN NỘI BỘ GIỮA CÁC CHI CỤC DTNN TRONG CÙNG 1 CỤC DTNN KV' : 'THÔNG TIN ĐIỀU CHUYỂN NỘI BỘ GIỮA 2 CỤC DTNN KV'"
        [nzActive]="true">
        <nz-card class="mt-2px flex-card data-table card-border-content table-card">
          <nz-table #quyetDinhPdDtl class="nowrap mt-16 table-chi-tiet" nzBordered
            [nzData]="formData.value.quyetDinhPdDtl">
            <thead>
              <tr>
                <th style="width: 35px">STT</th>
                <th>{{formData.value.loaiDc == 'CUC' ? 'Cục DTNN KV xuất ĐC' : 'Cục DTNN KV'}}</th>
                <th *ngIf="formData.value.loaiDc == 'CUC'">Cục DTNN KV nhận ĐC</th>
                <th>Số đề xuất/ Công văn</th>
                <th>Ngày trình duyệt Tổng cục</th>
                <th>Tổng dự toán kinh phí (triệu đồng)</th>
                <th>Tổng dự toán kinh phí PD (triệu đồng)</th>
                <th>Trích yếu</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of quyetDinhPdDtl.data, let i = index;">
                <tr [ngClass]="{'bg-selected': selected === i}" (click)="selectRow(i)">
                  <td>{{i + 1}}</td>
                  <td>{{item.tenDviCuc || item.tenCucDxuat || item.tenCucXuat || ""}}</td>
                  <td *ngIf="formData.value.loaiDc == 'CUC'">{{item.tenCucNhan || ""}}</td>
                  <td>{{item.soDxuat || ""}}</td>
                  <td>{{item.ngayGduyet | date: 'dd/MM/yyyy'}}</td>
                  <td>{{item.tongDuToanKp|number: '1.0-1' || ""}}</td>
                  <td>
                    <nz-input-number [(ngModel)]='item.tongDuToanKpPd' [nzMin]="0" [nzMax]="999999999" [nzStep]="1"
                      [nzSize]="'small'" [nzFormatter]="globals.formatter" [nzParser]="globals.parser"
                      [nzDisabled]="isView">
                    </nz-input-number>
                  </td>
                  <td>{{item.trichYeu || ""}}</td>
                </tr>
              </ng-container>
            </tbody>

          </nz-table>

        </nz-card>
      </nz-collapse-panel>
    </nz-collapse>



    <div nz-col [nzSpan]="24">
      <!-- <div class="header header-green-background mg-t-16">
        <div class="title-card">
          <div class="title-chi-tieu">
            <span></span>
            <span>Quyết định của TCDTNN</span>
          </div>
        </div>

      </div> -->
      <nz-collapse nzAccordion>
        <nz-collapse-panel [nzHeader]="'Quyết định của TCDTNN'" [nzActive]="true">
          <nz-card class="mt-2px flex-card data-table card-border-content table-card">
            <nz-table *ngIf="formData.value.loaiDc === 'CHI_CUC'" #basicTable class="nowrap table-chi-tiet"
              [nzData]="dataTableView" [nzFrontPagination]="false" [nzShowPagination]="false" nzBordered>
              <thead>
                <tr>
                  <th rowspan="2" width="60px" class="text-center">STT</th>
                  <th rowspan="2"></th>
                  <th rowspan="2"></th>
                  <th colspan="10" class="text-center">Chi cục đề xuất điều chuyển</th>
                  <th rowspan="2" class="text-center break min-w-120 max-w-120">
                    Dự toán kinh phí
                    PD (triệu đồng)</th>
                  <th rowspan="2" style="max-width: 90px; min-width: 90px;  white-space: break-spaces;"
                    class="text-center">
                    Thời gian dự
                    kiến điều chuyển</th>
                  <th colspan="5" class="text-center">Chi cục nhận điều chuyển đến</th>
                  <th rowspan="2" class="text-center break max-w-90 min-w-90">Trạng thái xác định điểm
                    nhập
                  </th>
                </tr>
                <tr>
                  <th>Chi cục</th>
                  <th>Điểm kho</th>
                  <th>Lô kho</th>
                  <th class="text-center">Loại HH</th>
                  <th class="text-center">Chủng loại hàng hóa</th>
                  <th class="text-center">Năm nhập kho</th>
                  <th class="text-center">ĐVT</th>
                  <th class="text-center">Tồn kho</th>
                  <th class="text-center">Sl điều chuyển</th>
                  <th class="text-center break min-w-120 max-w-120">Dự toán kinh phí (triệu đồng)</th>
                  <th>Chi cục</th>
                  <th class="text-center">Điểm kho</th>
                  <th class="text-center">Lô kho</th>
                  <th class="text-center">Tích lượng khả dụng</th>
                  <th class="text-center">Sl nhập ĐC</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of basicTable.data , let i = index">
                  <tr>
                    <td class="text-center">{{(page - 1) * pageSize + i + 1}}</td>
                    <td [nzExpand]="item.expand"
                      (nzExpandChange)="item.expand=!item.expand; item.children=setExpand(item.expand, item.children)">
                    </td>
                    <td></td>
                    <td class="bold">{{ item.tenDvi || "" }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right bold">{{item.duToanKphi|number: '1.0-1':
                      'vi_VN'}}</td>
                    <td class="text-right bold">{{item.duToanKphiPd|number: '1.0-1':
                      'vi_VN'}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <ng-container *ngIf="item.expand">
                    <ng-container *ngFor="let bb of item.children, let y = index">
                      <tr>
                        <td></td>
                        <td></td>
                        <td [nzExpand]="bb.expand" (nzExpandChange)="bb.expand=!bb.expand">
                        </td>
                        <td></td>
                        <td class="bold">{{ bb.tenDiemKho || ""}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <ng-container *ngIf="bb.expand">
                        <ng-container *ngFor="let c of bb.children, let y = index">
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bold">{{c.tenLoKho || ""}} - {{c.tenNganKho || ""}} - {{c.tenNhaKho || ""}}</td>
                            <td class="bold">{{c.tenLoaiVthh || ""}}</td>
                            <td class="bold">{{c.tenCloaiVthh || ""}}</td>
                            <td class="bold">{{c.namNhap || ""}}</td>
                            <td class="bold">{{c.donViTinh || ""}}</td>
                            <td class="text-right bold">{{c.tonKho|number: '1.0-1':
                              'vi_VN'}}
                            </td>
                            <td class="text-right bold">{{c.soLuongDc|number: '1.0-1':
                              'vi_VN'}}</td>
                            <td class="text-right bold">{{c.duToanKphi|number: '1.0-1':
                              'vi_VN'}}</td>
                            <td class="text-right bold">{{item.duToanKphiPd|number: '1.0-1':
                              'vi_VN'}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <ng-container *ngFor="let d of c.children, let y = index">
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td class="bold">{{d.thoiGianDkDc|date: "dd/MM/yyyy"}}</td>
                              <td class="bold">{{d.tenChiCucNhan || ""}}</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td class="text-center">
                                <label nz-checkbox [(ngModel)]="d.daXdinhDiemNhap" nzDisabled="true"></label>
                              </td>
                            </tr>
                            <ng-container *ngFor="let e of d.children, let y = index">
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{(e.tenDiemKhoNhan || "")}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <ng-container *ngFor="let e of d.children, let y = index">
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td>{{e.tenLoKhoNhan}} - {{e.tenNganKhoNhan}} - {{e.tenNhaKhoNhan}}</td>
                                  <td class="text-right">
                                    {{c.tichLuongKd|number:'1.0-1':'vi_VN'}}</td>
                                  <td class="text-right">
                                    {{c.soLuongPhanBo|number:'1.0-1':'vi_VN'}}</td>
                                  <td></td>
                                </tr>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tbody>
            </nz-table>

            <nz-table *ngIf="formData.value.loaiDc === 'CUC'" #basicTable class="nowrap table-chi-tiet"
              [nzData]="dataTableView" [nzFrontPagination]="false" [nzShowPagination]="false" nzBordered>
              <thead>
                <tr>
                  <th rowspan="2" width="60px" class="text-center">STT</th>
                  <th rowspan="2"></th>
                  <th rowspan="2"></th>
                  <th colspan="10" class="text-center">Chi cục đề xuất điều chuyển</th>
                  <th rowspan="2" class="text-center break min-w-120 max-w-120">
                    Dự toán kinh phí
                    PD (triệu đồng)</th>
                  <th rowspan="2" style="max-width: 90px; min-width: 90px;  white-space: break-spaces;"
                    class="text-center">
                    Thời gian dự
                    kiến điều chuyển</th>
                  <th colspan="7" class="text-center">Chi cục nhận điều chuyển đến</th>
                </tr>
                <tr>
                  <th>Chi cục</th>
                  <th>Điểm kho</th>
                  <th>Lô kho</th>
                  <th class="text-center">Loại HH</th>
                  <th class="text-center">Chủng loại hàng hóa</th>
                  <th class="text-center">Năm nhập kho</th>
                  <th class="text-center">ĐVT</th>
                  <th class="text-center">Tồn kho</th>
                  <th class="text-center">Sl điều chuyển</th>
                  <th class="text-center break min-w-120 max-w-120">Dự toán kinh phí (triệu đồng)</th>
                  <th>Chi cục</th>
                  <th class="text-center">Điểm kho</th>
                  <th class="text-center">Nhà kho</th>
                  <th class="text-center">Ngăn kho</th>
                  <th class="text-center">Lô kho</th>
                  <th class="text-center">Tích lượng khả dụng</th>
                  <th class="text-center">Sl nhập ĐC</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of basicTable.data , let i = index">
                  <tr>
                    <td class="text-center">{{(page - 1) * pageSize + i + 1}}</td>
                    <td [nzExpand]="item.expand"
                      (nzExpandChange)="item.expand=!item.expand; item.children=setExpand(item.expand, item.children)">
                    </td>
                    <td></td>
                    <td class="bold">{{ item.tenDvi || "" }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right bold">{{item.duToanKphi|number: '1.0-1':
                      'vi_VN'}}</td>
                    <td class="text-right bold">{{item.duToanKphiPd|number: '1.0-1':
                      'vi_VN'}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <ng-container *ngIf="item.expand">
                    <ng-container *ngFor="let bb of item.children, let y = index">
                      <tr>
                        <td></td>
                        <td></td>
                        <td [nzExpand]="bb.expand" (nzExpandChange)="bb.expand=!bb.expand">
                        </td>
                        <td></td>
                        <td class="bold">{{ bb.tenDiemKho || ""}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <ng-container *ngIf="bb.expand">
                        <ng-container *ngFor="let c of bb.children, let y = index">
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bold">{{c.tenLoKho || ""}} - {{c.tenNganKho || ""}} - {{c.tenNhaKho || ""}}</td>
                            <td class="bold">{{c.tenLoaiVthh || ""}}</td>
                            <td class="bold">{{c.tenCloaiVthh || ""}}</td>
                            <td class="bold">{{c.namNhap || ""}}</td>
                            <td class="bold">{{c.donViTinh || ""}}</td>
                            <td class="text-right bold">{{c.tonKho|number: '1.0-1':
                              'vi_VN'}}
                            </td>
                            <td class="text-right bold">{{c.soLuongDc|number: '1.0-1':
                              'vi_VN'}}</td>
                            <td class="text-right bold">{{c.duToanKphi|number: '1.0-1':
                              'vi_VN'}}</td>
                            <td class="text-right bold">{{item.duToanKphiPd|number: '1.0-1':
                              'vi_VN'}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <ng-container *ngFor="let d of c.children, let y = index">
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td class="bold">{{c.thoiGianDkDc|date: "dd/MM/yyyy"}}</td>
                              <td class="bold">{{d.tenChiCucNhan || ""}}</td>
                              <td>{{(d.tenDiemKhoNhan || "")}}</td>
                              <td>{{(d.tenNhaKhoNhan || "")}}</td>
                              <td>{{(d.tenNganKhoNhan || "")}}</td>
                              <td>{{d.tenLoKhoNhan}}</td>
                              <td class="text-right">
                                {{c.tichLuongKd|number:'1.0-1':'vi_VN'}}</td>
                              <td class="text-right">
                                {{c.soLuongPhanBo|number:'1.0-1':'vi_VN'}}</td>
                            </tr>

                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tbody>
            </nz-table>
          </nz-card>
        </nz-collapse-panel>
      </nz-collapse>







    </div>

  </div>

  <ng-template #error let-control>
    <app-template-error #error [control]="control"></app-template-error>
  </ng-template>

</div>