<nz-tabset nzType="card" class="chuc-nang-nhap-kho mt-16 tab-level-2">
  <nz-tab [nzTitle]="'Phiếu xuất kho'" *ngIf="typeVthh == '02' || typeVthh == '' || typeVthh == null">
    <ng-template nz-tab>
      <!-- <app-phieu-nhap-kho-tam-gui [typeVthh]="typeVthh"></app-phieu-nhap-kho-tam-gui> -->
      <app-quan-ly-phieu-xuat-kho [typeVthh]=""></app-quan-ly-phieu-xuat-kho>
    </ng-template>
  </nz-tab>
  <nz-tab [nzTitle]="'Bảng kê cân hàng'" *ngIf="typeVthh == '02' || typeVthh == '' || typeVthh == null">
    <ng-template nz-tab>
      <!-- <app-bien-ban-gui-hang [typeVthh]="typeVthh"></app-bien-ban-gui-hang> -->
    </ng-template>
  </nz-tab>
  <nz-tab [nzTitle]="'Biên bản tịnh kho'">
    <ng-template nz-tab>
      <!-- <quan-ly-phieu-nhap-kho [typeVthh]="typeVthh"></quan-ly-phieu-nhap-kho> -->
    </ng-template>
  </nz-tab>
  <nz-tab [nzTitle]="'Biên bản hao dôi'">
    <ng-template nz-tab>
      <!-- <quan-ly-phieu-nhap-kho [typeVthh]="typeVthh"></quan-ly-phieu-nhap-kho> -->
    </ng-template>
  </nz-tab>
  <nz-tab [nzTitle]="'Bảng kê xuất vật tư'" *ngIf="typeVthh != '02'">
    <ng-template nz-tab>
      <!-- <quan-ly-bang-ke-can-hang [typeVthh]="typeVthh"></quan-ly-bang-ke-can-hang> -->
    </ng-template>
  </nz-tab>

</nz-tabset>
