.items-booking {
    padding: 40px;
    display: block;
    .title-chart {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-weight: 700;
            font-style: normal;
            font-size: 20px;
            line-height: 16px;
            color: #34404b;
        }

        .button-filter {
            display: flex;
            align-items: center;
            row-gap: 5px;
            cursor: pointer;
            border: 0px solid #dcdfea;
            border-radius: 16px;
            min-width: 100px;
            height: 35px;
            padding: 10px;

            span {
                font-weight: 500;
                font-style: normal;
                font-size: 16px;
                line-height: 16px;
                color: #34404b;
                margin-left: 1rem;
            }
        }

        .button-filter:hover {
            background-color: #ecf0f3;
        }
    }
}
