th.colNumber {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
}

th.header {
    width: 80px;
    text-align: center;
}

.fixed-column {
    position: sticky;
    right: 0;
    background-color: #f0f0f0;
}