th.colNumber {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
}

th.header {
    width: 80px;
    text-align: center;
}

.fixed-column {
    position: sticky;
    right: 0;
    background-color: #f0f0f0;
}

.dm-title {
    font-weight: 500;
}
.multi-line {
  white-space: normal !important;
}
.input-file-custom {
  display: none;
}

.label-file-custom {
  height: 26px;
  margin-bottom: 0;
}

.custom-file-label::after {
  height: 26px;
  margin-bottom: 0;
}
