::ng-deep {
  .hh__container {
    .ant-card-body {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }
  }

  .btn-add-field {
    margin-top: 38px;
  }

  .w-p-100 {
    width: 100%;
  }
}