<nz-affix [nzOffsetTop]="globals.prop.MENU_LV1" class="btn-affix">
  <div class="btn-group">
    <button type="button" class="btn btn-sub" (click)="quayLai()">
      <i class="fa fa-arrow-left"></i>
      <span>Quay lại</span>
    </button>
    <button
      class="btn btn-sub btn-sm waves-effect waves-light" (click)="save()">
      <i class="icon htvbdh_tcdt_guiduyet"></i>
      <span>Ban hành</span>
    </button>
    <button
      class="btn btn-main btn-sm waves-effect waves-light" (click)="save()">
      <i class="icon htvbdh_tcdt_save"></i>
      <span>Lưu</span>
    </button>
  </div>
</nz-affix>
<div class="bg-trang">
  <div class="header-detail-tab">
    <div class="title-chi-tieu">
                    <span
                      [ngClass]="formData.value.trangThai == globals.prop.NHAP_BAN_HANH ? 'da-ban-hanh' : 'du-thao-va-lanh-dao-duyet'">
                        {{ formData.value.tenTrangThai }}
                    </span>
      <span>THÔNG TIN ĐẦU TƯ XÂY DỰNG TRUNG HẠN (5 NĂM)</span>
    </div>
  </div>
  <br>
  <nz-card class="mt16 flex-card p-lr16">
    <div class="header-detail-tab">Thông tin chung</div>
    <form [nzLayout]="'vertical'" [formGroup]="formData" nz-form>
      <div nz-row [nzGutter]="20">
        <div nz-col nzSpan="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" nzRequired> Đơn vị đề xuất
            </nz-form-label>
            <nz-form-control >
              <nz-input-group >
                <input class="search__input" readonly="true"   nz-input  />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" nzRequired> Số công văn
            </nz-form-label>
            <nz-form-control >
              <nz-input-group  nzAddOnAfter="{{maQd}}">
                <nz-input-number  [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                                  [nzSize]="'small'">
                </nz-input-number>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="4">
          <nz-form-label [nzNoColon]="true" nzRequired> Số quyết định kế hoạch trung hạn
          </nz-form-label>
          <nz-form-control >
            <nz-input-group>
              <nz-select nzAllowClear>
                <nz-option *ngFor="let p of listQdKhTh" [nzValue]="p.value" [nzLabel]="p.text">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </div>
        <div nz-col nzSpan="9">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" nzRequired>Trích yếu
            </nz-form-label>
            <input class="search__input"   nz-input  />
          </nz-form-item>
        </div>
        <div nz-col nzSpan="3">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" nzRequired> Ngày ký </nz-form-label>
            <nz-range-picker nzFormat="dd/MM/yyyy"></nz-range-picker>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">
              Căn cứ pháp lý
            </nz-form-label>
            <div class="list-file">
              <file-list></file-list>
            </div>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <br>
  <nz-card class="mt16 flex-card p-lr16">
    <div class="header-detail-tab">Chi tiết quy hoạch</div>
    <nz-table #editRowTable [nzData]="dataTable" nzBordered class="nowrap"
              [nzFrontPagination]="false" [nzShowPagination]="false" [nzScroll]="{ x: '1700px' }">
      <thead>
      <tr>
        <th class="text-center" width="32px"  rowSpan="2">STT</th>
        <th class="text-center" width="211px"  rowSpan="2">Danh mục dự án</th>
        <th class="text-center" width="153.8px" rowSpan="2">Địa điểm xây dựng</th>
        <th class="text-center" width="86px"   rowSpan="2">Loại dự án</th>
        <th class="text-center" width="130px"  rowSpan="2">Thời gian KC-HT</th>
        <th class="text-center" width="76px"  rowSpan="2">Khối</th>
        <th class="text-center" width="130px" rowSpan="2">Số QĐ phê duyệt/ <br> điều chỉnh TMĐT</th>
        <th class="text-center" width="280px"  colSpan="2">TMĐT</th>
        <th class="text-center" width="296px" colSpan="2">Lũy kế vốn đã bố trí đến ngày 31/12/xx-1</th>
        <th class="text-center" width="330px"  colSpan="2">Nhu cầu kế hoạch đầu tư giai đoạn 2021-2025</th>
        <th class="text-center" width="270px"  rowSpan="2">KH vốn đầu tư <br> nguồn NSNN năm 2022</th>
        <th class="text-center" width="69px" rowSpan="2" nzRight>Hành động</th>
      </tr>
      <tr>
        <th class="text-center"  style="width: 10%;">Tổng số</th>
        <th class="text-center" style="width: 10%;">Trong đó vốn NSTW</th>
        <th class="text-center" style="width: 10%;">Tổng số</th>
        <th class="text-center" style="width: 10%;">Trong đó vốn NSTW</th>
        <th class="text-center"style="width: 10%;">Tổng số</th>
        <th class="text-center" style="width: 10%;">Trong đó vốn NSTW</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center" style="width: 2%;"></td>
        <td class="text-center" style="width: 15%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.soLuong"[readonly]="true" />
          </nz-input-group>
        </td>
        <td class="text-center" style="width: 15%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.soLuong"[readonly]="true" />
          </nz-input-group>
        </td>

        <td class="text-center" style="width: 10%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.dviTinh" [readonly]="true" />
          </nz-input-group>
        </td>
        <td class="text-center" style="width: 10%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.soLuong" [readonly]="true"  />
          </nz-input-group>
        </td>
        <td class="text-center" style="width: 8%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.soLuong" [readonly]="true"  />
          </nz-input-group>
        </td>
        <td class="text-center" style="width: 10%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.soLuong" [readonly]="true"   />
          </nz-input-group>
        </td>
        <td class="text-center" style="width: 10%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.soLuong" [readonly]="true"  />
          </nz-input-group>
        </td>
        <td class="text-center" style="width: 10%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.soLuong" [readonly]="true"  />
          </nz-input-group>
        </td>
        <td class="text-center" style="width: 10%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.soLuong" [readonly]="true"  />
          </nz-input-group>
        </td>
        <td class="text-center" style="width: 10%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.soLuong" [readonly]="true"  />
          </nz-input-group>
        </td>
        <td class="text-center" style="width: 10%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.soLuong"   />
          </nz-input-group>
        </td>
        <td class="text-center" style="width: 10%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.soLuong"   />
          </nz-input-group>
        </td>
        <td class="text-center" style="width: 15%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.soLuong"[readonly]="true" />
          </nz-input-group>
        </td>
        <td  class="text-center" nzRight>
          <a (click)="themMoiItem()">
            <i class="fa fa-plus"></i>
          </a>
          <a (click)="clearData()">
            <i class="icon  htvbdh_nhap-lai1 "></i>
          </a>
        </td>
      </tr>

      <tr *ngFor="let data of dataTable; let idx = index">
        <ng-container *ngIf="!dataEdit[idx].edit; else editTemplate">
          <td>{{ idx + 1 }}</td>
          <td>{{ data.tenVthh }}</td>
          <td>{{ data.tenCloaiVthh }}</td>
          <td>{{ data.dviTinh }}</td>
          <td>{{ data.soLuong }}</td>
          <td>{{ data.soLuong }}</td>
          <td>{{ data.soLuong }}</td>
          <td>{{ data.soLuong }}</td>
          <td>{{ data.soLuong }}</td>
          <td>{{ data.soLuong }}</td>
          <td>{{ data.soLuong }}</td>
          <td>{{ data.soLuong }}</td>
          <td>{{ data.soLuong }}</td>
          <td>{{ data.soLuong }}</td>
          <td style="text-align: center;" nzRight>
            <a (click)="editItem(idx)">
              <i class=" fa fa-pencil"></i>
            </a>
            <a (click)="xoaItem(idx)">
              <i class="fa fa-trash-o do"></i>
            </a>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td></td>
          <td style="width: 5%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.dviTinh" [readonly]="true" />
            </nz-input-group>
          </td>
          <td style="width: 10%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.soLuong" [readonly]="true" />
            </nz-input-group>
          </td>
          <td style="width: 10%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.soLuong" [readonly]="true" />
            </nz-input-group>
          </td>
          <td style="width: 10%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.soLuong"  [readonly]="true"/>
            </nz-input-group>
          </td>
          <td style="width: 10%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.soLuong"  [readonly]="true"/>
            </nz-input-group>
          </td>
          <td style="width: 10%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.soLuong" [readonly]="true" />
            </nz-input-group>
          </td>
          <td style="width: 10%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.soLuong" [readonly]="true" />
            </nz-input-group>
          </td>
          <td style="width: 10%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.soLuong" [readonly]="true" />
            </nz-input-group>
          </td>
          <td style="width: 10%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.soLuong" [readonly]="true" />
            </nz-input-group>
          </td>
          <td style="width: 10%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.soLuong" [readonly]="true" />
            </nz-input-group>
          </td>
          <td style="width: 10%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.soLuong"  />
            </nz-input-group>
          </td>
          <td style="width: 10%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.soLuong"/>
            </nz-input-group>
          </td>
          <td style="width: 10%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.soLuong" [readonly]="true" />
            </nz-input-group>
          </td>
          <td class="text-center" nzRight>
            <a (click)="luuEdit(idx)" class="save">
              <i class="fa fa-save"></i>
            </a>
            <a (click)="huyEdit(idx)">
              <i class="fa fa-ban do"></i> </a>
          </td>
        </ng-template>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>

</div>
