<div *ngIf="!isDetail">
    <div class="bg-trang">
        <nz-card class="mt16 flex-card p-lr16">
            <form [nzLayout]="'vertical'" nz-form [formGroup]="formData">
                <div nz-row [nzGutter]="[20]">
                    <div nz-col nzSpan="4">
                        <label class="search__label">Biên bản lấy mẫu/bàn giao mẫu</label>
                        <input placeholder="Nhập số quyết định" nz-input formControlName="soBienBan" />
                    </div>
                    <div nz-col nzSpan="4">
                        <label class="search__label">Số QĐ giao nhiệm vụ xuất hàng</label>
                        <input placeholder="Nhập nội dung" nz-input formControlName="soQd" />
                    </div>
                    <div nz-col nzSpan="10">
                        <label class="search__label">Đơn vị kiểu nghiệm</label>
                        <input placeholder="Nhập nội dung" nz-input formControlName="dviKnghiem" />
                    </div>
                    <div nz-col nzSpan="4">
                        <label class="search__label">Ngày lấy mẫu</label>
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12" class="cus-start-date">
                                <nz-date-picker [nzDisabledDate]="disabledNgayLayMauTu" nzFormat="dd/MM/yyyy"
                                    formControlName="ngayLayMauTu" nzPlaceHolder="Ngày bắt đầu">
                                </nz-date-picker>
                            </div>
                            <div nz-col nzSpan="12" class="cus-end-date">
                                <nz-date-picker [nzDisabledDate]="disabledNgayLayMauDen" nzFormat="dd/MM/yyyy"
                                    formControlName="ngayLayMauDen" nzPlaceHolder="Ngày kết thúc"></nz-date-picker>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="cangiua group-button-search">
                <button nz-button class="search__button--clear" (click)="clearFilter()">
                    <i class="icon  htvbdh_nhap-lai1"></i>
                    Xóa điều kiện
                </button>
                <button nz-button class="search__button--search" (click)="search()">
                    <i nz-icon nzType="search"></i>
                    Tìm kiếm
                </button>
            </div>
        </nz-card>

        <div class="group-button">
            <h3>DANH SÁCH BIÊN BẢN LẤY MẪU/BÀN GIAO MẪU</h3>
            <div class="buttons">
                <button type="button" class="btn btn-sub" (click)="exportData()">
                    <i class="icon htvbdh_chuyen-xu-ly"></i>
                    <span>Xuất file</span>
                </button>
                <button type="button" class="btn btn-main" *ngIf="userService.isChiCuc()"
                    (click)="redirectToChiTiet(false, 0)">
                    <i class="icon htvbdh_dau-cong"></i>
                    <span>Thêm</span>
                </button>
            </div>
        </div>

        <nz-card class="mt-2px flex-card data-table card-border-content table-card">
            <nz-table #basicTable class="nowrap" [nzData]="children" [nzFrontPagination]="false"
                [nzShowPagination]="false" nzBordered>
                <thead>
                    <tr>
                        <th nzWidth="30px">STT</th>
                        <th nzWidth="30px"></th>
                        <th>Số QĐ giao nhiệm vụ XH</th>
                        <th>Năm KH</th>
                        <th>Thời gian XH trước ngày</th>
                        <th>Số BB LM/BGM</th>
                        <th>Ngày lấy mẫu</th>
                        <th>Điểm kho</th>
                        <th>Lô kho</th>
                        <th>Số BB tịnh kho</th>
                        <th>Ngày xuất dốc kho</th>
                        <th>Số BB hao dôi</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>

                <tbody>
                    <ng-container *ngFor="let data of basicTable.data, let i = index;">
                        <tr>
                            <td (nzExpandChange)="onExpandStringChange(data.idVirtual, $event)"
                                [nzExpand]="expandSetString.has(data.idVirtual)" nzShowExpand="true"
                                style="width: 35px"></td>
                            <td>{{i + 1}}</td>
                            <td>
                                <a *ngIf="data.soQd && data.idQd" nz-button nzType="link" nzBlock
                                    (click)="openModalQdNv(data.idQd)">{{
                                    data.soQd}}</a>
                            </td>
                            <td>{{ data.namKh }}</td>
                            <td>{{ data.ngayQd | date: 'dd/MM/YYYY' }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-left">
                                <a (click)="redirectToChiTiet(false, 0,data.idQd)" *ngIf="userService.isChiCuc()">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </td>
                        </tr>
                        <ng-container *ngIf="expandSetString.has(data.idVirtual)">
                            <ng-container *ngFor="let lv1 of data.childData,let i1=index">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ lv1.soBienBan }}</td>
                                    <td>{{ lv1.ngayLayMau | date: 'dd/MM/YYYY' }}</td>
                                    <td>{{ lv1.tenDiemKho }}</td>
                                    <td>{{lv1.tenLoKho == null ? lv1.tenNganKho : lv1.tenLoKho }},
                                        {{lv1.tenNhaKho}}
                                    </td>
                                    <td>{{ lv1.soBbTinhKho }}</td>
                                    <td>{{ lv1.ngayXuatDocKho }}</td>
                                    <td>{{ lv1.soBbHaoDoi }}</td>
                                    <td>{{ lv1.tenTrangThai }}</td>
                                    <td class="text-left">
                                        <a *ngIf="lv1.trangThai == STATUS.DA_DUYET_LDCC "
                                            (click)="redirectToChiTiet(true, lv1.id)">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a *ngIf="lv1.trangThai != STATUS.DA_DUYET_LDCC "
                                            (click)="redirectToChiTiet(false, lv1.id)">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a *ngIf="lv1.trangThai == STATUS.DU_THAO && this.userService.isChiCuc()"
                                            (click)="delete(lv1)">
                                            <i class="fa fa-trash-o do"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tbody>
            </nz-table>
            <div class="tab-content tab-menu">
                <div class="tab-pane fade show active justify-content-between">
                    <div class="trai"></div>
                    <div class="canphai">
                        <!-- begin phân trang  -->
                        <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord"
                            nzShowSizeChanger [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate"
                            (nzPageIndexChange)="changePageIndex($event)" (nzPageSizeChange)="changePageSize($event)">
                            <ng-template #rangeTemplate let-range="range" let-total>
                                {{ range[0] }}-{{ range[1] }} of {{ total }} items
                            </ng-template>
                        </nz-pagination>
                        <!-- end phân trang  -->
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
</div>
<div *ngIf="isDetail">
    <app-them-moi-bien-ban-lay-mau-btt [id]="selectedId" (showListEvent)="showList()" [isView]="isView"
        [loaiVthh]="loaiVthh" [idQdGiaoNvXh]="idQdGiaoNvXh">
    </app-them-moi-bien-ban-lay-mau-btt>
</div>
<!--xem -->
<nz-modal class="scroll-nz-modal" [nzWidth]="'90%'" [(nzVisible)]="isViewQdNv" (nzOnCancel)="closeModalQdNv()">
    <ng-container *nzModalContent class="modal__content custom-scroll-modal">
        <app-them-moi-qd-giao-nv-xuat-btt [idInput]="idQdNv" [loaiVthh]="loaiVthh" [isViewOnModal]="true">
        </app-them-moi-qd-giao-nv-xuat-btt>
    </ng-container>
    <div *nzModalFooter>
        <button nz-button (click)="closeModalQdNv()" class="modal__button--cancel">
            <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
            Đóng
        </button>
    </div>
</nz-modal>