<div class="header header-green-background">
  <div class="header-text">
    <div class="title-chi-tieu">
        <span
          [ngClass]="formData.value.trangThai == STATUS.BAN_HANH  ? 'da-ban-hanh' : 'du-thao-va-lanh-dao-duyet'">
          {{ formData.value.tenTrangThai }}
        </span>
      <span class="text-uppercase">Quyết định phê duyệt kết quả lựa chọn nhà thầu</span>
    </div>
  </div>
  <div class="btn-group">
          <button type="button" class="btn btn-sm ml-2" *ngIf="!idInput" (click)="goBack()">
            <i class="fa fa-arrow-left"></i>
            <span>Quay lại</span>
          </button>
    <button type="button" class="btn btn-sub btn-xoa"
            (click)="xoa()" *ngIf="idInput > 0 && formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU
                && userService.isCuc && userService.isAccessPermisson('QLKT_TDXDSCKT_TDSCL_QDPDKQLCNT_XOA')">
      <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
      <span>Xóa</span>
    </button>
    <button class="btn btn-sub xanh-nhat ml-2" (click)="save(true)"
            *ngIf="formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU && userService.isAccessPermisson('QLKT_TDXDSCKT_TDSCL_QDPDKQLCNT_THEM')">
      <i class="icon htvbdh_tcdt_pheduyet"></i>
      <span>Ban hành</span>
    </button>
    <button (click)="save()"
            *ngIf="formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU && userService.isAccessPermisson('QLKT_TDXDSCKT_TDSCL_QDPDKQLCNT_THEM')"
            class="btn btn-main btn-sm waves-effect waves-light ml-2">
      <i class="icon htvbdh_tcdt_save"></i>
      <span>Lưu</span>
    </button>
  </div>
</div>
<nz-alert *ngIf="formData.value.trangThai == STATUS.TUCHOI_CB_CUC " nzShowIcon nzType="error"
          nzMessage="Lý do từ chối"
          nzDescription="{{formData.value.lyDoTuChoi}}">
</nz-alert>
<form nz-form nzLayout="vertical" [formGroup]="formData">
  <nz-card class="mt16 flex-card p-lr16 mg-t-10">
    <div class="header header-green-background mg-t-10">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span class="text-uppercase font-weight-bold">Thông tin chung</span>
        </div>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="3">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="error">
            <nz-form-label nzRequired [nzNoColon]="true" class="label-color-kh"> Năm KH</nz-form-label>
            <nz-select formControlName="namKh" [nzDisabled]="isViewDetail">
              <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="error">
            <nz-form-label nzRequired [nzNoColon]="true" class="label-color-kh"> Số quyết định</nz-form-label>
            <nz-input-group [nzAddOnAfter]="maQd">
              <input nz-input formControlName="soQd" [readonly]="isViewDetail"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="error">
            <nz-form-label nzRequired [nzNoColon]="true" class="label-color-kh"> Ngày ký quyết định</nz-form-label>
            <nz-date-picker [nzDisabled]="isViewDetail" class="search__input" nzFormat="dd/MM/yyyy"
                            nzPlaceHolder="Ngày ký"
                            formControlName="ngayKy">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="error">
            <nz-form-label nzRequired [nzNoColon]="true" class="label-color-kh"> Ngày hiệu lực</nz-form-label>
            <nz-date-picker [nzDisabled]="isViewDetail" class="search__input" nzFormat="dd/MM/yyyy"
                            nzPlaceHolder="Ngày ký"
                            formControlName="ngayHieuLuc">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-label nzRequired [nzNoColon]="true" class="label-color-kh"> Căn cứ thông tin đấu thầu
          </nz-form-label>
          <nz-form-control [nzErrorTip]="error">
            <nz-input-group nzAddOnAfterIcon="folder-open">
              <input [readonly]="true" nz-input
                     formControlName="soQdPdKhlcnt" readonly="true"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="5">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="error">
            <nz-form-label nzRequired [nzNoColon]="true" class="label-color-kh"> Trích yếu</nz-form-label>
            <input nz-input formControlName="trichYeu" [readonly]="isViewDetail"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24" class="mt-2">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true">
            Căn cứ pháp lý
          </nz-form-label>
          <div class="list-file">
            <file-list [isCanCuPL]="true" [isViewDetail]="isViewDetail" [data]="listCcPhapLy"></file-list>
          </div>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24" class="mt-2">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true">
            File đính kèm
          </nz-form-label>
          <div class="list-file">
            <file-list [isViewDetail]="isViewDetail" [data]="listFileDinhKem"></file-list>
          </div>
        </nz-form-item>
      </div>
    </div>
  </nz-card>
</form>
<form nz-form nzLayout="horizontal" [formGroup]="formData">
  <nz-card class="mt16 flex-card p-lr16 mg-t-10">
    <nz-collapse>
      <nz-collapse-panel [nzActive]="true" nzHeader="Kết quả lựa chọn nhà thầu" class="mg-t-10">
        <nz-card class="flex-card">
          <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="12">
              <div nz-row [nzGutter]="24" class="label-50 mg-t-10 border-right">
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true"> Số QĐ phê duyệt KH LCNT</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="soQdPdKhlcnt" class="text-blue" readonly/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true"> Tên dự án</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="tenCongTrinh" readonly class="text-blue"/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true"> Loại công trình</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="loaiCongTrinh" readonly class="text-blue"/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
            <div nz-col nzSpan="12">
              <div nz-row [nzGutter]="24" class="label-50 mg-t-10 border-right">
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true"> Chủ đầu tư</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="chuDauTu" class="text-blue" readonly/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true"> Tổng mức đầu tư</nz-form-label>
                    <nz-form-control>
                      <nz-input-group>
                        <input nz-input currencyMask formControlName="tongMucDt" class="text-blue" [options]="AMOUNT" readonly/>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </div>
        </nz-card>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>
  <nz-card class="flex-card mt-2">
    <nz-table nzBordered [nzData]="listGoiThau"
              [nzFrontPagination]="false" [nzShowPagination]="false" [nzScroll]="{ x: '1700px' }">
      <thead>
      <tr>
        <th class="text-center" width="40px">STT</th>
        <th class="text-center">Tên gói thầu</th>
        <th class="text-center" width="200px">Nguồn vốn</th>
        <th class="text-center" width="200px">Hình thức <br/> lựa chọn nhà thầu</th>
        <th class="text-center" width="200px">Phương thức <br/> lựa chọn nhà thầu</th>
        <th class="text-center" width="200px">Thời gian bắt đầu <br/> tổ chức lcnt</th>
        <th class="text-center" width="150px">Loại hợp đồng</th>
        <th class="text-center" width="150px">Thời gian thực hiện <br/> hợp đồng (ngày)</th>
        <th class="text-center" width="120px">Nhà thầu trúng</th>
        <th class="text-center" width="120px">Giá trúng thầu <br/> (đ)</th>
        <th class="text-center" width="100px">Trạng thái</th>
        <th class="text-center" width="100px" *ngIf="!isViewDetail">Hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of listGoiThau , let i = index">
        <td>{{i + 1}}</td>
        <td>{{item.noiDung}}</td>
        <td>{{item.tenNguonVon}}</td>
        <td>{{item.tenHinhThucLcnt}}</td>
        <td>{{item.tenPhuongThucLcnt}}</td>
        <td>{{item.thoiGian}}</td>
        <td>{{item.tenLoaiHopDong}}</td>
        <td>{{item.thoiGianThHd}}</td>
        <td>{{item.nhaThauTrung}}</td>
        <td class="text-right">{{item.giaTrungThau |number : '1.0-1' : 'vi-VN'}}</td>
        <td>{{item.tenTrangThai}}</td>
        <td *ngIf="!isViewDetail" class="text-center">
          <a (click)="xoaGoiThau(item.id)">
            <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
  <div nz-col nzSpan="24">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <nz-form-label [nzNoColon]="true" class="label-color-kh"> Ghi chú</nz-form-label>
        <textarea nz-input formControlName="ghiChu" [readonly]="isViewDetail"></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
<ng-template #error let-control>
  <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
  </ng-container>
</ng-template>
