<nz-tabset nzType="card" class="mt-16 chuc-nang-nhap-kho tab-level-2">
  <nz-tab [nzTitle]="'Thông báo đấu giá tài sản'">
    <ng-template nz-tab>
      <app-thong-bao-dau-gia-tai-san></app-thong-bao-dau-gia-tai-san>
    </ng-template>
  </nz-tab>
  <nz-tab [nzTitle]="'Thông báo đấu giá không thành'">
    <ng-template nz-tab>
      <app-thong-bao-dau-gia-khong-thanh></app-thong-bao-dau-gia-khong-thanh>
    </ng-template>
  </nz-tab>
  <nz-tab [nzTitle]="'Biên bản bán đấu giá'">
    <ng-template nz-tab>
      <app-bien-ban-ban-dau-gia></app-bien-ban-ban-dau-gia>
    </ng-template>
  </nz-tab>
  <nz-tab [nzTitle]="'Quyết định phê duyệt kết quả bán đấu giá'">
    <ng-template nz-tab>
      <app-quyet-dinh-phe-duyet-kq-ban-dau-gia></app-quyet-dinh-phe-duyet-kq-ban-dau-gia>
    </ng-template>
  </nz-tab>
</nz-tabset>