<div class="bg-trang">
  <nz-affix [nzOffsetTop]="globals.prop.MENU_LV0" class="level0">
    <div class="header header-green-background">
      <div class="header-text">
        <div class="title-chi-tieu">
                <span [ngClass]="formData.value.trangThai == STATUS.BAN_HANH ? 'status-xanh' : 'status-do'">
                    {{ formData.value.tenTrangThai }}
                </span>
          <span>Quyết định xuất giảm vật tư</span>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-sm ml-2" (click)="goBack()">
          <i class="fa fa-arrow-left"></i>
          <span>Quay lại</span>
        </button>
        <button type="button" (click)="save(true)" class="btn btn-sm ml-2"
                *ngIf="(formData.value.trangThai == STATUS.DU_THAO || formData.value.trangThai == STATUS.TU_CHOI_LDV || formData.value.trangThai == STATUS.TU_CHOI_LDTC ) && userService.isAccessPermisson('XHDTQG_XK_KTCLVTBH_QDXG_THEM') ">
          <i class="icon htvbdh_tcdt_guiduyet"></i>
          <span>Lưu và gửi duyệt</span>
        </button>
        <button class="btn btn-sub do ml-2" (click)="tuChoi()"
                *ngIf="(formData.value.trangThai  == STATUS.CHO_DUYET_LDV && userService.isAccessPermisson('XHDTQG_XK_KTCLVTBH_QDXG_DUYETLDV'))
                || (formData.value.trangThai  == STATUS.CHO_DUYET_LDTC && userService.isAccessPermisson('XHDTQG_XK_KTCLVTBH_QDXG_DUYETLDTC'))">
          <i class="icon htvbdh_tcdt_tuchoi"></i>
          <span>Từ chối</span>
        </button>
        <button class="btn btn-sub xanh-nhat ml-2"  (click)="pheDuyet()"
                *ngIf="(formData.value.trangThai  == STATUS.CHO_DUYET_LDV && userService.isAccessPermisson('XHDTQG_XK_KTCLVTBH_QDXG_DUYETLDV'))
                || (formData.value.trangThai  == STATUS.CHO_DUYET_LDTC && userService.isAccessPermisson('XHDTQG_XK_KTCLVTBH_QDXG_DUYETLDTC'))">
          <i class="icon htvbdh_tcdt_pheduyet"></i>
          <span>Duyệt</span>
        </button>
        <button (click)="save(false)"
                *ngIf="(formData.value.trangThai == STATUS.DU_THAO || formData.value.trangThai == STATUS.TU_CHOI_LDV || formData.value.trangThai == STATUS.TU_CHOI_LDTC && !isView)
                 &&  userService.isAccessPermisson('XHDTQG_XK_KTCLVTBH_QDXG_THEM') "
                class="btn btn-main btn-sm waves-effect waves-light ml-2">
          <i class="icon htvbdh_tcdt_save"></i>
          <span>Lưu</span>
        </button>
      </div>
    </div>
  </nz-affix>
  <nz-alert class="mg-t-10"
            *ngIf="formData.value.trangThai == STATUS.TU_CHOI_LDV || formData.value.trangThai == STATUS.TU_CHOI_LDTC"
            nzShowIcon nzType="error"
            nzMessage="Lý do từ chối" nzDescription="{{formData.value.lyDoTuChoi}}">
  </nz-alert>
  <nz-card class="mt16 flex-card p-lr16">
    <!-- Thông tin chung -->
    <nz-collapse nzAccordion>
      <nz-collapse-panel [nzHeader]="'THÔNG TIN CHUNG'" [nzActive]="true">
        <form nzLayout="vertical" nz-form [formGroup]="formData">
          <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="2">
              <nz-form-item class="form-item">
                <nz-form-label [nzNoColon]="true" nzRequired>
                  Năm xuất
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-select formControlName="namKeHoach" nzDisabled>
                    <nz-option *ngFor="let p of listNam" [nzValue]="p.value"
                               [nzLabel]="p.text"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="3">
              <nz-form-item>
                <nz-form-control [nzErrorTip]="error">
                  <nz-form-label nzRequired [nzNoColon]="true" class="label-color-kh"> Số QĐ xuất giảm vật tư
                  </nz-form-label>
                  <nz-input-group [nzAddOnAfter]="maQd">
                    <input nz-input formControlName="soQuyetDinh" [readonly]="isView"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="3">
              <nz-form-item>
                <nz-form-control [nzErrorTip]="error">
                  <nz-form-label [nzNoColon]="true" class="label-color-kh"> Ngày ký QĐ xuất giảm vật tư
                  </nz-form-label>
                  <nz-date-picker [nzDisabled]="isView" class="search__input" nzFormat="dd/MM/yyyy"
                                  nzPlaceHolder="Ngày ký QĐ xuất hàng"
                                  formControlName="ngayKy">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4">
              <nz-form-item class="form-item">
                <nz-form-label [nzNoColon]="true" nzRequired>Căn cứ trên báo cáo KQKĐ mẫu</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfterIcon="folder-open" (click)="!isView?openDialogSoQd():''">
                    <input nz-input formControlName="soCanCu" [readonly]="isView"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="3">
              <nz-form-item>
                <nz-form-control [nzErrorTip]="error">
                  <nz-form-label nzRequired [nzNoColon]="true" class="label-color-kh"> Loại hình nhập xuất
                  </nz-form-label>
                  <nz-select formControlName="loai" [nzDisabled]="true">
                    <nz-option *ngFor="let p of listLoaiHinhNhapXuat" [nzValue]="p.value"
                               [nzLabel]="p.label">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Đơn vị ra quyết định
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <input nz-input readonly formControlName="tenDvi"/>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Đơn vị nhận báo cáo
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-form-control [nzErrorTip]="error">
                    <input nz-input readonly formControlName="maDviNhan"/>
                  </nz-form-control>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-control [nzErrorTip]="error">
                  <nz-form-label [nzNoColon]="true" class="label-color-kh"> Ngày có hiệu lực của quyết định
                  </nz-form-label>
                  <nz-date-picker [nzDisabled]="isView" class="search__input" nzFormat="dd/MM/yyyy"
                                  nzPlaceHolder="Ngày hiệu lực"
                                  formControlName="ngayHieuLuc">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-control [nzErrorTip]="error">
                  <nz-form-label nzRequired [nzNoColon]="true" class="label-color-kh"> Trích yếu
                  </nz-form-label>
                  <input nz-input [readonly]="isView" formControlName="trichYeu"/>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Căn cứ pháp lý
                </nz-form-label>
                <div class="list-file">
                  <file-list [isCanCuPL]="true" [isViewDetail]="isView" [data]="listCcPhapLy"></file-list>
                </div>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  File đính kèm QĐ xuất giảm vật tư đã ký
                </nz-form-label>
                <div class="list-file">
                  <file-list [data]="listFileDinhKem" [isViewDetail]="isView"></file-list>
                </div>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>
  <nz-card class="mt-2 flex-card data-table card-border-content table-card">
    <nz-table #tblData [nzData]="dataThTree" class="nowrap table-chi-tiet" nzBordered>
      <thead>
      <tr>
        <th>STT</th>
        <th></th>
        <th>Chi cục DTNN</th>
        <th>Loại hàng</th>
        <th>Chủng loại</th>
        <th>Năm nhập</th>
        <th>Điểm kho</th>
        <th>Ngăn/lô kho</th>
        <th>ĐVT</th>
        <th>Mã đơn vị hàng</th>
        <th>SL mẫu Kiểm định</th>
        <th>Kết quả kiểm định</th>
        <th>Số phiếu KĐCL</th>
        <th class="text-center">Mẫu có bị hủy?</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of tblData.data, let i = index;">
        <tr>
          <td class="bold">{{i + 1}}</td>
          <td (nzExpandChange)="onExpandStringChange(item.idVirtual, $event)"
              [nzExpand]="expandSetString.has(item.idVirtual)" nzShowExpand="true"></td>
          <td class="bold">{{item.tenChiCuc}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <ng-container *ngIf="expandSetString.has(item.idVirtual) && expandSetString.has(item.idVirtual)">
          <ng-container *ngFor="let lv1 of item.childData,let i1=index">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>{{lv1.tenLoaiVthh}}</td>
              <td>{{lv1.tenCloaiVthh}}</td>
              <td>{{lv1.namNhap}}</td>
              <td>{{lv1.tenDiemKho}}</td>
              <td>{{lv1.tenLoKho ? lv1.tenNganKho + '-' + lv1.tenLoKho : lv1.tenNganKho}}</td>
              <td>{{lv1.donViTinh}}</td>
              <td>{{lv1.maDviTsan}}</td>
              <td>{{lv1.soLuongMauKd}}</td>
              <td>{{lv1.isDat == 1 ? 'Đạt' : 'Không đạt'}}</td>
              <td>{{lv1.soPhieu}}</td>
              <td class="text-center">
                <label nz-checkbox [(ngModel)]="lv1.mauBiHuy" [nzDisabled]="true"></label>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
      </tbody>
    </nz-table>
  </nz-card>
</div>
<ng-template #error let-control>
  <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
  </ng-container>
</ng-template>
