.label-50 {
  .ant-form-item-label.ant-col {
    text-align: left;
    width: 50%;
  }

  .ant-picker,
  input {
    border: none;
    background: transparent;
  }
}

.border-right {
  border-right: solid 1px #e2e2e2;

}
