.table-icon {
  border: solid 1px #e4e4e4;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fefefe !important;
  margin: 0 2px;
}

.money-input {
  border: 1px solid #bbb8b8;
  height: inherit;
  width: 100%;
}
