<nz-card class="mt16 flex-card p-lr16">
  <nz-table #editRowTable [nzData]="dataTable" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
      <tr>
        <th class="text-center" style="width: 5%;">STT</th>
        <th style="width: 45%;">Tên hàng hoá</th>
        <th style="width: 25%;">Chủng loại hàng hoá</th>
        <th style="width: 5%;">Đơn vị tính</th>
        <th style="width: 10%;">Kế hoạch năm {{namHienTai}}</th>
        <th style="width: 10%;">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!isView">
        <td class="text-center" style="width: 5%;"></td>
        <td style="width: 45%;">
          <nz-input-group>
            <nz-select [(ngModel)]="rowItem.loaiVthh" [nzShowArrow]="false" nzAllowClear
              (ngModelChange)="onChangeLoaiVthh($event)">
              <nz-option nzValue="{{item.ma}}" nzLabel="{{item.ten}}" *ngFor="let item of dsHangHoa">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </td>
        <td style="width: 25%;">
          <nz-input-group>
            <nz-select [(ngModel)]="rowItem.cloaiVthh" [nzShowArrow]="false"
              (ngModelChange)="onChangeCloaiVthh($event)">
              <nz-option nzValue="null" nzDisabled nzHide></nz-option>
              <nz-option nzValue="{{item.ma}}" nzLabel="{{item.ten}}" *ngFor="let item of dsChungLoaiHangHoa">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </td>
        <td style="width: 5%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItem.dviTinh" [readonly]="true" />
          </nz-input-group>
        </td>
        <td style="width: 10%;">
          <nz-input-group>
            <nz-input-number [nzFormatter]="globals.formatter" [nzParser]="globals.parser"
              [nzFormatter]="globals.formatter" [nzParser]="globals.parser" [readonly]="isView" [nzMin]="1" [nzStep]="1"
              [nzSize]="'small'" [(ngModel)]="rowItem.soLuong">
            </nz-input-number>
          </nz-input-group>
        </td>
        <td style="text-align: center;">
          <a (click)="themMoiItem()">
            <i class="fa fa-plus"></i>
          </a>
          <a (click)="clearData()">
            <i class="fa fa-trash-o do"></i>
          </a>
        </td>
      </tr>

      <tr *ngFor="let data of dataTable; let idx = index">
        <ng-container *ngIf="!dataEdit[idx].edit; else editTemplate">
          <td>{{ idx + 1 }}</td>
          <td>{{ data.tenVthh }}</td>
          <td>{{ data.tenCloaiVthh }}</td>
          <td>{{ data.dviTinh }}</td>
          <td>{{ data.soLuong }}</td>
          <td style="text-align: center;">
            <a *ngIf="!isView" (click)="editItem(idx)">
              <i class=" fa fa-pencil"></i>
            </a>
            <a *ngIf="!isView" (click)="xoaItem(idx)">
              <i class="fa fa-trash-o do"></i>
            </a>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td></td>
          <td style="width: 45%;">
            <nz-input-group>
              <nz-select [(ngModel)]="dataEdit[idx].data.loaiVthh" [nzShowArrow]="false" nzAllowClear
                (ngModelChange)="onChangeLoaiVthh($event, dataEdit[idx].data)">
                <nz-option nzValue="{{item.ma}}" nzLabel="{{item.ten}}" *ngFor="let item of dsHangHoa">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </td>
          <td style="width: 25%;">
            <nz-input-group>
              <nz-select [(ngModel)]="dataEdit[idx].data.cloaiVthh" [nzShowArrow]="false"
                (ngModelChange)="onChangeCloaiVthh($event, dataEdit[idx].data)">
                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                <nz-option nzValue="{{item.ma}}" nzLabel="{{item.ten}}" *ngFor="let item of dsChungLoaiHangHoa">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </td>
          <td style="width: 5%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.dviTinh" [readonly]="true" />
            </nz-input-group>
          </td>
          <td style="width: 10%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEdit[idx].data.soLuong" />
            </nz-input-group>
          </td>
          <td class="text-center">
            <a (click)="luuEdit(idx)" class="save">
              <i class="fa fa-save"></i>
            </a>
            <a (click)="huyEdit(idx)">
              <i class="fa fa-ban do"></i> </a>
          </td>
        </ng-template>
      </tr>
    </tbody>
    <tfoot>
      <tr *ngIf="tabName != 'LuanPhien'">
        <td style="text-align: right; font-weight: 700" colspan="4">Tổng giá trị (Triệu đồng)</td>
        <td>
          <nz-input-number [readonly]="isView" [(ngModel)]="tongGtri" (ngModelChange)="onChangeTongGtri()"
            style="text-align: left;" [nzSize]="'small'" [nzFormatter]="globals.formatter" [nzParser]="globals.parser"
            [readonly]="isView" [(ngModel)]="tongGtri" (ngModelChange)="onChangeTongGtri()" style="text-align: left;"
            [nzMin]="0">
          </nz-input-number>
        </td>
        <td></td>
      </tr>
    </tfoot>
  </nz-table>
</nz-card>