<nz-affix [nzOffsetTop]="globals.prop.MENU_LV2" class="btn-affix">
  <div class="btn-group">
    <button type="button" class="btn btn-sub" (click)="quayLai()">
      <i class="fa fa-arrow-left"></i>
      <span>Quay lại</span>
    </button>
    <button *ngIf="!formData.value.idXc" type="button" class="btn btn-sub xanh-nhat">
      <i class="icon htvbdh_tcdt_tao-qd"></i>
      <span>Tạo QĐ xuất cấp</span>
    </button>
    <button
      *ngIf="(formData.value.trangThai == STATUS.DU_THAO) && userService.isTongCuc() && userService.isAccessPermisson('XHDTQG_XCTVTXC_CTVT_QDPDPA_BANHANH')"
      type="button" class="btn btn-sub xanh-nhat"
      (click)="saveAndSend(STATUS.BAN_HANH,'Bạn có muốn ban hành ?','Bạn đã ban hành thành công!')">
      <i class="icon htvbdh_chuyenvanthu"></i>
      <span>Ban hành</span>
    </button>
    <button *ngIf="(formData.value.trangThai == STATUS.DU_THAO ) && userService.isTongCuc()" type="button"
      class="btn btn-main" (click)="save()">
      <i class="icon htvbdh_tcdt_save"></i>
      <span>Lưu</span>
    </button>
  </div>
</nz-affix>
<div class="bg-trang">
  <!--  Start Thông tin quyết định phê duyệt-->
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span [ngClass]="formData.value.trangThai == STATUS.BAN_HANH ? 'da-ban-hanh' : 'du-thao-va-lanh-dao-duyet'">
          {{ formData.value.tenTrangThai }}
        </span>
        <span> QUYẾT ĐỊNH PHÊ DUYỆT PHƯƠNG ÁN XUẤT VIỆN TRỢ, CỨU TRỢ </span>
      </div>
    </div>
  </div>
  <nz-alert *ngIf="formData.value.trangThai == STATUS.TU_CHOI_LDV " nzShowIcon nzType="error" nzMessage="Lý do từ chối"
    nzDescription="{{formData.value.lyDoTuChoi}}">
  </nz-alert>
  <nz-card class="mg-t-16 flex-card p-lr16">
    <nz-collapse nzAccordion>
      <div class="mt16 flex-card p-lr16">
        <div class="header header-green-background mg-t-16">
          <div class="header-text">
            <div class="title-chi-tieu">
              <span></span>
              <span>Thông tin chung</span>
            </div>
          </div>
        </div>
      </div>
      <form nz-form nzLayout="vertical" [formGroup]="formData">
        <div nz-row [nzGutter]="24">
          <div nz-col nzSpan="2">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true"> Năm kế hoạch
              </nz-form-label>
              <nz-form-control nz-col [nzErrorTip]="error">
                <nz-select formControlName="nam" nzAllowClear>
                  <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="4">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true"> Số quyết định</nz-form-label>
              <nz-form-control [nzErrorTip]="error">
                <nz-input-group nzAddOnAfter="/{{maQd}}">
                  <nz-input-number formControlName="soQd" [nzMin]="1" [nzMax]="999999999999" [nzStep]="1"
                    [nzSize]="'small'" [nzDisabled]="isDisabled()">
                  </nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="3">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true"> Ngày ký quyết định</nz-form-label>
              <nz-form-control [nzErrorTip]="error">
                <nz-date-picker formControlName="ngayKy" nzFormat="dd/MM/yyyy" [nzDisabled]="isDisabled()">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="3">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true"> Ngày hiệu lực</nz-form-label>
              <nz-form-control [nzErrorTip]="error">
                <nz-date-picker formControlName="ngayHluc" nzFormat="dd/MM/yyyy" [nzDisabled]="isDisabled()">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="error">
                <nz-radio-group [nzDisabled]="disableSelect()" nzSize="small" class="rdo-input" formControlName="type">
                  <nz-form-item>
                    <label nz-radio nzValue="TH">Chọn mã tổng hợp</label>
                    <nz-form-control [nzErrorTip]="error">
                      <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogTh()">
                        <input [readonly]="true" nz-input formControlName="idTongHop" readonly="true" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <label nz-radio nzValue="TTr">Chọn Số công văn/tờ trình</label>
                    <nz-form-control [nzErrorTip]="error">
                      <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogTr()">
                        <input [readonly]="true" nz-input formControlName="soDx" readonly="true" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item class="form-item">
              <nz-form-label nzRequired [nzNoColon]="true"> Loại hàng hóa</nz-form-label>
              <nz-form-control nz-col [nzSpan]="24">
                <nz-input-group>
                  <input [readonly]="true" nz-input formControlName="tenLoaiVthh" readonly="true" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true"> Loại hình xuất</nz-form-label>
              <nz-form-control>
                <input nz-input [readonly]="true" formControlName="loaiNhapXuat" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true"> Kiểu nhập xuất</nz-form-label>
              <nz-form-control>
                <input nz-input [readonly]="true" formControlName="kieuNhapXuat" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true">
                Trích yếu
              </nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="trichYeu" [readonly]="isDisabled()" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true">
                Căn cứ pháp lý
              </nz-form-label>
              <div class="list-file">
                <file-list [isCanCuPL]="true" [isViewDetail]="isView" [data]="canCu"></file-list>
              </div>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true">
                File đính kèm QĐ đã ban hành
              </nz-form-label>
              <div class="list-file">
                <file-list [isViewDetail]="isView" [data]="fileDinhKem"></file-list>
              </div>
            </nz-form-item>
          </div>
        </div>
      </form>

    </nz-collapse>
  </nz-card>
  <div class="mt16 flex-card p-lr16">
    <div class="header header-green-background mg-t-16">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span></span>
          <span>Thông tin chi tiết đề xuất cứu trợ viện trợ của các đơn vị</span>
        </div>
      </div>
    </div>
    <nz-card class="mt-2px flex-card data-table card-border-content table-card">
      <nz-table #quyetDinhPdDtl class="nowrap mt-16 table-chi-tiet" nzBordered [nzData]="formData.value.quyetDinhPdDtl">
        <thead>
          <tr>
            <th style="width: 35px">STT</th>
            <th>Đơn vị đề xuất</th>
            <th>Số công văn / đề xuất</th>
            <th>Ngày ký</th>
            <th>Trích yếu</th>
            <th>SL xuất cứu trợ, viện trợ</th>
            <th>Thành tiền (đ)</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of quyetDinhPdDtl.data, let i = index;">
            <tr [ngClass]="{'bg-selected': item.selected}" (click)="selectRow(item)">
              <td>{{i + 1}}</td>
              <td>{{item.tenDviDx}}</td>
              <td><a nz-button nzType="link" (click)="openDxPaModal(item.idDx)"> {{item.soDx}}</a></td>
              <td>{{item.ngayPduyetDx}}</td>
              <td>{{item.trichYeuDx}}</td>
              <td>{{item.tongSoLuongDx|number: '1.0-1' : 'vi_VN'}}</td>
              <td>{{item.thanhTienDx|number: '1.0-1' : 'vi_VN'}}</td>
            </tr>
          </ng-container>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-blue">Tổng</th>
            <th class="text-blue">{{tongSoLuongDxuat|number: '1.0-1' : 'vi_VN'}}</th>
            <th class="text-blue">{{tongThanhTienDxuat|number: '1.0-1' : 'vi_VN'}}</th>
          </tr>
        </tfoot>
      </nz-table>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-card class="mg-t-10 flex-card p-lr16 bg-trang">
            <div class="mt16 flex-card p-lr16">
              <div class="header header-green-background mg-t-16">
                <div class="title-card">
                  <div class="title-chi-tieu">
                    <span></span>
                    <span>Phương án xuất viện trợ, cứu trợ của đơn vị</span>
                  </div>
                </div>
              </div>
              <div class="mt-16">
                <nz-card class="mg-t-16 flex-card p-lr16">
                  <form nzLayout="vertical" nz-form [formGroup]="formData">
                    <div nz-row [nzGutter]="24">
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true">
                            Tổng số lượng đề xuất CT,VT
                          </nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <span class="text-blue">{{listSoLuongDxCache |number: '1.0-1' :'vi_VN'}}
                              {{formData.value.donViTinh}}</span>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true">
                            Tổng số lượng thực tế xuất CT,VT của từng chi cục
                          </nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <span class="text-blue">{{listSoLuongCache |number: '1.0-1' : 'vi_VN'}}
                              {{formData.value.donViTinh}}</span>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true">
                            Thành Tiền
                          </nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <span class="text-blue">{{listThanhTienCache |number: '1.0-1' :'vi_VN'}} (đ)</span>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col nzSpan="6" *ngIf="this.formData.value.loaiVthh=='0102'">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true">
                            SL đề xuất CT,VT trong kho không đáp ứng chuyển sang xuất cấp
                          </nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <span class="text-danger">{{listSoLuongXcCache |number: '1.0-1' :'vi_VN'}}
                              {{formData.value.donViTinh}}</span>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </form>
                  <nz-table #tblDataCache [nzData]="phuongAnViewCache" class="nowrap table-chi-tiet" nzBordered>
                    <thead>
                      <tr>
                        <th [rowspan]="2"></th>
                        <th [rowspan]="2" style="width: 35px">STT</th>
                        <th [rowspan]="2">Địa phương/cơ quan/đơn vị nhận cứu trợ</th>
                        <th [rowspan]="2">Tổng SL đề xuất CT, VT ({{formData.value.donViTinh}})</th>
                        <th [colspan]="3">Cục DTNN KV</th>
                        <th [colspan]="2">Chi cục DTNN</th>
                        <th [colspan]="2">Chủng loại hàng hóa</th>
                        <th [colspan]="4">SL thực tế xuất CT, VT của từng chi cục</th>
                      </tr>
                      <tr>
                        <th>Tên cục</th>
                        <th>Tồn kho ({{formData.value.donViTinh}})</th>
                        <th>SL xuất CT, VT giao cục ({{formData.value.donViTinh}})</th>
                        <th>Tên chi cục</th>
                        <th>Tồn kho ({{formData.value.donViTinh}})</th>
                        <th>Tên chủng loại hàng hóa</th>
                        <th>Tồn kho ({{formData.value.donViTinh}})</th>
                        <th>Số lượng ({{formData.value.donViTinh}})</th>
                        <th>ĐVT</th>
                        <th>Đơn giá không VAT đ/kg</th>
                        <th>Thành tiền (đ)</th>
                      </tr>
                    </thead>
                    <tbody>

                      <ng-container *ngFor="let item of tblDataCache.data, let i = index;">
                        <tr>
                          <td (nzExpandChange)="onExpandStringChange(item.idVirtual, $event)"
                            [nzExpand]="expandSetStringCache.has(item.idVirtual)" nzShowExpand="true"
                            style="width: 35px"></td>
                          <td>{{i + 1}}</td>
                          <td>{{ item.noiDung }}</td>
                          <td><strong>{{ item.soLuongXuat |number:'1.0-1' : 'vi_VN'}}</strong></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><strong>{{item.soLuongXuatThucTe|number:'1.0-1' : 'vi_VN'}}</strong></td>
                          <td></td>
                          <td></td>
                          <td><strong>{{item.thanhTien|number:'1.0-1' : 'vi_VN'}}</strong></td>
                        </tr>
                        <ng-container *ngIf="expandSetStringCache.has(item.idVirtual)">
                          <ng-container *ngFor="let lv1 of item.childData,let i1=index">
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>{{lv1.tenCuc}}</td>
                              <td></td>
                              <td><strong>{{lv1.soLuongXuatCuc|number:'1.0-1' : 'vi_VN'}}</strong></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td><strong>{{lv1.soLuongXuatCucThucTe|number:'1.0-1' : 'vi_VN'}}</strong></td>
                              <td></td>
                              <td></td>
                              <td><strong>{{lv1.thanhTienCuc|number:'1.0-1' : 'vi_VN'}}</strong></td>
                            </tr>
                            <ng-container *ngIf="expandSetStringCache.has(item.idVirtual)">
                              <ng-container *ngFor="let lv2 of lv1.childData,let i2=index">
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td>{{lv2.tenChiCuc}}</td>
                                  <td>{{lv2.tonKhoChiCuc|number:'1.0-1' : 'vi_VN'}}</td>
                                  <td>{{lv2.tenCloaiVthh}}</td>
                                  <td>{{lv2.tonKhoCloaiVthh|number:'1.0-1' : 'vi_VN'}}</td>
                                  <td>{{lv2.soLuongXuatChiCuc|number:'1.0-1' : 'vi_VN'}}</td>
                                  <td>{{lv2.donViTinh}}</td>
                                  <td>{{lv2.donGiaKhongVat|number:'1.0-1' : 'vi_VN'}}</td>
                                  <td>{{lv2.thanhTien|number:'1.0-1' : 'vi_VN'}}</td>
                                </tr>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </tbody>
                  </nz-table>
                </nz-card>
              </div>
            </div>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-card class="mg-t-10 flex-card p-lr16 bg-trang">
            <div class="header header-green-background mg-t-16">
              <div class="title-card">
                <div class="title-chi-tieu">
                  <span></span>
                  <span>Quyết định xuất viện trợ cứu trợ của tổng cục DTNN</span>
                </div>
              </div>
            </div>
            <div class="mt-16">
              <nz-card class="mg-t-16 flex-card p-lr16">
                <form nzLayout="vertical" nz-form [formGroup]="formData">
                  <div nz-row [nzGutter]="24">
                    <div nz-col nzSpan="6">
                      <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                          Tổng số lượng đề xuất CT,VT
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                          <span class="text-blue">{{listSoLuongDx | nzAggregate: 'sum'|number: '1.0-1' :
                            'vi_VN'}} {{formData.value.donViTinh}}</span>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="6">
                      <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                          Tổng số lượng thực tế xuất CT,VT của từng chi cục
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                          <span class="text-blue">{{listSoLuong | nzAggregate: 'sum'|number: '1.0-1' :
                            'vi_VN'}} {{formData.value.donViTinh}}</span>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="6">
                      <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                          Thành Tiền
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                          <span class="text-blue">{{listThanhTien | nzAggregate: 'sum'|number: '1.0-1' :
                            'vi_VN'}} (đ)</span>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="6" *ngIf="this.formData.value.loaiVthh=='0102'">
                      <nz-form-item>
                        <nz-form-label [nzNoColon]="true">
                          SL đề xuất CT,VT trong kho không đáp ứng chuyển sang xuất cấp
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                          <span class="text-danger">{{formData.value.soLuongXuatCap>0?(formData.value.soLuongXuatCap|
                            number: '1.0-1' : 'vi_VN'):''}}
                            {{formData.value.donViTinh}}</span>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </form>
                <nz-table #tblData [nzData]="phuongAnView" class="nowrap table-chi-tiet" nzBordered>
                  <thead>
                    <tr>
                      <th [rowspan]="2"></th>
                      <th [rowspan]="2" style="width: 35px">STT</th>
                      <th [rowspan]="2">Địa phương/cơ quan/đơn vị nhận cứu trợ</th>
                      <th [rowspan]="2">Tổng SL đề xuất CT, VT ({{formData.value.donViTinh}})</th>
                      <th [colspan]="3">Cục DTNN KV</th>
                      <th [colspan]="2">Chi cục DTNN</th>
                      <th [colspan]="2">Chủng loại hàng hóa</th>
                      <th [colspan]="4">SL thực tế xuất CT, VT của từng chi cục</th>
                      <th [rowspan]="2" style="width: 10%">Hành động</th>
                    </tr>
                    <tr>
                      <th>Tên cục</th>
                      <th>Tồn kho </th>
                      <th>SL xuất CT, VT giao cục ({{formData.value.donViTinh}})</th>
                      <th>Tên chi cục</th>
                      <th>Tồn kho ({{formData.value.donViTinh}})</th>
                      <th>Tên chủng loại hàng hóa</th>
                      <th>Tồn kho ({{formData.value.donViTinh}})</th>
                      <th>Số lượng ({{formData.value.donViTinh}})</th>
                      <th>ĐVT</th>
                      <th>Đơn giá không VAT đ/({{formData.value.donViTinh}})</th>
                      <th>Thành tiền (đ)</th>
                    </tr>
                  </thead>
                  <tbody>

                    <ng-container *ngFor="let item of tblData.data, let i = index;">
                      <tr>
                        <td (nzExpandChange)="onExpandStringChange(item.idVirtual, $event)"
                          [nzExpand]="expandSetString.has(item.idVirtual)" nzShowExpand="true" style="width: 35px"></td>
                        <td>{{i + 1}}</td>
                        <td>{{ item.noiDung }}</td>
                        <td><strong>{{ item.soLuongXuat |number:'1.0-1' : 'vi_VN'}}</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>{{item.soLuongXuatThucTe|number:'1.0-1' : 'vi_VN'}}</strong></td>
                        <td></td>
                        <td></td>
                        <td><strong>{{item.thanhTien|number:'1.0-1' : 'vi_VN'}}</strong></td>
                        <td>

                        </td>
                      </tr>
                      <ng-container *ngIf="expandSetString.has(item.idVirtual)">
                        <ng-container *ngFor="let lv1 of item.childData,let i1=index">
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{lv1.tenCuc}}</td>
                            <td></td>
                            <td><strong>{{lv1.soLuongXuatCuc|number:'1.0-1' : 'vi_VN'}}</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>{{lv1.soLuongXuatCucThucTe|number:'1.0-1' : 'vi_VN'}}</strong></td>
                            <td></td>
                            <td></td>
                            <td><strong>{{lv1.thanhTienCuc|number:'1.0-1' : 'vi_VN'}}</strong></td>
                            <td>
                            </td>
                          </tr>
                          <ng-container *ngIf="expandSetString.has(item.idVirtual)">
                            <ng-container *ngFor="let lv2 of lv1.childData,let i2=index">
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{lv2.tenChiCuc}}</td>
                                <td>{{lv2.tonKhoChiCuc|number:'1.0-1' : 'vi_VN'}}</td>
                                <td>{{lv2.tenCloaiVthh}}</td>
                                <td>{{lv2.tonKhoCloaiVthh|number:'1.0-1' : 'vi_VN'}}</td>
                                <td>{{lv2.soLuongXuatChiCuc|number:'1.0-1' : 'vi_VN'}}</td>
                                <td>{{lv2.donViTinh}}</td>
                                <td>{{lv2.donGiaKhongVat|number:'1.0-1' : 'vi_VN'}}</td>
                                <td>{{lv2.thanhTien|number:'1.0-1' : 'vi_VN'}}</td>
                                <td>
                                  <a>
                                    <i class="fa fa-edit" *ngIf="!isView" (click)="suaPhuongAn(lv2)"></i>
                                  </a>
                                  <a>
                                    <i class="fa fa-trash-o do" *ngIf="!isView" (click)="xoaPhuongAn(lv2)"></i>
                                  </a>
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </nz-table>
                <label nz-checkbox *ngIf="this.formData.value.loaiVthh=='0102'" [nzDisabled]="isView"
                  [(ngModel)]="this.formData.value.xuatCap">
                  Đồng ý duyệt xuất cấp
                </label>
              </nz-card>
            </div>
          </nz-card>
        </div>
      </div>
    </nz-card>
  </div>
  <nz-modal [nzWidth]="'60%'" [(nzVisible)]="isVisible" nzTitle="Chi tiết phương án" [nzFooter]="modalFooterSuaNoiDung"
    [nzClosable]="false">
    <ng-container *nzModalContent>
      <!--    <form nz-form>-->
      <nz-form-item>
        <nz-form-label [nzXs]="7">Địa phương/cơ quan/đơn vị nhận cứu trợ</nz-form-label>
        <nz-form-control>
          <input nz-input [(ngModel)]="phuongAnRow.noiDung" [nzAutocomplete]="auto" [readonly]="true">
          <nz-autocomplete #auto>
            <nz-auto-option *ngFor="let option of listNoiDung" [nzValue]="option">{{ option }}
            </nz-auto-option>
          </nz-autocomplete>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="7">Cục DTNN</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear [(ngModel)]="phuongAnRow.maDviCuc" (ngModelChange)="changeCuc($event)"
            nzPlaceHolder="Chọn đơn vị" nzShowSearch [nzDisabled]="true">
            <nz-option *ngFor="let p of dsDonVi" [nzLabel]="p.tenDvi" [nzValue]="p.maDvi"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="7">Chi Cục DTNN</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear [(ngModel)]="phuongAnRow.maDviChiCuc" (ngModelChange)="changeChiCuc($event)"
            nzPlaceHolder="Chọn đơn vị" nzShowSearch [nzDisabled]="true">
            <nz-option *ngFor="let p of listChiCuc" [nzLabel]="p.tenDvi" [nzValue]="p.maDvi"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="7">Chủng loại hàng hóa</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear [(ngModel)]="phuongAnRow.cloaiVthh" nzPlaceHolder="Chọn chủng loại hàng hóa"
            nzShowSearch [nzDisabled]="true">
            <nz-option *ngFor="let p of listChungLoaiHangHoa" [nzLabel]="p.ten" [nzValue]="p.ma"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="7">Số lượng</nz-form-label>
        <nz-form-control>
          <nz-input-number [(ngModel)]="phuongAnRow.soLuongXuatChiCuc" [nzMin]="1" [nzMax]="999999999999" [nzStep]="1"
            [nzSize]="'small'">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="7">Đơn giá</nz-form-label>
        <nz-form-control>
          <nz-input-number [(ngModel)]="phuongAnRow.donGiaKhongVat" [nzMin]="1" [nzMax]="999999999999" [nzStep]="1"
            [nzSize]="'small'">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <!--    </form>-->
    </ng-container>
    <ng-template #modalFooterSuaNoiDung>
      <button nz-button (click)="handleCancel()">Đóng</button>
      <button nz-button class="btn btn-main" (click)="handleOk()">Lưu</button>
    </ng-template>
  </nz-modal>

  <ng-template #error let-control>
    <app-template-error #error [control]="control"></app-template-error>
  </ng-template>
</div>
<nz-modal class="scroll-nz-modal" [nzWidth]="'90%'" [(nzVisible)]="openDxPa" (nzOnCancel)="closeDxPaModal()">
  <ng-container *nzModalContent class="modal__content custom-scroll-modal">
    <app-thong-tin-xay-dung-phuong-an [idInput]="dxPaId" [loaiVthhInput]="loaiVthh" [isView]="true">
    </app-thong-tin-xay-dung-phuong-an>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="closeDxPaModal()" class="modal__button--cancel">
      <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
      Đóng
    </button>
  </div>
</nz-modal>