::ng-deep {
  .ant-checkbox-group {
    display: inline-grid;
    grid-template-columns: auto auto auto;
  }

  .ant-checkbox-group.grid-1 {
    display: grid;
    grid-template-columns: 1fr
  }

  .ant-radio-group.grid-1 {
    display: grid;
    grid-template-columns: 1fr
  }
}