@import 'src/app/pages/xuat/xuat-cuu-tro-vien-tro/xuat-cuu-tro-vien-tro.component.scss';
::ng-deep {
  .hd-custom-label {
    margin-top: -20px;

    .ant-form-item-label {
      padding-top: 0 !important;
    }
  }

  .hidden-label > label {
    opacity: 0;
    visibility: hidden;
  }
}
