.check-box {
  margin-bottom: 12px;
  margin-top: 12px;
}

.btn-huy-bo {
  margin-right: 10px;
  color: #cc2020;
  font-weight: 500;
  border-color: #cc2020 !important;
  background-color: #FFF3F3;
}

.modal__button--cancel {
  background-color: white;
  color: #cc2020;
  border: 1px solid #cc2020;
  margin-right: 5px;
}

.icon-cancel {
  color: #ff000078
}
