<form [formGroup]="formData">
  <div class="d-flex" nz-row [nzGutter]="[18, 6]">
    <div nz-col nzSpan="8">
      <div class="modal__content">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true" nzRequired>
            Chọn chi cục muốn từ chối
          </nz-form-label>
          <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="'Bạn chưa chọn cục từ chối'">
            <nz-checkbox-group formControlName="listCucNhan" (ngModelChange)="handleChosen($event)"></nz-checkbox-group>
          </nz-form-control>
          <!-- <div *ngIf="formData.value.listIds.length<1" style="color: #ff4d4f">Bạn chưa chọn cục từ chối nào
            {{formData.value.listIds.length}}</div> -->
        </nz-form-item>
      </div>
    </div>

    <div nz-col nzSpan="16">
      <div class="modal__content">
        <nz-form-item>
          <nz-form-label nzRequired [nzNoColon]="true"> Nhập lý do từ chối</nz-form-label>
          <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
            <textarea rows="7" staclass="search__input" nz-input formControlName="text"
              placeholder="Lý do từ chối"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="nut">
      <div class="cantrai">
      </div>
      <div class="canphai">
        <button nz-button (click)="handleCancel()" class="modal__button--cancel">
          <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
          Hủy bỏ
        </button>
        <button nz-button (click)="handleOk()" class="modal__button--save">
          <i class="icon htvbdh_tcdt_tuchoi"></i>
          Từ chối
        </button>
      </div>
    </div>
  </div>
</form>
<ng-template #error let-control>
  <ng-container *ngIf="control.hasError('required')">Bạn cần phải nhập lí do từ chối</ng-container>
</ng-template>
<!-- <ng-template #error2 let-control>
  <ng-container *ngIf="control.hasError('isEmptyCheck')">Bạn chưa chọn cục từ chối nào</ng-container>
</ng-template> -->