::ng-deep {
  .donvi__input {
    margin-bottom: 0px !important;
  }
}
.table__container-vat-tu {
  height: 500px;
  overflow: auto;
}
.ma-hang-hoa {
  cursor: pointer;
}
.canphai {
  button.btn.btn-outline-grey {
    margin: 0px !important;
  }
}
