<nz-affix [nzOffsetTop]="69" class="level1">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item [nzSelected]="tabSelected == 'dxkh'" (click)="selectTab('dxkh')" *ngIf="userService.isAccessPermisson('QLKT_QHKHKT_KHSUACHUALON_DX')">
     Đề xuất kế hoạch sửa chữa lớn hàng năm
    </li>
    <li nz-menu-item [nzSelected]="tabSelected == 'qdtcdt'" (click)="selectTab('qdtcdt')" *ngIf="userService.isTongCuc() && userService.isAccessPermisson('QLKT_QHKHKT_KHSUACHUALON_TH')">
      Tổng hợp phương án sửa chữa lớn hàng năm
    </li>
    <li nz-menu-item [nzSelected]="tabSelected == 'qdgiaonv'" (click)="selectTab('qdgiaonv')" *ngIf="userService.isTongCuc()">
      Quyết định giao nhiệm vụ
    </li>
    <li nz-menu-item [nzSelected]="tabSelected == 'qdbtc'" (click)="selectTab('qdbtc')" *ngIf="userService.isAccessPermisson('QLKT_QHKHKT_KHSUACHUALON_QDBTC')" >
      Quyết định PD KH vốn, cải tạo, sửa chữa lớn hàng năm của BTC
    </li>
    <li nz-menu-item [nzSelected]="tabSelected == 'qdtbscl'" (click)="selectTab('qdtbscl')" *ngIf="userService.isAccessPermisson('QLKT_QHKHKT_KHSUACHUALON_QDTCDT')">
      Quyết định/Thông báo KH sửa chữa lớn của TCDT
    </li>
  </ul>
</nz-affix>
<ng-container *ngIf="tabSelected == 'dxkh'">
  <app-de-xuat-kh-sc-lon></app-de-xuat-kh-sc-lon>
</ng-container>
<ng-container *ngIf="tabSelected == 'qdtcdt'">
  <app-tong-hop-sc-lon (tabFocus)="selectData($event)"></app-tong-hop-sc-lon>
</ng-container>
<ng-container *ngIf="tabSelected == 'qdgiaonv'">
  <app-quyet-dinh-giao-nv></app-quyet-dinh-giao-nv>
</ng-container>
<ng-container *ngIf="tabSelected == 'qdbtc'">
  <app-quyet-dinh-sc-lon-btc [dataTongHop]="dataObject" (removeData)="removeData()"></app-quyet-dinh-sc-lon-btc>
</ng-container>
<ng-container *ngIf="tabSelected == 'qdtbscl'">
  <app-qd-thong-bao-sua-chua-lon ></app-qd-thong-bao-sua-chua-lon>
</ng-container>
