@import '../../../../assets/scss/default.scss';

@mixin background($imgpath, $position: 0 0, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
  }
}

.ant-layout-header .justify-content-between {
  display: flex;
  // width: calc(100% - 326px);
  width: 100%;
}

.logo-tcdt {
  width: 30px;
}

.logo {
  @include background('#{$img-path}logo-tcdt.svg');
  width: 40px;
  padding: 0;
  margin: 0px 0px 0px 10px;
  height: 45px;
  float: left;
  background-size: auto 40px;
  background-position: 0 center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .logo {
    @include background('#{$img-path}logo-tcdt.svg');
    // background-size: auto 38px !important;
    background-position: 0px 4px;
    background-repeat: no-repeat;
    background-size: auto 35px !important;
  }
}

::ng-deep {
  .tenvachucvu {
    font-size: 13px;
    margin-top: 4px;

    span {
      font-weight: 500;
      letter-spacing: 1px;
      display: block;
      padding: 2px 4px 0px 4px;
      margin-left: 6px;

      &+span {
        font-size: 11px;
        font-weight: normal;
        // letter-spacing: 3px;
        /* text-align: center; */
        /* border: solid 1px rgb(255 255 255 / 60%); */
        color: rgb(255 255 255 / 60%);
      }
    }

    p {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // max-width: 100px;
    }
  }

  a.ant-dropdown-link.ant-dropdown-trigger.user {
    border: solid 1px rgb(255 255 255 / 30%);
    padding: 1px 4px;
    border-radius: 0px;
  }

  .menuphai .ant-dropdown-link {
    bottom: 0 !important;
  }

  @media (min-width: 991px) and (max-width: 1366px) {
    .tenvachucvu {
      font-size: 11px;
      margin-top: 4px;

      span+span {
        font-size: 9px;
      }
    }

    .menuphai .ant-dropdown-link {
      bottom: -2px !important;
    }
  }

  .ant-menu-dark.ant-menu-horizontal,
  .ant-layout-header {
    height: auto;
    line-height: normal;
    display: flex;
    align-items: center;
  }

  .ant-layout-header {
    box-shadow: -2px -1px 6px rgb(0 0 0 / 30%);
  }

  #collapsnav .nav-tabs {
    background: $bg-header2 $i;
  }

  @media (max-width: 991px) {
    #collapsnav .nav-tabs {
      background: transparent $i;
    }
  }

  .ant-menu-dark.ant-menu-horizontal>.ant-menu-item,
  .ant-menu-dark.ant-menu-horizontal>.ant-menu-submenu {
    border-radius: 0px;
    padding: 1px 0px;
    font-size: $font-size14;
    //   @media(max-width: 1366px){
    //     font-size: $font-size13;
    //  }
    font-weight: 500;
    background: transparent;
  }

  .ant-menu.ant-menu-dark {
    background: transparent;
  }

  .ant-menu-dark .ant-menu-item>a {
    color: $color-a;
    padding: 2px 10px;
  }

  .ant-menu-dark.ant-menu-horizontal>.ant-menu-item:hover {
    background: transparent !important;
  }

  .ant-menu-dark.ant-menu-horizontal>.ant-menu-item a:hover {
    background-color: $bgmenu-active;
  }

  .ant-menu-dark.ant-menu-horizontal>.ant-menu-item.active a {
    background-color: $maincolor;
    color: #fff;
    border-radius: 0px;
    padding-top: 0;
    padding-bottom: 2px;
  }
}

nz-header.ant-layout-header {
  padding: 0 15px;
}

.menuphai .ant-dropdown-link {
  margin-left: 10px;
  font-size: $font-size16;
  bottom: -2px;
  position: relative;
}

.ant-avatar.ant-avatar-icon {
  top: -3px;
}

.ant-badge-count {
  min-width: 18px;
  height: 18px;
  font-size: $font-size11;
  line-height: 18px;
}

.ant-scroll-number-only,
.ant-scroll-number-only>p.ant-scroll-number-only-unit {
  height: 18px;
}

.navbar.navbar-expand-lg.navbar-light {
  padding: 0;
  width: 100%;
}

::ng-deep {
  .ant-menu-dark.ant-menu-horizontal>.ant-menu-item {
    // max-width: 170px;
    // white-space: pre-wrap;
    text-align: center;
    // height: 32px;
    display: flex;
    align-items: center;

    &.prev,
    &.next {
      height: 30px;
    }
  }


  .ant-menu-dark.ant-menu-horizontal>.ant-menu-item a {
    // height: 32px;
    display: flex;
    align-items: center;
  }

  .ant-menu-dark.ant-menu-horizontal>.ant-menu-item a:hover {
    background-color: #4e5484 !important;
  }

  .ant-menu-dark.ant-menu-horizontal>.ant-menu-item.active a {
    background-color: #4e5484 !important;
    color: #fff;
    border-radius: 0px;
    padding-top: 0;
    padding-bottom: 2px;
  }

  .header-style {
    height: 30px;

    .menuphai {
      display: flex;
      align-items: center;

      nz-badge {
        position: relative;

        .count-notti {
          position: absolute;
          background: #ff4d4f;
          border: 1px solid #ffffff;
          border-radius: 0px;
          color: #ffffff;
          font-size: 12px;
          padding: 1px 6px;
          top: -6px;
          right: -12px;
        }
      }
    }

    .user {
      border: none !important;

      .cricle-profile {
        background: #d9d9d9;
        border-radius: 50%;
        margin-right: 6px;

        i {
          padding: 4px 5px;
        }
      }
    }
  }
}
