@import '../../../../../assets/scss/core/variables/colors';
.layout-common {
    color: $grey-600;
    &__wrap {
        margin: 48px 48px 18px;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
        color: $grey-800;
    }

    &__des {
        font-size: 18px;
        margin-top: 5px;
    }

    &__border {
        height: 1px;
        background-color: #dce6e4;
    }
    background-color: #EAEEF4;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
