:host {
    display: block;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//     height: 48px !important;
// }

.outstanding {
    font-weight: bold;
}

.btn-active {
    background-color: #271d1d3b;
    color: #f10909;
}

.btn-inactive {
    background-color: green;
    color: #fff;
}

.menu-action-col {
    display: flex;
    flex: 0 0 4% !important;
    justify-content: flex-end;
}

// .menu-btn {
//     display: flex;
//     align-items: center;
// }

.mat-header-cell {
    line-height: 26px;
    background-color: #e7f1ff;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: #587cad;
    font-size: 14px;
    font-weight: 500;
    border-top-width: 0;
    border-bottom-width: 1px;
    height: 26px;
    padding: 2px 8px;
    min-height: 26px;
}
.mat-cell,
.mat-footer-cell {
    line-height: 21px;
    font-weight: 400;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: #212529;
    font-size: 0.875rem;
}
.action-group {
    display: flex;
    align-items: center;
    height: 35px;
    margin-right: 20px;
    // justify-content: center;
    .action-icon {
        margin-right: 18px;
        height: 14px;
        width: 14px;
    }
}

.action-header {
    // flex: 0 0 4% !important;
}

.hide-header-row {
    display: none !important;
}

::ng-deep .menu-action-table.mat-menu-panel {
    min-height: 0px !important;
}

::ng-deep .mat-paginator-range-label {
    display: none;
}

:host ::ng-deep.mat-paginator .mat-paginator-container {
    justify-content: center;
}

::ng-deep .mat-paginator-navigation-previous {
    margin-right: 120px;
}

::ng-deep .mat-paginator-navigation-next {
    margin-left: 120px;
}

.sub-paginator {
    // width: 192px;
    height: 32px;
    display: flex;
}

.sub-paginator-item {
    width: 32px;
    height: 32px;
    margin-right: 7px;
    margin-left: 7px;
}

.sub-paginator-item button {
    background-color: white;
}

.sub-paginator-item span {
    color: #d6d9db;
    font-size: 16px;
}

.sub-paginator-item-selected {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 16px;
    margin-right: 7px;
    margin-left: 7px;
}

.number-paginator {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 40px;
}

.mat-paginator {
    background: transparent !important;
}

::ng-deep .mat-table {
    max-height: calc(50vh - 130px);
    overflow: auto;
}

.span-page {
    font-family: Arial, Serif, Sans-serif, cursive, fantasy, Monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    text-align: center;
}

@media screen and (max-width: 1440px) {
    .menu-action-col,
    .action-header {
        flex: 0 0 7% !important;
    }
}

.sub-paginator-item-selected button {
    background-color: #fff;
}

.sub-paginator-item-selected span {
    color: #34404b;
    font-size: 16px;
}

.search-text {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    .mat-icon {
        font-size: 2rem;
    }

    .mat-input-element {
        margin-top: 8px;
        font-size: 16px;
        font-weight: 500;
    }
}

.select-items-page {
    width: 70px;
    border: 1px solid #dcdfea;
    padding: 4px 8px 4px 8px;
    font-size: 16px;
    border-radius: 8px;
    position: absolute;
    right: 15px;
}

::ng-deep {
    .number-paginator .material-icons {
        font-size: 16px !important;
    }

    .number-paginator .mat-select-arrow {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid;
        margin: 0 4px;
        visibility: hidden;
    }

    .number-paginator .mat-select-arrow-wrapper {
        // background-image: url('../../../../assets/img/down.png');
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center;
    }

    .number-paginator .mat-select-value {
        padding-left: 8px;
    }
    .mat-header-row {
        height: 26px !important;
        min-height: 26px !important;
        .mat-sort-header-content {
            padding-top: 3px;
        }
    }
    .mat-row {
        padding: 3px 0px !important;
        height: unset !important;
        min-height: unset !important;
        &:hover {
            background-color: #f3f3f3;
        }
    }
    .cdk-column-maDviCha {
        flex: 2 1 0% !important;
    }
    .cdk-column-tenDvi {
        flex: 2 1 6% !important;
    }
    .cdk-column-diaChi {
        flex: 2 1 4% !important;
    }
    .sub-paginator-item span {
        color: #34404b !important;
    }
    .sub-paginator-item-selected button {
        background-color: #587cad !important;
        border-radius: 4px;
    }
    .sub-paginator-item-selected span {
        color: #ffffff !important;
    }
    .number-paginator {
        .mat-button {
            padding-right: 0px;
            padding-left: 0px;
            width: 32px;
            min-width: 32px;
        }
    }
}
.select-items-page::before {
    content: "Bản ghi / trang";
    position: absolute;
    left: -105px;
    font-size: 14px;
}
// .selected {
//     background-color: #f3f3f3 !important;
// }
