tfoot {
  tr {
    background-color: #F8F9FA;
  }

  .xanh {
    color: #8BC34C !important;
    background-color: #F8F9FA !important;
  }
}
.money-input {
  border: 1px solid #bbb8b8;
  height: inherit;
  width: 100%;
}
