$toolbar-height: 64px;

.container {
    min-height: 100vh;
}

::ng-deep {
    // ng-select.ng-select-searchable.ng-select-clearable.ng-select.ng-select-single.ng-untouched.ng-pristine.ng-valid.ng-select-opened.ng-select-bottom {
    //     height: 24px;
    // }
    .ng-select-container {
        height: 24px !important;
        min-height: 24px !important;
        border-radius: 0px !important;
        padding-top: 7px !important;
    }
    .ng-option.ng-star-inserted {
        height: 24px;
        display: flex !important;
        align-items: center !important;
        span.ng-option-label.ng-star-inserted {
            font-size: 14px; 
        }
    }
    .ng-select .ng-select-container {
        border-radius: 4px !important;
        border: 1px solid #ced4da;
    }
    .mat-input-element {
        padding-left: 8px !important;
    }
}
.btn.btn-primary {
    background-color: #F9380A !important;
    border-color: #F9380A !important;
}

