<div class="header-file" *ngIf="!isView">
  <input type="text" nz-input placeholder="Tên đại diện" [(ngModel)]="itemRow.daiDien" />
  <div class="icon-plus" (click)="addDaiDien()">
    <i class="icon htvbdh_dau-cong"></i>
  </div>
  <div class="icon-empty" (click)="clearData()">
    <i class="icon htvbdh_nhap-lai1"></i>
  </div>
</div>

<div class="body-file" *ngFor="let item of dataTable; let i = index">
  <ng-container *ngIf="!dataEdit[i]?.edit; else editTemplate">
    <div class="content-data d-flex align-items-center">
      <div class="nd-text" disabled="isView">{{item.daiDien}}</div>
    </div>
    <div class="icon-edit" *ngIf="!isView" (click)="editItem(i)">
      <i class="fa fa-pencil" title="Sửa"></i>
    </div>
    <div class="icon-xoa" *ngIf="!isView" (click)="xoaItem(i)">
      <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
    </div>
  </ng-container>

  <ng-template #editTemplate>
    <input type="text" nz-input placeholder="Tên đại diện" [(ngModel)]="dataEdit[i].data.daiDien" />
    <div class="icon-plus" (click)="saveEdit(i)">
      <i class="fa fa-save"></i>
    </div>
    <div class="icon-empty" (click)="cancelEdit(i)">
      <i class="fa fa-ban do"></i>
    </div>
  </ng-template>
</div>
