.hang-theo-doi-dac-thu {
  .form-item {
    padding: 6px 10px;
  }
}

.group-button {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 4px 10px;
  margin-top: 12px;

  h3 {
    margin-bottom: 0;
    font-size: 14px;
    align-items: center;
    display: flex;
  }


  .buttons {
    .btn-xoa {
      background-color: rgba($color: #e00606, $alpha: 0.2);
      color: #e00606;
      border: 1px solid #e00606 !important;
    }
  }


}

.data-table {
  padding: 10px;
  border: 1px solid #f0f0f0 !important;

  #myTabContent {
    margin: 0;
  }
}