:host {
    display: block;
}

.content-container {
    display: flex;
    flex-direction: column;
}

admin-password-pattern-checker {
    display: block;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.form-field-label {
    display: flex;
    padding-left: 0.25rem;
    font-size: 16px;
    font-weight: 400;
}

.email-container {
    margin-left: 10px;
    margin-bottom: 1rem;
}
.content-container {
    display: flex;
    flex-direction: column;
}

.mat-card-header {
    justify-content: center;
    .mat-card-title {
        font-family: Arial, Serif, Sans-serif, cursive, fantasy, Monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 28px;
        color: #0957de;
    }
}

mat-card {
    padding: 50px 70px;
    .mat-card-conntent {
        display: flex;
        justify-content: center;
    }
    border-radius: 16px;
}

mat-card-header {
    margin-bottom: 1rem;
}

.forgot-password {
    text-align: center;
}

::ng-deep .mat-tooltip {
    white-space: pre-line !important;
}

.new-password-container {
    .password-criteria {
        margin-left: 5px;
        cursor: pointer;
        color: #0957de;
        height: 20px;
        margin-top: 2px;
    }
}
.new-password-container, .confirm-password-container{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}
.mat-form-field-reset-pass {
    width: 275px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        width: 100%;
        max-width: calc(275px - 0.25rem);
        margin: 0px;
        border-radius: 4px;
        margin-left: 0.25rem;
    }
    button.btn-active {
        background: #1DBAA9;
        border: 1px solid #1DBAA9;
    }
}


mat-form-field {
    width: 100%;
    input.mat-input-element {
        margin-top: 0px;
        background: #fff;
        background-color: #fff !important;
        font-size: 16px;
    }
    input:-webkit-autofill::first-line {
        font-size: 16px; 
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.item-group {
    position: relative;
    .mat-icon-button {
        position: absolute;
        right: 20px;
        top: 8px;
    }
}
.error-box {
    margin-top: 16px;
    width: 100%;
    text-align: left;
    ::ng-deep .error-mess-box .error-box {
        background-color: unset;
        border: unset;
        padding: 0;
        .mat-error {
            color: #FA3232;
            font-size: 12px;
            font-family: Arial, Serif, Sans-serif, cursive, fantasy, Monospace, Helvetica;
            max-width: 275px;
        }
    }
    mat-error {
        color: #FA3232;
        font-size: 12px;
        font-family: Arial, Serif, Sans-serif, cursive, fantasy, Monospace, Helvetica;
    }
}
.btn-active {
    opacity: 1 !important;
}
.mat-button-disabled {
    opacity: 0.5 !important;
}