<div class="list-file">
    <div class="header-file">
        <input type="text" placeholder="Nhập tên file" nz-input />
        <nz-input-group nzSize="large" [nzAddOnAfter]="suffixIcon">
            <input placeholder="Nhập tên file" nz-input />
        </nz-input-group>
        <ng-template #suffixIcon>
            <i class="icon htvbdh_tcdt_tep"></i>
        </ng-template>
        <div class="icon-plus">
            <i class="icon htvbdh_dau-cong "></i>
        </div>
        <div class="icon-empty">
            <i class="icon  htvbdh_nhap-lai1 "></i>
        </div>
    </div>
    <div class="body-file">
        <div class="content-text d-flex align-items-center">
            <div class="stt-file">1</div>
            <div class="nd-text">Nội dung text</div>
        </div>
        <div class="name-file d-flex align-items-center justify-content-between">
            <div class="ten-file">Tên file</div>
            <div class="icon-download">
                <i class="icon htvbdh_tcdt_import "></i>
            </div>
        </div>
        <div class="icon-edit">
            <i class="fa fa-pencil "></i>
        </div>
        <div class="icon-xoa">
            <i class="fa fa-trash-o do "></i>
        </div>
    </div>
</div>