.file-list {
  width: 50%;
  overflow: unset;
}

.header-file {
  display: grid;
  grid-template-columns: 10fr 10fr 1fr 1fr;
  grid-gap: 10px;
}

.icon-plus,
.icon-download,
.icon-edit,
.icon-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F8F9FA;
  border: 1px solid #C4C9CC;
  font-size: 12px;
  cursor: pointer;
}

.icon-xoa {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF3F3;
  border: 1px solid #FF4D4F;
  font-size: 12px;
  cursor: pointer;
}

.body-file {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 9fr 9fr 1fr 1fr 1fr;
  grid-gap: 10px 10px;

  .ten-file {
    font-size: 13px;
    color: #2196F3;
  }
}