<div class="scroll-modal">
    <nz-collapse>
        <nz-collapse-panel nzActive="true" nzHeader="Thông báo bán đấu giá">
            <form nzLayout="vertical" [formGroup]="formData" nz-form>
                <div nz-row [nzGutter]="24">
                    <div nz-row [nzGutter]="[24, 16]">
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Mã thông báo bán đấu giá</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="soTb" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="18">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Trích yếu</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="trichYeuThongBao" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- <h3>Thông tin về tổ chức bán đấu giá</h3> -->
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Tên tổ chức bán đấu giá</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="toChucTen" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Điện thoại</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="toChucSdt" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true">Địa chỉ</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="toChucStk" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="24">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true">Tk ngân hàng của tổ chức bđg</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <textarea rows="3" nz-input formControlName="toChucDiaChi"></textarea>
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Số hợp đồng</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="soHopDong" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Ngày ký hợp đồng</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="ngayKyHopDong" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Hình thức lựa chọn tổ chức bán đấu
                                    giá</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- <h3>Thông tin bán đấu giá</h3> -->
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Thời hạn đăng ký tham gia đấu giá</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <nz-range-picker formControlName="thoiHanDkTu"
                                            nzFormat="dd/MM/yyyy"></nz-range-picker>
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Lưu ý về thời gian đăng ký</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="ghiChuThoiGianDk" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Địa điểm mua, nộp hồ sơ đăng ký</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="diaDiemNopHoSo" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Điều kiện đăng ký tham gia đấu giá</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Tiền mua hồ sơ(VNĐ/1 hồ sơ /1 đơn vị tài
                                    sản)</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Bước giá của từng đơn vị tài sản (%)</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Thời hạn tổ chức xem tài sản</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <nz-range-picker formControlName="thoiHanDkTu"
                                            nzFormat="dd/MM/yyyy"></nz-range-picker>
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Lưu ý về thời gian xem tài sản</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Địa điểm tổ chức xem tài sản</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Thời hạn nộp tiền đặt trước</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <nz-range-picker formControlName="thoiHanDkTu"
                                            nzFormat="dd/MM/yyyy"></nz-range-picker>
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Phương thức thanh toán</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Lưu ý về thời gian xem tài sản</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Đơn vị thụ hưởng</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true">Số tài khoản</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true">Ngân hàng</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true">Chi nhánh ngân hàng</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Thời gian tổ chức cuộc đấu giá</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <nz-range-picker formControlName="thoiHanDkTu"
                                            nzFormat="dd/MM/yyyy"></nz-range-picker>
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Địa điểm tổ chức đấu giá</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Hình thức đấu giá</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Phương thức đấu giá</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <input nz-input formControlName="hinhThucToChuc" readonly />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="24">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Điều kiện, cách thức đăng ký tham gia</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <textarea rows="3" nz-input formControlName="toChucDiaChi"></textarea>
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="24">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true" [nzSpan]="24">
                                    Tài liệu đính kèm
                                </nz-form-label>
                                <div class="list-file" nz-col nzSpan="24">
                                    <file-list></file-list>
                                </div>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="24">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true"> Ghi chú</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group>
                                        <textarea rows="3" nz-input formControlName="toChucDiaChi"></textarea>
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
            </form>
        </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse>
        <nz-collapse-panel nzActive="true" nzHeader="Kết quả tổ chức đấu giá">
            <form nz-form nzLayout="vertical" [formGroup]="formData">
                <div nz-row [nzGutter]="[20]">
                    <div nz-col nzSpan="24">
                        <nz-radio-group>
                            <label nz-radio nzValue="A">Đấu giá thành công</label>
                            <label nz-radio nzValue="B">Đấu giá không thành công</label>
                        </nz-radio-group>
                    </div>
                    <div nz-col nzSpan="6">
                        <nz-form-item>
                            <nz-form-label nzRequired [nzNoColon]="true"> Số biên bản bán đấu giá
                            </nz-form-label>
                            <nz-form-control nz-col [nzErrorTip]="error">
                                <input nz-input formControlName="nam" readonly />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label nzRequired [nzNoColon]="true"> Số quyết định </nz-form-label>
                            <nz-form-control [nzErrorTip]="error">
                                <nz-input-group>
                                    <input nz-input formControlName="nam" readonly />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse>
        <nz-collapse-panel nzActive="true" nzHeader="Thành phần tham dự">
            <div class="group-button">
                <h3>Khách mời chứng kiến</h3>
            </div>
            <nz-table #basicTable>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ và tên</th>
                        <th>Chức vụ</th>
                        <th>Nơi công tác</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{data.name}}</td>
                        <td>{{data.age}}</td>
                        <td>{{data.address}}</td>
                        <td>
                            <a>Action 一 {{data.name}}</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a>Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <div class="group-button">
                <h3>Đấu giá viên</h3>
            </div>
            <nz-table #basicTable>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ và tên</th>
                        <th>Chức vụ</th>
                        <th>Nơi công tác</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{data.name}}</td>
                        <td>{{data.age}}</td>
                        <td>{{data.address}}</td>
                        <td>
                            <a>Action 一 {{data.name}}</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a>Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <div class="group-button">
                <h3>Tổ chức/ cá nhân tham giá đấu giá</h3>
            </div>
            <nz-table #basicTable>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ và tên/ Tên tổ chức</th>
                        <th>Mã số thuế/CMTND/CCCD/Hộ chiếu</th>
                        <th>Địa chỉ</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{data.name}}</td>
                        <td>{{data.age}}</td>
                        <td>{{data.address}}</td>
                        <td>
                            <a>Action 一 {{data.name}}</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a>Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse>
        <nz-collapse-panel nzActive="true" nzHeader="Số lượng, địa điểm xuất bán(nơi đang bảo quản và quản lý tài sản)">
            <nz-table #basicTable>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ và tên/ Tên tổ chức</th>
                        <th>Mã số thuế/CMTND/CCCD/Hộ chiếu</th>
                        <th>Địa chỉ</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{data.name}}</td>
                        <td>{{data.age}}</td>
                        <td>{{data.address}}</td>
                        <td>
                            <a>Action 一 {{data.name}}</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a>Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-collapse-panel>
    </nz-collapse>
    <ng-template #error let-control>
        <app-template-error #error [control]="control"></app-template-error>
    </ng-template>
</div>
<div class="modal-footer">
    <div class="nut">
        <div class="cantrai">
        </div>
        <div class="canphai">
            <!-- <button nz-button (click)="handleOk()" class="modal__button--save">
                <i nz-icon nzType="save"></i>
                Lưu
            </button> -->
            <button nz-button (click)="handleCancel()" class="modal__button--cancel">
                <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
                Đóng
            </button>
        </div>
    </div>
</div>