::ng-deep {
  .donvi__input {
    margin-bottom: 0px !important;
  }

  .form__dm-dung-chung {
    .ant-col {
      padding: 0px 8px !important;
    }
  }
}

.canphai {
  button.btn.btn-outline-grey {
    margin: 0px !important;
  }
}