.text-green {
  color: #8BC34C;
  font-weight: 500;
  font-size: 12px;
}

.text-blue {
  color: #001CFF !important;
  font-weight: bold;
  background-color: #ededed;
}
.bg-selected {
  background-color: #efefef;
}

.bg-selected tr {
  background-color: #ebedff;
  //background-color: red;
}
