.money-input {
  border: 1px solid #bbb8b8;
  height: inherit;
  width: 100%;
}

.ant-input-number {
  width: 100% !important;
  border: none;
  background: transparent;
  color: blue;
  padding: 0px !important;
  font-weight: 500;
}
