<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span [ngClass]="formData.value.trangThai == STATUS.DA_HOAN_THANH ? 'status-xanh' : 'status-do'">
          {{ formData.value.tenTrangThai }}
        </span>
        <span>Thông báo kết quả trình hồ sơ tiêu hủy hàng</span>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sub ml-2" (click)="redirectDefault()">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>
      <button *ngIf="showSave()" type="button" class="btn btn-sub xanh-nhat ml-2" (click)="save(true)">
        <i class="icon htvbdh_tcdt_guiduyet"></i>
        <span>Hoàn thành</span>
      </button>
      <button *ngIf="showSave()" type="button" class="btn btn-main ml-2" (click)="save()">
        <i class="icon htvbdh_tcdt_save"></i>
        <span>Lưu</span>
      </button>
    </div>
  </div>

  <nz-card class="mg-t-16 flex-card p-lr16">
    <nz-collapse>
      <nz-collapse-panel nzActive="true" nzHeader="THÔNG TIN CHUNG">
        <form nzLayout="vertical" nz-form [formGroup]="formData">
          <div nz-row [nzGutter]="[24]">
            <div nz-col [nzSpan]="2">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true">Năm </nz-form-label>
                <nz-form-control nz-col [nzErrorTip]="error">
                  <nz-select formControlName="nam" [nzDisabled]="true">
                    <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true">Số thông báo KQ trình hồ sơ </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfter="{{symbol}}">
                    <nz-input-number [nzSize]="'small'" nz-input formControlName="soThongBao"
                                     [nzDisabled]="disabled()"></nz-input-number>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">Ngày thông báo</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-date-picker formControlName="ngayThongBao" nzFormat="dd/MM/yyyy" nzDisabled>
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="4">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true">Số hồ sơ đề nghị tiêu hủy</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogDanhSach()">
                    <input nz-input [readonly]="true" formControlName="soHoSo" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8"     >
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true">Trích yếu </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group>
                    <input nz-input formControlName="trichYeu" [readOnly]="disabled()" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="4">
              <nz-form-item>
                <nz-form-label>Ngày ký</nz-form-label>
                <nz-form-control>
                  <nz-date-picker formControlName="ngayKy" nzFormat="dd/MM/yyyy" [nzDisabled]="disabled()">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Lý do không phê duyệt của BTC
                </nz-form-label>
                <nz-form-control nz-col>
                  <textarea [readonly]="disabled()" nz-input [rows]="3" formControlName="lyDo"></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">Tài liệu đính kèm</nz-form-label>
                <nz-form-control>
                  <div class="list-file">
                    <file-list [isViewDetail]="disabled()" [data]="fileDinhKem"></file-list>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>
</div>
<ng-template #error let-control>
  <app-template-error #error [control]="control"></app-template-error>
</ng-template>
