<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
          <span [ngClass]=" formData.value.trangThai == STATUS.BAN_HANH  ? 'status-xanh' : 'status-do' ">
                    {{formData.value.tenTrangThai}}
                </span>
        <span>QUYẾT ĐỊNH QUY HOẠCH</span>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sub ml-2" (click)="quayLai()">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>
      <button type="button" class="btn btn-sub btn-xanh  ml-2"
              *ngIf="!isViewDetail && formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU && userService.isAccessPermisson('QLKT_QHKHKT_QHK_QDQH_THEM')"
              (click)="save(true)">
        <i class="icon htvbdh_chuyenvanthu"></i>
        <span>Ban hành</span>
      </button>
      <button type="button" class="btn btn-sub btn-xanh  ml-2"
              *ngIf="!isViewDetail && formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU && userService.isAccessPermisson('QLKT_QHKHKT_QHK_QDQH_THEM')" (click)="save()">
        <i class="fa fa-save"></i>
        <span>Lưu</span>
      </button>
    </div>
  </div>
  <nz-card class="mt16 flex-card p-lr16">
    <div class="header header-green-background mg-t-16">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span></span>
          <span>THÔNG TIN CHUNG</span>
        </div>
      </div>
    </div>
    <form [nzLayout]="'vertical'" [formGroup]="formData" nz-form>
      <div nz-row [nzGutter]="20">
        <div nz-col nzSpan="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" nzRequired> Số quyết định
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group nzAddOnAfter="{{maQd}}">
                <input [readOnly]="isViewDetail" formControlName="soQuyetDinh" class="search__input" nz-input/>
              </nz-input-group>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-label [nzNoColon]="true" nzRequired>Giai đoạn quy hoạch (năm bắt đầu - năm kết thúc)</nz-form-label>
          <div nz-row>
            <div nz-col nzSpan="10">
              <nz-form-control [nzErrorTip]="error">
                <nz-select [nzDisabled]="isViewDetail" nzPlaceHolder="Năm bắt đầu" nzSpan="11" nzAllowClear
                           formControlName="namBatDau">
                  <nz-option *ngFor="let p of danhSachNam" [nzValue]="p" [nzLabel]="p">
                  </nz-option>
                </nz-select>
              </nz-form-control>

            </div>
            <div nz-col nzSpan="2" class="text-center">
              <i class="icon htvbdh_tcdt_lien-ket icon-lien-ket ng-tns-c190-48"></i>
            </div>
            <div nz-col nzSpan="11">
              <nz-form-control [nzErrorTip]="error">
                <nz-select [nzDisabled]="isViewDetail" nzPlaceHolder="Năm kết thúc" nzSpan="2" nzAllowClear
                           formControlName="namKetThuc">
                  <nz-option *ngFor="let p of danhSachNam" [nzValue]="p" [nzLabel]="p">
                  </nz-option>
                </nz-select>
              </nz-form-control>

            </div>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <nz-form-item class="form-item">
            <nz-form-control [nzErrorTip]="error">
              <nz-form-label [nzNoColon]="true" nzRequired> Ngày ký</nz-form-label>
              <nz-date-picker [nzDisabled]="isViewDetail" formControlName="ngayKy"
                              nzFormat="dd/MM/yyyy"></nz-date-picker>
            </nz-form-control>

          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true" nzRequired>Trích yếu</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group>
                <input [readOnly]="isViewDetail" formControlName="trichYeu" class="search__input" nz-input/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item class="form-item">
            <nz-form-control [nzErrorTip]="error">
              <nz-form-label [nzNoColon]="true" nzRequired> Mô tả thông tin quy hoạch
              </nz-form-label>
              <textarea [readonly]="isViewDetail" formControlName="moTa" rows="3" class="search__input"
                        nz-input></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item class="form-item">
            <nz-form-control [nzErrorTip]="error">
              <nz-form-label [nzNoColon]="true"> Phương án quy hoạch
              </nz-form-label>
              <textarea [readonly]="isViewDetail" formControlName="phuongAnQuyHoach" rows="3" class="search__input"
                        nz-input></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">
              Căn cứ pháp lý
            </nz-form-label>
            <div class="list-file">
              <file-list [disabled]="isViewDetail" [data]="fileDinhKems"></file-list>
            </div>
          </nz-form-item>
        </div>
      </div>
    </form>
    <div class="header header-green-background mg-t-16">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span></span>
          <span>THÔNG TIN KHO THANH LÝ SÁT NHẬP</span>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-sub ml-10" (click)="exportCt('TL')">
          <i class="icon htvbdh_chuyen-xu-ly"></i>
          <span>Xuất file</span>
        </button>
      </div>
    </div>
    <nz-table [nzData]="dataTableTL" nzBordered class="nowrap pd-10" [nzFrontPagination]="false"
              [nzShowPagination]="false">
      <thead>
      <tr>
        <th class="text-center" style="width: 2%;">STT</th>
        <th style="width: 12%;">Cục DTNN KV</th>
        <th style="width: 8%;">Chi cục</th>
        <th style="width: 8%;">Điểm kho</th>
        <th style="width: 8%;">Địa điểm</th>
        <th style="width: 8%;">Diện tích(m2)</th>
        <th style="width: 8%;">Tổng tích lượng (tấn kho)</th>
        <th style="width: 8%;">Phương án quy hoạch</th>
        <th style="width: 29%;">Ghi chú</th>
        <th style="width: 10%;" *ngIf="!isViewDetail">Hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="!isViewDetail">
        <td class="text-center" style="width: 2%;"></td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-select [(ngModel)]="rowItemTL.maCuc" nzAllowClear (ngModelChange)="onChangeCuc($event, 'TL')">
              <nz-option nzValue="null" nzDisabled nzHide></nz-option>
              <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsCuc">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-select [(ngModel)]="rowItemTL.maChiCuc" nzAllowClear (ngModelChange)="onChangChiCuc($event,'TL')">
              <nz-option nzValue="null" nzDisabled nzHide></nz-option>
              <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of danhSachChiCuc">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-select [(ngModel)]="rowItemTL.maDiemKho" nzAllowClear (ngModelChange)="onChangDiemKho($event,'TL')">
              <nz-option nzValue="null" nzDisabled nzHide></nz-option>
              <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of danhSachDiemKho">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItemTL.diaDiem"/>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-input-number [(ngModel)]="rowItemTL.dienTich" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                             [nzSize]="'small'">
            </nz-input-number>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-input-number [(ngModel)]="rowItemTL.tongTichLuong" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                             [nzSize]="'small'">
            </nz-input-number>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-select [(ngModel)]="rowItemTL.phuongAnQuyHoach" [nzShowArrow]="false"
                       (ngModelChange)="changePhuongAn($event, 'TL')">
              <nz-option nzValue="{{item.ma}}" nzLabel="{{item.giaTri}}" *ngFor="let item of dsThanhLy">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </td>
        <td style="width: 32%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItemTL.ghiChu"/>
          </nz-input-group>
        </td>
        <td class="text-center" *ngIf="!isViewDetail">
          <a (click)="themMoiItem('TL')">
            <i class="fa fa-plus"></i>
          </a>
          <a (click)="clearData()">
            <i class="icon  htvbdh_nhap-lai1 "></i>
          </a>
        </td>
      </tr>

      <tr *ngFor="let data of dataTableTL; let idx = index">
        <ng-container *ngIf="!dataEditTL[idx].edit; else editTemplate">
          <td>{{ idx + 1 }}</td>
          <td>{{ data.tenCuc }}</td>
          <td>{{ data.tenChiCuc }}</td>
          <td>{{ data.tenDiemKho }}</td>
          <td>{{ data.diaDiem }}</td>
          <td>{{ data.dienTich }}</td>
          <td>{{ data.tongTichLuong }}</td>
          <td>{{ data.tenPhuongAn }}</td>
          <td>{{ data.ghiChu }}</td>
          <td style="text-align: center;" *ngIf="!isViewDetail">
            <a (click)="editItem(idx,'TL')">
              <i class=" fa fa-pencil"></i>
            </a>
            <a (click)="xoaItem(idx,'TL')">
              <i class="fa fa-trash-o do"></i>
            </a>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td style="width: 2%;"></td>
          <td style="width: 8%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEditTL[idx].data.tenCuc" readonly/>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEditTL[idx].data.tenChiCuc" readonly/>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEditTL[idx].data.tenDiemKho" readonly/>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEditTL[idx].data.diaDiem"/>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <nz-input-number [(ngModel)]="dataEditTL[idx].data.dienTich" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                               [nzSize]="'small'">
              </nz-input-number>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <nz-input-number [(ngModel)]="dataEditTL[idx].data.tongTichLuong" [nzMin]="1" [nzMax]="9999999"
                               [nzStep]="1"
                               [nzSize]="'small'">
              </nz-input-number>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <nz-select [(ngModel)]="dataEditTL[idx].data.phuongAnQuyHoach" nzAllowClear>
                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                <nz-option nzValue="{{item.ma}}" nzLabel="{{item.giaTri}}" *ngFor="let item of dsThanhLy">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </td>
          <td style="width: 32%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEditTL[idx].data.ghiChu"/>
            </nz-input-group>
          </td>
          <td class="text-center" style="width: 10%;">
            <a (click)="luuEdit(idx, 'TL')" class="save">
              <i class="fa fa-save"></i>
            </a>
            <a (click)="huyEdit(idx, 'TL')">
              <i class="fa fa-ban do"></i> </a>
          </td>
        </ng-template>
      </tr>
      </tbody>
    </nz-table>
    <div class="header header-green-background mg-t-16">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span></span>
          <span>THÔNG TIN KHO ĐẦU TƯ MỚI</span>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-sub ml-10" (click)="exportCt('DTM')">
          <i class="icon htvbdh_chuyen-xu-ly"></i>
          <span>Xuất file</span>
        </button>
      </div>
    </div>
    <nz-table [nzData]="dataTableDTM" nzBordered class="nowrap pd-10" [nzFrontPagination]="false"
              [nzShowPagination]="false">
      <thead>
      <tr>
        <th class="text-center" style="width: 2%;">STT</th>
        <th style="width: 12%;">Cục DTNN KV</th>
        <th style="width: 8%;">Chi cục</th>
        <th style="width: 8%;">Điểm kho</th>
        <th style="width: 8%;">Địa điểm</th>
        <th style="width: 8%;">Diện tích(m2)</th>
        <th style="width: 8%;">Tổng tích lượng (tấn kho)</th>
        <th style="width: 8%;">Phương án quy hoạch</th>
        <th style="width: 29%;">Ghi chú</th>
        <th style="width: 10%;" *ngIf="!isViewDetail">Hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="!isViewDetail">
        <td class="text-center" style="width: 2%;"></td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-select [(ngModel)]="rowItemDTM.maCuc" nzAllowClear (ngModelChange)="onChangeCuc($event, 'DTM')">
              <nz-option nzValue="null" nzDisabled nzHide></nz-option>
              <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsCuc">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-select [(ngModel)]="rowItemDTM.maChiCuc" nzAllowClear (ngModelChange)="onChangChiCuc($event, 'DTM')">
              <nz-option nzValue="null" nzDisabled nzHide></nz-option>
              <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of danhSachChiCuc">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItemDTM.maDiemKho"/>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItemDTM.diaDiem"/>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-input-number [(ngModel)]="rowItemDTM.dienTich" [nzMin]="0" [nzMax]="9999999" [nzStep]="1"
                             [nzSize]="'small'" [nzFormatter]="globals.formatter"
                             [nzParser]="globals.parser">
            </nz-input-number>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-input-number [(ngModel)]="rowItemDTM.tongTichLuong" [nzMin]="0" [nzMax]="9999999" [nzStep]="1"
                             [nzSize]="'small'" [nzFormatter]="globals.formatter"
                             [nzParser]="globals.parser">
            </nz-input-number>
          </nz-input-group>
        </td>
        <td style="width: 9%;">
          <nz-input-group>
            <nz-select [(ngModel)]="rowItemDTM.phuongAnQuyHoach" [nzShowArrow]="false"
                       (ngModelChange)="changePhuongAn($event, 'DTM')">
              <nz-option nzValue="{{item.ma}}" nzLabel="{{item.giaTri}}" *ngFor="let item of dsDauTu">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </td>
        <td style="width: 32%;">
          <nz-input-group>
            <input nz-input [(ngModel)]="rowItemDTM.ghiChu"/>
          </nz-input-group>
        </td>
        <td class="text-center" *ngIf="!isViewDetail">
          <a (click)="themMoiItem('DTM')">
            <i class="fa fa-plus"></i>
          </a>
          <a (click)="clearData()">
            <i class="icon  htvbdh_nhap-lai1 "></i>
          </a>
        </td>
      </tr>

      <tr *ngFor="let data of dataTableDTM; let idx = index">
        <ng-container *ngIf="!dataEditDTM[idx].edit; else editTemplate">
          <td>{{ idx + 1 }}</td>
          <td>{{ data.tenCuc }}</td>
          <td>{{ data.tenChiCuc }}</td>
          <td>{{ data.maDiemKho }}</td>
          <td>{{ data.diaDiem}}</td>
          <td>{{ data.dienTich | number : '1.0-1' : 'vi_VN'}}</td>
          <td>{{ data.tongTichLuong | number : '1.0-1' : 'vi_VN'}}</td>
          <td>{{ data.tenPhuongAn }}</td>
          <td>{{ data.ghiChu }}</td>
          <td style="text-align: center;" *ngIf="!isViewDetail">
            <a (click)="editItem(idx, 'DTM')">
              <i class=" fa fa-pencil"></i>
            </a>
            <a (click)="xoaItem(idx,'DTM')">
              <i class="fa fa-trash-o do"></i>
            </a>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td style="width: 2%;"></td>
          <td style="width: 8%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEditDTM[idx].data.tenCuc" readonly/>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEditDTM[idx].data.tenChiCuc" readonly/>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEditDTM[idx].data.maDiemKho" readonly/>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEditDTM[idx].data.diaDiem"/>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <nz-input-number [(ngModel)]="dataEditDTM[idx].data.dienTich" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                               [nzSize]="'small'">
              </nz-input-number>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <nz-input-number [(ngModel)]="dataEditDTM[idx].data.tongTichLuong" [nzMin]="1" [nzMax]="9999999"
                               [nzStep]="1"
                               [nzSize]="'small'">
              </nz-input-number>
            </nz-input-group>
          </td>
          <td style="width: 8%;">
            <nz-input-group>
              <nz-select [(ngModel)]="dataEditDTM[idx].data.phuongAnQuyHoach" nzAllowClear>
                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                <nz-option nzValue="{{item.ma}}" nzLabel="{{item.giaTri}}" *ngFor="let item of dsDauTu">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </td>
          <td style="width: 32%;">
            <nz-input-group>
              <input nz-input [(ngModel)]="dataEditDTM[idx].data.ghiChu"/>
            </nz-input-group>
          </td>
          <td class="text-center" style="width: 10%;">
            <a (click)="luuEdit(idx, 'DTM')" class="save">
              <i class="fa fa-save"></i>
            </a>
            <a (click)="huyEdit(idx, 'DTM')">
              <i class="fa fa-ban do"></i> </a>
          </td>
        </ng-template>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>
