.title-ky-hop-dong {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #828282;
}
.download-file {
  background: #e3f9f9;
  border: 0.5px solid #b8f0f1;
  border-radius: 4px;
  color: #19797b;
  margin-left: 16px;
}
.tl-dk {
  margin-left: 8px;
}
