<div class="luong-thuc__danh-sach">
  <nz-affix class="menu-lv3 dieu-chinh-button" [nzOffsetTop]="43">
    <div class="tab-content tab-menu" id="myTabContent">
      <div class="tab-pane fade show active justify-content-between" id="banhanh" role="tabpanel"
        aria-labelledby="banhanh-tab">
        <div class="trai">
        </div>
        <div class="canphai phai" *ngIf="!viewChiTiet">
          <button class="btn btn-outline-grey btn-sm waves-effect waves-light" *ngIf="isAction()" (click)="guiDuyet()">
            <i class="icon htvbdh_tcdt_guiduyet"></i>
            <span>Lưu và gửi duyệt</span>
          </button>
          <button class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="banHanh()"
            *ngIf="bienBanKetThucNhapKho.trangThai == globals.prop.LANH_DAO_DUYET">
            <i class="icon htvbdh_tcdt_pheduyet"></i>
            <span>Ban hành</span>
          </button>
          <button class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="pheDuyet()"
            *ngIf="bienBanKetThucNhapKho.trangThai == globals.prop.DU_THAO_TRINH_DUYET">
            <i class="icon htvbdh_tcdt_pheduyet"></i>
            <span>Duyệt</span>
          </button>
          <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="tuChoi()"
            *ngIf="bienBanKetThucNhapKho.trangThai == globals.prop.LANH_DAO_DUYET || bienBanKetThucNhapKho.trangThai == globals.prop.DU_THAO_TRINH_DUYET ">
            <i class="icon htvbdh_tcdt_tuchoi"></i>
            <span>Từ chối</span>
          </a>
          <button class="btn btn-main btn-sm waves-effect waves-light" (click)="save()" *ngIf="isAction()">
            <i class="icon htvbdh_tcdt_save"></i>
            <span>Lưu</span>
          </button>
          <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="redirectbienBanKetThucNhapKho()">
            <i class="icon htvbdh_tcdt_delete"></i>
            <span>Quay về</span>
          </a>
        </div>
      </div>
    </div>
  </nz-affix>
  <div class="contentBor chi-tieu__body">
    <div class="contentDetail">
      <div class="main-content">
        <div class="title-chi-tieu">
          <span *ngIf="id === 0" class="du-thao-va-lanh-dao-duyet">
            Dự Thảo
          </span>
          <span *ngIf="id > 0"
            [ngClass]="thongTinTrangThai(bienBanKetThucNhapKho.trangThai)">{{bienBanKetThucNhapKho.tenTrangThai}}</span>
          <span class="title-form">Biên bản kết thúc nhập kho</span>
        </div>
        <form nz-form [formGroup]="formData" class="mt-16">
          <nz-card nzTitle="" class="mt-16 flex-card p-lr16">
            <div class="search__body" nz-row [nzGutter]="[18, 6]">
              <div nz-col nzSpan="4">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Số quyết định nhập
                  </nz-form-label>
                  <nz-select formControlName="qdgnvnxId" (ngModelChange)="changeSoQuyetDinh()"
                    [disabled]="bienBanKetThucNhapKho.trangThai == '01' || bienBanKetThucNhapKho.trangThai == '02' || bienBanKetThucNhapKho.trangThai == '04' || isView">
                    <nz-option *ngFor="let item of listSoQuyetDinh" [nzValue]="item.id" [nzLabel]="item.soQd">
                    </nz-option>
                  </nz-select>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="4">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Số biên bản chuẩn bị kho
                  </nz-form-label>
                  <nz-select formControlName="bbChuanBiKhoId"
                    [disabled]="bienBanKetThucNhapKho.trangThai == '01' || bienBanKetThucNhapKho.trangThai == '02' || bienBanKetThucNhapKho.trangThai == '04' || isView">
                    <nz-option *ngFor="let item of listBienBanChuanBiKho" [nzValue]="item.id"
                      [nzLabel]="item.soBienBan">
                    </nz-option>
                  </nz-select>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Đơn vị
                  </nz-form-label>
                  <input nz-input formControlName="donVi" />
                </nz-form-item>
              </div>
              <div nz-col nzSpan="2">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Mã QHNS
                  </nz-form-label>
                  <input nz-input formControlName="maQHNS" />
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Số biên bản
                  </nz-form-label>
                  <input nz-input formControlName="soBienBan" placeholder="Nhập số biên bản" [disabled]="!isAction()" />
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Ngày kết thúc kho
                  </nz-form-label>
                  <nz-date-picker class="search__input" nzFormat="yyyy-MM-dd" nzPlaceHolder="Ngày nhập đầy kho"
                    formControlName="ngayKetThucKho" [disabled]="!isAction()">
                  </nz-date-picker>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Thủ trưởng đơn vị
                  </nz-form-label>
                  <input nz-input formControlName="thuTruongDonVi" placeholder="Nhập tên thủ trưởng"
                    [disabled]="!isAction()" />
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Kế toán đơn vị
                  </nz-form-label>
                  <input nz-input formControlName="keToanDonVi" placeholder="Nhập tên kế toán đơn vị"
                    [disabled]="!isAction()" />
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Kỹ thuật viên bảo quản
                  </nz-form-label>
                  <input nz-input formControlName="kyThuatVienBaoQuan" placeholder="Nhập tên kỹ thuật viên"
                    [disabled]="!isAction()" />
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Thủ kho
                  </nz-form-label>
                  <input nz-input placeholder="Nhập tên thủ kho" formControlName="thuKho" />
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Theo hợp đồng số
                  </nz-form-label>
                  <nz-select formControlName="soHdId" (ngModelChange)="changeHopDong()"
                    [disabled]="detail.trangThai == '01' || detail.trangThai == '02' || detail.trangThai == '04' || isView">
                    <nz-option *ngFor="let item of listHopDong" [nzValue]="item.hopDong.id"
                      [nzLabel]="item.hopDong.soHd">
                    </nz-option>
                  </nz-select>
                </nz-form-item>
              </div>
            </div>
          </nz-card>
          <nz-card nzTitle="" class="mt-16 flex-card p-lr16">
            <div class="search__body" nz-row [nzGutter]="[18, 6]">
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Loại hàng hóa</nz-form-label>
                  <nz-input-group nzAddOnAfterIcon="folder-open">
                    <input class="search__input" [readonly]="true" nz-input formControlName="loaiHangHoa"
                      readonly="true" />
                  </nz-input-group>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true"> Chủng loại hàng hóa</nz-form-label>
                  <nz-input-group nzAddOnAfterIcon="folder-open">
                    <input class="search__input" [readonly]="true" nz-input formControlName="chungLoaiHang"
                      readonly="true" />
                  </nz-input-group>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Điểm kho
                  </nz-form-label>
                  <nz-select formControlName="diemKho" (ngModelChange)="changeDiemKho(false)"
                    [disabled]="bienBanKetThucNhapKho.trangThai == '01' || bienBanKetThucNhapKho.trangThai == '02' || bienBanKetThucNhapKho.trangThai == '04' || isView">
                    <nz-option *ngFor="let item of listDiemKho" [nzValue]="item.key" [nzLabel]="item.title">
                    </nz-option>
                  </nz-select>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Nhà kho
                  </nz-form-label>
                  <nz-select formControlName="nhaKho" (ngModelChange)="changeNhaKho(false)"
                    [disabled]="bienBanKetThucNhapKho.trangThai == '01' || bienBanKetThucNhapKho.trangThai == '02' || bienBanKetThucNhapKho.trangThai == '04' || isView">
                    <nz-option *ngFor="let item of listNhaKho" [nzValue]="item.key" [nzLabel]="item.title">
                    </nz-option>
                  </nz-select>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Ngăn kho
                  </nz-form-label>
                  <nz-select formControlName="nganKho" (ngModelChange)="changeNganKho()"
                    [disabled]="bienBanKetThucNhapKho.trangThai == '01' || bienBanKetThucNhapKho.trangThai == '02' || bienBanKetThucNhapKho.trangThai == '04' || isView">
                    <nz-option *ngFor="let item of listNganKho" [nzValue]="item.key" [nzLabel]="item.title">
                    </nz-option>
                  </nz-select>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Lô kho
                  </nz-form-label>
                  <nz-select formControlName="loKho" (ngModelChange)="changeLoKho()"
                    [disabled]="bienBanKetThucNhapKho.trangThai == '01' || bienBanKetThucNhapKho.trangThai == '02' || bienBanKetThucNhapKho.trangThai == '04' || isView">
                    <nz-option *ngFor="let item of listNganLo" [nzValue]="item.key" [nzLabel]="item.title">
                    </nz-option>
                  </nz-select>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Ngày bắt đầu nhập
                  </nz-form-label>
                  <nz-date-picker class="search__input" nzFormat="yyyy-MM-dd" nzPlaceHolder="Ngày bắt đầu nhập"
                    formControlName="ngayBatDauNhap" [nzDisabledDate]="disabledStartDate" [disabled]="!isAction()">
                  </nz-date-picker>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzNoColon]="true">
                    Ngày kết thúc nhập
                  </nz-form-label>
                  <nz-date-picker class="search__input" nzFormat="yyyy-MM-dd" nzPlaceHolder="Ngày kết thúc nhập"
                    formControlName="ngayKetThucNhap" [nzDisabledDate]="disabledEndDate" [disabled]="!isAction()">
                  </nz-date-picker>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="24" class="bien-ban-day-kho">
                <nz-table #basicTable class="mt-16 table__body" #bbNhapDayKhoDetail nzBordered
                  [nzData]="ketQuaNhapKhoList" [nzFrontPagination]="false" [nzShowPagination]="false">
                  <thead>
                    <tr>
                      <th rowSpan="2" class="text-center">STT <br> (A)</th>
                      <th colspan="3" class="text-center">KẾT QUẢ NHẬP KHO</th>
                      <th rowspan="2" class="text-center">GHI CHÚ <br> (A)</th>
                    </tr>
                    <tr>
                      <th class="text-center"> SỐ LƯỢNG <br>
                        (1)</th>
                      <th class="text-center"> ĐƠN GIÁ <br>
                        (2)</th>
                      <th class="text-center"> THÀNH TIỀN <br>
                        (3) = (1)x(2)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of ketQuaNhapKhoList, let i = index">
                      <td>
                        {{i+1}}
                      </td>
                      <td>
                        {{item.tongSoLuong}}
                      <td>
                        {{item.donGia}}
                      </td>
                      <td>
                        {{item.thanhTien}}
                      </td>
                      <td>

                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
            <div class="comment-last" nz-row [nzGutter]="[18, 6]">
              <div nz-col nzSpan="24" class="text-summary">File đính kèm khác</div>
              <div nz-col nzSpan="24">
                <file-list [data]="listFileDinhKem" [isViewDetail]="isView"></file-list>
              </div>
            </div>
          </nz-card>
        </form>
      </div>
    </div>
  </div>
</div>