<ng-container *ngIf="!isAddNew; else LtView">
  <div class="bg-trang">
    <nz-card class="mt16 flex-card p-lr16">
      <form [nzLayout]="'vertical'" nz-form [formGroup]="formData">
        <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="2">
            <nz-form-item class="form-item">
              <nz-form-label nzFor="nam-qd">Năm kế hoạch</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="namKeHoach" id="nam-kh">
                  <nz-option nzValue="{{item}}" nzLabel="{{item}}" *ngFor="let item of dsNam">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="5">
            <nz-form-item class="form-item">
              <nz-form-label nzFor="so-qd">Số quyết định</nz-form-label>
              <nz-form-control>
                <nz-input-group id="so-qd">
                  <input type="text" nz-input formControlName="soQd" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item class="form-item">
              <nz-form-label nzFor="trich-yeu">Trích yếu</nz-form-label>
              <nz-form-control>
                <nz-input-group id="trich-yeu">
                  <input type="text" nz-input formControlName="trichYeu" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="5">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true" nzFor="ngay-qd"> Ngày ký
              </nz-form-label>
              <div nz-row>
                <div nz-col nzSpan="11">
                  <nz-date-picker nzPlaceHolder="Ngày ký từ" formControlName="ngayKyTu"
                                  nzFormat="dd/MM/yyyy" class="search__input"></nz-date-picker>
                </div>
                <div nz-col nzSpan="1">
                </div>
                <div nz-col nzSpan="11">
                  <nz-date-picker nzPlaceHolder="Ngày ký đến" formControlName="ngayKyDen"
                                  nzFormat="dd/MM/yyyy" class="search__input"></nz-date-picker>
                </div>
              </div>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="4">
            <nz-form-item class="form-item">
              <nz-form-label>Loại quyết định</nz-form-label>
              <nz-form-control>
                <nz-select nzAllowClear formControlName="loaiDeXuat" >
                  <nz-option *ngFor="let item of listLoaiDx" [nzValue]="item.ma"
                             [nzLabel]="item.giaTri"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
      <div class="cangiua group-button-search">
        <button nz-button class="search__button--clear" (click)="clearFilter()">
          <i class="icon  htvbdh_nhap-lai1"></i>
          Xóa điều kiện
        </button>
        <button nz-button class="search__button--search" (click)="search()">
          <i nz-icon nzType="search"></i>
          Tìm kiếm
        </button>
      </div>
    </nz-card>
    <div class="group-button">
      <h3>Danh sách quyết định của BTC</h3>
      <div class="buttons">
        <button type="button" class="btn btn-sub btn-xoa" (click)="deleteSelected()"
                *ngIf="(pagType == 'LT' && userService.isAccessPermisson('KHVDTNSNN_PAGIA_LT_MTDBTT_QD_XOA'))
                 || (pagType == 'VT' && userService.isAccessPermisson('KHVDTNSNN_PAGIA_VT_MTDBTT_QD_XOA')) ">
          <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
          <span>Xóa</span>
        </button>
        <button type="button" class="btn btn-sub"
                *ngIf="(pagType == 'LT' && userService.isAccessPermisson('KHVDTNSNN_PAGIA_LT_MTDBTT_QD_EXP'))
                 || (pagType == 'VT' && userService.isAccessPermisson('KHVDTNSNN_PAGIA_VT_MTDBTT_QD_EXP')) "
                (click)="exportData()">
          <i class="icon htvbdh_chuyen-xu-ly"></i>
          <span>Xuất file</span>
        </button>
        <button type="button" class="btn btn-sub xanh"
                *ngIf="(pagType == 'LT' && userService.isAccessPermisson('KHVDTNSNN_PAGIA_LT_MTDBTT_QD_THEM'))
                 || (pagType == 'VT' && userService.isAccessPermisson('KHVDTNSNN_PAGIA_VT_MTDBTT_QD_THEM')) "
                (click)="themMoi()">
          <i class="icon htvbdh_dau-cong"></i>
          <span>Thêm</span>
        </button>
      </div>
    </div>
    <nz-card class="mt-2px flex-card data-table card-border-content" table-card>
      <nz-table #rowSelectionTable class="nowrap" nzBordered [nzData]="dataTable" [nzFrontPagination]="false"
        [nzShowPagination]="false">
        <thead>
          <tr class="header-row">
            <th style="width:1%;">
              <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
                [nzIndeterminate]="indeterminate"></label>
            </th>
            <th class="text-center" nzWidth="45px" >STT</th>
            <th class="text-center" nzWidth="90px" >Năm kế hoạch</th>
            <th class="text-center" nzWidth="120px" >Số quyết định</th>
            <th class="text-center" nzWidth="120px" >Ngày ký</th>
            <th class="text-center" >Trích yếu</th>
            <th class="text-center" nzWidth="150px" >Loại giá</th>
            <th class="text-center" nzWidth="150px" *ngIf="pagType == 'LT'" >Loại hàng DTQG</th>
            <th class="text-center" nzWidth="150px">Số quyết định cần điều chỉnh</th>
            <th class="text-center" nzWidth="120px" >Trạng thái</th>
            <th class="text-center" nzWidth="100px" >Hành động</th>
          </tr>
          <tr class="header-row search">
            <th></th>
            <th></th>
            <th>
              <nz-input-group>
                <nz-select nzAllowClear [(ngModel)]="filterTable.namKeHoach"
                           (ngModelChange)="filterInTable('namKeHoach',filterTable.namKeHoach)">
                  <nz-option *ngFor="let p of dsNam" [nzValue]="p" [nzLabel]="p"></nz-option>
                </nz-select>
              </nz-input-group>
            </th>
            <th>
              <nz-input-group >
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soQd"
                  (input)="filterInTable('soQd',filterTable.soQd)" size="small" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group>
                <nz-date-picker  nzFormat="dd/MM/yyyy" nzPlaceHolder="Ngày ký"
                                 [(ngModel)]="filterTable.ngayKy"
                                 (ngModelChange)="filterInTable('ngayKy', convertDateToString(filterTable.ngayKy))"
                ></nz-date-picker>
              </nz-input-group>
            </th>
            <th>
              <nz-input-group >
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.trichYeu"
                  (input)="filterInTable('trichYeu',filterTable.trichYeu)" size="small" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group>
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tenLoaiGia"
                       (input)="filterInTable('tenLoaiGia',filterTable.tenLoaiGia)" size="small" />
              </nz-input-group>
            </th>
            <th *ngIf="pagType == 'LT'">
              <nz-input-group >
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tenLoaiVthh"
                  (input)="filterInTable('tenLoaiVthh',filterTable.tenLoaiVthh)" size="small" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group>
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soQdDc"
                       (input)="filterInTable('tenLoaiGia',filterTable.tenLoaiGia)" size="small" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group>
                <nz-select nzAllowClear nzPlaceHolder="Tìm kiếm" [(ngModel)]="filterTable.trangThai"
                           (ngModelChange)="filterInTable('trangThai',filterTable.trangThai)">
                  <nz-option *ngFor="let p of listTrangThai" [nzValue]="p.ma" [nzLabel]="p.giaTri"></nz-option>
                </nz-select>
              </nz-input-group>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rowSelectionTable.data; let idx = index">
            <th width="45px">
              <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="updateSingleChecked()"
                [nzDisabled]="data.trangThai != '00'"></label>
            </th>
            <td class="text-center">{{(page - 1) * pageSize + idx + 1}}</td>
            <td>{{ data.namKeHoach }}</td>
            <td>{{ data.soQd }}</td>
            <td>{{ data.ngayKy | date: 'dd/MM/YYYY' }}</td>
            <td>{{ data.trichYeu }}</td>
            <td>{{ data.tenLoaiGia }}</td>
            <td *ngIf="pagType == 'LT'">{{ data.tenLoaiVthh }}</td>
            <td>{{ data.soQdDc }}</td>
            <td>{{ data.tenTrangThai }}</td>
            <td>
              <a (click)="viewDetail(data.id, true,data.trangThai)"
                 *ngIf="((pagType == 'LT' && userService.isAccessPermisson('KHVDTNSNN_PAGIA_LT_MTDBTT_QD_XEM'))
                 || (pagType == 'VT' && userService.isAccessPermisson('KHVDTNSNN_PAGIA_VT_MTDBTT_QD_XEM'))) && !(data.trangThai == STATUS.DU_THAO && (userInfo.MA_DVI == data.maDvi)) ">
                <i class="fa fa-eye" title="Xem chi tiết"></i>
              </a>
              <a  (click)="viewDetail(data.id, false,data.trangThai)"
                  *ngIf="data.trangThai == STATUS.DU_THAO && ((pagType == 'LT' && userService.isAccessPermisson('KHVDTNSNN_PAGIA_LT_MTDBTT_QD_THEM'))
                 || (pagType == 'VT' && userService.isAccessPermisson('KHVDTNSNN_PAGIA_VT_MTDBTT_QD_THEM'))) ">
                <i class="fa fa-pencil" title="Sửa"></i>
              </a>
              <a *ngIf="data.trangThai == STATUS.DU_THAO  && ((pagType == 'LT' && userService.isAccessPermisson('KHVDTNSNN_PAGIA_LT_MTDBTT_QD_XOA'))
                 || (pagType == 'VT' && userService.isAccessPermisson('KHVDTNSNN_PAGIA_VT_MTDBTT_QD_XOA'))) "
                 (click)="deleteItem(data)">
                <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div class="tab-content tab-menu" id="myTabContent">
        <div class="tab-pane fade show active justify-content-between">
          <div class="trai">
          </div>
          <div class="canphai">
            <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord" nzShowSizeChanger
              [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="changePageIndex($event)"
              (nzPageSizeChange)="changePageSize($event)">
              <ng-template #rangeTemplate let-range="range" let-total>
                {{ range[0] }}-{{ range[1] }} trên tổng số {{ total }} bản ghi
              </ng-template>
            </nz-pagination>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</ng-container>
<ng-template #LtView>
  <app-them-quyet-dinh-gia-btc-lt *ngIf="pagType == 'LT';else VtView"  [type]="type" [isView]="isViewDetail" [pagType]="pagType"
     [idInput]="idSelected" (onClose)="onClose()">
  </app-them-quyet-dinh-gia-btc-lt>
</ng-template>
<ng-template #VtView>
  <app-them-quyet-dinh-gia-btc-vt  [isView]="isViewDetail" [pagType]="pagType" [type]="type" [idInput]="idSelected"
    (onClose)="onClose()">
  </app-them-quyet-dinh-gia-btc-vt>
</ng-template>
