@import '../../../../assets/scss/tab-content.scss';

.text-green {
  color: #8BC34C;
  font-weight: 500;
  font-size: 12px;
}

.text-blue {
  color: #001CFF !important;
  font-weight: bold;
  background-color: #ededed;
}

.bg-selected td {
  background-color: #ebedff;
}

.title-card {
  width: 100%;

  &>* {
    display: inline;
  }

  button {
    float: right;
  }
}

:host ::ng-deep .ant-statistic-title {
  font-weight: bolder;
}

:host ::ng-deep .ant-statistic-content {
  color: #001CFF;
  font-size: 18px;
}

:host ::ng-deep .ant-statistic-content {
  color: #001CFF;
  font-size: 18px;
}

:host ::ng-deep .red-value .ant-statistic-content {
  color: #ff7a7b !important;
}

:host ::ng-deep .ant-descriptions-item-content {
  background: #ffffff;
  color: #001CFF;
  font-size: 18px;
}

:host ::ng-deep .ant-descriptions-item-container .ant-descriptions-item-label {
  margin-left: 4px;
  min-width: 120px;
  text-align: left;
  display: block;
  font-weight: bold;
}

::ng-deep .ant-modal-header,
::ng-deep .ant-modal-footer {
  background-color: #f3f3f3;
}

::ng-deep .ant-modal-body {
  padding-top: 10px;
}

.modal-card ::ng-deep .ant-card {
  border: none;

  .ant-card-head {
    border-left: 1px double grey;
    font-weight: bolder;
  }

  .ant-card-foot {
    border-left: 1px double grey;
    font-weight: bolder;
  }

  .ant-card-body {
    padding: 10px 10px 10px 10px;
  }

  .ant-card-head-title {
    color: grey;
  }
}

::ng-deep .ant-btn-primary {
  background-color: #353a64;
}

::ng-deep {
  .xuat_ctvt_xc {
    .chi-tiet {
      position: relative;
    }

    .btn-affix>div {
      margin-top: 0 !important;
    }

    .btn-affix {
      position: absolute !important;
      right: 0;
      top: -37px;
    }
  }

  .level0 .ant-menu-horizontal,
  .ant-affix,
  .fix.collapse>div.ant-affix .nav-tabs li span,
  .fix.collapse>div.ant-affix .nav-tabs,
  .fix.collapse>div.ant-affix .nav-tabs li {
    transition: all .2s;
  }
}