<!-- duongvd 230223-->
<!-- menu xuat cuu tro, vien tro -->

<nz-affix [nzOffsetTop]="globals.prop.MENU_LV0" class="level0">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item [nzSelected]="tabSelected == 0" (click)="selectTab(0)"
      *ngIf="userService.isAccessPermisson('XHDTQG_XCTVTXC_CTVT')">
      Xuất cứu trợ, viện trợ
    </li>
    <li nz-menu-item [nzSelected]="tabSelected == 1" (click)="selectTab(1)"
      *ngIf="userService.isAccessPermisson('XHDTQG_XCTVTXC_XC')">
      Xuất thóc gia công
    </li>
  </ul>
</nz-affix>
<div class="contentBor chi-tieu__body giao-ke-hoach xuat_ctvt_xc">
  <div class="contentDetail">
    <ng-container *ngIf="tabSelected == 0">
      <app-cuu-tro-vien-tro [defaultTab]=defaultTabCtvt></app-cuu-tro-vien-tro>
    </ng-container>
    <ng-container *ngIf="tabSelected == 1">
      <app-xuat-cap [defaultTab]=defaultTabXc></app-xuat-cap>
    </ng-container>
  </div>
</div>