<div class="modal__content">
    <div class="search__body" nz-row [nzGutter]="[18, 12]">
        <ng-container *ngIf="obj.namBcao">
            <div nz-col nzSpan="6">
                <label class="search__label">Năm báo cáo</label>
                <nz-input-number class="search__input" [nzSize]="'small'" [nzMin]="0" [(ngModel)]="response.namBcao"
                    [class]="response.namBcao && response.namBcao < 3000 && response.namBcao > 999 ? '' : 'input-error-validate' ">
                </nz-input-number>
            </div>
        </ng-container>
        <ng-container *ngIf="obj.qdChiTieu">
            <div nz-col nzSpan="6">
                <label class="search__label">Quyết định chỉ tiêu</label>
                <input class="search__input" nz-input [class]="response.qdChiTieu ?'' : 'input-error-validate'"
                    [(ngModel)]="response.qdChiTieu" />
            </div>
        </ng-container>
        <ng-container *ngIf="obj.maCvUv">
            <div nz-col nzSpan="6">
                <label class="search__label">Mã cấp ứng vốn nhận từ cấp trên</label>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn mã cấp ứng vốn" [(ngModel)]="response.maCvUv"
                    [class]="response.maCvUv ?'' : 'input-error-validate'">
                    <nz-option *ngFor="let item of danhSach" [nzValue]="item.maCapUngVonTuCapTren"
                        [nzLabel]="item.maCapUngVonTuCapTren">
                    </nz-option>
                </nz-select>
            </div>
        </ng-container>
        <ng-container *ngIf="obj.khachHang">
            <div nz-col nzSpan="6">
                <label class="search__label">Khách hàng</label>
                <input class="search__input" nz-input [class]="response.khachHang ?'' : 'input-error-validate'"
                    [(ngModel)]="response.khachHang" />
            </div>
        </ng-container>
        <ng-container *ngIf="obj.maCvUvBtc">
            <div nz-col nzSpan="6">
                <label class="search__label">Mã cấp ứng vốn nhận từ cấp trên</label>
                <input class="search__input" nz-input [class]="response.maCvUvBtc ?'' : 'input-error-validate'"
                    [(ngModel)]="response.maCvUvBtc" />
            </div>
        </ng-container>
        <ng-container *ngIf="obj.loaiVon">
            <div nz-col nzSpan="6">
                <label class="search__label">Loại</label>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn loại vốn" [(ngModel)]="response.loaiVon"
                    [class]="response.loaiVon ?'' : 'input-error-validate'">
                    <nz-option *ngFor="let item of loaiVons" [nzValue]="item.id" [nzLabel]="item.tenDm">
                    </nz-option>
                </nz-select>
            </div>
        </ng-container>
        <ng-container *ngIf="obj.soLenhChiTien">
            <div nz-col nzSpan="6">
                <label class="search__label">Số lệnh chi tiền</label>
                <input class="search__input" nz-input [class]="response.soLenhChiTien ?'' : 'input-error-validate'"
                    [(ngModel)]="response.soLenhChiTien" />
            </div>
        </ng-container>
        <ng-container *ngIf="obj.ngayLap">
            <div nz-col nzSpan="6">
                <label class="search__label">Ngày lập</label>
                <nz-date-picker class="search__input" [(ngModel)]="response.ngayLap" nzFormat="dd/MM/yyyy"
                    [class]="response.ngayLap ?'' : 'input-error-validate'">
                </nz-date-picker>
            </div>
        </ng-container>
    </div>
</div>
<div class="modal-footer">
    <div class="nut">
        <div class="cantrai">
        </div>
        <div class="canphai">
            <button nz-button (click)="handleOk()" class="modal__button--save">
                <i class="icon htvbdh_tcdt_save"></i>
                Copy
            </button>
            <button nz-button (click)="handleCancel()" class="modal__button--cancel">
                <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
                Đóng
            </button>
        </div>
    </div>
</div>