<nz-affix [nzOffsetTop]="globals.prop.MENU_LV2" class="btn-affix">
    <div class="btn-group">
        <a type="button" class="btn btn-sub" (click)="back()">
            <i class="fa fa-arrow-left"></i>
            <span>Quay lại</span>
        </a>
        <button type="button" class="btn btn-sub" (click)="print()">
            <i class="icon htvbdh_tcdt_print"></i>
            <span>In</span>
        </button>
        <button type="button" class="btn btn-sub" *ngIf="!isDisableField() && !isView" (click)="guiDuyet()">
            <i class="icon htvbdh_tcdt_guiduyet"></i>
            <span>Lưu và gửi duyệt</span>
        </button>
        <button type="button" class="btn btn-sub" *ngIf="detail.trangThai == globals.prop.NHAP_CHO_DUYET_TP || detail.trangThai == globals.prop.NHAP_CHO_DUYET_LD_CHI_CUC
        && userService.isAccessPermisson('NHDTQG_PTDT_KTCL_VT_HSKT_DUYET')" (click)="pheDuyet()">
            <i class="icon htvbdh_tcdt_pheduyet"></i>
            <span>Duyệt</span>
        </button>
        <a type="button" class="btn btn-sub"
            *ngIf="detail.trangThai == globals.prop.NHAP_CHO_DUYET_TP || detail.trangThai == globals.prop.NHAP_CHO_DUYET_LD_CHI_CUC"
            (click)="tuChoi()">
            <i class="icon htvbdh_tcdt_tuchoi do"></i>
            <span>Từ chối</span>
        </a>
        <button type="button" class="btn btn-sub" *ngIf="!isDisableField() && !isView" (click)="save(false)">
            <i class="icon  htvbdh_tcdt_save"></i>
            <span>Lưu</span>
        </button>
    </div>
</nz-affix>

<div class="bg-trang">
    <nz-card nzTitle="" class="flex-card p-lr16">
        <div class="header header-green-background">
            <div class="header-text">
                <div class="title-chi-tieu">
                    <span [ngClass]="formData.value.trangThai == STATUS.DA_DUYET_LDC ? 'status-xanh' : 'status-do'">
                        {{ formData.value.tenTrangThai }}
                    </span>
                    <span>Đề xuất kế hoạch mua trực tiếp</span>
                </div>
            </div>
        </div>
        <nz-alert class="mg-t-10"
            *ngIf="formData.value.trangThai == STATUS.TU_CHOI_LDC || formData.value.trangThai == STATUS.TU_CHOI_TP "
            nzShowIcon nzType="error" nzMessage="Lý do từ chối" nzDescription="{{formData.value.ldoTuchoi}}">
        </nz-alert>

        <!--Thông tin chung-->
        <nz-card class="mg-t-16 flex-card p-lr16">
            <div class="header header-green-background mg-t-16">
                <div class="header-text">
                    <div class="title-chi-tieu">
                        <span></span>
                        <span>Thông tin chung</span>
                    </div>
                </div>
            </div>
            <form nzLayout="vertical" nz-form [formGroup]="formData">
                <div nz-row [nzGutter]="[24]">
                    <div nz-col [nzSpan]="3">
                        <nz-form-item>
                            <nz-form-label nzRequired [nzNoColon]="true">Số hồ sơ kỹ thuật</nz-form-label>
                            <nz-form-control [nzErrorTip]="error">
                                <nz-input-group>
                                    <nz-input-number formControlName="" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                                        [nzSize]="'small'" nz-input readonly formControlName="">
                                    </nz-input-number>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="3">
                        <nz-form-item>
                            <nz-form-label nzRequired [nzNoColon]="true"> Số biên bàn lấy mẫu/Bàn giao mẫu
                            </nz-form-label>
                            <nz-form-control [nzErrorTip]="error">
                                <nz-select formControlName="">
                                    <nz-option [nzValue]="" [nzLabel]="">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="3">
                        <nz-form-item>
                            <nz-form-label nzRequired [nzNoColon]="true"> Số QĐ giao nhiệm vụ nhập hàng
                            </nz-form-label>
                            <nz-form-control [nzErrorTip]="error">
                                <input nz-input readonly formControlName="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="3">
                        <nz-form-item>
                            <nz-form-label nzRequired [nzNoColon]="true">Số hợp đồng</nz-form-label>
                            <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
                                <input nz-input readonly formControlName="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="3">
                        <nz-form-item>
                            <nz-form-label [nzNoColon]="true"> Đơn vị nhập hồ sơ kỹ thuật </nz-form-label>
                            <nz-form-control nz-col [nzSpan]="24">
                                <input placeholder="" nz-input formControlName="trichYeu"
                                    [readonly]="formData.value.trangThai !== globals.prop.NHAP_DU_THAO && formData.value.trangThai !== globals.prop.NHAP_CHO_DUYET_LD_CUC && formData.value.trangThai !== ''" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="3">
                        <nz-form-item>
                            <nz-form-label nzRequired [nzNoColon]="true"> Ngày tạo hồ sơ kỹ thuật </nz-form-label>
                            <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
                                <nz-date-picker nzDisabled formControlName="ngayTao" nzFormat="dd/MM/yyyy">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="3">
                        <nz-form-item>
                            <nz-form-label [nzNoColon]="true">Trạng thái</nz-form-label>
                            <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
                                <nz-select formControlName="" [nzDisabled]="true">
                                    <nz-option [nzValue]="" [nzLabel]=""></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-card>
        <!--End thông tin chung-->

        <div class="header header-green-background mg-t-16">
            <div class="header-text">
                <div class="title-chi-tieu">
                    <span></span>
                    <span>Danh sách hồ sơ tài liệu</span>
                </div>
            </div>
        </div>
        <nz-table [nzData]="" class="nowrap pd-10" nzBordered>
            <thead>
                <tr>
                    <th width="60px" class="text-center">STT</th>
                    <th width="">Tên hồ sơ tài liệu</th>
                    <th width="100px">Loại tài liệu</th>
                    <th width="100px">Số lượng </th>
                    <th width="">Ghi chú</th>
                    <th width="">File đính kèm</th>
                    <th style="width: 50px;">Hành động</th>
                </tr>
                <tr class="search-table">
                    <th></th>
                    <th>
                        <nz-input-group>
                            <input type="text" nz-input placeholder="Tìm kiếm" ngDefaultControl size="small" />
                        </nz-input-group>
                    </th>
                    <th>
                        <nz-input-group>
                            <input type="text" nz-input placeholder="Tìm kiếm" ngDefaultControl size="small" />
                        </nz-input-group>
                    </th>
                    <th>
                        <nz-input-group>
                            <input type="text" nz-input placeholder="Tìm kiếm" ngDefaultControl size="small" />
                        </nz-input-group>
                    </th>
                    <th>
                        <nz-input-group>
                            <input type="text" nz-input placeholder="Tìm kiếm" ngDefaultControl size="small" />
                        </nz-input-group>
                    </th>
                    <th>
                        <nz-input-group>
                            <input type="text" nz-input placeholder="Tìm kiếm" ngDefaultControl size="small" />
                        </nz-input-group>
                    </th>

                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>

                <ng-container>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                            <a>
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a>
                                <i class="fa fa-trash-o do"></i>
                            </a>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
        <div class="tab-content tab-menu" id="myTabContent">
            <div class="tab-pane fade show active justify-content-between">
                <div class="trai">
                </div>
                <div class="canphai">
                    <!-- begin phân trang  -->
                    <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord"
                        nzShowSizeChanger [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate">
                        <ng-template #rangeTemplate let-range="range" let-total>
                            {{ range[0] }}-{{ range[1] }} of {{ total }} items
                        </ng-template>
                    </nz-pagination>
                    <!-- end phân trang  -->
                </div>
            </div>
        </div>

        <div class="header header-green-background mg-t-16">
            <div class="header-text">
                <div class="title-chi-tieu">
                    <span></span>
                    <span>Danh sách biên bản</span>
                </div>
            </div>
        </div>
        <nz-table [nzData]="" class="nowrap pd-10" nzBordered>
            <thead>
                <tr>
                    <th width="60px" class="text-center">STT</th>
                    <th width="">Tên biên bản</th>
                    <th width="100px">Trang thái</th>
                    <th width="">File đính kèm </th>
                    <th style="width: 50px;">Hành động</th>
                </tr>

            </thead>
            <tbody>

                <ng-container>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                            <a>
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a>
                                <i class="fa fa-trash-o do"></i>
                            </a>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
        <div class="tab-content tab-menu" id="myTabContent">
            <div class="tab-pane fade show active justify-content-between">
                <div class="trai">
                </div>
                <div class="canphai">
                    <!-- begin phân trang  -->
                    <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord"
                        nzShowSizeChanger [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate">
                        <ng-template #rangeTemplate let-range="range" let-total>
                            {{ range[0] }}-{{ range[1] }} of {{ total }} items
                        </ng-template>
                    </nz-pagination>
                    <!-- end phân trang  -->
                </div>
            </div>
        </div>
    </nz-card>

    <ng-template #error let-control>
        <app-template-error #error [control]="control"></app-template-error>
    </ng-template>
</div>