<nz-affix [nzOffsetTop]="globals.prop.MENU_LV0" class="level0">
    <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzSelected (click)="selectTab(0)" *ngIf="!userService.isChiCuc()">
            Kế hoạch bán trực tiếp
        </li>
        <li nz-menu-item (click)="selectTab(1)"
            *ngIf="!userService.isChiCuc() && userService.isAccessPermisson('XHDTQG_PTDG_TCKHBDG')">
            Tổ chức triển khai KH bán trực tiếp
        </li>
        <li nz-menu-item (click)="selectTab(2)" *ngIf="!userService.isChiCuc()">
            Điều chỉnh KH bán trực tiếp
        </li>
        <li nz-menu-item (click)="selectTab(3)">
            Hợp đồng/Bảng kê, phiếu bán hàng
        </li>
        <li nz-menu-item (click)="selectTab(4)" *ngIf="!userService.isTongCuc()">
            Quyết định giao nhiệm vụ xuất hàng
        </li>
    </ul>
</nz-affix>
<div class="contentBor chi-tieu__body giao-ke-hoach">
    <div class="contentDetail">
        <ng-container *ngIf="tabSelected == 0">
            <app-ke-hoach-ban-truc-tiep></app-ke-hoach-ban-truc-tiep>
        </ng-container>
    </div>
    <ng-container *ngIf="tabSelected == 1">
        <app-to-chuc-trien-khai-ban-truc-tiep></app-to-chuc-trien-khai-ban-truc-tiep>
    </ng-container>
    <ng-container *ngIf="tabSelected == 2">
        <app-dieu-chinh-kh-ban-truc-tiep></app-dieu-chinh-kh-ban-truc-tiep>
    </ng-container>
    <ng-container *ngIf="tabSelected == 3">
        <app-hop-dong-btt></app-hop-dong-btt>
    </ng-container>
    <ng-container *ngIf="tabSelected == 4">
        <app-giao-nv-xuat-hang-btt></app-giao-nv-xuat-hang-btt>
    </ng-container>
</div>