.cus-start-date.ant-col {
  padding-right: 0 !important;
}

.cus-end-date.ant-col {
  padding-left: 0 !important;
}

::ng-deep .ant-modal-body {
  overflow: scroll;
}

::ng-deep .ant-select-selection-placeholder {
  color: #999;
  opacity: 70%;
}
