<script src="thong-tin-quyet-dinh-uy-quyen-ban-le.component.ts"></script>
<nz-affix [nzOffsetTop]="globals.prop.MENU_LV2" class="btn-affix">
  <div class="btn-group">
    <button type="button" class="btn btn-sub" (click)="goBack()">
      <i class="fa fa-arrow-left"></i>
      <span>Quay lại</span>
    </button>
    <button class="btn btn-main btn-sm waves-effect waves-light" *ngIf="formData.value.pthucBanTrucTiep == '02'">
      <i class=" icon htvbdh_dau-cong"></i>
      <span>Thêm Hợp đồng</span>
    </button>
    <button class="btn btn-main btn-sm waves-effect waves-light" (click)="themMoiBangKeBanLe($event)"
            *ngIf="formData.value.pthucBanTrucTiep == '03'">
      <i class=" icon htvbdh_dau-cong"></i>
      <span>Thêm bảng kê</span>
    </button>
  </div>
</nz-affix>
<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
                <span [ngClass]="formData.value.trangThai == STATUS.BAN_HANH ? 'status-xanh' : 'status-do'">
                    {{ formData.value.tenTrangThai }}
                </span>
        <span>QUYẾT ĐỊNH PHÊ DUYỆT KẾ HOẠCH BÁN TRỰC TIẾP</span>
      </div>
    </div>
  </div>
  <nz-card class="mt16 flex-card p-lr16">
    <form nzLayout="vertical" nz-form [formGroup]="formData">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="3">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">Năm kế hoạch</nz-form-label>
            <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
              <nz-select formControlName="namKh" [nzDisabled]="true">
                <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="5">
          <nz-form-item>
            <nz-form-label nzRequired [nzNoColon]="true"> Số quyết định</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group nzAddOnAfter="/{{maQd}}">
                <nz-input-number formControlName="soQdPd" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                                 [nzSize]="'small'" [nzDisabled]="true">
                </nz-input-number>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"> Ngày ký</nz-form-label>
            <nz-form-control>
              <nz-input-group>
                <nz-date-picker nzFormat="dd/MM/yyyy" nz-input [nzDisabled]="true"
                                formControlName="ngayKyQd"></nz-date-picker>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"> Ngày hiệu lực</nz-form-label>
            <nz-form-control>
              <nz-input-group>
                <nz-date-picker nzFormat="dd/MM/yyyy" nz-input [nzDisabled]="true"
                                formControlName="ngayHluc"></nz-date-picker>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"> Loại hàng hóa</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group nzAddOnAfterIcon="folder-open">
                <input [readonly]="true" nz-input formControlName="tenLoaiVthh" readonly="true"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"> Phương thức bán trực tiếp
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-select formControlName="pthucBanTrucTiep" [nzDisabled]="true">
                <nz-option *ngFor="let p of listPthucBanTt" [nzValue]="p.ma" [nzLabel]="p.giaTri">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"> Trích yếu</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="trichYeu" [readonly]="true"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired [nzNoColon]="true"> Thời gian đề xuất bán trực tiếp
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-range-picker formControlName="thoiGianDeXuatBtt" nzFormat="dd/MM/yyyy" nzDisabled>
              </nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired [nzNoColon]="true"> Thời gian phê duyệt bán trực tiếp
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-range-picker formControlName="thoiGianPdBtt" nzFormat="dd/MM/yyyy" nzDisabled>
              </nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired [nzNoColon]="true"> Đơn giá thị trường</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-range-picker formControlName="donGiaThiTruong" nzFormat="dd/MM/yyyy" nzDisabled>
              </nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24" *ngIf="formData.value.pthucBanTrucTiep == '02'">
          <nz-form-item nz-col class="form-item">
            <nz-form-label [nzNoColon]="true" class="label-color-kh">File đính kèm
            </nz-form-label>
            <div class="list-file">
              <file-list [data]="fileUyQuyen" [isViewDetail]="false"></file-list>
            </div>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24" *ngIf="formData.value.pthucBanTrucTiep == '03'">
          <nz-form-item nz-col class="form-item">
            <nz-form-label [nzNoColon]="true" class="label-color-kh"> File đính kèm
            </nz-form-label>
            <div class="list-file">
              <file-list [data]="fileBanLe" [isViewDetail]="false"></file-list>
            </div>
          </nz-form-item>
        </div>
      </div>
    </form>
    <nz-card class="mt16 flex-card p-lr16">
      <nz-table class="pd-10" nzBordered [nzData]="listOfData" [nzFrontPagination]="false"
                [nzShowPagination]="false">
        <thead>
        <tr>
          <th [width]="35">STT</th>
          <th class="text-center">Điểm kho</th>
          <th class="text-center">Địa chỉ</th>
          <th class="text-center">Lô kho</th>
          <th class="text-center">Chủng loại hàng hóa</th>
          <th class="text-center">Đơn vị tính</th>
          <th class="text-center">Tồn Kho</th>
          <th class="text-center">Số lượng</th>
          <th class="text-center">Đơn giá chưa VAT (đồng)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of listOfData; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{data.tenDiemKho}}</td>
          <td>{{data.diaDiemKho}}</td>
          <td>{{data.tenLoKho == null ? data.tenNganKho : data.tenLoKho }},
            {{data.tenNhaKho}}
          </td>
          <td>{{data.tenCloaiVthh}}</td>
          <td>{{data.donViTinh}}</td>
          <td>{{data.tonKho | number : '1.0-1' : 'vi_VN'}}</td>
          <td>{{data.soLuongDeXuat | number : '1.0-1' : 'vi_VN'}}</td>
          <td>{{data.donGiaDeXuat | number : '1.0-1' : 'vi_VN'}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr *ngIf="listOfData.length > 0">
          <th></th>
          <th>Cộng</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th> {{ calcTong('soLuongDeXuat') | number : '1.0-1' : 'vi_VN' }}
          </th>
          <th></th>
        </tr>
        </tfoot>
      </nz-table>
    </nz-card>
  </nz-card>
</div>
<ng-template #error let-control>
  <app-template-error #error [control]="control"></app-template-error>
</ng-template>
