.blue-text {
  color: #001CFF;
  font-weight: 500;
  font-size: 12px;
}

.red-text {
  color: #FF4D4F;
  font-weight: 500;
  font-size: 12px;
}

.bold-700 {
  font-weight: 700;
}

[nz-radio] {
  display: block;
  height: 53px;
  line-height: 32px;
}
