.tong-hop-button {
  text-align: right;
}

::ng-deep {
  .bg-xam .ant-card-body {
    background: #f8f9fa;
    //padding: 12px;
    //margin: 12px;
    //border-radius: 0px;
    //border: solid 1px #f1f1f1;
    //margin-right: 0px !important;
    //margin-left: 0px !important;
  }
}

.title-chi-tieu {
  display: flex;
  align-items: center;
  padding-top: 5px;

  .title-form {
    font-size: 16px;
    color: #444444;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
  }

  .status-do,
  .du-thao-va-lanh-dao-duyet {
    color: #ff4d4f;
    font-weight: 500;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 0px;
    border: 1px solid #FF9393;
    text-transform: uppercase;
    margin-right: 8px;
    background-color: #FFF1F1;
    line-height: 1;
  }

  .status-do,
  .chua-tao-qd {
    color: #ff4d4f;
    font-weight: 500;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 0px;
    border: 1px solid #FF9393;
    text-transform: uppercase;
    margin-right: 8px;
    background-color: #FFF1F1;
    line-height: 1;
  }

  .status-xanh,
  .da-ban-hanh {
    color: #24e837;
    font-weight: 500;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 0px;
    border: 1px solid #24e837;
    text-transform: uppercase;
    margin-right: 8px;
    background: #EFFFEC;
    line-height: 1;
  }

  & > span:nth-child(2) {
    text-transform: uppercase;
    color: #444444;
    font-weight: 500;
    font-size: 16px;
    padding: 4px;
  }
}

.bg-selected td {
  background-color: #d8dcfe;
}

.cus-start-date.ant-col {
  padding-right: 0 !important;
}

.cus-end-date.ant-col {
  padding-left: 0 !important;
}

::ng-deep .ant-modal-body {
  overflow: scroll;
}

::ng-deep .ant-select-selection-placeholder {
  color: #999;
  opacity: 70%;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}
