<div class="luong-thuc__danh-sach">
  <nz-affix class="btn-affix" [nzOffsetTop]="globals.prop.MENU_LV2">
    <div class="btn-group">
      <button class="btn btn-sub" (click)="back()">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>
      <button class="btn btn-sub" (click)="print()">
        <i class="icon htvbdh_tcdt_print"></i>
        <span>In</span>
      </button>
      <button class="btn btn-sub" *ngIf="detail.trangThai == globals.prop.NHAP_DU_THAO&& !isView" (click)="guiDuyet()">
        <i class="icon htvbdh_trinh"></i>
        <span>Lưu và gửi duyệt</span>
      </button>
      <button class="btn btn-sub" *ngIf="detail.trangThai == globals.prop.NHAP_CHO_DUYET_LD_CHI_CUC"
        (click)="pheDuyet()">
        <i class="icon htvbdh_dakyduyet"></i>
        <span>Duyệt</span>
      </button>
      <button class="btn btn-sub" (click)="tuChoi()" *ngIf="detail.trangThai == globals.prop.NHAP_CHO_DUYET_LD_CHI_CUC">
        <i class="icon htvbdh_tcdt_tuchoi"></i>
        <span>Từ chối</span>
      </button>
      <button class="btn btn-sub xanh" (click)="save(false)"
        *ngIf="detail.trangThai == globals.prop.NHAP_DU_THAO && !isView">
        <i class="icon  htvbdh_tcdt_save"></i>
        <span>Lưu</span>
      </button>
    </div>
  </nz-affix>

  <div class="bg-trang">
    <div class="header">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span *ngIf="id === 0" class="du-thao-va-lanh-dao-duyet">
            Dự Thảo
          </span>
          <span *ngIf="id > 0" [ngClass]="thongTinTrangThai(detail.trangThai)">
            {{detail.tenTrangThai? detail.tenTrangThai:"Dự thảo"}}</span>
          <span class="title-form">Phiếu xuất kho</span>
        </div>
      </div>
    </div>

    <nz-card nzTitle="" class="mt-16 flex-card p-lr16" *ngIf="typeVthh !== '02'">
      <form [nzLayout]="'horizontal'" nz-form [formGroup]="formData" class="phieu-xuat-kho">
        <div class="search__body" nz-row [nzGutter]="[18, 6]">

          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true">
                Số quyết định xuất
              </nz-form-label>
              <nz-select formControlName="sqdxId" [nzDisabled]="isDisableField() || isView">
                <nz-option *ngFor="let item of listSoQuyetDinh" [nzValue]="item.id" [nzLabel]="item.soQuyetDinh">
                </nz-option>
              </nz-select>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true">
                Đơn vị
              </nz-form-label>
              <nz-input-group>
                <input nz-input formControlName="tenDvi" readonly />
              </nz-input-group>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true">
                Mã QHNS
              </nz-form-label>
              <nz-input-group>
                <input nz-input formControlName="maDvi" readonly />
              </nz-input-group>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true">
                Số phiếu xuất kho
              </nz-form-label>
              <nz-input-group>
                <input nz-input formControlName="spXuatKho" readonly />
              </nz-input-group>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true">
                Số phiếu kiểm tra chất lượng/HSKT
              </nz-form-label>
              <nz-select formControlName="pknclId" (ngModelChange)="changePhieuKiemTra()"
                [nzDisabled]="isDisableField() || isView">
                <nz-option [nzValue]="" [nzLabel]="">
                </nz-option>
              </nz-select>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true">
                Người nhận hàng
              </nz-form-label>
              <nz-input-group>
                <input type="text" nz-input placeholder="Nhập người nhận hàng" formControlName="nguoiNhanHang"
                  [readonly]="isDisableField() || isView" />
              </nz-input-group>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true">
                Bộ Phận
              </nz-form-label>
              <nz-input-group>
                <input type="text" nz-input placeholder="Nhập bộ phận" formControlName="boPhan"
                  [readonly]="isDisableField() || isView" />
              </nz-input-group>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true">
                Ngày tạo phiếu
              </nz-form-label>
              <nz-date-picker class="search__input" nzFormat="dd-MM-yyyy" formControlName="ngayTao" nzDisabled>
              </nz-date-picker>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true">
                Thời gian xuất hàng
              </nz-form-label>
              <nz-date-picker class="search__input" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="xuatKho">
              </nz-date-picker>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true">
                Điểm kho
              </nz-form-label>
              <nz-select formControlName="maDiemkho" (ngModelChange)="changeDiemKho(false)"
                [nzDisabled]="isDisableField() || isView">
                <nz-option *ngFor="let item of listDiemKho" [nzValue]="item.maDvi" [nzLabel]="item.tenDvi">
                </nz-option>
              </nz-select>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true">
                Nhà kho
              </nz-form-label>
              <nz-select formControlName="maNhakho" (ngModelChange)="changeNhaKho(false)"
                [nzDisabled]="isDisableField() || isView">
                <nz-option *ngFor="let item of listNhaKho" [nzValue]="item.maDvi" [nzLabel]="item.tenDvi">
                </nz-option>
              </nz-select>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="3">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true">
                Ngăn kho
              </nz-form-label>
              <nz-select formControlName="maNgankho" (ngModelChange)="changeNganKho()"
                [nzDisabled]="isDisableField() || isView">
                <nz-option *ngFor="let item of listNganKho" [nzValue]="item.maDvi" [nzLabel]="item.tenDvi">
                </nz-option>
              </nz-select>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="3">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true">
                Lô kho
              </nz-form-label>
              <nz-select formControlName="maNganlo" [nzDisabled]="isDisableField() || isView">
                <nz-option *ngFor="let item of listNganLo" [nzValue]="item.maDvi" [nzLabel]="item.tenDvi">
                </nz-option>
              </nz-select>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true">
                Lý do xuất kho
              </nz-form-label>
              <nz-input-group>
                <input type="text" nz-input placeholder="Nhập lý do" formControlName="lyDoXuatKho"
                  [readonly]="isDisableField() || isView" />
              </nz-input-group>
            </nz-form-item>
          </div>
        </div>
        <div class="flex-card p-lr16 pd-10">
          <nz-table #basicTable class="nowrap" nzBordered [nzFrontPagination]="false" [nzShowPagination]="false"
            [nzData]="detail.ds">
            <thead>
              <tr>
                <th rowSpan="2" width="60px" class="text-center">STT<br />(A)</th>
                <th rowSpan="2" width="500px" class="text-center">Tên, nhãn hiệu, quy cách, phẩm chất vật tư, dụng cụ,
                  sản <br />phẩm hàng hóa<br />
                  (B)</th>
                <th rowSpan="2" class="text-center">Mã số<br />(C)</th>
                <th rowSpan="2" class="text-center">Đơn vị tính<br />(D)</th>
                <th colSpan="2" class="text-center">Số lượng</th>
                <th rowSpan="2" class="text-center">Đơn giá<br /> (3)</th>
                <th rowSpan="2" class="text-center">Thành tiền<br />(4) = (2) x (3)</th>
              </tr>
              <tr>
                <th class="text-center">Yêu Cầu <br />(1)</th>
                <th class="text-center">Thực xuất<br />(2)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data; let i = index">
                <td>{{i+1}}</td>
                <td>{{data.ten}}</td>
                <td>{{data.maSo}}</td>
                <td>{{data.dvTinh}}</td>
                <td>{{data.slYeuCau ?? 0 | number: '1.0-1'}}</td>
                <td>{{data.slThucXuat ?? 0 | number: '1.0-1'}}</td>
                <td>{{data.donGia ?? 0 | number: '1.0-1'}}</td>
                <td class="bg-gray">{{data.thanhTien ?? 0 | number: '1.0-1'}}</td>
              </tr>
              <tr *ngIf="basicTable.data && basicTable.data.length > 0">
                <td class="background-last-row"></td>
                <td class="background-last-row">Cộng</td>
                <td class="background-last-row"></td>
                <td class="background-last-row"></td>
                <td class="background-last-row"></td>
                <td class="background-last-row"></td>
                <td class="background-last-row"></td>
                <td class="bg-gray">{{caculatorThanhTien() | number: '1.0-1'}}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>

        <div class="summary-table-data flex-card p-lr16 pd-10" nzSpan="24" nz-row [nzGutter]="[18, 6]">
          <div nz-col nzSpan="24" class="text-summary">
            PHIẾU XUẤT KHO
          </div>
          <div nz-col nzSpan="24">
            <div nz-col nzSpan="24" class="text-summary">
              Tổng số tiền (viết bằng chữ)
            </div>
            <div nz-col nzSpan="24" class="bg-gray text-center text-money text-specical-money">
              {{convertTien(this.detail.tongTien)}}
            </div>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true" nzSpan="24">
                Chứng từ kèm theo
              </nz-form-label>
            </nz-form-item>
            <nz-form-item>
              <div class="list-file" nz-col nzSpan="24">
                <file-list [data]="chungTuKemTheo" [disabled]="isDisableField() || isView"></file-list>
              </div>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true">
                Ghi chú
              </nz-form-label>
              <textarea nz-input formControlName="ghiChu" [readonly]="isDisableField() || isView"></textarea>
            </nz-form-item>
          </div>
        </div>
      </form>
    </nz-card>
  </div>
</div>