.tab__luong-thuc {
  position: relative;
  .action {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.cus-start-date.ant-col {
  padding-right: 0 !important;
}

.cus-end-date.ant-col {
  padding-left: 0 !important;
}
