<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span
          [ngClass]="formData.value.trangThaiChiCuc == STATUS.DA_DUYET_LDCC? 'status-xanh' : 'status-do'">
          {{ formData.value.tenTrangThai }}
        </span>
        <span>Danh sách hàng thuộc diện thanh lý</span>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sub ml-2" (click)="huy()">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>
      <button type="button" class="btn btn-sub btn-xoa ml-2"
              *ngIf="formData.value.trangThaiChiCuc == STATUS.CHO_DUYET_LDCC || formData.value.trangThaiChiCuc == STATUS.CHO_DUYET_KT || formData.value.trangThaiChiCuc == STATUS.CHO_DUYET_KTVBQ"
              (click)="tuChoi()">
        <i class="icon htvbdh_tcdt_tuchoi"></i>
        <span>Từ chối</span>
      </button>
      <button type="button" class="btn btn-sub xanh-nhat ml-2"
              *ngIf="formData.value.trangThaiChiCuc == STATUS.CHO_DUYET_LDCC || formData.value.trangThaiChiCuc == STATUS.CHO_DUYET_KT || formData.value.trangThaiChiCuc == STATUS.CHO_DUYET_KTVBQ"
              (click)="pheDuyet()">
        <i class="icon htvbdh_dakyduyet"></i>
        <span>Duyệt</span>
      </button>
      <button type="button" class="btn btn-sub xanh-nhat ml-2"
              *ngIf="formData.value.trangThaiChiCuc == STATUS.DU_THAO || formData.value.trangThaiChiCuc == STATUS.TU_CHOI_LDCC ||  formData.value.trangThaiChiCuc == STATUS.TU_CHOI_KT ||  formData.value.trangThaiChiCuc == STATUS.TU_CHOI_KTVBQ  "
              (click)="luu(true)">
        <i class="icon htvbdh_tcdt_print"></i>
        <span>Lưu và gửi duyệt</span>
      </button>
      <button type="button" class="btn btn-sub xanh ml-2"
              *ngIf="formData.value.trangThaiChiCuc == STATUS.DU_THAO || formData.value.trangThaiChiCuc == STATUS.TU_CHOI_LDCC ||  formData.value.trangThaiChiCuc == STATUS.TU_CHOI_KT ||  formData.value.trangThaiChiCuc == STATUS.TU_CHOI_KTVBQ  "
              (click)="luu(false)">
        <i class="fa fa-save"></i>
        <span>Lưu</span>
      </button>
    </div>
  </div>
  <nz-alert class="mg-t-16"
            *ngIf="formData.value.trangThai == STATUS.TU_CHOI_LDCC || formData.value.trangThai == STATUS.TU_CHOI_KT || formData.value.trangThai == STATUS.TU_CHOI_KTVBQ "
            nzShowIcon nzType="error"
            nzMessage="Lý do từ chối" nzDescription="{{formData.value.liDoTuChoi}}">
  </nz-alert>
  <nz-card class="mt16 flex-card p-lr16">
    <form [nzLayout]="'vertical'" nz-form [formGroup]="formData">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="4">
          <nz-form-item >
            <nz-form-label nzFor="ma-don-vi">Mã đơn vị</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="maDonVi" readonly/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item >
            <nz-form-label nzFor="ten-don-vi">Tên đơn vị</nz-form-label>
            <nz-form-control>
              <nz-input-group id="ten-don-vi">
                <input type="text" nz-input formControlName="tenDvi" readonly/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item >
            <nz-form-label nzFor="ma-danh-sach">Mã danh sách</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group>
                <input [readOnly]="isView" type="text" nz-input formControlName="maDanhSach"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item >
            <nz-form-label nzFor="ngay-tao">Ngày tạo danh sách</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-date-picker [nzDisabled]="isView" formControlName="ngayTao" nzFormat="dd/MM/yyyy" id="ngay-tao"
                              class="search__input">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <ng-template #error let-control>
        <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}</ng-container>
      </ng-template>
    </form>
  </nz-card>

  <div class="group-button">
    <h3> Danh sách hàng hóa thuộc diện thanh lý</h3>
    <button type="button" class="btn btn-sub" (click)="exportData()" *ngIf="idInput > 0">
      <i class="icon htvbdh_chuyen-xu-ly"></i>
      <span>Xuất file</span>
    </button>
  </div>
  <nz-table #editRowTable [nzData]="dataTable" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
    <tr>
      <th class="text-center" style="width: 45px;">STT</th>
      <th style="width: 10%;">Loại hàng hoá</th>
      <th style="width: 10%;">Chủng loại hàng hoá</th>
      <th style="width: 10%;">Điểm kho</th>
      <th style="width: 10%;">Nhà kho</th>
      <th style="width: 10%;">Ngăn kho</th>
      <th style="width: 10%;">Lô kho</th>
      <th style="width: 10%;">Số lượng tồn</th>
      <th style="width: 10%;">Số lượng thanh lý</th>
      <th style="width: 10%;">Đơn vị tính</th>
      <th style="width: 10%;">Lý do</th>
      <th style="width: 5%;">Hành động</th>
    </tr>
    <tr>
      <th></th>
      <th>
        <nz-input-group>
          <!-- <input type="text" nz-input placeholder="Nhập loại hàng hoá" /> -->
          <nz-select [(ngModel)]="rowItem.maLoaiHang" [nzDisabled]="isView" placeholder="Nhập loại hàng hoá"
                     [nzShowArrow]="false" (ngModelChange)="onChangeLoaiVthh($event)">
            <nz-option nzValue="null" nzDisabled nzHide></nz-option>
            <nz-option nzValue="{{item.ma}}" nzLabel="{{item.ten}}" *ngFor="let item of dsLoaiHangHoa">
            </nz-option>
          </nz-select>
        </nz-input-group>
      </th>
      <th>
        <nz-input-group>
          <!-- <input type="text" nz-input placeholder="Nhập loại hàng hoá" /> -->
          <nz-select [nzDisabled]="isView" [(ngModel)]="rowItem.maChungLoaiHang"
                     placeholder="Nhập chủng loại hàng hoá" [nzShowArrow]="false"
                     (ngModelChange)="onChangeChungLoai($event)">
            <nz-option nzValue="null" nzDisabled nzHide></nz-option>
            <nz-option nzValue="{{item.ma}}" nzLabel="{{item.ten}}" *ngFor="let item of dsChungLoaiHangHoa">
            </nz-option>
          </nz-select>
        </nz-input-group>
      </th>
      <th>
        <nz-input-group>
          <!-- <input type="text" nz-input placeholder="Nhập điểm kho" /> -->
          <nz-select [nzDisabled]="isView" [(ngModel)]="rowItem.maDiemKho" placeholder="Nhập điểm kho"
                     (ngModelChange)="onChangeDiemKho($event)" [nzShowArrow]="false">
            <nz-option nzValue="null" nzDisabled nzHide></nz-option>
            <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsDiemKho">
            </nz-option>
          </nz-select>
        </nz-input-group>
      </th>
      <th>
        <nz-input-group>
          <!-- <input type="text" nz-input placeholder="Nhập nhà kho" /> -->
          <nz-select [nzDisabled]="isView" [(ngModel)]="rowItem.maNhaKho" placeholder="Nhập nhà kho"
                     (ngModelChange)="onChangeNhaKho($event)" [nzShowArrow]="false">
            <nz-option nzValue="null" nzDisabled nzHide></nz-option>
            <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsNhaKho">
            </nz-option>
          </nz-select>
        </nz-input-group>
      </th>
      <th>
        <nz-input-group>
          <!-- <input type="text" nz-input placeholder="Nhập ngăn lô" /> -->
          <nz-select [nzDisabled]="isView" [(ngModel)]="rowItem.maNganKho" placeholder="Nhập ngăn kho"
                     (ngModelChange)="onChangeNganKho($event)" [nzShowArrow]="false">
            <nz-option nzValue="null" nzDisabled nzHide></nz-option>
            <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsNganKho">
            </nz-option>
          </nz-select>
        </nz-input-group>
      </th>
      <th>
        <nz-input-group>
          <!-- <input type="text" nz-input placeholder="Nhập lô kho" /> -->
          <nz-select [nzDisabled]="isView" [(ngModel)]="rowItem.maLoKho" placeholder="Nhập lô kho"
                     (ngModelChange)="onChangLoKho($event)" [nzShowArrow]="false">
            <nz-option nzValue="null" nzDisabled nzHide></nz-option>
            <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsLoKho">
            </nz-option>
          </nz-select>
        </nz-input-group>
      </th>
      <th>
        <nz-input-group>
          <nz-input-number [nzDisabled]="isView" [(ngModel)]="rowItem.slTon" [nzSize]="'small'"
                           [nzFormatter]="globals.formatter"
                           [nzParser]="globals.parser"></nz-input-number>
        </nz-input-group>
      </th>
      <th>
        <nz-input-group>
          <nz-input-number [nzDisabled]="isView" [(ngModel)]="rowItem.slYeuCau" [nzSize]="'small'"
                           [nzFormatter]="globals.formatter"
                           [nzParser]="globals.parser"></nz-input-number>
        </nz-input-group>
      </th>
      <th>
        <nz-input-group>
          <input type="text" [(ngModel)]="rowItem.donViTinh" nz-input readonly/>
        </nz-input-group>
      </th>
      <th>
        <nz-input-group>
          <input [disabled]="isView" type="text" [(ngModel)]="rowItem.lyDo" nz-input placeholder="Nhập lý do"/>
        </nz-input-group>
      </th>
      <th style="text-align: center;">
        <a *ngIf="!isView" (click)="themMoiItem()">
          <i class="table-icon icon htvbdh_dau-cong"></i>
        </a>
        <a *ngIf="!isView" (click)="clearData()">
          <i class="table-icon icon  htvbdh_nhap-lai1"></i>
        </a>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of editRowTable.data; let idx = index">
      <ng-container *ngIf="!dataEdit[idx].edit; else editTemplate">
        <td style=" text-align: center;">{{ idx + 1 }}</td>
        <td>{{ data.tenLoaiVthh }}</td>
        <td>{{ data.tenCloaiVthh}}</td>
        <td>{{ data.tenDiemKho }}</td>
        <td>{{ data.tenNhaKho }}</td>
        <td>{{ data.tenNganKho }}</td>
        <td>{{ data.tenLoKho }}</td>
        <td>{{ data.slTon }}</td>
        <td>{{ data.slYeuCau }}</td>
        <td>{{ data.donViTinh }}</td>
        <td>{{ data.lyDo }}</td>
        <td style="text-align: center;">
          <a *ngIf="!isView" (click)="editItem(idx)">
            <i class="table-icon fa fa-pencil"></i>
          </a>
          <a *ngIf="!isView" (click)="xoaItem(idx)">
            <i class="table-icon fa fa-trash-o do"></i>
          </a>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <th></th>
        <th>
          <nz-form-control>
            <nz-select [(ngModel)]="dataEdit[idx].data.maLoaiHang"
                       (ngModelChange)="onChangeLoaiVthh($event, dataEdit[idx].data)">
              <nz-option *ngFor="let item of dsLoaiHangHoa" nzValue="{{item.ma}}" nzLabel="{{item.ten}}">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </th>
        <th>
          <nz-form-control>
            <nz-select [(ngModel)]="dataEdit[idx].data.maChungLoaiHang"
                       (ngModelChange)="onChangeChungLoai($event,dataEdit[idx].data )">
              <nz-option *ngFor="let item of dsChungLoaiHangHoa" nzValue="{{item.ma}}" nzLabel="{{item.ten}}">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </th>
        <th>
          <nz-input-group>
            <nz-select [(ngModel)]="dataEdit[idx].data.maDiemKho" placeholder="Nhập điểm kho"
                       (ngModelChange)="onChangeDiemKho($event, dataEdit[idx].data)">
              <nz-option nzValue="null" nzDisabled nzHide></nz-option>
              <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsDiemKho">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <nz-select [(ngModel)]="dataEdit[idx].data.maNhaKho" placeholder="Nhập nhà kho"
                       (ngModelChange)="onChangeNhaKho($event, dataEdit[idx].data)">
              <nz-option nzValue="null" nzDisabled nzHide></nz-option>
              <nz-option *ngFor="let p of dsNhaKho" [nzValue]="p.maDvi" [nzLabel]="p.tenDvi">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <nz-select [(ngModel)]="dataEdit[idx].data.maNganKho" placeholder="Nhập nhà kho"
                       (ngModelChange)="onChangeNganKho($event, dataEdit[idx].data)">
              <nz-option nzValue="null" nzDisabled nzHide></nz-option>
              <nz-option *ngFor="let p of dsNganKho" [nzValue]="p.maDvi" [nzLabel]="p.tenDvi">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <nz-select [(ngModel)]="dataEdit[idx].data.maLoKho" placeholder="Nhập ngăn lô"
                       (ngModelChange)="onChangLoKho($event, dataEdit[idx].data )">
              <nz-option nzValue="null" nzDisabled nzHide></nz-option>
              <nz-option *ngFor="let p of dsLoKho" [nzValue]="p.maDvi" [nzLabel]="p.tenDvi">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <nz-input-number [(ngModel)]="dataEdit[idx].data.slTon" [nzSize]="'small'" [nzFormatter]="globals.formatter"
                             [nzParser]="globals.parser" readonly></nz-input-number>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <nz-input-number [(ngModel)]="dataEdit[idx].data.slYeuCau" [nzSize]="'small'"
                             [nzFormatter]="globals.formatter"
                             [nzParser]="globals.parser"></nz-input-number>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input [(ngModel)]="dataEdit[idx].data.donViTinh" readonly nz-input/>
          </nz-input-group>
        </th>
        <th>
          <nz-input-group>
            <input [(ngModel)]="dataEdit[idx].data.lyDo" nz-input/>
          </nz-input-group>
        </th>
        <td class="text-center">
          <a (click)="luuEdit(idx)" class="save">
            <i class="fa fa-save"></i>
          </a>
          <a (click)="huyEdit(idx)">
            <i class="fa fa-times do"></i> </a>
        </td>
      </ng-template>
    </tr>
    </tbody>
  </nz-table>
  <div class="tab-content tab-menu" id="myTabContent">
    <div class="tab-pane fade show active justify-content-between">
      <div class="trai">

      </div>
      <div class="canphai">
        <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord" nzShowSizeChanger
                       [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate"
                       (nzPageIndexChange)="changePageIndex($event)" (nzPageSizeChange)="changePageSize($event)">
          <ng-template #rangeTemplate let-range="range" let-total>
            {{ range[0] }}-{{ range[1] }} trên tổng số {{ total }} bản ghi
          </ng-template>
        </nz-pagination>
      </div>
    </div>
  </div>
</div>
