<!-- <nz-tabset nzType="card" class="mt-16 tab-level-1">
  <nz-tab [nzTitle]="title_tat_ca">
    <ng-template #title_tat_ca>
      Tất cả
      (<span class="number-title-tab">10</span>)
    </ng-template>
    <app-lap-bien-ban-nghiem-thu-bao-quan></app-lap-bien-ban-nghiem-thu-bao-quan>
  </nz-tab>
</nz-tabset> -->
<nz-tabset nzType="card" class="mt-16 tab-level-1">
  <nz-tab [nzTitle]="'Phiếu kiểm tra chất lượng'">
    <quan-ly-phieu-kiem-tra-chat-luong-hang></quan-ly-phieu-kiem-tra-chat-luong-hang>
  </nz-tab>
  <nz-tab [nzTitle]="'Biên bản nghiệm thu bảo quản lần đầu'">
    <app-lap-bien-ban-nghiem-thu-bao-quan></app-lap-bien-ban-nghiem-thu-bao-quan>
  </nz-tab>
  <nz-tab [nzTitle]="'Biên bản lấy mẫu'">
    <quan-ly-bien-ban-lay-mau></quan-ly-bien-ban-lay-mau>
  </nz-tab>
  <nz-tab [nzTitle]="'Biên bản bàn giao mẫu'">
    <quan-ly-bien-ban-ban-giao-mau></quan-ly-bien-ban-ban-giao-mau>
  </nz-tab>
  <nz-tab [nzTitle]="'Lập và ký phiếu kiểm nghiệm chất lượng'">
    <quan-ly-phieu-kiem-nghiem-chat-luong-thoc></quan-ly-phieu-kiem-nghiem-chat-luong-thoc>
  </nz-tab>
</nz-tabset>