.container {
    mat-card-title {
        font-size: 3rem;
    }

    .mat {
        &-card {
            padding: 4rem !important;
            border-radius: 16px;
            &-actions {
                margin-top: 0.5rem;

                display: flex;
                justify-content: center;
            }

            &-header {
                justify-content: center;
                margin-bottom: 1rem;
            }

            &-title {
                color: #0957de;
                font-family: Arial, Serif, Sans-serif, cursive, fantasy, Monospace;
                font-style: normal;
                font-weight: bold;
                font-size: 19px;
                line-height: 28px;
                display: flex;
                justify-content: center;
            }
        }
    }
    .content-container {
        .message {
            color: #0957de;
        }
        .actions {
            margin-top: 2rem;
            button{
                background: #1DBAA9;
                border-radius: 8px !important;
                border-color: #1DBAA9;
                min-width: 275px;
            }
        }
    }
}
