.main-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.switcher-language {
    width: 100%;
    padding: 30px 0;
}

.child-container {
    width: 450px;
    box-shadow: 0px 0px 5px 3px #969696;
    -webkit-box-shadow: 0px 0px 5px 3px #969696;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-language-switcher {
    float: right;
    padding-right: 40px;
}

auth-login-form {
    max-width: 40rem;
}

.language-switcher-included {
    height: calc(100vh - 100px);
    display: flex;
}
