@import '../../../assets/scss/default.scss';

.contentscroll {
  background: $color-fb;
  padding: 15px 50px;
}

.fix.collapse {
  min-height: unset !important;
}

.contentBlog.bgxam {
  border-bottom: unset;
}

::ng-deep .sliders {
  padding: 16px;

  .owl-carousel.owl-drag .owl-item {
    padding: 0;
    font-size: $font-size16;

    .item {
      border: solid 1px #eee;
      border-radius: 0px;
      padding: 10px 20px;
      background: #fff;
      box-shadow: 1px 1px 6px -3px #00000038;

      .text {
        span {
          display: flex;
          flex: auto;
          justify-content: flex-end;

          &+span {
            font-size: 32px;
          }
        }
      }
    }
  }
}

::ng-deep .ant-tooltip-inner,
::ng-deep .ant-tooltip-arrow-content {
  background-color: $bg-nhat2 $i;
}

::ng-deep .ant-popover-inner {
  background-color: $bg-nhat;

  .secondary.bgxam.text-sm {
    background-color: $bg-nhat2 $i;
    margin-left: 8px;
    font-size: $font-size12;
  }
}

::ng-deep .ant-carousel {
  .slick-dots li {
    margin-right: 0 $i;

    button {
      margin-top: 0 $i;
      height: 4px $i;
    }
  }
}

%tronghan {
  display: inline-flex;
  align-items: center;
  padding-right: 16px;

  &:before {
    content: '';
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 6px;
    border-radius: 0px;
  }
}

%progressTronghan {
  position: relative;

  &:before {
    content: attr(congvieccon);
    line-height: 1;
    font-size: 12px;
    padding-left: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    height: 100%;
  }
}

::ng-deep .fixcard2 {

  // height: 100%;
  .ant-form-vertical {
    padding: 4px 8px 0 8px;
  }

  .ant-card-body {
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 16px;
    padding-top: 8px;
  }

  &.ant-card {
    margin-bottom: 0;

    .ant-card-head-title {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.ghichu {
  padding: 0;
  margin-bottom: 8px;

  .tronghan {
    @extend %tronghan;

    &::before {
      background-color: $tronghan;
    }
  }

  .sapdenhan {
    @extend %tronghan;

    &::before {
      background-color: $sapdenhan;
    }
  }

  .quahan {
    @extend %tronghan;

    &::before {
      background-color: $quahan;
    }
  }

  .chuabatdau {
    @extend %tronghan;

    &::before {
      background-color: $chuabatdau;
    }
  }
}

.Progress {
  display: flex;
  height: 14px;
  // overflow: hidden;
  border-radius: 0px;
  outline: 1px solid transparent;
  width: 100%;

  &>div {
    &:first-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    &:last-child {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  .tronghan {
    @extend %progressTronghan;
    background-color: $tronghan;
  }

  .sapdenhan {
    @extend %progressTronghan;
    background-color: $sapdenhan;
  }

  .quahan {
    @extend %progressTronghan;
    background-color: $quahan;
  }

  .chuabatdau {
    @extend %progressTronghan;
    background-color: $chuabatdau;

    &:before {
      color: #444;
    }
  }
}

.congvieccuatoi {
  display: flex;
  flex: 1;
  margin-bottom: 8px;
  justify-content: space-between;

  .xanh {
    color: blue;
    font-weight: 500;
    padding-right: 4px;
  }
}

.tong {
  display: flex;
  white-space: nowrap;
  padding-left: 20px;
  line-height: 1;
  position: absolute;
  right: 0;
  width: 160px;
}

.congvieccuatoi {
  padding-right: 160px;
}

.ant-card-grid {
  text-align: center;
  padding: 16px;

  &.xanhduong {
    background: $xanhduong !important;
    color: #fff !important;
  }

  &.xanhla {
    background: $xanhla !important;
    color: #fff !important;
  }

  &.cam {
    background: $cam !important;
    color: #fff !important;
  }

  &.do {
    background: $red !important;
    color: #fff !important;
  }

  h3 {
    color: #fff;
  }
}

.font-50 {
  font-size: 50px;
  line-height: 1;
}

.font-60 {
  font-size: 60px;
  line-height: 1;
}

.max1200,
.max1600 {
  border: none;
  padding: 0;
  // min-height: calc(100vh - 75px);
}

.h100 {
  height: 100%;
  margin-bottom: 0 !important;
}

::ng-deep {
  .fixcard2.ant-card {
    margin-bottom: 0;
    box-shadow: 0 2px 5px 0px rgb(0 0 0 / 3%);
  }

  .contentscroll {
    background: #f5f5f5 !important;
  }

  .max1200,
  .max1600,
  .contentscroll {
    background: #fbfbfb;
  }

  .card-content {
    .ant-comment-actions {
      // text-align: right;
      margin-top: 0;

      .nuttron.htvbdh_tu-choi:before {
        font-size: 10px;
      }

      &>li>span {
        margin-right: 4px;
      }
    }

    .ant-comment-inner {
      padding-top: 0px;
    }

    ul.ant-timeline {
      max-height: 360px;
      overflow: auto;
      padding-top: 30px;
      padding-left: 16px;
    }

    .ant-timeline-item-content {
      top: -11px;
    }

    .tenvanban {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      color: #197d7f;
      margin-bottom: 2px;

      a {
        font-size: 14px;
      }
    }

    .ant-card-meta-description,
    .ant-comment-content-author-name,
    .ant-comment-content-author-name>*,
    .ant-comment-content-author-name> :hover {
      color: #444;
    }

    .ant-comment-content-author {
      justify-content: space-between;
    }

    &.min-250 {
      min-height: 248px;
    }

    p {
      line-height: 1.3;
    }
  }

  .choykien .ant-card-extra {
    display: none;
  }

  .calendar-full.fixcard2 .ant-card-body {
    padding: 0 !important;
  }

  .ant-carousel .slick-dots li button {
    height: 10px !important;
  }

  td {
    .congvieccuatoi {
      margin-bottom: 0 !important;
      padding-right: 0px !important;
    }

    .ant-avatar.ant-avatar-circle {
      background: #1a7e80;
    }

    // .avatar-td {
    //   padding-top: 3px;
    // }

    &.tronghan {
      font-weight: 500;
      color: $tronghan;
    }

    &.sapdenhan {
      font-weight: 500;
      color: $sapdenhan;
    }

    &.quahan {
      font-weight: 500;
      color: $quahan;
    }

    &.chuabatdau {
      font-weight: 500;
      color: $chuabatdau;
    }
  }

  .avatar-td {
    display: inline-flex;
    align-items: center;

    .name {
      padding-left: 8px;
      display: block;

      small {
        display: block;
        color: $color-icon-xam;

        b {
          color: #444;
          font-weight: bold;
        }
      }

      span {
        width: 100%;
        font-weight: 500;
        display: block;
      }
    }

    .ant-avatar.ant-avatar-icon {
      top: 0 !important;
    }
  }

  .calendar-full {
    .ant-picker-calendar-full .ant-picker-date-panel .ant-picker-content tbody .ant-picker-calendar-date-content ul li .secondary.bgxam {
      display: inline-block;
      white-space: normal;
      line-height: 1;
    }

    .bgxam span+span,
    .ngaybanhanh span+span {
      margin-left: 0;
    }

    .secondary>span+span {
      overflow: visible;
    }

    .ant-fullcalendar-header {
      position: absolute;
      top: -39px;
      z-index: 999;
      background: transparent;
      width: auto !important;
      right: 0;
    }

    .ant-picker-calendar-full .ant-picker-calendar-header {
      background: transparent;
    }
  }

  label.warning .ant-checkbox-inner {
    background: #faad14;
    border-color: #faad14 !important;
  }

  label.error .ant-checkbox-inner {
    background: #ff9091;
    border-color: #ff9091 !important;
  }

  label.success .ant-checkbox-inner {
    background: #52c41a;
    border-color: #52c41a !important;
  }

  label.processing .ant-checkbox-inner {
    background: #1890ff;
    border-color: #1890ff !important;
  }

  .lichcuatoi [nzxs='24'] {
    padding-top: 4px !important;
  }

  button.nhacnho {
    position: fixed;
    right: 8px;
    top: 70px;
    padding: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    border: none;
    background: $maincolor;

    &.lich {
      top: 110px;
    }

    &:focus,
    &:hover {
      background: lighten($maincolor, 10%);

      i {
        color: #fff;
      }
    }

    i {
      font-size: 14px;
      color: #fff;
    }
  }

  // .ant-drawer-left.ant-drawer-open,
  // .ant-drawer-left,
  // .ant-drawer-right,
  // .ant-drawer-right.ant-drawer-open {
  //     top: 45px !important;
  // }
  .ant-drawer-header {
    padding-bottom: 8px;
    background: #f8fefe;
    border: none;
  }

  .ant-drawer-body {
    padding: 0;

    .fixcard2.ant-card.calendar-full {
      overflow: hidden;
    }

    .calendar-full .ant-picker-calendar-full .ant-picker-date-panel .ant-picker-content tbody {
      height: calc(100vh - 130px) !important;
    }

    a.btn.btn-outline-grey {
      background: #e3f9f9;
      margin-right: 8px;
      margin-top: -2px;

      i {
        font-size: 11px;
      }
    }

    .ant-tabs-content-holder {
      border: none;
      padding-left: 24px;
    }

    .flex-card.ant-card .card-content {
      margin-top: 24px;
    }

    .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap {
      padding-left: 24px;
    }

    .ant-tabs-tab {
      padding: 8px 0;
    }

    .ant-tabs-top>.ant-tabs-nav::before {
      z-index: 1;
      border-color: $tab-menu-border;
      bottom: -1px;
    }

    .ant-tabs-ink-bar {
      background: $maincolor;
    }

    .ant-tabs-tab-btn {
      color: $color-icon-xam;
    }

    .ant-tabs-tab-active .ant-tabs-tab-btn {
      color: $maincolor;
    }

    .fixcard2.ant-card .ant-card-head-title {
      align-items: center;
      display: flex;
    }
  }

  .flex-card.disabled {
    .card-content {
      // pointer-events: none;
      background: #f9f9f9;
      box-shadow: unset;

      .phai {
        display: none;
      }

      i,
      span,
      .text-lg,
      .ant-card-body span,
      .ant-card-body b,
      .bgxam span+span,
      .ngaybanhanh span+span {
        color: #aaa !important;
        // pointer-events: none;
      }
    }
  }

  .ant-drawer-header {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;

    .ant-drawer-title {
      font-size: 13px;
      padding: 8px 0;
      color: #353a64;
      text-transform: uppercase;
      align-items: center;
      display: flex;

      a.btn.btn-outline-grey {
        background: #e3f9f9;
        margin-right: 8px;
        margin-top: -2px;

        i {
          font-size: 11px;
        }
      }
    }
  }
}

// mobile.....
@media (max-width: 991px) {
  ::ng-deep .choykien .ant-card-extra {
    display: block;
  }

  .ant-row {
    margin: 0 !important;

    .congvieccuatoi {
      padding-right: 0 !important;
      flex-wrap: wrap;
    }

    .tong {
      position: relative !important;
      width: 100% !important;
      padding-left: 0 !important;
      padding-top: 5px;
    }
  }

  // ::ng-deep

  .choykien-bg.choykien {
    &:before {
      content: '';
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgb(255 255 255 / 80%);
    }

    .fixcard2.ant-card {
      box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
        0 5px 12px 4px rgb(0 0 0 / 9%);
    }

    .fixcard2 {
      position: fixed;
      bottom: 0;
      right: 8px;
      left: 8px;
    }

    .fixcard2 .card-content {
      padding: 0;
      margin: 0;
    }

    a.showmobile {
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ::ng-deep .an-choykien.choykien {
    &:before {
      display: none !important;
    }

    .fixcard2 {

      .ant-card-body,
      .ant-card-head-title {
        display: none;
      }

      .ant-card-extra {
        position: fixed;
        bottom: 40px;
        right: 20px;
        background: #1a8284;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: #fff;
        }
      }
    }
  }
}