<nz-affix class="menu-lv3" [nzOffsetTop]="43">
  <div class="tab-content tab-menu" id="myTabContent">
    <div class="tab-pane fade show active justify-content-between" id="banhanh" role="tabpanel"
      aria-labelledby="banhanh-tab">
      <div class="trai">
      </div>
      <div class="canphai phai action-top">
        <button nz-button class="search__button--search" (click)="pages.page = 1; pages.size = 10 ;onSubmit()">
          <i nz-icon nzType="search"></i>
          Tìm kiếm
        </button>
        <button nz-button class="search__button--clear">
          <i nz-icon nzType="close"></i>
          Xóa điều kiện
        </button>
      </div>
    </div>
  </div>
</nz-affix>
<div class="contentBor chi-tieu__body">
  <div class="contentDetail">
    <div class="main-content">
      <nz-card nzTitle="Tìm kiếm" class="mt16 flex-card p-lr16">
        <div class="search__body" nz-row [nzGutter]="[18, 12]">
          
          <div nz-col nzSpan="6">
            <label class="search__label">Ngày nhập</label>
            <nz-date-picker class="search__input" [(ngModel)]="searchFilter.tuNgay"></nz-date-picker>
          </div>
          <div nz-col nzSpan="6">
            <label class="search__label">Người nhập</label>
            <nz-date-picker class="search__input" [(ngModel)]="searchFilter.denNgay"></nz-date-picker>
          </div>
          <div nz-col nzSpan="12">
            <label class="search__label">Nơi lập</label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="searchFilter.donViTao">
              <nz-option *ngFor="let item of donViTaos" [nzValue]="item.maDvi" [nzLabel]="item.tenDvi"></nz-option>
            </nz-select>
          </div>
        </div>
      </nz-card>
      <nz-card nzTitle="DANH SÁCH TỔNG HỢP ĐỀ NGHỊ CẤP VỐN" [nzExtra]="tableCard1"
        class="mt16 flex-card p-lr16">
        <nz-table #basicTable >
          <thead>
            <tr>
              <th width="1%">STT</th>
              <th width="25%">Ngày lập</th>
              <th width="25%">Người lập</th>
              <th width="25%">Nơi lập</th>
              <th width="25%">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of danhSachBaoCao; let i = index">
              <td>{{ (i + 1) + (pages.page - 1)*pages.size }}</td>
              <td><a routerLink="../{{url}}{{ item.id }}">{{ item.maBcao }}</a></td>
              <td>{{item.ngayTao}}</td>
              <td>{{item.namBcao}}</td>
              <td class="text-center">{{item.tenTrangThai}}</td>
              <td class="text-center">{{item.tenDvi}}</td>
            </tr>
          </tbody>
        </nz-table>
        <div class="tab-content tab-menu" id="myTabContent">
          <div class="tab-pane fade show active justify-content-between">
            <div class="trai">

            </div>
            <div class="canphai">
              <!-- begin phân trang  -->
              <nz-pagination class="pagination-card" [nzPageIndex]="pages.page" [nzTotal]="totalElements" nzShowSizeChanger [nzPageSize]="pages.size"
                [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)">
                <ng-template #rangeTemplate let-range="range" let-total>
                  {{ range[0] }}-{{ range[1] }} of {{totalElements}} items
                </ng-template>
              </nz-pagination>
              <!-- end phân trang  -->
            </div>
          </div>
        </div>
      </nz-card>
      <ng-template #tableCard1>
        <button type="button" class="btn btn-main" routerLink="../{{url}}">
          <i class="icon"></i>
          <span>Phê duyệt</span>
        </button>
        <button type="button" class="btn btn-main" routerLink="../{{url}}">
          <i class="icon htvbdh"></i>
          <span>Từ chối</span>
        </button>
        <button type="button" class="btn btn-main" routerLink="../{{url}}">
          <i class="icon htvbdh_dau-cong"></i>
          <span>Thêm</span>
        </button>
        <button type="button" class="btn btn-sub">
          <i class="icon htvbdh_chuyen-xu-ly"></i>
          <span>Đóng</span>
        </button>
      </ng-template>
    </div>
  </div>
</div>
