<nz-affix [nzOffsetTop]="98" class="level2">
    <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzSelected (click)="selectTab(0)">
            Tổng hợp đề xuất kế hoạch lựa chọn nhà thầu
        </li>
        <li nz-menu-item (click)="selectTab(1)">
            Đề xuất kế hoạch lựa chọn nhà thầu
        </li>
        <li nz-menu-item (click)="selectTab(2)">
            Quyết định phê duyệt kế hoạch lựa chọn nhà thầu
        </li>
    </ul>
</nz-affix>
<ng-container *ngIf="tabSelected == 0">
    <app-tong-hop-de-xuat-kh-ban-dau-gia [loaiVthh]="loaiVthh" [loaiVthhCache]="loaiVthh">
    </app-tong-hop-de-xuat-kh-ban-dau-gia>
</ng-container>
<ng-container *ngIf="tabSelected == 1">
    <app-de-xuat-kh-ban-dau-gia [loaiVthh]="loaiVthh"></app-de-xuat-kh-ban-dau-gia>
</ng-container>
<ng-container *ngIf="tabSelected == 2">
    <app-quyet-dinh-phe-duyet-kh-ban-dau-gia [loaiVthh]="loaiVthh"></app-quyet-dinh-phe-duyet-kh-ban-dau-gia>
</ng-container>


<!-- <nz-tabset id="selectedTab" nzType="card" class="mt-16 tab-level-2 no-scroll">
    <nz-tab [nzTitle]="title_tongHop" *ngIf="loaiVthh != '02'">
        <ng-template #title_tongHop>
            Đề xuất KH bán đấu giá
        </ng-template>
        <ng-template nz-tab>
            <app-de-xuat-kh-ban-dau-gia [loaiVthh]="loaiVthh"></app-de-xuat-kh-ban-dau-gia>
        </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="title_keHoach">
        <ng-template #title_keHoach>
            Tổng hợp đề xuất KH bán đấu giá
        </ng-template>
        <ng-template nz-tab>
            <app-tong-hop-de-xuat-kh-ban-dau-gia [loaiVthh]="loaiVthh" [loaiVthhCache]="loaiVthh">
            </app-tong-hop-de-xuat-kh-ban-dau-gia>
        </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="title_quyetDinh">
        <ng-template #title_quyetDinh>
            Quyết định phê duyệt KH bán đấu giá
        </ng-template>
        <ng-template nz-tab>
            <app-quyet-dinh-phe-duyet-kh-ban-dau-gia [loaiVthh]="loaiVthh"></app-quyet-dinh-phe-duyet-kh-ban-dau-gia>
        </ng-template>
    </nz-tab>
</nz-tabset> -->