<nz-affix [nzOffsetTop]="98" class="level2">
    <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzSelected (click)="selectTab(0)">
            Tổng hợp đề xuất kế hoạch lựa chọn nhà thầu
        </li>
        <li nz-menu-item (click)="selectTab(1)">
            Đề xuất kế hoạch lựa chọn nhà thầu
        </li>
        <li nz-menu-item (click)="selectTab(2)">
            Quyết định phê duyệt kế hoạch lựa chọn nhà thầu
        </li>
    </ul>
</nz-affix>
<ng-container *ngIf="tabSelected == 0">
    <app-tong-hop-de-xuat-kh-ban-dau-gia [loaiVthh]="loaiVthh" [loaiVthhCache]="loaiVthh">
    </app-tong-hop-de-xuat-kh-ban-dau-gia>
</ng-container>
<ng-container *ngIf="tabSelected == 1">
    <app-de-xuat-kh-ban-dau-gia [loaiVthh]="loaiVthh"></app-de-xuat-kh-ban-dau-gia>
</ng-container>
<ng-container *ngIf="tabSelected == 2">
    <app-quyet-dinh-phe-duyet-kh-ban-dau-gia [loaiVthh]="loaiVthh"></app-quyet-dinh-phe-duyet-kh-ban-dau-gia>
</ng-container>