<nz-affix class="menu-lv3" [nzOffsetTop]="43">
  <div class="tab-content tab-menu" id="myTabContent">
    <div class="tab-pane fade show active justify-content-between" id="banhanh" role="tabpanel"
      aria-labelledby="banhanh-tab">
      <div class="trai">
        <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="redirectChiTieuKeHoachNam()">
          <i class="fa fa-arrow-circle-left"></i>
        </a>
      </div>
      <div class="canphai phai">
        <button class="btn btn-main btn-sm waves-effect waves-light" (click)="luu()" [hidden]="statusBtnSave">
          <i class="icon htvbdh_tcdt_save"></i>
          <span>Lưu</span>
        </button>
        <button class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="onSubmit('2')"
          [hidden]="statusBtnApprove">
          <i class="icon htvbdh_tcdt_guiduyet"></i>
          <span>Trình duyệt</span>
        </button>
        <!-- <button class="btn btn-outline-grey btn-sm waves-effect waves-light">
          <i class="icon htvbdh_tcdt_pheduyet"></i>
          <span>Phê duyệt</span>
        </button>
        <a class="btn btn-outline-grey btn-sm waves-effect waves-light">
          <i class="icon htvbdh_tcdt_tuchoi"></i>
          <span>Từ chối</span>
        </a> -->
        <button class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="onSubmit('3')"
          [hidden]="statusBtnTBP">
          <i class="icon htvbdh_tcdt_pheduyet"></i>
          <span>Trưởng BP trả lại</span>
        </button>
        <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="onSubmit('4')" [hidden]="statusBtnTBP">
          <i class="icon htvbdh_tcdt_tuchoi"></i>
          <span>Trưởng BP phê duyệt</span>
        </a>
        <button class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="onSubmit('5')"
          [hidden]="statusBtnLD">
          <i class="icon htvbdh_tcdt_pheduyet"></i>
          <span>Lãnh đạo trả lại</span>
        </button>
        <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="onSubmit('6')" [hidden]="statusBtnLD">
          <i class="icon htvbdh_tcdt_tuchoi"></i>
          <span>Lãnh đạo duyệt</span>
        </a>
        <button class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="onSubmit('7')"
          [hidden]="statusBtnGuiDVCT">
          <i class="icon htvbdh_tcdt_guiduyet"></i>
          <span>Gửi duyệt</span>
        </button>
        <button class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="onSubmit('8')"
          [hidden]="statusBtnDVCT">
          <i class="icon htvbdh_tcdt_pheduyet"></i>
          <span>ĐV cấp trên trả lại</span>
        </button>
        <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="onSubmit('9')"
          [hidden]="statusBtnDVCT">
          <i class="icon htvbdh_tcdt_tuchoi"></i>
          <span>ĐV cấp trên duyệt</span>
        </a>
        <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="onSubmit('10')"
          [hidden]="statusBtnLDDC">
          <i class="icon htvbdh_tcdt_tuchoi"></i>
          <span>Điều chỉnh theo số kiểm tra </span>
        </a>
        <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="xoaBaoCao()" [hidden]="statusBtnDel">
          <i class="icon htvbdh_tcdt_delete"></i>
          <span>Xóa</span>
        </a>
        <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="doCopy()" [hidden]="statusBtnCopy">
          <i nz-icon nzType="copy" nzTheme="outline"></i>
          <span>Copy</span>
        </a>
        <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="doPrint()" [hidden]="statusBtnPrint">
          <i nz-icon nzType="printer" nzTheme="outline"></i>
          <span>In</span>
        </a>
        <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="redirectChiTieuKeHoachNam()">
          <i class="icon htvbdh_dong"></i>
          <span>Đóng</span>
        </a>
      </div>
    </div>
  </div>
</nz-affix>

<div class="contentBor chi-tieu__body">
  <div class="contentDetail">
    <div class="main-content">
      <nz-card nzTitle="Thông tin chung báo cáo" class="mt16 flex-card p-lr16">
        <div class="widget-body">
          <div>
            <nz-descriptions [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }" [nzColon]="false">
              <nz-descriptions-item nzTitle="Ngày nhập">
                {{ngayNhap}}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Người nhập" [nzSpan]="4">
                {{nguoiNhap}}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Đơn vị tạo">
                {{getUnitName()}}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Mã báo cáo">
                {{maBaoCao}}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Năm báo cáo hiện hành (N)">
                <ng-container *ngIf="status;else nbc">
                  {{namBaoCaoHienHanh}}
                </ng-container>
                <ng-template #nbc>
                  <input type="number" nz-input class="input__search"
                    [class]="namBaoCaoHienHanh >= 1000 &&  namBaoCaoHienHanh <= 2999 ?'' : 'input-error-validate'"
                    name="" id="" [(ngModel)]="namBaoCaoHienHanh" />
                </ng-template>
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Trạng thái">
                {{getStatusName()}}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Loại báo cáo">
                Nhu cầu kế hoạch ĐTXD 03 năm
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
      </nz-card>
      <div class="tab__container">
        <nz-tabset nzType="card" class="tab__container">
          <nz-tab [nzTitle]="'Nhu cầu kế hoạch ĐTXD 03 năm'">
            <div id="tablePrint">
            <ng-container *ngIf="status;else templateName">
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
                <div nz-col class="gutter-row" [nzSpan]="3">
                  Đơn vị:
                  <div *ngFor="let item of donViTiens">
                    <div *ngIf="item.id == maDviTien">
                      {{item.tenDm}}
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #templateName>
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
                <div nz-col class="gutter-row" [nzSpan]="3">
                  <!-- <div class="inner-box">Đơn vị: -->
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn đơn vị" [(ngModel)]="maDviTien"
                    [class]="maDviTien ?'' : 'input-error-validate' ">
                    <nz-option *ngFor="let item of donViTiens" [nzValue]="item.id" [nzLabel]="item.tenDm"></nz-option>
                  </nz-select>
                  <!-- </div> -->
                </div>
              </div>
            </ng-template>
            <nz-table #editRowTable nzBordered class="table__body" >
              <thead>
                <tr>
                  <th rowspan="4" style="width: 35px">STT</th>
                  <th rowspan="4">Tên dự án</th>
                  <th rowspan="4">Loại kế hoạch</th>
                  <th rowspan="4">Khối dự án</th>
                  <th rowspan="4">Địa điểm xây dựng</th>
                  <th rowspan="4">Địa điểm mở tài khoản</th>
                  <th rowspan="4">Mã số dự án</th>
                  <th rowspan="4">Mã ngành kinh tế (Loại, khoản)</th>
                  <th rowspan="4">Năng lực thiết kế</th>
                  <th colspan="2" style="width:20%">Năm KC-HT thực tế</th>
                  <th colspan="2" style="width:25%">Quyết định duyệt dự án đầu tư</th>
                  <th colspan="2" style="width:25%">Quyết định điều chỉnh DA (lần cuối)</th>
                  <th colspan="5">Quyết định duyệt thiết kế dự toán</th>
                  <th colspan="4">KL TH, cấp phát đến 30/06 năm thực hiện</th>
                  <th colspan="4">KL TH, cấp phát đến 31/12 năm thực hiện</th>
                  <th rowspan="4">Nhu cầu vốn năm N+1</th>
                  <th rowspan="4">Nhu cầu vốn năm N+2</th>
                  <th rowspan="4">Nhu cầu vốn năm N+3</th>
                  <th rowspan="4">Ghi chú: Ghi rõ công trình thuộc loại hoàn thành hay dự kiến hoàn thành</th>
                  <th colspan="3" rowspan="4" [hidden]="status"></th>
                  <th rowspan="4" [hidden]="status">
                    <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
                      [nzIndeterminate]="indeterminate">
                    </label>
                  </th>
                </tr>
                <tr>
                  <th rowspan="3">KC</th>
                  <th rowspan="3">HT</th>
                  <th rowspan="3">CQ duyệt, số, ngày tháng </th>
                  <th rowspan="3">Tổng vốn đầu tư</th>
                  <th rowspan="3">CQ duyệt, số, ngày tháng </th>
                  <th rowspan="3">Tổng vốn đầu tư</th>
                  <th rowspan="3">CQ duyệt, số, ngày tháng </th>
                  <th rowspan="3">Tổng</th>
                  <th colspan="3">Trong đó</th>
                  <th rowspan="3">CQ duyệt, số, ngày tháng</th>
                  <th colspan="3">Trong đó</th>
                  <th rowspan="3">CQ duyệt, số, ngày tháng</th>
                  <th colspan="3">Trong đó</th>
                </tr>
                <tr>
                  <th rowspan="2">XL</th>
                  <th rowspan="2">TB</th>
                  <th rowspan="2">CK</th>
                  <th rowspan="2">NSTT</th>
                  <th colspan="2">Khác</th>
                  <th rowspan="2">NSTT</th>
                  <th colspan="2">Khác</th>
                </tr>
                <tr>
                  <th>DT chi TX</th>
                  <th>Quỹ khác</th>
                  <th>DT chi TX</th>
                  <th>Quỹ khác</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>Tổng cộng</td>
                  <td></td>
                  <td></td>

                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td>{{tongqdDuyetDanDtuTongVon}}</td>
                  <td></td>
                  <td>{{tongqdDchinhDanDtuTongVon}}</td>
                  <td></td>

                  <td>{{tongqdDuyetTkDtoanTong}}</td>
                  <td>{{tongqdDuyetTkDtoanXl}}</td>
                  <td>{{tongqdDuyetTkDtoanTb}}</td>
                  <td>{{tongqdDuyetTkDtoanCk}}</td>

                  <td></td>
                  <td>{{tongklthCapDen3006Nstt}}</td>
                  <td>{{tongklthCapDen3006DtoanChiTx}}</td>
                  <td>{{tongklthCapDen3006Quykhac}}</td>

                  <td></td>
                  <td>{{tongklthCapDen3112Nstt}}</td>
                  <td>{{tongklthCapDen3112DtoanChiTx}}</td>
                  <td>{{tongklthCapDen3112Quykhac}}</td>

                  <td>{{tongncauVonN1}}</td>
                  <td>{{tongncauVonN2}}</td>
                  <td>{{tongncauVonN3}}</td>
                  <td></td>

                  <td [hidden]="status"></td>
                  <td [hidden]="status"></td>
                  <td [hidden]="status"></td>
                  <td [hidden]="status"></td>
                </tr>
                <tr *ngFor="let data of lstCTietBCao; let i = index">
                  <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.tenDan }}</td>
                    <td>
                      <div *ngFor="let item of maLoaiKhoachs">
                        <div *ngIf="item.id == data.maKhoach">
                          {{item.tenDm}}
                        </div>
                      </div>
                    </td>
                    <td>
                      <div *ngFor="let item of maKhoiDans">
                        <div *ngIf="item.id == data.maKhoiDan">
                          {{item.tenDm}}
                        </div>
                      </div>
                    </td>
                    <td>
                      <div *ngFor="let item of maDdiemXdungs">
                        <div *ngIf="item.id == data.maDdiemXd">
                          {{item.tenDm}}
                        </div>
                      </div>
                    </td>
                    <td>{{ data.ddiemMoTaikhoan }}</td>
                    <td>{{ data.masoDan }}</td>
                    <td>
                      <div *ngFor="let item of maNganhKtes">
                        <div *ngIf="item.id == data.maNganhKte">
                          {{item.tenDm}}
                        </div>
                      </div>
                    </td>
                    <td>{{ data.nlucTke }}</td>
                    <td>{{ data.namKcTte }}</td>
                    <td>{{ data.namHtTte }}</td>
                    <td>{{ data.qdDuyetDanDtuSongaythang }}</td>
                    <td>{{ data.qdDuyetDanDtuTongVon }}</td>
                    <td>{{ data.qdDchinhDanDtuSongaythang }}</td>
                    <td>{{ data.qdDchinhDanDtuTongVon }}</td>
                    <td>{{ data.qdDuyetTkDtoanSongaythang }}</td>
                    <td>{{ data.qdDuyetTkDtoanTong }}</td>
                    <td>{{ data.qdDuyetTkDtoanXl }}</td>
                    <td>{{ data.qdDuyetTkDtoanTb }}</td>
                    <td>{{ data.qdDuyetTkDtoanCk }}</td>
                    <td>{{ data.klthCapDen3006Songaythang }}</td>
                    <td>{{ data.klthCapDen3006Nstt }}</td>
                    <td>{{ data.klthCapDen3006DtoanChiTx }}</td>
                    <td>{{ data.klthCapDen3006Quykhac }}</td>
                    <td>{{ data.klthCapDen3112Songaythang }}</td>
                    <td>{{ data.klthCapDen3112Nstt }}</td>
                    <td>{{ data.klthCapDen3112DtoanChiTx }}</td>
                    <td>{{ data.klthCapDen3112Quykhac }}</td>
                    <td>{{ data.ncauVonN1 }}</td>
                    <td>{{ data.ncauVonN2 }}</td>
                    <td>{{ data.ncauVonN3 }}</td>
                    <td>{{ data.ghiChu }}</td>
                    <td [hidden]="status">
                      <i class="fa fa-trash-o do" (click)="deleteById(data.id)"></i>
                    </td>
                    <td [hidden]="status">
                      <i class="fa fa-pencil" (click)="startEdit(data.id)"></i>
                    </td>
                    <td [hidden]="status">
                      <i class="fa fa-plus" (click)="addLine(i + 1)"></i>
                    </td>
                    <td [hidden]="status">
                      <label nz-checkbox [nzValue]="data.id" [(ngModel)]="data.checked"
                        (ngModelChange)="updateSingleChecked()"></label>
                    </td>

                  </ng-container>
                  <ng-template #editTemplate>
                    <td>{{ i + 1 }}</td>
                    <td>
                      <input class="search__input" nz-input [(ngModel)]="editCache[data.id].data.tenDan"
                        [class]="editCache[data.id].data.tenDan ?'' : 'input-error-validate' " />
                    </td>
                    <td>
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn loại kế hoạch"
                        [class]="editCache[data.id].data.maKhoach ?'' : 'input-error-validate' "
                        [(ngModel)]="editCache[data.id].data.maKhoach">
                        <nz-option *ngFor="let item of maLoaiKhoachs" [nzValue]="item.id" [nzLabel]="item.tenDm">
                        </nz-option>
                      </nz-select>
                    </td>
                    <td>
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn khối dự án"
                        [class]="editCache[data.id].data.maKhoiDan ?'' : 'input-error-validate' "
                        [(ngModel)]="editCache[data.id].data.maKhoiDan">
                        <nz-option *ngFor="let item of maKhoiDans" [nzValue]="item.id" [nzLabel]="item.tenDm">
                        </nz-option>
                      </nz-select>
                    </td>
                    <td>
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn địa điểm xây dựng"
                        [class]="editCache[data.id].data.maDdiemXd ?'' : 'input-error-validate' "
                        [(ngModel)]="editCache[data.id].data.maDdiemXd">
                        <nz-option *ngFor="let item of maDdiemXdungs" [nzValue]="item.id" [nzLabel]="item.tenDm">
                        </nz-option>
                      </nz-select>
                    </td>
                    <td>
                      <input class="search__input" nz-input [(ngModel)]="editCache[data.id].data.ddiemMoTaikhoan"
                        [class]="editCache[data.id].data.ddiemMoTaikhoan ?'' : 'input-error-validate' " />
                    </td>
                    <td>
                      <input class="search__input" nz-input [(ngModel)]="editCache[data.id].data.masoDan"
                        [class]="editCache[data.id].data.masoDan ?'' : 'input-error-validate' " />
                    </td>
                    <td>
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn ngành kinh tế"
                        [class]="editCache[data.id].data.maNganhKte ?'' : 'input-error-validate' "
                        [(ngModel)]="editCache[data.id].data.maNganhKte">
                        <nz-option *ngFor="let item of maNganhKtes" [nzValue]="item.id" [nzLabel]="item.tenDm">
                        </nz-option>
                      </nz-select>
                    </td>
                    <td>
                      <input class="search__input" nz-input [(ngModel)]="editCache[data.id].data.nlucTke"
                        [class]="editCache[data.id].data.nlucTke ?'' : 'input-error-validate' " />
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small" [nzMin]="0"
                        [(ngModel)]="editCache[data.id].data.namKcTte"
                        >
                      </nz-input-number>
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small" [nzMin]="0"
                        [(ngModel)]="editCache[data.id].data.namHtTte"
                        >
                      </nz-input-number>
                    </td>
                    <td>
                      <input class="search__input" nz-input
                        [class]="editCache[data.id].data.qdDuyetDanDtuSongaythang ?'' : 'input-error-validate' "
                        [(ngModel)]="editCache[data.id].data.qdDuyetDanDtuSongaythang" />
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.qdDuyetDanDtuTongVon"
                        [class]="editCache[data.id].data.qdDuyetDanDtuTongVon || editCache[data.id].data.qdDuyetDanDtuTongVon ===0 ?'' : 'input-error-validate' ">
                      </nz-input-number>
                    </td>
                    <td>
                      <input class="search__input" nz-input
                        [(ngModel)]="editCache[data.id].data.qdDchinhDanDtuSongaythang" />
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.qdDchinhDanDtuTongVon">
                      </nz-input-number>
                    </td>
                    <td>
                      <input class="search__input" nz-input
                        [class]="editCache[data.id].data.qdDuyetTkDtoanSongaythang ?'' : 'input-error-validate' "
                        [(ngModel)]="editCache[data.id].data.qdDuyetTkDtoanSongaythang" />
                    </td>
                    <td>
                      {{editCache[data.id].data.qdDuyetTkDtoanTong}}
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.qdDuyetTkDtoanXl"
                        [class]="editCache[data.id].data.qdDuyetTkDtoanXl || editCache[data.id].data.qdDuyetTkDtoanXl ===0 ?'' : 'input-error-validate' "
                        (change)="changeModel(data.id)">
                      </nz-input-number>
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.qdDuyetTkDtoanTb"
                        [class]="editCache[data.id].data.qdDuyetTkDtoanTb || editCache[data.id].data.qdDuyetTkDtoanTb ===0 ?'' : 'input-error-validate' "
                        (change)="changeModel(data.id)">
                      </nz-input-number>
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.qdDuyetTkDtoanCk"
                        [class]="editCache[data.id].data.qdDuyetTkDtoanCk || editCache[data.id].data.qdDuyetTkDtoanCk ===0 ?'' : 'input-error-validate' "
                        (change)="changeModel(data.id)">
                      </nz-input-number>
                    </td>
                    <td>
                      <input class="search__input" nz-input
                        [class]="editCache[data.id].data.klthCapDen3006Songaythang ?'' : 'input-error-validate' "
                        [(ngModel)]="editCache[data.id].data.klthCapDen3006Songaythang" />
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.klthCapDen3006Nstt"
                        [class]="editCache[data.id].data.klthCapDen3006Nstt || editCache[data.id].data.klthCapDen3006Nstt ===0 ?'' : 'input-error-validate' ">
                      </nz-input-number>
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.klthCapDen3006DtoanChiTx"
                        [class]="editCache[data.id].data.klthCapDen3006DtoanChiTx || editCache[data.id].data.klthCapDen3006DtoanChiTx ===0 ?'' : 'input-error-validate' ">
                      </nz-input-number>
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.klthCapDen3006Quykhac"
                        [class]="editCache[data.id].data.klthCapDen3006Quykhac || editCache[data.id].data.klthCapDen3006Quykhac ===0 ?'' : 'input-error-validate' ">
                      </nz-input-number>
                    </td>
                    <td>
                      <input class="search__input" nz-input
                        [class]="editCache[data.id].data.klthCapDen3112Songaythang ?'' : 'input-error-validate' "
                        [(ngModel)]="editCache[data.id].data.klthCapDen3112Songaythang" />
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.klthCapDen3112Nstt"
                        [class]="editCache[data.id].data.klthCapDen3112Nstt || editCache[data.id].data.klthCapDen3112Nstt ===0 ?'' : 'input-error-validate' ">
                      </nz-input-number>
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.klthCapDen3112DtoanChiTx"
                        [class]="editCache[data.id].data.klthCapDen3112DtoanChiTx || editCache[data.id].data.klthCapDen3112DtoanChiTx ===0 ?'' : 'input-error-validate' ">
                      </nz-input-number>
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.klthCapDen3112Quykhac"
                        [class]="editCache[data.id].data.klthCapDen3112Quykhac || editCache[data.id].data.klthCapDen3112Quykhac ===0 ?'' : 'input-error-validate' ">
                      </nz-input-number>
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.ncauVonN1"
                        [class]="editCache[data.id].data.ncauVonN1 || editCache[data.id].data.ncauVonN1 ===0 ?'' : 'input-error-validate' ">
                      </nz-input-number>
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.ncauVonN2"
                        [class]="editCache[data.id].data.ncauVonN2 || editCache[data.id].data.ncauVonN2 ===0 ?'' : 'input-error-validate' ">
                      </nz-input-number>
                    </td>
                    <td>
                      <nz-input-number class="search__input" nzSize="small"
                        [(ngModel)]="editCache[data.id].data.ncauVonN3"
                        [class]="editCache[data.id].data.ncauVonN3 || editCache[data.id].data.ncauVonN3 ===0 ?'' : 'input-error-validate' ">
                      </nz-input-number>
                    </td>
                    <td>
                      <input class="search__input" nz-input [(ngModel)]="editCache[data.id].data.ghiChu"
                        [class]="editCache[data.id].data.ghiChu ?'' : 'input-error-validate' " />
                    </td>
                    <td [hidden]="status">
                      <i class="fa fa-trash-o do" (click)="deleteById(data.id)"></i>
                    </td>
                    <td>
                      <a (click)="saveEdit(data.id)" class="save">Lưu</a>
                      <a nz-popconfirm nzPopconfirmTitle="Bạn có chắc muốn hủy thao tác này?"
                        (nzOnConfirm)="cancelEdit(data.id)" class="save">Hủy</a>
                    </td>
                    <td [hidden]="status">
                      <i class="fa fa-plus" (click)="addLine(i + 1)"></i>
                    </td>
                    <td [hidden]="status">
                      <label nz-checkbox [nzValue]="data.id" [(ngModel)]="data.checked"
                        (ngModelChange)="updateSingleChecked()"></label>
                    </td>
                  </ng-template>
                </tr>
              </tbody>
            </nz-table>
          </div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
              <div nz-col class="gutter-row" [nzSpan]="3">
                Danh sách văn bản đính kèm
                <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [hidden]="status">
                  <button nz-button >
                    <i nz-icon nzType="upload"></i>
                    Select File
                  </button>
                </nz-upload>
                <button nz-button [nzType]="'primary'" (click)="handleUpload()" [disabled]="fileList.length === 0"
                  style="margin-top: 16px" [hidden]="status">
                  Thêm vào danh sách
                </button>
              </div>
            </div>

            <nz-table #editRowTable [nzData]="lstCTietBCao" nzBordered class="table__body" style="width: 600px">
              <thead>
                <tr>
                  <th nzWidth="50">STT</th>
                  <th nzWidth="170px">Tên file</th>
                  <th nzWidth="150px"></th>
                  <th nzWidth="150px"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of lstFile; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ data.fileName }}</td>
                  <td>
                    <button class="btn btn-function" (click)="downloadFile(data.id)">Xem</button>
                  </td>
                  <td [hidden]="status">
                    <button class="btn btn-function" (click)="deleteFile(data.id)">Xóa</button>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>
        </nz-tabset>
        <div class="action">
          <button type="button" class="btn btn-main" (click)="deleteSelected()" [hidden]="status">
            <i class="fa fa-trash-o"></i>
            <span>Xóa</span>
          </button>
          <button type="button" class="btn btn-main" (click)="addLine(lstCTietBCao.length)" [hidden]="status">
            <i class="icon htvbdh_dau-cong"></i>
            <span>Thêm</span>
          </button>
          <button type="button" class="btn btn-sub" [hidden]="status">
            <i class="icon htvbdh_tcdt_import"></i>
            <span>Import</span>
          </button>
          <!-- <button type="button" class="btn btn-sub">
            <i class="icon htvbdh_chuyen-xu-ly"></i>
            <span>Export</span>
          </button> -->
          <!-- <button type="button" class="btn btn-sub" (click)="handleOpenModal('luaChonIn')">
            <i class="icon htvbdh_tcdt_print"></i>
            <span>In</span>
          </button> -->
        </div>
      </div>
      <div class="ghi-chu">
        <nz-form-label nzRequired [nzNoColon]="true">
          Ghi chú
        </nz-form-label>
        <ul>
          <li class="ghi-chu__item">
            Công văn xin ý kiến khảo sát xây dựng CSDL về Tài chính Công văn xin ý kiến khảo sát xây dựng CSDL về Tài
            chính Công văn xin ý kiến khảo sát xây dựng CSDL về Tài chính Công văn xin ý kiến khảo sát xây dựng CSDL về
            Tài chính Công văn xin ý kiến khảo sát xây dựng CSDL về Tài chính Công văn xin ý kiến khảo sát xây dựng CSDL
            về Tài chính Công văn xin ý kiến khảo sát xây dựng CSDL về Tài chính Công văn xin ý kiến khảo sát xây dựng
            CSDL về Tài chính Công văn xin ý kiến khảo sát xây dựng CSDL về Tài chính Công văn xin ý kiến khảo sát xây
            dựng CSDL về Tài chính
          </li>
          <li class="ghi-chu__item">
            Quyết định về việc phê duyệt kế hoạch lựa chọn nhà thầu cung cấp gạo nhập kho dự trữ quốc gia kế hoạch năm
            2022
          </li>
          <li class="ghi-chu__item">
            Quyết định về việc phê duyệt kế hoạch lựa chọn nhà thầu cung cấp gạo nhập kho dự trữ quốc gia kế hoạch năm
            2022
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<!-- <app-lua-chon-in [(isVisible)]="modals.luaChonIn"></app-lua-chon-in>

<app-thong-tin-luong-thuc [(isVisible)]="modals.thongTinLuongThuc"></app-thong-tin-luong-thuc>

<app-thong-tin-vat-tu-trong-nam [(isVisible)]="modals.thongTinVatTuTrongNam"></app-thong-tin-vat-tu-trong-nam> -->
