.ant-table-wrapper {
  margin-top: 0px !important;
  width: 100%;
}

.align-right {
  text-align: right;
}

.title-popup {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  margin-bottom: 10px;
}