mat-dialog-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.dialog-header {
    display: flex;
    justify-content: space-between;

    mat-icon {
        cursor: pointer;
    }

    .mat-dialog-title {
        font-family: Arial, Serif, Sans-serif, cursive, fantasy, Monospace;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        margin: 0;
        padding-right: 40px;
    }
}
