<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
        <h3 *ngIf="isTongHop" class="text-uppercase">
          Tổng hợp kế hoạch xuất hàng vật tư, thiết bị có thời hạn lưu kho lớn hơn 12 tháng của toàn tổng cục
        </h3>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sub mr-2" (click)="quayLai()" *ngIf="!isViewQd">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>
      <button *ngIf='idInput' type='button' class='btn btn-sub mr-2' (click)='preview(idInput)'>
        <i class='icon htvbdh_totrinh'></i>
        <span> In/Xem trước </span>
      </button>
      <button type="button" class="btn btn-sub xanh-nhat mr-2"
              *ngIf="isTongHop && idInput && formData.value.trangThai == STATUS.CHUATAO_KH"
              (click)="openTongHop()">
        <i class="icon htvbdh_tcdt_tao-qd"></i>
        <span>Tạo KH xuất hàng</span>
      </button>
      <button type="button" class="btn btn-sub xanh mr-2" (click)="save()"
              *ngIf="(!isViewDetail && isTongHop && formData.value.trangThai != STATUS.DAGUIDUYET_KH) ">
        <i class="icon htvbdh_tcdt_save"></i>
        <span>Lưu</span>
      </button>
    </div>
  </div>
  <nz-alert class="mg-t-16"
            *ngIf="formData.value.trangThai == STATUS.TU_CHOI_LDV || formData.value.trangThai == STATUS.TU_CHOI_LDTC "
            nzShowIcon nzType="error"
            nzMessage="Lý do từ chối" nzDescription="{{formData.value.lyDoTuChoi}}">
  </nz-alert>
  <nz-card class="mt16 flex-card p-lr16">
    <form [nzLayout]="'vertical'" nz-form [formGroup]="formData">
      <div nz-row [nzGutter]="20">
        <div nz-col nzSpan="4">
          <nz-form-label>Năm kế hoạch</nz-form-label>
          <nz-form-control [nzErrorTip]="error">
            <nz-select [nzDisabled]="idInput > 0" formControlName="namKeHoach"
                       nzAllowClear>
              <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </div>
        <div nz-col nzSpan="4">
          <nz-form-item class="form-item">
            <nz-form-label>Loại hàng DTQG</nz-form-label>
            <nz-select formControlName="loaiVthh" nzShowSearch nzAllowClear>
              <nz-option *ngFor="let p of dsLoaiVthh" [nzValue]="p.ma" [nzLabel]="p.ten"></nz-option>
            </nz-select>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="4">
          <nz-form-item class="form-item">
            <nz-form-label [nzNoColon]="true">Thời gian tổng hợp
            </nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-date-picker [nzDisabled]="true" formControlName="thoiGianTh"
                              nzFormat="dd/MM/yyyy HH:mm:ss"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="cangiua group-button-search">
        <button *ngIf="userService.isTongCuc() && !idInput " type="button" class="btn btn-main" (click)="tongHop()">
          <i nz-icon nzType="area-chart" nzTheme="outline"></i>
          <span>Tổng hợp kế hoạch xuất hàng của toàn Tổng cục</span>
        </button>
      </div>
    </form>
  </nz-card>
  <nz-card class="mt16 flex-card p-lr16 mg-t-10" *ngIf="isTongHop">
    <nz-collapse nzAccordion>
      <nz-collapse-panel [nzHeader]="'THÔNG TIN CHUNG'" [nzActive]="true">
        <form [nzLayout]="'vertical'" [formGroup]="formData" nz-form>
          <div nz-row [nzGutter]="20">
            <div nz-col nzSpan="4">
              <nz-form-item class="form-item">
                <nz-form-label [nzNoColon]="true">Mã tổng hợp
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group>
                    <input formControlName="id" readonly type="text" nz-input size="small"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4">
              <nz-form-item class="form-item">
                <nz-form-label [nzNoColon]="true">Thời gian tổng hợp
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-date-picker [nzDisabled]="true" formControlName="thoiGianTh"
                                  nzFormat="dd/MM/yyyy HH:mm:ss"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="16">
              <nz-form-item class="form-item">
                <nz-form-label nzRequired [nzNoColon]="true">Nội dung tổng hợp
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error">
              <textarea [readonly]="isViewDetail" formControlName="noiDungTh" rows="3" class="search__input"
                        nz-input></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse nzAccordion>
      <nz-collapse-panel [nzHeader]="'THÔNG TIN CHI TIẾT ĐỀ XUẤT CỦA CÁC CỤC DTNN KV'" [nzActive]="true">
        <nz-card class="mt-2px flex-card data-table card-border-content table-card">
          <nz-table nzBordered [nzData]="listDxCuc" class="mt-2" [nzFrontPagination]="false"
                    [nzShowPagination]="false">
            <tbody>
            <tr class="header-row">
              <th class="text-left" width="50px">STT</th>
              <th class="text-left">Cuc DTNN KV</th>
              <th class="text-left" width="200px">Số ĐV tài sản</th>
              <th class="text-left" width="200px">Trạng thái</th>
            </tr>
            <tr *ngFor="let data of listDxCuc; let idx = index">
              <td>{{(page - 1) * pageSize + idx +
              1}}</td>
              <td>{{ data.tenDvi }} </td>
              <td>{{ data.soDviTaiSan }}</td>
              <td>{{ data.tenTrangThai }}</td>
            </tr>
            </tbody>
          </nz-table>
        </nz-card>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse nzAccordion>
      <nz-collapse-panel [nzHeader]="'CHI TIẾT KẾ HOẠCH'" [nzActive]="true">
        <form nz-form nzLayout="vertical" [formGroup]="formData">
          <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-control [nzErrorTip]="error">
                  <nz-form-label nzRequired [nzNoColon]="true" class="label-color-kh"> Thời gian dự kiến xuất hàng
                  </nz-form-label>
                  <nz-range-picker [nzDisabled]="isViewDetail" formControlName="thoiGianDuKienXuat"
                                   nzFormat="dd/MM/yyyy"></nz-range-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-control [nzErrorTip]="error">
                  <nz-form-label nzRequired [nzNoColon]="true" class="label-color-kh"> Số công văn/trờ trình của Cục
                  </nz-form-label>
                  <nz-form-control [nzErrorTip]="error">
                    <input class="search__input" [readonly]="true" nz-input formControlName="listSoKeHoachs"
                           readonly/>
                  </nz-form-control>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
        <h3 class="text-uppercase mt-4">Tổng hợp dữ liệu xuất khác theo chi cục</h3>
        <nz-card class="mt-2px flex-card data-table card-border-content table-card">
          <nz-table #tblData [nzData]="listKeHoachDtlTreeByChiCuc" class="nowrap table-chi-tiet" nzBordered>
            <thead>
            <tr>
              <th class="text-center">STT</th>
              <th>Chi cục DTNN KV</th>
              <th>Loại hàng DTQG</th>
              <th>Chủng loại hàng DTQG</th>
              <th>Điểm kho</th>
              <th>Ngăn/lô kho</th>
              <th>Ngày nhập kho</th>
              <th>SL hết hạn (12 tháng) <br/> đề xuất xuất bán</th>
              <th>SL tồn</th>
              <th>ĐVT</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of tblData.data, let i = index;">
              <tr>
                <td (nzExpandChange)="onExpandStringChange(item.idVirtual, $event)"
                    [nzExpand]="expandSetStringCuc.has(item.idVirtual)" nzShowExpand="true" style="width: 40px">
                </td>
                <td style="font-weight: bold">{{item.tenChiCuc}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <ng-container *ngIf="expandSetStringCuc.has(item.idVirtual) && expandSetStringCuc.has(item.idVirtual)">
                <ng-container *ngFor="let lv1 of item.childData,let i1=index">
                  <tr>
                    <td style="text-align: right;">{{i1 + 1}}</td>
                    <td></td>
                    <td>{{lv1.tenLoaiVthh}}</td>
                    <td>{{lv1.tenCloaiVthh}}</td>
                    <td>{{lv1.tenDiemKho}}</td>
                    <td>{{lv1.tenLoKho ? lv1.tenLoKho : lv1.tenNganKho}}</td>
                    <td>{{lv1.ngayNhapKho|date:globals.dateFormat}}</td>
                    <td>{{lv1.slHetHan|number:globals.numberFormat}}</td>
                    <td>{{lv1.slTonKho|number:globals.numberFormat}}</td>
                    <td>{{lv1.donViTinh}}</td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
            </tbody>
          </nz-table>
        </nz-card>
        <h3 class="text-uppercase mt-4">Tổng hợp dữ liệu xuất khác theo loại, chủng loại hàng hóa</h3>
        <nz-card class="mt-2px flex-card data-table card-border-content table-card">
          <nz-table #tblDataByLoaiVthh [nzData]="listKeHoachDtlTreeByVthh" class="nowrap table-chi-tiet" nzBordered>
            <thead>
            <tr>
              <th class="text-center">STT</th>
              <th>Loại hàng DTQG</th>
              <th>Chủng loại hàng DTQG</th>
              <th>Điểm kho</th>
              <th>Ngăn/lô kho</th>
              <th>Ngày nhập kho</th>
              <th>SL hết hạn (12 tháng) <br/> đề xuất xuất bán</th>
              <th>SL tồn</th>
              <th>ĐVT</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of tblDataByLoaiVthh.data, let i = index;">
              <tr>
                <td (nzExpandChange)="onExpandStringChangeVthh(item.idVirtual, $event)"
                    [nzExpand]="expandSetStringLoaiVthh.has(item.idVirtual)" nzShowExpand="true" style="width: 40px">
                </td>
                <td style="font-weight: bold">{{item.tenLoaiVthh}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <ng-container
                *ngIf="expandSetStringLoaiVthh.has(item.idVirtual) && expandSetStringLoaiVthh.has(item.idVirtual)">
                <ng-container *ngFor="let lv1 of item.childData,let i1=index">
                  <tr>
                    <td></td>
                    <td></td>
                    <td>{{lv1.tenCloaiVthh}}</td>
                    <td>{{lv1.tenDiemKho}}</td>
                    <td>{{lv1.tenLoKho ? lv1.tenLoKho : lv1.tenNganKho}}</td>
                    <td>{{lv1.ngayNhapKho|date:globals.dateFormat}}</td>
                    <td>{{lv1.slHetHan|number:globals.numberFormat}}</td>
                    <td>{{lv1.slTonKho|number:globals.numberFormat}}</td>
                    <td>{{lv1.donViTinh}}</td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
            </tbody>
          </nz-table>
        </nz-card>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>
</div>
<ng-template #error let-control>
  <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
  </ng-container>
</ng-template>
<nz-modal [(nzVisible)]='showDlgPreview' nzTitle='THÔNG TIN TỔNG HỢP KẾ HOẠCH XUẤT HÀNG' nzWidth='100%'
          (nzOnCancel)='closeDlg()'>
  <div *nzModalContent class='modal__content'>
    <pdf-viewer [src]='pdfSrc' [render-text]='true' style='width: 100%; height: 650px;'></pdf-viewer>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)='printPreview()'
            class='modal__button--save'>
      <i class='icon htvbdh_printer'></i>
      In
    </button>
    <button nz-button (click)='downloadPdf()'
            class='modal__button--save'>
      <i class='icon htvbdh_file-pdf'></i>
      Xuất .pdf
    </button>
    <button nz-button (click)='downloadWord()'
            class='modal__button--save'>
      <i class='icon htvbdh_file-word'></i>
      Xuất .docx
    </button>
    <button nz-button (click)='closeDlg()' class='modal__button--cancel'>
      <i nz-icon nzType='close-circle' nzTheme='fill' class='icon-cancel'></i>
      Đóng
    </button>
  </div>
</nz-modal>
