::ng-deep {
  .hh__container {
    .ant-card-body {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }
  }
  .title-form-chi-tiet {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
  }
  .text-title-specical {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }
  .table-ket-qua .ant-table-wrapper {
    margin: 0 !important;
  }
}
