.disabled-node {
  color: gray;
  /* hoặc bất kỳ kiểu CSS bạn muốn để hiển thị trạng thái vô hiệu hóa */
  cursor: not-allowed;
  /* Để cho thấy rằng node không thể click */
}

.custom-node {
  cursor: pointer;
  line-height: 24px;
  margin-left: 4px;
  display: inline-block;
}

.white-space-break tbody tr td {
  white-space: break-spaces !important;
  min-width: 250px;
}