<div class="contentBor luong-dau-thau-gao__body">
  <div class="contentDetail">
    <div class="main-content">
      <nz-card nzTitle="Tìm kiếm" class="mt16 flex-card p-lr16">
        <div class="search__body" nz-row [nzGutter]="[18, 6]">
          <div nz-col nzSpan="6">
            <label class="search__label">Loại hàng </label>
            <nz-select nzPlaceHolder="Loại hàng DTQG" [(ngModel)]="searchFilter.loaiVthh" nzDisabled>
              <nz-option *ngFor="let p of listVthh" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="6">
            <label class="search__label"> Năm kế hoạch </label>
            <nz-select [(ngModel)]="searchFilter.namKh">
              <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="6">
            <label class="search__label">Số quyết định</label>
            <input class="search__input" placeholder="Nhập số quyết định" nz-input [(ngModel)]="searchFilter.soQd" />
          </div>
          <div nz-col nzSpan="6">
            <label class="search__label">Ngày tạo quyết định</label>
            <nz-range-picker [(ngModel)]="searchFilter.ngayQd" nzFormat="dd/MM/yyyy"></nz-range-picker>
          </div>
        </div>
        <div class="cangiua group-button-search">
          <button nz-button class="search__button--search" (click)="search()">
            <i nz-icon nzType="search"></i>
            Tìm kiếm
          </button>
          <button nz-button class="search__button--clear" (click)="clearFilter()">
            <i nz-icon nzType="close"></i>
            Xóa điều kiện
          </button>
        </div>
      </nz-card>
      <div class="tab__container">
        <nz-card nzTitle="Thông tin quyết định phê duyệt kế hoạch lựa chọn nhà thầu" [nzExtra]="tableCard1"
          class="mt16 flex-card p-lr16">
          <nz-table #basicTable class="nowrap" [nzData]="dataTable" [nzFrontPagination]="false"
            [nzShowPagination]="false">
            <thead>
              <tr>
                <th width="30px">STT</th>
                <th>Số quyết định</th>
                <th>Ngày quyết định</th>
                <th>Về việc</th>
                <th>Số gói thầu</th>
                <th>Tổng giá trị</th>
                <th width="30px" class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data; let i = index">
                <td class="text-center">{{(page-1)*pageSize+i+1}}</td>
                <td>{{ data.soQd }}</td>
                <td>{{ data.ngayQd | date: 'dd/MM/YYYY' }}</td>
                <td>{{ data.veViec }}</td>
                <td>{{ data.children1.length }}</td>
                <td>{{ data.children1.length }}</td>
                <td class="text-center">
                  <a (click)="redirectToChiTiet(data.id)">
                    <i class="fa fa-eye"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="tab-content tab-menu" id="myTabContent">
            <div class="tab-pane fade show active justify-content-between">
              <div class="trai">
              </div>
              <div class="canphai">
                <!-- begin phân trang  -->
                <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord" nzShowSizeChanger
                  [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="changePageIndex($event)"
                  (nzPageSizeChange)="changePageSize($event)">
                  <ng-template #rangeTemplate let-range="range" let-total>
                    {{ range[0] }}-{{ range[1] }} of {{ total }} items
                  </ng-template>
                </nz-pagination>
                <!-- end phân trang  -->
              </div>
            </div>
          </div>
        </nz-card>
        <ng-template #tableCard1>
          <button type="button" class="btn btn-sub">
            <i class="icon htvbdh_chuyen-xu-ly"></i>
            <span>Export</span>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>