::ng-deep {
  .donvi__input {
    margin-bottom: 0px !important;
  }

  .form__dm-dung-chung {
    .ant-col {
      padding: 0px 8px !important;
    }
  }

  .paging-phan-quyen {
    padding: 0px !important;

    .pagination-card li:first-child {
      left: 3% !important
    }

    .ant-pagination-options {
      margin-right: -5px !important;
    }

    .ant-pagination {
      padding: 0px !important;
    }
  }

  table {
    background: #fff;
  }
}




.canphai {
  button.btn.btn-outline-grey {
    margin: 0px !important;
  }
}

.title-phan-quyen {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px !important;
}

.title-phan-he {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px !important;
  width: 22%;
}

.border-pq {
  border: 0.5px solid #D9D9D9;
  padding: 8px;
}

.phan-he-option {
  width: 78%;
  margin-bottom: 12px;
}


.selectedRow {
  td {
    background: #d8dcfe !important;
  }
}