<form nz-form [formGroup]="formGroup" [nzLayout]="'vertical'">
  <div nz-row [nzGutter]="24" *ngIf="detail == undefined">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
      <nz-form-item>
        <nz-form-label>Nhóm cấu hình</nz-form-label>
        <nz-form-control>
          <nz-input-group nzSize="large" [nzSuffix]="suffixIcon" class="search__input autocomplete__input">
            <input placeholder="Đơn vị" nz-input formControlName="dvql" (input)="onInput($event)"
              [nzAutocomplete]="auto" />
          </nz-input-group>
        </nz-form-control>
        <ng-template #suffixIcon>
          <i nz-icon nzType="search"></i>
        </ng-template>
        <nz-autocomplete #auto>
          <nz-auto-option *ngFor="let option of options" [nzValue]="option.labelDonVi">{{ option.labelDonVi }}
          </nz-auto-option>
        </nz-autocomplete>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
      <nz-form-item>
        <nz-form-label nzRequired>Mã cấu hình</nz-form-label>
        <nz-form-control nzErrorTip="Kiểu xác thực bắt buộc!">
          <input type="text" nz-input formControlName="paramId" />

        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
      <nz-form-item>
        <nz-form-label nzRequired>Tên cấu hình</nz-form-label>
        <nz-form-control nzErrorTip="Kiểu xác thực bắt buộc!">
          <input type="text" nz-input formControlName="paramName" />

        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
      <nz-form-item>
        <nz-form-label nzRequired>Giá trị</nz-form-label>
        <nz-form-control nzErrorTip="Kiểu xác thực bắt buộc!">
          <input type="text" nz-input formControlName="paramValue" />

        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="status">
            <label nz-radio nzValue="01">Mở</label>
            <label nz-radio nzValue="00">Khóa</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
      <nz-form-item>
        <nz-form-label>Mô tả</nz-form-label>
        <nz-form-control>

          <textarea rows="3" formControlName="description" nz-input></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="m-footer">
      <div class="nut">
        <div class="cantrai">
        </div>
        <div class="canphai">
          <a class="btn btn-outline-grey btn-sm waves-effect waves-light active" (click)="themmoi()" *ngIf="userService.isAccessPermisson('QTDM_DM_DUNG_CHUNG_THEM')">
            <i class="icon htvbdh_luu" aria-hidden="true"></i>
            Lưu
          </a>
          <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="huy()">
            <i aria-hidden="true" class="fa fa-sign-out"></i>
            <span>Hủy</span>
          </a>
        </div>

      </div>
    </div>
  </div>




  <div nz-row [nzGutter]="24" *ngIf="detail != undefined">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
      <nz-form-item>
        <nz-form-label>Nhóm cấu hình</nz-form-label>
        <nz-form-control nzErrorTip="Đơn vị quản lý là bắt buộc!">
          <nz-input-group nzSize="large" [nzSuffix]="suffixIcon" class="search__input autocomplete__input">
            <input readonly="true" placeholder="Đơn vị" nz-input formControlName="dvql" (input)="onInput($event)"
              [nzAutocomplete]="auto" />
          </nz-input-group>
        </nz-form-control>
        <ng-template #suffixIcon>
          <i nz-icon nzType="search"></i>
        </ng-template>
        <nz-autocomplete #auto>
          <nz-auto-option *ngFor="let option of options" [nzValue]="option.labelDonVi">{{ option.labelDonVi }}
          </nz-auto-option>
        </nz-autocomplete>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
      <nz-form-item>
        <nz-form-label>Mã cấu hình</nz-form-label>
        <nz-form-control nzErrorTip="Kiểu xác thực bắt buộc!">
          <input readonly="true" type="text" nz-input formControlName="paramId" />

        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
      <nz-form-item>
        <nz-form-label>Tên cấu hình</nz-form-label>
        <nz-form-control nzErrorTip="Kiểu xác thực bắt buộc!">
          <input readonly="true" type="text" nz-input formControlName="paramName" />

        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
      <nz-form-item>
        <nz-form-label>Giá trị</nz-form-label>
        <nz-form-control nzErrorTip="Kiểu xác thực bắt buộc!">
          <input readonly="true" type="text" nz-input formControlName="paramValue" />

        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group nzDisabled="true" formControlName="status">
            <label nz-radio nzValue="01">Mở</label>
            <label nz-radio nzValue="00">Khóa</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
      <nz-form-item>
        <nz-form-label>Mô tả</nz-form-label>
        <nz-form-control nzErrorTip="Kiểu xác thực bắt buộc!">
          <textarea readonly="true" rows="3" formControlName="description" nz-input></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="m-footer">
      <div class="nut">
        <div class="cantrai">
        </div>
        <div class="canphai">
          <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="huy()">
            <i aria-hidden="true" class="fa fa-sign-out"></i>
            <span>Đóng</span>
          </a>
        </div>

      </div>
    </div>
  </div>
  </form>
