<ng-container *ngIf="isDataAvailable">
    <div class="modal__content">
        <nz-tabset>
            <nz-tab nzTitle="Dữ liệu">
                <div id="tablePrint">
                    <div class="nut" style="margin-top: 10px;">
                        <div class="cantrai">
                            <div> Đơn vị: </div>
                            <div style="margin-left: 10px;">
                                <ng-container *ngIf="status.general || !editMoneyUnit; else editMoney">
                                    <span (click)="editMoneyUnit=true">{{genFunc.moneyUnitName(maDviTien)}}</span>
                                </ng-container>
                                <ng-template #editMoney>
                                    <nz-select nzShowSearch nzPlaceHolder="Chọn đơn vị" [(ngModel)]="maDviTien"
                                        (ngModelChange)="editMoneyUnit=false">
                                        <nz-option *ngFor="let item of donViTiens" [nzValue]="item.id"
                                            [nzLabel]="item.tenDm">
                                        </nz-option>
                                    </nz-select>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <nz-table nzBordered class="table__body" [nzScroll]="{x: scrollX}">
                        <thead>
                            <tr>
                                <th rowspan="3" nzWidth="50px" nzLeft>STT</th>
                                <th rowspan="3" nzWidth="150px" nzLeft>Tên cục DTNNKV,<br> chi cục DTNN </th>
                                <th rowspan="3" nzWidth="150px" nzLeft>Tên địa điểm, địa chỉ </th>
                                <th rowspan="3" nzWidth="150px" nzLeft>Tên nhà kho </th>
                                <th colspan="2">Khối tích kho (m3)</th>
                                <th colspan="3">Số lượng nhà kho</th>
                                <th colspan="7">Giá trị kho (VND)</th>
                                <th rowspan="3" style="width: 60px;" *ngIf="status.general" nzRight></th>
                            </tr>
                            <tr>
                                <th rowspan="2">Từ 5000 m3 trở lên</th>
                                <th rowspan="2">Dưới 5000 m3</th>
                                <th rowspan="2">Từ 5000m3 trở lên</th>
                                <th rowspan="2">Dưới 5000 m3</th>
                                <th rowspan="2">Tổng</th>
                                <th colspan="3">Từ 5000m3 trở lên</th>
                                <th colspan="3">Dưới 5000 m3</th>
                                <th rowspan="2">Tổng</th>
                            </tr>
                            <tr>
                                <th>Kho lấy theo <br> giá trị còn lại</th>
                                <th>Kho hết khấu hao, <br> giá trị lấy theo ...</th>
                                <th>Tổng giá trị kho <br> từ 5000m3</th>
                                <th>Kho lấy theo <br> giá trị còn lại</th>
                                <th>Kho hết khấu hao, <br> giá trị lấy theo ...</th>
                                <th>Tổng giá trị kho <br> dưới 5000m3</th>
                            </tr>
                            <tr>
                                <th nzLeft>A</th>
                                <th nzLeft>B</th>
                                <th nzLeft>C</th>
                                <th nzLeft>D</th>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5=3+4</th>
                                <th>6</th>
                                <th>7</th>
                                <th>8=6+7</th>
                                <th>9</th>
                                <th>10</th>
                                <th>11=9+10</th>
                                <th>12=8+11</th>
                                <th *ngIf="status.general" nzRight></th>
                            </tr>
                            <tr>
                                <th nzLeft></th>
                                <th nzLeft>Tổng cộng</th>
                                <th nzLeft></th>
                                <th nzLeft></th>
                                <th></th>
                                <th></th>
                                <th>{{numFunc.numFmt(total.slTren)}}</th>
                                <th>{{numFunc.numFmt(total.slDuoi)}}</th>
                                <th>{{numFunc.numFmt(total.slTong)}}</th>
                                <th>{{numFunc.valFmt(total.gtTrenGtConLai, maDviTien)}}</th>
                                <th>{{numFunc.valFmt(total.gtTrenHetKhauHao, maDviTien)}}</th>
                                <th>{{numFunc.valFmt(total.gtTrenTong, maDviTien)}}</th>
                                <th>{{numFunc.valFmt(total.gtDuoiGtConLai, maDviTien)}}</th>
                                <th>{{numFunc.valFmt(total.gtDuoiHetKhauHao, maDviTien)}}</th>
                                <th>{{numFunc.valFmt(total.gtDuoiTong, maDviTien)}}</th>
                                <th>{{numFunc.valFmt(total.tong, maDviTien)}}</th>
                                <th *ngIf="status.general" nzRight></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of lstCtietBcao; let i = index">
                                <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
                                    <td [attr.rowspan]="data.unitSpan" [hidden]="!data.unitSpan" nzLeft>
                                        {{getIndex(data.stt)}}
                                    </td>
                                    <td [attr.rowspan]="data.unitSpan" [hidden]="!data.unitSpan" nzLeft>
                                        {{data.tenDvi}}
                                    </td>
                                    <td [attr.rowspan]="data.locationSpan" [hidden]="!data.locationSpan" nzLeft>
                                        {{data.tenDiaChiKho}}
                                    </td>
                                    <td nzLeft>
                                        {{data.tenNhaKho}}
                                    </td>
                                    <td>
                                        {{numFunc.numFmt(data.khoiTichTren)}}
                                    </td>
                                    <td>
                                        {{numFunc.numFmt(data.khoiTichDuoi)}}
                                    </td>
                                    <td>
                                        {{numFunc.numFmt(data.slTren)}}
                                    </td>
                                    <td>
                                        {{numFunc.numFmt(data.slDuoi)}}
                                    </td>
                                    <td>
                                        {{numFunc.numFmt(data.slTong)}}
                                    </td>
                                    <td>
                                        {{numFunc.valFmt(data.gtTrenGtConLai, maDviTien)}}
                                    </td>
                                    <td>
                                        {{numFunc.valFmt(data.gtTrenHetKhauHao, maDviTien)}}
                                    </td>
                                    <td>
                                        {{numFunc.valFmt(data.gtTrenTong, maDviTien)}}
                                    </td>
                                    <td>
                                        {{numFunc.valFmt(data.gtDuoiGtConLai, maDviTien)}}
                                    </td>
                                    <td>
                                        {{numFunc.valFmt(data.gtDuoiHetKhauHao, maDviTien)}}
                                    </td>
                                    <td>
                                        {{numFunc.valFmt(data.gtDuoiTong, maDviTien)}}
                                    </td>
                                    <td>
                                        {{numFunc.valFmt(data.tong, maDviTien)}}
                                    </td>
                                    <td *ngIf="status.general" nzRight>
                                        <i *ngIf="checkEdit(data.stt)" class="fa fa-pencil"
                                            (click)="startEdit(data.id)"></i>
                                    </td>
                                </ng-container>
                                <ng-template #editTemplate>
                                    <td [attr.rowspan]="data.unitSpan" [hidden]="!data.unitSpan" nzLeft>
                                        {{getIndex(editCache[data.id].data.stt)}}
                                    </td>
                                    <td [attr.rowspan]="data.unitSpan" [hidden]="!data.unitSpan" nzLeft>
                                        {{editCache[data.id].data.tenDvi}}
                                    </td>
                                    <td [attr.rowspan]="data.locationSpan" [hidden]="!data.locationSpan" nzLeft>
                                        {{editCache[data.id].data.tenDiaChiKho}}
                                    </td>
                                    <td nzLeft>
                                        {{editCache[data.id].data.tenNhaKho}}
                                    </td>
                                    <td>
                                        <ng-container
                                            *ngIf="!editCache[data.id].data.khoiTichDuoi && editCache[data.id].data.khoiTichDuoi !== 0; else disableTren">
                                            <input class="money-input" currencyMask [options]="amount"
                                                [(ngModel)]="editCache[data.id].data.khoiTichTren"
                                                (ngModelChange)="countWarehouse(data.id)" />
                                        </ng-container>
                                        <ng-template #disableTren>
                                            {{numFunc.numFmt(editCache[data.id].data.khoiTichTren)}}
                                        </ng-template>
                                    </td>
                                    <td>
                                        <ng-container
                                            *ngIf="!editCache[data.id].data.khoiTichTren && editCache[data.id].data.khoiTichTren !== 0; else disableDuoi">
                                            <input class="money-input" currencyMask [options]="amount"
                                                [(ngModel)]="editCache[data.id].data.khoiTichDuoi"
                                                (ngModelChange)="countWarehouse(data.id)" />
                                        </ng-container>
                                        <ng-template #disableDuoi>
                                            {{numFunc.numFmt(editCache[data.id].data.khoiTichDuoi)}}
                                        </ng-template>

                                    </td>
                                    <td>
                                        {{numFunc.numFmt(editCache[data.id].data.slTren)}}
                                    </td>
                                    <td>
                                        {{numFunc.numFmt(editCache[data.id].data.slDuoi)}}
                                    </td>
                                    <td>
                                        {{numFunc.numFmt(editCache[data.id].data.slTong)}}
                                    </td>
                                    <td>
                                        <input class="money-input" currencyMask [options]="amount"
                                            [(ngModel)]="editCache[data.id].data.gtTrenGtConLai"
                                            (ngModelChange)="changeModel(data.id)" />
                                    </td>
                                    <td>
                                        <input class="money-input" currencyMask [options]="amount"
                                            [(ngModel)]="editCache[data.id].data.gtTrenHetKhauHao"
                                            (ngModelChange)="changeModel(data.id)" />
                                    </td>
                                    <td>
                                        {{numFunc.valFmt(editCache[data.id].data.gtTrenTong, maDviTien)}}
                                    </td>
                                    <td>
                                        <input class="money-input" currencyMask [options]="amount"
                                            [(ngModel)]="editCache[data.id].data.gtDuoiGtConLai"
                                            (ngModelChange)="changeModel(data.id)" />
                                    </td>
                                    <td>
                                        <input class="money-input" currencyMask [options]="amount"
                                            [(ngModel)]="editCache[data.id].data.gtDuoiHetKhauHao"
                                            (ngModelChange)="changeModel(data.id)" />
                                    </td>
                                    <td>
                                        {{numFunc.valFmt(editCache[data.id].data.gtDuoiTong, maDviTien)}}
                                    </td>
                                    <td>
                                        {{numFunc.valFmt(editCache[data.id].data.tong, maDviTien)}}
                                    </td>
                                    <td nzRight>
                                        <a (click)="saveEdit(data.id)" class="save">Lưu</a>
                                        <a nz-popconfirm nzPopconfirmTitle="Bạn có chắc muốn hủy thao tác này?"
                                            (nzOnConfirm)="cancelEdit(data.id)" class="save">
                                            Hủy
                                        </a>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Thuyết minh">
                <textarea nz-input nzAutosize="{minRows: 4, maxRows: 16}" [(ngModel)]="formDetail.thuyetMinh"
                    [disabled]="!status.general"></textarea>
            </nz-tab>
            <nz-tab nzTitle="Tài liệu đính kèm">
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
                    <div nz-col class="gutter-row" [nzSpan]="3">
                        <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" *ngIf="status.general">
                            <button nz-button>
                                <i nz-icon nzType="upload"></i>
                                Chọn tài liệu đính kèm
                            </button>
                        </nz-upload>
                        <button nz-button [nzType]="'primary'" (click)="handleUpload()"
                            [disabled]="fileList.length === 0" *ngIf="status.general" style="margin-top: 16px">
                            Thêm vào danh sách
                        </button>
                    </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
                    <div nz-col class="gutter-row" [nzSpan]="13">
                        <nz-table nzBordered class="table__body">
                            <thead>
                                <tr>
                                    <th nzWidth="7%">STT</th>
                                    <th>Tên file</th>
                                    <th nzWidth="15%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of formDetail.lstFiles; let i = index">
                                    <td>{{ i + 1 }} </td>
                                    <td>{{ data.fileName }}</td>
                                    <td>
                                        <a (click)="downloadFile(data.id)">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a (click)="deleteFile(data.id)">
                                            <i class="fa fa-trash-o do"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>
    <div class="modal-footer">
        <div class="nut">
            <div class="cantrai">
                <button type="button" class="btn btn-main" *ngIf="status.print" (click)="genFunc.doPrint()">
                    <i nz-icon nzType="printer" nzTheme="outline"></i>
                    <span>In</span>
                </button>
                <button type="button" class="btn btn-sub" (click)="save('5', null)" *ngIf="status.finish">
                    <i nz-icon nzType="check" nzTheme="outline"></i>
                    <span>Hoàn tất nhập liệu</span>
                </button>
                <button type="button" class="btn btn-sub" (click)="save('4', null)" *ngIf="status.finish">
                    <i class="icon htvbdh_tcdt_save"></i>
                    <span>Lưu</span>
                </button>
                <button type="button" class="btn btn-sub" (click)="save('1', null)" *ngIf="status.ok">
                    <i nz-icon nzType="check" nzTheme="outline"></i>
                    <span>Chấp nhận</span>
                </button>
            </div>
            <div class="canphai">
                <button type="button" class="btn btn-do" (click)="exportToExcel()">
                    <i nz-icon nzType="close" nzTheme="outline"></i>
                    <span>Export</span>
                </button>
                <button type="button" class="btn btn-do" (click)="tuChoi('0')" *ngIf="status.ok">
                    <i nz-icon nzType="close" nzTheme="outline"></i>
                    <span>Không chấp nhận</span>
                </button>
            </div>
        </div>
    </div>
</ng-container>