<div class="header header-green-background mg-t-10">
  <div class="header-text">
    <div class="title-chi-tieu">
      <span>
      </span>
      <span> {{title}} </span>
    </div>
  </div>
</div>
<!--START NỘI DUNG-->
<form nzLayout="vertical" nz-form [formGroup]="formData">
  <div nz-row [nzGutter]="[24]">
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label [nzNoColon]="true"> Tổng số lượng nhập </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <input nz-input readonly formControlName="tongSlNhap" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label [nzNoColon]="true"> Tổng thành tiền </nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <input nz-input readonly formControlName="tongThanhTien" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<!--END NỘI DUNG-->

<!--START TABLE-->
<div class="header header-green-background mg-t-10">
  <div class="header-text">
    <div class="title-chi-tieu">
      <span>
      </span>
      <span> {{formData.value.tenLoaiHinhNx}} </span>
    </div>
  </div>
</div>
<nz-card class="mg-t-16 flex-card p-lr16 table-card">
  <nz-table [nzData]="listDataGroup" class="nowrap" nzBordered>
    <thead>
      <tr>
        <th style="width: 2%;">STT</th>
        <th>Cục DTNN KV</th>
        <th>Chi cục DTNN KV</th>
        <th>Điểm kho</th>
        <th>Ngăn/Lô kho</th>
        <th>Chủng loại hàng DTQG</th>
        <th>SL tồn kho</th>
        <th *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.DOI_THUA">SL hao dôi theo định mức</th>
        <th *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.DOI_THUA">SL dôi thừa</th>
        <th *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_TANG_SO_LUONG_SAU_KK">SL tồn kho thực tế</th>
        <th *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_TANG_SO_LUONG_SAU_KK">SL tăng</th>
        <th *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_DO_BOI_THUONG
                        || formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_DO_TAI_NHAP
                        || formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_KHAC ">Số lượng</th>
        <th>Đơn giá</th>
        <th>ĐVT</th>
        <th>Thành tiền (đ)</th>
        <th *ngIf="!isView">Hành động</th>
      </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="this.isTongCuc;else templateCuc">
      <ng-container *ngFor="let item of listDataGroup , let i = index">
        <tr>
          <td [nzExpand]="true" (nzExpandChange)="onExpandChange(i, $event)"></td>
          <td colspan="3">{{item.tenCuc}}</td>
          <td></td>
          <td class="text-right red-text"></td>
          <td class="text-right red-text"></td>
          <td class="text-right bold-700"></td>
          <td *ngIf="formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_DO_BOI_THUONG
                        && formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_DO_TAI_NHAP
                        && formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_KHAC "></td>
          <td></td>
          <td class="text-right bold-700"></td>
          <td></td>
          <td *ngIf="!isView"></td>
        </tr>
        <ng-container *ngFor="let chiCuc of item.children, let y = index">
          <tr>
            <td></td>
            <td></td>
            <td>{{chiCuc.tenChiCuc}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngIf="formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_DO_BOI_THUONG
                        && formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_DO_TAI_NHAP
                        && formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_KHAC "></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngIf="!isView"></td>
          </tr>
          <ng-container *ngFor="let diemKho of chiCuc.children, let k = index">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>{{diemKho.tenDiemKho}}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td *ngIf="formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_DO_BOI_THUONG
                        && formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_DO_TAI_NHAP
                        && formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_KHAC "></td>
              <td></td>
              <td></td>
              <td></td>
              <td *ngIf="!isView"></td>
            </tr>
            <ng-container *ngFor="let nganLo of diemKho.children, let z = index">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{nganLo.tenNganLoKho}}</td>
                <td>{{nganLo.tenCloaiVthh}}</td>
                <td>{{nganLo.slTonKho | number : '1.0-1' : 'vi_VN'}}</td>
                <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.DOI_THUA">{{nganLo.slHaoDoiDinhMuc | number : '1.0-1' : 'vi_VN'}}</td>
                <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.DOI_THUA">{{nganLo.slDoiThua | number : '1.0-1' : 'vi_VN'}}</td>
                <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_TANG_SO_LUONG_SAU_KK">{{nganLo.slTonKhoThucTe | number : '1.0-1' : 'vi_VN'}}</td>
                <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_TANG_SO_LUONG_SAU_KK">{{nganLo.slTonKhoThucTe - nganLo.slTonKho | number : '1.0-1' : 'vi_VN'}}</td>
                <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_DO_BOI_THUONG
                        || formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_DO_TAI_NHAP
                        || formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_KHAC ">{{nganLo.slNhap | number : '1.0-1' : 'vi_VN'}}</td>
                <td class="text-right">{{nganLo.donGia | number : '1.0-1' : 'vi_VN'}}</td>
                <td class="text-center">{{nganLo.dvt}}</td>
                <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.DOI_THUA">{{nganLo.slDoiThua * nganLo.donGia | number : '1.0-1' : 'vi_VN'}}</td>
                <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_TANG_SO_LUONG_SAU_KK">{{(nganLo.slTonKhoThucTe - nganLo.slTonKho) * nganLo.donGia | number : '1.0-1' : 'vi_VN'}}</td>
                <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_DO_BOI_THUONG
                        || formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_DO_TAI_NHAP
                        || formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_KHAC">{{nganLo.slNhap * nganLo.donGia | number : '1.0-1' : 'vi_VN'}}</td>
                <td *ngIf="!isView">
                  <a (click)="themMoi(nganLo)">
                    <i class="fa fa-pencil" title="Sửa"></i>
                  </a>
                  <a (click)="deleteRow('nhaKho', item)">
                    <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
                  </a>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
      <ng-template #templateCuc>
        <ng-container *ngFor="let item of listOfData , let i = index">
          <tr>
            <td [nzExpand]="expandSet.has(i)" (nzExpandChange)="onExpandChange(i, $event)"></td>
            <td>{{item.tenChiCuc}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngIf="formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_DO_BOI_THUONG
                        && formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_DO_TAI_NHAP
                        && formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_KHAC "></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngIf="!isView">
              <a (click)="deleteRow('chiCuc', item)">
                <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
              </a>
            </td>
          </tr>
          <ng-container>
            <ng-container *ngFor="let diemKho of item.children, let y = index">
              <tr>
                <td class="text-right" [nzExpand]="true"></td>
                <td></td>
                <td>{{diemKho.tenDiemKho}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td *ngIf="formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_DO_BOI_THUONG
                        && formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_DO_TAI_NHAP
                        && formData.value.loaiHinhNx != loaiHinhNhapXuat.NHAP_KHAC "></td>
                <td></td>
                <td></td>
                <td></td>
                <td *ngIf="!isView">
                  <a (click)="deleteRow('diemKho', item)">
                    <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
                  </a>
                </td>
              </tr>
              <ng-container>
                <ng-container *ngFor="let nganLo of diemKho.children, let z = index">
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{nganLo.tenNganLoKho}}</td>
                    <td>{{nganLo.tenCloaiVthh}}</td>
                    <td>{{nganLo.slTonKho | number : '1.0-1' : 'vi_VN'}}</td>
                    <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.DOI_THUA">{{nganLo.slHaoDoiDinhMuc | number : '1.0-1' : 'vi_VN'}}</td>
                    <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.DOI_THUA">{{nganLo.slDoiThua | number : '1.0-1' : 'vi_VN'}}</td>
                    <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_TANG_SO_LUONG_SAU_KK">{{nganLo.slTonKhoThucTe | number : '1.0-1' : 'vi_VN'}}</td>
                    <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_TANG_SO_LUONG_SAU_KK">{{nganLo.slTonKhoThucTe - nganLo.slTonKho | number : '1.0-1' : 'vi_VN'}}</td>
                    <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_DO_BOI_THUONG
                        || formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_DO_TAI_NHAP
                        || formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_KHAC ">{{nganLo.slNhap | number : '1.0-1' : 'vi_VN'}}</td>
                    <td class="text-right">{{nganLo.donGia | number : '1.0-1' : 'vi_VN'}}</td>
                    <td class="text-center">{{nganLo.dvt}}</td>
                    <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.DOI_THUA">{{nganLo.slDoiThua * nganLo.donGia | number : '1.0-1' : 'vi_VN'}}</td>
                    <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_TANG_SO_LUONG_SAU_KK">{{(nganLo.slTonKhoThucTe - nganLo.slTonKho) * nganLo.donGia | number : '1.0-1' : 'vi_VN'}}</td>
                    <td class="text-right" *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_DO_BOI_THUONG
                        || formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_DO_TAI_NHAP
                        || formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_KHAC">{{nganLo.slNhap * nganLo.donGia | number : '1.0-1' : 'vi_VN'}}</td>
                    <td *ngIf="!isView">
                      <a (click)="themMoi(nganLo)">
                        <i class="fa fa-pencil" title="Sửa"></i>
                      </a>
                      <a (click)="deleteRow('nhaKho', item)">
                        <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
                      </a>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
<!--END TABLE-->
<ng-template #error let-control>
  <app-template-error #error [control]="control"></app-template-error>
</ng-template>
<nz-modal [nzWidth]="'50%'" [(nzVisible)]="isVisible" [nzFooter]="modalFooter" [nzClosable]="false"
          nzTitle="{{rowThemMoi.title}}">
  <ng-container *nzModalContent>
    <div class="modal-card">
      <nz-form-item *ngIf="this.isTongCuc">
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Cục DTNN</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear [(ngModel)]="rowThemMoi.maCuc" (ngModelChange)="changeCuc($event)"
                     nzPlaceHolder="Chọn đơn vị" nzShowSearch [nzDisabled]="isEditRowThemMoi">
            <nz-option *ngFor="let p of listCuc" [nzLabel]="p.tenDvi" [nzValue]="p.maDvi"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Chi cục DTNN</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear [(ngModel)]="rowThemMoi.maChiCuc" (ngModelChange)="changeChiCuc($event)"
                     nzPlaceHolder="Chọn đơn vị" nzShowSearch [nzDisabled]="isEditRowThemMoi">
            <nz-option *ngFor="let p of listChiCuc" [nzLabel]="p.tenDvi" [nzValue]="p.maDvi"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Điểm kho</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear [(ngModel)]="rowThemMoi.maDiemKho" (ngModelChange)="changeDiemKho($event)"
                     nzPlaceHolder="Chọn đơn vị" nzShowSearch [nzDisabled]="isEditRowThemMoi">
            <nz-option *ngFor="let p of listDiemKho" [nzLabel]="p.tenDvi" [nzValue]="p.maDvi"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Nhà kho</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear [(ngModel)]="rowThemMoi.maNhaKho" (ngModelChange)="changeNhaKho($event)"
                     nzPlaceHolder="Chọn đơn vị" nzShowSearch [nzDisabled]="isEditRowThemMoi">
            <nz-option *ngFor="let p of listNhaKho" [nzLabel]="p.tenDvi" [nzValue]="p.maDvi"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Ngăn kho</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear [(ngModel)]="rowThemMoi.maNganKho" (ngModelChange)="changeNganKho($event)"
                     nzPlaceHolder="Chọn đơn vị" nzShowSearch [nzDisabled]="isEditRowThemMoi">
            <nz-option *ngFor="let p of listNganKho" [nzLabel]="p.tenDvi" [nzValue]="p.maDvi"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Lô kho</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear [(ngModel)]="rowThemMoi.maLoKho" (ngModelChange)="changeLoKho($event)"
                     nzPlaceHolder="Chọn đơn vị" nzShowSearch [nzDisabled]="isEditRowThemMoi">
            <nz-option *ngFor="let p of listLoKho" [nzLabel]="p.tenDvi" [nzValue]="p.maDvi"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Loại hàng DTQG</nz-form-label>
        <nz-form-control>
          <span>{{rowThemMoi.tenLoaiVthh}}</span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Chủng loại hàng DTQG</nz-form-label>
        <nz-form-control>
          <span>{{rowThemMoi.tenCloaiVthh}}</span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Đơn vị tính</nz-form-label>
        <nz-form-control>
          <span>{{rowThemMoi.dvt}}</span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Tồn kho</nz-form-label>
        <nz-form-control>
          <span class="text-blue">{{rowThemMoi.slTonKho | number : '1.0-1' : 'vi_VN'}}</span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_DO_BOI_THUONG
                            || formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_KHAC
                            || formData.value.loaiHinhNx == loaiHinhNhapXuat.NHAP_DO_TAI_NHAP
">
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Số lượng nhập</nz-form-label>
        <nz-form-control>
          <nz-input-number [(ngModel)]="rowThemMoi.slNhap" [nzMin]="1" [nzStep]="0.1"
                           [nzFormatter]="globals.formatter" [nzParser]="globals.parser">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.DOI_THUA">
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Số lượng hao dôi theo định mức</nz-form-label>
        <nz-form-control>
          <nz-input-number [(ngModel)]="rowThemMoi.slHaoDoiDinhMuc" [nzMin]="1" [nzStep]="0.1"
                           [nzFormatter]="globals.formatter" [nzParser]="globals.parser">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="formData.value.loaiHinhNx == loaiHinhNhapXuat.DOI_THUA">
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Số lượng dôi thừa</nz-form-label>
        <nz-form-control>
          <nz-input-number [(ngModel)]="rowThemMoi.slDoiThua" [nzMin]="1" [nzStep]="0.1"
                           [nzFormatter]="globals.formatter" [nzParser]="globals.parser">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Đơn giá</nz-form-label>
        <nz-form-control>
          <nz-input-number [(ngModel)]="rowThemMoi.donGia" [nzMin]="1" [nzStep]="0.1"
                           [nzFormatter]="globals.formatter" [nzParser]="globals.parser">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" [nzRequired]="true" [nzXs]="7">Thành tiền (đ)</nz-form-label>
        <nz-form-control>
          <span class="text-blue">{{rowThemMoi.donGia * rowThemMoi.slDoiThua | number: '1.0-1' : 'vi_VN'}}</span>
        </nz-form-control>
      </nz-form-item>
    </div>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button (click)="handleCancel()">Đóng</button>
    <button nz-button class="btn btn-main" (click)="handleOk()">Lưu</button>
  </ng-template>
</nz-modal>
