<div class="header-text" *ngIf="isModal">
  <div class="title-chi-tieu">
    <span [ngClass]="formData.value.trangThai == STATUS.DA_HOAN_THANH ? 'status-xanh' : 'status-do'">
      {{ formData.value.tenTrangThai }}
    </span>
    <span>CẬP NHẬP THÔNG TIN ĐẤU GIÁ</span>
  </div>
</div>
<nz-card class="flex-card p-lr16 ">
  <div class="bg-trang">
    <nz-collapse nzAccordion>
      <nz-collapse-panel [nzHeader]="'THÔNG TIN BÁN ĐẤU GIÁ'" [nzActive]="true">
        <nz-card class="mg-t-16 flex-card p-lr16">
          <form nzLayout="vertical" [formGroup]="formData" nz-form>
            <div nz-row [nzGutter]="[24, 16]">
              <div nz-col [nzSpan]="2">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true">Lần đấu giá</nz-form-label>
                  <nz-form-control [nzErrorTip]="error">
                    <nz-input-group>
                      <input nz-input formControlName="lanDauGia" readonly/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Mã thông báo bán đấu giá</nz-form-label>
                  <nz-form-control [nzErrorTip]="error">
                    <nz-input-group>
                      <input nz-input formControlName="maThongBao" readonly/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="4">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Căn cứ theo QĐ thanh lý</nz-form-label>
                  <nz-form-control [nzErrorTip]="error">
                    <nz-input-group>
                      <input nz-input formControlName="soQdTl" readonly/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label nzRequired [nzNoColon]="true"> Trích yếu</nz-form-label>
                  <nz-form-control [nzErrorTip]="error">
                    <nz-input-group>
                      <input nz-input formControlName="trichYeuTbao" [readonly]="isDisabled() || isDisable()"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-collapse nzAccordion>
                  <nz-collapse-panel [nzHeader]="'Thông tin về tổ chức cá nhân đấu giá'" [nzActive]="true">
                    <div nz-row [nzGutter]="[24, 16]">
                      <div nz-col [nzSpan]="5">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Tên tổ chức bán đấu giá</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="tenToChuc" [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="3">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true"> Điện thoại</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="sdtToChuc" [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="7">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Địa chỉ</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="diaChiToChuc" [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="3">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Số tài khoản</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="taiKhoanToChuc"
                                     [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="3">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Ngân hàng</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="nganHangToChuc"
                                     [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="3">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Chi nhánh ngân hàng</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="chiNhanhNhangToChuc"
                                     [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="4">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Số hợp đồng</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="soHd" [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="4">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Ngày ký hợp đồng</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-date-picker formControlName="ngayKyHd" nzFormat="dd/MM/yyyy"
                                            [nzDisabled]="isDisabled() || isDisable()">
                            </nz-date-picker>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="16">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Hình thức lựa chọn tổ chức bán đấu
                            giá
                          </nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-select formControlName="hthucTchuc" [nzDisabled]="isDisabled() || isDisable()">
                              <nz-option *ngFor="let p of listHinhThucLucChonToChucBDG" [nzValue]="p.ma"
                                         [nzLabel]="p.giaTri">
                              </nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-collapse-panel>
                </nz-collapse>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-collapse nzAccordion>
                  <nz-collapse-panel [nzHeader]="'Thông tin bán đấu giá'" [nzActive]="true">
                    <div nz-row [nzGutter]="[24, 16]">
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Thời hạn đăng ký tham gia đấu
                            giá
                          </nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <nz-range-picker formControlName="tgianDky" nzFormat="dd/MM/yyyy"
                                               [nzDisabled]="isDisabled() || isDisable()"></nz-range-picker>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true"> Lưu ý về thời gian đăng ký</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="ghiChuTgianDky"
                                     [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="12">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Địa điểm mua, nộp hồ sơ đăng
                            ký
                          </nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="diaDiemDky" [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Điều kiện đăng ký tham gia đấu
                            giá
                          </nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="dieuKienDky" [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Tiền mua hồ sơ (VNĐ/1 hồ sơ /1 đơn vị tài
                            sản)
                          </nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="tienMuaHoSo" [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="4">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Bước giá của từng đơn vị tài sản (%)
                          </nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="buocGia" [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="1">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true"></nz-form-label>
                          <nz-form-control class="text-center">
                            <i class="icon htvbdh_tcdt_lien-ket icon-lien-ket"></i>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="4">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true"></nz-form-label>
                          <nz-form-control>
                            <nz-input-group>
                              <input nz-input formControlName="ghiChuBuocGia"
                                     [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="3">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true">% Khoảng tiền đặt trước</nz-form-label>
                          <nz-input-number [nzDisabled]="isDisable()" formControlName="khoanTienDatTruoc"
                                           [nzMin]="1"
                                           [nzMax]="globals.prop.MAX_INPUT" [nzStep]="1" [nzSize]="'small'"
                                           [nzFormatter]="globals.formatter" [nzParser]="globals.parser">
                          </nz-input-number>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Thời hạn tổ chức xem tài sản</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <nz-range-picker formControlName="tgianXem" nzFormat="dd/MM/yyyy"
                                               [nzDisabled]="isDisabled() || isDisable()"></nz-range-picker>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true"> Lưu ý về thời gian xem tài sản</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="ghiChuTgianXem"
                                     [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="12">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Địa điểm tổ chức xem tài sản</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="diaDiemXem" [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Thời hạn nộp tiền đặt trước</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <nz-range-picker formControlName="tgianNopTien" nzFormat="dd/MM/yyyy"
                                               [nzDisabled]="isDisabled() || isDisable()"></nz-range-picker>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Phương thức thanh toán</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="pthucTtoan" [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="12">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true"> Lưu ý thời gian nộp tiền đặt trước</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="ghiChuTgianNopTien"
                                     [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true"> Đơn vị thụ hưởng</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="donViThuHuong"
                                     [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true"> Số tài khoản</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="stkThuHuong" [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true"> Ngân hàng</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="nganHangThuHuong"
                                     [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true"> Chi nhánh ngân hàng</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="chiNhanhNganHang"
                                     [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Thời gian tổ chức cuộc đấu giá</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <nz-range-picker formControlName="tgianDauGia" nzFormat="dd/MM/yyyy"
                                               [nzDisabled]="isDisabled()"></nz-range-picker>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Địa điểm tổ chức đấu giá</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <input nz-input formControlName="diaDiemDauGia"
                                     [readonly]="isDisabled() || isDisable()"/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Hình thức đấu giá</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-select formControlName="hthucDgia" [nzDisabled]="isDisabled() || isDisable()">
                              <nz-option *ngFor="let p of listHinhThucBDG" [nzValue]="p.ma" [nzLabel]="p.giaTri">
                              </nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="6">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Phương thức đấu giá</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-select formControlName="pthucDgia" [nzDisabled]="isDisabled() || isDisable()">
                              <nz-option *ngFor="let p of listPhuongThucBDG" [nzValue]="p.ma" [nzLabel]="p.giaTri">
                              </nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="24">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Điều kiện, cách thức đăng ký tham
                            gia đấu giá
                          </nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <textarea rows="3" nz-input formControlName="dkienCthuc"
                                        [readonly]="isDisabled() || isDisable()"></textarea>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="24">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true">
                            Căn cứ pháp lý
                          </nz-form-label>
                        </nz-form-item>
                        <nz-form-item>
                          <div class="list-file" nz-col>
                            <file-list [isCanCuPL]="true" [data]="fileCanCu"
                                       [isViewDetail]=" isDisabled()">
                            </file-list>
                          </div>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="24">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true">
                            Tài liệu đính kèm
                          </nz-form-label>
                        </nz-form-item>
                        <nz-form-item>
                          <div class="list-file" nz-col>
                            <file-list [isCanCuPL]="true" [data]="fileDinhKem"
                                       [isViewDetail]=" isDisabled()">
                            </file-list>
                          </div>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="24">
                        <nz-form-item>
                          <nz-form-label [nzNoColon]="true"> Ghi chú</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-input-group>
                              <textarea rows="3" nz-input formControlName="ghiChu"
                                        [readonly]="isDisabled() || isDisable()"></textarea>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-collapse-panel>
                </nz-collapse>
              </div>
              <div nz-col [nzSpan]="24">
                <nz-collapse nzAccordion>
                  <nz-collapse-panel [nzHeader]="'THÔNG TIN KHÁC'" [nzActive]="true">
                    <div nz-row [nzGutter]="24">
                      <div nz-col [nzSpan]="4">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Thời hạn thanh toán</nz-form-label>
                          <nz-form-control nz-col [nzErrorTip]="error">
                            <nz-input-number formControlName="thoiHanThanhToan" nz-input [nzMin]="0"
                                             [nzMax]="globals.prop.MAX_INPUT"
                                             [nzStep]="1" [nzSize]="'small'" [nzDisabled]="isDisable()">
                            </nz-input-number>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Phương thức thanh toán</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-select formControlName="pthucThanhtoanKhac" [nzDisabled]="isDisable()">
                              <nz-option *ngFor="let p of listPhuongThucThanhToan" [nzValue]="p.ma"
                                         [nzLabel]="p.giaTri">
                              </nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="4">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Thời hạn giao nhận hàng</nz-form-label>
                          <nz-form-control nz-col [nzErrorTip]="error">
                            <nz-input-number formControlName="thoiHanGiaoNhan" nz-input [nzMin]="0"
                                             [nzMax]="globals.prop.MAX_INPUT"
                                             [nzStep]="1" [nzSize]="'small'" [nzDisabled]="isDisable()">
                            </nz-input-number>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="8">
                        <nz-form-item>
                          <nz-form-label nzRequired [nzNoColon]="true"> Phương thức giao nhận</nz-form-label>
                          <nz-form-control [nzErrorTip]="error">
                            <nz-select formControlName="pthucGnhan" [nzDisabled]="isDisable()">
                              <nz-option *ngFor="let p of listPhuongThucGiaoNhanBDG" [nzValue]="p.ma"
                                         [nzLabel]="p.giaTri">
                              </nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                  </nz-collapse-panel>
                </nz-collapse>
              </div>
            </div>
          </form>
        </nz-card>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse nzAccordion>
      <nz-collapse-panel [nzActive]="true" nzHeader="KẾT QUẢ TỔ CHỨC BÁN ĐẤU GIÁ">
        <nz-card class="mg-t-16 flex-card p-lr16">
          <form nz-form nzLayout="vertical" [formGroup]="formData">
            <div nz-row [nzGutter]="[24, 16]">
              <div nz-col [nzSpan]="24">
                <nz-form-control nz-col [nzErrorTip]="error">
                  <nz-radio-group formControlName="ketQua" (ngModelChange)="onChangeKetQua($event)"
                                  [nzDisabled]="isDisabled() || isDisable()">
                    <label nz-radio nzValue="1"> Đấu giá thành công </label>
                    <label nz-radio nzValue="0"> Đấu giá không thành công </label>
                  </nz-radio-group>
                </nz-form-control>
              </div>
            </div>
          </form>
          <nz-collapse nzAccordion>
            <nz-collapse-panel [nzActive]="true" nzHeader="THÔNG TIN BIÊN BẢN BÁN ĐẤU GIÁ">
              <nz-card class="mg-t-16 flex-card p-lr16">
                <form nzLayout="vertical" [formGroup]="formData" nz-form>
                  <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="6">
                      <nz-form-item>
                        <nz-form-label nzRequired [nzNoColon]="true"> Số biên bản bán đấu giá
                        </nz-form-label>
                        <nz-form-control nz-col [nzErrorTip]="error">
                          <input nz-input formControlName="soBienBan" readonly/>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="14">
                      <nz-form-item>
                        <nz-form-label nzRequired [nzNoColon]="true"> Trích yếu</nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                          <nz-input-group>
                            <input nz-input formControlName="trichYeuBban" [readonly]="isDisabled() || isDisable()"/>
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="4">
                      <nz-form-item>
                        <nz-form-label nzRequired [nzNoColon]="true"> Ngày ký biên bản</nz-form-label>
                        <nz-form-control [nzErrorTip]="error">
                          <nz-input-group>
                            <nz-date-picker formControlName="ngayKyBban" nzFormat="dd/MM/yyyy"
                                            [nzDisabled]="isDisabled() || isDisable()">
                            </nz-date-picker>
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </form>
              </nz-card>
              <nz-card class="mg-t-16 flex-card p-lr16">
                <nz-collapse nzAccordion *ngIf="formData.value.ketQua == 1">
                  <nz-collapse-panel [nzActive]="true" nzHeader="THÀNH PHẦN THAM DỰ">
                    <div class="group-button">
                      <h3>Khách mời chứng kiến</h3>
                    </div>
                    <nz-table nzBordered [nzData]="dataNguoiTgia" [nzFrontPagination]="false" [nzShowPagination]="false"
                              class="nowrap pd-10">
                      <thead>
                      <tr>
                        <th nzWidth="30px">STT</th>
                        <th>Họ và tên</th>
                        <th>Chức vụ</th>
                        <th>Nơi công tác</th>
                        <th nzWidth="50px" *ngIf="!isDisabled() && !isDisable()">Hành động</th>
                      </tr>
                      <tr *ngIf="!isDisabled() && !isDisable()">
                        <th></th>
                        <th><input nz-input [(ngModel)]="rowItemKhach.hoVaTen"/></th>
                        <th><input nz-input [(ngModel)]="rowItemKhach.chucVu"/></th>
                        <th><input nz-input [(ngModel)]="rowItemKhach.diaChi"/></th>
                        <th>
                          <a (click)="addRow(rowItemKhach,'KM')">
                            <i class="fa fa-plus"></i>
                          </a>
                          <a (click)="clearRow('KM')">
                            <i class="fa fa-refresh "></i>
                          </a>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <ng-container *ngFor="let data of findTableName('KM')?.dataChild , let i = index">
                        <tr *ngIf="!data.isEdit">
                          <td>{{i + 1}}</td>
                          <td>{{data.hoVaTen}}</td>
                          <td>{{data.chucVu}}</td>
                          <td>{{data.diaChi}}</td>
                          <td *ngIf="!isDisabled() && !isDisable()">
                            <a (click)="editRow(data)">
                              <i class=" fa fa-pencil"></i>
                            </a>
                            <a (click)="deleteRow(data.idVirtual)">
                              <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
                            </a>
                          </td>
                        </tr>
                        <tr *ngIf="data.isEdit">
                          <td>{{i + 1}}</td>
                          <td><input nz-input [(ngModel)]="data.hoVaTen"/></td>
                          <td><input nz-input [(ngModel)]="data.chucVu"/></td>
                          <td><input nz-input [(ngModel)]="data.diaChi"/></td>
                          <td *ngIf="!isDisabled() && !isDisable()">
                            <a (click)="saveRow(data, i)">
                              <i class=" fa fa-save"></i>
                            </a>
                            <a (click)="cancelEdit(data , i)">
                              <i class="fa fa-close"></i>
                            </a>
                          </td>
                        </tr>
                      </ng-container>
                      </tbody>
                    </nz-table>
                    <div class="group-button">
                      <h3>Đấu giá viên</h3>
                    </div>
                    <nz-table nzBordered [nzData]="dataNguoiTgia" [nzFrontPagination]="false" [nzShowPagination]="false"
                              class="nowrap pd-10">
                      <thead>
                      <tr>
                        <th nzWidth="30px">STT</th>
                        <th>Họ và tên</th>
                        <th>Chức vụ</th>
                        <th>Nơi công tác</th>
                        <th nzWidth="50px" *ngIf="!isDisabled() && !isDisable()">Hành động</th>
                      </tr>
                      <tr *ngIf="!isDisabled() && !isDisable()">
                        <th></th>
                        <th><input nz-input [(ngModel)]="rowItemDgv.hoVaTen"/></th>
                        <th><input nz-input [(ngModel)]="rowItemDgv.chucVu"/></th>
                        <th><input nz-input [(ngModel)]="rowItemDgv.diaChi"/></th>
                        <th>
                          <a (click)="addRow(rowItemDgv,'DGV')">
                            <i class="fa fa-plus"></i>
                          </a>
                          <a (click)="clearRow('DGV')">
                            <i class="fa fa-refresh "></i>
                          </a>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <ng-container *ngFor="let data of findTableName('DGV')?.dataChild , let i = index">
                        <tr *ngIf="!data.isEdit">
                          <td>{{i + 1}}</td>
                          <td>{{data.hoVaTen}}</td>
                          <td>{{data.chucVu}}</td>
                          <td>{{data.diaChi}}</td>
                          <td *ngIf="!isDisabled() && !isDisable()">
                            <a (click)="editRow(data)">
                              <i class=" fa fa-pencil"></i>
                            </a>
                            <a (click)="deleteRow(data.idVirtual)">
                              <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
                            </a>
                          </td>
                        </tr>
                        <tr *ngIf="data.isEdit">
                          <td>{{i + 1}}</td>
                          <td><input nz-input [(ngModel)]="data.hoVaTen"/></td>
                          <td><input nz-input [(ngModel)]="data.chucVu"/></td>
                          <td><input nz-input [(ngModel)]="data.diaChi"/></td>
                          <td *ngIf="!isDisabled() && !isDisable()">
                            <a (click)="saveRow(data , i)">
                              <i class=" fa fa-save"></i>
                            </a>
                            <a (click)="cancelEdit(data , i)">
                              <i class="fa fa-close"></i>
                            </a>
                          </td>
                        </tr>
                      </ng-container>
                      </tbody>
                    </nz-table>
                    <div class="group-button">
                      <h3>Tổ chức/ cá nhân tham giá đấu giá</h3>
                    </div>
                    <nz-table nzBordered [nzData]="dataNguoiTgia" [nzFrontPagination]="false" [nzShowPagination]="false"
                              class="nowrap pd-10">
                      <thead>
                      <tr>
                        <th nzWidth="30px">STT</th>
                        <th>Họ và tên/Tên tổ chức</th>
                        <th>Mã số thuế/CMTND/CCCD/Hộ chiếu</th>
                        <th>Địa chỉ</th>
                        <th nzWidth="50px" *ngIf="!isDisabled() && !isDisable()">Hành động</th>
                      </tr>
                      <tr *ngIf="!isDisabled() && !isDisable()">
                        <th></th>
                        <th><input nz-input [(ngModel)]="rowItemToChuc.hoVaTen"/></th>
                        <th><input nz-input [(ngModel)]="rowItemToChuc.soCccd"/></th>
                        <th><input nz-input [(ngModel)]="rowItemToChuc.diaChi"/></th>
                        <th>
                          <a (click)="addRow(rowItemToChuc,'NTG')">
                            <i class="fa fa-plus"></i>
                          </a>
                          <a (click)="clearRow('NTG')">
                            <i class="fa fa-refresh "></i>
                          </a>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <ng-container *ngFor="let data of findTableName('NTG')?.dataChild , let i = index">
                        <tr *ngIf="!data.isEdit">
                          <td>{{i + 1}}</td>
                          <td>{{data.hoVaTen}}</td>
                          <td>{{data.soCccd}}</td>
                          <td>{{data.diaChi}}</td>
                          <td *ngIf="!isDisabled() && !isDisable()">
                            <a (click)="editRow(data)">
                              <i class=" fa fa-pencil"></i>
                            </a>
                            <a (click)="deleteRow(data.idVirtual)">
                              <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
                            </a>
                          </td>
                        </tr>
                        <tr *ngIf="data.isEdit">
                          <td>{{i + 1}}</td>
                          <td><input nz-input [(ngModel)]="data.hoVaTen"/></td>
                          <td><input nz-input [(ngModel)]="data.soCccd"/></td>
                          <td><input nz-input [(ngModel)]="data.diaChi"/></td>
                          <td *ngIf="!isDisabled() && !isDisable()">
                            <a (click)="saveRow(data , i)">
                              <i class=" fa fa-save"></i>
                            </a>
                            <a (click)="cancelEdit(data , i)">
                              <i class="fa fa-close"></i>
                            </a>
                          </td>
                        </tr>
                      </ng-container>
                      </tbody>
                    </nz-table>
                  </nz-collapse-panel>
                </nz-collapse>
                <nz-collapse nzAccordion *ngIf="formData.value.ketQua == 1">
                  <nz-collapse-panel [nzHeader]="'SỐ LƯỢNG, ĐỊA ĐIỂM XUẤT BÁN (NƠI ĐANG BẢO QUẢN VÀ QUẢN LÝ TÀI SẢN)'"
                                     [nzActive]="true">
                    <nz-table class="nowrap pd-10" [nzScroll]="{ x: '1400px' }" [nzFrontPagination]="false"
                              [nzShowPagination]="false" [nzData]="dataTable" nzBordered>
                      <thead>
                      <tr>
                        <th nzWidth="30px"></th>
                        <th nzWidth="250px" class="text-center wrap"> Chi cục</th>
                        <th nzWidth="150px" class="text-center wrap"> Điểm kho</th>
                        <th nzWidth="200px" class="text-center wrap"> Lô kho</th>
                        <th nzWidth="100px" class="text-center wrap"> Mã ĐVTS</th>
                        <th nzWidth="120px" class="text-center wrap"> SL bán đấu giá</th>
                        <th nzWidth="50px" class="text-center wrap"> ĐVT</th>
                        <th nzWidth="120px" class="text-center wrap"> Giá TL không VAT(đ)</th>
                        <th nzWidth="120px" class="text-center wrap"> Giá khởi điểm (đ)</th>
                        <th nzWidth="120px" class="text-center wrap"> Số tiền đặt trước (đ)</th>
                        <th nzWidth="120px" class="text-center wrap">Số lần trả giá
                        </th>
                        <th nzWidth="150px" class="text-center wrap">Đơn giá cao
                          nhất (đ)
                        </th>
                        <th nzWidth="120px" class="text-center wrap"> Thành tiền (đ)</th>
                        <th nzWidth="200px" class="text-center wrap"> Tổ chức/cá
                          nhân trúng đấu giá
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <ng-container *ngFor="let item of dataTable , let i = index">
                        <tr>
                          <td nzShowExpand="true" [nzExpand]="item.expandSet"
                              (nzExpandChange)="onExpandChange(item, $event)"></td>
                          <td> {{item.tenDonVi}} </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <ng-container *ngIf="item.expandSet">
                          <ng-container *ngFor="let chiCuc of item.children , let i = index">
                            <tr>
                              <td></td>
                              <td></td>
                              <td>{{chiCuc.tenDiemKho}} </td>
                              <td>{{ (chiCuc.tenLoKho ? chiCuc.tenLoKho + ' - ' : '') + chiCuc.tenNganKho }}</td>
                              <td>
                                <input nz-input [(ngModel)]="chiCuc.maDviTsan"
                                       [readonly]="isDisabled() || isDisable()"/>
                              </td>
                              <td>{{chiCuc.slDaDuyet | number : '1.0-1' : 'vi_VN'}} </td>
                              <td>{{chiCuc.donViTinh}} </td>
                              <td>{{chiCuc.donGiaPd | number : '1.0-1'
                                : 'vi_VN'}} </td>
                              <td>{{chiCuc.slDaDuyet * chiCuc.donGiaPd | number : '1.0-1'
                                : 'vi_VN'}} </td>
                              <td>{{chiCuc.slDaDuyet * chiCuc.donGiaPd * (formData.value.khoanTienDatTruoc / 100) | number : '1.0-1'
                                : 'vi_VN'}} </td>
                              <td>
                                <nz-input-number
                                  [nzMin]="1"
                                  [nzDisabled]="isDisabled() || isDisable() || formData.value.ketQua == 0"
                                  [nzFormatter]="globals.formatter" [nzParser]="globals.parser" nz-input
                                  [(ngModel)]="chiCuc.soLanTraGia"></nz-input-number>
                              </td>
                              <td>
                                <nz-input-number
                                  [nzMin]="1"
                                  [nzDisabled]="isDisabled() || isDisable() || formData.value.ketQua == 0"
                                  [nzFormatter]="globals.formatter" [nzParser]="globals.parser" nz-input
                                  [(ngModel)]="chiCuc.donGiaCaoNhat"
                                ></nz-input-number>
                              </td>
                              <td>{{chiCuc.donGiaCaoNhat * chiCuc.slDaDuyet | number : '1.0-1'
                                : 'vi_VN'}} </td>
                              <td>
                                <nz-select [nzDisabled]="isDisabled() || isDisable() || formData.value.ketQua == 0"
                                           [(ngModel)]="chiCuc.toChucCaNhan">
                                  <nz-option *ngFor="let data of findTableName('NTG')?.dataChild"
                                             [nzValue]="data.hoVaTen" [nzLabel]="data.hoVaTen"></nz-option>
                                </nz-select>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      </tbody>
                    </nz-table>
                  </nz-collapse-panel>
                </nz-collapse>
                <nz-collapse nzAccordion *ngIf="formData.value.ketQua == 0">
                  <nz-collapse-panel [nzHeader]="'THÔNG TIN TÀI SẢN BÁN ĐẤU GIÁ'" [nzActive]="true">
                    <nz-table class="nowrap pd-10" [nzScroll]="{ x: '1400px' }" [nzFrontPagination]="false"
                              [nzShowPagination]="false" [nzData]="dataTable" nzBordered>
                      <thead>
                      <tr>
                        <th nzWidth="30px"></th>
                        <th nzWidth="250px" class="text-center wrap"> Chi cục</th>
                        <th nzWidth="150px" class="text-center wrap"> Điểm kho</th>
                        <th nzWidth="200px" class="text-center wrap"> Lô kho</th>
                        <th nzWidth="100px" class="text-center wrap"> Chủng loại hàng hóa</th>
                        <th nzWidth="100px" class="text-center wrap"> Mã ĐVTS</th>
                        <th nzWidth="120px" class="text-center wrap"> SL bán đấu giá</th>
                        <th nzWidth="50px" class="text-center wrap"> ĐVT</th>
                        <th nzWidth="120px" class="text-center wrap"> Giá TL không VAT(đ)</th>
                        <th nzWidth="120px" class="text-center wrap"> Số tiền đặt trước (đ)</th>
                      </tr>
                      </thead>
                      <tbody>
                      <ng-container *ngFor="let item of dataTable , let i = index">
                        <tr>
                          <td [nzExpand]="item.expandSet" (nzExpandChange)="onExpandChange(i, $event)"></td>
                          <td> {{item.tenDonVi}} </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <ng-container *ngIf="item.expandSet">
                          <tr *ngFor="let lv1 of item.children,let i1=index">
                            <td></td>
                            <td></td>
                            <td>{{lv1.tenDiemKho}} </td>
                            <td>{{ (lv1.tenLoKho ? lv1.tenLoKho + ' - ' : '') + lv1.tenNganKho }}</td>
                            <td>{{lv1.tenCloaiVthh}}</td>
                            <td><input nz-input [(ngModel)]="lv1.maDviTsan"/></td>
                            <td>{{lv1.slDaDuyet | number : '1.0-1' : 'vi_VN'}} </td>
                            <td>{{lv1.donViTinh}} </td>
                            <td>{{lv1.donGiaPd | number : '1.0-1'
                              : 'vi_VN'}} </td>
                            <td>{{lv1.slDaDuyet * lv1.donGiaPd * (formData.value.khoanTienDatTruoc / 100) | number : '1.0-1'
                              : 'vi_VN'}} </td>
                          </tr>
                        </ng-container>
                      </ng-container>
                      </tbody>
                    </nz-table>
                  </nz-collapse-panel>
                </nz-collapse>
                <form nz-form nzLayout="vertical" [formGroup]="formData">
                  <div nz-col [nzSpan]="24" *ngIf="formData.value.ketQua == 1">
                    <nz-form-item>
                      <nz-form-label [nzNoColon]="true">
                        File đính kèm biên bản đã ký
                      </nz-form-label>
                    </nz-form-item>
                    <nz-form-item>
                      <div class="list-file" nz-col>
                        <file-list [isCanCuPL]="true" [data]="fileDinhKemDaKy"
                                   [isViewDetail]=" isDisabled()">
                        </file-list>
                      </div>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="24" *ngIf="formData.value.ketQua == 0">
                    <nz-form-item>
                      <nz-form-label nzRequired [nzNoColon]="true"> Nội dung thông báo đấu giá không thành
                      </nz-form-label>
                      <nz-form-control [nzErrorTip]="error">
                        <nz-input-group>
                          <textarea rows="3" nz-input formControlName="thongBaoKhongThanh"
                                    [readonly]="isDisabled()"></textarea>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </form>
              </nz-card>
            </nz-collapse-panel>
          </nz-collapse>
        </nz-card>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</nz-card>
<ng-template #error let-control>
  <app-template-error #error [control]="control"></app-template-error>
</ng-template>
<div class="modal-footer" *ngIf="isModal">
  <div class="nut">
    <div class="cantrai">
    </div>
    <div class="canphai">
      <button nz-button (click)="handleCancel()" class="btn btn-sub do">
        <i nz-icon nzType="close" class="icon-close"></i>
        Hủy bỏ
      </button>
      &nbsp;
      <button nz-button (click)="confirmDone()" class="btn btn-sub xanh-nhat"
              *ngIf="this.formData.value.trangThai == STATUS.DU_THAO">
        <i nz-icon nzType="save"></i>
        Hoàn thành
      </button>
      &nbsp;
      <button nz-button (click)="save()" class="modal__button--save"
              *ngIf="this.formData.value.trangThai == STATUS.DU_THAO">
        <i nz-icon nzType="save"></i>
        Lưu
      </button>
    </div>
  </div>
</div>
