<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span
          [ngClass]="formData.value.trangThai == STATUS.DA_DUYET_LDC ? 'da-ban-hanh' : 'du-thao-va-lanh-dao-duyet'">
        {{ formData.value.tenTrangThai }}
      </span>
        <span>THÔNG TIN PHÂN BỔ MÁY MÓC, THIẾT BỊ CHUYÊN DÙNG</span>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sub ml-2" (click)="goBack()">
        <i class="fa fa-arrow-left"></i>
        <span>Quay lại</span>
      </button>
      <button class="btn btn-sub ml-2" (click)="approve(this.id, STATUS.DA_DUYET_LDC, 'Bạn có chắc chắn muốn duyệt LĐ-Cục?')"
              *ngIf="(formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU && id > 0 ) && userService.isAccessPermisson('QLĐMNXBQ_MMTBCD_PHANBO_THEM')">
        <i class="icon htvbdh_trinh "></i>
        <span>Đã duyệt - LĐ Cục</span>
      </button>
      <button type="button" class="btn btn-sub xanh ml-2" (click)="save()"
              *ngIf=" !isView && (formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU ) && userService.isAccessPermisson('QLĐMNXBQ_MMTBCD_PHANBO_THEM')">
        <i class="icon htvbdh_tcdt_save"></i>
        <span>Lưu</span>
      </button>
    </div>
  </div>
  <nz-alert *ngIf="formData.value.trangThai == STATUS.TU_CHOI_LDTC " nzShowIcon nzType="error" class="mg-t-10"
            nzMessage="Lý do từ chối"
            nzDescription="{{formData.value.lyDoTuChoi}}">
  </nz-alert>
  <nz-card class="mt16 flex-card p-lr16 mg-t-10">
    <form [nzLayout]="'vertical'" nz-form [formGroup]="formData">
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="3">
          <nz-form-item>
            <nz-form-label>Năm kế hoạch</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-select [nzDisabled]="isView" formControlName="namKeHoach"
                         nzAllowClear>
                <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="3">
          <nz-form-item>
            <nz-form-label nzRequired>Căn cứ trên quyết định mua sắm</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group nzAddOnAfterIcon="folder-open" (click)="chonMaTongHop()">
                <input nz-input formControlName="soQdMs" [readonly]="true"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="3">
          <nz-form-item>
            <nz-form-label nzRequired>Số văn bản</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group [nzAddOnAfter]="maQd">
                <input nz-input formControlName="soVb" [readonly]="isView"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired>Trích yếu</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <input nz-input formControlName="trichYeu" [readonly]="isView"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="3">
          <nz-form-item>
            <nz-form-label nzRequired>Ngày ký</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-date-picker [nzDisabled]="isView" class="search__input" nzFormat="dd/MM/yyyy" nzPlaceHolder="Ngày ký"
                              formControlName="ngayKy">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Nội dung văn bản</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group>
                <input nz-input formControlName="noiDung" [readonly]="isView"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Ghi chú</nz-form-label>
            <nz-form-control [nzErrorTip]="error">
              <nz-input-group>
                <input nz-input formControlName="ghiChu" [readonly]="isView"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">Tài liệu đính kèm</nz-form-label>
            <nz-form-control>
              <div class="list-file">
                <file-list [data]="fileDinhKem"></file-list>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <div class='group-button'>
    <h3 class='text-uppercase'></h3>
    <div class='buttons'>
      <button type="button" class="btn btn-sub" (click)="exportDataDetail()">
        <i class="icon htvbdh_chuyen-xu-ly"></i>
        <span>Xuất file</span>
      </button>
    </div>
  </div>
  <nz-table class="nowrap mg-t-10" [nzData]="dataTable" [nzFrontPagination]="false"
            [nzShowPagination]="false" nzBordered>
    <thead>
    <tr>
      <th class="text-center" width="40px"></th>
      <th class="text-center" width="40px">STT</th>
      <th class="text-center" width="200px">Nội dung</th>
      <th class="text-center" width="100px">ĐVT</th>
      <th class="text-center" width="100px">SL sử dụng được tại thời điểm đề xuất</th>
      <th class="text-center" width="100px">Số lượng sẽ nhập thêm từ năm trước</th>
      <th class="text-center" width="100px">Tổng cộng</th>
      <th class="text-center" width="100px">SL phân bổ</th>
      <th class="text-center" width="200px">Ghi chú</th>
      <th class="text-center" width="100px" class="text-center" *ngIf="!isView">Hành động</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let data of dataTable , let idx = index">
      <tr>
        <td [nzExpand]="expandSet.has(data.idVirtual)" (nzExpandChange)="onExpandChange(data.idVirtual, $event)"></td>
        <td class="font-weight-bold">{{idx + 1}}</td>
        <td class="font-weight-bold">{{data.tenTaiSan}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="font-weight-bold text-right">{{data.soLuongTc}}</td>
        <td></td>
        <td class="text-center" *ngIf="!isView">
          <a (click)="openModalCt(data, 'them', idx, dataTable[idx])">
            <i class="icon htvbdh_dau-cong"></i>
          </a>
        </td>
      </tr>
      <ng-container *ngIf="expandSet.has(data.idVirtual)">
        <tr *ngFor="let item of data.dataChild, let y = index">
          <td></td>
          <td>{{idx + 1}}.{{y + 1}}</td>
          <td>{{item.tenDvi}}</td>
          <td>{{item.donViTinh}}</td>
          <td class="text-right">{{item.slHienCo | number : '1.0-1' : 'vi_VN'}}</td>
          <td class="text-right">{{item.slNhapThem | number : '1.0-1' : 'vi_VN'}}</td>
          <td class="text-right">{{item.slHienCo + item.slNhapThem | number : '1.0-1' : 'vi_VN'}}</td>
          <td class="text-right">{{item.soLuong}}</td>
          <td>{{item.ghiChu}}</td>
          <td class="text-center" *ngIf="!isView">
            <a (click)="openModalCt(item, 'sua', y, dataTable[idx])">
              <i class="fa fa-pencil" title="Sửa"></i>
            </a>
            <a (click)="deleteItem(idx, y)">
              <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
            </a>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </nz-table>
</div>
<ng-template #error let-control>
  <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}
  </ng-container>
</ng-template>
