<div class="bg-trang">
    <nz-card class="mt16 flex-card p-lr16">
        <form [nzLayout]="'vertical'" nz-form [formGroup]="formData" class="hang-theo-doi-dac-thu">
            <div class="search__body" nz-row [nzGutter]="24">
                <nz-form-item nz-col nzSpan="3" class="form-item">
                    <nz-form-label nzFor="ma-don-vi">Mã đơn vị</nz-form-label>
                    <nz-form-control>
                        <input type="text" nz-input formControlName="maDvi" readonly />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-col nzSpan="9" class="form-item">
                    <nz-form-label nzFor="ten-don-vi">Tên đơn vị</nz-form-label>
                    <nz-form-control>
                        <nz-input-group id="ten-don-vi">
                            <nz-select nzDisabled formControlName="maDvi" (ngModelChange)="onChangeDonVi($event)" [nzShowArrow]="false">
                                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                                <nz-option nzValue="{{item.maDvi}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsDonVi">
                                </nz-option>
                            </nz-select>
                            <ng-template #suffixIconSearch>
                                <i nz-icon nzType="search"></i>
                            </ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-col nzSpan="4" class="form-item">
                    <nz-form-label nzFor="ma-danh-sach">Mã danh sách</nz-form-label>
                    <nz-form-control>
                        <input type="text" nz-input formControlName="idDanhSach" readonly />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-col nzSpan="4" class="form-item">
                    <nz-form-label nzFor="ngay-tao">Ngày tạo danh sách</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker formControlName="ngayTao" nzFormat="dd/MM/yyyy" id="ngay-tao" class="search__input">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <ng-template #suffixIconOpenFolder>
                <i nz-icon nzType="folder-open"></i>
            </ng-template>
        </form>
    </nz-card>

    <div class="group-button">
        <h3>Danh sách hàng thuộc diện tiêu huỷ</h3>
        <div class="buttons">
            <button type="button" class="btn btn-sub" (click)="huy()">
                <i class="fa fa-arrow-left"></i>
                <span>Quay lại</span>
            </button>
            <button type="button" class="btn btn-sub" (click)="exportData()">
                <i class="icon htvbdh_chuyen-xu-ly"></i>
                <span>Xuất file</span>
            </button>
            <button *ngIf="!editList" type="button" class="btn btn-sub xanh" (click)="luu()">
                <i class="fa fa-floppy-o"></i>
                <span>Lưu</span>
            </button>
        </div>
    </div>

    <nz-card class="mt-16 flex-card data-table card-border-content">
        <nz-table #editRowTable [nzData]="dataTable" [nzFrontPagination]="false" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th class="text-center" style="width: 45px;">STT</th>
                    <th style="width: 10%;">Loại hàng hoá</th>
                    <th style="width: 10%;">Chủng loại hàng hoá</th>
                    <th style="width: 10%;">Điểm kho</th>
                    <th style="width: 10%;">Nhà kho</th>
                    <th style="width: 10%;">Ngăn kho</th>
                    <th style="width: 10%;">Lô kho</th>
                    <th style="width: 10%;">Số lượng tồn</th>
                    <th style="width: 10%;">Số lượng tiêu hủy</th>
                    <th style="width: 10%;">Đơn vị tính</th>
                    <th style="width: 10%;">Lý do</th>
                    <th style="width: 5%;">Hành động</th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <nz-input-group>
                            <!-- <input type="text" nz-input placeholder="Nhập loại hàng hoá" /> -->
                            <nz-select [nzDisabled]="editList" [(ngModel)]="rowItem.idLoaiHangHoa" placeholder="Nhập loại hàng hoá" [nzShowArrow]="false" (ngModelChange)="onChangeLoaiVthh($event)">
                                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                                <nz-option nzValue="{{item.id}}" nzLabel="{{item.ten}}" *ngFor="let item of dsLoaiHangHoa">
                                </nz-option>
                            </nz-select>
                        </nz-input-group>
                    </th>
                    <th>
                        <nz-input-group>
                            <!-- <input type="text" nz-input placeholder="Nhập loại hàng hoá" /> -->
                            <nz-select [nzDisabled]="editList" [(ngModel)]="rowItem.chungLoaiHangHoa" placeholder="Nhập chủng loại hàng hoá" [nzShowArrow]="false" (ngModelChange)="onChangeChungLoai($event)">
                                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                                <nz-option nzValue="{{item.ma}}" nzLabel="{{item.ten}}" *ngFor="let item of dsChungLoaiHangHoa">
                                </nz-option>
                            </nz-select>
                        </nz-input-group>
                    </th>
                    <th>
                        <nz-input-group>
                            <!-- <input type="text" nz-input placeholder="Nhập điểm kho" /> -->
                            <nz-select [nzDisabled]="editList" [(ngModel)]="rowItem.idDiemKho" placeholder="Nhập điểm kho" (ngModelChange)="onChangeDiemKho($event)" [nzShowArrow]="false">
                                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                                <nz-option nzValue="{{item.id}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsDiemKho">
                                </nz-option>
                            </nz-select>
                        </nz-input-group>
                    </th>
                    <th>
                        <nz-input-group>
                            <!-- <input type="text" nz-input placeholder="Nhập nhà kho" /> -->
                            <nz-select [nzDisabled]="editList" [(ngModel)]="rowItem.idNhaKho" placeholder="Nhập nhà kho" (ngModelChange)="onChangeNhaKho($event)" [nzShowArrow]="false">
                                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                                <nz-option nzValue="{{item.id}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsNhaKho">
                                </nz-option>
                            </nz-select>
                        </nz-input-group>
                    </th>
                    <th>
                        <nz-input-group>
                            <!-- <input type="text" nz-input placeholder="Nhập ngăn lô" /> -->
                            <nz-select [nzDisabled]="editList" [(ngModel)]="rowItem.idNganKho" placeholder="Nhập ngăn kho" (ngModelChange)="onChangeNganKho($event)" [nzShowArrow]="false">
                                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                                <nz-option nzValue="{{item.id}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsNganKho">
                                </nz-option>
                            </nz-select>
                        </nz-input-group>
                    </th>
                    <th>
                        <nz-input-group>
                            <!-- <input type="text" nz-input placeholder="Nhập lô kho" /> -->
                            <nz-select [nzDisabled]="editList" [(ngModel)]="rowItem.idLoKho" placeholder="Nhập lô kho" [nzShowArrow]="false">
                                <nz-option nzValue="null" nzDisabled nzHide></nz-option>
                                <nz-option nzValue="{{item.id}}" nzLabel="{{item.tenDvi}}" *ngFor="let item of dsLoKho">
                                </nz-option>
                            </nz-select>
                        </nz-input-group>
                    </th>
                    <th>
                        <nz-input-group>
                            <input [disabled]="editList" type="number" [(ngModel)]="rowItem.soLuongTon" nz-input placeholder="Nhập số lượng" />
                        </nz-input-group>
                    </th>
                    <th>
                        <nz-input-group>
                            <input [disabled]="editList" type="number" [(ngModel)]="rowItem.soLuongTieuHuy" nz-input placeholder="Nhập số lượng" />
                        </nz-input-group>
                    </th>
                    <th>
                        <nz-input-group>
                            <input disabled type="text" [(ngModel)]="rowItem.donVi" nz-input placeholder="Nhập đơn vị tính" />
                        </nz-input-group>
                    </th>
                    <th>
                        <nz-input-group>
                            <input [disabled]="editList" type="text" [(ngModel)]="rowItem.lyDo" nz-input placeholder="Nhập lý do" />
                        </nz-input-group>
                    </th>
                    <th style="text-align: center;">
                        <a *ngIf="!editList" (click)="themMoiItem()">
                            <i class="table-icon icon htvbdh_dau-cong"></i>
                        </a>
                        <a *ngIf="!editList" (click)="clearData()">
                            <i class="table-icon icon  htvbdh_nhap-lai1"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of editRowTable.data; let idx = index">
                    <ng-container *ngIf="!dataEdit[idx].edit; else editTemplate">
                        <td style=" text-align: center;">{{ idx + 1 }}</td>
                        <td>{{ data.loaiHang }}</td>
                        <td>{{ data.chungLoaiHang }}</td>
                        <td>{{ data.diemKho }}</td>
                        <td>{{ data.nhaKho }}</td>
                        <td>{{ data.nganKho }}</td>
                        <td>{{ data.loKho }}</td>
                        <td>{{ data.slTon }}</td>
                        <td>{{ data.slYeuCau }}</td>
                        <td>{{ data.donVi }}</td>
                        <td>{{ data.lyDo }}</td>
                        <td style="text-align: center;">
                            <a *ngIf="!editList" (click)="editItem(data.id)">
                                <i class="table-icon fa fa-pencil"></i>
                            </a>
                            <a *ngIf="!editList" (click)="xoaItem(data.id)">
                                <i class="table-icon fa fa-trash-o do"></i>
                            </a>
                        </td>
                    </ng-container>
                    <ng-template #editTemplate>
                        <td>{{ idx + 1 }}</td>
                        <td><input disabled type="text" nz-input [(ngModel)]="dataEdit[idx].data.loaiHang" /></td>
                        <td><input disabled type="text" nz-input [(ngModel)]="dataEdit[idx].data.chungLoaiHang" /></td>
                        <td><input disabled type="text" nz-input [(ngModel)]="dataEdit[idx].data.diemKho" /></td>
                        <td><input disabled type="text" nz-input [(ngModel)]="dataEdit[idx].data.nhaKho" /></td>
                        <td><input disabled type="text" nz-input [(ngModel)]="dataEdit[idx].data.nganKho" /></td>
                        <td><input disabled type="text" nz-input [(ngModel)]="dataEdit[idx].data.loKho" /></td>
                        <td><input type="number" nz-input [(ngModel)]="dataEdit[idx].data.slTon" /></td>
                        <td><input type="number" nz-input [(ngModel)]="dataEdit[idx].data.slYeuCau" /></td>
                        <td><input disabled type="text" nz-input [(ngModel)]="dataEdit[idx].data.donVi" /></td>
                        <td><input type="text" nz-input [(ngModel)]="dataEdit[idx].data.lyDo" /></td>
                        <td class="text-center">
                            <a (click)="luuEdit(data.id)" class="save">
                                <i class="fa fa-save"></i>
                            </a>
                            <a (click)="huyEdit(data.id)">
                                <i class="fa fa-times do"></i> </a>
                        </td>
                    </ng-template>
                </tr>
            </tbody>
        </nz-table>
        <div class="tab-content tab-menu" id="myTabContent">
            <div class="tab-pane fade show active justify-content-between">
                <div class="trai">

                </div>
                <div class="canphai">
                    <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord" nzShowSizeChanger [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="changePageIndex($event)" (nzPageSizeChange)="changePageSize($event)">
                        <ng-template #rangeTemplate let-range="range" let-total>
                            {{ range[0] }}-{{ range[1] }} trên tổng số {{ total }} bản ghi
                        </ng-template>
                    </nz-pagination>
                </div>
            </div>
        </div>
    </nz-card>
</div>
