<nz-affix class="menu-lv3" [nzOffsetTop]="43">
  <div class="tab-content tab-menu" id="myTabContent">
    <div class="tab-pane fade show active justify-content-between" id="banhanh" role="tabpanel"
      aria-labelledby="banhanh-tab">
      <div class="trai">
        <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="redirectChiTieuKeHoachNam()">
          <i class="fa fa-arrow-circle-left"></i>
        </a>
      </div>
      <div class="canphai phai">
        <button class="btn btn-main btn-sm waves-effect waves-light" (click)="save()">
          <i class="icon htvbdh_tcdt_save"></i>
          <span>Lưu</span>
        </button>
        <button class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="guiDuyet()">
          <i class="icon htvbdh_tcdt_guiduyet"></i>
          <span>Gửi duyệt</span>
        </button>
        <button class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="pheDuyet()">
          <i class="icon htvbdh_tcdt_pheduyet"></i>
          <span>Phê duyệt</span>
        </button>
        <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="tuChoi()">
          <i class="icon htvbdh_tcdt_tuchoi"></i>
          <span>Từ chối</span>
        </a>
        <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="huyBo()">
          <i class="icon htvbdh_tcdt_delete"></i>
          <span>Hủy bỏ</span>
        </a>
      </div>
    </div>
  </div>
</nz-affix>
<div class="contentBor chi-tieu__body">
  <div class="contentDetail">
    <div class="main-content">
      <nz-card nzTitle="Thông tin chỉ tiêu kế hoạch năm Tổng Cục giao" class="mt16 flex-card p-lr16">
        <form nz-form [formGroup]="formData" class="mt-16">
          <div nz-row [nzGutter]="[16, 12]">
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label nz-col [nzSpan]="24" nzRequired [nzNoColon]="true"> Số QĐ </nz-form-label>
                <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="soQDError">
                  <nz-input-group nzAddOnAfter=" /QĐ-TCDT ">
                    <nz-input-number formControlName="soQD" [nzMin]="1" [nzStep]="1" [nzSize]="'small'">
                    </nz-input-number>
                  </nz-input-group>
                  <ng-template #soQDError let-control>
                    <ng-container *ngIf="control.hasError('required')">{{errorInputRequired}}</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="6">
              <nz-form-item>
                <nz-form-label nz-col [nzSpan]="24" nzRequired [nzNoColon]="true"> Ngày ký </nz-form-label>
                <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="ngayKyError">
                  <nz-date-picker class="search__input" [nzDisabledDate]="disabledStartDate" nzFormat="yyyy-MM-dd"
                    formControlName="ngayKy" nzPlaceHolder="Ngày ký">
                  </nz-date-picker>
                  <ng-template #ngayKyError let-control>
                    <ng-container *ngIf="control.hasError('required')">{{errorInputRequired}}</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="6">
              <nz-form-item>
                <nz-form-label nz-col [nzSpan]="24" nzRequired [nzNoColon]="true"> Ngày hiệu lực </nz-form-label>
                <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="ngayHieuLucError">
                  <nz-date-picker #endDatePicker [nzDisabledDate]="disabledEndDate" nzFormat="yyyy-MM-dd"
                    formControlName="ngayHieuLuc" nzPlaceHolder="Ngày hiệu lực">
                  </nz-date-picker>
                  <ng-template #ngayHieuLucError let-control>
                    <ng-container *ngIf="control.hasError('required')">{{errorInputRequired}}</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="6">
              <nz-form-item>
                <nz-form-label nz-col [nzSpan]="24" nzRequired [nzNoColon]="true"> Năm kế hoạch </nz-form-label>
                <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="namKeHoachError">
                  <nz-select formControlName="namKeHoach">
                    <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
                  </nz-select>
                  <ng-template #namKeHoachError let-control>
                    <ng-container *ngIf="control.hasError('required')">{{errorInputRequired}}</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Trích yếu </nz-form-label>
                <textarea formControlName="trichYeu" rows="3" class="search__input" nz-input></textarea>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="6" class="tai-lieu-dinh-kem">
              <button class="btn btn-tep btn-sm waves-effect waves-light" (click)="selectFile('file-dinh-kem')">
                <i class="icon htvbdh_tcdt_tep"></i>
                <span>Tài liệu đính kèm</span>
              </button>
              <input type="file" id="file-dinh-kem" class="file-not-show" (change)="uploadFile($event)" />
            </div>
          </div>
        </form>

      </nz-card>
      <div class="tab__container">
        <nz-tabset nzType="card" class="tab__container">
          <nz-tab [nzTitle]="'Kế hoạch lương thực dự trữ nhà nước'" (nzClick)="tabSelected = tab.luongThuc">
          </nz-tab>
          <nz-tab [nzTitle]="'Kế hoạch muối dự trữ nhà nước'" (nzClick)="tabSelected = tab.muoi">
          </nz-tab>
          <nz-tab [nzTitle]="'Kế hoạch nhập vật tư, thiết bị'" class="vat-tu__container"
            (nzClick)="tabSelected = tab.vatTu">
          </nz-tab>
        </nz-tabset>
        <div id="table-luong-thuc"
          [ngClass]="tabSelected == tab.luongThuc ? 'show-table table-out-tab' : 'hide-table table-out-tab'">
          <nz-table #groupingTable [nzData]="thongTinChiTieuKeHoachNam.khLuongThuc" nzBordered class="table__body">
            <thead>
              <tr>
                <th rowspan="4">STT</th>
                <th rowspan="4">CỤC DTNN KHU VỰC</th>
                <th colspan="8">Tồn kho đầu năm (1) <br />( 01/01/2021)</th>
                <th colspan="3">Nhập trong năm (2)</th>
                <th colspan="8">Xuất trong năm (3)</th>
                <th colspan="3">Tồn kho cuối năm (4)
                  <br>
                  ( 31/12/2021)
                </th>
                <th rowspan="4">Trạng thái</th>
                <th rowspan="4">Hành động</th>
              </tr>
              <tr>
                <th rowspan="3">
                  Tổng số
                  <br />
                  (quy thóc)
                </th>
                <th colspan="7">Trong đó</th>
                <th rowspan="3">
                  Tổng số
                  <br />
                  (quy thóc)
                </th>
                <th colspan="2">Trong đó</th>
                <th rowspan="3">
                  Tổng số
                  <br />
                  (quy thóc)
                </th>
                <th colspan="7">Trong đó</th>
                <th rowspan="3">Tổng số
                  <br>
                  (quy thóc)
                </th>
                <th colspan="2">Trong đó</th>
              </tr>
              <tr>
                <th colspan="4">Thóc</th>
                <th colspan="3">Gạo</th>
                <th rowspan="2">Thóc</th>
                <th rowspan="2">Gạo</th>
                <th colspan="4">Thóc</th>
                <th colspan="3">Gạo</th>
                <th rowspan="2">Thóc</th>
                <th rowspan="2">Gạo</th>
              </tr>
              <tr>
                <th>Tổng</th>
                <th>Nhập <br> {{yearNow - 3}}</th>
                <th>Nhập <br> {{yearNow - 2}}</th>
                <th>Nhập <br> {{yearNow - 1}}</th>
                <th>Tổng</th>
                <th>Nhập <br> {{yearNow - 2}}</th>
                <th>Nhập <br> {{yearNow - 1}}</th>
                <th>Tổng</th>
                <th>Nhập <br> {{yearNow - 3}}</th>
                <th>Nhập <br> {{yearNow - 2}}</th>
                <th>Nhập <br> {{yearNow - 1}}</th>
                <th>Tổng</th>
                <th>Nhập <br> {{yearNow - 2}}</th>
                <th>Nhập <br> {{yearNow - 1}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of groupingTable.data">
                <td>{{data.stt}}</td>
                <td>{{data.tenDonvi}}</td>
                <td>{{data.tkdnTongSoQuyThoc | number:
                  '1.0-1'}}</td>
                <td>{{data.tkdnTongThoc | number: '1.0-1'}}
                </td>
                <ng-container *ngIf="data?.tkdnThoc?.length > 0">
                  <td *ngFor="let item of data.tkdnThoc">
                    {{item.soLuong | number: '1.0-1'}}</td>
                </ng-container>
                <ng-container *ngIf="data?.tkdnThoc?.length == 0">
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </ng-container>
                <td> {{data.tkdnTongGao | number: '1.0-1'}} </td>
                <ng-container *ngIf="data?.tkdnGao?.length > 0">
                  <td *ngFor="let item of data.tkdnGao"> {{item.soLuong | number: '1.0-1'}} </td>
                </ng-container>
                <ng-container *ngIf="data?.tkdnGao?.length == 0">
                  <td> 0 </td>
                  <td> 0 </td>
                </ng-container>
                <td class="tong-so-quy-thoc"> {{data.ntnTongSoQuyThoc | number: '1.0-1'}}</td>
                <td>{{data.ntnThoc | number: '1.0-1'}}</td>
                <td>{{data.ntnGao | number: '1.0-1'}}</td>
                <td>{{data.xtnTongSoQuyThoc | number:
                  '1.0-1'}}</td>
                <td>{{data.xtnTongThoc | number: '1.0-1'}}
                </td>
                <ng-container *ngIf="data?.xtnThoc?.length > 0">
                  <td *ngFor="let item of data.xtnThoc">
                    {{item.soLuong | number: '1.0-1'}}</td>
                </ng-container>
                <ng-container *ngIf="data?.xtnThoc?.length == 0">
                  <td>0 </td>
                  <td>0</td>
                  <td>0</td>
                </ng-container>
                <td>{{data.xtnTongGao | number: '1.0-1'}}
                </td>
                <ng-container *ngIf="data?.xtnGao?.length > 0">
                  <td *ngFor="let item of data.xtnGao">
                    {{item.soLuong | number: '1.0-1'}}</td>
                </ng-container>
                <ng-container *ngIf="data?.xtnGao?.length == 0">
                  <td>0 </td>
                  <td>0</td>
                  <td>0</td>
                </ng-container>
                <td>{{data.tkcnTongSoQuyThoc | number:
                  '1.0-1'}}</td>
                <td>{{data.tkcnTongThoc | number: '1.0-1'}}
                </td>
                <td>{{data.tkcnTongGao | number: '1.0-1'}}
                </td>
                <td>Đã duyệt</td>
                <td>
                  <a (click)="themMoi(data)">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a (click)="deleteKeHoachLuongThuc(data.stt)">
                    <i class="fa fa-trash-o do"></i>
                  </a>
                </td>
                <td *ngIf="data.stt == null" class="background-last-row"></td>
                <td *ngIf="data.stt ==  null" class="background-last-row"></td>
              </tr>
              <tr *ngIf="thongTinChiTieuKeHoachNam?.khLuongThuc?.length > 0">
                <td colspan="2" class="first-last-row-table background-last-row">Cộng</td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 2, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 3, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 4, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 5, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 6, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 7, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 8, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 9, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 10, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 11, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 12, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 13, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 14, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 15, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 16, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 17, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 18, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 19, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 20, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 21, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 22, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 23, 4, ',','table-luong-thuc') : 0 |
                  number: '1.0-1'}}
                </td>
                <td class="background-last-row"></td>
                <td class="background-last-row"></td>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div id="table-muoi"
          [ngClass]="tabSelected == tab.muoi ? 'show-table table-out-tab' : 'hide-table table-out-tab'">
          <nz-table #groupingTableMuoi [nzData]="thongTinChiTieuKeHoachNam.khMuoiDuTru" nzBordered class="table__body">
            <thead>
              <tr>
                <th rowspan="3">STT</th>
                <th rowspan="3">CỤC DTNN KHU VỰC</th>
                <th colspan="4">Tồn kho đầu năm (1) <br />( 01/01/2021)</th>
                <th>Nhập trong năm (2)</th>
                <th colspan="4 ">Xuât trong năm (3)</th>
                <th>Tồn kho cuối năm (4)
                  <br>
                  ( 31/12/2021)
                </th>
                <th rowspan="3">Trạng thái</th>
                <th rowspan="3">Hành động</th>
              </tr>
              <tr>
                <th rowspan="2">
                  Tổng số
                </th>
                <th colspan="3">Trong đó</th>
                <th rowspan="2">
                  Tổng số
                </th>
                <th rowspan="2">
                  Tổng số
                </th>
                <th colspan="3">Trong đó</th>
                <th rowspan="2">
                  Tổng số
                </th>
              </tr>
              <tr>
                <th>Nhập <br> {{yearNow - 3}}</th>
                <th>Nhập <br> {{yearNow - 2}}</th>
                <th>Nhập <br> {{yearNow - 1}}</th>
                <th>Nhập <br> {{yearNow - 3}}</th>
                <th>Nhập <br> {{yearNow - 2}}</th>
                <th>Nhập <br> {{yearNow - 1}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dataMuoi of groupingTableMuoi.data">
                <td>{{dataMuoi.stt}}</td>
                <td>{{dataMuoi.tenDonVi}}</td>
                <td>{{dataMuoi.tkdnTongSoMuoi | number: '1.0-1'}}</td>
                <ng-container *ngIf="dataMuoi?.tkdnMuoi?.length > 0">
                  <td *ngFor="let itemMuoi of dataMuoi.tkdnMuoi">{{itemMuoi.soLuong | number: '1.0-1'}} </td>
                </ng-container>
                <ng-container *ngIf="dataMuoi?.tkdnMuoi?.length == 0">
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </ng-container>
                <td>{{dataMuoi.ntnTongSoMuoi | number: '1.0-1'}}</td>
                <td>{{dataMuoi.xtnTongSoMuoi | number: '1.0-1'}}</td>
                <ng-container *ngIf="dataMuoi?.xtnMuoi?.length > 0">
                  <td *ngFor="let itemMuoi of dataMuoi.xtnMuoi">{{itemMuoi.soLuong | number: '1.0-1'}} </td>
                </ng-container>
                <ng-container *ngIf="dataMuoi?.xtnMuoi?.length == 0">
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </ng-container>
                <td>{{dataMuoi.tkcnTongSoMuoi | number: '1.0-1'}}</td>
                <td *ngIf="dataMuoi.stt">Đã duyệt</td>
                <td *ngIf="dataMuoi.stt">
                  <a (click)="themMoi(dataMuoi)">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a (click)="deleteKeHoachMuoi(dataMuoi.stt)">
                    <i class="fa fa-trash-o do"></i>
                  </a>
                </td>
                <td *ngIf="dataMuoi.stt == null" class="background-last-row"></td>
                <td *ngIf="dataMuoi.stt ==  null" class="background-last-row"></td>
              </tr>
              <tr *ngIf="thongTinChiTieuKeHoachNam?.khMuoiDuTru?.length > 0">
                <td colspan="2" class="first-last-row-table background-last-row">Cộng</td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 2, 3, ',', 'table-muoi') : 0 |
                  number:
                  '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 3, 3, ',', 'table-muoi') : 0 |
                  number:
                  '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 4, 3, ',', 'table-muoi') : 0 |
                  number:
                  '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 5, 3, ',', 'table-muoi') : 0 |
                  number:
                  '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 6, 3, ',', 'table-muoi') : 0 |
                  number:
                  '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 7, 3, ',', 'table-muoi') : 0 |
                  number:
                  '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 8, 3, ',', 'table-muoi') : 0 |
                  number:
                  '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 9, 3, ',', 'table-muoi') : 0 |
                  number:
                  '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 10, 3, ',', 'table-muoi') : 0 |
                  number:
                  '1.0-1'}}
                </td>
                <td class="background-last-row">{{ tableExist ? reduceRowData(0, 11, 3, ',', 'table-muoi') : 0 |
                  number:
                  '1.0-1'}}
                </td>
                <td class="background-last-row"></td>
                <td class="background-last-row"></td>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div id="table-vat-tu"
          [ngClass]="tabSelected == tab.vatTu ? 'show-table table-out-tab' : 'hide-table table-out-tab'">
          <nz-table #groupingTableVatTu [nzData]="thongTinChiTieuKeHoachNam.khVatTu" nzBordered class="table__body">
            <thead>
              <tr>
                <th rowspan="3">STT</th>
                <th rowspan="3">CỤC DTNN KHU VỰC</th>
                <th rowspan="3">MẶT HÀNG</th>
                <th rowspan="3">ĐƠN VỊ TÍNH</th>
                <th colspan="6">CHỈ TIÊU NHẬP NĂM {{yearNow}}</th>
              </tr>
              <tr>
                <th rowspan="2">
                  Tổng số
                </th>
                <th colspan="4">Chỉ tiêu các năm khác chuyển sang</th>
                <th rowspan="2">
                  Kế hoạch {{yearNow}}
                </th>
              </tr>
              <tr>
                <th>Tổng</th>
                <th>Kế hoạch <br> {{yearNow - 3}}</th>
                <th>Kế hoạch <br> {{yearNow - 2}}</th>
                <th>Kế hoạch <br> {{yearNow - 1}}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let itemVatTu of groupingTableVatTu.data">
                <tr>
                  <td [attr.rowspan]="rowSpanVatTu(itemVatTu)">{{itemVatTu.stt}}</td>
                  <td [attr.rowspan]="rowSpanVatTu(itemVatTu)">{{itemVatTu.tenDonVi}}</td>
                </tr>
                <ng-container *ngFor="let item of itemVatTu.listDisplay">
                  <tr
                    [ngClass]="item.level == 0 ? 'table__header-vat-tu' : ((item.level > 0 && item.display) ? 'show-row' : 'hide-row')">
                    <td [nzIndentSize]="item.level * 20">
                      <a (click)="displayChild(item, itemVatTu, true)"
                        *ngIf="item.level > 0 && item.hasChild && !item.expand">+</a>
                      <a (click)="displayChild(item, itemVatTu, false)"
                        *ngIf="item.level > 0 && item.hasChild && item.expand">-</a>
                      {{item.tenVatTu}}
                    </td>
                    <td>{{item.donViTinh}}</td>
                    <td>{{item.tongNhap}}</td>
                    <td>{{item.tongCacNamTruoc}}</td>
                    <td>{{item.cacNamTruoc[0].soLuong}}</td>
                    <td>{{item.cacNamTruoc[1].soLuong}}</td>
                    <td>{{item.cacNamTruoc[2].soLuong}}</td>
                    <td>{{item.nhapTrongNam}}</td>
                  </tr>
                </ng-container>
                <tr *ngIf="thongTinChiTieuKeHoachNam?.khLuongThuc?.length > 0">
                  <td colspan="2" class="first-last-row-table background-last-row">Cộng</td>
                  <td class="background-last-row">{{ tableExist ? reduceRowData(0, 4, 3, ',','table-vat-tu') : 0 |
                    number: '1.0-1'}}
                  </td>
                  <td class="background-last-row">{{ tableExist ? reduceRowData(0, 16, 3, ',','table-vat-tu') : 0 |
                    number: '1.0-1'}}
                  </td>
                  <td class="background-last-row">{{ tableExist ? reduceRowData(0, 17, 3, ',','table-vat-tu') : 0 |
                    number: '1.0-1'}}
                  </td>
                  <td class="background-last-row">{{ tableExist ? reduceRowData(0, 18, 3, ',','table-vat-tu') : 0 |
                    number: '1.0-1'}}
                  </td>
                  <td class="background-last-row">{{ tableExist ? reduceRowData(0, 19, 3, ',','table-vat-tu') : 0 |
                    number: '1.0-1'}}
                  </td>
                  <td class="background-last-row">{{ tableExist ? reduceRowData(0, 20, 3, ',','table-vat-tu') : 0 |
                    number: '1.0-1'}}
                  </td>
                  <td class="background-last-row">{{ tableExist ? reduceRowData(0, 21, 3, ',','table-vat-tu') : 0 |
                    number: '1.0-1'}}
                  </td>
                  <td class="background-last-row">{{ tableExist ? reduceRowData(0, 22, 3, ',','table-vat-tu') : 0 |
                    number: '1.0-1'}}
                  </td>
                  <td class="background-last-row">{{ tableExist ? reduceRowData(0, 23, 3, ',','table-vat-tu') : 0 |
                    number: '1.0-1'}}
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
        </div>
        <div class="tep" *ngIf="fileDinhKem">
          <i class="icon htvbdh_tcdt_tep"></i>
          <span>{{fileDinhKem}}</span>
        </div>
        <div class="action">
          <button type="button" class="btn btn-main" (click)="themMoi()">
            <i class="icon htvbdh_dau-cong"></i>
            <span>Thêm</span>
          </button>
          <button type="button" class="btn btn-sub" (click)="selectFile('file-import-data')">
            <i class="icon htvbdh_tcdt_import"></i>
            <span>Import</span>
          </button>
          <input type="file" id="file-import-data" class="file-not-show" (change)="importFileData($event)" />
          <button type="button" class="btn btn-sub" (click)="exportData()">
            <i class="icon htvbdh_chuyen-xu-ly"></i>
            <span>Export</span>
          </button>
          <button type="button" class="btn btn-sub" (click)="printTable()">
            <i class="icon htvbdh_tcdt_print"></i>
            <span>In</span>
          </button>
        </div>
      </div>
      <div class="ghi-chu">
        <nz-form-label nzRequired [nzNoColon]="true">
          Ghi chú
        </nz-form-label>
        <textarea rows="3" class="search__input" nz-input [(ngModel)]="thongTinChiTieuKeHoachNam.ghiChu"></textarea>
      </div>
    </div>
  </div>
</div>