.chi-tieu__body {
  .flex-card.ant-card {
    border: 1px solid #ececec !important;
    background: transparent;
    box-shadow: unset;
    margin-bottom: 0px !important;
    margin-top: 11px !important;
    border-radius: 6px;
  }
  .table__body {
    margin: 12px 0px 0px 0px !important;
    overflow: scroll;
  }
  .tab__container {
    margin-top: 12px;
  }
  .star {
    color: #ff4d4f;
  }
  .input-so-qd {
    width: calc(100% - 70px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .code-so-qd {
    width: 70px;
    background: #f8f9fa;
    border: 1px solid #c4c9cc;
    border-left: none;
    font-size: 12px;
    height: 24px;
    float: right;
    line-height: 24px;
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
