mat-dialog-content {
    margin-top: 0px;
    margin-bottom: 24px !important;
}

.dialog-header {
    display: flex;
    padding-top: 24px !important;
    padding-left: 24px !important;
    mat-icon {
        cursor: pointer;
    }

    .mat-dialog-title {
        font-family: "Roboto", Serif, Sans-serif, Cursive, fantasy, Monospace;
        font-weight: 700;
        font-size: 24px;
        color: #34404b;
        padding-right: 24px;
        margin-bottom: 16px;
    }
}

.dialog-content{
    font-family: Arial, Serif, Sans-serif, cursive, fantasy, Monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #34404B;
    text-align: left;
    padding-left: 24px !important;
    padding-right: 24px !important;
}
.button-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 48px;
    background: #f4f7f9;
    padding-top: 12px;
    justify-content: center;

    .mat-slim{
        margin-right: 8px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        padding: 0 16px;
        height: 24px;
        line-height: 24px;
        border: 1px solid #587cad;
        background-color: #587cad !important;
        color: #fff;
        border-radius: 8px;
        &:hover,
        &:focus {
            background-color: #587cad !important;
        }
    }
}
