mat-dialog-content {
    margin-top: 0px;
    margin-bottom: 24px !important;
}

.dialog-header {
    display: flex;
    padding-top: 47px !important;
    padding-left: 40px !important;
    mat-icon {
        cursor: pointer;
    }

    .mat-dialog-title {
        font-family: "Roboto", Serif, Sans-serif, Cursive, fantasy, Monospace;
        font-weight: bold;
        font-size: 32px;
        color: #34404B;
        padding-right: 40px;
    }
}

.dialog-content{
    font-family: Arial, Serif, Sans-serif, cursive, fantasy, Monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #34404B;
    text-align: left;
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.button-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 80px;
    background: #F4F7F9;
    padding-top: 16px;
    justify-content: right;

    .mat-slim{
        min-width: 130px;
        margin-right: 32px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        padding: 6px 17px 6px 17px;
        border: 1px solid #0957DE;
        background-color: #0957DE !important;
        color: #fff;
        border-radius: 12px;
        &:hover,
        &:focus {
            background-color: #0957DE !important;
        }
    }
}
