<div class="luong-thuc__danh-sach">
  <nz-affix class="menu-lv3" [nzOffsetTop]="43">
    <div class="contentBor chi-tieu__body">
      <div class="contentDetail">
        <div class="main-content thong-tin-de-xuat-khlcnt">
          <div class="tab-content tab-menu" id="myTabContent">
            <div class="tab-pane fade show active justify-content-between" id="banhanh" role="tabpanel"
              aria-labelledby="banhanh-tab">
              <div class="trai">
                <a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="redirectToTTDT()">
                  <i class="fa fa-arrow-circle-left"></i>
                </a>
              </div>
              <div class="canphai phai">
                <button class="btn btn-main btn-sm waves-effect waves-light">
                  <i class="icon htvbdh_tcdt_save"></i>
                  <span>Lưu</span>
                </button>
                <a class="btn btn-outline-grey btn-sm waves-effect waves-light">
                  <i class="icon htvbdh_tcdt_delete"></i>
                  <span>Hủy bỏ</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-affix>
  <div class="contentBor chi-tieu__body">
    <div class="contentDetail">
      <div class="main-content">
        <nz-card nzTitle="Thông tin đấu thầu" class="mt16 flex-card p-lr16">
          <form nz-form [formGroup]="formData" class="mt-16">
            <div nz-row [nzGutter]="[16, 12]">
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Tên gói thầu </nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24">
                    <input class="search__input" nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Mã hàng hóa </nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24">
                    <input class="search__input" nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="16">
                <nz-form-item>
                  <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Tên VTHH </nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24">
                    <input class="search__input" nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Đơn vị tính </nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24">
                    <input class="search__input" nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Số lượng </nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24">
                    <input class="search__input" nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Giá gói thầu </nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24">
                    <input class="search__input" nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Nguồn vốn </nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24">
                    <nz-select>
                      <nz-option nzValue="Ngân sách nhà nước" nzLabel="Ngân sách nhà nước"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Hình thức LCNT </nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24">
                    <nz-select>
                      <nz-option nzValue="aaa" nzLabel="aaa"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Phương thức LCNT </nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24">
                    <nz-select>
                      <nz-option nzValue="aaa" nzLabel="aaa"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Thời gian LCNT từ </nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24">
                    <nz-date-picker class="search__input" nzFormat="yyyy-MM-dd" nzPlaceHolder="Thời gian LCNT từ">
                    </nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> đến ngày </nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24">
                    <nz-date-picker class="search__input" nzFormat="yyyy-MM-dd" nzPlaceHolder="đến ngày">
                    </nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Hình thức hợp đồng </nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24">
                    <nz-select>
                      <nz-option nzValue="aaa" nzLabel="aaa"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Thời gian thực hiện hợp đồng </nz-form-label>
                  <nz-form-control nz-col [nzSpan]="24">
                    <nz-date-picker class="search__input" nzFormat="yyyy-MM-dd"
                      nzPlaceHolder="Thời gian thực hiện hợp đồng"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
              </div>
            </div>
          </form>
        </nz-card>
        <div class="tab__luong-thuc">
          <nz-tabset nzType="card" class="tab__container">
            <nz-tab [nzTitle]="'Danh sách nhà thầu nộp hồ sơ dự thầu'" class="tt-chung__container">
              <nz-card class="mt16 flex-card p-lr16">
                <nz-table #basicTable class="nowrap" [nzFrontPagination]="false" [nzShowPagination]="false">
                  <thead>
                    <tr>
                      <th width="60px">STT</th>
                      <th width="171px">Tên gói thầu</th>
                      <th width="931px">Tên VTHH</th>
                      <th width="161px">Số lượng (Tấn)</th>
                      <th width="203px">Giá (đồng/kg)</th>
                      <th width="295px">Thành tiền</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Số 1</td>
                      <td>Cục DTNNKV Tây Nam Bộ</td>
                      <td>11</td>
                      <td>13.020</td>
                      <td>13.020</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Số 2</td>
                      <td>Cục DTNNKV Tây Nam Bộ</td>
                      <td>11</td>
                      <td>13.020</td>
                      <td>13.020</td>
                    </tr>
                  </tbody>
                </nz-table>
                <div class="tab-content tab-menu">
                  <div class="tab-pane fade show active justify-content-between">
                    <div class="trai"></div>
                    <div class="canphai">
                      <!-- begin phân trang  -->
                      <nz-pagination class="pagination-card" [nzPageIndex]="1" [nzTotal]="12" nzShowSizeChanger
                        [nzPageSize]="5" [nzShowTotal]="rangeTemplate">
                        <ng-template #rangeTemplate let-range="range" let-total>
                          3-3 of 4 items
                        </ng-template>
                      </nz-pagination>
                      <!-- end phân trang  -->
                    </div>
                  </div>
                </div>
              </nz-card>
            </nz-tab>
            <nz-tab [nzTitle]="'Hồ sơ đề xuất'" class="tt-chung__container">
              <div class="header-detail-tab">Hồ sơ đề xuất kỹ thuật</div>
              <nz-tabset nzType="card" class="tab__container">
                <nz-tab [nzTitle]="'Nhà thầu đáp ứng YCKT'" class="tt-chung__container">
                  <nz-card class="mt16 flex-card p-lr16">
                    <nz-table #basicTable class="nowrap" [nzFrontPagination]="false" [nzShowPagination]="false">
                      <thead>
                        <tr>
                          <th width="60px">STT</th>
                          <th width="">Tên</th>
                          <th width="100px">Điểm</th>
                          <th width="100px"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Cục DTNNKV Tây Nam Bộ</td>
                          <td>5</td>
                          <td class="text-center">
                            <a>
                              <i class="fa fa-pencil"></i>
                            </a>
                            <a>
                              <i class="fa fa-trash-o do"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                    <div class="tab-content tab-menu">
                      <div class="tab-pane fade show active justify-content-between">
                        <div class="trai"></div>
                        <div class="canphai">
                          <!-- begin phân trang  -->
                          <nz-pagination class="pagination-card" [nzPageIndex]="1" [nzTotal]="12" nzShowSizeChanger
                            [nzPageSize]="5" [nzShowTotal]="rangeTemplate">
                            <ng-template #rangeTemplate let-range="range" let-total>
                              3-3 of 4 items
                            </ng-template>
                          </nz-pagination>
                          <!-- end phân trang  -->
                        </div>
                      </div>
                    </div>
                  </nz-card>
                </nz-tab>
                <nz-tab [nzTitle]="'Nhà thầu không đáp ứng YCKT'" class="tt-chung__container">
                  <nz-card class="mt16 flex-card p-lr16">
                    <nz-table #basicTable class="nowrap" [nzFrontPagination]="false" [nzShowPagination]="false">
                      <thead>
                        <tr>
                          <th width="60px">STT</th>
                          <th width="">Tên</th>
                          <th width="100px">Điểm</th>
                          <th width="300px">Lý do</th>
                          <th width="100px"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Cục DTNNKV Tây Nam Bộ</td>
                          <td>5</td>
                          <td>abc</td>
                          <td class="text-center">
                            <a>
                              <i class="fa fa-pencil"></i>
                            </a>
                            <a>
                              <i class="fa fa-trash-o do"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                    <div class="tab-content tab-menu">
                      <div class="tab-pane fade show active justify-content-between">
                        <div class="trai"></div>
                        <div class="canphai">
                          <!-- begin phân trang  -->
                          <nz-pagination class="pagination-card" [nzPageIndex]="1" [nzTotal]="12" nzShowSizeChanger
                            [nzPageSize]="5" [nzShowTotal]="rangeTemplate">
                            <ng-template #rangeTemplate let-range="range" let-total>
                              3-3 of 4 items
                            </ng-template>
                          </nz-pagination>
                          <!-- end phân trang  -->
                        </div>
                      </div>
                    </div>
                  </nz-card>
                </nz-tab>
                <nz-tab [nzTitle]="'Tài liệu đề xuất kỹ thuật'" class="tt-chung__container">
                  <nz-card class="mt16 flex-card p-lr16">
                    <nz-table #basicTable class="nowrap" [nzFrontPagination]="false" [nzShowPagination]="false">
                      <thead>
                        <tr>
                          <th width="60px">STT</th>
                          <th width="">Tên tài liệu</th>
                          <th width="100px"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Cục DTNNKV Tây Nam Bộ</td>
                          <td class="text-center">
                            <a>
                              <i class="icon htvbdh_tcdt_import"></i>
                            </a>
                            <a>
                              <i class="fa fa-pencil"></i>
                            </a>
                            <a>
                              <i class="fa fa-trash-o do"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                    <div class="tab-content tab-menu">
                      <div class="tab-pane fade show active justify-content-between">
                        <div class="trai"></div>
                        <div class="canphai">
                          <!-- begin phân trang  -->
                          <nz-pagination class="pagination-card" [nzPageIndex]="1" [nzTotal]="12" nzShowSizeChanger
                            [nzPageSize]="5" [nzShowTotal]="rangeTemplate">
                            <ng-template #rangeTemplate let-range="range" let-total>
                              3-3 of 4 items
                            </ng-template>
                          </nz-pagination>
                          <!-- end phân trang  -->
                        </div>
                      </div>
                    </div>
                  </nz-card>
                </nz-tab>
              </nz-tabset>
              <div class="header-detail-tab">Hồ sơ đề xuất tài chính</div>
              <div nz-row [nzGutter]="[16, 12]" class="pd-b-6">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true" class="pd-b-6"> Thời gian mở HSDXTC
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="24">
                      <nz-date-picker class="search__input" nzFormat="yyyy-MM-dd" nzPlaceHolder="Thời gian mở HSDXTC">
                      </nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> </nz-form-label>
                    <button class="btn btn-tep btn-sm waves-effect waves-light">
                      <i class="icon htvbdh_tcdt_tep"></i>
                      <span>Tài liệu đính kèm quyết định phê duyệt nhà thầu</span>
                    </button>
                  </nz-form-item>
                </div>
              </div>
              <nz-card class="mt16 flex-card p-lr16">
                <nz-table #basicTable class="nowrap" [nzFrontPagination]="false" [nzShowPagination]="false">
                  <thead>
                    <tr>
                      <th width="60px">STT</th>
                      <th width="">Tên</th>
                      <th width="100px">Điểm</th>
                      <th width="100px">Xếp hạng</th>
                      <th width="200px">Đơn giá dự thầu</th>
                      <th width="200px">Giá dự thầu</th>
                      <th width="100px"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Cục DTNNKV Tây Nam Bộ</td>
                      <td>5</td>
                      <td>5</td>
                      <td>0978198420</td>
                      <td>0978198420</td>
                      <td class="text-center">
                        <a>
                          <i class="fa fa-pencil"></i>
                        </a>
                        <a>
                          <i class="fa fa-trash-o do"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
                <div class="tab-content tab-menu">
                  <div class="tab-pane fade show active justify-content-between">
                    <div class="trai"></div>
                    <div class="canphai">
                      <!-- begin phân trang  -->
                      <nz-pagination class="pagination-card" [nzPageIndex]="1" [nzTotal]="12" nzShowSizeChanger
                        [nzPageSize]="5" [nzShowTotal]="rangeTemplate">
                        <ng-template #rangeTemplate let-range="range" let-total>
                          3-3 of 4 items
                        </ng-template>
                      </nz-pagination>
                      <!-- end phân trang  -->
                    </div>
                  </div>
                </div>
              </nz-card>
            </nz-tab>
            <nz-tab [nzTitle]="'Thương thảo hợp đồng'" class="tt-chung__container">
              <div class="header-detail-tab">Thương thảo hợp đồng</div>
              <div nz-row [nzGutter]="[16, 12]">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Ngày ký biên bản thương thảo
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="24">
                      <nz-date-picker class="search__input" nzFormat="yyyy-MM-dd"
                        nzPlaceHolder="Ngày ký biên bản thương thảo">
                      </nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="16">
                  <nz-form-item>
                    <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Tên nhà thầu thương thảo
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="24">
                      <nz-select>
                        <nz-option nzValue="Cục DTNNKV Tây Nam Bộ" nzLabel="Cục DTNNKV Tây Nam Bộ"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Đơn giá hợp đồng trước thuế
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="24">
                      <input class="search__input" nz-input />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> VAT
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="24">
                      <input class="search__input" nz-input />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Đơn giá hợp đồng sau thuế
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="24">
                      <input class="search__input" nz-input />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Giá hợp đồng trước thuế
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="24">
                      <input class="search__input" nz-input />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> VAT
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="24">
                      <input class="search__input" nz-input />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Giá hợp đồng sau thuế
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="24">
                      <input class="search__input" nz-input />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <button class="btn btn-tep btn-sm waves-effect waves-light">
                      <i class="icon htvbdh_tcdt_tep"></i>
                      <span>Tài liệu đính kèm quyết định phê duyệt nhà thầu</span>
                    </button>
                  </nz-form-item>
                </div>
              </div>
              <div class="header-detail-tab">Quyết định phê duyệt kết quả lựa chọn nhà thầu</div>
              <div nz-row [nzGutter]="[16, 12]">
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Số quyết định
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="24">
                      <input class="search__input" nz-input />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Ngày ký
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="24">
                      <nz-date-picker class="search__input" nzFormat="yyyy-MM-dd" nzPlaceHolder="Ngày ký">
                      </nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div class="result-select-nha-thau">
                <div class="header-result-nha-thau">
                  <div class="header-detail-tab">Kết quả lựa chọn nhà thầu</div>
                  <div class="tag-trung-thau">Trúng thầu</div>
                </div>
                <div nz-row [nzGutter]="[16, 12]">
                  <div nz-col [nzSpan]="16">
                    <nz-form-item>
                      <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Nhà thầu trúng thầu
                      </nz-form-label>
                      <nz-form-control nz-col [nzSpan]="24">
                        <input class="search__input" nz-input />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="8">
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Giá trị trúng thầu
                      </nz-form-label>
                      <nz-form-control nz-col [nzSpan]="24">
                        <input class="search__input" nz-input />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Thời gian thực hiện hợp đồng
                      </nz-form-label>
                      <nz-form-control nz-col [nzSpan]="24">
                        <nz-date-picker class="search__input" nzFormat="yyyy-MM-dd"
                          nzPlaceHolder="Thời gian thực hiện hợp đồng">
                        </nz-date-picker>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label nz-col [nzSpan]="24" [nzNoColon]="true"> Thời hạn nhập hàng
                      </nz-form-label>
                      <nz-form-control nz-col [nzSpan]="24">
                        <nz-date-picker class="search__input" nzFormat="yyyy-MM-dd" nzPlaceHolder="Thời hạn nhập hàng">
                        </nz-date-picker>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="24">
                    <button class="btn btn-tep btn-sm waves-effect waves-light">
                      <i class="icon htvbdh_tcdt_tep"></i>
                      <span>Tài liệu đính kèm quyết định phê duyệt kết quả lựa chọn nhà thầu</span>
                    </button>
                  </div>
                </div>
              </div>
            </nz-tab>
          </nz-tabset>
          <div class="ghi-chu">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true">
                Ghi chú
              </nz-form-label>
              <textarea nz-input [rows]="3"></textarea>
            </nz-form-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>