.bgXam {
  background: #f8f9fa;
  padding: 12px;
  margin: 12px;
  border-radius: 0px;
  border: solid 1px #f1f1f1;
  margin-right: 0px !important;
}
.bgTrang {
  background: #ffffff;
  padding: 12px;
  margin: 12px;
  border-radius: 0px;
  border: solid 1px #f1f1f1;
  margin-left: 0px !important;
}
