<div class="contentBor dau-thau">
  <div class="contentDetail">
    <div class="main-content-dau-thau">
      <nz-tabset nzType="card" [(nzSelectedIndex)]="selectedTabNow">
        <nz-tab [nzTitle]="'Kế hoạch'">
          <div nz-row [nzGutter]="24" class="vat-tu">
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" *ngFor="let thoc of thocList">
              <nz-card class="card-tree" [ngClass]="thoc.url && routerUrl.indexOf(thoc.url) != -1 ? 'active-tab' : ''">
                <div class="content-item">
                  <span class="icon" [ngClass]="thoc.icon"></span>
                  <div class="content-item-title">{{thoc.title}}</div>
                  <div class="item-url-menu row">
                    <a [href]="thoc.urlTongCuc" class="col-md-4 text-center item-url-click-left">Tổng cục</a>
                    <a [href]="thoc.urlCuc" class="col-md-4 text-center item-url-click-center">Cục</a>
                    <a [href]="thoc.urlChiCuc" class="col-md-4 text-center item-url-click-right">Chi cục</a>
                  </div>
                </div>
              </nz-card>
            </div>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="'Tổ chức thực hiện'">
          <div nz-row [nzGutter]="24" class="vat-tu">
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" *ngFor="let gao of gaoList">
              <nz-card class="card-tree" (click)="redirect(gao.url)"
                [ngClass]="gao.url && routerUrl.indexOf(gao.url) != -1 ? 'active-tab' : ''">
                <div class="content-item">
                  <span class="icon" [ngClass]="gao.icon"></span>
                  <div class="content-item-title">{{gao.title}}</div>
                  <div class="item-url-menu row">
                    <a [href]="gao.urlTongCuc" class="col-md-4 text-center item-url-click-left">Tổng cục</a>
                    <a [href]="gao.urlCuc" class="col-md-4 text-center item-url-click-center">Cục</a>
                    <a [href]="gao.urlChiCuc" class="col-md-4 text-center item-url-click-right">Chi cục</a>
                  </div>
                </div>
              </nz-card>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>