.search-hang-trong-kho {
  padding: 15px;

  .form-item {
    margin-right: 20px;
  }
}

.data-table {
  padding: 0 10px;
  border: 1px solid #f0f0f0 !important;

  .nowrap {
    padding: 0 10px !important;
  }
}

.filter-card {
  padding: 0;
}

.group-button {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 4px 10px;
  margin-top: 12px;

  h3 {
    text-transform: uppercase;
  }
}