.icon-file-dinh-kem {
    display: flex;
    align-items: center;
    position: relative;

    .input-file {
        width: 20px;
        height: 20px;
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}


.list-file {
    .ant-input-affix-wrapper {
        padding: 0px 11px !important;
    }
}
.bg-selected td {
  background-color: #ebedff;
}
.text-bold {
  color: #444444;
  font-weight: 700;
}
