.rdo-input {
  display: flex;

  .ant-form-item {
    margin-right: 20px;
    padding-top: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }

  label {
    padding-top: 8px;
    font-size: 13px;
    font-weight: 500;
    height: 32px;
  }
}

.icon-file-dinh-kem {
  display: flex;
  align-items: center;
  position: relative;

  .input-file {
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}


.list-file {
  .ant-input-affix-wrapper {
    padding: 0px 11px !important;
  }
}

:host ::ng-deep .ant-form-vertical .ant-form-item-label {
  line-height: 1;

  label {
    height: 32px;
  }
}
