<nz-affix [nzOffsetTop]="globals.prop.MENU_LV2" class="btn-affix">
  <div class="btn-group">
    <button type="button" class="btn btn-sub" (click)="goBack()">
      <i class="fa fa-arrow-left"></i>
      <span>Quay lại</span>
    </button>
    <button *ngIf="formData.value.trangThai == STATUS.DU_THAO && userService.isTongCuc()" type="button"
      class="btn btn-sub xanh-nhat" (click)="save(true)">
      <i class="icon htvbdh_chuyenvanthu"></i>
      <span>Ban hành</span>
    </button>
    <button *ngIf="formData.value.trangThai == STATUS.DU_THAO && userService.isTongCuc()" type="button"
      class="btn btn-main" (click)="save()">
      <i class="icon htvbdh_tcdt_save"></i>
      <span>Lưu</span>
    </button>
  </div>
</nz-affix>
<div class="bg-trang">
  <div class="header header-green-background">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span [ngClass]="formData.value.trangThai == STATUS.BAN_HANH ? 'da-ban-hanh' : 'du-thao-va-lanh-dao-duyet'">
          {{ formData.value.tenTrangThai }}
        </span>
        <span> QUYẾT ĐỊNH ĐIỀU CHỈNH KẾ HOẠCH BÁN ĐẤU GIÁ </span>
      </div>
    </div>
  </div>
  <nz-card class="mg-t-16 flex-card p-lr16">
    <nz-collapse>
      <nz-collapse-panel nzActive="true" nzHeader="Thông tin chung">
        <form nz-form nzLayout="vertical" [formGroup]="formData">
          <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="2">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Năm kế hoạch
                </nz-form-label>
                <nz-form-control nz-col [nzErrorTip]="error">
                  <nz-select formControlName="nam" nzAllowClear
                    [nzDisabled]="formData.value.trangThai !== '00' && formData.value.trangThai !== '03' && formData.value.trangThai !== ''">
                    <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="4">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Số QĐ điều chỉnh</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfter="/{{maQd}}">
                    <nz-input-number formControlName="soQdDc" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                      [nzSize]="'small'"
                      [nzDisabled]="formData.value.trangThai !== '00' && formData.value.trangThai !== '03' && formData.value.trangThai !== ''">
                    </nz-input-number>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Ngày ký QĐ điều chỉnh</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-date-picker formControlName="ngayKyDc" nzFormat="dd/MM/yyyy"
                    [nzDisabled]="formData.value.trangThai !== '00' && formData.value.trangThai !== '03' && formData.value.trangThai !== ''">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Ngày hiệu lực</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-date-picker formControlName="ngayHlucDc" nzFormat="dd/MM/yyyy"
                    [nzDisabled]="formData.value.trangThai !== '00' && formData.value.trangThai !== '03' && formData.value.trangThai !== ''">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Trích yếu
                </nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="trichYeu"
                    [readonly]="formData.value.trangThai !== '00' && formData.value.trangThai !== '03' && formData.value.trangThai !== ''" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> Quyết định gốc</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfterIcon="folder-open" (click)="openDialogSoQdGoc()">
                    <input [readonly]="true" nz-input formControlName="soQdPd" readonly="true" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Ngày ký QĐ gốc</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-date-picker formControlName="ngayKyQdPd" nzFormat="dd/MM/yyyy"
                    [nzDisabled]="formData.value.trangThai !== '00' && formData.value.trangThai !== '03' && formData.value.trangThai !== ''">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="18">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true"> File đính kèm QĐ đã ban hành</nz-form-label>
                <nz-form-control nz-col nzSpan="24" [nzErrorTip]="error">
                  <div class="list-file">
                    <div class="header-file">
                      <nz-input-group nzSize="large" [nzAddOnAfter]="suffixIcon">
                        <input placeholder="Chọn file" formControlName="fileName" nz-input readonly />
                      </nz-input-group>
                      <ng-template #suffixIcon>
                        <i class="icon htvbdh_tcdt_tep"></i>
                        <input class="input-file" (change)="getNameFileQD($event)" type="file" />
                      </ng-template>
                    </div>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzNoColon]="true">
                  Căn cứ pháp lý
                </nz-form-label>
                <div class="list-file">
                  <file-list></file-list>
                </div>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-collapse-panel>
    </nz-collapse>

    <nz-collapse>
      <nz-collapse-panel nzActive="true" nzHeader="Thông tin quyết định điều chỉnh KH BĐG">
        <form nz-form nzLayout="vertical" [formGroup]="formData">
          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Căn cứ giao chỉ tiêu của TCDTNN</nz-form-label>
                <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfterIcon="folder-open">
                    <input [readonly]="true" nz-input formControlName="soQdCc" readonly="true" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Loại hàng hóa</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfterIcon="folder-open">
                    <input [readonly]="true" nz-input formControlName="tenLoaiVthh" readonly="true" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Chủng loại hàng hóa</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <nz-input-group nzAddOnAfterIcon="folder-open">
                    <input [readonly]="true" nz-input formControlName="tenCloaiVthh" readonly="true" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label nzRequired [nzNoColon]="true"> Tên hàng hóa</nz-form-label>
                <nz-form-control [nzErrorTip]="error">
                  <input nz-input formControlName="moTaHangHoa" [readonly]="true" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>

        <nz-table class="pd-10" nzBordered [nzData]="dataTable" [nzFrontPagination]="false" [nzShowPagination]="false">
          <thead>
            <tr>
              <th [width]="30">STT</th>
              <th>Cục DTNN KV</th>
              <th>Địa chỉ</th>
              <th>Số kế hoạch/tờ trình</th>
              <th>Ngày lập KH</th>
              <th>Ngày duyệt KH</th>
              <th>Trích yếu</th>
              <th>Số ĐV tài sản</th>
              <th>Tổng SL xuất bán (kg)</th>
              <th>Tổng khoản tiền đặt trước theo đơn giá được duyệt(đ)</th>
            </tr>
          </thead>
          <tbody #bodyChiTiet>
            <tr *ngFor="let data of dataTable ;let i = index" (click)="showDetail($event,i)">
              <td class="text-center">{{i + 1}} </td>
              <td>{{ data.tenDvi }}</td>
              <td>{{ data.diaChi }}</td>
              <td>{{ data.soDxuat }}</td>
              <td>{{ data.ngayTao | date: 'dd/MM/YYYY' }}</td>
              <td>{{ data.ngayPduyet | date: 'dd/MM/YYYY' }}</td>
              <td>{{ data.trichYeu }}</td>
              <td>{{ data.soDviTsan }}</td>
              <td>{{ data.tongSoLuong | number: '1.0-1' }}</td>
              <td>{{ data.tongTienDatTruocDonGia | number: '1.0-1' }}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-collapse-panel>
    </nz-collapse>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-card class="mg-t-10 flex-card p-lr16 ">
          <app-thongtin-qd-dieuchinh-khbdg [title]="'Nội dung quyết định gốc'" [dataInput]="dataInputCache"
            [isView]="true" [isCache]="true">
          </app-thongtin-qd-dieuchinh-khbdg>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-card class="mg-t-10 flex-card p-lr16 ">
          <app-thongtin-qd-dieuchinh-khbdg [title]="'Quyết định của TCDTNN'" [dataInput]="dataInput" [isView]="false">
          </app-thongtin-qd-dieuchinh-khbdg>
        </nz-card>
      </div>
    </div>
  </nz-card>
</div>
<ng-template #error let-control>
  <app-template-error #error [control]="control"></app-template-error>
</ng-template>