:host ::ng-deep .mat-card-header-text {
    margin: 6px !important;
    color: #203665;
    font-family: 'Roboto', Serif, Sans-serif, Cursive, fantasy, Monospace;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-field-label {
        justify-content: flex-start;
        margin-left: 10px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
        color: #34404B;
    }

    .mat {
        &-card-header {
            align-items: flex-start;
            margin-bottom: 1rem;
        }

        &-card-title {
            color: #203665;
            font-family: 'Roboto', Serif, Sans-serif, Cursive, fantasy, Monospace;
            text-align: left;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
        }
        &-card {
            overflow: auto;
            padding: 25px 40px;
            &-actions {
                display: flex;
                justify-content: center;
            }
        }

        &-form-field {
            margin-bottom: 1rem;
        }
    }

    admin-password-pattern-checker {
        display: block;

        margin-top: -1rem;
        margin-bottom: 1rem;
    }

    mat-form-field {
        width: 100%;

        input {
            margin-left: 1rem;
            margin-top: 5px;
        }
    }

    .mat-button {
        margin: 0 !important;
    }

    @media only screen and (max-width: 600px) {
        .mat {
            &-card {
                padding: 1.5rem;

                &-title {
                    font-size: 1.25rem;
                }
            }
        }
    }

    ::ng-deep .mat-tooltip {
        white-space: pre-line !important;
    }

    .new-password-container {
        position: relative;
        .password-criteria {
            position: absolute;
            top: 15px;
        }
    }

    .change-password {
        position: relative;

        .mat-dialog-actions {
            position: absolute;
            top: -9px;
            right: 0;
            z-index: 2;
        }
    }

    img {
        vertical-align: unset !important
    }
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 80px;
    background: #F4F7F9;
    padding-top: 16px;
    justify-content: right;
    margin-top: 20px;

    .confirm{
        width: auto ;
    }

    .mat-slim{
        margin-right: 32px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        padding: 6px 43px 6px 43px;
    }

    .btn-add-active {
        background: #0957DE;
        border-color: #0957DE;
        opacity: 1 !important;
    }
}

::ng-deep .mat-dialog-container {
    overflow: hidden !important;
}
