<ng-container *ngIf="!isDetail">
  <div class="bg-trang">
    <nz-card class="mt16 flex-card p-lr16">
      <form [nzLayout]="'vertical'" [formGroup]="formData" nz-form>
        <div nz-row [nzGutter]="24">
          <div nz-col nzSpan="3">
            <label class="search__label">Năm kế hoạch</label>
            <nz-select nzAllowClear formControlName="namKeHoach">
              <nz-option *ngFor="let item of listNam" [nzValue]="item.value" [nzLabel]="item.text"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="3">
            <label class="search__label">Số tổng hợp</label>
            <nz-input-number   [nzParser]="globals.parser" [nzSize]="'small'" nz-input
                              formControlName="maTh" [nzMin]="0">
            </nz-input-number>
          </div>
          <div nz-col nzSpan="14">
            <label class="search__label">Trích yếu</label>
            <input class="search__input" placeholder="Nhập trích yếu" nz-input formControlName="trichYeu" />
          </div>
          <div nz-col nzSpan="4">
            <label class="search__label">Ngày tổng hợp</label>
            <nz-range-picker formControlName="ngayKy" nzFormat="dd/MM/yyyy"></nz-range-picker>
          </div>
        </div>
      </form>
      <div class="cangiua group-button-search">
        <button nz-button class="search__button--clear" (click)="clearForm()">
          <i class="icon  htvbdh_nhap-lai1"></i>
          Xóa điều kiện
        </button>
        <button nz-button class="search__button--search" (click)="filter()">
          <i nz-icon nzType="search"></i>
          Tìm kiếm
        </button>
      </div>
    </nz-card>

    <div class="group-button">
      <h3>DANH SÁCH TỔNG HỢP ĐỀ XUẤT NHU CẦU MÁY MÓC THIẾT BỊ CỦA CÁC CỤC</h3>
      <div class="buttons">
        <button type="button" class="btn btn-do" (click)="deleteMulti()" *ngIf="userService.isTongCuc() && userService.isAccessPermisson('QLĐMNXBQ_MMTBCD_THDEXUATCUC_XOA')">
          <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
          <span>Xóa</span>
        </button>
        <button type="button" class="btn btn-sub" (click)="exportData()" *ngIf="userService.isAccessPermisson('QLĐMNXBQ_MMTBCD_THDEXUATCUC_EXP')">
          <i class="icon htvbdh_chuyen-xu-ly"></i>
          <span>Xuất file</span>
        </button>
        <button type="button" class="btn btn-sub xanh" (click)="redirectToChiTiet(false, 0)"
                *ngIf="userService.isTongCuc()">
          <i class="icon htvbdh_dau-cong"></i>
          <span>Tổng hợp</span>
        </button>
      </div>
    </div>

    <nz-card class="mt-2px flex-card data-table card-border-content table-card">
      <nz-table #basicTable nzBordered class="nowrap" [nzFrontPagination]="false" [nzShowPagination]="false"
                [nzData]="dataTable">
        <thead>
        <tr>
          <th width="45px">
            <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
                   [nzIndeterminate]="indeterminate"></label>
          </th>
          <th width="45px">STT</th>
          <th width="130px">Số tổng hợp</th>
          <th width="130px">Năm kế hoạch</th>
          <th width="130px">Ngày tổng hợp</th>
          <th>Trích yếu</th>
          <th width="130px">Số QĐ giao chỉ tiêu</th>
          <th width="130px">Số QĐ mua sắm của TC</th>
          <th width="130px">Số thông báo từ chối </th>
          <th width="130px">Trạng thái</th>
          <th width="120px">Hành động</th>
        </tr>
        <tr class="search-table">
          <th></th>
          <th></th>
          <th>
            <nz-input-group >
              <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.id"
                     (input)="filterInTable('id',filterTable.id)" />
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <nz-select nzAllowClear [(ngModel)]="filterTable.namKeHoach"
                         (ngModelChange)="filterInTable('namKeHoach',filterTable.namKeHoach)">
                <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
              </nz-select>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <nz-date-picker  nzFormat="dd/MM/yyyy" nzPlaceHolder="Ngày ký"
                               [(ngModel)]="filterTable.ngayKy"
                               (ngModelChange)="filterInTable('ngayKy', convertDateToString(filterTable.ngayKy))"
              ></nz-date-picker>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group >
              <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.trichYeu"
                     (input)="filterInTable('trichYeu',filterTable.trichYeu)" />
            </nz-input-group>
          </th>
          <th>
            <nz-input-group >
              <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soQdCtieu"
                     (input)="filterInTable('soQdCtieu',filterTable.soQdCtieu)" />
            </nz-input-group>
          </th>
          <th>
            <nz-input-group >
              <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soQdMuaSam"
                     (input)="filterInTable('soQdMuaSam',filterTable.soQdMuaSam)" />
            </nz-input-group>
          </th>
          <th>
            <nz-input-group >
              <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soTbTuChoi"
                     (input)="filterInTable('soTbTuChoi',filterTable.soTbTuChoi)" />
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <nz-select nzAllowClear [(ngModel)]="filterTable.trangThai"
                         (ngModelChange)="filterInTable('trangThai',filterTable.trangThai)">
                <nz-option *ngFor="let p of listTrangThai" [nzValue]="p.ma" [nzLabel]="p.giaTri"></nz-option>
              </nz-select>
            </nz-input-group>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let data of basicTable.data; let i = index">
          <td width="45px">
            <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="updateSingleChecked()"
                   [nzDisabled]="data.trangThai != globals.prop.NHAP_DU_THAO"></label>
          </td>
          <td class="text-center">{{(page-1)*pageSize+i+1}}</td>
          <td>{{ data.id }}</td>
          <td>{{ data.namKeHoach }}</td>
          <td>{{ data.ngayKy | date: 'dd/MM/YYYY' }}</td>
          <td>{{ data.trichYeu }}</td>
          <td>{{ data.soQdGiaoCt }}</td>
          <td>{{ data.soQdMuaSam }}</td>
          <td>{{ data.soTbTuChoi }}</td>
          <td>{{ data.tenTrangThai }}</td>
          <td>
            <a (click)="redirectToChiTiet(true, data.id)" *ngIf="userService.isAccessPermisson('QLĐMNXBQ_MMTBCD_THDEXUATCUC_XEM') && !((data.trangThai == STATUS.DU_THAO || data.trangThai == STATUS.TU_CHOI_LDTC) && data.nguoiTaoId == userInfo.ID  )">
              <i class="fa fa-eye" title="Xem chi tiết"></i>
            </a>
            <a *ngIf="((data.trangThai == STATUS.DU_THAO  || data.trangThai == STATUS.TU_CHOI_LDTC) && userService.isTongCuc()) && userService.isAccessPermisson('QLĐMNXBQ_MMTBCD_THDEXUATCUC_SUA')"
               (click)="redirectToChiTiet(false, data.id)">
              <i class="fa fa-pencil" title="Sửa"></i>
            </a>
            <a *ngIf="((data.trangThai == STATUS.TU_CHOI_LDTC) && userService.isTongCuc()) && userService.isAccessPermisson('QLĐMNXBQ_MMTBCD_THDEXUATCUC_SUA')"
               (click)="openDialogThongBao(data.id)">
              <i class="icon htvbdh_bullhorn" title="Thông báo"></i>
            </a>
            <a *ngIf="(data.trangThai == STATUS.DU_THAO && userService.isTongCuc()) && userService.isAccessPermisson('QLĐMNXBQ_MMTBCD_THDEXUATCUC_XOA')" (click)="delete(data)">
              <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <div class="tab-content tab-menu">
        <div class="tab-pane fade show active justify-content-between">
          <div class="trai"></div>
          <div class="canphai">
            <!-- begin phân trang  -->
            <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord" nzShowSizeChanger
                           [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="changePageIndex($event)"
                           (nzPageSizeChange)="changePageSize($event)">
              <ng-template #rangeTemplate let-range="range" let-total>
                {{ range[0] }}-{{ range[1] }} trên tổng số {{ total }} bản ghi
              </ng-template>
            </nz-pagination>
            <!-- end phân trang  -->
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</ng-container>

<ng-container class="chi-tiet" *ngIf="isDetail">
  <app-mm-them-moi-tong-hop-dx-cuc  [id]="selectedId" (showListEvent)="showList()" [isView]="isViewDetail"></app-mm-them-moi-tong-hop-dx-cuc>
</ng-container>
