<div class="bg-trang" *ngIf="!isDetail">
  <div class="bg-trang">
    <nz-card class="mt16 flex-card p-lr16">
      <form [nzLayout]="'vertical'" nz-form [formGroup]="formData">
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="2">
            <label class="search__label"> Năm kế hoạch </label>
            <nz-select formControlName="namKh">
              <nz-option *ngFor="let item of listNam" [nzValue]="item.value" [nzLabel]="item.text"></nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="6">
            <label class="search__label"> Số kế hoạch/đề xuất </label>
            <input placeholder="" nz-input formControlName="soDxuat"/>
          </div>
          <div nz-col [nzSpan]="8">
            <label class="search__label"> Ngày tạo</label>
            <div nz-row>
              <div nz-col [nzSpan]="12" class="cus-start-date">
                <nz-date-picker [nzDisabledDate]="disabledNgayTaoTu" nzFormat="dd/MM/yyyy"
                                formControlName="ngayTaoTu" nzPlaceHolder="Ngày bắt đầu">
                </nz-date-picker>
              </div>
              <div nz-col [nzSpan]="12" class="cus-end-date">
                <nz-date-picker [nzDisabledDate]="disabledNgayTaoDen" nzFormat="dd/MM/yyyy"
                                formControlName="ngayTaoDen" nzPlaceHolder="Ngày kết thúc">
                </nz-date-picker>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="8">
            <label class="search__label"> Ngày duyệt</label>
            <div nz-row>
              <div nz-col [nzSpan]="12" class="cus-start-date">
                <nz-date-picker [nzDisabledDate]="disabledNgayDuyetTu" nzFormat="dd/MM/yyyy"
                                formControlName="ngayDuyetTu" nzPlaceHolder="Ngày bắt đầu">
                </nz-date-picker>
              </div>
              <div nz-col [nzSpan]="12" class="cus-end-date">
                <nz-date-picker [nzDisabledDate]="disabledNgayDuyetDen" nzFormat="dd/MM/yyyy"
                                formControlName="ngayDuyetDen" nzPlaceHolder="Ngày kết thúc">
                </nz-date-picker>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div nz-col class="cangiua group-button-search">
        <div>
          <button nz-button class="search__button--clear" (click)="clearForm({loaiVthh: loaiVthh})">
            <i class="icon  htvbdh_nhap-lai1"></i>
            Xóa điều kiện
          </button>
          <button nz-button class="search__button--search" (click)="search()">
            <i nz-icon nzType="search"></i>
            Tìm kiếm
          </button>
        </div>
      </div>
    </nz-card>
    <div class="group-button">
      <h3 class="text-uppercase"> DANH SÁCH QD PD KẾ HOẠCH BÁN TRỰC TIẾP ĐƯỢC ỦY QUYỀN/BÁN LẺ </h3>
      <div class="buttons">
        <button type="button"
                (click)="exportData('danh-sach-quyet-dinh-phe-duyet-ke-hoach-ban-truc-tiep-duoc-uy-quyen/ban-le-hang-DTQG.xlsx')"
                class="btn btn-sub">
          <i class="icon htvbdh_chuyen-xu-ly"></i>
          <span>Xuất file</span>
        </button>
      </div>
    </div>
    <nz-card class="mt-2px flex-card data-table card-border-content table-card">
      <nz-table #basicTable nzBordered class="nowrap" [nzData]="dataTable" [nzFrontPagination]="false"
                [nzShowPagination]="false" nzBordered>
        <thead>
        <tr>
          <th nzWidth="50px" class="text-center wrap"> STT</th>
          <th class="text-left"> Số quyết định</th>
          <th class="text-left"> Số QĐ điều chỉnh</th>
          <th class="text-left"> Số kế hoạch</th>
          <th class="text-left"> Năm kế hoạch</th>
          <th class="text-left"> Ngày duyệt</th>
          <th class="text-left"> Ngày ủy quyền</th>
          <th class="text-left"> Trích yếu</th>
          <th class="text-left" *ngIf="loaiVthh.startsWith(LOAI_HANG_DTQG.VAT_TU)">Loại hàng DTQG</th>
          <th class="text-left"> Chủng loại hàng DTQG</th>
          <th class="text-center"> Số lượng
            {{loaiVthh.startsWith(LOAI_HANG_DTQG.VAT_TU) ? '' : '(kg)'}}
          </th>
          <th class="text-left"> Phương thức bán trực tiếp</th>
          <th class="text-left"> Trạng thái</th>
          <th class="text-center"> Hành Động</th>
        </tr>
        <tr class="search-table">
          <th></th>
          <th>
            <nz-input-group>
              <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soQdPd"
                     (input)="filterInTable('soQdPd',filterTable.soQdPd)" size="small"/>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soQdDc"
                     (input)="filterInTable('soQdDc',filterTable.soQdDc)" size="small"/>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.soDxuat"
                     (input)="filterInTable('soDxuat',filterTable.soDxuat)" size="small"/>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <nz-select nzAllowClear [(ngModel)]="filterTable.namKh"
                         (ngModelChange)="filterInTable('namKh',filterTable.namKh)">
                <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
              </nz-select>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <nz-date-picker nzFormat="dd/MM/yyyy" nzPlaceHolder="" [(ngModel)]="filterTable.ngayPduyet"
                              (ngModelChange)="filterInTable('ngayPduyet', convertDateToString(filterTable.ngayPduyet))">
              </nz-date-picker>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <nz-date-picker nzFormat="dd/MM/yyyy" nzPlaceHolder="" [(ngModel)]="filterTable.ngayNhanCgia"
                              (ngModelChange)="filterInTable('ngayNhanCgia', convertDateToString(filterTable.ngayNhanCgia))">
              </nz-date-picker>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.trichYeu"
                     (input)="filterInTable('trichYeu',filterTable.trichYeu)" size="small"/>
            </nz-input-group>
          </th>
          <th *ngIf="loaiVthh.startsWith(LOAI_HANG_DTQG.VAT_TU)">
            <nz-input-group>
              <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tenLoaiVthh"
                     (input)="filterInTable('tenLoaiVthh',filterTable.tenLoaiVthh)" size="small"/>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tenCloaiVthh"
                     (input)="filterInTable('tenCloaiVthh',filterTable.tenCloaiVthh)" size="small"/>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filterTable.tongSoLuong"
                     (input)="filterInTable('tongSoLuong',filterTable.tongSoLuong)" size="small"/>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <nz-select nzAllowClear [(ngModel)]="filterTable.pthucBanTrucTiep"
                         (ngModelChange)="filterInTable('pthucBanTrucTiep',filterTable.pthucBanTrucTiep)">
                <nz-option *ngFor="let p of listPtBanTt" [nzValue]="p.ma"
                           [nzLabel]="p.giaTri"></nz-option>
              </nz-select>
            </nz-input-group>
          </th>
          <th>
            <nz-input-group>
              <nz-select nzAllowClear [(ngModel)]="filterTable.tenTrangThai"
                         (ngModelChange)="filterInTable('tenTrangThai',filterTable.tenTrangThai)">
                <nz-option *ngFor="let p of listTrangThai" [nzValue]="p.giaTri"
                           [nzLabel]="p.giaTri"></nz-option>
              </nz-select>
            </nz-input-group>
          </th>
          <th>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
          <td class="text-center">{{(page - 1) * pageSize + i + 1}}</td>
          <td class="text-left">
            <a *ngIf="data.soQdPd && data.xhQdPdKhBttHdr.type === 'QDDC' ? data.xhQdPdKhBttHdr.idQdPd : data.idHdr"
               (click)="openModal((data.xhQdPdKhBttHdr.type === 'QDDC' ? data.xhQdPdKhBttHdr.idQdPd : data.idHdr), 'QdKh')"
               style="color: blue">{{ data.soQdPd }}
            </a>
          </td>
          <td class="text-left">
            <a *ngIf="data.soQdDc && data.xhQdPdKhBttHdr.type === 'QDDC' ? data.idHdr : null"
               (click)="openModal((data.xhQdPdKhBttHdr.type === 'QDDC' ? data.idHdr : null), 'QdDc')"
               style="color: blue">{{ data.soQdDc }}
            </a>
          </td>
          <td class="text-left">
            <a *ngIf="data.soDxuat && data.idDxHdr" (click)="openModal(data.idDxHdr, 'DxKh')"
               style="color: blue">{{ data.soDxuat }}
            </a>
          </td>
          <td class="text-left">{{ data.namKh }}</td>
          <td class="text-left">{{ data.xhQdPdKhBttHdr?.ngayPduyet|date: 'dd/MM/yyyy' }}</td>
          <td class="text-left">{{ data.ngayNhanCgia|date: 'dd/MM/yyyy'}}</td>
          <td class="text-left" style="max-width: 300px; min-width: 250px;  white-space: break-spaces;">
            {{data.xhQdPdKhBttHdr?.trichYeu}}
          </td>
          <td class="text-left" *ngIf="loaiVthh.startsWith(LOAI_HANG_DTQG.VAT_TU)">{{data.tenLoaiVthh}}</td>
          <td class="text-left">{{ data.tenCloaiVthh}}</td>
          <td class="text-right">{{ data.tongSoLuong|number:'1.0-0' : 'vi_VN'}}</td>
          <td class="text-left">
            {{{'02': 'Ủy quyền', '03': 'Bán lẻ'}[data.pthucBanTrucTiep] || null}}
          </td>
          <td class="text-left">
            {{data.xhQdPdKhBttHdr?.tenTrangThai}}
          </td>
          <td class="text-center">
            <a (click)="redirectDetail(data.id,true)">
              <i class="fa fa-eye" title="Xem chi tiết"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <div class="tab-content tab-menu" id="myTabContent">
        <div class="tab-pane fade show active justify-content-between">
          <div class="trai">
          </div>
          <div class="canphai">
            <nz-pagination class="pagination-card" [nzPageIndex]="page" [nzTotal]="totalRecord"
                           nzShowSizeChanger [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate"
                           (nzPageIndexChange)="changePageIndex($event)" (nzPageSizeChange)="changePageSize($event)">
              <ng-template #rangeTemplate let-range="range" let-total>
                {{ range[0] }}-{{ range[1] }} trên tổng số {{ total }} bản ghi
              </ng-template>
            </nz-pagination>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</div>
<div *ngIf="isDetail" class="chi-tiet">
  <app-thong-tin-quyet-dinh-uy-quyen-ban-le [idInput]="idSelected" [loaiVthh]="loaiVthh" [isView]="isView"
                                            (showListEvent)="showList()">
  </app-thong-tin-quyet-dinh-uy-quyen-ban-le>
</div>
<!--xem quyết định kế hoạch -->
<nz-modal class="scroll-nz-modal" [nzWidth]="'90%'" [(nzVisible)]="isViewQdPdKh" (nzOnCancel)="closeModal('QdKh')">
  <ng-container *nzModalContent class="modal__content custom-scroll-modal">
    <app-them-moi-qd-phe-duyet-kh-ban-truc-tiep [idInput]="idQdPdKh" [loaiVthh]="loaiVthh" [isViewOnModal]="true"
                                                [isView]="true">
    </app-them-moi-qd-phe-duyet-kh-ban-truc-tiep>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="closeModal('QdKh')" class="modal__button--cancel">
      <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
      Đóng
    </button>
  </div>
</nz-modal>
<!--Xem điều chỉnh kế hoạch-->
<nz-modal class="scroll-nz-modal" [nzWidth]="'90%'" [(nzVisible)]="isViewQdDc" (nzOnCancel)="closeModal('QdDc')">
  <ng-container *nzModalContent class="modal__content custom-scroll-modal">
    <app-chi-tiet-dieu-chinh-ban-truc-tiep [idInput]="idQdDc" [loaiVthh]="loaiVthh" [isViewOnModal]="true"
                                           [isView]="true">
    </app-chi-tiet-dieu-chinh-ban-truc-tiep>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="closeModal('QdDc')" class="modal__button--cancel">
      <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
      Đóng
    </button>
  </div>
</nz-modal>
<!--Xem đề xuất-->
<nz-modal class="scroll-nz-modal" [nzWidth]="'90%'" [(nzVisible)]="isViewDxKh" (nzOnCancel)="closeModal('DxKh')">
  <ng-container *nzModalContent class="modal__content custom-scroll-modal">
    <app-them-moi-de-xuat-kh-ban-truc-tiep [idInput]="idDxKh" [loaiVthh]="loaiVthh" [isViewOnModal]="true"
                                           [isView]="true">
    </app-them-moi-de-xuat-kh-ban-truc-tiep>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="closeModal('DxKh')" class="modal__button--cancel">
      <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
      Đóng
    </button>
  </div>
</nz-modal>
