<nz-affix class="menu-lv3" [nzOffsetTop]="43">
	<div class="tab-content tab-menu" id="myTabContent">
		<div class="tab-pane fade show active justify-content-between" id="banhanh" role="tabpanel"
			aria-labelledby="banhanh-tab">
			<div class="trai">
				<a class="btn btn-outline-grey btn-sm waves-effect waves-light" (click)="close()">
					<i class="fa fa-arrow-circle-left"></i>
				</a>
			</div>
			<div class="canphai phai">
				<button class="btn btn-main" (click)="save()"
					[hidden]="statusBtnSave">
					<i class="icon htvbdh_tcdt_save"></i>
					<span>Lưu</span>
				</button>
				<button class="btn btn-main" (click)="onSubmit('2',null)"
					[hidden]="statusBtnApprove">
					<i class="icon htvbdh_tcdt_guiduyet"></i>
					<span>Trình duyệt</span>
				</button>
				<!-- <a class="btn btn-main" (click)="tuChoi('3')" [hidden]="statusBtnTBP">
					<i class="icon htvbdh_tcdt_tuchoi"></i>
					<span>Từ chối</span>
				</a>
				<button class="btn btn-main" (click)="onSubmit('4',null)" [hidden]="statusBtnTBP">
					<i class="icon htvbdh_tcdt_pheduyet"></i>
					<span>Duyệt</span>
				</button> -->
				<button class="btn btn-main" (click)="tuChoi('5')" [hidden]="statusBtnLD">
					<i class="icon htvbdh_tcdt_pheduyet"></i>
					<span>Từ chối</span>
				</button>
				<a class="btn btn-main" (click)="onSubmit('7',null)" [hidden]="statusBtnLD">
					<i class="icon htvbdh_tcdt_tuchoi"></i>
					<span>Phê duyệt</span>
				</a>
				<button class="btn btn-main" (click)="tuChoi('8')" [hidden]="statusBtnDVCT">
					<i class="icon htvbdh_tcdt_pheduyet"></i>
					<span>Từ chối</span>
				</button>
				<a class="btn btn-main" (click)="onSubmit('9',null)" [hidden]="statusBtnDVCT">
					<i class="icon htvbdh_tcdt_tuchoi"></i>
					<span>Tiếp nhận</span>
				</a>
				<a class="btn btn-main" [hidden]="statusBtnCopy">
					<i nz-icon nzType="copy" nzTheme="outline"></i>
					<span>Copy</span>
				</a>
				<a class="btn btn-main" [hidden]="statusBtnPrint">
					<i nz-icon nzType="printer" nzTheme="outline"></i>
					<span>In</span>
				</a>
				<a class="btn btn-main" (click)="close()" >
					<i nz-icon nzType="stop" nzTheme="outline"></i>
					<span>Đóng</span>
				</a>
			</div>
		</div>
	</div>
</nz-affix>
<div class="contentBor chi-tieu__body">
	<div class="contentDetail">
		<div class="main-content">
			<nz-card nzTitle="Thông tin chung báo cáo" class="mt16 flex-card p-lr16">
				<nz-table #basicTable class="nowrap">
					<thead>
						<tr>
							<th>Mã đề nghị</th>
							<th>Quyết định chỉ tiêu</th>
							<th>Căn cứ giá</th>
							<th>Loại đề nghị</th>
							<th>Công văn</th>
							<th>Ngày lập</th>
							<th>Ngày trình duyệt</th>
							<th>Ngày phê duyệt</th>
							<th width>Trạng thái</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{maDeNghi}}</td>
							<td>{{qdChiTieu}}</td>
							<td>
								<ng-container *ngFor="let item of canCuGias">
									<ng-container *ngIf="canCuGia == item.id">
										{{item.tenDm}}
									</ng-container>
								</ng-container>
							</td>
							<td>
								<ng-container *ngFor="let item of loaiDns">
									<ng-container *ngIf="loaiDn == item.id">
										{{item.tenDm}}
									</ng-container>
								</ng-container>
							</td>
							<td>
								<nz-upload [nzBeforeUpload]="beforeUploadCV" [hidden]="status">
									<button nz-button>
										<i nz-icon nzType="upload"></i>
										Select File
									</button>
								</nz-upload>
								<div class="tep" (click)="downloadFileCv()">
									<!-- <i class="icon htvbdh_tcdt_tep"></i> -->
									<span>{{congVan?.fileName}}</span>
								</div>
							</td>
							<td>{{ngayTao}}</td>
							<td>{{ngayTrinhDuyet}}</td>
							<td>{{ngayPheDuyet}}</td>
							<td>
								<ng-container
									*ngIf="trangThai == '3' || trangThai == '5' || trangThai == '8'; else chapnhan">
									{{getStatusName()}} - {{lyDoTuChoi}}
								</ng-container>
								<ng-template #chapnhan>
									{{getStatusName()}}
								</ng-template>
							</td>
						</tr>
					</tbody>
				</nz-table>
			</nz-card>
			<div class="tab__container">
				<nz-tabset nzType="card" class="tab__container">
					<nz-tab [nzTitle]="'Danh sách hàng hóa'">
						<div id="tablePrint">
							<nz-table nzBordered class="table__body">
								<thead>
									<tr>
										<th>STT</th>
										<th>Hợp đồng</th>
										<th>Tên hàng</th>
										<th>Số lượng</th>
										<th>Đơn vị hàng</th>
										<th>Đơn giá</th>
										<th>Đơn vị (đơn giá)</th>
										<th>Thành tiền</th>
										<th>Đơn vị (thành tiền)</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let data of lstCtietBcao; let i = index">
										<td>{{ i + 1 }}</td>
										<td>
											{{data.maHdong}}
										</td>
										<td>
											{{data.maHang}}
										</td>
										<td>
											{{data.sl}}
										</td>
										<td>
											<div *ngFor="let item of dviTinhs">
												<div *ngIf="item.id == data.maDviTinh">
													{{item.tenDm}}
												</div>
											</div>
										</td>
										<td>
											{{data.donGiaMua}}
										</td>
										<td>
											{{data.dviDonGia}}
										</td>
										<td>
											{{data.thanhTien}}
										</td>
										<td>
											<div *ngFor="let item of dviTiens">
												<div *ngIf="item.id == data.dviThanhTien">
													{{item.tenDm}}
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td></td>
										<td>Tổng tiền</td>
										<td>{{tongTien}}</td>
										<td>Kinh phí đã cấp</td>
										<td>
											<ng-container *ngIf="status; else edit">
												{{kphiDaCap}}
											</ng-container>
											<ng-template #edit>
												<nz-input-number class="search__input" nzSize="small" [(ngModel)]="kphiDaCap"></nz-input-number>
											</ng-template>
										</td>
										<td>Yêu cầu cấp thêm</td>
										<td>{{tongTien-kphiDaCap}}</td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</nz-table>
						</div>
						<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
							<div nz-col nzSpan="24">
								<label class="search__label">Thuyết minh</label>
								<textarea rows="2" nz-input [(ngModel)]="thuyetMinh"></textarea>
							</div>
						</div>
						<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
							<div nz-col class="gutter-row" [nzSpan]="3">
								Danh sách văn bản đính kèm
								<nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [hidden]="status">
									<button nz-button>
										<i nz-icon nzType="upload"></i>
										Select File
									</button>
								</nz-upload>
								<button nz-button [nzType]="'primary'" (click)="handleUpload()"
									[disabled]="fileList.length === 0" [hidden]="status" style="margin-top: 16px">
									Thêm vào danh sách
								</button>
							</div>
						</div>
						<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
							<div nz-col class="gutter-row" [nzSpan]="12">
								<nz-table nzBordered class="table__body">
									<thead>
										<tr>
											<th>STT</th>
											<th>Tên file</th>
											<th></th>
											<th class="th" [hidden]="status"></th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let data of lstFiles; let i = index">
											<td>{{ i + 1 }} </td>
											<td>{{ data.fileName }}</td>
											<td>
												<button class="btn btn-function"
													(click)="downloadFile(data.id)">Xem</button>
											</td>
											<td [hidden]="status">
												<button class="btn btn-function"
													(click)="deleteFile(data.id)">Xóa</button>
											</td>
										</tr>
									</tbody>
								</nz-table>

							</div>
						</div>
					</nz-tab>
				</nz-tabset>
				<!-- <div class="action">
					<button type="button" class="btn btn-main" >
						<i class="fa fa-trash-o"></i>
						<span>Xóa</span>
					</button>
				</div> -->
			</div>
			<div class="ghi-chu">
				<nz-form-label nzRequired [nzNoColon]="true">
					Ghi chú
				</nz-form-label>
				<ul>
					<li class="ghi-chu__item">
						Công văn xin ý kiến khảo sát xây dựng CSDL về Tài chính Công văn xin ý kiến khảo sát xây dựng
						CSDL về Tài
						chính Công văn xin ý kiến khảo sát xây dựng CSDL về Tài chính Công văn xin ý kiến khảo sát xây
						dựng CSDL về
						Tài chính Công văn xin ý kiến khảo sát xây dựng CSDL về Tài chính Công văn xin ý kiến khảo sát
						xây dựng CSDL
						về Tài chính Công văn xin ý kiến khảo sát xây dựng CSDL về Tài chính Công văn xin ý kiến khảo
						sát xây dựng
						CSDL về Tài chính Công văn xin ý kiến khảo sát xây dựng CSDL về Tài chính Công văn xin ý kiến
						khảo sát xây
						dựng CSDL về Tài chính
					</li>
					<li class="ghi-chu__item">
						Quyết định về việc phê duyệt kế hoạch lựa chọn nhà thầu cung cấp gạo nhập kho dự trữ quốc gia kế
						hoạch năm
						2022
					</li>
					<li class="ghi-chu__item">
						Quyết định về việc phê duyệt kế hoạch lựa chọn nhà thầu cung cấp gạo nhập kho dự trữ quốc gia kế
						hoạch năm
						2022
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>