<!-- <nz-affix class="menu-lv3" [nzOffsetTop]="43">
  <div class="tab-content tab-menu" id="myTabContent">
    <div class="tab-pane fade show active justify-content-between" id="banhanh" role="tabpanel"
      aria-labelledby="banhanh-tab">
      <div class="trai">
      </div>
      <div class="canphai phai action-top">
        <button nz-button class="search__button--search" (click)="pages.page = 1; pages.size = 10;">
          <i nz-icon nzType="search"></i>
          Tìm kiếm
        </button>
        <button nz-button class="search__button--clear">
          <i nz-icon nzType="close"></i>
          Xóa điều kiện
        </button>
      </div>
    </div>
  </div>
</nz-affix> -->
<div class="contentBor chi-tieu__body">
  <div class="contentDetail">
    <div class="main-content">
      <nz-card nzTitle="Tìm kiếm" class="mt16 flex-card p-lr16">
        <div class="search__body" nz-row [nzGutter]="[18, 12]">
          <div nz-col nzSpan="8">
            <label class="search__label">Ngày nhập</label>
            <nz-date-picker [(ngModel)]="ngayNhap" ></nz-date-picker>
          </div>
          <div nz-col nzSpan="8">
            <label class="search__label">Người nhập</label>
            <input class="search__input" nz-input value="{{getUnitName()}}"  [(ngModel)]="nguoiNhap" disabled />
          </div>
          <div nz-col nzSpan="8">
            <label class="search__label">Đơn vị tạo</label>
            <input class="search__input" nz-input value="{{getUnitName()}}"  disabled />
        </div>
        <div nz-col nzSpan="8">
          <label class="search__label">Năm báo cáo</label>
          <input class="search__input" nz-input type="text"  [(ngModel)]="namBaocao"  />
        </div>
          <div nz-col nzSpan="8">
            <label class="search__label">Loại báo cáo</label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a report" [(ngModel)]="loaiBaocao" (ngModelChange)="setUrl()" >
              <nz-option *ngFor="let item of baoCaos" [nzValue]="item.id" [nzLabel]="item.tenDm"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="8">
            <label class="search__label">Đợt BC</label>
            <input class="search__input" nz-input [(ngModel)]="dotBaocao">
          </div>
          <div nz-col nzSpan="12" style="display: flex;justify-content: space-around;">
              <button  nz-button routerLink="../{{url}}/{{donVitao}}/{{loaiBaocao}}/{{namBaocao}}/{{dotBaocao}}">Tổng hợp</button>
              <button  nz-button routerLink="/" >Đóng</button>
              <button  nz-button routerLink="../{{url}}" >Tạo mới</button>
          </div>
        </div>
      </nz-card>
      
      
    </div>
  </div>
</div>
