<ng-container *ngIf="isDataAvailable">
	<nz-affix [nzOffsetTop]="globals.prop.MENU_LV1" class="btn-affix">
		<div class="btn-group">
			<button type="button" class="btn btn-sub" (click)="back()">
				<i class="fa fa-arrow-left"></i>
				<span>Quay lại</span>
			</button>
			<button *ngIf="status.save" type="button" class="btn btn-sub" (click)="action('save')">
				<i class="icon htvbdh_tcdt_save"></i>
				<span>Lưu</span>
			</button>
			<button *ngIf="status.submit" type="button" class="btn btn-sub" (click)="action('submit')">
				<i class="icon htvbdh_tcdt_guiduyet"></i>
				<span>Trình duyệt</span>
			</button>
			<!-- <button *ngIf="passStatus" type="button" class="btn btn-sub" (click)="action('nonpass')">
					 <i class="icon htvbdh_tcdt_tuchoi"></i>
					 <span>Từ chối</span>
				</button>
				<button *ngIf="passStatus" type="button" class="btn btn-sub" (click)="action('pass')">
					 <i class="icon htvbdh_tcdt_pheduyet"></i>
					 <span>Duyệt</span>
				</button> -->
			<button *ngIf="status.approve" type="button" class="btn btn-sub" (click)="action('nonapprove')">
				<i class="icon htvbdh_tcdt_tuchoi"></i>
				<span>Từ chối</span>
			</button>
			<button *ngIf="status.approve" type="button" class="btn btn-sub" (click)="action('approve')">
				<i class="icon htvbdh_tcdt_pheduyet"></i>
				<span>Phê duyệt</span>
			</button>
			<button *ngIf="status.copy" type="button" class="btn btn-sub" (click)="showDialogCopy()">
				<i nz-icon nzType="copy" nzTheme="outline"></i>
				<span>Copy</span>
			</button>
			<ng-container *ngIf="baoCao.trangThai == '7'">
				<button type="button" class="btn btn-main" *ngIf="status.export" (click)="exportToExcel()">
					<span nz-icon nzType="export" nzTheme="outline" style="margin-right: 5px;"></span>
					<span>Xuất</span>
				</button>
			</ng-container>
		</div>
	</nz-affix>

	<div class="bg-trang">
		<div class="mt16 flex-card p-lr16">
			<div class="header mg-t-16">
				<div class="header-text">
					<div class="title-chi-tieu">
						<span [ngClass]="statusClass()">{{getStatusName()}}</span>
						<span>Đề nghị cấp vốn chi dự trữ quốc gia</span>
					</div>
				</div>
			</div>
			<nz-card class="mt-2px flex-card data-table card-border-content table-card">
				<nz-table class="nowrap mt-16 table-chi-tiet">
					<thead>
						<tr>
							<th>Mã đề nghị</th>
							<th>Năm đề nghị</th>
							<th>Quyết định chỉ tiêu</th>
							<th>Loại đề nghị</th>
							<th>Căn cứ về giá</th>
							<th>Công văn</th>
							<th>Số lần</th>
							<th>Ngày lập</th>
							<th>Ngày trình duyệt</th>
							<th>Ngày duyệt</th>
							<th>Ngày phê duyệt</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ baoCao.maDnghi }}</td>
							<td>{{ baoCao.namBcao }}</td>
							<td>{{ baoCao.soQdChiTieu }}</td>
							<td>
								<ng-container *ngFor="let item of loaiDns">
									<ng-container *ngIf="baoCao.loaiDnghi == item.id">
										{{ item.tenDm }}
									</ng-container>
								</ng-container>
							</td>
							<td>
								<ng-container *ngFor="let item of canCuGias">
									<ng-container *ngIf="baoCao.canCuVeGia == item.id">
										{{ item.tenDm }}
									</ng-container>
								</ng-container>
							</td>
							<td>
								<nz-upload [nzBeforeUpload]="beforeUploadCV" *ngIf="status.congVan">
									<button nz-button>
										<i nz-icon nzType="upload"></i>
										Chọn tệp
									</button>
								</nz-upload>
								<div class="tep__sqd" (click)="downloadFileCv()">
									<!-- <i class="icon htvbdh_tcdt_tep"></i> -->
									<span>{{ baoCao.congVan?.fileName }}</span>
								</div>
							</td>
							<td>{{ baoCao.soLan }}</td>
							<td>{{ getDate(baoCao.ngayTao) }}</td>
							<td>{{ getDate(baoCao.ngayTrinh) }}</td>
							<td>{{ getDate(baoCao.ngayDuyet) }}</td>
							<td>{{ getDate(baoCao.ngayPheDuyet) }}</td>
						</tr>
					</tbody>
				</nz-table>
			</nz-card>
		</div>

		<div class="mt-16 flex-card p-lr16">
			<nz-card class="mt-2px flex-card data-table card-border-content table-card" nzTitle="Danh sách đơn vị">
				<div id="tablePrint">
					<nz-table class="table__body" nzBordered [nzScroll]="{x: scrollX}">
						<thead>
							<tr>
								<th rowspan="2" nzWidth="50px" nzLeft>STT</th>
								<th rowspan="2" nzWidth="250px" nzLeft>Đơn vị</th>
								<th colspan="2">Số lượng</th>
								<th rowspan="2">Đơn giá (theo <br /> quyết định)</th>
								<th rowspan="2">Giá trị thực hiện</th>
								<th rowspan="2">Dự toán đã giao</th>
								<th colspan="3">Lũy kế vốn cấp đến thời điểm báo cáo</th>
								<th rowspan="2">Tổng vốn và dự toán đã cấp
								</th>
								<th rowspan="2">Vốn đề nghị cấp <br />lần này = Giá trị <br /> theo kế hoạch -<br />Lũy
									kế vốn cấp</th>
								<th rowspan="2" style="width: 50px;" *ngIf="!status.general" nzRight></th>
							</tr>
							<tr>
								<th>Kế hoạch</th>
								<th>Thực hiện</th>
								<th>Tổng cấp ứng</th>
								<th>Tổng cấp vốn</th>
								<th>Tổng cộng</th>
							</tr>
							<tr>
								<th nzLeft>A</th>
								<th nzLeft>B</th>
								<th>1</th>
								<th>2</th>
								<th>3</th>
								<th>4=2x3</th>
								<th>5</th>
								<th>6</th>
								<th>7</th>
								<th>8=6+7</th>
								<th>9=5+8</th>
								<th>10=4-9</th>
								<th *ngIf="!status.general" nzRight></th>
							</tr>
							<tr>
								<th nzLeft></th>
								<th nzLeft>Tổng cộng</th>
								<th>{{Op.fmtVal(total.slKeHoach)}}</th>
								<th>{{Op.fmtVal(total.slThucHien)}}</th>
								<th></th>
								<th>{{Op.fmtVal(total.gtriThucHien)}}</th>
								<th>{{Op.fmtVal(total.duToanDaGiao)}}</th>
								<th>{{Op.fmtVal(total.luyKeTongCapUng)}}</th>
								<th>{{Op.fmtVal(total.luyKeTongCapVon)}}</th>
								<th>{{Op.fmtVal(total.luyKeTongCong)}}</th>
								<th>{{Op.fmtVal(total.tongVonVaDtDaCap)}}</th>
								<th>{{Op.fmtVal(total.vonDnghiCapLanNay)}}</th>
								<th *ngIf="!status.general" nzRight></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let data of baoCao.lstCtiets; let i = index">
								<ng-container *ngIf="!editCache[data.id].edit">
									<td nzLeft>
										{{ getIndex(data) }}
									</td>
									<td nzLeft>
										{{ data.tenDvi }}
									</td>
									<td>
										{{ Op.fmtVal(data.slKeHoach) }}
									</td>
									<td>
										{{ Op.fmtVal(data.slThucHien) }}
									</td>
									<td>
										{{ Op.fmtVal(data.donGia) }}
									</td>
									<td>
										{{ Op.fmtVal(data.gtriThucHien) }}
									</td>
									<td>
										{{ Op.fmtVal(data.duToanDaGiao) }}
									</td>
									<td>
										{{ Op.fmtVal(data.luyKeTongCapUng)}}
									</td>
									<td>
										{{ Op.fmtVal(data.luyKeTongCapVon) }}
									</td>
									<td>
										{{ Op.fmtVal(data.luyKeTongCong) }}
									</td>
									<td>
										{{ Op.fmtVal(data.tongVonVaDtDaCap) }}
									</td>
									<td>
										{{ Op.fmtVal(data.vonDnghiCapLanNay) }}
									</td>
									<!-- <ng-container *ngIf="this.userService.isCuc(); else khacChiCuc">
										<td *ngIf="status.general" nzRight></td>
									</ng-container>
									<ng-template #khacChiCuc>
										<td *ngIf="status.general" nzRight> -->
									<!-- <i *ngIf="data.maDvi == userInfo?.MA_DVI" class="fa fa-pencil"
												(click)="startEdit(data.id)"></i> -->
									<!-- </td>
									</ng-template> -->
								</ng-container>
								<!-- <ng-template #editTemplate>
									<td nzLeft>
										{{ getIndex(data) }}
									</td>
									<td nzLeft>
										{{ editCache[data.id].data.tenDvi }}
									</td>
									<td>
										{{ Op.fmtVal(editCache[data.id].data.slKeHoach) }}
									</td>
									<td>
										{{ Op.fmtVal(editCache[data.id].data.slThucHien) }}
									</td>
									<td>
										{{ Op.fmtVal(editCache[data.id].data.donGia) }}
									</td>
									<td>
										{{ Op.fmtVal(editCache[data.id].data.gtriThucHien) }}
									</td>
									<td>
										{{ Op.fmtVal(editCache[data.id].data.duToanDaGiao) }}
									</td>
									<td>
										<input class="money-input" currencyMask [options]="amount"
											[(ngModel)]="editCache[data.id].data.luyKeTongCapUng"
											(ngModelChange)="changeModel(data.id)" />
									</td>
									<td>
										<input class="money-input" currencyMask [options]="amount"
											[(ngModel)]="editCache[data.id].data.luyKeTongCapVon"
											(ngModelChange)="changeModel(data.id)" />
									</td>
									<td>
										{{ Op.fmtVal(editCache[data.id].data.luyKeTongCong) }}
									</td>
									<td>
										{{ Op.fmtVal(editCache[data.id].data.tongVonVaDtDaCap) }}
									</td>
									<td>
										{{ Op.fmtVal(editCache[data.id].data.vonDnghiCapLanNay) }}
									</td>
									<td *ngIf="status.general" nzRight>
										<a (click)="saveEdit(data.id)" class="save">Lưu</a>
										<a nz-popconfirm nzPopconfirmTitle="Bạn có chắc muốn hủy thao tác này?"
											(nzOnConfirm)="cancelEdit(data.id)" class="save">
											Hủy
										</a>
									</td>
								</ng-template> -->
							</tr>
						</tbody>
					</nz-table>
				</div>
				<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
					<div nz-col nzSpan="24">
						<label class="search__label">Thuyết minh</label>
						<textarea rows="2" nz-input [(ngModel)]="baoCao.thuyetMinh"
							[disabled]="!status.general"></textarea>
					</div>
				</div>
				<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
					<div nz-col class="gutter-row" [nzSpan]="3">
						Danh sách văn bản đính kèm
						<nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" *ngIf="status.general">
							<button nz-button>
								<i nz-icon nzType="upload"></i>
								Chọn tệp
							</button>
						</nz-upload>
						<button nz-button [nzType]="'primary'" (click)="handleUpload()"
							[disabled]="fileList.length === 0" *ngIf="status.general" style="margin-top: 16px">
							Thêm vào danh sách
						</button>
					</div>
				</div>
				<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 10px">
					<div nz-col class="gutter-row" [nzSpan]="12">
						<nz-table nzBordered class="table__body">
							<thead>
								<tr>
									<th nzWidth="7%">STT</th>
									<th>Tên file</th>
									<th nzWidth="10%"></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of baoCao.lstFiles; let i = index">
									<td>{{ i + 1 }} </td>
									<td>{{ data.fileName }}</td>
									<td>
										<a (click)="downloadFile(data.id)">
											<i class="fa fa-eye"></i>
										</a>
										<a *ngIf="status.general" (click)="deleteFile(data.id)">
											<i class="fa fa-trash-o do"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</nz-table>
					</div>
				</div>
			</nz-card>
		</div>
	</div>
</ng-container>