.dialog-header {
    display: flex;
    padding-top: 24px !important;
    padding-left: 24px !important;

    .mat-dialog-title {
        font-family: "Roboto", Serif, Sans-serif, Cursive, fantasy, Monospace;
        font-weight: 700;
        font-size: 24px;
        color: #34404b;
        padding-right: 24px;
        margin-bottom: 16px;
    }
}

mat-dialog-content {
    margin-top: 0px;
    margin-bottom: 24px !important;

    .subTitle {
        font-family: Arial, Serif, Sans-serif, cursive, fantasy, Monospace;
        font-weight: 600;
        font-style: normal;
        font-size: 14px;
        color: #34404b;
        text-align: left;
        padding-left: 24px !important;
    }

    .firstMessage {
        font-family: Arial, Serif, Sans-serif, cursive, fantasy, Monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #34404b;
        text-align: left;
        margin-top: 8px;
        margin-bottom: 0px;
        padding-left: 24px !important;
        padding-right: 10px;
    }

    .secondMessage {
        font-family: Arial, Serif, Sans-serif, cursive, fantasy, Monospace;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        color: #34404b;
        text-align: left;
        margin-top: 8px;
        margin-bottom: 0px;
        padding-left: 24px !important;
    }
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 48px;
    background: #f4f7f9;
    padding-top: 12px;
    justify-content: center;

    .confirm {
        width: auto;
    }

    .mat-slim {
        margin-right: 8px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        padding: 0 16px;
        height: 24px;
        line-height: 24px;
    }

    .delete {
        border: 1px solid #587cad;
        background-color: #587cad;
        color: #ffffff;
        border-radius: 4px;
        &:hover,
        &:focus {
            background-color: #587cad !important;
        }
    }

    .cancel {
        border: 1px solid #d8dde6;
        background-color: #ffffff !important;
        color: #000;
        border-radius: 4px;
        &:hover,
        &:focus {
            background-color: #ffffff !important;
        }
    }

    .active {
        border: 1px solid #587cad;
        background-color: #587cad;
        color: #ffffff;
        border-radius: 4px;
        &:hover,
        &:focus {
            background-color: #587cad !important;
        }
    }

    .deactive {
        border: 1px solid #587cad;
        background-color: #587cad;
        color: #ffffff;
        border-radius: 4px;
        &:hover,
        &:focus {
            background-color: #587cad !important;
        }
    }
}

@media only screen and (max-width: 420px) {
    .button-group {
        button {
            padding-left: 20px;
            padding-right: 20px;
            white-space: normal;
        }
    }
}

.list-widget {
    font-family: Arial, Serif, Sans-serif, cursive, fantasy, Monospace;
    &__title {
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &__list {
        background: #ffffff;
        border-radius: 6px;
        padding: 40px 30px;
        font-size: 18px;
    }

    &__item {
        display: flex;
        border-bottom: 1px solid #d3d8de;
        margin-bottom: 15px;
        padding-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        .item-label {
            font-weight: 700;
            width: 30%;
            min-width: 360px;
            padding-right: 24px;
        }

        .item-value {
            width: 70%;
            & > a {
                cursor: pointer;
                color: #1dbaa9;
                font-family: Arial, Serif, Sans-serif, cursive, fantasy, Monospace;
                font-style: normal;
                font-weight: normal;
                text-decoration: underline;
            }
        }
    }
}
