<nz-affix [nzOffsetTop]="98" class="level2">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzSelected (click)="selectTab(0)">
      Quyết định phê duyệt hồ sơ mời thầu
    </li>
    <li nz-menu-item (click)="selectTab(1)">
      Thông tin đấu thầu
    </li>
    <li nz-menu-item (click)="selectTab(2)">
      Quyết định phê duyệt kết quả lựa chọn nhà thầu
    </li>
  </ul>
</nz-affix>
<ng-container *ngIf="tabSelected == 0">
  <app-qd-pd-hs-moi-thau [loaiVthh]="typeVthh"></app-qd-pd-hs-moi-thau>
</ng-container>
<ng-container *ngIf="tabSelected == 1">
  <app-thongtin-dauthau [loaiVthh]="typeVthh"></app-thongtin-dauthau>
</ng-container>
<ng-container *ngIf="tabSelected == 2">
  <app-quyetdinh-ketqua-lcnt [loaiVthh]="typeVthh"></app-quyetdinh-ketqua-lcnt>
</ng-container>
