.file-list {
    width: 100%;
}

::ng-deep {
    .thong-tin-bien-ban-giao-nhan {
        .ant-form-item-no-colon {
            margin-bottom: 0px !important;
        }
    }
}

.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}
.blue-text {
  color: #001CFF;
  font-weight: 500;
  font-size: 12px;
}

.bold-700 {
  font-weight: 700;
}
