<nz-affix [nzOffsetTop]='globals.prop.MENU_LV2' class='btn-affix'>
  <div class='btn-group'>
    <button type='button' class='btn btn-sub' (click)='quayLai()'>
      <i class='fa fa-arrow-left'></i>
      <span>Quay lại</span>
    </button>
    <button
      *ngIf="formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU "
      type='button' class='btn btn-sub' (click)='save(true)'>
      <i class='icon htvbdh_chuyenvanthu'></i>
      <span>Ban hành</span>
    </button>
<!--    <button *ngIf='idInput' type='button' class='btn btn-sub do mr-2' (click)='preview(idInput)'>-->
<!--      <i class='icon htvbdh_totrinh'></i>-->
<!--      <span> In/Xem trước </span>-->
<!--    </button>-->
    <button *ngIf='formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU' type='button' class='btn btn-sub xanh'
            (click)='save()'>
      <i class='icon htvbdh_luu'></i>
      <span>Lưu</span>
    </button>
  </div>
</nz-affix>
<div class='bg-trang'>
  <nz-card class='mt16 flex-card p-lr16'>
    <div class='header'>
      <div class='header-text'>
        <div class='title-chi-tieu'>
          <span
            [ngClass]="formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU ? 'du-thao-va-lanh-dao-duyet' : 'da-ban-hanh'">
            {{ formData.value.trangThai == STATUS.DANG_NHAP_DU_LIEU ? 'Đang nhập dữ liệu' : 'Ban Hành' }}
          </span>
          <span>Quyết định của giao kế hoạch và phân bổ dự toán chi tiết của TCDT</span>
        </div>
      </div>
    </div>
    <form nzLayout='vertical' nz-form [formGroup]='formData'>
      <div nz-row [nzGutter]='20'>
        <div nz-col [nzSpan]='3'>
          <nz-form-item class='form-item'>
            <nz-form-label nzRequired [nzNoColon]='true' [nzNoColon]='true' nzFor='nam-qd'>Năm kế hoạch</nz-form-label>
            <nz-form-control [nzErrorTip]='error'>
              <nz-select formControlName='namQd' [nzDisabled]='isView'
                         nzAllowClear>
                <nz-option *ngFor='let p of dsNam' [nzValue]='p.value' [nzLabel]='p.text'>
                </nz-option>
              </nz-select>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]='4'>
          <nz-form-item class='form-item'>
            <nz-form-label nzRequired [nzNoColon]='true' [nzNoColon]='true' nzFor='so-qd'>Số quyết định</nz-form-label>
            <nz-form-control [nzErrorTip]='error'>
              <nz-input-group  id='so-qd'>
                <input nz-input formControlName="soQd" [readOnly]='isView'/>
              </nz-input-group>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]='4'>
          <nz-form-item class='form-item'>
            <nz-form-label nzRequired [nzNoColon]='true' [nzNoColon]='true' nzFor='ngay-qd'>Ngày quyết định
            </nz-form-label>
            <nz-form-control [nzErrorTip]='error'>
              <nz-date-picker [nzDisabled]='isView' formControlName='ngayQd' nzFormat='dd/MM/yyyy'>
              </nz-date-picker>
              <ng-template #error let-control>
                <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]='24'>
          <nz-form-item class='form-item'>
            <nz-form-label [nzNoColon]='true' nzFor='ngay-qd'>Trích yếu</nz-form-label>
            <nz-form-control>
              <textarea rows='3' formControlName='trichYeu' class='search__input' nz-input
                        [readonly]='isView'></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]='24'>
          <nz-form-item class='form-item'>
            <nz-form-label [nzNoColon]='true' class='label-color-kh'> Căn cứ pháp lý</nz-form-label>
            <div class='list-file'>
              <file-list [isCanCuPL]='true' [isViewDetail]='isView' [data]='listCcPhapLy'></file-list>
            </div>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]='24'>
          <nz-form-item class='form-item'>
            <nz-form-label [nzNoColon]='true' class='label-color-kh'> Tài liệu đính kèm
            </nz-form-label>
            <div class='list-file'>
              <file-list [data]='taiLieuDinhKemList' [isViewDetail]='false'></file-list>
            </div>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <nz-tabset nzType='card'>
    <nz-tab [nzTitle]="'Xuất giảm không thu tiền'">
      <app-them-sua-vat-tu-chi-tiet  [isViewDetail]='isView' [(dataVatTu)]='xuatGiamList'>
      </app-them-sua-vat-tu-chi-tiet>
    </nz-tab>

    <nz-tab [nzTitle]="'Xuất bán thu tiền'">
      <app-them-sua-vat-tu-chi-tiet  [isViewDetail]='isView' [(dataVatTu)]='xuatBanList' >
      </app-them-sua-vat-tu-chi-tiet>
    </nz-tab>

    <nz-tab [nzTitle]="'Xuất luân phiên đổi hàng'">
      <app-them-sua-vat-tu-chi-tiet  [isViewDetail]='isView' [(dataVatTu)]='luanPhienList' >
      </app-them-sua-vat-tu-chi-tiet>
    </nz-tab>
  </nz-tabset>
<!--  <form nzLayout='vertical' nz-form [formGroup]='formData'>-->
<!--    <div nz-col [nzSpan]='24'>-->
<!--      <nz-form-item class='form-item'>-->
<!--        <nz-form-label [nzNoColon]='true' nzFor='ngay-qd'>Ghi chú</nz-form-label>-->
<!--        <nz-form-control>-->
<!--          <textarea rows='3' formControlName='ghiChu' class='search__input' nz-input [readonly]='!isView'></textarea>-->
<!--        </nz-form-control>-->
<!--      </nz-form-item>-->
<!--    </div>-->
<!--  </form>-->
</div>
<!--<nz-modal [(nzVisible)]='showDlgPreview' nzTitle='THÔNG TIN QUYẾT ĐỊNH BTC GIAO TCDT' nzWidth='100%'-->
<!--          (nzOnCancel)='closeDlg()'>-->
<!--  <div *nzModalContent class='modal__content'>-->
<!--    <pdf-viewer [src]='pdfSrc' [render-text]='true' style='width: 100%; height: 650px;'></pdf-viewer>-->
<!--  </div>-->
<!--  <div *nzModalFooter>-->
<!--    <button nz-button (click)='printPreview()'-->
<!--            class='modal__button&#45;&#45;save'>-->
<!--      <i class='icon htvbdh_printer'></i>-->
<!--      In-->
<!--    </button>-->
<!--    <button nz-button (click)='downloadPdf()'-->
<!--            class='modal__button&#45;&#45;save'>-->
<!--      <i class='icon htvbdh_file-pdf'></i>-->
<!--      Xuất .pdf-->
<!--    </button>-->
<!--    <button nz-button (click)='downloadWord()'-->
<!--            class='modal__button&#45;&#45;save'>-->
<!--      <i class='icon htvbdh_file-word'></i>-->
<!--      Xuất .docx-->
<!--    </button>-->
<!--    <button nz-button (click)='closeDlg()' class='modal__button&#45;&#45;cancel'>-->
<!--      <i nz-icon nzType='close-circle' nzTheme='fill' class='icon-cancel'></i>-->
<!--      Đóng-->
<!--    </button>-->
<!--  </div>-->
<!--</nz-modal>-->
