<div class="luong-thuc__danh-sach">
  <div class="bg-trang">
    <nz-card class="flex-card p-lr16">
      <form [nzLayout]="'vertical'" [formGroup]="formData" nz-form>
        <div class="search__body mt-2" nz-row [nzGutter]="[18, 12]">
          <div nz-col nzSpan="2">
            <label class="search__label">Năm KH</label>
            <nz-input-group>
              <nz-select formControlName="namKeHoach" nzAllowClear>
                <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
              </nz-select>
            </nz-input-group>
          </div>
          <div nz-col nzSpan="4" *ngIf="userService.isCuc()">
            <label class="search__label">Chi cục</label>
            <nz-input-group>
              <nz-select formControlName="maDvi" nzAllowClear>
                <nz-option *ngFor="let p of danhSachChiCuc" [nzValue]="p.maDvi" [nzLabel]="p.tenDvi">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </div>
          <div nz-col nzSpan="6">
            <label class="search__label">Dự án</label>
            <nz-input-group>
              <input nz-input formControlName="tenDuAn"/>
            </nz-input-group>
          </div>
          <div nz-col nzSpan="4">
            <label class="search__label">Số QĐ PD KH ĐTXD theo năm</label>
            <nz-input-group>
              <input nz-input formControlName="soQuyetDinh"/>
            </nz-input-group>
          </div>
          <div nz-col nzSpan="4">
            <label class="search__label">Ngày ký QĐ PD KH theo năm</label>
            <nz-range-picker nzFormat="yyyy-MM-dd" formControlName="ngayKy"></nz-range-picker>
          </div>
          <div nz-col nzSpan="4">
            <label class="search__label">Trạng thái</label>
            <nz-select formControlName="trangThai">
              <nz-option *ngFor="let p of listTrangThai" [nzValue]="p.ma" [nzLabel]="p.giaTri"></nz-option>
            </nz-select>
          </div>
        </div>
      </form>
      <div class="cangiua group-button-search">
        <button nz-button class="search__button--clear" (click)="clearForm()">
          <i class="icon  htvbdh_nhap-lai1"></i>
          Xóa điều kiện
        </button>
        <button nz-button class="search__button--search" (click)="filter()">
          <i nz-icon nzType="search"></i>
          Tìm kiếm
        </button>
      </div>
    </nz-card>
    <nz-collapse>
      <nz-collapse-panel [nzActive]="true" nzHeader="QUẢN LÝ CÁC DỰ ÁN ĐẦU TƯ XÂY DỰNG KHO TÀNG HÀNG NĂM"
                         class="mg-t-10">
        <nz-card class="flex-card p-lr16">
          <nz-table nzBordered class="pd-10" [nzData]="dataTable"
                    [nzFrontPagination]="false" [nzShowPagination]="false"
                    [nzScroll]="{x: '2500px'}">
            <thead>
            <tr>
              <th class="text-center" width="2%" rowSpan="2">STT</th>
              <th class="text-center" width="8%" rowSpan="2">Khối công trình</th>
              <th class="text-center" width="5%" rowSpan="2">Năm KH</th>
              <th class="text-center" width="8%" rowSpan="2">Chi cục</th>
              <th class="text-center" width="8%" rowSpan="2">Tên dự án</th>
              <th class="text-center" width="7%" rowSpan="2">Địa điểm xây dựng</th>
              <th class="text-center" width="5%" rowSpan="2">Loại dự án</th>
              <th class="text-center" width="7%" rowSpan="2">Thời gian<br/> khởi công - hoàn thành</th>
              <th class="text-center" width="5%" rowSpan="2">Số QĐ phê duyệt<br/> điều chỉnh TMĐT
              </th>
              <th class="text-center" width="5%" rowSpan="2">Số QĐ PH KH<br/>theo năm
              </th>
              <th class="text-center" width="14%" colSpan="2">Tổng mức đầu tư theo QĐ PD/ĐC TMĐT(đ)</th>
              <th class="text-center" width="14%" colSpan="2">TMĐT theo kế hoạch trung hạn giai đoạn 5 năm</th>
              <th class="text-center" width="7%" rowSpan="2">KH vốn đầu tư nguồn <br/> NSNN năm hiện tại(đ)</th>
              <th class="text-center" width="5%" rowSpan="2">Trạng thái</th>
            </tr>
            <tr>
              <th class="text-center">Tổng số (tất cả nv)</th>
              <th class="text-center">Trong đó vốn NSTW</th>
              <th class="text-center">Tổng số (tất cả nv)</th>
              <th class="text-center">Trong đó vốn NSTW</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let data of dataTable , let idx = index">
              <tr class="bg-parent">
                <td [nzExpand]="expandSet.has(data.idVirtual)"
                    (nzExpandChange)="onExpandChange(data.idVirtual, $event)"></td>
                <td class="font-weight-bold">{{data.khoi}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <ng-container *ngIf="expandSet.has(data.idVirtual)">
                <ng-container *ngFor="let item of data.dataChild, let y = index">
                  <tr>
                    <td></td>
                    <td></td>
                    <td class="font-weight-bold bg-parent1" [nzExpand]="expandSet.has(item.idVirtual)"
                        (nzExpandChange)="onExpandChange(item.idVirtual, $event)">
                      {{item.namKeHoach}}
                    </td>
                    <td class="bg-parent1"></td>
                    <td class="bg-parent1"></td>
                    <td class="bg-parent1"></td>
                    <td class="bg-parent1"></td>
                    <td class="bg-parent1"></td>
                    <td class="bg-parent1"></td>
                    <td class="bg-parent1"></td>
                    <td class="bg-parent1"></td>
                    <td class="bg-parent1"></td>
                    <td class="bg-parent1"></td>
                    <td class="bg-parent1"></td>
                    <td class="bg-parent1"></td>
                    <td class="bg-parent1"></td>
                  </tr>
                  <ng-container *ngIf="expandSet.has(item.idVirtual)">
                    <ng-container *ngFor="let itemChiCuc of item.dataChild, let y1 = index">
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="font-weight-bold bg-parent2" [nzExpand]="expandSet.has(itemChiCuc.idVirtual)"
                            (nzExpandChange)="onExpandChange(itemChiCuc.idVirtual, $event)">
                          {{itemChiCuc.tenChiCuc}}
                        </td>
                        <td class="bg-parent2"></td>
                        <td class="bg-parent2"></td>
                        <td class="bg-parent2"></td>
                        <td class="bg-parent2"></td>
                        <td class="bg-parent2"></td>
                        <td class="bg-parent2"></td>
                        <td class="bg-parent2"></td>
                        <td class="bg-parent2"></td>
                        <td class="bg-parent2"></td>
                        <td class="bg-parent2"></td>
                        <td class="bg-parent2"></td>
                        <td class="bg-parent2"></td>
                      </tr>
                      <ng-container *ngIf="expandSet.has(itemChiCuc.idVirtual)">
                        <ng-container *ngFor="let itemDetail of itemChiCuc.dataChild, let y2 = index">
                          <tr style="cursor: pointer" [ngClass]="{'bg-selected': itemDetail.selected}"
                              (click)="selectRow(itemDetail)">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                              {{itemDetail.tenDuAn}}
                            </td>
                            <td>{{itemDetail.diaDiem}}</td>
                            <td>{{itemDetail.loaiDuAn}}</td>
                            <td class="text-center">{{itemDetail.tgKhoiCong}} - {{itemDetail.tgHoanThanh}}</td>
                            <td>{{itemDetail.soQdDcPd}}</td>
                            <td class="text-blue">{{itemDetail.soQdPdKhNam}}</td>
                            <td>{{itemDetail.tmdtDuKien | number : '1.0-1' : 'vi_VN'}}</td>
                            <td>{{itemDetail.nstwDuKien | number : '1.0-1' : 'vi_VN'}}</td>
                            <td>{{itemDetail.ncKhTongSo | number : '1.0-1' : 'vi_VN'}}</td>
                            <td>{{itemDetail.ncKhNstw | number : '1.0-1' : 'vi_VN'}}</td>
                            <td>{{itemDetail.vonDauTu | number : '1.0-1' : 'vi_VN'}}</td>
                            <td>{{itemDetail.tenTrangThai}}</td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
            </tbody>
          </nz-table>
        </nz-card>
      </nz-collapse-panel>
    </nz-collapse>
    <!--    Code tab process-->
    <div class="mt-2" *ngIf="itemSelected">
      <h2>Chi tiết tiến độ dự án: <span style="font-style: italic"> {{itemSelected.tenDuAn}}
        - {{itemSelected.tenChiCuc}}</span></h2>
      <nz-card class="flex-card p-lr16 mt-2">
        <nz-affix [nzOffsetTop]="globals.prop.MENU_LV0" class="level0">
          <ul nz-menu nzMode="horizontal">
            <li nz-menu-item [nzSelected]="tabSelected == '01'" (click)="selectTab('01')"
                *ngIf="userService.isAccessPermisson('QLKT_TDXDSCKT_TDDTXD_QDPDDADTXD')">
              Quyết định phê duyệt dự án ĐTXD
              <img *ngIf="itemQdPdDaDtxd && itemQdPdDaDtxd.trangThai == STATUS.BAN_HANH" class="ml-1"
                   src="../../../../../assets/images/icon_tick_xanh.svg" width="14" height="14"/>
              <img *ngIf="!itemQdPdDaDtxd || itemQdPdDaDtxd.trangThai == STATUS.DU_THAO" class="ml-1"
                   src="../../../../../assets/images/icon_reject.svg" width="14" height="14"/>
            </li>
            <li nz-menu-item
                [ngClass]="{'disabled-tab': !itemQdPdDaDtxd || itemQdPdDaDtxd.trangThai != STATUS.BAN_HANH}"
                [nzSelected]="tabSelected == '02'"
                (click)="selectTab('02')"
                *ngIf="userService.isAccessPermisson('QLKT_TDXDSCKT_TDDTXD_QDPDTKTCTDT')">
              Quyết định phê duyệt bản vẽ TKTC và tổng dự toán
              <img *ngIf="itemQdPdTktcTdt && itemQdPdTktcTdt.trangThai == STATUS.BAN_HANH" class="ml-1"
                   src="../../../../../assets/images/icon_tick_xanh.svg" width="14" height="14"/>
              <img *ngIf="!itemQdPdTktcTdt || itemQdPdTktcTdt.trangThai == STATUS.DU_THAO" class="ml-1"
                   src="../../../../../assets/images/icon_reject.svg" width="14" height="14"/>
            </li>
            <li nz-menu-item
                [ngClass]="{'disabled-tab': !itemQdPdTktcTdt || itemQdPdTktcTdt.trangThai != STATUS.BAN_HANH}"
                [nzSelected]="tabSelected == '03'" (click)="selectTab('03')"
                *ngIf="userService.isAccessPermisson('QLKT_TDXDSCKT_TDDTXD_QDPDKHLCNT')">
              Quyết định phê duyệt KH lựa chọn nhà thầu
              <img *ngIf="!itemQdPdKhLcnt || itemQdPdKhLcnt.trangThai == STATUS.DU_THAO" class="ml-1"
                   src="../../../../../assets/images/icon_reject.svg" width="14" height="14"/>
              <img *ngIf="itemQdPdKhLcnt && itemQdPdKhLcnt.trangThai == STATUS.BAN_HANH" class="ml-1"
                   src="../../../../../assets/images/icon_tick_xanh.svg" width="14" height="14"/>
            </li>
            <li nz-menu-item
                [ngClass]="{'disabled-tab': !itemQdPdKhLcnt || itemQdPdKhLcnt.trangThai != STATUS.BAN_HANH}"
                [nzSelected]="tabSelected == '04'" (click)="selectTab('04')"
                *ngIf="userService.isAccessPermisson('QLKT_TDXDSCKT_TDDTXD_TTDT')">
              Thông tin đấu thầu
              <img
                *ngIf="!itemTtdt || itemTtdt.trangThaiDt == STATUS.CHUA_CAP_NHAT || itemTtdt.trangThaiDt == STATUS.DANG_CAP_NHAT"
                class="ml-1"
                src="../../../../../assets/images/icon_reject.svg" width="14" height="14"/>
              <img *ngIf="itemTtdt && itemTtdt.trangThaiDt == STATUS.HOAN_THANH_CAP_NHAT" class="ml-1"
                   src="../../../../../assets/images/icon_tick_xanh.svg" width="14" height="14"/>
            </li>
            <li nz-menu-item
                [ngClass]="{'disabled-tab': !itemTtdt || itemTtdt.trangThaiDt != STATUS.HOAN_THANH_CAP_NHAT}"
                [nzSelected]="tabSelected == '05'" (click)="selectTab('05')"
                *ngIf="userService.isAccessPermisson('QLKT_TDXDSCKT_TDDTXD_QDPDKQLCNT')">
              Quyết định phê duyệt kết quả lựa chọn nhà thầu
              <img
                *ngIf="!trangThaiQdPdKqLcnt"
                class="ml-1"
                src="../../../../../assets/images/icon_reject.svg" width="14" height="14"/>
              <img *ngIf="trangThaiQdPdKqLcnt" class="ml-1"
                   src="../../../../../assets/images/icon_tick_xanh.svg" width="14" height="14"/>
            </li>
            <li nz-menu-item *ngIf="userService.isAccessPermisson('QLKT_TDXDSCKT_TDDTXD_HD')"
                [ngClass]="{'disabled-tab': !trangThaiQdPdKqLcnt}"
                [nzSelected]="tabSelected == '06'" (click)="selectTab('06')">
              Hợp đồng và PL hợp đồng
              <img *ngIf="!trangThaiHopDong" class="ml-1"
                   src="../../../../../assets/images/icon_reject.svg" width="14" height="14"/>
              <img *ngIf="trangThaiHopDong" class="ml-1"
                   src="../../../../../assets/images/icon_tick_xanh.svg" width="14" height="14"/>
            </li>
            <li nz-menu-item *ngIf="userService.isAccessPermisson('QLKT_TDXDSCKT_TDDTXD_TDCV')"
                [ngClass]="{'disabled-tab': !trangThaiHopDong}"
                [nzSelected]="tabSelected == '07'" (click)="selectTab('07')">
              Tiến độ công việc
              <img *ngIf="!trangThaiTienDoCv" class="ml-1"
                   src="../../../../../assets/images/icon_reject.svg" width="14" height="14"/>
              <img *ngIf="trangThaiTienDoCv" class="ml-1"
                   src="../../../../../assets/images/icon_tick_xanh.svg" width="14" height="14"/>
            </li>
            <li nz-menu-item *ngIf="userService.isAccessPermisson('QLKT_TDXDSCKT_TDDTXD_BBNT')"
                [nzSelected]="tabSelected == '08'" (click)="selectTab('08')"
                [ngClass]="{'disabled-tab': !trangThaiTienDoCv}"
            >
              Biên bản nghiệm thu
              <img *ngIf="!trangThaiBb" class="ml-1"
                   src="../../../../../assets/images/icon_reject.svg" width="14" height="14"/>
              <img *ngIf="trangThaiBb" class="ml-1"
                   src="../../../../../assets/images/icon_tick_xanh.svg" width="14" height="14"/>
            </li>
          </ul>
        </nz-affix>
        <ng-container *ngIf="tabSelected == '01'">
          <app-quyet-dinh-phe-duyet-du-an-dtxd [itemDuAn]="itemSelected"
                                               (dataItemDaDtxd)="receivedData($event,'01')"
                                               [itemQdPdDaDtxd]="itemQdPdDaDtxd"></app-quyet-dinh-phe-duyet-du-an-dtxd>
        </ng-container>
        <ng-container *ngIf="tabSelected == '02'">
          <app-quyet-dinh-phe-duyet-tktc-tdt [itemDuAn]="itemSelected" [itemQdPdTktcTdt]="itemQdPdTktcTdt"
                                             (dataItemTktcTdt)="receivedData($event,'02')"
                                             [itemQdPdDaDtxd]="itemQdPdDaDtxd"></app-quyet-dinh-phe-duyet-tktc-tdt>
        </ng-container>
        <ng-container *ngIf="tabSelected == '03'">
          <app-quyet-dinh-phe-duyet-khlcnt [itemDuAn]="itemSelected" (dataItemKhLcnt)="receivedData($event,'03')"
                                           [itemQdPdTktcTdt]="itemQdPdTktcTdt"
                                           [itemQdPdKhLcnt]="itemQdPdKhLcnt"></app-quyet-dinh-phe-duyet-khlcnt>
        </ng-container>
        <ng-container *ngIf="tabSelected == '04'">
          <app-cap-nhat-thong-tin-dau-thau [idInput]="itemQdPdKhLcnt.id" [itemDuAn]="itemSelected"
                                           (dataItemTtdt)="receivedData($event,'04')"
                                           [itemQdPdDaDtxd]="itemQdPdDaDtxd"></app-cap-nhat-thong-tin-dau-thau>
        </ng-container>
        <ng-container *ngIf="tabSelected == '05'">
          <app-quyet-dinh-phe-duyet-kqlcnt [itemTtdt]="itemTtdt"
                                           [itemDuAn]="itemSelected"></app-quyet-dinh-phe-duyet-kqlcnt>
        </ng-container>
        <ng-container *ngIf="tabSelected == '06'">
          <app-hop-dong [itemQdPdDaDtxd]="itemQdPdDaDtxd" [itemTtdt]="itemTtdt" [itemDuAn]="itemSelected"
                        [itemQdPdKhLcnt]="itemQdPdKhLcnt"></app-hop-dong>
        </ng-container>
        <ng-container *ngIf="tabSelected == '07'">
          <app-tien-do-cong-viec [itemQdPdKhLcnt]="itemQdPdKhLcnt" [itemQdPdTktcTdt]="itemQdPdTktcTdt"   [itemQdPdDaDtxd]="itemQdPdDaDtxd"></app-tien-do-cong-viec>
        </ng-container>
        <ng-container *ngIf="tabSelected == '08'">
          <app-bien-ban-nghiem-thu  [itemQdPdKhLcnt]="itemQdPdKhLcnt" [itemDuAn]="itemSelected"></app-bien-ban-nghiem-thu>
        </ng-container>
      </nz-card>
    </div>
  </div>
</div>
