<nz-card class="mg-t-16 flex-card p-lr16">
  <div class="header header-green-background mg-t-16">
    <div class="header-text">
      <div class="title-chi-tieu">
        <span [ngClass]="formData.value.trangThai == STATUS.BAN_HANH ? 'status-xanh' : 'status-do'">
        {{ formData.value.tenTrangThai }}</span>
        <span>báo cáo kế hoạch tổng hợp nhập, xuất hàng dự trữ quốc gia</span>
      </div>
    </div>
    <nz-affix [nzOffsetTop]="globals.prop.MENU_LV2" class="btn-affix">
      <div class="btn-group">
        <button type="button" class="btn btn-sub" (click)="quayLai()">
          <i class="fa fa-arrow-left"></i>
          <span>Quay lại</span>
        </button>
        <ng-container>
          <button *ngIf="formData.value.trangThai == STATUS.DU_THAO
          && userService.isAccessPermisson('BCBN_LAPBAOCAO_TT145_KHTHNXHDTQG_DUYET')" type="button"
            class="btn btn-sub xanh-nhat" (click)="save(true)">
            <i class="icon htvbdh_checkfile2"></i>
            <span>Ban hành</span>
          </button>
          <button *ngIf="formData.value.trangThai != STATUS.BAN_HANH && !isView
          && userService.isAccessPermisson('BCBN_LAPBAOCAO_TT145_KHTHNXHDTQG_LAP')"
                  type="button" class="btn btn-main" (click)="save()">
            <i class="icon htvbdh_tcdt_save"></i>
            <span>Lưu</span>
          </button>
        </ng-container>
      </div>
    </nz-affix>
  </div>
  <nz-card class="mg-t-16 flex-card p-lr16">
  <form nzLayout="vertical" nz-form [formGroup]="formData">
    <div class="header header-green-background mg-t-16">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span></span>
          <span>Thông tin chung</span>
        </div>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true"> Thông tư số </nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input nz-input readonly formControlName="thongTuSo" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true"> Biểu số </nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input nz-input readonly formControlName="tenBieuSo" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div *ngIf="!userService.isTongCuc()" nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true"> Đơn vị gửi báo cáo </nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input nz-input readonly formControlName="tenDviGui" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div *ngIf="userService.isTongCuc()" nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true" class="label-color-kh"> Đơn vị gửi báo cáo
          </nz-form-label>
          <nz-select formControlName="dviGui" (ngModelChange)="handleChoose($event)" [nzDisabled]="isView">
            <nz-option *ngFor="let p of listDsDvi" [nzValue]="p.maDvi" [nzLabel]="p.tenDvi"></nz-option>
          </nz-select>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true"> Đơn vị nhận báo cáo </nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input nz-input readonly formControlName="dviNhan" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label nzRequired [nzNoColon]="true"> Thời gian tạo </nz-form-label>
          <nz-form-control nz-col [nzSpan]="24" [nzErrorTip]="error">
            <nz-date-picker nzDisabled formControlName="tgianTao" nzFormat="dd/MM/yyyy">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  </nz-card>
  <nz-card class="mg-t-16 flex-card p-lr16">
    <div class="header header-green-background mg-t-16">
      <div class="header-text">
        <div class="title-chi-tieu">
          <span></span>
          <span>Danh sách nhập, xuất hàng dự trữ quốc gia</span>
        </div>
      </div>
    </div>
    <div class="buttons d-flex justify-content-end">
      <button
        type="button" class="btn btn-sub xanh-nhat" (click)="downloadTemplate(templateName)">
        <i class="icon htvbdh_download2"></i>
        <span>Tải biểu mẫu import dữ liệu</span>
      </button>
      <input type="file" class="input-file-custom" id="importFile" (change)="handleSelectFile($event)">
      <label class="label-file-custom btn btn-main" #labelImport for="importFile"><i class="icon htvbdh_upload1"></i>  Import dữ liệu</label>
    </div>
    <div class='mt-2'>
        <span class='text-right'>
          <h2 style='font-size: 100%;'>Đơn vị: Triệu đồng</h2>
        </span>
    </div>
    <nz-card class="mg-t-16 flex-card p-lr16 table-card">
      <nz-table nzBordered class="nowrap" [nzData]="listDataDetail" [nzFrontPagination]="false"
        [nzShowPagination]="false">
        <thead>
          <tr>
            <th rowspan="4">STT</th>
            <th rowspan="4">Tên hàng, quy cách</th>
            <th rowspan="4">ĐVT</th>
            <th rowspan="4">Mức dự trữ Chính phủ duyệt</th>
            <th colspan="2">Ước tồn kho đến <br> 31/12 năm báo cáo</th>
            <th colspan="6">Nhập</th>
            <th colspan="6">Xuất</th>
            <th colspan="2">Tồn kho đến <br> 31/12 năm kế hoạch</th>
            <th rowspan="4">Hành động</th>
          </tr>
          <tr>
            <th rowspan="3" style="
            padding: 40px 40px 40px 40px;
        ">Số lượng</th>
            <th rowspan="3" style="
            padding: 40px 40px 40px 40px;
        ">Thành tiền</th>
            <th rowspan="2" colspan="2">Tổng số</th>
            <th colspan="4">Trong đó</th>
            <th rowspan="2" colspan="2">Tổng số</th>
            <th colspan="4">Trong đó</th>

            <th rowspan="3" style=" padding: 40px 40px 40px 40px; ">Số lượng</th>
            <th rowspan="3" style="
            padding: 40px 40px 40px 40px;
        ">Thành tiền</th>
          </tr>
          <tr>
            <th colspan="2">Tăng</th>
            <th colspan="2">Luân phiên <br> đổi hàng</th>

            <th colspan="2">Giảm, bán</th>
            <th colspan="2">Luân phiên <br> đổi hàng</th>
          </tr>
          <tr>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
          </tr>
          <tr>
            <th class="colNumber">1</th>
            <th class="colNumber">2</th>
            <th class="colNumber">3</th>
            <th class="colNumber">4</th>
            <th class="colNumber">5</th>
            <th class="colNumber">6</th>
            <th class="colNumber">7</th>
            <th class="colNumber">8</th>
            <th class="colNumber">9</th>
            <th class="colNumber">10</th>
            <th class="colNumber">11</th>
            <th class="colNumber">12</th>
            <th class="colNumber">13</th>
            <th class="colNumber">14</th>
            <th class="colNumber">15</th>
            <th class="colNumber">16</th>
            <th class="colNumber">17</th>
            <th class="colNumber">18</th>
            <th class="colNumber">19</th>
            <th class="colNumber">20</th>
            <th class="colNumber"></th>
          </tr>
          <tr>
            <th></th>
            <th>
              <nz-input-group nzSize="large" [nzSuffix]="suffixIcon" class="search__input autocomplete__input">
                <input nz-input [(ngModel)]="itemRow.tenHang" (input)="onInputDonVi($event)"
                       [nzAutocomplete]="auto" />
              </nz-input-group>
              <ng-template #suffixIcon>
                <i nz-icon nzType="search"></i>
              </ng-template>
              <nz-autocomplete #auto>
                <nz-auto-option *ngFor="let p of optionsCloaiVthh" [nzValue]="p.maHangHoa"
                                (click)="selectDonVi(p)">
                  {{ p.tenHangHoa }}
                </nz-auto-option>
              </nz-autocomplete>
            </th>
            <th>{{itemRow.dvt}}</th>
            <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRow.mucDuTruCpDuyet"/></th>
            <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRow.tonKhoNamBcSl"/></th>
            <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRow.tonKhoNamBcTt"/></th>
            <th>{{(itemRow.nhapTSl + itemRow.nhapLpSl) ? (itemRow.nhapTSl + itemRow.nhapLpSl) : 0}}</th>
            <th>{{(itemRow.nhapTTt + itemRow.nhapLpTt) ? (itemRow.nhapTTt + itemRow.nhapLpTt) : 0}}</th>
            <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRow.nhapTSl"/></th>
            <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRow.nhapTTt"/></th>
            <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRow.nhapLpSl"/></th>
            <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRow.nhapLpTt"/></th>
            <th>{{(itemRow.xuatTSl + itemRow.xuatLpSl) ? (itemRow.xuatTSl + itemRow.xuatLpSl) : 0}}</th>
            <th>{{(itemRow.xuatTTt + itemRow.xuatLpTt) ? (itemRow.xuatTTt + itemRow.xuatLpTt) : 0}}</th>
            <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRow.xuatTSl"/></th>
            <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRow.xuatTTt"/></th>
            <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRow.xuatLpSl"/></th>
            <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRow.xuatLpTt"/></th>
            <th>{{((itemRow.tonKhoNamBcSl + itemRow.nhapTSl + itemRow.nhapLpSl) - (itemRow.xuatTSl + itemRow.xuatLpSl)) ? (itemRow.tonKhoNamBcSl + itemRow.nhapTSl + itemRow.nhapLpSl) - (itemRow.xuatTSl + itemRow.xuatLpSl) : 0}}</th>
            <th>{{((itemRow.tonKhoNamBcTt + itemRow.nhapTTt + itemRow.nhapLpTt) - (itemRow.xuatTTt + itemRow.xuatLpTt)) ? (itemRow.tonKhoNamBcTt + itemRow.nhapTTt + itemRow.nhapLpTt) - (itemRow.xuatTTt + itemRow.xuatLpTt) : 0}}</th>
            <th>
              <a *ngIf="!isView" (click)="addRow()" [class.disabled]="!itemRow">
                <i class="fa fa-plus"></i>
              </a>
              <a *ngIf="!isView" (click)="clearItemRow()">
                <i class="icon  htvbdh_nhap-lai1"></i>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listDataDetail, let i = index">
            <ng-container *ngIf="!data.edit; else editTemplate">
              <td class="text-center">{{i+1}}</td>
              <td>{{ data.tenHang }}</td>
              <td>{{ data.dvt }}</td>
              <td>{{ data.mucDuTruCpDuyet | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.tonKhoNamBcSl | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.tonKhoNamBcTt | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.nhapTsSl | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.nhapTsTt | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.nhapTSl | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.nhapTTt | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.nhapLpSl | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.nhapLpTt | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.xuatTsSl | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.xuatTsTt | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.xuatTSl | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.xuatTTt | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.xuatLpSl | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.xuatLpTt | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.tonKhoNamKhSl | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-right">{{ data.tonKhoNamKhTt | number : '1.3-3' : 'vi_VN' }}</td>
              <td class="text-center">
                <a *ngIf="!isView" (click)="startEdit(i)">
                  <i class=" fa fa-pencil"></i>
                </a>
                <a *ngIf="!isView" (click)="deleteRow(i)">
                  <i class="fa fa-trash-o do" title="Xóa bản ghi"></i>
                </a>
              </td>
            </ng-container>
            <ng-template #editTemplate>
              <td class="text-center">{{i+1}}</td>
              <th>
                <nz-input-group nzSize="large" [nzSuffix]="suffixIcon" class="search__input autocomplete__input">
                  <input nz-input [(ngModel)]="itemRowUpdate.tenHang" (input)="onInputDonVi($event)"
                         [nzAutocomplete]="auto" />
                </nz-input-group>
                <ng-template #suffixIcon>
                  <i nz-icon nzType="search"></i>
                </ng-template>
                <nz-autocomplete #auto>
                  <nz-auto-option *ngFor="let p of optionsCloaiVthh" [nzValue]="p.maHangHoa"
                                  (click)="selectCloaiVthhUpdate(p)">
                    {{ p.tenHangHoa }}
                  </nz-auto-option>
                </nz-autocomplete>
              </th>
              <th>{{itemRowUpdate.dvt}}</th>
              <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRowUpdate.mucDuTruCpDuyet"/></th>
              <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRowUpdate.tonKhoNamBcSl"/></th>
              <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRowUpdate.tonKhoNamBcTt"/></th>
              <th>{{(itemRowUpdate.nhapTSl + itemRowUpdate.nhapLpSl) ? (itemRowUpdate.nhapTSl + itemRowUpdate.nhapLpSl) : 0}}</th>
              <th>{{(itemRowUpdate.nhapTTt + itemRowUpdate.nhapLpTt) ? (itemRowUpdate.nhapTTt + itemRowUpdate.nhapLpTt) : 0}}</th>
              <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRowUpdate.nhapTSl"/></th>
              <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRowUpdate.nhapTTt"/></th>
              <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRowUpdate.nhapLpSl"/></th>
              <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRowUpdate.nhapLpTt"/></th>
              <th>{{(itemRowUpdate.xuatTSl + itemRowUpdate.xuatLpSl) ? (itemRowUpdate.xuatTSl + itemRowUpdate.xuatLpSl) : 0}}</th>
              <th>{{(itemRowUpdate.xuatTTt + itemRowUpdate.xuatLpTt) ? (itemRowUpdate.xuatTTt + itemRowUpdate.xuatLpTt) : 0}}</th>
              <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRowUpdate.xuatTSl"/></th>
              <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRowUpdate.xuatTTt"/></th>
              <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRowUpdate.xuatLpSl"/></th>
              <th><input class="money-input" currencyMask [options]="amount" [min]="0" [(ngModel)]="itemRowUpdate.xuatLpTt"/></th>
              <th>{{((itemRowUpdate.tonKhoNamBcSl + itemRowUpdate.nhapTSl + itemRowUpdate.nhapLpSl) - (itemRowUpdate.xuatTSl + itemRowUpdate.xuatLpSl)) ? (itemRowUpdate.tonKhoNamBcSl + itemRowUpdate.nhapTSl + itemRowUpdate.nhapLpSl) - (itemRowUpdate.xuatTSl + itemRowUpdate.xuatLpSl) : 0}}</th>
              <th>{{((itemRowUpdate.tonKhoNamBcTt + itemRowUpdate.nhapTTt + itemRowUpdate.nhapLpTt) - (itemRowUpdate.xuatTTt + itemRowUpdate.xuatLpTt)) ? (itemRowUpdate.tonKhoNamBcTt + itemRowUpdate.nhapTTt + itemRowUpdate.nhapLpTt) - (itemRowUpdate.xuatTTt + itemRowUpdate.xuatLpTt) : 0}}</th>
              <td class="text-center">
                <a (click)="saveEdit(itemRowUpdate,i)" class="save">
                  <i class="icon htvbdh_tcdt_save"></i>
                </a>
                <a (click)="cancelEdit(i)">
                  <i class="fa fa-ban do"></i>
                </a>
              </td>
            </ng-template>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td class=" text-blue">Cộng</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-blue" style="text-align: right;">{{sumSl('tonKhoNamBcTt', null,
              'tong') |
              number:
              '1.3-3' : 'vi_VN'}}</td>
            <td></td>
            <td class="text-blue" style="text-align: right;">{{sumSl('nhapTsTt', null,
              'tong') |
              number: '1.3-3' : 'vi_VN'}}</td>
            <td></td>
            <td class="text-blue" style="text-align: right;">{{sumSl('nhapTTt', null,
              'tong') |
              number: '1.3-3' : 'vi_VN'}}
            </td>
            <td></td>
            <td class="text-blue" style="text-align: right;">{{sumSl('nhapLpTt', null,
              'tong') |
              number: '1.3-3' : 'vi_VN'}}
            </td>
            <td></td>
            <td class="text-blue" style="text-align: right;">{{sumSl('xuatTsTt', null,
              'tong') |
              number: '1.3-3' : 'vi_VN'}}
            </td>
            <td></td>
            <td class="text-blue" style="text-align: right;">{{sumSl('xuatTTt', null,
              'tong') |
              number: '1.3-3' : 'vi_VN'}}
            </td>
            <td></td>
            <td class="text-blue" style="text-align: right;">{{sumSl('xuatLpTt', null,
              'tong') |
              number: '1.3-3' : 'vi_VN'}}
            </td>
            <td></td>
            <td class="text-blue" style="text-align: right;">{{sumSl('tonKhoNamKhTt', null,
              'tong') |
              number: '1.3-3' : 'vi_VN'}}
            </td>
            <td></td>
          </tr>
        </tfoot>
      </nz-table>
    </nz-card>
  </nz-card>
</nz-card>
<ng-template #error let-control>
  <ng-container *ngIf="control.hasError('required')">{{globals.prop.REQUIRED}}</ng-container>
</ng-template>
