.action-top {
  padding-right: 50px;
}

::ng-deep {
  .chi-tieu__body {
    .flex-card.ant-card {
      border: 1px solid #ececec !important;
      background: transparent;
      box-shadow: unset;
      margin-bottom: 0px !important;
      margin-top: 11px !important;
      border-radius: 6px;
    }

    .tab__container {
      position: relative;
      margin-top: 12px;
    }


    .action {
      position: absolute;
      right: 25px;
      top: 0;
    }
  }

}

.table__body {
  margin: 12px 0px 0px 0px !important;
  overflow: scroll;
}

.save {
  margin-right: 8px;
}

.tep {
  cursor: pointer;
  //position: absolute;
  top: 4px;
  height: 20px;
  left: 695px;
  color: #2196f3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    margin-left: 5px;
  }
}

.tep__sqd {
  cursor: pointer;
  // position: absolute;
  top: 4px;
  height: 15px;
  left: 695px;
  color: #2196f3;

  span {
    margin-left: 5px;
  }
}

.ant-input-number {
  min-width: 100px !important;
}