.big-btn-them {
  box-sizing: border-box;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  /* Text/bg-th */
  background: #F8F9FA;
  /* placeholder */
  border: 1px solid #BDBDBD;
  border-radius: 3px;
}

.btn-text-them {
  margin: auto;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  color: #828282;
  flex: none;
  order: 1;
  flex-grow: 0;
}
