<div class="luong-thuc__danh-sach">
  <div class="bg-trang">
    <h3 class="text-uppercase">Báo cáo chi tiết nhập, xuất, tồn kho hàng dự trữ quốc gia</h3>
    <nz-card class="mt16 flex-card p-lr16">
      <form nzLayout="vertical" nz-form [formGroup]="formData">
        <ng-template #error let-control>
          <app-template-error #error [control]="control"></app-template-error>
        </ng-template>
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="3">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true" class="label-color-kh"> Năm
              </nz-form-label>
              <nz-select formControlName="nam" (ngModelChange)="changeNam($event)">
                <nz-option *ngFor="let p of listNam" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
              </nz-select>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="4">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true" class="label-color-kh"> Loại báo cáo
              </nz-form-label>
              <nz-select formControlName="loaiBaoCao" (ngModelChange)="changeLoaiBc()">
                <nz-option *ngFor="let p of listLoaiBc" [nzValue]="p.value" [nzLabel]="p.text"></nz-option>
              </nz-select>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="4" *ngIf="formData.value.loaiBaoCao && formData.value.loaiBaoCao == 2 ">
            <nz-form-item>
              <nz-form-label [nzNoColon]="true" class="label-color-kh"> Kỳ báo cáo
              </nz-form-label>
              <nz-select formControlName="kyBc">
                <nz-option *ngFor="let p of listQuy" [nzValue]="p.ma" [nzLabel]="p.giaTri"></nz-option>
              </nz-select>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="10" *ngIf="userService.isTongCuc()">
            <nz-form-item>
              <nz-form-label>Cục DTNN</nz-form-label>
              <nz-form-control nz-col [nzErrorTip]="error" >
                <nz-select formControlName="listMaCuc" nzAllowClear nzMode="multiple">
                  <nz-option *ngFor="let p of dsDonVi" [nzLabel]="p.tenDvi" [nzValue]="p.maDvi"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="10" *ngIf="!userService.isTongCuc() || userService.isCuc()">
            <nz-form-item>
              <nz-form-label>Chi Cục DTNN</nz-form-label>
              <nz-form-control nz-col [nzErrorTip]="error">
                <nz-select formControlName="listMaChiCuc" nzAllowClear nzMode="multiple">
                  <nz-option *ngFor="let p of listChiCuc" [nzLabel]="p.tenDvi" [nzValue]="p.maDvi"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </nz-card>
    <div class="cangiua group-button-search">
      <button nz-button class="search__button--clear" (click)="clearFilter()">
        <i class="icon  htvbdh_nhap-lai1"></i>
        Xóa điều kiện
      </button>
      <button nz-button (click)="preView()"
              class="modal__button--save ml-2"
              *ngIf="userService.isAccessPermisson('KTBC_TTQD_TT08_CTNXTHDTQG')">
        <i class="icon htvbdh_chuyen-xu-ly"></i>
        Kết xuất báo cáo
      </button>
    </div>
  </div>
</div>

<!--popup preview-->
<nz-modal [(nzVisible)]="showDlgPreview" nzTitle="Báo cáo" nzWidth="100%">
  <div *nzModalContent class="modal__content">
    <pdf-viewer [src]="pdfSrc" [original-size]="false" [render-text]="true" style="width: 100%; height: 600px;">
    </pdf-viewer>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="downloadPdf()" class="modal__button--save">
      <i class="icon htvbdh_tcdt_tuchoi"></i>
      Tải báo cáo
    </button>
    <button nz-button (click)="closeDlg()" class="modal__button--cancel">
      <i nz-icon nzType="close-circle" nzTheme="fill" class="icon-cancel"></i>
      Đóng
    </button>
  </div>
</nz-modal>
