.ghi-chu {
    padding: 10px;
}

// .thong-tin-phieu-nhap-kho-tam-gui {
//     .main-content {
//         height: calc(100vh - 285px) !important;
//     }
// }

.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}