::ng-deep {
  .hh__container {
    .ant-card-body {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }
  }
  .tab__luong-thuc {
    position: relative;
    .btn-them {
      position: absolute;
      top: 4px;
      right: 12px;
    }
    .btn-export {
      position: absolute;
      top: 0;
      right: 60px;
    }
    .btn-in {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
